<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale";
  import Loading from "../../Loading.svelte";
  import SaleCardItem from "./SaleCardItem.svelte";
  import { navigate } from "svelte-routing";

  import enterprise_customization from "../../../../enterprise_customization";
  const { mandateCompulsory } = enterprise_customization;

  let handle;
  let isLoading = true;

  onMount(async () => {
    if (mandateCompulsory) {
      handle = Meteor.subscribe(
        "visible_for_sale_assets_limitDate_mandateCompulsory"
      );
    } else {
      handle = Meteor.subscribe("visible_for_sale_assets_limitDate", {
        months: 12,
      });
    }

    Meteor.subscribe("thisuser");
  });

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }
    return favorites.find((element) => element.assetId == value);
  }

  let items;

  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      items = Assets_sale.find({}, {}).fetch();
      // sort: { modifiedAt: -1 } does not work because different format
      // Problem because we have 2 different date format
      //"2023-08-27T11:11:32.069Z" //Sun Aug 27 2023 13:11:32 GMT+0200 (Central European Summer Time)
      //"2024-03-13T06:45:26.198Z"
      items = items.sort((a, b) => {
        return new Date(b.modifiedAt) - new Date(a.modifiedAt); // Sort in ascending order (earliest to latest)
      });

      // console.log({ items });
    }
  }
</script>

{#if isLoading}
  <Loading />
{:else if items?.length > 0}
  <div class="w-full bg-slate-50">
    <div class="container px-10 pt-5 mx-auto p sm:px-0">
      <h4 class="mt-5 mb-5 text-2xl font-semibold text-center">
        Nos dernières annonces de vente
      </h4>

      <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-3 sm:grid-cols-2">
        {#each items as item}
          <SaleCardItem {item} />
        {/each}
      </div>
    </div>
  </div>
{/if}
