<script>
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency, displayDate, displayName } = enterprise_customization;
  const { formatNumber, lowres } = require("../../../commonFunctions.ts");

  import dayjs from "dayjs";
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);
  require("dayjs/locale/fr"); // import 'dayjs/locale/fr' // ES 2015
  dayjs.locale("fr");

  export let item;

  let agent;

  $m: {
    if (item.userId) {
      Meteor.subscribe("user", item.userId);
      agent = Meteor.users.findOne(item.userId);
    }
  }

  const formatTitle = (title) => {
    let result = title.replaceAll("m2", "m²");
    return result;
  };

  const formatDate = (date) => {
    let result = dayjs(date).fromNow();

    if (result.includes("NaN")) {
      return date;
    }
    return result;
  };

  const formatDescription = (description) => {
    if (!description) return;

    //Everything that is after http
    const regex = new RegExp(/http\S*/);
    let result = description.replace(regex, "");
    result = result.replace("Plus de détails/photos :", "");
    // result = result.substring(0, 240).replaceAll("m2", "m²");
    result = result.replaceAll("m2", "m²");

    return result;
  };
</script>

{#if item}
  <div
    class="relative w-full mx-auto overflow-hidden bg-white shadow group rounded-xl hover:shadow-2xl"
  >
    {#if item.images?.[0]?.url}
      <a href="/for-sale/{item.slug ? item.slug : item._id}">
        <div
          class="relative h-72"
          style="background: url({lowres({
            url: item.images[0].url,
          })}) center center/cover no-repeat;"
        />
      </a>
    {/if}

    <div class="absolute top-0 pt-3 pl-3">
      {#if item.isSold}
        <span
          class="mb-1 text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
        >
          Vendu
        </span>
      {:else if item.tags}
        <div class="flex flex-wrap">
          {#each item.tags || [] as tag}
            {#if tag == "Baisse de prix"}
              <span
                class="bg-orange-300 text-gray-800 text-sm mr-2 px-2.5 py-1 rounded-lg mb-1"
              >
                <i class="fa-solid fa-arrow-down" />
                {tag}
              </span>
            {:else if tag == "Exclusivité"}
              <span
                class="bg-yellow-300 text-gray-800 text-sm mr-2 px-2.5 py-1 rounded-lg mb-1"
              >
                <i class="fa-regular fa-star" />

                {tag}
              </span>
            {:else if tag == "Sous compromis"}
              <span
                class="bg-red-300 text-gray-800 text-sm mr-2 px-2.5 py-1 rounded-lg mb-1"
              >
                <i class="fa-solid fa-tag" />
                {tag}
              </span>
            {:else if tag == "Sous offre"}
              <span
                class="bg-red-300 text-gray-800 text-sm mr-2 px-2.5 py-1 rounded-lg mb-1"
              >
                <i class="fa-solid fa-tag" />
                {tag}
              </span>
            {:else}
              <span class="mb-1 badge">
                <i class="fa-solid fa-tag" />
                {tag}
              </span>
            {/if}
          {/each}
        </div>
      {/if}
    </div>

    <div class="px-5 pt-3 pb-3">
      <div class="flex justify-between">
        <h4 class="mb-1 text-lg text-blue-400 uppercase">À Vendre</h4>
        {#if displayDate == true}
          {formatDate(item.modifiedAt || item.createdAt)}
        {/if}
      </div>

      <h3 class="mb-2 font-bold truncate">
        <a
          class="text-gray-700 hover:text-[var(--main-color)]"
          href="/for-sale/{item.slug ? item.slug : item._id}"
        >
          {formatTitle(item?.title)}
        </a>
      </h3>

      <div class="flex items-center justify-between">
        <div class="font-bold">
          {#if item?.saleprice?.fees_included}
            {formatNumber(item.saleprice.fees_included)} {currency}
          {:else}
            Prix sur demande
          {/if}
        </div>

        <!-- Agent -->
        {#if displayName == true}
          {#if agent?.isVisible}
            <a href="/conseiller-immobilier/{agent.username || agent._id}">
              <div class="flex">
                <div>
                  {#if agent?.contact?.picture}
                    <img
                      loading="lazy"
                      src={lowres({ url: agent.contact.picture, size: "60" })}
                      alt=""
                      class="rounded h-9"
                    />
                  {/if}
                </div>

                <div class="my-auto text-sm text-slate-600">
                  {agent.contact?.firstname || ""}
                  {agent.contact?.surname || ""}
                  <!-- {agent.enterprise || ""} -->
                </div>
              </div>
            </a>
          {/if}
        {/if}
      </div>

      <p class="mb-2 text-sm text-justify line-clamp-3">
        {formatDescription(item.description) || "Aucune description"}
      </p>
    </div>

    {#if item?.livingArea || item?.landSurface || item?.roomsNumber}
      <div
        class="flex items-center justify-center pt-3 pb-3 mx-3 overflow-x-scroll bg-white text-nowrap"
      >
        {#if item?.livingArea}
          <span class="px-2 mx-1 text-sm">
            <i class="text-gray-400 fa-solid fa-arrows-up-down-left-right" />
            {item.livingArea.toLocaleString()} m²
          </span>
        {/if}

        {#if item?.landSurface}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            <i class="text-gray-400 fa-solid fa-expand" />
            {item.landSurface.toLocaleString()} m²
          </span>
        {/if}

        {#if item.roomsNumber?.bedrooms}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.bedrooms}
            <i class="text-gray-400 fa-solid fa-bed" />
          </span>
        {/if}

        {#if item.roomsNumber?.kitchens}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.kitchens}
            <i class="text-gray-400 fa-solid fa-sink" />
          </span>
        {/if}

        {#if item?.roomsNumber?.bathrooms}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.bathrooms}
            <i class="text-gray-400 fa-solid fa-bath" />
          </span>
        {/if}
        {#if item?.roomsNumber?.parkingslot}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.parkingslot}
            <i class="text-gray-400 fa-solid fa-car" />
          </span>
        {/if}
      </div>
    {/if}
  </div>
{/if}
