<script>
  import { onMount } from "svelte";
  // import dayjs from "dayjs";
  // import Loading from "../../../Loading.svelte";
  import { Searches } from "../../../../api/searches.js";
  // import { navigate } from "svelte-routing";

  import SearchesItem from "./SearchesItem.svelte";

  import {
    saved_notification,
    error_notification,
  } from "../../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("searchesAdmin");
    // All
    // Meteor.subscribe("searches");
  });

  let items;

  $m: {
    items = Searches.find({}, { sort: { createdAt: -1 } }).fetch();
  }

  async function add() {
    await Meteor.callAsync("searches.insert.admin");
    saved_notification();
    // navigate("/pro/databases/contact/" + res, {
    //   replace: true,
    // });
  }
</script>

<div class="text=xl">Recherche de bien</div>

<button class="btn btn--light" on:click={add}>
  <i class="fa-solid fa-plus"></i>
  Ajouter une recherche
</button>

{#each items || [] as item}
  <SearchesItem {item} id={item._id} />
{/each}
