<script>
  export let city;
  export let items;
  const {
    formatNumber,
    formatAndcurrency,
  } = require("../../commonFunctions.ts");

  const result = items.filter((ob) => ob.address.city == city.value);
</script>

{#if result.length > 0}
  <div>
    <span class="font-bold">
      {city.value}
    </span>

    <div>
      {#each result as item}
        <div>
          {item.title}
          <!--  -->
          {#if item.livingArea}
            {item.livingArea || ""}m2
          {/if}
          <!--  -->
          {formatAndcurrency(item.saleprice.fees_included) || ""}
        </div>
      {/each}
    </div>
  </div>
{/if}
