<script>
  // Last update 24/07/2022
  import cities from "../../PolynesiaCities.js";

  // https://en.wikipedia.org/wiki/List_of_cities_in_French_Polynesia
  // https://www.code-postal.com/polynesie-francaise-d987.html
  //

  export const citiesArray = cities.values;

  import { onMount } from "svelte";
  import { Assets_sale } from "../../api/assets_sale.js";
  import Loading from "../Loading.svelte";

  import { navigate } from "svelte-routing";

  import enterprise_customization from "../../../enterprise_customization";
  import SummaryItem from "./SummaryItem.svelte";
  const { mandateCompulsory } = enterprise_customization;

  let handle;
  let isLoading = true;

  onMount(async () => {
    if (mandateCompulsory) {
      console.log("visible_for_sale_assets_limitDate_mandateCompulsory");
      handle = Meteor.subscribe(
        "visible_for_sale_assets_limitDate_mandateCompulsory"
      );
    } else {
      handle = Meteor.subscribe("visible_for_sale_assets_limitDate", {
        months: 12,
      });
    }

    Meteor.subscribe("thisuser");
  });

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }
    return favorites.find((element) => element.assetId == value);
  }

  let items;
  let itemsGroupedByCities = [];

  $m: {
    isLoading = !handle?.ready();
    if (!isLoading) {
      items = Assets_sale.find({}, { sort: { modifiedAt: -1 } }).fetch();
      console.log({ items });

      //Get all cities

      //   itemsGroupedByIsland = items.reduce(function (acc, item) {
      //     acc[item.address.city] = acc[item.address.city] || [];
      //     acc[item.address.city].push(item);
      //     return acc;
      //   }, {});
    }
  }
</script>

{#if isLoading}
  <Loading />
{:else if items?.length > 0}
  <div class="container px-10 mx-auto mb-2 sm:px-0">
    <h4 class="mt-5 mb-5 text-2xl font-semibold text-center">
      Nos dernières annonces immobilières
    </h4>

    <!-- {#each Object.entries(itemsGroupedByIsland) as [city, asset]}
      <h1>{city}</h1>
    {/each} -->

    <!-- <div class="lg:columns-3 columns-1"> -->
    <div>
      {#each citiesArray as city}
        <!-- {city.group} -->
        <SummaryItem {city} {items} />
      {/each}

      <!-- {#each items as item} -->
      <!-- {#each itemsGroupedByIsland as group} -->

      <!-- {group} -->
      <!-- {#each group as item}
        <div>
          <a href="/">
            {item.title}
            {#if item.landSurface}
              {item.landSurface} m2
            {/if}
          </a>
        </div> -->
      <!-- {/each} -->
    </div>
  </div>
{/if}
