<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../../../api/assets_sale";
  // import Loading from "../../Loading.svelte";

  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications";

  import MandateNumber from "./admin_AssetsSale_MandateNumber.svelte";

  onMount(async () => {
    Meteor.subscribe("for_sale_assets_owner");
    // Optimise (get the mandate number)
    Meteor.subscribe("thisuser");
  });

  const isSold = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    const res = await Meteor.callAsync("asset_sale.update.isSold", id, boolean);

    saved_notification();
  };

  const isSoldByOthers = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_sale.update.isSoldByOthers", id, boolean);
    saved_notification();
  };

  const isCancelledBySeller = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync(
      "asset_sale.update.isCancelledBySeller",
      id,
      boolean
    );
    saved_notification();
  };

  const isExpired = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_sale.update.isExpired", id, boolean);
  };

  let for_sale_assets = [];

  $m: {
    for_sale_assets = Assets_sale.find({}, { sort: { createdAt: -1 } }).fetch();

    for_sale_assets?.forEach(function (item) {
      if (item.userId) {
        const user = Meteor.users.findOne(item.userId);

        if (user) {
          if (user.contact?.firstname || user.contact?.surname) {
            item.userId = ` ${user.contact?.firstname || ""} ${
              user.contact?.surname || ""
            }`;
          } else if (user?.emails?.[0]?.address) {
            item.userId = ` ${user.emails[0].address}`;
          }
        }
      }
    });
  }

  // function add() {
  //   const value = document.getElementById("title").value;
  //   await Meteor.callAsync("for_sale_assets.insert", value);
  // }

  let show = false;
</script>

<h1 class="text-xl">
  <i class="fa-solid fa-house text-[var(--main-color)]" />
  Biens à vendre <!-- Assets for sale -->
</h1>

<a href="/admin/databases/for-sale/cards">
  <button class="btn btn--light">
    <i class="fa-solid fa-table-cells-large" />
  </button>
</a>

<table class="w-full">
  <thead>
    <tr>
      <th>Title</th>
      <th>Mandat</th>
      <th>Prix</th>
      <th>Visible</th>
      <th>Tag</th>
      <th>Publications</th>
      <th>User</th>
      <th>Origin</th>
      <th>Date</th>
      <th>ID</th>
      <th />
    </tr>
  </thead>
  <tbody>
    {#each for_sale_assets as item}
      <tr class="border-b">
        <td style="min-width:200px;">
          <a href="/admin/for-sale/edit/{item._id}">
            {item.title || "Aucun"}
          </a>
        </td>
        <td class="text-sm">
          <!-- {item.mandates || "Aucun"} -->
          {#each item.mandates || [] as mandate}
            <!-- {mandate || "En attente de numéro"} -->
            <MandateNumber id={mandate} />
          {/each}
        </td>
        <td>
          {item.saleprice?.fees_included?.toLocaleString() || ""}
        </td>
        <td>
          {#if item.isVisible}
            <i class="text-green-700 fa-solid fa-eye" /> <!-- visible -->
          {:else}
            <i class="fa-solid fa-eye-slash" />
          {/if}
        </td>
        <td>
          {#if item.isSoldByOthers}
            <div>
              <i class="fa-solid fa-ban" />
              Vendu par autre agence
            </div>
          {/if}
          {#if item.isSold}
            <div>
              <i class="fa-solid fa-check" />
              Vendu
            </div>
          {/if}
          {#if item.isRentedByOthers}
            <div>
              <i class="fa-solid fa-ban" />
              Loué par autre agence
            </div>
          {/if}
          {#if item.isRented}
            <div>
              <i class="fa-solid fa-check" />
              Loué
            </div>
          {/if}
          {#if item.isCancelledBySeller}
            <div>
              <i class="fa-solid fa-ban" />
              Annulation vendeur
            </div>
          {/if}
          {#if item.isCancelled}
            <div>
              <i class="fa-solid fa-ban" />
              Annulation propriétaire
            </div>
          {/if}
          {#if item.isExpired}
            <div>
              <i class="fa-solid fa-ban" />
              Expiré
            </div>
          {/if}
        </td>
        <td>
          {#each item.publishedOn || [] as item}
            <span class="badge">{item}</span>
          {/each}
        </td>
        <td>
          {item.userId || ""}
        </td>
        <td>
          {item.origin?.name || ""}
        </td>
        <td>
          <!-- {item.createdAt.slice(0, 10)} -->
          {item?.createdAt?.toLocaleDateString() || ""}
        </td>
        <td class="text-sm">
          {item._id}
        </td>
        <td>
          <div>
            <button
              type="button"
              class="btn btn-secondary"
              aria-expanded="false"
              on:click={() => {
                show = !show;
              }}
            >
              <i class="fa-solid fa-bars" />
            </button>
            <ul class={show ? "" : "hidden"}>
              <li>
                {#if item.isSold}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isSold}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Vendu"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isSold}
                  >
                    <i class="fa-solid fa-flag" />
                    Vendu
                  </button>
                {/if}
              </li>

              <li>
                {#if item.isSoldByOthers}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isSoldByOthers}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Vendu par une autre agence"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isSoldByOthers}
                  >
                    <i class="fa-solid fa-flag" />
                    Vendu par une autre agence
                  </button>
                {/if}
              </li>

              <li>
                {#if item.isCancelledBySeller}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isCancelledBySeller}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Annulation vendeur"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isCancelledBySeller}
                  >
                    <i class="fa-solid fa-flag" />
                    Annulation vendeur
                  </button>
                {/if}
              </li>

              <li>
                {#if item.isExpired}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isExpired}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Expiré"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isExpired}
                  >
                    <i class="fa-solid fa-flag" />
                    Expiré
                  </button>
                {/if}
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {:else}
      <!-- <Loading /> -->
      <!-- Loading... -->
    {/each}
  </tbody>
</table>
