<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../../../api/assets_sale";
  // import Loading from "../../Loading.svelte";
  import AssetsSaleItem from "../../../pro/AssetsSale/AssetsSaleItem.svelte";
  import dayjs from "dayjs";

  import Dropdown from "./Dropdown.svelte";

  let handle;

  onMount(async () => {
    handle = Meteor.subscribe("for_sale_assets_active_owner");
    // Optimise (get the mandate number)
    Meteor.subscribe("thisuser");
  });

  let filter = {
    // userId: Meteor.userId(), archived: { $ne: true }
    $and: [
      { archived: { $ne: true } },
      { isSold: { $ne: true } },
      { isSoldByOthers: { $ne: true } },
      { isCancelledBySeller: { $ne: true } },
    ],
  };

  // const isSold = (event) => {
  //   const id = event.target.dataset.value;
  //   const boolean = event.target.dataset.boolean;
  //   Meteor.callAsync("asset_sale.update.isSold", id, boolean)
  // };

  let items = [];
  let count;
  let isLoading = true;

  $m: {
    isLoading = !handle?.ready();
    if (!isLoading) {
      items = Assets_sale.find(filter, { sort: { createdAt: -1 } }).fetch();
      count = items?.length;

      items?.forEach(function (item) {
        if (item.userId) {
          const user = Meteor.users.findOne(item.userId);

          if (user) {
            if (user.contact?.firstname || user.contact?.surname) {
              item.createdBy = `${user.contact?.firstname || ""} ${
                user.contact?.surname || ""
              }`;
            } else if (user?.emails?.[0]?.address) {
              item.createdBy = `${user.emails[0].address}`;
            }
          }
        }
      });
    }
  }

  // function add() {
  //   const value = document.getElementById("title").value;
  //   await Meteor.callAsync("for_sale_assets.insert", value);
  // }

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value == "active") {
      filter = {
        $and: [
          { archived: { $ne: true } },
          { isSold: { $ne: true } },
          { isSoldByOthers: { $ne: true } },
          { isCancelledBySeller: { $ne: true } },
        ],
      };
    } else if (value == "inactive") {
      filter = {
        $or: [
          { archived: { $eq: true } },
          { isSold: { $eq: true } },
          { isSold: { $eq: true } },
          { isSoldByOthers: { $eq: true } },
          { isCancelledBySeller: { $eq: true } },
        ],
      };
    } else {
      filter = {};
    }
  }
</script>

<h1 class="text-xl">
  <i class="fa-solid fa-house text-[var(--main-color)]" />
  Biens à vendre <!-- Assets for sale -->
</h1>

<a href="/admin/databases/for-sale/list">
  <button class="btn btn--light">
    <i class="fa-solid fa-table-list" />
  </button>
</a>

<ul class="flex">
  <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter="active"
      class="p-1 bg-white border active focus:bg-slate-300"
      id="all-tab"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Actifs
    </button>
  </li>

  <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter="inactive"
      class="p-1 bg-white border focus:bg-slate-300"
      id="seller-tab"
      type="button"
      role="tab"
      aria-controls="seller"
      aria-selected="false"
    >
      Inactifs
    </button>
  </li>
</ul>

{#if isLoading}
  loading...
{:else}
  {count || ""}

  {#each items || [] as item}
    <div class="p-4 mb-4 bg-white rounded-lg shadow-md">
      <div class="flex">
        <div style="width:65%">
          <a
            href="/pro/for-sale/edit/{item._id}"
            class="text-lg text-blue-600 underline"
          >
            {item.title || item._id}
          </a>
          <span class="text-gray-500 capitalize">
            ({item.createdBy || item.origin?.name})
          </span>
          <!-- {#if item.isVisible}
            <span class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs">
              Publié sur {enterprise_customization.enterprise_name}
            </span>
            <a href="/for-sale/{item._id}">Voir annonce </a>
          {/if} -->
        </div>
        <div class="text-right" style="width:35%">
          {dayjs(item.createdAt).format("DD MMM YYYY")}
        </div>
      </div>

      <div>
        <AssetsSaleItem {item} />
        <div class="flex justify-between gap-5">
          <div>
            <a href="/pro/for-sale/edit/{item._id}">
              <button class="btn btn--light">
                <i class="fa-solid fa-pen-to-square" />
                Modifier
              </button>
            </a>
          </div>

          <div>
            <div>
              <Dropdown {item} />
            </div>

            <!-- {#if item.isVisible}
              <button
                class="btn btn--light"
                on:click={() => {
                  publish(item, false);
                }}
              >
                <i class="fa-regular fa-eye-slash" />
                Masquer le bien sur le site
              </button>
            {:else}
              <button
                class="btn btn-primary"
                on:click={() => {
                  publish(item, true);
                }}
              >
                <i class="fa-solid fa-eye" />
                Afficher le bien sur le site
              </button>
            {/if} -->

            {#if item.isSold}
              Vendu
            {/if}
          </div>
        </div>
      </div>
    </div>
  {/each}
{/if}
