<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../../api/mandates_sale";

  export let id;

  let thismandate = {};

  onMount(async () => {
    // Dont know why, it does not work with the below: Use the Mid tier throtling to test
    // Meteor.subscribe("mandate_for_sale_number_id", id);

    // Need to see if we can optimize the publication below
    Meteor.subscribe("mandates_for_sale_all");
  });

  $m: {
    thismandate = Mandates_For_Sale.findOne({ _id: id });
  }
</script>

<div>
  <!-- {mandate?.mandate?.number || "En attente de numéro "} -->
  {#if thismandate?.mandate?.number}
    {thismandate?.mandate?.number}
  {/if}
</div>
