<script>
  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications.ts";

  export let item;

  let show = false;

  const isExpired = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_sale.update.isExpired", id, boolean);
    saved_notification();
  };

  async function deleteAsset(id) {
    if (!confirm("Supprimer?")) return;
    await Meteor.callAsync("for_sale_assets.remove", id);
    saved_notification();
  }

  async function archive({ id, value }) {
    if (!confirm("Archiver?")) return;
    await Meteor.callAsync("asset_sale.update.archive", { id, value });
    saved_notification();
  }

  async function changeSold(id, boolean = true) {
    const res = await Meteor.callAsync("asset_sale.update.isSold", id, boolean);
    saved_notification();
    return res;
  }

  async function changeSoldByOther(id, boolean = true) {
    const res = await Meteor.callAsync(
      "asset_sale.update.isSoldByOthers",
      id,
      boolean
    );
    saved_notification();
    return res;
  }

  async function changeCancelledBySeller(id, boolean = true) {
    const res = await Meteor.callAsync(
      "asset_sale.update.isCancelledBySeller",
      id,
      boolean
    );
    saved_notification();
    return res;
  }
</script>

<button
  type="button"
  class="btn btn--light"
  on:click={() => {
    show = !show;
  }}
>
  <!-- Clôturer -->
  <i class="fa-solid fa-bars" />
</button>

<ul class={show ? "block" : "hidden"}>
  <li>
    {#if item.isSold}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          changeSold(item._id, false);
        }}
      >
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Vendu"
      </button>
    {:else}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          changeSold(item._id);
        }}
      >
        <i class="fa-solid fa-font-awesome" />
        Vendu
      </button>
    {/if}
  </li>

  <li>
    {#if item.isSoldByOthers}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          changeSoldByOther(item._id, false);
        }}
      >
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Vendu par une autre agence"
      </button>
    {:else}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          changeSoldByOther(item._id);
        }}
      >
        <i class="fa-solid fa-font-awesome" />
        Vendu par une autre agence
      </button>
    {/if}
  </li>

  <li>
    {#if item.isCancelledBySeller}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          changeCancelledBySeller(item._id, false);
        }}
      >
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Annulation vendeur"
      </button>
    {:else}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          changeCancelledBySeller(item._id);
        }}
      >
        <i class="fa-solid fa-font-awesome" />
        Annulation vendeur
      </button>
    {/if}
  </li>

  <li>
    <a
      href="/pro/sale-assets/share/{item._id}"
      id={item._id}
      data-value={item._id}
    >
      <i class="fa-solid fa-share" />
      Partager
    </a>
  </li>

  <li>
    <a
      href="/pro/sale-assets/give/{item._id}"
      id={item._id}
      data-value={item._id}
    >
      <i class="fa-solid fa-file-import" />
      Céder
    </a>
  </li>

  <li>
    {#if item.archived}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          archive({ id: item._id, value: false });
        }}
      >
        <i class="fa-solid fa-archive" />
        Enlever Archiver
      </button>
    {:else}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          archive({ id: item._id, value: true });
        }}
      >
        <i class="fa-solid fa-archive" />
        Archiver
      </button>
    {/if}
  </li>

  <li>
    <button
      id={item._id}
      data-value={item._id}
      on:click={() => {
        deleteAsset(item._id);
      }}
    >
      <i class="fa-solid fa-trash" />
      Supprimer
    </button>
  </li>
</ul>
