<script>
  import Select from "svelte-select";
  import enterprise_customization from "../../../../../enterprise_customization.ts";
  const { countryConfiguration, currency } = enterprise_customization;
  import {
    saved_notification,
    error_notification,
  } from "../../../../notifications.ts";

  import cities from "../../../../PolynesiaCities.js";
  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  let city, postalCode;

  function handle_places(event) {
    const value = event.detail?.value;
    city = value;
    postalCode = event.detail?.code;
  }

  async function addTransaction() {
    const type = document.getElementById("type").value;
    const livingArea = document.getElementById("livingArea").value;
    const landSurface = document.getElementById("landSurface").value;
    const soldPrice = document.getElementById("soldPrice").value;

    let soldDate =
      document.getElementById("soldDate").value ||
      document.getElementById("soldDateNum").value;

    const description = document.getElementById("description").value;

    if (!city) {
      error_notification("Ville");
      return;
    }

    if (!soldPrice) {
      error_notification("Prix");
      return;
    }

    if (!soldDate) {
      error_notification("Date");
      return;
    }

    if (!type || type == "Types") {
      error_notification("Type");
      return;
    }

    await Meteor.callAsync("sale_history.insert", {
      city: city,
      postalCode: postalCode,
      type: type,
      livingArea: livingArea,
      landSurface: landSurface,
      soldPrice: soldPrice,
      soldDate: soldDate,
      description: description,
    });
    saved_notification();
    document.getElementById("type").value = "";
    document.getElementById("livingArea").value = "";
    document.getElementById("landSurface").value = "";
    document.getElementById("soldPrice").value = "";
  }

  let show;
</script>

<button
  class="btn btn--blue {show ? 'hidden' : ''} mt-3 mb-3"
  on:click={() => {
    show = true;
  }}
>
  <i class="fa-solid fa-plus" />
  Ajouter une nouvelle vente
</button>

<div class="p-4 mb-4 rounded-lg shadow-md {show ? '' : 'hidden'}">
  <div class="grid grid-cols-2 gap-4">
    <div>
      Ville

      {#if countryConfiguration == "pf"}
        <!-- for PF -->
        <div>
          <Select
            id="citiesSelection"
            on:change={handle_places}
            items={searchItems}
            placeholder="Ville"
            {groupBy}
          />
        </div>
      {:else}
        <!-- General and FR -->
        <input
          on:change={() => {
            save_address_city();
          }}
          id="city"
        />
      {/if}
    </div>

    <div>
      Type de bien
      <select class="w-full border select" id="type">
        <option selected>Types</option>
        <option value="apartment">Appartement</option>
        <option value="house">Maison / Villa</option>
        <option value="building">Immeuble</option>
        <option value="land">Terrain</option>
        <option value="commercial">Local Commercial</option>
        <option value="business">Fond de commerce</option>
      </select>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <div>
      <label for="landsurface">Prix</label>
      <div>
        <input class="input" type="number" id="soldPrice" min="1" />
        <span>{currency}</span>
      </div>
    </div>
    <div>
      <div class="grid grid-cols-3">
        <div>
          Date de vente
          <div>
            <input
              id="soldDate"
              class="input"
              type="date"
              placeholder="dd/mm/yyyy"
            />
          </div>
        </div>
        <div>OU</div>
        <div>
          Année de vente
          <div>
            <input
              id="soldDateNum"
              class="w-full input"
              type="number"
              min="1900"
              max="2100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <label for="livingarea">Surface habitable</label>
      <div>
        <input type="number" class="w-2/3 input" id="livingArea" min="1" />
        <span>m²</span>
      </div>
    </div>
    <div>
      <label for="landsurface">Surface terrain</label>
      <div>
        <input type="number" class="w-2/3 input" id="landSurface" min="1" />
        <span>m²</span>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for=""> Description </label>
    <textarea id="description" class="w-full input" rows="3" />
  </div>

  <div>
    <button class="btn btn--blue" on:click={addTransaction}>
      <i class="fa-solid fa-plus" />
      Ajouter une nouvelle vente
    </button>
  </div>
</div>
