<script>
  import { saved_notification } from "../../../../notifications";

  export let item;
  let show = false;

  async function deleteHistorySale(event) {
    let value;

    value = event.target.getAttribute("data-value");
    userId = event.target.getAttribute("data-userId");

    if (Meteor.userId() != userId) {
      return error_notification(
        "Vous ne pouvez pas supprimer l'historique des autres"
      );
    }

    if (!confirm("Supprimer?")) return;
    await Meteor.callAsync("sale_history.remove", value);
    saved_notification();
  }
</script>

<div class="text-right">
  <button
    type="button"
    class="btn btn-secondary"
    aria-expanded="false"
    on:click={() => {
      show = !show;
    }}
  >
    <i class="fa-solid fa-bars" />
  </button>
</div>

{#if show}
  <ul>
    <li>
      <button
        data-value={item._id}
        data-userId={item.userId}
        on:click={deleteHistorySale}
      >
        <i class="fa-solid fa-trash" />
        Supprimer
      </button>
    </li>
  </ul>
{/if}
