<script>
  // import Loading from "../../../Loading.svelte";
  import { Sale_history } from "../../../../api/sale_history.js";
  export let id;

  import { onMount } from "svelte";

  const { formatAndcurrency } = require("../../../../commonFunctions.ts");

  onMount(async () => {
    Meteor.subscribe("this_sale_history", id);
    //To find the name -> to be optimised
    Meteor.subscribe("users");
  });

  let item;
  $m: {
    item = Sale_history.findOne(id);
    if (item?.userId) {
      item.user = getName(item.userId);
    }
  }

  const getName = (userId) => {
    if (!userId) return "";
    const user = Meteor.users.findOne(userId);
    if (user) return "";
    const result = `${user?.contact?.firstname || ""}
     ${user?.contact?.surname || ""}`;
    return result;
  };
</script>

<h5 class="text-xl">
  <i class="fa-solid fa-bars-staggered" />
  Historique de Vente
</h5>

{#if item}
  <div class="p-3 bg-white rounded-xl">
    {id}
    <div>
      {item.address?.city || ""}
    </div>

    <div>
      {#if item.type == "land"}Terrain
      {:else if item.type == "house"}Maison
      {:else if item.type == "building"}Immeuble
      {:else if item.type == "commercial"}Local commercial
      {:else if item.type == "apartment"}Apartement
      {:else if item.type == "business"}Fond de commerce
      {/if}
    </div>

    <div>
      {formatAndcurrency(item.soldPrice) || "Aucun"}
    </div>

    <div>
      {#if item.landSurface}
        {item.landSurface} m²
      {/if}
    </div>

    <div>
      {#if item.livingArea}
        {item.livingArea} m²
      {/if}
    </div>
    <div>
      {#if item.description}
        {item.description}
      {/if}
    </div>
    <div>
      {#if item.soldDate}
        Année {item.soldDate}
      {/if}
    </div>

    <div>
      {#if item.user}
        {item.user}
      {/if}
    </div>
  </div>
{/if}
