<script>
  // import Loading from "../../../Loading.svelte";
  import AddSaleHistory from "./AddSaleHistory.svelte";
  import SaleHistoryFilter from "./SaleHistoryFilter.svelte";
</script>

<h1 class="text-xl">
  <i class="fa-solid fa-bars-staggered text-[var(--main-color)]" />
  Historique de Vente
</h1>

<AddSaleHistory />
<SaleHistoryFilter />
