<script>
  import { Sale_history } from "../../../../api/sale_history.js";
  import { onMount } from "svelte";

  import enterprise_customization from "../../../../../enterprise_customization.ts";

  import Select from "svelte-select";

  import cities from "../../../../PolynesiaCities.js";
  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  const { formatAndcurrency } = require("../../../../commonFunctions.ts");

  import Dropdown from "./Dropdown.svelte";

  onMount(async () => {
    Meteor.subscribe("sale_history");
    //To find the name -> to be optimised
    Meteor.subscribe("users");
  });

  let items = [];
  let filter = {};
  let city, postalCode, type, landSurface, livingArea;

  $m: {
    if (livingArea) {
      filter["livingArea"] = { $gte: livingArea };
    }

    if (landSurface) {
      filter["landSurface"] = { $gte: landSurface };
    }

    if (city) {
      filter["address.city"] = city;
    } else {
      filter = unsetProperty(filter, "address.city");
    }

    if (type && type != "Types") {
      filter["type"] = type;
    }
    console.log({ filter });

    items = Sale_history.find(filter, { sort: { createdAt: -1 } }).fetch();
    // console.log(items);

    items.forEach((x) => {
      x.user = getName(x.userId);
    });
  }

  function handle_cities(event) {
    city = event.detail?.value;
    postalCode = event.detail?.code;
  }

  function clear_cities(event) {
    city = undefined;
    postalCode = undefined;
  }

  function unsetProperty(filterObject, property) {
    let filtered = {};
    for (const key in filterObject) {
      if (key !== property) {
        filtered[key] = filter[key];
      }
    }
    return filtered;
  }

  // function select_type(event) {
  //   // city = event.detail?.value;
  //   // postalCode = event.detail?.code;
  // }

  const getName = (userId) => {
    const user = Meteor.users.findOne(userId);
    if (!user) return "";

    const result = `${user?.contact?.firstname || ""}
     ${user?.contact?.surname || ""}`;
    return result;
  };
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h5>
    <i class="fa-solid fa-filter" />
    Filtre
  </h5>

  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <div>
      Type de bien

      <select class="w-full border select" bind:value={type} id="type">
        <option selected>Types</option>
        <option value="apartment">Appartement</option>
        <option value="house">Maison / Villa</option>
        <option value="building">Immeuble</option>
        <option value="land">Terrain</option>
        <option value="commercial">Local Commercial</option>
      </select>
    </div>
    <div>
      Ville

      {#if enterprise_customization.countryConfiguration == "pf"}
        <!-- for PF -->
        <div>
          <Select
            id="citiesSelection"
            on:change={handle_cities}
            on:clear={clear_cities}
            items={searchItems}
            placeholder="Ville"
            {groupBy}
          />
        </div>
      {:else}
        <!-- General and FR -->
        <input
          on:change={() => {
            save_address_city();
          }}
          id="city"
        />
      {/if}
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div>
      Surface habitable min
      <div>
        <input
          type="number"
          class="input"
          bind:value={livingArea}
          id="livingArea"
          min="0"
        />
        <span>m²</span>
      </div>
    </div>
    <div>
      Surface Terrain min

      <div>
        <input
          type="number"
          class="input"
          bind:value={landSurface}
          id="landSurface"
          min="1"
        />
        <span>m²</span>
      </div>
    </div>
  </div>

  <div class="mt-3 overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr>
          <th />
          <th class="text-left"> Adresse</th>
          <th class="text-left">Type</th>
          <th class="text-left min-w-[140px]">Prix</th>
          <th class="text-left">Terrain</th>
          <th class="text-left">Surface Habitable</th>
          <!-- <th class="text-left">Desc</th> -->
          <th class="text-left">Date de vente</th>
          <th class="text-left">Par</th>
          <th />
        </tr>
      </thead>
      <tbody>
        {#each items as item}
          <tr class="border-b last:border-b-0">
            <td>
              <a
                href="/pro/databases/sale-history/{item._id}"
                class="text-blue-600"
              >
                <i class="fa-solid fa-pen-to-square" />
              </a>
            </td>
            <td>
              {item.address?.city || ""}
            </td>
            <td>
              {#if item.type == "land"}Terrain
              {:else if item.type == "house"}Maison
              {:else if item.type == "building"}Immeuble
              {:else if item.type == "commercial"}Local commercial
              {:else if item.type == "apartment"}Apartement
              {:else if item.type == "business"}Fond de commerce
              {/if}
            </td>

            <td>
              {formatAndcurrency(item.soldPrice) || "Aucun"}
            </td>
            <td>
              {#if item.landSurface}
                {item.landSurface} m²
              {/if}
            </td>

            <td>
              {#if item.livingArea}
                {item.livingArea} m²
              {/if}
            </td>
            <!-- <td class="text-sm">
              {#if item.description}
                {item.description}
              {/if}
            </td> -->
            <td>
              {#if item.soldDate}
                {item.soldDate}
              {/if}
            </td>

            <td>
              {#if item.user}
                {item.user}
              {/if}
            </td>
            <td>
              <Dropdown {item} />
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
        {/each}
      </tbody>
    </table>
  </div>
</div>
