<script>
  // import { onMount } from "svelte";
  import { navigate } from "svelte-routing";
  import Select from "svelte-select";

  import enterprise_customization from "../../../enterprise_customization.ts";
  import cities from "../../PolynesiaCities.js";
  const { landing, currency } = enterprise_customization;

  let search_places;

  function handle_places(event) {
    const array = event.detail;
    if (array) {
      search_places = array;
    }
  }

  async function gotosearch(event) {
    event.preventDefault();
    let priceMax = document.getElementById("priceMax").value;
    let search_sale_rent = document.getElementById("search_sale_rent");
    let search_types = document.getElementById("search_types");
    let search_places_result = "";

    if (search_places) {
      // Here to change
      search_places.forEach((item, i) => {
        if (i != 0) {
          search_places_result += "_";
        }
        search_places_result += item.value;
      });
    }

    let urlNavigateTo = "/vente";

    // If location
    if (search_sale_rent?.value == "rent") {
      urlNavigateTo = "/location";
    }

    let params = "?";

    if (search_types.value) {
      params += "type=" + search_types.value;
    }

    if (priceMax) {
      params += "price=" + priceMax;
    }

    if (search_places_result) {
      if (params != "?") {
        params += "&";
      }
      params += "places=" + search_places_result;
    }

    // Add to params
    if (params != "?") {
      urlNavigateTo += params;
    }

    navigate(urlNavigateTo, { replace: false });
    await Meteor.callAsync("log.insert", {
      title: "Search landing",
      type: "search",
    }); // Save logs
  }

  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  // jQuery(document).ready(function () {
  // Start of the function
  // Sometimes the script is not ready yet ...and it does not work
  // activatePlacesSearch = () => {
  // let input = document.getElementById("search_address");
  // let autocomplete = new google.maps.places.Autocomplete(input);

  // Set initial restrict to the greater list of countries.
  // autocomplete.setComponentRestrictions({
  //   country: ["pf"],
  // });

  // Specify only the data fields that are needed.
  // autocomplete.setFields(["address_components", "geometry", "icon", "name"]);
  // };
  // end of the function
  // });
</script>

<svelte:head>
  <!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpban775HqR9p5GyVDBtG2H9TU2VfR9s4&libraries=places&callback=activatePlacesSearch">
  </script> -->
</svelte:head>

<div
  class="relative px-4 py-24 text-center text-white bg-center bg-no-repeat bg-cover lg:py-40 sm:px-0"
  style="background-image: url({landing?.image});"
>
  <!-- mask -->
  <div class="{landing?.gradient} absolute inset-0" />
  <!--  -->
  <div class="container relative mx-auto">
    <h1 class="mb-10 text-4xl text-gray-600">
      {landing?.title}
    </h1>

    <div class="mx-auto">
      <div class="grid grid-cols-4 gap-4 md:grid-cols-4 lg:grid-cols-5">
        <div class="col-span-2 md:col-span-1">
          <select
            id="search_sale_rent"
            class="w-full bg-white select text-slate-700"
          >
            <option selected value="sale">Vente</option>
            <option value="rent">Location</option>
          </select>
        </div>

        <div class="col-span-2 md:col-span-1">
          <select
            id="search_types"
            class="w-full bg-white select text-slate-700"
          >
            <option selected value="">Type de bien</option>
            <option value="house">Maison</option>
            <option value="building">Immeuble</option>
            <option value="apartment">Appartement</option>
            <option value="land">Terrain</option>
          </select>
        </div>

        <div class="col-span-4 md:col-span-1">
          <!-- <input
            id="search_address"
            type="text"
            placeholder="Code postal, ville, île"
          /> -->

          <div class="themed">
            <Select
              --border-radius="10px"
              --placeholder-color="#212529"
              --multi-item-bg="#94a3b8"
              on:change={handle_places}
              items={searchItems}
              placeholder="Ville, île"
              {groupBy}
              multiple="true"
            />
          </div>
        </div>

        <div class="col-span-4 md:col-span-1">
          <input
            id="priceMax"
            type="text"
            class="w-full input-0 text-slate-700 input"
            placeholder="Budget max ({currency})"
          />
        </div>

        <div class="col-span-5 lg:col-span-1">
          <button
            on:click={gotosearch}
            id="gotosearch"
            type="submit"
            class="px-4 py-3 rounded-lg btn-color-main"
          >
            <i class="fa-solid fa-magnifying-glass" />
            Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .themed {
    --border: 0;
    --borderRadius: 0.3rem;
    --height: 48px;
    --font-size: 1rem;
    --item-color: #212529;
    --item-hover-color: #212529;
    /* --background: #dc143c; */
  }

  /* https://github.com/rob-balfre/svelte-select/blob/master/docs/theming_variables.md */

  /* For the input */
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #212529;
    opacity: 1; /* Firefox */
  }
</style>
