<script>
  export let item;
  const { lowres } = require("../../../../commonFunctions.ts");
</script>

<h2 class="my-5 text-xl font-semibold text-center underline">PHOTOS</h2>

<div class="flex justify-center gap-4">
  {#each item.images || [] as image}
    <div class="w-1/3">
      <img class="rounded-lg" src={lowres({ url: image.url })} alt="" />
      {#if image.title}
        {image.title}
      {/if}
    </div>
  {/each}
</div>
