<script>
  import { onMount } from "svelte";
  // import { Valuations } from "api/assets_sale";
  import { Valuations } from "../../../../api/valuations.js";
  import { Assets_sale } from "../../../../api/assets_sale.js";
  import { Contacts } from "../../../../api/contacts.js";
  import TemplateLayout from "../../../../layouts/TemplateLayout.svelte";

  import dayjs from "dayjs";
  // import Loading from "../../Loading.svelte";
  // import { saved_notification } from "../../../notifications.ts";
  import enterprise_customization from "../../../../../enterprise_customization.ts";
  const { currency, logourl, website, countryConfiguration } =
    enterprise_customization;
  require("dayjs/locale/fr");
  dayjs.locale("fr");

  const { lowres } = require("../../../../commonFunctions.ts");

  import TahitianBand from "./TahitianBand.svelte";
  import Images from "./Images.svelte";
  const {
    formatNumber,
    formatAndcurrency,
  } = require("../../../../commonFunctions.ts");

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  onMount(async () => {
    Meteor.subscribe("valuation", id);
    Meteor.subscribe("thisuser");
    Meteor.subscribe("for_sale_assets"); //Need to be optimized with the only asset of the valuation
    Meteor.subscribe("users"); // To be optimized - Needed for "Dossier suivi par...."
    Meteor.subscribe("contacts"); //To be optimized for the contact
  });

  let item;
  let asset;

  let priceReference_land_average;
  let priceReference_house_average;
  let priceReference_apartment_average;

  let priceReference_land_total;
  let priceReference_house_total;
  let priceReference_apartment_total;

  let agentcontact;
  let contactInfo;

  $m: {
    item = Valuations.findOne({ _id: id });

    if (item) {
      if (item.asset?.value) {
        asset = Assets_sale.findOne(item.asset.value);
        console.log({ asset });
      }

      if (item.visitDate) {
        item.visitDate = dayjs(item.visitDate).format("dddd, DD MMMM YYYY");
      }

      if (item.userId) {
        agentcontact = Meteor.users.findOne(item.userId);
      }

      if (item.seller) {
        contactInfo = Contacts.findOne(item.seller.value);
      }

      if (item.price?.min) {
        item.price.min = formatNumber(item.price.min);
      }
      if (item.price?.max) {
        item.price.max = formatNumber(item.price.max);
      }

      if (item.priceReference) {
        if (item.priceReference.land?.average) {
          priceReference_land_average = formatNumber(
            item.priceReference.land.average
          );

          priceReference_land_total = formatNumber(
            item.priceReference.land.average * asset?.landSurface
          );
        }

        if (item.priceReference.house?.average) {
          priceReference_house_average = formatNumber(
            item.priceReference.house.average
          );

          priceReference_house_total = formatNumber(
            item.priceReference.house.average * asset?.livingArea
          );
        }

        if (item.priceReference.apartment?.average) {
          priceReference_apartment_average =
            // item.priceReference.apartment.average.toLocaleString();
            formatNumber(item.priceReference.apartment.average);

          priceReference_apartment_total = formatNumber(
            item.priceReference.apartment.average * asset?.livingArea
          );
        }
      }
    }
  }
</script>

<!-- Admin -->
<div class="container mx-auto print:hidden">
  <button class="btn btn--dark" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>
  <button class="btn btn-secondary" onclick="history.back()">
    <i class="fa-solid fa-arrow-rotate-left" />
    Retour
  </button>
  {#if item?.type == "rent"}
    <i class="text-red-600 fa-solid fa-triangle-exclamation" />
  {/if}
</div>
<!-- Admin -->

<!-- 1st page -->
<div class="container mx-auto">
  <TahitianBand />
</div>

<div class="container mx-auto">
  <img class="mx-auto print:mt-28 h-[180px]" src={logourl} alt="logo" />
  <h1 class="text-3xl text-center print:mt-7">
    Estimation de valeur <!-- Avis de valeur -->
    {item?._id || ""}
  </h1>
</div>

<!-- firstpagenote -->
<div class="container mx-auto print:mt-96">
  <p contenteditable="true">
    À la demande de :
    {#if contactInfo?.gender == "male"}
      Monsieur
    {:else if contactInfo?.gender == "female"}
      Madame
    {:else}
      Madame, Monsieur
    {/if}

    {`${contactInfo?.firstname} ${contactInfo?.surname}`},
  </p>
  <p contenteditable="true">
    Adresse du bien :

    {asset?.address?.streetAddress || ""}
    {asset?.address?.city || ""}
    {asset?.address?.postalCode || ""}
    {asset?.address?.country || ""}
  </p>
</div>
<!-- 1st page end -->
<div style="page-break-before: always;" />

<TemplateLayout>
  <div>
    <div>
      {#if contactInfo?.gender == "male"}
        Monsieur
      {:else if contactInfo?.gender == "female"}
        Madame
      {:else}
        Madame, Monsieur
      {/if}

      {`${contactInfo?.firstname} ${contactInfo?.surname}`},
      <br />
      Nous vous remercions de la confiance que vous nous accordez pour l’estimation
      de la valeur vénale de votre bien situé dans la commune de {asset?.address
        ?.city || "_______________"}.
    </div>

    <div class="mt-3">
      <h2 class="mt-5 text-xl font-semibold text-center underline">
        PRÉAMBULE
      </h2>

      <p contenteditable="true">
        La valeur est exprimée suivant l’état du bien au jour de la visite du

        {item?.visitDate || "____________________"}
        <!-- (intérieure et extérieure) -->
        et en date de valeur des présentes.
      </p>

      <p contenteditable="true">
        Cet avis de valeur est établi à la demande de :
        {#if contactInfo?.gender == "male"}
          Monsieur
        {:else if contactInfo?.gender == "female"}
          Madame
        {/if}

        {item?.seller?.label || "_______________________"}
        agissant en sa qualité de propriétaire.
      </p>

      <p class="text-justify">
        Cette évaluation est établie sous réserve que l’étude des diagnostics
        techniques ou des examens plus approfondis (certificat d’urbanisme,
        titre de propriété, surface, règlement de copropriété) ne fassent pas
        apparaître de servitude particulière, d’engagement contractuel ou
        l’existence d’éléments pouvant compromettre la santé du bâti et/ou de
        ses occupants, ayant une incidence en plus ou en moins sur la
        détermination du prix de votre bien.
      </p>
      <p class="text-justify">
        Cet avis de valeur ne peut bien entendu être assimilé à une expertise,
        laquelle doit être établie par un expert immobilier, en possession de
        tous les paramètres et documents nécessaires à ce travail. Il conviendra
        de renouveler cet avis de valeur si votre projet de mise en vente est
        supérieur à six mois afin de disposer de données fiables et pertinentes.
      </p>
    </div>

    <h2 class="mt-5 text-xl font-semibold text-center underline">
      DÉSIGNATION DU BIEN
    </h2>

    <div contenteditable="true">
      {item?.description || ""}
    </div>

    <div contenteditable="true">
      <!-- {asset?.title || ""} -->
      <!-- {asset?.address?.streetAddress ||
        "__________________________________________________________________________________________________"}
      {asset?.address?.city || ""}
      {asset?.address?.country || ""}
      {asset?.address?.postalCode || ""} -->

      {#if asset?.type}
        Type: {#if asset?.type == "land"}Terrain
        {:else if asset?.type == "house"}Maison
        {:else if asset?.type == "building"}Immeuble
        {:else if asset?.type == "commercial"}Local commercial
        {:else if asset?.type == "apartment"}Appartement
        {:else if asset?.type == "business"}Fond de commerce
        {/if}
      {/if}

      {#if asset?.constructionYear}
        <div>Construction: {asset?.constructionYear}</div>
      {/if}
      <br />

      <ul>
        {#if asset?.roomsNumber?.bedrooms}
          <li>
            {asset.roomsNumber.bedrooms} chambre(s)
          </li>
        {/if}
        {#if asset?.roomsNumber?.bathrooms}
          <li>
            {asset.roomsNumber.bathrooms} salle(s) de bain
          </li>
        {/if}

        {#if asset?.roomsNumber?.kitchens}
          <li>
            {asset.roomsNumber.kitchens} cuisine(s)
          </li>
        {/if}

        {#if asset?.roomsNumber?.parkingslots}
          <li>
            {asset.roomsNumber.parkingslots} parking(s)
          </li>
        {/if}

        {#if asset?.roomsNumber?.cellars}
          <li>
            {asset.roomsNumber.cellars} cave(s)
          </li>
        {/if}
      </ul>
    </div>

    {#if item}
      <Images {item} />
    {/if}

    <div class="break-inside-avoid">
      <h2 class="mt-5 text-xl font-semibold text-center underline">
        SITUATION GÉOGRAPHIQUE DU BIEN
      </h2>

      <div>
        {item?.geographySituation || ""}
      </div>

      {#if item?.image}
        <div class="mt-2 text-center">
          <!-- <img src={lowres(item?.image)} class="mx-auto rounded" alt="" /> -->
          <img src={item?.image} class="mx-auto rounded" alt="" />
        </div>
      {:else}
        <!-- <span style="color:red;"> A remplir </span> -->
      {/if}
    </div>

    {#if countryConfiguration == "pf"}
      <div class="break-inside-avoid">
        <h2 class="mt-5 text-xl font-semibold text-center underline">
          SYNTHÈSE DU MARCHÉ IMMOBILIER POLYNÉSIEN
        </h2>

        <div class="text-justify">
          Après une période difficile due à la crise sanitaire, le marché
          immobilier en Polynésie connaissait une reprise significative,
          accompagnée d'une hausse générale des prix. Cette augmentation était
          attribuée en partie à l'intérêt croissant des étrangers pour les biens
          immobiliers locaux selon les autorités locales. Afin de protéger le
          patrimoine foncier des Polynésiens, le territoire avait envisagé des
          mesures telles que la taxe d'enregistrement de 1 000%, bien que cette
          taxe ait été annulée ultérieurement. Il est probable que d'autres
          mesures seront mises en place pour contrer l'inflation immobilière.
          Malgré cela, le nouveau gouvernement transmet un message rassurant et
          la demande de logements reste élevée. Cependant, la hausse des prix
          dans certaines communes et l'augmentation des taux d'intérêt au cours
          des six derniers mois risque de rendre les logements inaccessibles
          pour certains, ce qui pourrait entraîner une diminution de la demande
          et une stagnation des prix.
        </div>
      </div>
    {/if}

    {#if countryConfiguration == "pf"}
      <div class="break-inside-avoid">
        <h2 class="mt-5 text-xl font-semibold text-center underline">
          PLAN DE PRÉVENTION DES RISQUES
        </h2>

        <div class="grid grid-cols-3 gap-4">
          <div>
            {#if item?.risks?.groundMovement}
              <div class="underline">Mouvement de terrain :</div>

              {#if item.risks.groundMovement == "high"}
                Inconstructible sauf si une étude technique atteste que le
                projet assure la sécurité des biens et des personnes.
              {:else if item.risks.groundMovement == "medium"}
                Constructible en tenant compte des recommendations du réglement.
                Une étude technique peut être demandée.
              {:else if item.risks.groundMovement == "low"}
                Constructible avec recommandations.
              {/if}
            {/if}
          </div>

          <div>
            {#if item?.risks?.flood}
              <div class="underline">Innondation :</div>

              {#if item.risks.flood == "high"}
                Inconstructible sauf si une étude technique atteste que le
                projet assure la sécurité des biens et des personnes
              {:else if item.risks.flood == "medium"}
                Constructible avec obligation d'une cite plancher > 1m du
                terrain naturel et recommandation sur pilotis
              {:else if item.risks.flood == "low"}
                Constructible avec recommandations
              {/if}
            {/if}
          </div>

          <div>
            {#if item?.risks?.marineSubmersion}
              <div class="underline">Sumersion marine (Houle) :</div>

              {#if item.risks.marineSubmersion == "high"}
                Inconstructible sauf si une étude technique atteste que le
                projet assure la sécurité des biens et des personnes
              {:else if item.risks.marineSubmersion == "medium"}
                Constructible avec obligation d'une cote sous plancher > 1m du
                terrain naturel et recommandation sur pilotis
              {:else if item.risks.marineSubmersion == "low"}
                Constructible avec obligation d'une cote sous plancher > 0.5m du
                terrain naturel et recommandation sur pilotis
              {/if}
            {/if}
          </div>
        </div>
        {#if item?.riskImage}
          <div>
            <img src={item.riskImage} class="mx-auto rounded" alt="" />
          </div>
        {/if}
      </div>
    {/if}

    <div class="break-inside-avoid">
      <div class="mb-3">
        <h2 class="mt-5 text-xl font-semibold text-center underline">
          ÉVALUATION DE LA VALEUR VÉNALE
        </h2>

        <div class="text-justify">
          Notre estimation est établie sous forme d’une étude croisée du marché,
          avec des biens similaires au vôtre (biens à la vente, sous compromis,
          vendus ...) dans un environnement comparable et sur une période
          donnée. Sous certaines réserves, elle tient compte des
          caractéristiques de votre bien. Elle est établie sur la base des prix
          de vente actuelle du marché immobilier et de la connaissance que nous
          avons des transactions.
        </div>

        <!-- En réalisant une étude sur le prix au m² moyen, nous obtenons le résultat
        suivant : -->
      </div>

      <div contenteditable="true">
        {#if asset?.type == "house" || asset?.type == "land" || asset?.type == "building"}
          {#if priceReference_land_average}
            <p>
              Terrain : Valeur de référence : {asset?.landSurface ||
                "_______________"}m² x
              {priceReference_land_average}
              {currency}/m² =
              {priceReference_land_total}
              {currency}
            </p>
          {/if}
        {/if}

        <!-- Maison -->
        {#if asset?.type == "house" || asset?.type == "building"}
          {#if priceReference_house_average}
            <p>
              Construction : Valeur de référence : {asset?.livingArea ||
                "_______________"}m² x
              {priceReference_house_average}
              {currency}/m² =
              {priceReference_house_total}
              {currency}
            </p>
          {/if}
        {/if}

        <!-- apartment -->
        {#if asset?.type == "apartment"}
          {#if priceReference_apartment_average}
            <p>
              Valeur de référence : {asset?.livingArea || "_______________"}m² x
              {priceReference_apartment_average}
              {currency}/m² =
              {priceReference_apartment_total}
              {currency}
            </p>
          {/if}
        {/if}
      </div>

      {#if item?.transactions}
        <table class="w-full">
          <tr class="text-center">
            <th />
            <th> Date </th>
            <th> Adresse </th>
            <th> Prix </th>
            <th> Surface </th>
            <th> Détails </th>
          </tr>

          {#each item?.transactions || [] as transaction, index}
            <tr class="text-center border-b last:border-b-0">
              <td>
                {index + 1}
              </td>
              <td>
                {transaction.date || ""}
              </td>
              <td>
                {transaction.address || ""}
              </td>
              <td>
                {formatAndcurrency(transaction.price) || ""}
              </td>
              <td>
                {#if transaction.surface}
                  {transaction.surface || ""} m2
                {/if}
              </td>
              <td>
                {transaction.details || ""}
              </td>
            </tr>
          {/each}
        </table>
      {/if}

      <h2 class="mt-5 text-xl font-semibold text-center underline">
        AVIS ET CONCLUSION
      </h2>

      <p class="text-justify" contenteditable="true">
        Compte tenu du marché immobilier actuel et des caractéristiques de votre
        bien, nous vous informons que la valeur vénale à ce jour, se situe dans
        une fourchette de prix de vente (hors honoraires et frais inhérents à la
        vente) comprise entre :
      </p>

      <!-- <div class="mt-2 mb-2 text-center">
        <input type="string" value={item?.price?.min || ""} />
        {currency} -
        <input type="string" value={item?.price?.max || ""} />
        {currency}
      </div> -->

      <div class="mt-4 mb-3 text-xl text-center" contenteditable="true">
        {item?.price?.min || ""}
        {currency} -

        {item?.price?.max || ""}
        {currency}

        (net vendeur)
      </div>

      <div class="text-justify">
        En espérant avoir répondu à votre attente et demeurant à votre
        disposition pour toutes informations complémentaires, veuillez agréer,
        l’expression de nos salutations distinguées.
      </div>
    </div>

    <div class="mt-2" contenteditable="true">
      Dossier suivi par

      {agentcontact?.contact?.firstname || "__________"}
      {agentcontact?.contact?.surname || "___________"}

      <!-- Agent commercial indépendant -->
      {#if agentcontact?.rsac}
        <div>
          RSAC
          {agentcontact?.rsac}
        </div>
      {/if}

      <div>
        {agentcontact?.contact?.email ||
          agentcontact?.emails?.[0]?.address ||
          ""}
      </div>
      <div>{agentcontact?.contact?.phone || ""}</div>

      <a href="https://{website}">
        {website}
      </a>
    </div>
  </div>
</TemplateLayout>

<!-- 
Analyse sectorielle</h2>
Analyse du prix de l'immobilier local
Rapport sur la situation géographique du bien
Étude des diagnostics immobiliers obligatoires
Analyse de l'historique de la copropriété
Rapport des dernières promesses de vente signées chez le notaire
Enquête de voisinage sur le confort de vie des alentours
Approche concurrentielle des biens à la vente sur le périmètre
Estimation des travaux à intégrer dans le prix net vendeur
Commerces environnants (musée, théâtre, parc d'attraction...) -->
