<script>
  export let id, item;
  import enterprise_customization from "../../../../enterprise_customization.ts";

  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";

  function widgetOpener_photo() {
    let cloud_name;
    let upload_preset;

    const userId = Meteor.userId();
    const userEmail = Meteor.user()?.emails[0].address || "";
    const tags = [userId, userEmail];
    const local = Meteor.absoluteUrl() == "http://localhost:3000/";

    if (local) {
      cloud_name = enterprise_customization.cloudinary.cloud_name_local;
      upload_preset = enterprise_customization.cloudinary.upload_preset_local;
      watermark = enterprise_customization.cloudinary.watermark_local;
    } else {
      cloud_name = enterprise_customization.cloudinary.cloud_name_sale;
      upload_preset =
        enterprise_customization.cloudinary.upload_preset_properties_sale;
      watermark = enterprise_customization.cloudinary.watermark_sale;
    }

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloud_name: cloud_name,
        upload_preset: upload_preset,
        tags: tags,
        language: "fr",
        text: {
          fr: {
            or: "Ou",
            queue: {
              title: "Photos/fichiers à charger",
              title_uploading_with_counter: "Uploading {{num}} files",
            },
            crop: {
              title: "Recadrer votre image",
            },
            local: {
              browse: "Parcourir",
              dd_title_single: "Glissez déposer une image",
              dd_title_multi: "Glissez déposer des images",
              drop_title_single: "Glissez déposer",
              drop_title_multiple: "Glissez déposer ",
            },
          },
        },
      },

      async function (error, result) {
        if (result.event != "success") return;
        let secure_url = result?.info?.secure_url;
        if (!secure_url) return;

        // Adding f_auto for WebP (we dont use othrwise partner cannot save the image with watermark)
        // secure_url = secure_url.replace(
        //   "/image/upload/",
        //   `/image/upload/f_auto/`
        // );

        await Meteor.callAsync("valuations.update.image", id, secure_url);
        // Call the .close() method in order to close the widget
        // myUploadWidget.close();
      }
    );
  }

  async function saveGeographySituation(event) {
    const description = document.getElementById("geographySituation").value;
    await Meteor.callAsync("valuations.update.geographySituation", {
      id,
      description,
    });
    saved_notification();
  }

  let firstgeographic = `D’un point de vue géographique, l’appartement se situe proche de tous commerces et du tram.`;
</script>

<svelte:head>
  <script
    src="https://upload-widget.cloudinary.com/global/all.js"
    type="text/javascript"
  ></script>
</svelte:head>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h4 class="text-xl">
    <i class="fa-solid fa-map-location-dot text-[var(--main-color)]" />
    Situation Géographique
  </h4>

  <div>
    L’environnement : situation géographique, attractivité du quartier,
    commerces, écoles, transports.

    <div class="mb-3">
      <textarea
        class="w-full input"
        id="geographySituation"
        aria-label="textarea"
        value={item.geographySituation || firstgeographic}
        rows="5"
        on:change={saveGeographySituation}
      />
    </div>

    {#if item?.image}
      <img class="max-w-lg rounded-lg" src={item.image} alt="" />
      <div class="mt-2">
        <button class="btn btn--light" on:click={widgetOpener_photo}>
          <i class="fa-solid fa-upload" />
          Remplacer image
        </button>
      </div>
    {:else}
      <button class="btn btn--dark" on:click={widgetOpener_photo}>
        <i class="fa-solid fa-upload" />
        Ajouter une image
      </button>
    {/if}
  </div>
</div>
