<script>
  export let id, item;
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { lowres } = require("../../../commonFunctions.ts");

  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";

  const { cloudinary: cloudSetup } = enterprise_customization;

  function widgetOpener_photo() {
    let cloud_name;
    let upload_preset;

    const userId = Meteor.userId();
    const userEmail = Meteor.user()?.emails[0].address || "";
    const tags = [userId, userEmail];
    const local = Meteor.absoluteUrl() == "http://localhost:3000/";

    if (local) {
      cloud_name = enterprise_customization.cloudinary.cloud_name_local;
      upload_preset = enterprise_customization.cloudinary.upload_preset_local;
      watermark = enterprise_customization.cloudinary.watermark_local;
    } else {
      cloud_name = enterprise_customization.cloudinary.cloud_name_sale;
      upload_preset =
        enterprise_customization.cloudinary.upload_preset_properties_sale;
      watermark = enterprise_customization.cloudinary.watermark_sale;
    }

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloud_name: cloud_name,
        upload_preset: upload_preset,
        tags: tags,
        language: "fr",
        text: {
          fr: {
            or: "Ou",
            queue: {
              title: "Photos/fichiers à charger",
              title_uploading_with_counter: "Uploading {{num}} files",
            },
            crop: {
              title: "Recadrer votre image",
            },
            local: {
              browse: "Parcourir",
              dd_title_single: "Glissez déposer une image",
              dd_title_multi: "Glissez déposer des images",
              drop_title_single: "Glissez déposer",
              drop_title_multiple: "Glissez déposer ",
            },
          },
        },
      },

      async function (error, result) {
        if (result.event != "success") return;
        let secure_url = result?.info?.secure_url;
        if (!secure_url) return;

        // Adding f_auto for WebP (we dont use othrwise partner cannot save the image with watermark)

        // secure_url = secure_url.replace(
        //   "/image/upload/",
        //   `/image/upload/f_auto/`
        // );

        await Meteor.callAsync("valuations.push.images", {
          id,
          value: [secure_url],
        });
        // Call the .close() method in order to close the widget
        // myUploadWidget.close();
      }
    );
  }

  function addImageUrl() {
    let url = document.getElementById("imageurl").value;
    if (!url) return;

    if (url?.includes("http:")) {
      url = url.replace("http:", "https:");
    }

    const value = [url];
    document.getElementById("imageurl").value = "";

    return Meteor.callAsync("valuations.push.images", { id, value });
  }

  async function save_title(i) {
    const value = document.getElementById("image_title" + i).value;
    await Meteor.callAsync("valuations.update.images.title", id, i, value);
    saved_notification();
  }

  async function deleteimage(value) {
    if (!confirm("Are you sure to delete this image?")) return;
    await Meteor.callAsync("valuations.pull.images", id, value);
    saved_notification();
  }

  async function left(value) {
    await Meteor.callAsync("valuations.position.images.left", id, value);
  }

  async function right(value) {
    await Meteor.callAsync("valuations.position.images.right", id, value);
  }

  let showurl = false;
</script>

<svelte:head>
  <script
    src="https://upload-widget.cloudinary.com/global/all.js"
    type="text/javascript"
  ></script>
</svelte:head>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h4 class="text-xl">
    <i class="fa-solid fa-image text-[var(--main-color)]" />
    Images
  </h4>

  <div>
    Photos du bien

    <div class="mb-2">
      <div>
        <button class="btn btn--dark" on:click={widgetOpener_photo}>
          <i class="fa-solid fa-upload" />
          Ajouter des photos
        </button>
        <!-- Add url images -->
        <button
          class="btn btn--light"
          on:click={() => {
            showurl = !showurl;
          }}
        >
          <i class="fa-solid fa-plus" />
          Ajouter une url
        </button>

        {#if showurl}
          <div class="flex">
            <div>
              Url <input id="imageurl" class="input" type="text" />
              <!-- Titre<input id="imagetitle" type="text" /> -->
            </div>

            <div>
              <button class="btn btn--light" on:click={addImageUrl}>
                Ajouter
              </button>
            </div>
          </div>
        {/if}
      </div>
    </div>

    <div class="grid grid-cols-1 gap-3 mb-2 md:grid-cols-3">
      {#each item.images || [] as image, i}
        <div>
          <div class="w-40">
            <img
              alt=""
              src={lowres({ url: image.url })}
              class="object-cover h-40 rounded-lg"
            />
            <div>
              <input
                on:change={() => {
                  save_title(i);
                }}
                class="border"
                id={"image_title" + i}
                type="text"
                placeholder="Title"
                value={image?.title}
                aria-label="Title"
              />

              {#if i != 0}
                <button
                  on:click={() => {
                    left(i);
                  }}
                  class="btn btn--light"
                >
                  <i class="fa-solid fa-circle-left" />
                </button>
              {/if}

              {#if i < item.images.length - 1 && item.images.length > 1}
                <button
                  on:click={() => {
                    right(i);
                  }}
                  class="btn btn--light"
                >
                  <i class="fa-solid fa-circle-right" />
                </button>
              {/if}

              <button
                on:click={() => {
                  deleteimage(image?.url);
                }}
                class="btn btn--light"
              >
                <i class="fa-solid fa-trash" />
              </button>
            </div>
          </div>
        </div>
      {/each}
    </div>

    <!-- <button class="btn btn--dark" on:click={widgetOpener_photo}>
      <i class="fa-solid fa-upload"></i>
      Ajouter une image
    </button> -->
  </div>
</div>
