<script>
  export let id;
  export let item;

  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { countryConfiguration, cloudinary: cloudSetup } =
    enterprise_customization;

  async function saveMovement(event) {
    await Meteor.callAsync("valuations.update.risks.groundMovement", {
      id,
      value: event.target.value,
    });
    saved_notification();
  }
  async function saveFlood(event) {
    await Meteor.callAsync("valuations.update.risks.flood", {
      id,
      value: event.target.value,
    });
    saved_notification();
  }
  async function saveSubmersion(event) {
    await Meteor.callAsync("valuations.update.risks.marineSubmersion", {
      id,
      value: event.target.value,
    });
    saved_notification();
  }

  function widgetOpener() {
    let cloud_name;
    let upload_preset;

    const userId = Meteor.userId();
    const userEmail = Meteor.user()?.emails[0].address || "";
    const tags = [userId, userEmail];
    const local = Meteor.absoluteUrl() == "http://localhost:3000/";

    if (local) {
      cloud_name = enterprise_customization.cloudinary.cloud_name_local;
      upload_preset = enterprise_customization.cloudinary.upload_preset_local;
      watermark = enterprise_customization.cloudinary.watermark_local;
    } else {
      cloud_name = enterprise_customization.cloudinary.cloud_name_sale;
      upload_preset =
        enterprise_customization.cloudinary.upload_preset_properties_sale;
      watermark = enterprise_customization.cloudinary.watermark_sale;
    }

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloud_name: cloud_name,
        upload_preset: upload_preset,
        tags: tags,
        language: "fr",
        text: {
          fr: {
            or: "Ou",
            queue: {
              title: "Photos/fichiers à charger",
              title_uploading_with_counter: "Uploading {{num}} files",
            },
            crop: {
              title: "Recadrer votre image",
            },
            local: {
              browse: "Parcourir",
              dd_title_single: "Glissez déposer une image",
              dd_title_multi: "Glissez déposer des images",
              drop_title_single: "Glissez déposer",
              drop_title_multiple: "Glissez déposer ",
            },
          },
        },
      },

      async function (error, result) {
        if (result.event != "success") return;
        let secure_url = result?.info?.secure_url;
        if (!secure_url) return;

        // Adding f_auto for WebP (we dont use othrwise partner cannot save the image with watermark)
        // secure_url = secure_url.replace(
        //   "/image/upload/",
        //   `/image/upload/f_auto/`
        // );

        await Meteor.callAsync("valuations.update.riskimage", id, secure_url);
        // Call the .close() method in order to close the widget
        // myUploadWidget.close();
      }
    );
  }
</script>

<svelte:head>
  <script
    src="https://upload-widget.cloudinary.com/global/all.js"
    type="text/javascript"
  >
  </script>
</svelte:head>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h4 class="text-xl">
    <i class="fa-solid fa-list-ul text-[var(--main-color)]" />
    Plan de prévention des risques (PPR)

    {#if countryConfiguration == "pf"}
      <button popovertarget="pop">
        <i class="text-blue-600 fa-solid fa-circle-info" />
      </button>
      <div class="text-xl bg-gray-100 rounded-lg" id="pop" popover>
        bureau.courrier@urbanisme.gov.pf
        <!-- dominique.tardy@urbanisme.gov.pf -->
      </div>
    {/if}
  </h4>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
    <div>
      Mouvement de terrain

      <div>
        {#if item.risks?.groundMovement == "high"}
          FORT : Inconstructible sauf si une étude technique atteste que le
          projet assure la sécurité des biens et des personnes
        {:else if item.risks?.groundMovement == "medium"}
          MOYEN : Constructible en tenant compte des recommandations di
          reglement. Une étude technique peut-être demandée
        {:else if item.risks?.groundMovement == "low"}
          FAIBLE : Constructible avec recommandations
        {:else}
          <select
            class="w-full border select"
            name=""
            on:change={(event) => {
              saveMovement(event);
            }}
          >
            <option value="">Risque</option>
            <option value="high">Risque fort</option>
            <option value="medium">Risque moyen</option>
            <option value="low">Risque faible</option>
          </select>
        {/if}
      </div>
    </div>
    <div>
      Innondation

      <div>
        {#if item.risks?.flood == "high"}
          FORT : Inconstructible sauf si une étude technique atteste que le
          projet assure la sécurité des biens et des personnes
        {:else if item.risks?.flood == "medium"}
          MOYEN : Constructible avec obligation d'une cite plancher > 1m du
          terrain naturel et recommandation sur pilotis
        {:else if item.risks?.flood == "low"}
          FAIBLE : Constructible avec recommandations
        {:else}
          <select
            class="w-full border select"
            name=""
            on:change={(event) => {
              saveFlood(event);
            }}
          >
            <option value="">Risque</option>
            <option value="high">Risque fort</option>
            <option value="medium">Risque moyen</option>
            <option value="low">Risque faible</option>
          </select>
        {/if}
      </div>
    </div>
    <div>
      Sumersion marine (Houle)

      <div>
        {#if item.risks?.marineSubmersion == "high"}
          FORT : Inconstructible sauf si une étude technique atteste que le
          projet assure la sécurité des biens et des personnes
        {:else if item.risks?.marineSubmersion == "medium"}
          MOYEN : Constructible avec obligation d'une cote sous plancher > 1m du
          terrain naturel et recommandation sur pilotis
        {:else if item.risks?.marineSubmersion == "low"}
          FAIBLE : Constructible avec obligation d'une cote sous plancher > 0.5m
          du terrain naturel et recommandation sur pilotis
        {:else}
          <select
            class="w-full border select"
            name=""
            on:change={(event) => {
              saveSubmersion(event);
            }}
          >
            <option value="">Risque</option>
            <option value="high">Risque fort</option>
            <option value="medium">Risque moyen</option>
            <option value="low">Risque faible</option>
          </select>
        {/if}
      </div>
    </div>
  </div>

  <button class="mt-10 btn btn--dark" on:click={widgetOpener}>
    <i class="fa-solid fa-upload" />

    {item.riskImage ? "Modifier l'image" : "Ajouter une image"}
  </button>

  {#if item.riskImage}
    <img src={item.riskImage} class="max-w-lg rounded" alt="" />
  {/if}
</div>
