<script>
  import { onMount } from "svelte";
  // import { Valuations } from "api/assets_sale";
  import { Valuations } from "../../../api/valuations.js";
  import { Assets_sale } from "../../../api/assets_sale.js";
  import { Contacts } from "../../../api/contacts.js";

  import dayjs from "dayjs";

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency } = enterprise_customization;
  require("dayjs/locale/fr");
  dayjs.locale("fr");

  import Footer from "../../admin/databases/mandates/footer.svelte";
  const { formatNumber } = require("../../../commonFunctions.ts");

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  onMount(async () => {
    Meteor.subscribe("valuation", id);
    Meteor.subscribe("thisuser");
    Meteor.subscribe("for_sale_assets"); //Need to be optimized with the only asset of the valuation
    Meteor.subscribe("users"); // To be optimized - Needed for "Dossier suivi par...."
    Meteor.subscribe("contacts"); //To be optimized for the contact
  });

  let item;
  let asset;

  let priceReference_land_average;
  let priceReference_house_average;
  let priceReference_apartment_average;

  let priceReference_land_total;
  let priceReference_house_total;
  let priceReference_apartment_total;

  let agentcontact;
  let contactInfo;

  $m: {
    item = Valuations.findOne({ _id: id });
    console.log({ item });

    if (item) {
      if (item.asset?.value) {
        asset = Assets_sale.findOne(item.asset.value);
        console.log({ asset });
      }

      if (item.visitDate) {
        item.visitDate = dayjs(item.visitDate).format("dddd, DD MMMM YYYY");
      }

      if (item.userId) {
        agentcontact = Meteor.users.findOne(item.userId);
      }

      if (item.seller) {
        contactInfo = Contacts.findOne(item.seller.value);
      }

      if (item.price?.min) {
        item.price.min = formatNumber(item.price.min);
      }
      if (item.price?.max) {
        item.price.max = formatNumber(item.price.max);
      }

      if (item.priceReference) {
        if (item.priceReference.land?.average) {
          priceReference_land_average = formatNumber(
            item.priceReference.land.average
          );

          priceReference_land_total = formatNumber(
            item.priceReference.land.average * asset?.landSurface
          );
        }

        if (item.priceReference.house?.average) {
          priceReference_house_average = formatNumber(
            item.priceReference.house.average
          );

          priceReference_house_total = formatNumber(
            item.priceReference.house.average * asset?.livingArea
          );
        }

        if (item.priceReference.apartment?.average) {
          priceReference_apartment_average =
            // item.priceReference.apartment.average.toLocaleString();
            formatNumber(item.priceReference.apartment.average);

          priceReference_apartment_total = formatNumber(
            item.priceReference.apartment.average * asset?.livingArea
          );
        }
      }
    }
  }
</script>

<div class="container mx-auto" contenteditable="true">
  <button class="print:hidden btn btn--dark" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>
  <button class="print:hidden btn btn--dark" onclick="history.back()">
    Retour
  </button>
  <div class="grid grid-cols-2 justify-content-around">
    <div>
      <h1 class="text-2xl">
        Avis de valeur {item?._id || ""}
      </h1>
    </div>
    <div class="ml-auto">
      <img
        class="max-w-[200px] max-h-[70px]"
        src={enterprise_customization.logourl}
        alt="logo"
      />
    </div>
  </div>

  <!-- Bande polynesienne -->
  <!-- <div class="flex justify-center">
    <img
      src="https://res.cloudinary.com/anoa-immo/image/upload/v1634951908/samples/motif_ifpgqg.png"
      alt=""
    />
  </div> -->

  <div class="mt-2">
    <h2 class="text-2xl text-center">PRÉAMBULE</h2>

    <p>
      La valeur est exprimée suivant l’état du bien au jour de la visite du

      {item?.visitDate || "____________________"}
      (intérieure et extérieure) et en date de valeur des présentes.
    </p>

    <p>
      Cet avis de valeur est établi à la demande de :
      {#if contactInfo?.gender == "male"}
        Monsieur
      {:else if contactInfo?.gender == "female"}
        Madame
      {/if}

      {item?.seller?.label || "_______________________"}
      agissant en sa qualité de propriétaire.
    </p>

    <p>
      Cette évaluation est établie sous réserve que l’étude des diagnostics
      techniques ou des examens plus approfondis (certificat d’urbanisme, titre
      de propriété, surface, règlement de copropriété) ne fassent pas apparaître
      de servitude particulière, d’engagement contractuel ou l’existence
      d’éléments pouvant compromettre la santé du bâti et/ou de ses occupants,
      ayant une incidence en plus ou en moins sur la détermination du prix de
      votre bien.
    </p>
    <p>
      Cet avis de valeur ne peut bien entendu être assimilé à une expertise,
      laquelle doit être établie par un expert immobilier, en possession de tous
      les paramètres et documents nécessaires à ce travail. Il conviendra de
      renouveler cet avis de valeur si votre projet de mise en vente est
      supérieur à six mois afin de disposer de données fiables et pertinentes.
    </p>
  </div>

  <h2 class="text-2xl text-center">DÉSIGNATION DU BIEN</h2>

  {asset?.title || ""}

  {asset?.address?.streetAddress ||
    "__________________________________________________________________________________________________"}
  {asset?.address?.city || ""}
  {asset?.address?.country || ""}
  {asset?.address?.postalCode || ""}
  <br />

  Type: {asset?.type || "__________________________"}

  {#if asset?.constructionYear}
    <br />
    Construction: {asset?.constructionYear}
  {/if}
  <br /><br />

  <ul>
    {#if asset?.roomsNumber?.bedrooms}
      <li>
        {asset.roomsNumber.bedrooms} chambre(s)
      </li>
    {/if}
    {#if asset?.roomsNumber?.bathrooms}
      <li>
        {asset.roomsNumber.bathrooms} salle(s) de bain
      </li>
    {/if}

    {#if asset?.roomsNumber?.kitchens}
      <li>
        {asset.roomsNumber.kitchens} cuisine(s)
      </li>
    {/if}

    {#if asset?.roomsNumber?.parkingslots}
      <li>
        {asset.roomsNumber.parkingslots} parking(s)
      </li>
    {/if}

    {#if asset?.roomsNumber?.cellars}
      <li>
        {asset.roomsNumber.cellars} cave(s)
      </li>
    {/if}
  </ul>

  <div class="break-inside-avoid">
    <div class="mb-3">
      <h2 class="text-2xl text-center">ÉVALUATION DE LA VALEUR VÉNALE</h2>
      Notre estimation est établie sous forme d’une étude croisée du marché, avec
      des biens similaires au vôtre (biens à la vente, sous compromis, vendus ...)
      dans un environnement comparable et sur une période donnée. Sous certaines
      réserves, elle tient compte des caractéristiques de votre bien. Elle est établie
      sur la base des prix de vente actuels du marché immobilier et de la connaissance
      que nous avons des transactions. En réalisant une étude sur le prix au m² moyen,
      nous obtenons le résultat suivant :
    </div>

    <div>
      {#if asset?.type == "house" || asset?.type == "land" || asset?.type == "building"}
        {#if priceReference_land_average}
          <p>
            Terrain : Valeur de référence : {asset?.landSurface ||
              "_______________"}m² x
            {priceReference_land_average}
            {currency}/m² =
            {priceReference_land_total}
            {currency}
          </p>
        {/if}
      {/if}

      <!-- Maison -->
      {#if asset?.type == "house" || asset?.type == "building"}
        {#if priceReference_house_average}
          <p>
            Construction : Valeur de référence : {asset?.livingArea ||
              "_______________"}m² x
            {priceReference_house_average}
            {currency}/m² =
            {priceReference_house_total}
            {currency}
          </p>
        {/if}
      {/if}

      <!-- apartment -->
      {#if asset?.type == "apartment"}
        {#if priceReference_apartment_average}
          <p>
            Valeur de référence : {asset?.livingArea || "_______________"}m² x
            {priceReference_apartment_average}
            {currency}/m² =
            {priceReference_apartment_total}
            {currency}
          </p>
        {/if}
      {/if}
    </div>

    <h2 class="text-2xl text-center">AVIS ET CONCLUSION</h2>

    Compte tenu du marché immobilier actuel et des caractéristiques de votre
    bien, nous vous informons que la valeur vénale à ce jour, se situe dans une
    fourchette de prix de vente (hors honoraires et frais inhérents à la vente)
    comprise entre :

    <h2 class="mt-2 mb-2 text-center">
      {item?.price?.min || ""}
      {currency} -

      {item?.price?.max || ""}
      {currency}
    </h2>

    Espérant avoir répondu à votre attente et demeurant à votre disposition pour
    toutes informations complémentaires, veuillez agréer, l’expression de nos
    salutations distinguées.
  </div>

  <div class="mt-2">
    Dossier suivi par
    {agentcontact?.contact?.firstname || ""}
    {agentcontact?.contact?.surname || ""}

    <!-- Agent commercial indépendant -->
    {#if agentcontact?.rsac}
      <div>
        RSAC
        {agentcontact?.rsac}
      </div>
    {/if}

    <div>
      {agentcontact?.contact?.email || agentcontact?.emails?.[0]?.address || ""}
    </div>
    <div>{agentcontact?.contact?.phone || ""}</div>

    <a href="https://{enterprise_customization.website}">
      {enterprise_customization.website}
    </a>
  </div>
</div>

<!-- <h2 class="text-lg">SYNTHÈSE DU MARCHÉ IMMOBILIER POLYNESIEN</h2>

<p>
  Au niveau territorial, la dynamique du marché immobilier observée depuis
  maintenant quatre ans s’est poursuivie, voire accélérée, au cours de l’année
  écoulée. Alors que les prix ont enregistrés une nouvelle hausse, le nombre de
  transactions dans l’ancien au cours des douze derniers mois a dépassé les
  chiffres records de l’an dernier.
</p>

<p>
  Toutefois les niveaux de prix atteints interrogent sur l’accessibilité du
  logement qui pèse déjà lourd dans le budget des polynésiens. Dans l’ensemble
  du territoire, le problème de pouvoir d’achat immobilier semble devoir se
  poser à moyen et long terme au vu de la situation actuelle (hausse des taux et
  crise sanitaire). Selon des sondages les prix devraient être amené à baisser
  mais il est encore trop tôt pour réaliser un constat.
</p> 

-->

<Footer />

<!-- 
Analyse sectorielle
Analyse du prix de l'immobilier local
Rapport sur la situation géographique du bien
Étude des diagnostics immobiliers obligatoires
Analyse de l'historique de la copropriété
Rapport des dernières promesses de vente signées chez le notaire
Enquête de voisinage sur le confort de vie des alentours
Approche concurrentielle des biens à la vente sur le périmètre
Estimation des travaux à intégrer dans le prix net vendeur
Commerces environnants (musée, théâtre, parc d'attraction...) -->
<style>
  div {
    text-align: justify;
    text-justify: inter-word;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }
</style>
