<script>
  import { onMount } from "svelte";

  import { BlackList } from "../../../api/blacklist.js";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { error_notification } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("blackList");
  });

  const thisuserId = Meteor.userId();

  let items = [];
  let showtab = false;

  $m: {
    items = BlackList.find({}, { sort: { createdAt: -1 } }).fetch();
    items.forEach((i) => {
      i.createdAt = dayjs(i.createdAt).format("DD MMM YYYY");
    });

    console.log({ items });
  }

  async function addItem() {
    const surname = document.getElementById("surname").value;
    const firstname = document.getElementById("firstname").value;
    const birthdate = document.getElementById("birthdate").value;
    const incidentDate = document.getElementById("incidentDate").value;
    const city = document.getElementById("city").value;
    const description = document.getElementById("description").value;

    if (!surname && !firstname) {
      error_notification("Name");
      return;
    }

    await Meteor.callAsync("blackList.insert", {
      firstname,
      surname,
      birthdate,
      incidentDate,
      city,
      description,
    });
  }
</script>

<h2 class="text-xl">
  <i class="fa-solid fa-users-between-lines text-[var(--main-color)]" />
  Liste noire
</h2>

{#if !showtab}
  <button
    class="btn btn--blue"
    on:click={() => {
      showtab = true;
    }}
  >
    <i class="fa-solid fa-plus"></i>
    Ajouter une personne
  </button>
{/if}

{#if showtab}
  <div>
    <!-- Add  -->
    <div class="grid items-center grid-cols-1 gap-3 lg:grid-cols-5">
      <div>
        Nom
        <input
          class="w-full input"
          type="text"
          placeholder="Nom de famille"
          id="surname"
          aria-describedby="surname"
        />
      </div>
      <div>
        Prénom(s)
        <input
          class="w-full input"
          type="text"
          placeholder="Prénom"
          id="firstname"
          aria-describedby="firstname"
        />
      </div>

      <div>
        Date de naissance
        <input
          class="input"
          type="date"
          placeholder="Date"
          id="birthdate"
          aria-describedby="birthdate"
        />
      </div>

      <div>
        Date de l'incident
        <input
          class="input"
          type="date"
          placeholder="Date"
          id="incidentDate"
          aria-describedby="incidentDate"
        />
      </div>

      <div>
        Ville
        <input
          class="input"
          type="text"
          placeholder="Ville"
          id="city"
          aria-describedby="city"
        />
      </div>
    </div>

    <div>
      Description de l'incident
      <textarea
        class="w-full input"
        type="text"
        placeholder="Description"
        id="description"
        aria-describedby="description"
      />
    </div>

    <div>
      <button class="btn btn--blue" on:click={addItem}>
        <i class="fa-solid fa-plus"></i>
        Ajouter une personne
      </button>
    </div>
  </div>
{/if}

<!-- end add -->

{#if items.length > 0}
  <div class="p-3 mt-6 bg-white rounded-xl">
    <h5 class="text-xl">Blacklist</h5>

    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-left">Nom</th>
            <th class="text-left">Né(e) </th>
            <th class="text-left">Description</th>
            <th class="text-left">Date</th>
            <th class="text-left"> </th>
          </tr>
        </thead>
        <tbody>
          {#each items as item}
            <tr class="border-b">
              <td>
                {item.name?.firstname || ""}
                {item.name?.surname || ""}
              </td>
              <td>
                {item.birthdate || ""}
              </td>
              <td>
                {item.description || "Aucun"}
              </td>
              <td class="text-sm">
                {#if item.createdAt}
                  {item.createdAt}
                {/if}
              </td>
              <td class="text-sm">
                {#if item.userId == Meteor.userId()}
                  <button
                    class="btn"
                    on:click={async () => {
                      if (confirm("🗑️ ?")) {
                        await Meteor.callAsync("blackList.remove", item._id);
                      }
                    }}
                  >
                    x
                  </button>
                {/if}
              </td>
              <!-- <td>
                <div>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    aria-expanded="false"
                  >
                    <i class="fa-solid fa-bars" />
                  </button>
                  <ul>
                    <li>
                      <button data-value={item._id}> Dupliquer </button>
                    </li>
                    <li>
                      <button data-value={item._id} on:click={deleteItem}>
                        Supprimer
                      </button>
                    </li>
                  </ul>
                </div>
              </td> -->
            </tr>
          {:else}
            <!-- <Loading /> -->
          {/each}
        </tbody>
      </table>
    </div>
  </div>
{/if}
