<script>
  import enterprise_customization from "../../../enterprise_customization";
  const { currency } = enterprise_customization;

  export let dpe, ges, cost;
  // import DPE_indicator from "./DPE_indicator.svelte";

  let activeA, activeB, activeC, activeD, activeE, activeF, activeG;

  $m: {
    activeA =
      activeB =
      activeC =
      activeD =
      activeE =
      activeF =
      activeG =
        "print:hidden";

    if (ges > 80 || dpe >= 450) {
      activeG = "active";
    } else if (ges > 55 || dpe > 331) {
      activeF = "active";
    } else if (ges > 35 || dpe >= 231) {
      activeE = "active";
    } else if (ges > 20 || dpe >= 151) {
      activeD = "active";
    } else if (ges > 10 || dpe >= 91) {
      activeC = "active";
    } else if (ges >= 6 || dpe > 51) {
      activeB = "active";
    } else if (ges < 6 || dpe < 51) {
      activeA = "active";
    }
  }
</script>

<div>
  <div class="dpe energy_bloc mr-xl no-margin-mobile">
    <span class="text-sm font-bold text-green-500 energy_bloc_description">
      Logement très performant <!-- Energy-efficient property -->
    </span>
    <div class="pt-10 pl-44 energy_wrapper">
      <div class="energy_bar">
        {#if activeA == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².an</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500">
                  Primary energy
                </span>
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeA} a dpe energy_bar_inner">
          <div class="{activeA} energy_bar_letter">A</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeB == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².year</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500"
                  >Primary energy</span
                >
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².year</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}
        <!--  -->
        <div class="{activeB} b dpe energy_bar_inner">
          <div class="{activeB} energy_bar_letter">B</div>
        </div>
      </div>
      <div class="energy_bar">
        <!--  -->
        {#if activeC == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².year</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500"
                  >Primary energy</span
                >
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².year</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}
        <!--  -->
        <div class="{activeC} c dpe energy_bar_inner">
          <div class="{activeC} energy_bar_letter">C</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeD == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².year</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500"
                  >Primary energy</span
                >
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².year</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}
        <!--  -->
        <div class="{activeD} d dpe energy_bar_inner">
          <div class="{activeD} energy_bar_letter">D</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeE == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².year</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500"
                  >Primary energy</span
                >
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².year</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeE} dpe e energy_bar_inner">
          <div class="{activeE} energy_bar_letter">E</div>
        </div>
      </div>
      <div class="energy_bar">
        <!--  -->
        {#if activeF == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².year</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500"
                  >Primary energy</span
                >
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².year</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}
        <!--  -->
        <div class="{activeF} dpe energy_bar_inner f">
          <div class="{activeF} energy_bar_letter">
            F <span class="asterisk">**</span>
          </div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeG == "active"}
          <div class="dpe energy">
            <div class="energy_column">
              <div class="energy_column_value">{dpe || ""}</div>
              <div class="energy_column_unit">kWh/m².year</div>
              <div class="energy_column_label">
                Consumption<br /><span class="text-gray-500"
                  >Primary energy</span
                >
              </div>
            </div>
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².year</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeG} dpe energy_bar_inner g">
          <div class="{activeG} energy_bar_letter">
            G <span class="asterisk">**</span>
          </div>
        </div>
      </div>
    </div>
    <span class="text-sm font-bold text-red-500 energy_bloc_description">
      Logement extrêmement consommateur d'énergie <!-- Highly energy-consuming housing -->
    </span>
    <!-- <span class="energy_bloc_description text-gray-2">
      ** Energy strainer
    </span> -->
  </div>

  {#if cost}
    <div class="text-sm mr-xl">
      <span class="text-gray-500">Energy cost estimation</span> :
      {#if cost.min}
        <br />
        Min: {cost.min}
        {currency}/an
      {/if}
      {#if cost.max}
        Max: {cost.max} {currency}/an
      {/if}
    </div>
  {/if}
</div>

<style>
  .energy_bloc {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @media (max-width: 767px) {
    .no-margin-mobile {
      margin: 0;
    }
  }

  .energy_bloc .energy_wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    max-width: 450px;
  }

  .energy_bar {
    position: relative;
    margin: 3px 0;
    width: 100%;
    display: flex;
  }

  .energy_bar_inner.a.dpe {
    background-color: #009c6d;
    box-shadow: inset 0 0 0 600px #009c6d;
  }

  @media (max-width: 479px) {
    .energy_bar:first-child .energy_bar_inner.dpe {
      width: 30px;
    }
  }

  .energy_bar_inner {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding-left: 10px;
  }

  .energy_bloc {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .energy_bloc * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .energy_bloc .ges_extralabel {
    position: absolute;
    top: -2rem;
  }

  @media (max-width: 767px) {
    .energy_bloc.ges {
      margin-top: 3rem;
    }
  }
  .energy_bloc .energy_wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    max-width: 450px;
  }

  .energy_wrapper .energy_bar {
    position: relative;
    margin: 3px 0;
    width: 100%;
    display: flex;
  }

  .energy_bar:first-child .energy_bar_inner {
    width: 110px;
  }
  @media (max-width: 479px) {
    .energy_bar:first-child .energy_bar_inner {
      width: 91.6666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:first-child .energy_bar_inner {
      width: 70.625px;
    }
  }
  .energy_wrapper .energy_bar:first-child .energy_bar_inner.dpe {
    width: 45px;
  }
  @media (max-width: 479px) {
    .energy_bloc .energy_wrapper .energy_bar:first-child .energy_bar_inner.dpe {
      width: 30px;
    }
  }
  @media (max-width: 330px) {
    .energy_bloc .energy_wrapper .energy_bar:first-child .energy_bar_inner.dpe {
      width: 25px;
    }
  }

  .energy_bar:nth-child(2) .energy_bar_inner {
    width: 125px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(2) .energy_bar_inner {
      width: 104.1666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(2) .energy_bar_inner {
      width: 80px;
    }
  }
  .energy_bloc .energy_wrapper .energy_bar:nth-child(2) .energy_bar_inner.dpe {
    width: 60px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(2) .energy_bar_inner.dpe {
      width: 39px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(2) .energy_bar_inner.dpe {
      width: 32.5px;
    }
  }

  .energy_bar:nth-child(3) .energy_bar_inner {
    width: 140px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(3) .energy_bar_inner {
      width: 116.6666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(3) .energy_bar_inner {
      width: 89.375px;
    }
  }
  .energy_wrapper .energy_bar:nth-child(3) .energy_bar_inner.dpe {
    width: 75px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(3) .energy_bar_inner.dpe {
      width: 48px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(3) .energy_bar_inner.dpe {
      width: 40px;
    }
  }

  .energy_bar:nth-child(4) .energy_bar_inner {
    width: 155px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(4) .energy_bar_inner {
      width: 129.1666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(4) .energy_bar_inner {
      width: 98.75px;
    }
  }
  .energy_bloc .energy_wrapper .energy_bar:nth-child(4) .energy_bar_inner.dpe {
    width: 90px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(4) .energy_bar_inner.dpe {
      width: 57px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(4) .energy_bar_inner.dpe {
      width: 47.5px;
    }
  }

  .energy_bar:nth-child(5) .energy_bar_inner {
    width: 170px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(5) .energy_bar_inner {
      width: 141.6666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(5) .energy_bar_inner {
      width: 108.125px;
    }
  }
  .energy_wrapper .energy_bar:nth-child(5) .energy_bar_inner.dpe {
    width: 105px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(5) .energy_bar_inner.dpe {
      width: 66px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(5) .energy_bar_inner.dpe {
      width: 55px;
    }
  }

  .energy_bar:nth-child(6) .energy_bar_inner {
    width: 185px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(6) .energy_bar_inner {
      width: 154.1666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(6) .energy_bar_inner {
      width: 117.5px;
    }
  }
  .energy_wrapper .energy_bar:nth-child(6) .energy_bar_inner.dpe {
    width: 120px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(6) .energy_bar_inner.dpe {
      width: 75px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(6) .energy_bar_inner.dpe {
      width: 62.5px;
    }
  }

  .energy_bar:nth-child(7) .energy_bar_inner {
    width: 200px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(7) .energy_bar_inner {
      width: 166.6666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(7) .energy_bar_inner {
      width: 126.875px;
    }
  }
  .energy_wrapper .energy_bar:nth-child(7) .energy_bar_inner.dpe {
    width: 135px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(7) .energy_bar_inner.dpe {
      width: 84px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(7) .energy_bar_inner.dpe {
      width: 70px;
    }
  }

  .energy_bar:nth-child(8) .energy_bar_inner {
    width: 215px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(8) .energy_bar_inner {
      width: 179.1666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(8) .energy_bar_inner {
      width: 136.25px;
    }
  }
  .energy_wrapper .energy_bar:nth-child(8) .energy_bar_inner.dpe {
    width: 150px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(8) .energy_bar_inner.dpe {
      width: 93px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(8) .energy_bar_inner.dpe {
      width: 77.5px;
    }
  }

  .energy_bar:nth-child(9) .energy_bar_inner {
    width: 230px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(9) .energy_bar_inner {
      width: 191.6666666667px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(9) .energy_bar_inner {
      width: 145.625px;
    }
  }
  .energy_wrapper .energy_bar:nth-child(9) .energy_bar_inner.dpe {
    width: 165px;
  }
  @media (max-width: 479px) {
    .energy_bar:nth-child(9) .energy_bar_inner.dpe {
      width: 102px;
    }
  }
  @media (max-width: 330px) {
    .energy_bar:nth-child(9) .energy_bar_inner.dpe {
      width: 85px;
    }
  }

  .energy_bar_inner {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding-left: 10px;
  }

  .energy_bar_inner:before {
    content: "";
    position: absolute;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    height: 0;
    width: 0;
    right: -15px;
  }

  .energy_bar_inner.active {
    height: 60px;
    border: 2px solid #000;
  }

  .energy_bar_inner.active:before {
    border-bottom: 29px solid transparent;
    border-top: 29px solid transparent;
    right: -29px;
    border-left-width: 29px;
    z-index: 2;
  }
  .energy_bar_inner.active.dpe:after {
    content: "";
    position: absolute;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    height: 0;
    width: 0;
    right: -32px;
    border-left: 30px solid #000;
    z-index: 1;
  }
  @media (max-width: 330px) {
    .energy_bloc
      .energy_wrapper
      .energy_bar
      .energy_bar_inner.active.dpe:after {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.aplus.dpe {
    background-color: #019c31;
    box-shadow: inset 0 0 0 600px #019c31;
  }
  .energy_bloc .energy_wrapper .energy_bar .energy_bar_inner.aplus.dpe:before {
    border-left: 15px solid #019c31;
  }
  @media (max-width: 330px) {
    .energy_bloc
      .energy_wrapper
      .energy_bar
      .energy_bar_inner.aplus.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.aplus.dpe.active:before {
    border-left: 29px solid #019c31;
  }

  .energy_bar_inner.a.dpe {
    background-color: #009c6d;
    box-shadow: inset 0 0 0 600px #009c6d;
  }
  .energy_bar_inner.a.dpe:before {
    border-left: 15px solid #009c6d;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.a.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.a.dpe.active:before {
    border-left: 29px solid #009c6d;
  }

  .energy_bar_inner.b.dpe {
    background-color: #4fb050;
    box-shadow: inset 0 0 0 600px #4fb050;
  }
  .energy_bar_inner.b.dpe:before {
    border-left: 15px solid #4fb050;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.b.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.b.dpe.active:before {
    border-left: 29px solid #4fb050;
  }

  .energy_bar_inner.bminus.dpe {
    background-color: #bdd52f;
    box-shadow: inset 0 0 0 600px #bdd52f;
  }
  .energy_bar_inner.bminus.dpe:before {
    border-left: 15px solid #bdd52f;
  }
  @media (max-width: 330px) {
    .energy_bloc
      .energy_wrapper
      .energy_bar
      .energy_bar_inner.bminus.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.bminus.dpe.active:before {
    border-left: 29px solid #bdd52f;
  }

  .energy_bar_inner.c.dpe {
    background-color: #78bd76;
    box-shadow: inset 0 0 0 600px #78bd76;
  }
  .energy_bar_inner.c.dpe:before {
    border-left: 15px solid #78bd76;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.c.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.c.dpe.active:before {
    border-left: 29px solid #78bd76;
  }

  .energy_bar_inner.d.dpe {
    background-color: #f4e708;
    box-shadow: inset 0 0 0 600px #f4e708;
  }
  .energy_bar_inner.d.dpe:before {
    border-left: 15px solid #f4e708;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.d.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.d.dpe.active:before {
    border-left: 29px solid #f4e708;
  }

  .energy_bar_inner.e.dpe {
    background-color: #f0b50f;
    box-shadow: inset 0 0 0 600px #f0b50f;
  }
  .energy_bar_inner.e.dpe:before {
    border-left: 15px solid #f0b50f;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.e.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.e.dpe.active:before {
    border-left: 29px solid #f0b50f;
  }

  .energy_bar_inner.f.dpe {
    background-color: #eb8235;
    box-shadow: inset 0 0 0 600px #eb8235;
  }
  .energy_bar_inner.f.dpe:before {
    border-left: 15px solid #eb8235;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.f.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.f.dpe.active:before {
    border-left: 29px solid #eb8235;
  }

  .energy_bar_inner.g.dpe {
    background-color: #d7221f;
    box-shadow: inset 0 0 0 600px #d7221f;
  }
  .energy_bar_inner.g.dpe:before {
    border-left: 15px solid #d7221f;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.g.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.g.dpe.active:before {
    border-left: 29px solid #d7221f;
  }

  .energy_bar_inner.h.dpe {
    background-color: #d7221f;
    box-shadow: inset 0 0 0 600px #d7221f;
  }
  .energy_bar_inner.h.dpe:before {
    border-left: 15px solid #d7221f;
  }
  @media (max-width: 330px) {
    .energy_bar_inner.h.dpe:before {
      transform: scaleX(0.5);
      transform-origin: left center;
    }
  }

  .energy_bar_inner.h.dpe.active:before {
    border-left: 29px solid #d7221f;
  }

  @media (max-width: 479px) {
    .energy_bar_inner .energy_bar_label {
      font-size: 0.85rem;
      letter-spacing: -0.5px;
      line-height: 0.9;
    }
  }

  .energy_bar_inner .energy_bar_letter {
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-right: 8px;
  }

  .energy_bar_inner .energy_bar_letter {
    color: #fff;
  }

  .energy_bar_inner .energy_bar_letter.active {
    font-size: 3rem;
    /* -webkit-text-stroke: 2px #000; */
    margin-left: -4px;
  }

  .energy_bar .energy_bar_inner .energy_bar_letter.active .asterisk {
    font-size: 1rem;
    -webkit-text-stroke: transparent;
    top: -20px;
    position: relative;
  }

  .energy_bar .energy_value {
    right: 60px;
    top: 15px;
    background: #000;
    box-shadow: inset 0 0 0 300px #000;
    color: #fff;
    position: absolute;
    display: inline-block;
    padding: 5px;
    transform: translateY(-50%);
    font-weight: 700;
  }
  @media (max-width: 479px) {
    .energy_bar .energy_value {
      right: 40px;
    }
  }

  .energy_bar .energy_value:before {
    width: 0;
    height: 0;
    border-color: transparent #000 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
  }

  .energy_bar .energy {
    border: 2px solid #000;
    display: flex;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    transform: translateX(-100%);
  }
  .energy_bar .energy.dpe {
    left: 2px;
  }

  .energy_bar .energy .energy_column {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 85px;
  }

  .energy_bar .energy .energy_column + .energy_column {
    border-left: 2px solid #000;
    padding-left: 5px;
  }

  .energy_bar .energy .energy_column_value {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .energy .energy_column_label {
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }
  .energy_bar .energy .energy_column_unit {
    font-size: 0.6rem;
  }

  .energy_bloc .extendEnergy {
    color: #0f6e94;
    margin-left: 2rem;
    position: absolute;
    right: 0;
  }
  @media (max-width: 330px) {
    .energy_bloc .extendEnergy {
      margin-top: 4px;
    }
  }

  .energy_bloc .toexpand {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
  }
  .energy_bloc .noDPE_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    border-radius: 4px;
    border: 2px solid #000;
    z-index: 500;
    padding: 20px;
    min-width: 200px;
    font-weight: 900;
    text-align: center;
  }
</style>
