<script>
  export let dpe, ges;
</script>

<div class="dpe newEnergy">
  <div class="newEnergy_column">
    <div class="newEnergy_column_value">{dpe || ""}</div>
    <div class="newEnergy_column_unit">kWh/m².year</div>
    <div class="newEnergy_column_label">
      Consumption<br />
      <span class="text-gray-500">Primary energy</span>
    </div>
  </div>
  <div class="newEnergy_column">
    <div class="newEnergy_column_value">{ges || ""}*</div>
    <div class="newEnergy_column_unit">kg CO₂/m².year</div>
    <div class="newEnergy_column_label">Emissions</div>
  </div>
</div>

<style>
  .energy_bloc .energy_wrapper .energy_bar .newEnergy .newEnergy_column {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 85px;
  }
  .energy_bloc
    .energy_wrapper
    .energy_bar
    .newEnergy
    .newEnergy_column
    + .newEnergy_column {
    border-left: 2px solid #000;
    padding-left: 5px;
  }
  .dpeReduced
    .energy_bloc
    .energy_wrapper
    .energy_bar
    .newEnergy
    .newEnergy_column
    + .newEnergy_column {
    min-width: 95px;
  }
  .energy_bloc .energy_wrapper .energy_bar .newEnergy .newEnergy_column_value {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .energy_bloc .energy_wrapper .energy_bar .newEnergy .newEnergy_column_label {
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }
  .energy_bloc .energy_wrapper .energy_bar .newEnergy .newEnergy_column_unit {
    font-size: 0.7rem;
  }
</style>
