<script>
  export let ges;

  let activeA, activeB, activeC, activeD, activeE, activeF, activeG;

  $m: {
    // Class print:hidden to save space on print
    activeA =
      activeB =
      activeC =
      activeD =
      activeE =
      activeF =
      activeG =
        "print:hidden";

    if (ges < 6) {
      activeA = "active";
    } else if (ges >= 6 && ges <= 10) {
      activeB = "active";
    } else if (ges >= 11 && ges <= 20) {
      activeC = "active";
    } else if (ges >= 21 && ges <= 35) {
      activeD = "active";
    } else if (ges >= 36 && ges <= 55) {
      activeE = "active";
    } else if (ges >= 56 && ges <= 80) {
      activeF = "active";
    } else if (ges > 80) {
      activeG = "active";
    }
  }
</script>

<div>
  <div class="energy_bloc ges mr-xl no-margin-mobile">
    <!-- >
      * Of which greenhouse gas emissions
     -->
    <span
      class="text-sm font-bold text-blue-300 energy_bloc_description energy_wrapper__label"
    >
      Peu d'émissions de CO₂ <!-- Low CO2 emissions -->
    </span>
    <div class="pt-10 energy_wrapper">
      <div class="energy_bar">
        {#if activeA == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeA} a energy_bar_inner ges">
          <div class="{activeA} energy_bar_letter">A</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeB == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeB} b energy_bar_inner ges">
          <div class="{activeB} energy_bar_letter">B</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeC == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeC} c energy_bar_inner ges">
          <div class="{activeC} energy_bar_letter">C</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeD == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeD} d energy_bar_inner ges">
          <div class="{activeD}  energy_bar_letter">D</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeE == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeE} e energy_bar_inner ges">
          <div class="{activeE}  energy_bar_letter">E</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeF == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeF} energy_bar_inner f ges">
          <div class="{activeF} energy_bar_letter">F</div>
        </div>
      </div>
      <div class="energy_bar">
        {#if activeG == "active"}
          <div class="ges energy">
            <div class="energy_column">
              <div class="energy_column_value">{ges || ""}*</div>
              <div class="energy_column_unit">kg CO₂/m².an</div>
              <div class="energy_column_label">Emissions</div>
            </div>
          </div>
        {/if}

        <div class="{activeG} energy_bar_inner g ges">
          <div class="{activeG} energy_bar_letter">G</div>
        </div>
      </div>
    </div>
    <span
      class="text-sm font-bold text-blue-900 energy_bloc_description energy_wrapper__label"
    >
      Émissions de CO₂ importantes <!-- High CO2 emissions -->
    </span>
  </div>
</div>

<style>
  .energy_bar:nth-child(4) .energy_bar_inner.ges.active {
    height: 50px;
  }

  .energy_bar .energy .energy_column {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 85px;
  }

  .energy_bloc {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .energy_wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    max-width: 450px;
  }

  .energy_bar_inner.a.ges {
    background-color: #a4dbf8;
  }

  .energy_bloc {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .energy_bloc * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @media (max-width: 767px) {
    .energy_bloc.ges {
      margin-top: 3rem;
    }
  }
  .energy_wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    max-width: 450px;
  }

  .energy_bar {
    position: relative;
    margin: 3px 0;
    width: 100%;
    display: flex;
  }

  .energy_bar:first-child .energy_bar_inner {
    width: 110px;
  }

  .energy_bar:first-child .energy_bar_inner.ges {
    width: 95px;
    height: 30px;
  }

  .energy_bar:first-child .energy_bar_inner.ges.active {
    height: 50px;
  }

  .energy_bar:nth-child(2) .energy_bar_inner {
    width: 125px;
  }
  @media (max-width: 479px) {
    .energy_bar:first-child .energy_bar_inner {
      width: 91.6666666667px;
    }
    .energy_bar:first-child .energy_bar_inner.ges {
      width: 73.3333333333px;
    }

    .energy_bar:nth-child(2) .energy_bar_inner {
      width: 104.1666666667px;
    }
    .energy_bar:nth-child(2) .energy_bar_inner.ges {
      width: 83.3333333333px;
    }

    .energy_bar:nth-child(3) .energy_bar_inner {
      width: 116.6666666667px;
    }

    .energy_bar:nth-child(3) .energy_bar_inner.ges {
      width: 93.3333333333px;
    }

    .energy_bar:nth-child(4) .energy_bar_inner {
      width: 129.1666666667px;
    }

    .energy_bar:nth-child(5) .energy_bar_inner {
      width: 141.6666666667px;
    }
  }

  .energy_bar:nth-child(2) .energy_bar_inner.ges {
    width: 110px;
    height: 30px;
  }

  .energy_bar:nth-child(2) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(3) .energy_bar_inner {
    width: 140px;
  }

  .energy_bar:nth-child(3) .energy_bar_inner.ges {
    width: 125px;
    height: 30px;
  }

  .energy_bar:nth-child(3) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(4) .energy_bar_inner {
    width: 155px;
  }

  .energy_bar:nth-child(4) .energy_bar_inner.ges {
    width: 140px;
    height: 30px;
  }

  .energy_bar:nth-child(4) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(5) .energy_bar_inner {
    width: 170px;
  }

  .energy_bar:nth-child(5) .energy_bar_inner.ges {
    width: 155px;
    height: 30px;
  }

  .energy_bar:nth-child(5) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(6) .energy_bar_inner {
    width: 185px;
  }

  .energy_bar:nth-child(6) .energy_bar_inner.ges {
    width: 170px;
    height: 30px;
  }

  .energy_bar:nth-child(6) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(7) .energy_bar_inner {
    width: 200px;
  }

  .energy_bar:nth-child(7) .energy_bar_inner.ges {
    width: 185px;
    height: 30px;
  }

  .energy_bar:nth-child(7) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(8) .energy_bar_inner {
    width: 215px;
  }

  .energy_bar:nth-child(8) .energy_bar_inner.ges {
    width: 200px;
    height: 30px;
  }

  .energy_bar:nth-child(8) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar:nth-child(9) .energy_bar_inner {
    width: 230px;
  }

  @media (max-width: 330px) {
    .energy_bar:first-child .energy_bar_inner {
      width: 70.625px;
    }

    .energy_bar:nth-child(2) .energy_bar_inner {
      width: 80px;
    }

    .energy_bar:nth-child(3) .energy_bar_inner {
      width: 89.375px;
    }

    .energy_bar:nth-child(4) .energy_bar_inner {
      width: 98.75px;
    }
    .energy_bar:nth-child(5) .energy_bar_inner {
      width: 108.125px;
    }

    .energy_bar:nth-child(6) .energy_bar_inner {
      width: 117.5px;
    }

    .energy_bar:nth-child(7) .energy_bar_inner {
      width: 126.875px;
    }

    .energy_bar:nth-child(8) .energy_bar_inner {
      width: 136.25px;
    }
    .energy_bar:nth-child(9) .energy_bar_inner {
      width: 145.625px;
    }
  }

  @media (max-width: 479px) {
    .energy_bar:nth-child(4) .energy_bar_inner.ges {
      width: 103.3333333333px;
    }

    .energy_bar:nth-child(5) .energy_bar_inner.ges {
      width: 113.3333333333px;
    }

    .energy_bar:nth-child(6) .energy_bar_inner {
      width: 154.1666666667px;
    }

    .energy_bar:nth-child(6) .energy_bar_inner.ges {
      width: 123.3333333333px;
    }
    .energy_bar:nth-child(7) .energy_bar_inner {
      width: 166.6666666667px;
    }

    .energy_bar:nth-child(7) .energy_bar_inner.ges {
      width: 133.3333333333px;
    }

    .energy_bar:nth-child(8) .energy_bar_inner {
      width: 179.1666666667px;
    }
    .energy_bar:nth-child(8) .energy_bar_inner.ges {
      width: 143.3333333333px;
    }

    .energy_bar:nth-child(9) .energy_bar_inner {
      width: 191.6666666667px;
    }
    .energy_bar:nth-child(9) .energy_bar_inner.ges {
      width: 153.3333333333px;
    }
  }

  .energy_bar:nth-child(9) .energy_bar_inner.ges {
    width: 215px;
    height: 30px;
  }

  .energy_bar:nth-child(9) .energy_bar_inner.ges.active {
    height: 50px;
  }
  .energy_bar_inner {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding-left: 10px;
  }

  .energy_bar_inner:before {
    content: "";
    position: absolute;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    height: 0;
    width: 0;
  }

  .energy_bar_inner.active {
    height: 60px;
    border: 2px solid #000;
  }

  .energy_bar_inner.ges {
    border-radius: 0 100px 100px 0;
  }

  .energy_bar_inner.aplus.ges {
    background-color: #fff;
  }

  .energy_bar_inner.a.ges {
    background-color: #a4dbf8;
  }

  .energy_bar_inner.b.ges {
    background-color: #8cb4d3;
  }

  .energy_bar_inner.bminus.ges {
    background-color: #fff;
  }

  .energy_bar_inner.c.ges {
    background-color: #7792b1;
  }

  .energy_bar_inner.d.ges {
    background-color: #606f8f;
  }

  .energy_bar_inner.e.ges {
    background-color: #4d5271;
  }

  .energy_bar_inner.f.ges {
    background-color: #393551;
  }

  .energy_bar_inner.g.ges {
    background-color: #281b35;
  }

  .energy_bar_inner.h.ges {
    background-color: #281b35;
  }

  @media (max-width: 479px) {
    .energy_bar .energy_bar_inner .energy_bar_label {
      font-size: 0.85rem;
      letter-spacing: -0.5px;
      line-height: 0.9;
    }
  }

  .energy_bar .energy_bar_inner .energy_bar_letter {
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-right: 8px;
    color: #fff;
  }

  .energy_bar .energy_bar_inner .energy_bar_letter.active {
    font-size: 3rem;
    margin-left: -4px;
  }

  .energy_bar .energy {
    border: 2px solid #000;
    display: flex;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    transform: translateX(-100%);
  }

  .energy_bar .energy.ges {
    right: -80px;
    border-radius: 4px;
  }
  @media (max-width: 767px) {
    .energy_bar .energy.ges {
      right: 44px;
      transform: translateY(-5px);
    }
  }
  .energy_bar .energy.ges:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    margin-top: -1px;
    margin-left: -50px;
    background-color: #000;
  }

  .energy_bar .energy .energy_column {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 85px;
  }

  .energy_column_value {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .energy_column_label {
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }
  .energy_column_unit {
    font-size: 0.7rem;
  }
  .energy_bar.a.ges {
    background-color: #a4dbf8;
    color: #fff;
    text-transform: uppercase;
  }
  .energy_bar.b.ges {
    background-color: #8cb4d3;
    color: #fff;
    text-transform: uppercase;
  }
  .energy_bar.c.ges {
    background-color: #7792b1;
    color: #fff;
    text-transform: uppercase;
  }
  .energy_bar.d.ges {
    background-color: #606f8f;
    color: #fff;
    text-transform: uppercase;
  }
  .energy_bar.e.ges {
    background-color: #4d5271;
    color: #fff;
    text-transform: uppercase;
  }
  .energy_bar.f.ges {
    background-color: #393551;
    color: #fff;
    text-transform: uppercase;
  }
  .energy_bar.g.ges {
    background-color: #281b35;
    color: #fff;
    text-transform: uppercase;
  }
</style>
