<script>
  import enterprise_customization from "../enterprise_customization.ts";
  const { website, currency } = enterprise_customization;

  let exampleAuth = {
    username: "xxxxxxxxxxx",
    password: "yyyyyyyyyyy",
  };

  exampleAuth = JSON.stringify(exampleAuth, null, 2);

  let exampleSale = {
    _id: "yqMGtTEuz2cM6bjeg",
    title: "Maison a 122m2 Paris sur 300m terrain",
    createdAt: "2021-12-14T05:49:50.646Z",
    copro: {
      annualFees: 1200,
      numberOfLots: 22,
      ongoingProcedure: "aucune",
    },
    contact: {
      agent: {
        surname: "Rebourg",
        firstname: "Yann",
        phone: "+689 434343",
        picture:
          "https://res.cloudinary.com/dafdtk2i5/image/upload/v1634931926/properties/p11wwbautmzbxeb15ivm.png",
        email: "yann.rebourg@gmail.com",
      },
    },
    propertyTax: "1200",
    type: "house",
    saleprice: {
      fees_included: 100000,
      fees: 8000,
      feesPaidBy: "seller",
    },
    slug: "maison-a-122m2-paris-sur-300m-terrain",
    address: {
      city: "Paris",
      postalCode: "75001",
      streetAddress: "3 Rue de la paix",
    },
    floorNumber: "2",
    totalFloorNumber: "12",
    diagnostics: {
      dpe: 300,
      dpeLetter: "A",
      ges: 1,
      gesLetter: "A",
      date: "2022-01-06",
      cost: {
        min: "900",
        max: "1000",
      },
    },
    modifiedAt: "2022-01-21T00:09:46.571Z",
    images: [
      {
        title: "Façade",
        url: "https://www.imatest.com/wp-content/uploads/2020/06/LabReflectiveModule-3-2-RESIZED.jpg",
      },
    ],
    youtubeId: "tl8-kt2jxVM",
  };

  let exampleRent = {
    _id: "7b5qLPf2PTeABMs55",
    title: "Anatole",
    createdAt: "2021-10-31T01:41:03.428Z",
    contact: {
      agent: {
        surname: "Moulin",
        firstname: "Pierre",
        phone: "+689 434343",
        picture:
          "https://res.cloudinary.com/dafdtk2i5/image/upload/v1634931926/properties/p11wwbautmzbxeb15ivm.png",
      },
    },
    address: {
      country: "France",
      city: "Choisy-le-Roi",
      postalCode: "94600",
      streetAddress: "10 Avenue Anatole France",
    },

    slug: "anatole",
    description: "This is a description",
    rentpermonth: 10440,
    livingArea: 999,
    floorNumber: "2",
    totalFloorNumber: "12",
    diagnostics: {
      dpe: 99,
      dpeLetter: "C",
      ges: 888,
      gesLetter: "C",
    },
    hotwater: "individual-electricity",
    heating: "communal",
    type: "house",
    transactiontype: "location",
  };

  let exampleContact = {
    agent: {
      surname: "Moulin",
      firstname: "Pierre",
      phone: "+689 434343",
      email: "coco@gmail.com",
      picture:
        "https://res.cloudinary.com/dafdtk2i5/image/upload/v1634931926/properties/p11wwbautmzbxeb15ivm.png",
    },
  };

  exampleSale = JSON.stringify(exampleSale, null, 2);
  exampleRent = JSON.stringify(exampleRent, null, 2);
  exampleContact = JSON.stringify(exampleContact, null, 2);
</script>

<div class="container mx-auto">
  <h1 class="mt-3 text-2xl">Documentation API :</h1>

  <h2 class="text-lg">Endpoints</h2>

  <h2 class="text-lg">Transaction / Vente</h2>

  https://{website}/api/X/sale
  <br />X is the version. Ex.1.0
  <br />
  <br />
  <div>
    1.0 SuperImmo : https://{website}/api/1.0/sale
  </div>
  <div>
    2.0 Bienici : https://{website}/api/2.0/sale
  </div>
  <div>
    3.0 Leboncoin : https://{website}/api/3.0/sale
  </div>

  <div>
    woopen.1.0 : https://{website}/api/woopen.1.0/sale
  </div>

  <br /><br />

  <h2 class="text-lg">Location / Gestion</h2>

  https://{website}/api/X/rent
  <br />with X the version. Ex.1.0

  <br /><br />

  <div>
    1.0 SuperImmo : https://{website}/api/1.0/rent
  </div>
  <div>
    2.0 Bienici : https://{website}/api/2.0/rent
  </div>
  <div>
    3.0 Leboncoin : https://{website}/api/3.0/rent
  </div>

  <div>
    woopen.1.0 : https://{website}/api/woopen.1.0/rent
  </div>

  <h3 class="mt-5 text-lg">Authentification</h3>

  <p>POST method avec dans le body (Raw / sous format JSON)</p>

  <code>
    {exampleAuth}
  </code>

  <p>Don't forget to use the "" around the keys. Ex: "username"</p>

  <h3 class="mt-4">Units</h3>
  m² / {currency}

  <br /><br /><br /><br />

  <h4>Pour la version 1.0/2.0/3.0/woopen.1.0 (transaction)</h4>
  <pre class="text-blue-600">
    {exampleSale}
  </pre>

  <br /><br />

  <h4>Pour la version 1.0/2.0/3.0/woopen.1.0 (gestion-location)</h4>

  <pre class="text-green-600">
{exampleRent}
</pre>

  <h4 class="text-lg">Details</h4>

  <table class="border">
    <tr>
      <td>
        <strong> VENTE ET LOCATION </strong>
      </td>
      <td />
    </tr>
    <tr>
      <td>_id (String) **DEPRECATED- DONT USE**</td>
      <td>Reference Agence **DEPRECATED- DONT USE**</td>
    </tr>

    <tr>
      <td>mandateRef (String)</td>
      <td>Reference Agence</td>
    </tr>

    <tr>
      <td>Contact (object)</td>
      <td>
        It is the contact for the ads !
        <br />
        It should be displayed on the ads<br />
        Inside there is an object "agent" with the properties.
        <br />

        <pre>{exampleContact}</pre>
      </td>
    </tr>

    <tr>
      <td>images (Array of object with title and url)</td>
      <td>Images are in order and the first one is the cover image</td>
    </tr>
    <tr>
      <td>hotwater (String)</td>
      <td>
        <code>"individual-electricity"</code>
        <code>"individual-gas"</code>
        <code>"communal"</code>
      </td>
    </tr>

    <tr>
      <td>type (String)</td>
      <td>
        <code> "house" </code>
        <code> "apartment" </code>
        <code> "land" </code>
        <code> "building" </code>
      </td>
    </tr>

    <tr>
      <td>floorNumber (String)</td>
      <td>
        L'étage du bien
        <code> "0" means RDC </code>
        <code> "1" </code>
        <code> "2" </code>
        ...
      </td>
    </tr>

    <tr>
      <td>totalFloorNumber (String)</td>
      <td>
        Le nombre d'étages du bâtiment
        <code> "0" means pas d'étage </code>
        <code> "1" </code>
        <code> "2" </code>
        ...
      </td>
    </tr>

    <tr>
      <td>propertyTax (Number)</td>
      <td>Taxe foncière</td>
    </tr>

    <tr>
      <td> Address (Object with strings)</td>
      <td>
        address is an object with :
        <br />
        "country" : string <br />
        "city": string <br />
        "postalCode" : string <br />
        "streetAddress": string <br />
      </td>
    </tr>
    <tr>
      <td> Diagnostics</td>
      <td>
        <code> ges </code>
        <code> "gesLetter" </code>
        <code> dpe </code>
        <code> "dpeLetter" </code>
        <code> "cost.max" </code>
        <code> "cost.min" </code>
        ges,dpe as Interger/ gesLetter, dpeLetter as string / cost.max cost.min as
        string</td
      >
    </tr>
    <tr>
      <td> createdAt (string)</td>
      <td> "18/02/2022"</td>
    </tr>
    <tr>
      <td> modifiedAt (date)</td>
      <td> object date</td>
    </tr>
    <tr>
      <td> livingArea (number)</td>
      <td> Surface Habitable m²</td>
    </tr>
    <tr>
      <td> landSurface (number)</td>
      <td> Surface Terrain m²</td>
    </tr>
    <tr>
      <td> constructionYear (string)</td>
      <td> Année de construction</td>
    </tr>
    <tr>
      <td> copro.annualFees (number)</td>
      <td>Charges copro annuelles</td>
    </tr>
    <tr>
      <td>copro.ongoingProcedure (string)</td>
      <td>Procedures en cours</td>
    </tr>

    <tr>
      <td>feesPaidBy (string)</td>
      <td>
        <code>"seller"</code>
        <code>"buyer"</code>
      </td>
    </tr>

    <tr>
      <td>
        <strong> LOCATION </strong>
      </td>
      <td />
    </tr>

    <tr>
      <td>transactiontype (string)</td>
      <td>
        Values:
        <code> "location" </code>
        <code> "colocation" </code>
        <code> "seasonalrental" </code>
      </td>
    </tr>

    <tr>
      <td>rentpermonth (number)</td>
      <td />
    </tr>
  </table>

  <br /><br /><br /><br />
</div>
