<!-- TO BE DELETED SINCE DUPLICATE OF POTENTIAL BUYERS -->

<script>
  import { onMount } from "svelte";
  import { Buyers } from "../../../../api/buyers.js";
  const { formatAndcurrency } = require("../../../../commonFunctions");

  let handle;
  onMount(async () => {
    handle = Meteor.subscribe("buyers");
  });

  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      if (!filter) {
        // filter = { createdBy: thisuserId };
        filter = {};
      } else {
        // filter.createdBy = thisuserId;
      }

      users = Buyers.find(filter, { sort: { createdAt: -1 } }).fetch();
    }
  }
</script>

<div class="text-xl">Potentiels acheteurs</div>

<table>
  <tr>
    <td>
      <!--  -->
    </td>
  </tr>
</table>
