<script>
  export let id, item;

  import FacebookPage from "./FacebookPage.svelte";
  import InstagramPage from "./InstagramPage.svelte";
  import WhatsAppGroup from "./WhatsAppGroup.svelte";

  import PlatformsList from "./PlatformsList.svelte";
  import PotentialBuyers from "./PotentialBuyers.svelte";

  import TagsSection from "./Tags_section.svelte";
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <TagsSection {item} {id} />
  <br />

  <!-- {#if !item.isSold && !item.isSoldByOthers && !item.isCancelled}
    <PotentialBuyers />
  {/if} -->

  <br />

  <h2 class="text-xl">
    <i class="fa-solid fa-tv text-[var(--main-color)]" />
    Publications
  </h2>

  {#if item?.pageViews?.count}
    <div>
      Nombre de vues sur site web :
      <span class="badge">
        {item?.pageViews?.count}
      </span>
    </div>
  {/if}

  {#if item.isSold || item.isSoldByOthers || item.isCancelled}
    {#if item.isSold}
      Vendu{/if}
    {#if item.isSoldByOthers}
      Vendu par une autre agence{/if}
    {#if item.isCancelled}
      Annulation{/if}
  {:else}
    <PlatformsList {id} {item} />
    <FacebookPage {item} />
    <InstagramPage {item} />
    <WhatsAppGroup />
  {/if}
</div>
