<script>
  export let item, id;

  import {
    saved_notification,
    error_notification,
  } from "../../../../notifications.ts";

  async function pushtag(event) {
    const name = event.target.name;
    await Meteor.callAsync("asset_sale.push.tag", id, name);
    saved_notification();
  }

  async function changeIsSold(event) {
    await Meteor.callAsync("asset_sale.update.isSold", id);
    saved_notification();
  }

  async function pullTag(event) {
    if (!confirm("Supprimer?")) return;
    const value = event.target.dataset.tag;
    await Meteor.callAsync("asset_sale.pull.tag", { id, value });
    saved_notification();
  }
</script>

<h2 class="text-xl">
  <i class="fa-solid fa-tag text-[var(--main-color)]" />
  Labels <!-- Tags -->
</h2>

<div class="mb-2">
  <div>
    {#if !item.tags?.includes("Exclusivité")}
      <button on:click={pushtag} name="Exclusivité" class="btn btn--light">
        <i class="fa-regular fa-star" />
        Exclusivité
      </button>
    {/if}

    {#if !item.tags?.includes("Baisse de prix")}
      <button on:click={pushtag} name="Baisse de prix" class="btn btn--light">
        <i class="fa-solid fa-arrow-down" />
        Baisse de prix
      </button>
    {/if}

    {#if !item.tags?.includes("Sous compromis")}
      <button on:click={pushtag} name="Sous compromis" class="btn btn--light">
        <i class="fa-solid fa-tags" />
        Sous compromis
      </button>
    {/if}

    {#if !item.tags?.includes("Sous offre")}
      <button on:click={pushtag} name="Sous offre" class="btn btn--light">
        <i class="fa-solid fa-tags" />
        Sous offre
      </button>
    {/if}

    <button
      on:click={changeIsSold}
      name="Vendu"
      class="btn btn--light"
      disabled={item.isSold ? "disabled" : ""}
    >
      Vendu
    </button>

    <div class="flex">
      {#each item.tags || [] as tag}
        <div
          class="bg-gray-100 text-gray-800 text-sm mr-2 px-2.5 py-2.5 rounded-lg"
        >
          {tag}
          <button on:click={pullTag}>
            <i class="fa-solid fa-circle-xmark" data-tag={tag} />
          </button>
        </div>
      {/each}

      {#if item.isSold}
        <span
          class="bg-green-600 text-gray-100 text-sm mr-2 px-2.5 py-2.5 rounded-lg"
        >
          Vendu
        </span>
      {/if}
    </div>
  </div>
</div>
