<script>
  import socialMedia_customization from "../../../../../socialMedia_customization";
  const { whatsApp } = socialMedia_customization;
</script>

{#if whatsApp?.groups}
  <hr />
  <div class="text-lg">
    <i class="fa-brands fa-whatsapp" />
    Groupes
  </div>

  <table class="w-full">
    {#each whatsApp?.groups || [] as group}
      <tr>
        <td class="text-right align-top max-w-[22px]">
          {#if group.badge}
            <span class="badge">{group.badge}</span>
          {/if}
        </td>
        <td class="align-top">
          {#if group.link}
            <a href={group.link} target="_blank" rel="noreferrer">
              {group.name}
            </a>
          {:else}
            {group.name}
          {/if}
        </td>
        <td class="text-right align-top">
          <!-- {#if group.publishButton}
            {#if item.postedFBPages && item.postedFBPages.includes(page.id)}
              <i class="text-green-600 fa-solid fa-check" />
              Publié
            {:else}
              <button
                class="px-3 py-1 my-1 text-white bg-blue-700 rounded-md hover:bg-blue-900"
                id={page.pageId}
                on:click={() => {
                  postpageIG(page);
                }}
              >
                Publier
              </button>
            {/if}
          {/if} -->
        </td>
        <!-- <td class="align-top"> Gratuit </td> -->
      </tr>
    {/each}
  </table>
{/if}
