<script>
  import { onMount } from "svelte";
  import { Singles } from "../../api/singles";

  onMount(async () => {
    Meteor.subscribe("single", "dci_token");
  });

  let single, isAdmin;
  $m: {
    single = Singles.findOne({ _id: "dci_token" });
    console.log(single);
    const user = Meteor.user();
    isAdmin = user?.roles?.includes("admin");
  }
</script>

<div>Admin</div>

<div class="overflow-x-auto text-xs">
  <!--  -->
  {#if isAdmin}
    {#if single}
      {single.token} <br /> {single.createdAt.toLocaleDateString()}
    {/if}
  {/if}
</div>
