<script>
  import { onMount } from "svelte";

  import { New_properties } from "../../api/new_properties.js";
  import Loading from "../Loading.svelte";
  import NewPropertyItem from "./NewPropertyItem.svelte";

  onMount(async () => {
    Meteor.subscribe("new_properties_sorted", 4);
  });

  let new_properties;
  $m: {
    new_properties = New_properties.find(
      {},
      { sort: { publication_date: -1 }, limit: 5 }
    ).fetch();
  }
</script>

{#if new_properties.length > 0}
  <div class="container mx-auto">
    <h4 class="my-5 text-2xl font-semibold text-center">
      Nos dernières annonces immobilières dans le neuf
    </h4>
    <!-- <h5 class="text-center">
      {#if new_properties[0]?.publication_date}
        Dernière annonce publiée:
        {new_properties[0].publication_date}
      {/if}
    </h5> -->
    <div />

    <div>
      <div class="mb-5 text-center">
        <div>
          Paris, Marseille, Lyon, Toulouse, Nice, Nantes, Montpellier,
          Strasbourg, ...
        </div>

        <div class="mt-3">
          <a class="btn btn-color-main" href="/immobilier-neuf">
            Rechercher tous les programmes
          </a>
        </div>
      </div>

      {#each new_properties as item}
        <NewPropertyItem {item} />
      {:else}
        <!-- <Loading /> -->
      {/each}
    </div>
  </div>
{/if}
