<script>
  export let item;
  // console.log(item);
</script>

<!-- {item.publication_date} -->
<!-- {#if item.isVisible} -->
{#if item.picture?.picture_path}
  <div class="grid grid-cols-1 mx-3 mb-4 border-b md:grid-cols-3">
    <div class="mb-3">
      <a href="/immobilier-neuf/{item.slug}">
        <img
          src={item.picture.picture_path}
          class="rounded-lg"
          loading="lazy"
          alt="Property"
        />
      </a>
    </div>

    <div class="py-2 mx-3 text-center">
      <div class="mb-2 border-b">
        <h5>
          <a class="font-bold text-black" href="/immobilier-neuf/{item.slug}">
            {item.title}
          </a>
        </h5>

        <div>
          {item.address.city}
          /
          {item.address.zipcode}
        </div>

        <div>
          {#if item.publication_date}
            Publié le
            {item.publication_date}
          {/if}
        </div>
      </div>

      {#if item.taxation}
        <div class="font-bold text-[var(--main-color)]">Fiscalité</div>

        <div class="font-bold">
          {#each item.taxation as element, i}
            {#if i != 0},&nbsp;{/if}

            {#if element.title}
              {element.title}
            {/if}
          {/each}
        </div>
      {/if}

      {#if item.fiscal_zone}
        <div class="font-bold text-[var(--main-color)]">Zone</div>
        <div class="font-bold">{item.fiscal_zone}</div>
      {/if}

      {#if item.residence_type}
        <div class="font-bold text-[var(--main-color)]">Type de résidence</div>
        <div class="font-bold">
          {#each item.residence_type as element}
            {#if element.title}{element.title} &nbsp;{/if}
          {/each}
        </div>
      {/if}

      {#if item.lots?.prices}
        <div class="font-bold text-[var(--main-color)]">Prix</div>
        <div class="font-bold">
          {item.lots.prices.min.toLocaleString()} - {item.lots.prices.max.toLocaleString()}
          € TTC
        </div>
      {/if}

      {#if item.delivery_date}
        <div class="font-bold text-[var(--main-color)]">Date de livraison</div>
        <div class="font-bold">
          {item.delivery_date}
        </div>
      {/if}
    </div>

    <div>
      <h4 class="font-bold">
        Les
        <span class="text-[var(--main-color)]" style="font-size:2rem;">+</span>
      </h4>
      {#if item.positivePoints}
        <span>
          {@html item.positivePoints}
        </span>
      {/if}
    </div>
  </div>
{/if}

<!-- {#if item.slug}<a href="/for-sale/{item.slug}"> {item.slug} </a>{/if}
{#if item.tags}
  {#each item.tags as tag}{tag}{/each}
{/if}

{#if item.categories}
  {#each item.categories as category}{category}{/each}
{/if}

{#if item.htmlcontent}{item.htmlcontent}{/if} -->
