<script>
  import { onMount } from "svelte";

  import { New_properties } from "../../api/new_properties.js";
  import Loading from "../Loading.svelte";

  import Select from "svelte-select";
  import NewPropertyItem from "./NewPropertyItem.svelte";
  import enterprise_customization from "../../../enterprise_customization.ts";

  const taxationArray = [
    { value: "2", label: "Malraux" },
    { value: "3", label: "Démembrement de propriété" },
    { value: "4", label: "LMNP" },
    { value: "6", label: "LMP" },
    { value: "7", label: "LMNP plus TVA" },
    { value: "8", label: "LMP plus TVA" },
    { value: "10", label: "Bouvard plus TVA" },
    { value: "11", label: "Pinel" },
    { value: "12", label: "Pinel OM" },
    { value: "13", label: "Pinel rénovation" },
    { value: "14", label: "Pinel réhabilitation" },
    { value: "15", label: "Pinel transformation" },
    { value: "16", label: "Déficits fonciers" },
    { value: "17", label: "Revenus fonciers" },
    { value: "21", label: "Monuments historiques" },
    { value: "22", label: "Denormandie" },
  ];

  // import dep from "./departements.js";
  // import cit from "./Cities.js";

  // let citiesArray = [];

  // dep.forEach(function (obj) {
  //     citiesArray.push({
  //         value: obj.value,
  //         label: obj.label + " " + obj.value,
  //     });
  // });

  // cit.forEach(function (obj) {
  //     citiesArray.push({
  //         value: obj.value,
  //         label: obj.label + " " + obj.value,
  //     });
  // });

  // const result = [];
  //     dep.forEach((x) => {
  //         x.value = x.name;
  //     });

  // const citiesArray = [
  //     { value: "2", label: "Malraux" },
  //     { value: "3", label: "pp" },
  // ];

  // let selected_City = citiesArray.map((x) => x.value);

  let selected_taxation = taxationArray.map((x) => x.value);

  function handleSelect(event) {
    if (event.detail) {
      selected_taxation = event.detail.map((x) => x.value);
    } else {
      selected_taxation = taxationArray.map((x) => x.value);
    }
  }

  function unsetProperty(filterObject, property) {
    let filtered = {};
    for (const key in filterObject) {
      if (key !== property) {
        filtered[key] = filter[key];
      }
    }

    return filtered;
  }

  onMount(async () => {
    // Meteor.subscribe("new_properties_sorted", 5);
    // Meteor.subscribe("new_properties");
    Meteor.subscribe("new_properties_notsold");
  });

  let zipcode = "";
  let title = "";
  let city = "";
  let price_min = "";
  let price_max = "";
  let sortObject = { id: -1 };
  let new_properties;

  let filter = {};

  $m: {
    if (price_max == "" || price_max == null) {
      filter = unsetProperty(filter, "lots.prices.min");
    } else {
      filter["lots.prices.min"] = { $lte: price_max };
    }

    filter.title = { $regex: new RegExp(title, "i") };
    filter["address.zipcode"] = { $regex: "^" + zipcode + ".*" };
    filter["address.city"] = { $regex: new RegExp("^" + city + ".*", "i") };
    filter["taxation.id"] = { $in: selected_taxation };

    new_properties = New_properties.find(filter, {
      sort: sortObject,
      limit: 20,
    }).fetch();
  }
</script>

<svelte:head>
  <link
    rel="canonical"
    href="https://{enterprise_customization.website}/immobilier-neuf"
  />
</svelte:head>

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container mx-auto">
    <ol>
      <li><a href="/" aria-label="homepage">Home</a></li>
      <li><a href="/immobilier-neuf">Immobilier Neuf</a></li>
      <li>
        <!-- {blogObject.title} -->
      </li>
    </ol>
    <h2>Immobilier Neuf</h2>
  </div>
</section>
<!-- End Breadcrumbs -->

<div class="container mx-auto">
  <h4 class="mt-5 mb-5 text-xl font-bold text-center">
    Toutes les annonces immobilières dans le neuf
  </h4>

  <!-- <Select on:change={selected_City} items={citiesArray} multiple="true" /> -->

  <div class="grid grid-cols-1 gap-3 mb-5 md:grid-cols-3 lg:grid-cols-5">
    <div class="text-center">
      <div class="font-bold text-[var(--main-color)]" for="">Code Postal</div>
      <div><input class="w-full input" bind:value={zipcode} /></div>
    </div>
    <div class="text-center">
      <div class="font-bold text-[var(--main-color)]" for="">Ville</div>
      <div><input class="w-full input" bind:value={city} /></div>
    </div>
    <div class="text-center">
      <label class="font-bold text-[var(--main-color)]" for=""> Title </label>
      <div><input class="w-full input" bind:value={title} /></div>
    </div>

    <div class="text-center">
      <label class="font-bold text-[var(--main-color)]" for="">
        Prix max
      </label>
      <div>
        <input class="w-full input" type="number" bind:value={price_max} />
      </div>
    </div>

    <div class="text-center">
      <label class="font-bold text-[var(--main-color)]" for="fiscalite"
        >Fiscalité</label
      >
      <Select on:change={handleSelect} items={taxationArray} multiple="true" />
    </div>
  </div>

  {#each new_properties as item}
    <NewPropertyItem {item} />
  {:else}
    <!-- <Loading /> -->
  {/each}
</div>
