<script>
  import { onMount } from "svelte";
  import { New_properties } from "../../api/new_properties.js";
  import Admin from "./admin_NewProperties.svelte";

  const taxationArray = [
    { id: "2", nom: "Malraux" },
    { id: "3", nom: "Démembrement de propriété" },
    { id: "4", nom: "LMNP" },
    { id: "6", nom: "LMP" },
    { id: "7", nom: "LMNP plus TVA" },
    { id: "8", nom: "LMP plus TVA" },
    { id: "10", nom: "Bouvard plus TVA" },
    { id: "11", nom: "Pinel" },
    { id: "12", nom: "Pinel OM" },
    { id: "13", nom: "Pinel rénovation" },
    { id: "14", nom: "Pinel réhabilitation" },
    { id: "15", nom: "Pinel transformation" },
    { id: "16", nom: "Déficits fonciers" },
    { id: "17", nom: "Revenus fonciers" },
    { id: "21", nom: "Monuments historiques" },
    { id: "22", nom: "Denormandie" },
  ];

  onMount(async () => {
    Meteor.subscribe("new_properties");
  });

  function unsetProperty(filterObject, property) {
    let filtered = {};
    for (const key in filterObject) {
      if (key !== property) {
        filtered[key] = filter[key];
      }
    }

    return filtered;
  }

  let zipcode = "";
  let title = "";
  let city = "";
  let price_min = "";
  let price_max = "";

  let new_properties;
  let sortObject = { title: 1 };

  // let sortObject = { address.zipcode: 1 };
  // toLocaleString

  let filter = {};

  $m: {
    if (price_max == "" || price_max == null) {
      filter = unsetProperty(filter, "lots.prices.min");
    } else {
      filter["lots.prices.min"] = { $lte: price_max };
    }

    filter.title = { $regex: new RegExp(title, "i") };
    filter["address.zipcode"] = { $regex: "^" + zipcode + ".*" };
    filter["address.city"] = { $regex: new RegExp("^" + city + ".*", "i") };
    // filter["taxation.id"] = { $in: selected_taxation };

    new_properties = New_properties.find(filter, {
      sort: sortObject,
      limit: 100,
    }).fetch();
  }
</script>

<span class="text-xl"> Immobilier Neuf </span>

<Admin />

<!-- Inputs -->
<div class="flex mt-4 mb-4">
  <div>
    Code Postal
    <input class="input" bind:value={zipcode} />
  </div>
  <div>
    Ville
    <input class="input" bind:value={city} />
  </div>
  <div>
    Title<input class="input" bind:value={title} />
  </div>

  <div>
    Prix max<input class="input" type="number" bind:value={price_max} />
  </div>
</div>
<!-- Ends Inputs -->
<div class="overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr>
        <th />
        <th>Title</th>
        <th>Ville</th>
        <th>Code Postal</th>
        <th>Fiscalité</th>
        <th>Prix Min</th>
        <th>Prix Max</th>
        <th>Lots dispo</th>
        <th>Date Livraison</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {#each new_properties as item}
        <tr>
          <td>
            {#if item.picture?.picture_path}
              <img
                alt="house"
                src={item.picture.picture_path}
                class="w-10 h-10 bg-center rounded"
                loading="lazy"
              />
            {/if}
          </td>
          <td class="text-sm">
            <a href="/immobilier-neuf/{item._id}"> {item.title} </a>
            <br />
            {item.address.street}
          </td>

          <td class="text-sm">{item.address.city}</td>
          <td class="text-sm">{item.address.zipcode}</td>

          <td class="text-sm">
            {#each item.taxation || [] as element}
              {element.title || ""}
            {/each}
          </td>

          <td class="text-sm">
            {item.lots?.prices?.min.toLocaleString() || ""}
          </td>
          <td class="text-sm">
            {item.lots?.prices?.max.toLocaleString() || ""}
          </td>
          <td class="text-sm">
            {item.lots?.number_available}
          </td>
          <td class="text-sm">
            {item.delivery_date}
          </td>
          <td class="text-sm">
            {item.id}
            <br />
            {item._id}
          </td>

          <!-- <td><small>{item.mandate}</small></td> -->
          <!-- <td><a href="/for-sale/{item._id}">{item.title} </a></td> -->
          <!-- <td>{#if item.slug}<a href="/for-sale/{item.slug}"> {item.slug} </a> {/if} </td> -->
          <!-- <td>{#if item.description}{item.description}{/if}</td> -->
          <!-- <td>{#if item.tags}{#each item.tags as tag}{tag}{/each}{/if}</td> -->
          <!-- <td>{#if item.categories}{#each item.categories as category}{category}{/each}{/if}</td> -->
          <!-- <td>{#if item.userId}{item.userId}{/if}</td> -->
          <!-- <td>{item.createdAt?.toLocaleDateString() || ""}</td> -->
        </tr>
      {:else}
        <!-- <Loading /> -->
      {/each}
    </tbody>
  </table>
</div>
<!-- End of my assets -->
