<script>
  import { onMount } from "svelte";
  import { New_properties } from "../../api/new_properties.js";
  export let id;

  import { navigate } from "svelte-routing";

  onMount(async () => {
    Meteor.subscribe("new_property_slug", id);
  });

  import { buttonio } from "../../../components/messenger_button.ts";
  buttonio();

  import enterprise_customization from "../../../enterprise_customization.ts";

  let isPro = false;
  let thisuser;

  const { newRepresentative } = enterprise_customization;

  const formatHTML = (htmlobject) => {
    //Removing the image tags inside
    return htmlobject.replace(/<img .*?>/g, "");
  };

  let object;

  $m: {
    object = New_properties.findOne();
    console.log(object);

    if (object) {
      if (object.available_lots) {
        object.available_lots = object.available_lots.sort((a, b) => {
          if (a.developer_lot_number < b.developer_lot_number) {
            return -1;
          }
          if (a.developer_lot_number > b.developer_lot_number) {
            return 1;
          }
          return 0;
        });

        object.available_lots.forEach((a) => {
          a.selling_price = a.selling_price.toLocaleString();
        });
      }

      if (object.lots) {
        object.lots.types.forEach((a) => {
          a.price_min = a.price_min.toLocaleString();
        });
      }

      // object.createdAt = dayjs(blogObject.createdAt).format("DD/MM/YYYY");

      if (object.taxation) {
        object.taxation.forEach((a, i) => {
          if (i < object.taxation.length - 1) {
            a.title = a.title + ",";
          }
        });
      }

      object.residence_type.forEach((a, i) => {
        if (i < object.residence_type.length - 1) {
          a.title = a.title + ",";
        }
      });
    }

    // To display some button is user is "Pro"
    thisuser = Meteor.user();

    if (thisuser?.roles?.includes("pro")) {
      isPro = true;
    }
  }

  async function createForSaleAsset() {
    // const value = document.getElementById("title").value;
    const title = object.title;

    const res = await Meteor.callAsync(
      "for_sale_assets.insert.fromNewProgram",
      title
    );
    navigate("/pro/for-sale/edit/" + res);
    if (object.picture?.picture_path) {
      //Add picture
      await Meteor.callAsync("asset_sale.push.images", res, [
        object.picture.picture_path,
      ]);
      //Add cover
      await Meteor.callAsync("asset_sale.update.thumbnail", res, [
        object.picture.picture_path,
      ]);
    }
  }
</script>

{#if object}
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container mx-auto">
      <ol>
        <li><a href="/" aria-label="homepage">Home</a></li>
        <li><a href="/immobilier-neuf">Immobilier Neuf</a></li>
        <!-- <li>{object.title}</li> -->
      </ol>
      <h2>
        <!-- Immobilier Neuf -->
        {object.title}
      </h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <div class="container mx-auto mt-5">
    <div class="grid grid-cols-1 gap-4 mb-4 lg:grid-cols-2">
      <div>
        {#if object.picture?.picture_path}
          <img src={object.picture.picture_path} class="rounded-xl" alt="" />
        {/if}
      </div>
      <div>
        {#if object.title}
          <h1 class="text-xl font-semibold">{object.title}</h1>
        {/if}

        <table class="w-full">
          <tbody>
            <tr>
              <td>
                <strong class="text-[var(--main-color)]">
                  Date de mise en ligne
                </strong>
              </td>
              <td>
                {#if object.publication_date}
                  <span class="font-bold">
                    {object.publication_date || ""}
                  </span>
                {/if}
              </td>
            </tr>

            <!-- Private informaton -->
            <!-- <tr>
              <td>
                <strong class="text-[var(--main-color)]"> Adresse </strong>
              </td>
              <td>
                {#if object.publication_date}
                  {#if object.address}
                    <span class="font-bold">
                      {object.address.street || ""}
                      <br />
                      {object.address.city || ""}
                      {object.address.zipcode || ""}
                    </span>
                  {/if}
                {/if}
              </td>
            </tr> -->

            <tr>
              <td class="font-bold text-[var(--main-color)]"> Fiscalité </td>
              <td>
                {#each object.taxation || [] as element, i}
                  <div class="font-bold">
                    {#if element.title}
                      {element.title}&nbsp;
                    {/if}
                  </div>
                {/each}
              </td>
            </tr>

            {#if object.fiscal_zone}
              <tr>
                <td class="font-bold text-[var(--main-color)]"> Zone </td>
                <td>
                  <div class="font-bold">
                    {object.fiscal_zone}
                  </div>
                </td>
              </tr>
            {/if}
            <tr>
              <td class="font-bold text-[var(--main-color)]">
                Type de résidence
              </td>
              <td>
                {#each object.residence_type || [] as element}
                  <div class="font-bold">
                    {#if element.title}
                      {element.title}
                      &nbsp;
                    {/if}
                  </div>
                {/each}
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <p>
          <strong class="text-[var(--main-color)]">Date de mise en ligne:</strong>
          {#if object.publication_date}
            <span class="font-bold">
              {object.publication_date || ""}
            </span>
          {/if}
        </p> -->

        <!-- <p>
          <strong class="text-[var(--main-color)]">Adresse</strong>
          {#if object.address}
            <span class="font-bold">
              {object.address.street || ""}
              {object.address.city || ""}
              <br />
              {object.address.zipcode || ""}
            </span>
          {/if}
        </p> -->
        <!-- <p>
          {#if object.taxation}
            <div class="font-bold">
              <span class="font-bold text-[var(--main-color)]"> Fiscalité</span>
              {#each object.taxation as element}
                {#if element.title}{element.title}&nbsp;{/if}
              {/each}
            </div>
          {/if}
        </p> -->

        <!-- <p>
          {#if object.fiscal_zone}
            <div class="font-bold">
              <span class="font-bold text-[var(--main-color)]"> Zone</span>
              {object.fiscal_zone}
            </div>
          {/if}
        </p> -->

        <!-- <p>
          {#if object.residence_type}
            <div class="font-bold">
              <span class="font-bold text-[var(--main-color)]"> Type de résidence </span>
              {#each object.residence_type as element}
                {#if element.title}{element.title} &nbsp;{/if}
              {/each}
            </div>
          {/if}
        </p> -->
      </div>
    </div>

    <div class="grid grid-cols-2 mb-4 border-t border-b">
      <div class="mt-3">
        <div>
          <i class="text-gray-400 fa-solid fa-quote-left fa-2x" />
          <div class="font-bold">
            Les
            <span class="text-[var(--main-color)]">+</span>
          </div>
        </div>
      </div>

      <div class="mt-3">
        {#if object.positivePoints}
          <span>
            {@html formatHTML(object.positivePoints)}
          </span>
        {/if}
      </div>
    </div>

    <div>
      <div>
        <!-- <ul class="mb-5 nav nav-pills nav-fill" id="pills-tab" role="tablist">
          <li role="presentation">
            <a
              class=" active"
              id="pills-home-tab"
  
              href="#pills-information"
              role="tab"
              aria-controls="pills-info"
              aria-selected="true"
            >
              Infos Programme
            </a>
          </li>
          <li role="presentation">
            <a
              
              id="pills-profile-tab"
   
              href="#pills-location"
              role="tab"
              aria-controls="pills-location"
              aria-selected="false"
            >
              Emplacement
            </a>
          </li>

          <li role="presentation">
            <a
              
              id="pills-contact-tab"
              data-bs-toggle="pill"
              href="#pills-price"
              role="tab"
              aria-controls="pills-price"
              aria-selected="false"
            >
              Grille des prix
            </a>
          </li>
        </ul> -->

        <div id="pills-tabContent">
          <div
            class="tab-pane show active"
            id="pills-information"
            role="tabpanel"
          >
            <h2 class="mb-5 text-xl font-bold text-center">
              <span class="text-[var(--main-color)]"> Infos </span>
              Programme
            </h2>

            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
              <div>
                <table class="w-full">
                  <thead>
                    <tr>
                      <th class="text-left">Type de lot</th>
                      <th class="text-left"> Prix à partir de </th>
                    </tr>
                  </thead>
                  <tbody>
                    {#each object.lots?.types || [] as type}
                      <tr class="border-b">
                        <td class="font-bold">
                          {type.id_type_lot}
                        </td>
                        <td class="font-bold">
                          {type.price_min}
                          €
                        </td>
                      </tr>
                    {/each}
                  </tbody>
                </table>
              </div>
              <div>
                <table class="w-full">
                  <tbody>
                    {#if object.lots?.number_available >= 0}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Lots disponibles
                        </td>
                        <td class="font-bold">
                          {object.lots.number_available}

                          {#if object.lots.number_available > 1}lots{:else}lot{/if}
                        </td>
                      </tr>
                    {/if}

                    {#if object.number_units && object.number_units != "0"}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Total lots résidence
                        </td>
                        <td class="font-bold">
                          {object.number_units}
                          {#if object.number_units > 1}lots{:else}lot{/if}
                        </td>
                      </tr>
                    {/if}
                    {#if object.number_buildings && object.number_buildings > 0}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Nb de bâtiments
                        </td>
                        <td class="font-bold">
                          {object.number_buildings}
                          {#if object.number_buildings > 1}
                            bâtiments
                          {:else if object.number_buildings > 0}
                            bâtiment
                          {/if}
                        </td>
                      </tr>
                    {/if}
                    {#if object.number_floors}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Nb d'étages
                        </td>
                        <td class="font-bold">
                          {object.number_floors}
                          {#if object.number_floors > 1}
                            étages
                          {:else if object.number_floors > 0}
                            étage
                          {/if}
                        </td>
                      </tr>
                    {/if}

                    {#if object.lots?.profitability?.min || object.lots?.profitability?.max}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Fourchette Rentabilité
                        </td>
                        <td class="font-bold">
                          {object.lots.profitability.min}% -
                          {object.lots.profitability.max}%
                        </td>
                      </tr>
                    {/if}

                    {#if object.lots && object.construction_site_situation}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Situation Chantier
                        </td>
                        <td class="font-bold">
                          {object.construction_site_situation}
                        </td>
                      </tr>
                    {/if}
                    {#if object.delivery_date}
                      <tr>
                        <td class="font-bold text-[var(--main-color)]">
                          Livraison Prévisionnelle
                        </td>
                        <td class="font-bold">
                          {object.delivery_date}
                        </td>
                      </tr>
                    {/if}
                  </tbody>
                </table>
                <!--  -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="pills-location" role="tabpanel">
            <h2 class="mb-5 text-xl font-bold text-center">Emplacement</h2>

            <div class="map-responsive">
              {#if object.googlemap_url}
                <iframe
                  src={object.googlemap_url}
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border:0;"
                  allowfullscreen=""
                  title=""
                />
              {/if}
            </div>
          </div>
          <div class="tab-pane" id="pills-price" role="tabpanel">
            {#if object.available_lots}
              <h2 class="mb-5 text-xl font-bold text-center">
                <span class="text-[var(--main-color)]"> Grille </span>
                des prix
              </h2>

              <table class="w-full">
                <thead>
                  <tr>
                    <th>Lot</th>
                    <th>Type</th>
                    <th>Surface</th>
                    <th class="text-center"> Étage </th>
                    <th class="text-center"> Prix TTC </th>
                    <th class="text-center"> Estimation Loyer mensuel TTC </th>

                    {#if isPro}
                      <th />
                    {/if}
                  </tr>
                </thead>
                <tbody>
                  {#each object.available_lots as available_lot}
                    <tr>
                      <th class="text-[var(--main-color)]">
                        {available_lot.developer_lot_number}
                      </th>
                      <th>
                        {available_lot.type}
                      </th>
                      <th>
                        {#if available_lot.living_area}
                          {available_lot.living_area}
                          m²
                        {/if}
                      </th>
                      <th class="text-center">
                        {#if !available_lot.floor_number}
                          <!--  -->
                        {:else if available_lot.floor_number == "0"}
                          RDC
                        {:else}
                          {available_lot.floor_number}
                        {/if}
                      </th>
                      <th class="text-center">
                        {#if available_lot.selling_price && available_lot.selling_price != 0}
                          {available_lot.selling_price}
                          €
                        {/if}
                      </th>

                      <th class="text-center">
                        {#if available_lot.monthly_rent}
                          {available_lot.monthly_rent}
                          €
                        {/if}
                      </th>

                      {#if isPro}
                        <th>
                          <button
                            class="btn btn--light"
                            on:click={createForSaleAsset}
                          >
                            Créer une annonce
                          </button>
                        </th>
                      {/if}
                    </tr>
                  {/each}
                </tbody>
              </table>
            {/if}
          </div>
        </div>
      </div>
    </div>

    <!-- Agent -->
    <div class="grid grid-cols-2 my-12 rounded-lg shadow-md">
      <div>
        <img
          src={newRepresentative.img}
          class="rounded"
          style="width:80px;"
          alt=""
        />
      </div>

      <div>
        <h5 class="font-semibold">{newRepresentative.name}</h5>
        <i class="fa-solid fa-phone" />
        <a href="tel:{newRepresentative.phone}"> {newRepresentative.phone} </a>
        <br />
        <i class="fa-regular fa-envelope" />
        <a href="mailto:{newRepresentative.email}">
          {newRepresentative.email}
        </a>
      </div>
    </div>
  </div>
{/if}

<!-- <button class="btn">Je souhaite obtenir plus d'informations sur cette résidence</button> -->
<style>
  /* Black color for nav pills */
  .nav > li > a.active,
  .nav > li > a:focus {
    background-color: #111827;
  }

  .nav > li > a {
    color: #111827;
    font-weight: bold;
  }

  .nav > li > a.active {
    color: white;
  }

  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
