<script>
  import { onMount } from "svelte";
  import { Singles } from "../../api/singles";
  onMount(async () => {
    Meteor.subscribe("singles");
  });

  let single;
  $m: {
    single = Singles.findOne("dci_token");
    console.log(single);
  }
</script>

<div>{single?.token}</div>
<div>{single?.createdAt}</div>
