<script>
  export let item;
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  let isOpen = false;

  // const handleOnBlur = (event) => {
  //   // Problem THIS on:blur fires before the on:click ... so the function is NOT actionnned.

  //   console.log("blur");
  //   // console.log(event);
  //   console.log(event.target);
  //   console.log(event.target.type);

  //   // if (event.target.type != "button") {
  //   isOpen = false;
  //   // }
  // };

  const isSold = async (event) => {
    isOpen = false;
    let id = event.target.dataset.value;
    let boolean = event.target.dataset.boolean;
    await Meteor.callAsync("mandates_for_sale.update.isSold", id, boolean);
    saved_notification();
  };

  const isRentedByOthers = async (event) => {
    isOpen = false;
    let id = event.target.dataset.value;
    let boolean = event.target.dataset.boolean;
    await Meteor.callAsync(
      "mandates_for_rent.update.isRentedByOthers",
      id,
      boolean
    );
    saved_notification();
  };

  const isRented = async (event) => {
    isOpen = false;
    let id = event.target.dataset.value;
    let boolean = event.target.dataset.boolean;
    await Meteor.callAsync("mandates_for_rent.update.isRented", id, boolean);
    saved_notification();
  };

  const isSoldByOthers = async (event) => {
    isOpen = false;
    let id = event.target.dataset.value;
    let boolean = event.target.dataset.boolean;

    await Meteor.callAsync(
      "mandates_for_sale.update.isSoldByOthers",
      id,
      boolean
    );

    saved_notification();
  };

  const isCancelledBySeller = async (event) => {
    isOpen = false;
    let id = event.target.dataset.value;
    let boolean = event.target.dataset.boolean;
    //TO BE OPTIMISED to check the type
    await Meteor.callAsync(
      "mandates_for_sale.update.isCancelledBySeller",
      id,
      boolean
    );

    await Meteor.callAsync("mandates_for_rent.update.isCancelled", id, boolean);
    saved_notification();
  };

  const isExpired = async (event) => {
    isOpen = false;
    let id = event.target.dataset.value;
    let boolean = event.target.dataset.boolean;
    //TO BE OPTIMISED
    await Meteor.callAsync("mandates_for_sale.update.isExpired", id, boolean);
    await Meteor.callAsync("mandates_for_rent.update.isExpired", id, boolean);
    saved_notification();
  };
</script>

<div>
  <div class="relative inline-block text-left">
    <!-- on:blur={(event) => handleOnBlur(event)} -->
    <button
      on:click={() => (isOpen = !isOpen)}
      type="button"
      class="inline-flex justify-center w-full px-3 py-1 text-sm text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      Modifier

      <svg
        class="w-5 h-5 ml-2 -mr-1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    {#if isOpen}
      <div
        class="absolute right-0 z-10 w-56 mt-2 origin-top-right bg-white rounded-md shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-1" role="none">
          {#if item?.mandatType == "sale"}
            {#if item.isSold}
              <button
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="false"
                on:click={isSold}
              >
                <i class="fa-solid fa-rotate-left"></i>
                Enlever "Vendu"
              </button>
            {:else}
              <button
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="true"
                on:click={isSold}
              >
                <i class="text-green-500 fa-solid fa-flag" />
                Vendu
              </button>
            {/if}

            {#if item.isSoldByOthers}
              <button
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="false"
                on:click={isSoldByOthers}
              >
                <i class="fa-solid fa-rotate-left"></i>
                Enlever "Vendu par une autre agence"
              </button>
            {:else}
              <button
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="true"
                on:click={isSoldByOthers}
              >
                <i class="text-red-500 fa-solid fa-flag" />
                Vendu par une autre agence
              </button>
            {/if}
          {:else if item?.mandatType == "rent"}
            {#if item.isRented}
              <button
                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="false"
                on:click={isRented}
              >
                <i class="fa-solid fa-rotate-left"></i>
                Enlever "Loué"
              </button>
            {:else}
              <button
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="true"
                on:click={isRented}
              >
                <i class="fa-solid fa-flag" />
                Loué
              </button>
            {/if}

            {#if item.isRentedByOthers}
              <button
                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="false"
                on:click={isRentedByOthers}
              >
                <i class="fa-solid fa-square-minus" />
                Enlever "loué par une autre agence"
              </button>
            {:else}
              <button
                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                data-value={item._id}
                data-boolean="true"
                on:click={isRentedByOthers}
              >
                <i class="text-red-500 fa-solid fa-flag" />
                Loué par une autre agence
              </button>
            {/if}
          {/if}

          {#if item.isCancelledBySeller || item.isCancelled}
            <button
              class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
              data-value={item._id}
              data-boolean="false"
              on:click={isCancelledBySeller}
            >
              <i class="fa-solid fa-rotate-left"></i>
              Enlever "Annulation vendeur"
            </button>
          {:else}
            <button
              class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
              data-value={item._id}
              data-boolean="true"
              on:click={isCancelledBySeller}
            >
              <i class="text-red-500 fa-solid fa-flag" />
              Annulation vendeur
            </button>
          {/if}

          {#if item.isExpired}
            <button
              class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
              data-value={item._id}
              data-boolean="false"
              on:click={isExpired}
            >
              <i class="fa-solid fa-square-minus" />
              Enlever "Expiré"
            </button>
          {:else}
            <button
              class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
              data-value={item._id}
              data-boolean="true"
              on:click={isExpired}
            >
              <i class="text-red-500 fa-solid fa-flag" />
              Expiré
            </button>
          {/if}
        </div>
      </div>
    {/if}
  </div>
</div>
