<script>
  import { onMount } from "svelte";
  import { Mandates } from "../../../api/mandates.js";
  import { Mandates_For_Rent } from "../../../api/mandates_rent.js";
  import { Mandates_For_Sale } from "../../../api/mandates_sale.js";

  import enterprise_customization from "../../../../enterprise_customization";
  const { logourl, countryConfiguration } = enterprise_customization;
  import { isAdminOrlocal } from "../../../admin.ts";

  import MandateRecordRentItem from "./MandateRecordRentItem.svelte";
  import MandateRecordSaleItem from "./MandateRecordSaleItem.svelte";

  let MandateRentHandle;
  let MandateSaleHandle;
  let MandateHandle;

  onMount(async () => {
    MandateRentHandle = Meteor.subscribe("mandates_for_rent_record");
    MandateSaleHandle = Meteor.subscribe("mandates_for_sale_record");
    MandateHandle = Meteor.subscribe("mandates_record");
  });

  let allItems, rentItems, saleItems;

  let filter = { mandate: { $exists: true } };
  let sort = { sort: { createdAt: -1 } };
  let isCurrent = false; // By default: ALL - otherwise  in progress

  const filterAll = () => {
    filter = { mandate: { $exists: true } };
    isCurrent = false;
  };

  const filterInProgress = () => {
    filter = {
      mandate: { $exists: true },
      isSold: { $ne: true },
      isSoldByOthers: { $ne: true },
      isRented: { $ne: true },
      isRentedByOthers: { $ne: true },
      isExpired: { $ne: true },
      isCancelled: { $ne: true },
      isCancelledBySeller: { $ne: true },
    };
    isCurrent = true;
  };

  let isLoading;
  $m: {
    isLoading = !(MandateRentHandle?.ready() && MandateSaleHandle?.ready());

    rentItems = Mandates_For_Rent.find(filter, sort).fetch();
    saleItems = Mandates_For_Sale.find(filter, sort).fetch();
    mandateItems = Mandates.find(filter, sort).fetch();

    saleItems = saleItems.map((obj) => ({ ...obj, mandatType: "sale" }));
    rentItems = rentItems.map((obj) => ({
      ...obj,
      mandatType: "rent",
    }));
    mandateItems = mandateItems.map((obj) => ({
      ...obj,
      mandatType: "mandate",
    }));

    // allItems = saleItems.concat(rentItems).sort(function (a, b) {
    //   return b.mandate?.date - a.mandate?.date;
    // });

    allItems = saleItems.concat(rentItems, mandateItems).sort(function (a, b) {
      return b.mandate?.date - a.mandate?.date;
    });
  }
</script>

<div class="flex justify-between">
  <div>
    <h1 class="text-xl">
      <i class="fa-solid fa-file-lines text-[var(--main-color)]" />
      Registre des mandats
    </h1>
  </div>

  <div>
    <button class="print:hidden btn btn--dark" onclick="window.print()">
      <i class="fa-solid fa-print" />
      Imprimer
    </button>

    <img
      class="hidden print:block max-w-[250px] max-h-[50px]"
      alt="logo"
      src={logourl}
    />
  </div>
</div>

<div class="print:hidden">
  <button
    class="p-1 bg-white border rounded-sm focus:bg-blue-300"
    on:click={() => {
      filterAll();
    }}
  >
    Tous
  </button>
  <button
    class="p-1 bg-white border rounded-sm focus:bg-blue-300"
    on:click={() => {
      filterInProgress();
    }}
  >
    En cours
  </button>
</div>

{#if isLoading}
  Loading
{:else}
  <div class="p-3 bg-white rounded-xl">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-left min-w-[60px]">N.</th>
            <th class="text-left">Type</th>
            <th class="text-left min-w-[100px]">Exclusivité</th>
            <th class="text-left min-w-[200px]">Status</th>
            <th class="text-left min-w-[250px]">Bien</th>
            <th class="text-left min-w-[150px]">Prix FAI / loyer</th>
            <th class="text-left min-w-[100px]">Par</th>
            <th class="text-left min-w-[100px]">Début</th>
            <th class="text-left"> Fin </th>
            {#if countryConfiguration == "pf"}
              <th class="text-left">Avenants</th>
            {/if}
            {#if isAdminOrlocal}
              <td />
            {/if}
          </tr>
        </thead>
        <tbody>
          {#each allItems || [] as item}
            {#if item.mandatType == "sale"}
              <MandateRecordSaleItem {item} {isCurrent} />
            {:else if item.mandatType == "rent"}
              <MandateRecordRentItem {item} {isCurrent} />
            {:else if item.mandatType == "mandate"}
              <td>
                {item.mandate.number}
              </td>
              <td> Mandat </td>
              <td>{item.mandate.title || "Sans titre"} </td>
            {:else}
              Error
            {/if}
          {/each}
        </tbody>
      </table>
    </div>
  </div>
{/if}
