<script>
  export let item;
  export let isCurrent; // In progress or not

  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale.js";

  let handle;
  onMount(async () => {
    if (item.asset?.value) {
      handle = Meteor.subscribe("for_sale_asset", item.asset?.value);
    }
  });

  import GetUserName from "./getUserName.svelte";

  let asset;

  $m: {
    isReady = handle?.ready();
    if (item.asset?.value && isReady) {
      asset = Assets_sale.findOne(item.asset?.value);
    }
  }

  import dayjs from "dayjs";
  import { isAdminOrlocal } from "../../../admin.ts";

  import Dropdown from "./Dropdown.svelte";
  import enterprise_customization from "../../../../enterprise_customization";
  const { currency, countryConfiguration } = enterprise_customization;
  import { formatAndcurrency } from "../../../commonFunctions";
  import RecordStatus from "./recordStatus.svelte";

  const isOwnerAdminOrlocal = (userId) => {
    if (isAdminOrlocal) {
      return true;
    }

    if (userId == Meteor.userId()) {
      return true;
    }
  };
</script>

{#if asset && (!isCurrent || (!asset?.isSold && !asset?.isSoldByOthers && !asset?.isExpired && !asset?.isCancelled && !asset?.isCancelledBySeller))}
  <tr class="border-b">
    <td>
      <a
        href="/pro/for-sale-mandates/edit/{item._id}"
        class="underline {isOwnerAdminOrlocal(item.userId) || 'disabled'}"
      >
        {item.mandate?.number}
      </a>
    </td>

    <td> Vente </td>
    <td>{item.type || ""}</td>
    <td>
      <RecordStatus {item} {asset} />
    </td>

    <td>
      {#if item.asset?.value}
        <a
          href="/pro/for-sale/edit/{item.asset?.value}"
          class="{isAdminOrlocal() || 'disabled'} underline"
        >
          {asset?.title || "Sans titre"}
        </a>
      {/if}
    </td>

    <td class="text-left">
      {#if item.saleprice?.fees_included}
        {item.saleprice?.fees_included?.toLocaleString() || ""} {currency}
      {/if}

      {#if item.rent?.rent_without_charges}
        {item.rent?.rent_without_charges?.toLocaleString() || ""}
        {currency} / mois
      {/if}

      <!-- Avenants -->
      {#if countryConfiguration == "pf"}
        {#if item.amendments}
          {#each item.amendments || [] as amendment, i}
            {#if amendment.price_feesincluded}
              <div>
                {formatAndcurrency(amendment.price_feesincluded)}
              </div>
            {/if}

            {#if amendment.rentpermonth}
              <div>
                {formatAndcurrency(amendment.rentpermonth)}
              </div>
            {/if}
          {/each}
        {/if}
      {/if}
    </td>

    <td>
      {#if item.userId}
        <GetUserName id={item.userId} />
      {/if}
    </td>

    <td>
      {#if item.startingDate}
        {dayjs(item.startingDate).format("DD/MM/YYYY")}
      {:else}
        <span> Aucun </span>
      {/if}
    </td>
    <td>
      {#if item.startingDate && item.validityDuration}
        {dayjs(item.startingDate)
          .add(item.validityDuration, "months")
          .format("DD/MM/YYYY") || "Aucune"}

        <!-- Avenants -->
        {#if countryConfiguration == "pf"}
          {#if item.amendments}
            {#each item.amendments || [] as amendment, i}
              {#if amendment.date}
                <div>
                  {amendment.date.toLocaleDateString()}
                </div>
              {/if}
            {/each}
          {/if}
        {/if}
        <!-- end avenants -->
      {:else}
        <span> Aucun </span>
      {/if}
    </td>
    <!-- <td>{item.mandate?.date.toLocaleDateString()}</td> -->
    {#if countryConfiguration == "pf"}
      <td>
        {#if item.amendments}
          {#each item.amendments || [] as amendment, i}
            <a
              href={amendment.url}
              class="underline {isAdminOrlocal() || 'disabled'}"
            >
              Avenant {i + 1}
            </a>
          {/each}
        {/if}
      </td>
    {/if}

    {#if isAdminOrlocal}
      <td>
        <Dropdown {item} />
      </td>
    {/if}
  </tr>
{/if}

<style>
  a.disabled {
    /* Make the disabled links grayish*/
    color: #1e293b;
    /* And disable the pointer events */
    pointer-events: none;
    text-decoration: none;
  }
</style>
