<script>
  import dayjs from "dayjs";
  export let item, asset;
</script>

<!-- {#if item.status == "validated"}
  Validé
{:else if item.status == "waiting"}
  En attente
{:else if item.status == "draft"}
  Non complété
{:else if item.status == "refused"}
  Refusé
{:else}
  {item.status || ""}
{/if} -->

{#if item.isSoldByOthers}
  <div>
    <i class="text-red-600 fa-solid fa-ban" />
    Vendu par autre agence
  </div>
{/if}

{#if item.isSold}
  <div>
    <i class="text-green-600 fa-solid fa-check" />
    Vendu
  </div>
{/if}

{#if item.isRentedByOthers}
  <div>
    <i class="text-red-600 fa-solid fa-ban" />
    Loué par autre agence
  </div>
{/if}
{#if item.isRented}
  <div>
    <i class="text-green-600 fa-solid fa-check" />
    Loué
  </div>
{/if}

{#if item.isCancelledBySeller}
  <div>
    <i class="text-red-600 fa-solid fa-ban" />
    Annulation vendeur
  </div>
{/if}
{#if item.isCancelled}
  <div>
    <i class="text-red-600 fa-solid fa-ban" />
    Annulation propriétaire
  </div>
{/if}

{#if item.isExpired}
  <div>
    <i class="text-red-600 fa-solid fa-ban" />
    Expiré
  </div>
{/if}

{#if !item.isExpired && !item.isCancelled && !item.isCancelledBySeller && !item.isRented && !item.isRentedByOthers && !item.isSold && !item.isSoldByOthers}
  {#if item.startingDate && item.validityDuration && dayjs(item.startingDate)
      .add(item.validityDuration, "months")
      .diff() < 0}
    Expiré
    <i class="text-yellow-500 fa-regular fa-circle-question" />
  {/if}
{/if}

<!-- Asset -->
{#if asset?.isSold}
  Vendu
{/if}

{#if asset?.isRented}
  <i class="text-green-600 fa-solid fa-check" />
  Loué
{/if}

{#if asset?.isRentedByOthers}
  Loué par une autre agence
{/if}

{#if asset?.isCancelled}
  Annulation
{/if}

{#if asset?.isCancelledBySeller}
  Annulation
{/if}

{#if asset?.isExpired}
  Expiré
{/if}

{#if asset?.tags?.includes("Sous offre")}
  Sous offre
{/if}

{#if asset?.tags?.includes("Sous compromis")}
  Sous compromis
{/if}
