<script>
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  function handle_forgot_password() {
    let email = document.getElementById("email");
    email = email.value || "";

    if (!email) {
      error_notification("Ajouter un email");
      return;
    }

    if (!confirm("Password reset for " + email)) return;

    Accounts.forgotPassword(
      {
        email: email,
      },
      function (err) {
        if (err) {
          error_notification(err);
        } else {
          saved_notification("Email envoyé");
        }
      }
    );
  }
</script>

<button class="mb-0 text-sm underline" on:click={handle_forgot_password}>
  Mot de passe oublié? <!-- Forgot Password? -->
</button>
