<script>
  let email = "";
  let password = "";

  function onSubmit() {
    Meteor.loginWithPassword(email, password, (err) => {
      if (!err) {
        isSent = true;
        email = "";
        return;
      }
      error.set(err.reason);
    });
  }
</script>

<form on:submit|preventDefault={onSubmit}>
  <div>
    <label>
      Email <input placeholder="test@yo.com" type="email" bind:value={email} />
    </label>
  </div>
  <div>
    <label>
      Password <input
        placeholder="1234"
        type="password"
        bind:value={password}
      />
    </label>
  </div>
  <button>Login</button>
</form>
