<script>
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";
  import { navigate } from "svelte-routing";
  import { isProFunction } from "../../admin.ts";

  import Forgot_password from "./Forgot_password.svelte";
  import enterprise_customization from "../../../enterprise_customization";

  let email = "";
  let password = "";

  function onSubmit() {
    Meteor.loginWithPassword(email, password, (err) => {
      if (!err) {
        if (isProFunction()) {
          navigate("/pro");
        } else {
          navigate("/profile");
        }
        saved_notification();
        email = "";
      } else {
        console.log({ err });
        error_notification(err.reason);
      }
    });
  }
</script>

<svelte:head>
  <title>Login - {enterprise_customization.enterprise_name}</title>
  <!-- Description for Google and search engines -->
  <meta
    name="description"
    content="Login - {enterprise_customization.enterprise_name}"
  />
  <link
    rel="canonical"
    href="https://{enterprise_customization.website}/login"
  />
</svelte:head>

<div class="container px-1 py-5 mx-auto mt-5 min-h-[62vh]">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="pb-5 mx-auto">
      <div class="px-3 mt-4 mb-5">
        <img
          src="https://res.cloudinary.com/properties/image/upload/v1628020272/samples/laptop-home-office_qddbcy.jpg"
          class="rounded-3xl max-h-96"
          alt="login"
        />
      </div>
    </div>

    {#if Meteor.userId()}
      <span class="text-3xl">Déjà connecté</span>
    {:else}
      <div>
        <div class="px-5 py-5 border-t lg:px-16 lg:border-0">
          <!-- <div class="flex px-3 mb-4">
          <h6 class="mt-2 mb-0 mr-4">Sign in with</h6>
          <div class="mr-3 text-center facebook">
            <div class="fa-brands fa-facebook-f" />
          </div>
          <div class="mr-3 text-center twitter">
            <div class="fa-brands fa-x-twitter" />
          </div>
          <div class="mr-3 text-center linkedin">
            <div class="fa-brands fa-linkedin-in" />
          </div>
        </div> -->
          <!-- <div class="flex mb-4">
          <div class="line" />
          <small class="text-center or">Or</small>
          <div class="line" />
        </div> -->
          <div>
            <label for="email" class="mb-1">
              <h6 class="mb-0">Email Address</h6>
            </label>
            <input
              bind:value={email}
              class="w-full mb-4 input"
              type="text"
              name="email"
              id="email"
              placeholder="Enter a valid email address"
            />
          </div>
          <div>
            <label for="password" class="mb-1">
              <h6 class="mb-0">Password</h6>
            </label>
            <input
              bind:value={password}
              class="w-full input"
              type="password"
              name="password"
              placeholder="Enter password"
            />
          </div>
          <div class="mb-4">
            <div class="custom-control custom-checkbox">
              <!-- <input
                id="chk1"
                type="checkbox"
                name="chk"
                 />
              <label for="chk1" class="text-sm">Remember me</label> -->
            </div>

            <Forgot_password />
          </div>
          <div class="mb-3">
            <button
              on:click|preventDefault={onSubmit}
              type="submit"
              class="btn btn--blue"
            >
              Se connecter <!-- Login -->
            </button>
          </div>
          <div class="mb-4 text-sm font-semibold">
            Vous n'avez pas encore de compte?
            <a href="/register" class="text-blue-600 underline"> S'inscrire </a>
          </div>
        </div>
      </div>
    {/if}
  </div>
</div>

<style>
  .facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .twitter {
    background-color: #1da1f2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .linkedin {
    background-color: #2867b2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .line {
    height: 1px;
    width: 45%;
    background-color: #e0e0e0;
    margin-top: 10px;
  }

  .or {
    width: 10%;
    font-weight: bold;
  }

  ::placeholder {
    color: #bdbdbd;
    opacity: 1;
    font-weight: 300;
  }
</style>
