<script>
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";
  import { navigate } from "svelte-routing";

  let password;
  export let token;

  function save() {
    if (password && password != "") {
      Accounts.resetPassword(token, password, function (err) {
        if (err) {
          error_notification();
        } else {
          saved_notification();
          navigate("/", { replace: true });
        }
      });
    }
  }
</script>

<br /><br />

<div class="container my-5">
  Nouveau mot de passe
  <br />
  <input bind:value={password} type="text" id="password" name="password" />
  <button on:click={save}>Enregistrer</button>
</div>
