<script>
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";
  import { navigate } from "svelte-routing";

  import Forgot_password from "./Forgot_password.svelte";
  import enterprise_customization from "../../../enterprise_customization";
  const { registerImageUrl } = enterprise_customization;

  let email = "";
  let password = "";

  let userId;
  $m: {
    userId = Meteor.userId();
  }

  function onSubmit() {
    const userId = Accounts.createUser(
      {
        email: email,
        password: password,
      },
      (error) => {
        if (error) {
          console.log(error);
          console.log(error.reason);
          error_notification(error.reason);
        } else {
          saved_notification();
          navigate("/");
        }
      }
    );
  }

  function signout() {
    if (!confirm("Déconnection / Log out")) return;

    Meteor.logout(function (err) {
      navigate("/");
      saved_notification();
    });
  }
</script>

<div class="px-1 py-5 mx-auto mt-5">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      <div class="pb-5">
        <div class="flex justify-center px-3 mt-4 mb-5 border-line">
          <img class="rounded-xl w-96" alt="" src={registerImageUrl} />
        </div>
      </div>
    </div>

    <div>
      {#if !userId}
        <div class="px-4 py-5">
          <!-- <div class="px-3 mb-4">
            <h6 class="mt-2 mb-0 mr-4">Sign in with</h6>
            <div class="mr-3 text-center facebook">
              <div class="fa-brands fa-facebook-f" />
            </div>

            <div class="mr-3 text-center twitter">
              <div class="fa-brands fa-x-twitter" />
            </div>
            <div class="mr-3 text-center linkedin">
              <div class="fa-brands fa-linkedin-in" />
            </div>
          </div> -->
          <!-- <div class="px-3 mb-4">
            <div class="line" />
            <small class="text-center or">Or</small>
            <div class="line" />
          </div> -->
          <div class="px-3">
            <label class="mb-1" for="">
              <h5 class="mb-0 text-sm">Email Address</h5>
            </label>
            <input
              bind:value={email}
              class="w-full mb-4 input"
              type="text"
              name="email"
              placeholder="Enter a valid email address"
            />
          </div>
          <div class="px-3">
            <label for="" class="mb-1">
              <h5 class="mb-0 text-sm">Password</h5>
            </label>
            <input
              class="w-full input"
              bind:value={password}
              type="password"
              name="password"
              placeholder="Enter password"
            />
          </div>

          <div class="px-3 mb-4">
            <Forgot_password />
          </div>
          <div class="px-3 mb-3">
            <button
              on:click|preventDefault={onSubmit}
              type="submit"
              class="btn btn--blue"
            >
              S'inscrire
            </button>
          </div>
          <div class="px-3 mb-4">
            <small class="font-bold">
              <!-- Have an account? -->
              Vous avez déjà un compte?
              <a href="/login" class="text-blue-600 underline">
                Se connecter <!-- Login -->
              </a>
            </small>
          </div>
        </div>
      {:else}
        <!-- Already logged in -->
        <div>Déjà connecté</div>

        <div>
          <a class="btn btn-lg btn-color-main" href="/">
            <i class="fa-solid fa-house" />
            Home / Page principale
          </a>
        </div>
        <div class="mt-5">
          <button on:click={signout} class="btn btn--dark btn-lg">
            <i class="fa-solid fa-right-from-bracket" />
            Se déconnecter
          </button>
        </div>
      {/if}
    </div>
  </div>
</div>

<style>
  .border-line {
    border-right: 1px solid #eeeeee;
  }

  .facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .line {
    height: 1px;
    width: 45%;
    background-color: #e0e0e0;
    margin-top: 10px;
  }

  .or {
    width: 10%;
    font-weight: bold;
  }

  ::placeholder {
    color: #bdbdbd;
    opacity: 1;
  }

  @media screen and (max-width: 991px) {
    .border-line {
      border-right: none;
    }
  }
</style>
