<script>
  import { onMount } from "svelte";
  import { Assets_rent } from "../../api/assets_rent";
  import QRCode from "../QRJS.svelte";
  import enterprise_customization from "../../../enterprise_customization";
  import SimilarAssets from "./SimilarAssets.svelte";
  import { proOrlocalAuthorizationBoolean } from "../../admin";
  import Diagnostics from "../Diagnostics.svelte";
  import CallMeBackBox from "../CallMeBackBox.svelte";
  import Loading from "../Loading.svelte";
  import Carousel from "../Carousel.svelte";

  const {
    formatNumber,
    formatAndcurrency,
  } = require("../../commonFunctions.ts");

  export let id;

  window.scroll(0, 0);

  const handle = Meteor.subscribe("for_rent_asset_slug", id);

  onMount(async () => {
    //To be optimized => create a subscription "assetpublicpage with an array with both asset, mandate folder and user."
    Meteor.subscribe("users");
    await Meteor.callAsync("asset_rent.increment.pageviews", id);
  });

  let object;
  let isLoading = true;

  $m: {
    isLoading = !handle.ready();

    if (!isLoading) {
      object = Assets_rent.findOne({ $or: [{ _id: id }, { slug: id }] });
      console.log({ object });

      if (object) {
        if (object.description) {
          object.description = object.description
            .replace(/Plus de détails\/photos : .+/g, "")
            .replace(/\r?\n/g, "<br />")
            .replaceAll("m2", "m²");
        }
      }
    }
  }
</script>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs print:hidden">
  <div class="container mx-auto">
    <ol class="mt-3">
      <li><a href="/" aria-label="homepage">Home</a></li>
      <li>Propriété</li>
    </ol>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- QR Code -->
<div class="container hidden print:block">
  <div class="flex justify-between">
    <div>
      <img
        src={enterprise_customization.logourl}
        class="max-w-[180px] max-h-[80px]"
        alt="logo"
      />
    </div>
    <div>
      <QRCode
        codeValue="{enterprise_customization.website}/for-sale/{id}"
        squareSize="100"
      />
    </div>
  </div>
</div>
<!-- end QR Code -->

{#if isLoading}
  <div class="pt-[300px] pb-[300px]">
    <Loading />
  </div>
{:else if object}
  {#if !object.isVisible && proOrlocalAuthorizationBoolean()}
    <div class="container mx-auto print:hidden">
      <i class="fa-solid fa-lock" />
      This page is private and not visible
      <div class="mt-5">
        <a href="/pro/for-rent/edit/{object._id}" class="btn btn--blue">
          <i class="fa-regular fa-pen-to-square" />
          Modifier l'annonce<!-- Go back to edit -->
        </a>
      </div>
    </div>
  {/if}

  <div class="container mx-auto mt-3">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div>
        <h1 class="text-2xl">{object?.title}</h1>

        {#if object.isRented}
          <span
            class="px-2.5 py-0.5 rounded-full bg—green-100 text-green-800 text-xs"
          >
            Loué
          </span>
        {/if}
      </div>

      <div class="lg:text-end">
        <h2 class="text-2xl">
          {#if object.rentpermonth}
            {formatAndcurrency(object.rentpermonth)}/ mois
          {:else}
            Prix sur demande
          {/if}
        </h2>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div>
        {#if object.address}
          <i class="text-gray-400 fa-solid fa-location-dot" />
          {object.address.city || ""}
          {#if object.address.postalCode}
            /
            {object.address.postalCode}
          {/if}
        {/if}
      </div>
      <div class="text-end">
        <div class="print:hidden">
          <button class="btn btn--dark" onclick="window.print()">
            <i class="fa-solid fa-print" />
            Imprimer la fiche
          </button>
        </div>
      </div>
    </div>

    <div>
      <ul class="flex gap-3">
        {#if object.landSurface}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <i class="text-gray-400 fa-solid fa-expand" />
            {formatNumber(object.landSurface)}
            m²
          </li>
        {/if}

        {#if object.livingArea}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <i class="text-gray-400 fa-solid fa-vector-square" />
            {formatNumber(object.livingArea)}
            m²
          </li>
        {/if}

        {#if object.roomsNumber?.bedrooms}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <span class="text-sm me-1">
              {object.roomsNumber.bedrooms || ""}
              <i class="text-gray-400 fa-solid fa-bed" />
            </span>
          </li>
        {/if}

        {#if object.roomsNumber?.kitchens}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <span class="text-sm me-1">
              {object.roomsNumber.kitchens || ""}
              <i class="text-gray-400 fa-solid fa-sink" />
            </span>
          </li>
        {/if}

        {#if object.roomsNumber?.bathrooms}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <span class="text-sm me-1">
              {object.roomsNumber.bathrooms || ""}
            </span>
            <i class="text-gray-400 fa-solid fa-bath" />
          </li>
        {/if}

        {#if object.roomsNumber?.parkingslots}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <span class="text-sm me-1">
              {object.roomsNumber.parkingslots || ""}
            </span>
            <i class="text-gray-400 fa-solid fa-car" />
          </li>
        {/if}

        {#if object.roomsNumber?.cellars}
          <li class="pl-2 border-l first:border-l-0 first:pl-0">
            <span class="text-sm me-1">
              {object.roomsNumber.cellars || ""}
            </span>
            <i class="text-gray-400 fa-solid fa-dungeon" />
          </li>
        {/if}
      </ul>
    </div>

    <!-- Tags -->
    {#if object?.tags}
      <div class="my-2">
        {#each object?.tags as tag}
          <!-- {#if tag == "Sous offre"}
            <span class="px-3 py-1 mr-2 text-pink-800 bg-pink-100 rounded">
              {tag}
            </span>
          {:else} -->
          <span class="px-3 py-1 mr-2 text-indigo-800 bg-indigo-100 rounded">
            {tag}
          </span>
          <!-- {/if} -->
        {/each}
      </div>
    {/if}
    <!-- End tags -->

    <div class="grid grid-cols-1 lg:grid-cols-3">
      <div class="col-span-2">
        <Carousel {object} />

        <!-- Rent per month -->
        <div>
          <div class="text-xl">
            {#if object.rentpermonth}
              {formatNumber(object.rentpermonth)}
              {enterprise_customization.currency} / mois
            {/if}
          </div>
        </div>

        <div class="mt-5 mb-4">
          <div>
            {#if object.description}
              <!-- <h3 class="text-xl">Description</h3> -->
              <p>{@html object.description}</p>
            {/if}
          </div>
        </div>
      </div>

      <div class="col-span-3 lg:col-span-1">
        <CallMeBackBox agentId={object.userId} {object} />
      </div>
    </div>

    {#if object.diagnostics?.ges || object.diagnostics?.dpe}
      <div style="page-break-inside:avoid;">
        <h5>Diagnostics énergétiques:</h5>
        <Diagnostics
          ges={object.diagnostics?.ges}
          dpe={object.diagnostics?.dpe}
        />
      </div>
    {/if}

    {#if object.youtubeId}
      <div class="mb-5">
        <div>
          <div class="videoWrapper">
            <iframe
              title="youtube"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/{object.youtubeId}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            />
          </div>
        </div>
      </div>
    {/if}

    <SimilarAssets
      type={object.type}
      city={object.address?.city}
      excludeId={object._id}
    />
  </div>
{/if}

<style>
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
