<script>
  import { onMount } from "svelte";
  import { Assets_rent } from "../../api/assets_rent.js";
  import { navigate } from "svelte-routing";
  import Select from "svelte-select";
  import cities from "../../PolynesiaCities.js";
  import enterprise_customization from "../../../enterprise_customization.ts";
  // import dayjs from "dayjs";

  import RentCardItem from "../properties/rent/RentCardItem.svelte";
  import SearchNotifications from "../SearchNotifications.svelte";
  // import Favorites from "../profile/Favorites.svelte";
  // import Loading from "../Loading.svelte";

  const seachItems = cities.values;
  const groupBy = (item) => item.group;

  function handle_places(event) {
    const array = event.detail;
    citiesArray = array;
  }

  let typeList;
  let placesList;
  let isLoading = true;
  let handle;

  let url = new URL(window.location.href);

  let type = url?.searchParams?.get("type");
  let places = url?.searchParams?.get("places");
  let priceMax = Number(url?.searchParams?.get("price"));

  let assetType = [];

  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());

  // Constants
  const typeItems = [
    { value: "apartment", label: "Appartement" },
    { value: "house", label: "Maison" },
    { value: "building", label: "Immeuble" },
    { value: "land", label: "Terrain" },
  ];

  //Initiate the search from params
  if (type) {
    typeList = [{ value: type }];
    assetType = [type];
  }

  onMount(async () => {
    handle = Meteor.subscribe("visible_for_rent_assets");
    Meteor.subscribe("thisuser");

    if (places) {
      // document.getElementById("city").value = places;
      placesList = places.split("_");
    }

    if (priceMax && document.getElementById("price_max")) {
      document.getElementById("price_max").value = priceMax;
      price_max = priceMax;
    }
  });

  function handleType(event) {
    assetType = event.detail?.map((x) => x.value) || [];
  }

  function handleClearType(event) {
    // assetType = ["land", "house", "apartment"];
  }

  function handleClearCities(event) {
    // console.log("CLEAR");
  }

  function unsetProperty(filterObject, property) {
    let filtered = {};
    for (const key in filterObject) {
      if (key !== property) {
        filtered[key] = filter[key];
      }
    }
    return filtered;
  }

  let filter = {};
  let options = {};
  let price_max;
  let livingArea;
  let citiesArray; // For PF config
  let city; // For FR config

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }

    return favorites.find((element) => element.assetId == value);
  }

  let for_rent_assets = [];

  $m: {
    isLoading = !handle?.ready();

    filter.archived = { $ne: true };
    filter.isVisible = true;

    options.sort = { createdAt: -1 };

    if (assetType == [] || assetType == "") {
      filter = unsetProperty(filter, "type");
    } else if (assetType) {
      filter.archived = { $ne: true };
      filter["type"] = { $in: assetType };
    }

    if (price_max) {
      filter["rentpermonth"] = { $lte: price_max };
    }

    // PF
    if (citiesArray) {
      filter["address.city"] = { $in: citiesArray.map((x) => x.value) };
    } else {
      filter = unsetProperty(filter, "address.city");
    }

    //FR
    if (city) {
      filter["address.city"] = { $regex: new RegExp("^" + city + ".*", "i") };
    }

    if (livingArea) {
      filter["livingArea"] = { $gte: livingArea };
    } else {
      filter = unsetProperty(filter, "livingArea");
    }

    for_rent_assets = Assets_rent.find(filter, options).fetch();

    // if (for_rent_assets) {
    //   for_rent_assets.forEach(function (item) {
    //     item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");
    //     if (is_favorite(item._id)) {
    //       item.is_favorite = true;
    //     } else {
    //       item.is_favorite = false;
    //     }
    //   });
    // }
  }
</script>

<div class="mx-auto mb-5">
  <!-- <h4 class="mb-5 font-bold text-center">Nos dernières annonces immobilières</h4> -->
  {#if isLoading}
    <div style="height:50vh;">Loading...</div>
  {:else}
    <div class="bg-slate-100">
      <h1 class="py-3 mb-5 text-2xl font-semibold text-center">En location</h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3">
      <div class="col-span-1 px-10">
        <div class="pb-3 mb-2">
          <h3 class="font-bold">Type</h3>
          <Select
            id="selectType"
            items={typeItems}
            multiple="true"
            on:change={handleType}
            on:clear={handleClearType}
            value={typeList}
          />
        </div>
        <div class="pb-3 mb-2">
          <h3 class="font-bold">Budget max</h3>

          <input
            id="price_max"
            class="w-full input"
            type="number"
            min="0"
            bind:value={price_max}
          />
        </div>

        <div class="pb-3 mb-2">
          <h3 class="font-bold">Ville</h3>

          {#if enterprise_customization.countryConfiguration == "pf"}
            <div class="themed">
              <Select
                id="citiesSelect"
                on:change={handle_places}
                on:clear={handleClearCities}
                value={placesList}
                items={seachItems}
                placeholder="Ville"
                {groupBy}
                multiple="true"
              />
            </div>
          {:else}
            <input
              class="w-full input"
              id="city"
              type="text"
              bind:value={city}
            />
          {/if}
        </div>

        <div class="pb-3 mb-2">
          <h3 class="font-bold">Surface min (habitable)</h3>
          <input
            class="w-full input"
            type="number"
            min="0"
            bind:value={livingArea}
          />
        </div>
      </div>

      <div class="col-span-2">
        <div class="grid grid-cols-1 gap-6 px-10 lg:grid-cols-2">
          {#each for_rent_assets as item}
            <RentCardItem {item} />
          {:else}
            Aucun bien ne correspond à votre recherche
          {/each}
        </div>
      </div>
    </div>
    <!-- <SearchNotifications /> -->
  {/if}
</div>
