<script>
  // import tutorials from "../../../../tutorials";
  // const items = tutorials;

  import enterprise_customization from "../../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;

  let items;

  if (countryConfiguration == "fr") {
    items = [
      {
        title: "Plateforme",
        content: [
          {
            title:
              "Comment publier un bien sur la platforme et sur les autres passerelles",
            path: "https://youtu.be/VtExEtl09W4",
            youtubeId: "VtExEtl09W4",
          },

          {
            title: "Comment ajouter un mandat de vente ou location",
            path: "https://youtu.be/_LngdtH4uzQ",
            youtubeId: "_LngdtH4uzQ",
          },
        ],
      },
    ];
  }

  if (countryConfiguration == "pf") {
    items = [
      {
        title: "Plateforme",
        content: [
          {
            title: "Comment créer un avis de valeur / estimation",
            path: "https://youtu.be/yFGOdu0uqRk",
            youtubeId: "yFGOdu0uqRk",
          },

          {
            title: "Comment ajouter un mandat de vente / créer un bien",
            path: "https://youtu.be/zTZtFJxJUDs",
            youtubeId: "zTZtFJxJUDs",
          },

          {
            title: "Comment utiliser ChatGPT / Chatsonic",
            path: "https://youtu.be/m2OLuOsv7L0",
            youtubeId: "m2OLuOsv7L0",
          },

          {
            title: "Comment ajouter un mail automatique de la mailing list",
            path: "https://youtu.be/Q23-lBBXKKM",
            youtubeId: "Q23-lBBXKKM",
          },

          {
            title: "Comment ajouter un dossier de prêt immobilier",
            path: "https://youtu.be/1-m8mQvmqvA",
            youtubeId: "1-m8mQvmqvA",
          },

          {
            title: "Comment enlever les en-têtes et pieds de page",
            path: "https://youtu.be/Mrn887ej1FM",
            youtubeId: "Mrn887ej1FM",
          },
        ],
      },
    ];
  }
</script>

<div class="p-4 mb-5 bg-white shadow-md rounded-xl">
  <h1 class="text-xl">
    <i class="fa-solid fa-chalkboard-user text-[var(--main-color)]" />
    Tutoriels
  </h1>

  {#each items || [] as item}
    <table class="w-full">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th class="text-left">{item.title}</th>
        </tr>
      </thead>
      <tbody>
        {#each item.content as item, i}
          <tr class="border-b last:border-b-0">
            <!-- <th>{i + 1}</th> -->
            <td>
              <a href={item.path} class="text-xl">
                {i + 1}
                {item.title}
              </a>

              <div class="videoWrapper">
                <iframe
                  title="youtube"
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/{item.youtubeId}"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                />
              </div>
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {/each}
</div>

<style>
  /* .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
</style>
