<script>
  export let category;
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  import { onMount } from "svelte";
  import { Singles } from "../../../api/singles.js";
  import FileItem from "./fileItem.svelte";

  let user, isAdmin;
  $m: {
    user = Meteor.user();
    isAdmin = user?.roles?.includes("admin");
  }

  onMount(async () => {
    Meteor.subscribe("single", "files");
  });

  let files = [];
  $m: {
    files = Singles.findOne({ _id: "files" }, {})?.object;
    files = files?.filter((item) => item.category == category);

    console.log({ files });
    // logs?.forEach(function (logs) {
    //   logs.createdAt = dayjs(logs.createdAt).format("DD/MM/YYYY");
    // });
  }

  let pdfurl, title, href;

  const addFile = async () => {
    if (!title) return error_notification("titre");
    if (!href && !pdfurl) return error_notification("link");

    const object = {
      title: title,
      pdfurl: pdfurl,
      href: href,
      category,
    };

    await Meteor.callAsync("single.add.file", object);
    saved_notification();
    title = "";
    pdfurl = "";
    href = "";
  };

  let show = false;
</script>

{#if isAdmin}
  <div class="text-right">
    <button class="mt-3" on:click={() => (show = !show)}>
      <i class="text-gray-700 fa-regular fa-pen-to-square" />
      <!-- Modifier -->
    </button>
  </div>

  <div class={show ? "" : "hidden"}>
    <div>
      Titre du document
      <input
        class="w-full input"
        type="text"
        bind:value={title}
        placeholder="Titre"
      />
    </div>
    <div>
      <i class="fa-regular fa-file-pdf" />
      PDF/Word Google drive, ...
      <input
        class="w-full input"
        type="text"
        bind:value={pdfurl}
        placeholder="https://drive.google.com/file/..."
      />
    </div>

    <div>
      <i class="fa-regular fa-file-lines" />
      Page web
      <input
        class="w-full input"
        type="text"
        bind:value={href}
        placeholder="https://......"
      />
      <button
        on:click={addFile}
        class="px-1 py-3 mt-3 border rounded-lg btn-color-main"
      >
        Add file
      </button>
    </div>
  </div>
{/if}

{#each files || [] as file}
  <FileItem {file} {isAdmin} {show} />
{/each}
