<script>
  import { adminpaths as links } from "../../../../enterprise_templates";
</script>

{#each links as link}
  <div>
    <a class="nav-link" href={link.url}>
      <i class="fa-regular fa-file" />
      {link.name}
    </a>
  </div>
{/each}
