<script>
  export let file, isAdmin, show;

  const deleteFile = async (file) => {
    if (!confirm(`Are you sure ? `)) return;
    await Meteor.callAsync("single.remove.file", file);
    saved_notification();
  };
</script>

<div class="mt-7">
  {file.title}
  {#if file.note}
    <div class="mb-3 text-sm">
      {@html file.note}
    </div>
  {/if}

  {#if file.href}
    <a
      target="_blank"
      class="px-4 py-2.5 bg-blue-300 hover:bg-blue-400 rounded-lg border mr-3"
      href={file.href}
    >
      <i class="fa-regular fa-file-lines" />
    </a>
  {/if}

  {#if file.pdfurl}
    <a
      class="px-4 py-2.5 bg-indigo-300 hover:bg-indigo-400 rounded-lg border"
      href={file.pdfurl}
    >
      <i class="fa-regular fa-file-pdf" />
    </a>
  {/if}

  {#if isAdmin && show}
    <button
      on:click={() => {
        deleteFile(file);
      }}
    >
      <i class="text-gray-700 fa-regular fa-trash-can" />
      <!-- Supprimer -->
    </button>
  {/if}
</div>
