<script>
  import Footer from "../databases/mandates/footer.svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  import enterprise_data from "../../../../enterprise_data.ts";
</script>

<div class="container mx-auto">
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-xl">
        FICHE DE RENSEIGNEMENTS <br />
        FUTUR AGENT IMMOBILIER INDÉPENDANT
      </h1>
    </div>
    <div class="text-end">
      <img
        alt="logo"
        class="w-[120px]"
        src={enterprise_customization.logourl}
      />
    </div>
  </div>

  <div>
    <div>
      <span class="font-bold text-red-600 text-decoration-underline">
        Seul un dossier complet sera transmis au siège
      </span>
    </div>
  </div>

  <div class="mt-4">
    <div>
      <div class="font-bold text-center text-decoration-underline">
        PIÈCES À FOURNIR
      </div>
    </div>
  </div>

  <ol>
    <li>
      COPIE RECTO-VERSO D’UNE PIECE D’IDENTITE (carte d’identité ou Passeport)
    </li>
    <li>COPIE DE LA CARTE VITALE</li>
    <li>
      COPIE D’UN JUSTIFICATIF DE DOMICILE DE MOINS DE TROIS MOIS (Téléphone,
      Électricité, Gaz)
    </li>
    <li>
      Un Chèque de 50 € à l’ordre de la CCI PARIS pour la demande d’attestation
      collaborateur ou un virement bancaire Iban: {enterprise_customization.bank
        .iban} Bic: {enterprise_customization.bank.bic}
    </li>
    <li>2 photos d’identité</li>
    <li>Copie Acte de Naissance avec Filiation</li>
    <li>Nom du Parrain (le cas échéant) ……………………………………………………………………………</li>
  </ol>

  <br />

  <div>
    À adresser à
    <strong>{enterprise_customization.address} </strong>
  </div>

  <br />

  <div class="mt-4">
    <div>
      <div class="font-bold text-center text-decoration-underline">
        INFORMATIONS SUR L’AGENT IMMOBILIER INDÉPENDANT
      </div>
    </div>
  </div>

  <div>
    <div class="mb-2">
      <span>Nom</span>
      <input type="text" />
    </div>
    <div class="mb-2">
      <span>Prénom</span>
      <input type="text" />
    </div>
    <div class="mb-2">
      <span>Date de Naissance</span>
      <input type="text" />
    </div>

    <div class="mb-2">
      <span>Lieu de Naissance</span>
      <input type="text" />
    </div>

    <div class="mb-2">
      <span> N° de Sécurité Sociale </span>
      <input type="text" />
    </div>

    <div class="mb-2">
      <span>Nationalité</span>
      <input type="text" />
    </div>

    <div class="mb-2">
      <span>Adresse</span>
      <input type="text" />
    </div>

    <div class="mb-2">
      <span>N° de Mobile</span>
      <input type="text" />
    </div>

    <div class="mb-2">
      <span>E-Mail</span>
      <input type="text" />
    </div>
  </div>

  <br /><br /><br /><br />

  <div>
    <div>
      <div class="font-bold text-center text-decoration-underline">
        INFORMATIONS COMPLEMENTAIRES
      </div>
    </div>
  </div>

  Pour quel régime fiscal souhaitez-vous opter ?

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault">
      Régime social et fiscal du micro-entrepreneur : Si oui , choisir :
    </label>
  </div>

  <div class="ms-4">
    <div>
      <input type="checkbox" value="" id="flexCheckDefault" />
      <label for="flexCheckDefault">
        Versement libératoire de l’impôt sur le revenu (régler à la fois l’impôt
        sur le revenu et les charges sociales, option possible sous réserve du
        respect d’un seuil du revenu fiscal de référence)
      </label>
    </div>

    <div>
      <input type="checkbox" value="" id="flexCheckDefault" />
      <label for="flexCheckDefault">
        Paiement de l’impôt sur le revenu suite à la déclaration de revenus
        annuelle
      </label>
    </div>
  </div>

  <p>Choix du versement de vos cotisations ?</p>

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault"> Mensuel </label>
  </div>

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault"> Trimestriel </label>
  </div>

  <p>Resterez-vous simultanément ?</p>

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault"> Salarié </label>
  </div>

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault"> Pôle Emploi </label>
  </div>

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault"> Retraité </label>
  </div>

  <div>
    <input type="checkbox" value="" id="flexCheckDefault" />
    <label for="flexCheckDefault"> Autre : A préciser : </label>
  </div>

  <div>
    Avez-vous exercé antérieurement une activité non salariée ?

    <div>
      <input
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="option1"
      />
      <label for="inlineRadio1">Oui</label>
    </div>
    <div>
      <input
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="option2"
      />
      <label for="inlineRadio2">Non</label>
    </div>
  </div>

  <p>Si Oui, préciser :</p>

  <ul>
    <li>Nature de l’activité</li>
    <li>Adresse de l’activité</li>
    <li>Date de cessation de l’activité</li>
    <li>N° de SIRET</li>
  </ul>

  <div>
    Êtes-vous déjà immatriculé en qualité d’agent immobilier Indépendant ?

    <div>
      <input
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="option1"
      />
      <label for="inlineRadio1">Oui</label>
    </div>
    <div>
      <input
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="option2"
      />
      <label for="inlineRadio2">Non</label>
    </div>
  </div>
  <p>Si Oui, Préciser :</p>

  <ul>
    <li>Nature de l’activité</li>
    <li>Adresse de l’activité</li>
    <li>N° SIRET de l’agent</li>
    <li>N° TVA Intracommunautaire</li>
    <li>Régime Fiscal actuel</li>
    <li>Fournir une attestation RC Professionnelle</li>
  </ul>

  <p style="page-break-inside:avoid;" class="text-justify">
    Merci de bien vouloir compléter rigoureusement le présent formulaire.
    Veuillez noter que les réponses sont obligatoires et nécessaires au
    traitement de votre dossier d’immatriculation en qualité d’agent immobilier
    indépendant et/ou votre habilitation, toute absence de réponse ou réponse
    erronée pouvant compromettre le bon traitement de votre dossier. Vos
    informations personnelles sont conservées pendant toute la relation
    contractuelle et l’accomplissement des obligations légales. Pendant cette
    période, nous mettons en place tous moyens aptes à assurer la
    confidentialité et la sécurité de vos données personnelles de manière à
    empêcher leur endommagement, effacement ou accès par des tiers non
    autorisés. L’accès aux données personnelles est strictement limité :
  </p>

  <ul>
    <li>
      Aux employés et préposés de l’entreprise habilités à les traiter en raison
      de leur fonction
    </li>
    <li>
      Aux administrations destinataires des différentes déclarations dont nous
      sommes chargées
    </li>
    <li>
      Aux sites d’export que vous choisissez pour effectuer vos publicités.
    </li>
  </ul>

  <p class="text-justify">
    Vos nom, prénom, téléphone et zone d’activité seront quant à eux visibles
    sur la partie vitrine de notre site internet. Conformément à la loi «
    informatiques et libertés » du 6 janvier 1978 modifiée et au Règlement
    européen n° 2016/679/EU du 27 avril 2016 applicable dès le 25 mai 2018, vous
    disposez d’un droit d’accès, de rectification, de portabilité et
    d’effacement de vos données ou encore de limitation du traitement. Vous
    pouvez également pour des motifs légitimes, vous opposer au traitement des
    données vous concernant. Vous pouvez sous réserve de la production d’un
    justificatif d’identité valide, exercer vos droits en contactant le délégué
    à la protection des données {enterprise_data.agency_representative}

    , domicilié professionnellement au siège de

    {enterprise_customization.enterprise_name}
    . Toutefois les informations indispensables à la bonne gestion de relation client
    pourront être conservées même en cas de demande de suppression. Pour toute information
    complémentaire ou réclamation, vous pouvez contacter la Commission Nationale
    de l’Informatique et des Libertés (plus d’informations sur www.cnil.fr). Enfin,
    nous vous informons de l’existence de la liste d’opposition au démarchage téléphonique
    « Bloctel » sur laquelle vous pouvez vous inscrire.
  </p>
</div>

<Footer />
