<script>
  import enterprise_customization from "../../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;
  import { propaths as links } from "../../../../enterprise_templates";
  import AddFiles from "./AddFiles.svelte";
  import FileItem from "./fileItem.svelte";

  const createUrl = (googleFileId) => {
    return `https://drive.google.com/uc?id=${googleFileId}&export=download`;
  };

  const files_general_pf = [
    // {
    //   title: "Procédure du négociateur",
    //   pdfurl: createUrl("1vh2NDw2iqmCLM0zF5cfsoj_rNmP1NdmI"),
    //   //  href="/pro/templates/procedures" // no need the word or html
    // },
    // {
    //   title: "Facture",
    //   href: "/pro/templates/facture",
    //   //  href="/pro/templates/procedures" // no need the word or html
    // },
  ];
  // SALE PF
  const files_sale_pf = [
    // {
    //   title: "Mandat de recherche",
    //   pdfurl: createUrl("1_3We-OA2qlBQb1dnYcnThLs1nAkFd8CO"),
    //   href: "/pro/templates/for-search-mandates",
    // },
    // {
    //   title: "Mandat de vente simple",
    //   pdfurl: createUrl("1hKncFlJY8pu2oL8D89-Ppi65kWhIeNyz"),
    //   href: "/pro/templates/for-sale-mandates?type=simple",
    // },
    // {
    //   title: "Mandat de vente Confiance (exclusif)",
    //   pdfurl: createUrl("11pweJfcQSeUhqFWAkQNggYwkfeplW15Z"),
    //   href: "/pro/templates/for-sale-mandates?type=exclusif",
    // },
    // {
    //   title: "Avenant mandat de vente",
    //   pdfurl: createUrl("1knUPEG0y7BN48j0IFW1sKBQjw90dAU27"),
    //   href: "/pro/templates/for-sale-amendment",
    // },
    // {
    //   title: "Avis de valeur",
    //   note: `(Utiliser de préférence l'avis de valeur dans <i>Biens à vendre</i> /
    //       <i>avis de valeur</i> ou <i>Biens à louer</i> / <i>avis de valeur</i>)`,
    //   href: "/pro/templates/fullpfsalevaluation/",
    // },
    // {
    //   title: "Offre d'intention d'achat + demande de financement",
    //   href: "/pro/templates/offreachat",
    //   pdfurl: createUrl("1JSb53J4t748OpppD-7d3btw_iSPRP-PU"),
    // },
    // {
    //   title: "Bon de visite",
    //   href: "/pro/templates/bon-de-visite",
    //   pdfurl: createUrl("1xlSKC2DIhXXHSOhzTcK9q2rSGtlf0doY"),
    // },
    // {
    //   title: "Bon de commission",
    //   href: "/pro/templates/bon-de-commission",
    //   pdfurl: createUrl("1Wnqr4vRCAD_oxz7rT6djnNsci_Ik3NTH"),
    // },
    // {
    //   title: "Fiche de renseignement - Compromis",
    //   href: "/pro/templates/fiche-de-renseignements",
    //   pdfurl: createUrl("1D2ZoNi9WwumxEQF_vZbeYtes3VmPeere"),
    // },
  ];

  // SALE FR

  const files_sale_fr = [
    {
      title: "Mandat de vente simple",
      href: "/pro/templates/for-sale-mandates?type=simple",
    },
    {
      title: "Mandat de vente semi-exclusif",
      href: "/pro/templates/for-sale-mandates?type=semi-exclusif",
    },
    {
      title: "Mandat de vente exclusif",
      href: "/pro/templates/for-sale-mandates?type=exclusif",
    },
    {
      title: "Avis de valeur (ancien)",
      href: "/pro/templates/avisdevaleur",
    },
    {
      title: "Avis de valeur (nouveau)",
      href: "/pro/templates/valuation",
    },
    {
      title: "Offre d'intention d'achat + demande de financement",
      href: "/pro/templates/offreachat",
    },

    {
      title: "Bon de visite",
      href: "/pro/templates/bon-de-visite",
    },
  ];

  // RENT PF
  const files_rent_pf = [
    // {
    //   title: "Mandat de recherche",
    //   href: "/pro/templates/for-search-mandates-location",
    //   // pdfurl: createUrl("1_3We-OA2qlBQb1dnYcnThLs1nAkFd8CO"),
    // },
    // {
    //   title: "Inventaire",
    //   href: "/pro/templates/inventory",
    // },
    // {
    //   title: "État des lieux",
    //   href: "/pro/templates/assetcondition",
    //   pdfurl: createUrl("1bNVR6un090vhRITRFEpOUAQYGLuOexeX"),
    // },
    // {
    //   title: "Mandat de location simple",
    //   href: "/pro/templates/for-rent-mandates?type=simple",
    //   pdfurl: createUrl("1vyidEOSiKDzJ7RDOlGzC4q0e5hdatBwc"),
    // },
    // {
    //   title: "Mandat de location exclusif",
    //   href: "/pro/templates/for-rent-mandates?type=exclusif",
    //   pdfurl: createUrl("1OlRO6U8M8t1EXcdGq4Qfj2m_FwAcLyAp"),
    // },
    // {
    //   title: "Avenant mandat de location",
    //   href: "/pro/templates/for-rent-amendment",
    //   pdfurl: createUrl("16EBiNUTxnZxWnEeHNInyLAyxdWvMHzPz"),
    // },
    // {
    //   title: "Bail location",
    //   href: "/pro/templates/lease",
    //   pdfurl: createUrl("1CKmZvLzHqaamzXZIy4FJps29ZgEoIhVN"),
    // },
  ];

  // RENT FRANCE
  const files_rent_fr = [
    {
      title: "Inventaire",
      href: "/pro/templates/inventory",
    },
    {
      title: "État des lieux",
      href: "/pro/templates/assetcondition",
    },
    {
      title: "Mandat de location simple",
      href: "/pro/templates/for-rent-mandates?type=simple",
    },
    {
      title: "Bail location",
      href: "/pro/templates/lease",
    },
    {
      title: "Mandat de location exclusif",
      href: "/pro/templates/for-rent-mandates?type=exclusif",
    },
  ];

  // SHORTTERM PF
  const files_shortrent_pf = [
    // {
    //   title: "Contrat d'apporteur d'affaire",
    //   href: "/pro/templates/holiday-mandates",
    //   pdfurl: createUrl("1xul_ARqlSzcEu3gjugLi1zz8uYfZ9xO5"),
    // },
  ];

  const files_shortrent_fr = [{}];
</script>

<div class="container">
  <div class="p-4 mb-4 shadow-md rounded-xl bg-slate-50">
    {#if countryConfiguration == "pf"}
      <div>
        <h4 class="mb-4 text-lg font-bold">Général</h4>
        {#each files_general_pf as file}
          <FileItem {file} />
        {/each}

        <AddFiles category="general" />
      </div>
    {/if}
  </div>

  <div class="p-4 mb-4 shadow-md rounded-xl bg-slate-50">
    <h4 class="text-lg font-bold">Vente</h4>

    <div>
      {#if countryConfiguration == "pf"}
        {#each files_sale_pf as file}
          <FileItem {file} />
        {/each}

        <AddFiles category="sale" />
      {/if}
    </div>
  </div>

  <div class="p-4 mb-4 shadow-md rounded-xl bg-slate-50">
    <h4 class="text-lg font-bold">Location</h4>

    {#if countryConfiguration == "pf"}
      {#each files_rent_pf as file}
        <FileItem {file} />
      {/each}
    {/if}

    {#if countryConfiguration == "fr"}
      {#each files_rent_fr as file}
        <FileItem {file} />
      {/each}
    {/if}

    <AddFiles category="rent" />
  </div>

  <div class="p-4 mb-4 shadow-md rounded-xl bg-slate-50">
    <div class="mb-6 text-lg font-bold">Location saisonnière</div>

    {#if countryConfiguration == "pf"}
      {#each files_shortrent_pf as file}
        <FileItem {file} />
      {/each}
    {/if}
    {#if countryConfiguration == "fr"}
      {#each files_shortrent_fr as file}
        <FileItem {file} />
      {/each}
    {/if}

    <AddFiles category="rentshort" />
  </div>
</div>
