<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../api/assets_sale";
  // import { Assets_sale } from "api/assets_sale";
  // import dayjs from "dayjs";
  // import Loading from "../../Loading.svelte";
  // import Favorites from "../profile/Favorites.svelte";

  onMount(async () => {
    Meteor.subscribe("thisuser");
    Meteor.subscribe("for_sale_assets_list");
  });

  async function deleteFavorite(value) {
    await Meteor.callAsync("user.pull.favorite", value);
  }

  let favoritesArray = [];
  let user;
  let favoriteItem;

  $m: {
    user = Meteor.user();
    favoritesArray = [];
    if (user?.favorites) {
      user.favorites.forEach((item) => {
        // console.log(item.assetId);
        favoriteItem = Assets_sale.findOne({ _id: item.assetId });

        if (favoriteItem) {
          favoritesArray.push(favoriteItem);
        }
      });

      // favorites = user.favorites;
    }

    console.log(favoritesArray);
  }
</script>

<h4 class="text-xl">Mes favoris</h4>
{#if favoritesArray.length == 0}
  Vous n'avez pas de favoris
{:else}
  <table>
    <thead>
      <tr>
        <th>
          <!--  -->
        </th>
        <th>
          <!--  -->
        </th>
        <th>
          <!--  -->
        </th>
      </tr>
    </thead>
    <tbody>
      {#each favoritesArray as item}
        <tr>
          <td>
            <!-- {item._id} -->
            <a href="/for-sale/{item._id}"> {item.title}</a>
          </td>
          <td>{item.address.city}</td>
          <td>
            <button
              class="btn--light"
              on:click={() => {
                deleteFavorite(item._id);
              }}
            >
              Supprimer
            </button>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
{/if}
