<script>
  import { onMount } from "svelte";
  import { Searches } from "../../api/searches.js";
  import {
    error_notification,
    saved_notification,
  } from "../../notifications.ts";

  import SearchesItem from "./SearchesItem.svelte";

  let items;

  async function save_search() {
    if (!Meteor.userId()) {
      error_notification("Not logged");
      return;
    }
    await Meteor.callAsync("searches.insert.profile");
    saved_notification();
  }

  async function emailVerification() {
    const btn = document.getElementById("emailVerification");
    document.querySelector("#emailVerification").disabled = true;
    await Meteor.callAsync("sendVerificationLink");
    saved_notification("Email envoyé");
    btn.textContent =
      "Nous venons de vous envoyer un mail. Vérifier votre boîte email";
  }

  let user;

  Tracker.autorun(() => {
    items = Searches.find({}, { sort: { createdAt: -1 } }).fetch();
    console.log(items);
    user = Meteor.user();
  });

  onMount(async () => {
    Meteor.subscribe("mySearches");
  });
</script>

<h4 class="text-xl">Mes alertes</h4>

<br />

{#if user}
  {#if user?.emails && !user?.emails?.[0]?.verified}
    <p>Afin de pouvoir créer des alertes emails</p>

    <button
      id="emailVerification"
      on:click={emailVerification}
      class="mt-3 btn btn--dark"
    >
      <i class="fa-solid fa-envelope-circle-check" />
      Vérifier votre email
    </button>
  {:else}
    <button class="btn btn--light" on:click={save_search}>
      <i class="fa-solid fa-circle-plus" /> Ajouter une alerte
    </button>

    <br />

    {#each items || [] as item}
      <SearchesItem {item} id={item._id} />
    {/each}
  {/if}
{/if}
