<script>
  // import { onMount } from "svelte";
  import enterprise_customization from "../../../enterprise_customization.ts";
  const { currency, countryConfiguration } = enterprise_customization;
  import Select from "svelte-select";

  import cities from "../../PolynesiaCities.js";
  // import cities from "../../../../FranceCities.js";

  import {
    saved_notification,
    error_notification,
  } from "../../../core/notifications.ts";

  const { validateEmail } = require("../../commonFunctions.ts");

  export let id, item;

  let citiesList = item?.cities;
  let search_places;

  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  async function handle_places(event) {
    const array = event.detail;
    search_places = array;
    await Meteor.callAsync("searches.update.cities", id, search_places);
    saved_notification();
    return;
  }

  function activate(event) {
    const searchid = event.target.dataset.searchid;

    // Transaction
    const transactionType = item.transactionType;
    if (!transactionType) {
      error_notification("Type de transaction");
      return;
    }

    const assetType = item.assetType;
    if (!assetType) {
      error_notification("Type de bien");
      return;
    }

    const priceMax = item.priceMax;
    if (!priceMax) {
      error_notification("Prix/loyer max");
      return;
    }

    const searchCities = item.cities;
    if (!searchCities) {
      error_notification("Ville");
      return;
    }

    if (!confirm("Activer?")) return;

    return Meteor.callAsync("searches.update.isActive", id, true);
  }

  async function changeNotes(event) {
    if (!confirm("Enregistrer?")) return;
    const value = document.getElementById(`notes${id}`).value;
    return Meteor.callAsync("searches.update.notes", id, value);
  }

  async function changeTransactionType(event) {
    if (!confirm("Enregistrer?")) return;
    const selectType = document.getElementById(`type${id}`);
    const value = selectType.options[selectType.selectedIndex].value;
    return Meteor.callAsync("searches.update.transactionType", id, value);
  }

  async function changeAssetType(event) {
    if (!confirm("Enregistrer?")) return;
    const selectType = document.getElementById(`assetType${id}`);
    const value = selectType.options[selectType.selectedIndex].value;
    return Meteor.callAsync("searches.update.assetType", id, value);
  }

  async function changePriceMin(event) {
    if (!confirm("Enregistrer ?")) return;
    const value = document.getElementById(`priceMin${id}`).value;
    return Meteor.callAsync("searches.update.priceMin", id, Number(value));
  }

  async function changeLivingAreaMin(event) {
    if (!confirm("Enregistrer ?")) return;
    const value = document.getElementById(`livingAreaMin${id}`).value;
    return Meteor.callAsync("searches.update.livingAreaMin", id, Number(value));
  }

  async function changeLandSurfaceMin(event) {
    if (!confirm("Enregistrer ?")) return;
    const value = document.getElementById(`landSurfaceMin${id}`).value;
    return Meteor.callAsync(
      "searches.update.landSurfaceMin",
      id,
      Number(value)
    );
  }

  async function changePriceMax(event) {
    if (!confirm("Enregistrer ?")) return;
    const value = document.getElementById(`priceMax${id}`).value;
    return Meteor.callAsync("searches.update.priceMax", id, Number(value));
  }

  // function changeStatus(event) {
  //   if (!confirm("Enregistrer?")) return;
  //   const value = document.getElementById("transactionType").value;
  //   return await Meteor.callAsync("searches.update.transactionType", id, value)
  //     saved_notification();
  // }

  async function handleClearCities(event) {
    return await Meteor.callAsync("searches.unset.cities", id);
  }

  async function deleteSearch(event) {
    if (!confirm("Supprimer la recherche")) return;
    const res = await Meteor.callAsync("searches.remove", id);
    saved_notification();
    return res;
  }
</script>

<div class="p-4 mb-4 rounded-lg shadow-md">
  <div class="grid grid-cols-2">
    <!-- Also need another status when the customer has unsubscribe -->

    <div class="text-lg">Statut</div>

    <div class="text-right">
      {#if item?.hasUnsubscribed}
        <span class="badge">
          Le client s'est désinscrit des notifications
        </span>
      {:else if item?.isActive}
        <span class="text-lg">
          <i class="text-green-600 fa-solid fa-check" />
          Actif
        </span>
      {:else}
        <button
          class="btn btn--blue"
          data-searchid={item._id}
          on:click={activate}
        >
          <i class="fa-solid fa-bell" />
          Activer
        </button>
      {/if}
    </div>
  </div>
  <!-- <div>
    Email
    <input
      id="email{item._id}"
      value={item?.email || ""}
      type="text"
      on:change={changeEmail}
    />
  </div> -->

  <div class="mt-2 mb-3">
    <div class="grid grid-cols-2 gap-4 mb-2">
      <div>
        <select
          id="type{item._id}"
          class="w-full border select"
          aria-label="typeSelection"
          on:change={changeTransactionType}
        >
          <option selected value="">Achat ou location</option>
          <option selected={item?.transactionType == "sale"} value="sale">
            Achat
          </option>
          <option selected={item?.transactionType == "rent"} value="rent">
            Location
          </option>
        </select>
      </div>
      <div>
        <select
          id="assetType{item._id}"
          class="w-full border select"
          aria-label="assettypeSelection"
          on:change={changeAssetType}
        >
          <option selected value="">Appartement, maison ou terrain</option>
          <option selected={item?.assetType == "apartment"} value="apartment">
            Appartement
          </option>
          <option selected={item?.assetType == "house"} value="house">
            Maison
          </option>
          <option selected={item?.assetType == "building"} value="building">
            Immeuble
          </option>
          <option selected={item?.assetType == "land"} value="land">
            Terrain
          </option>
        </select>
      </div>
    </div>

    <div class="font-semibold">Prix / Loyer</div>

    <div class="grid grid-cols-1 gap-4 mb-3 md:grid-cols-2">
      <div>
        <span>Min</span>
        <input
          class="w-2/3 input"
          id="priceMin{item._id}"
          type="number"
          placeholder=""
          aria-label="min"
          value={item?.priceMin}
          on:change={changePriceMin}
        />
        <span>{currency}</span>
      </div>

      <div>
        <span>Max</span>
        <input
          class="w-2/3 input"
          id="priceMax{item._id}"
          type="number"
          placeholder=""
          aria-label="max"
          value={item?.priceMax}
          on:change={changePriceMax}
        />
        <span>{currency}</span>
      </div>
    </div>

    <div class="font-semibold">Surface</div>

    <div class="grid grid-cols-1 gap-4 mb-3 md:grid-cols-2">
      <div>
        <span>Surface habitable min</span>
        <input
          class="w-3/5 input"
          id="livingAreaMin{item._id}"
          type="number"
          placeholder=""
          aria-label="livingAreaMin"
          value={item?.livingAreaMin}
          on:change={changeLivingAreaMin}
        />
        <span>m2</span>
      </div>

      <div>
        <span>Surface terrain min</span>
        <input
          class="w-3/5 input"
          id="landSurfaceMin{item._id}"
          type="number"
          placeholder=""
          aria-label="landSurfaceMin"
          value={item?.landSurfaceMin}
          on:change={changeLandSurfaceMin}
        />
        <span>m2</span>
      </div>
    </div>

    <Select
      id="searchCities{item._id}"
      value={citiesList}
      on:change={handle_places}
      on:clear={handleClearCities}
      items={searchItems}
      placeholder="Ville, île"
      {groupBy}
      multiple="true"
    />

    <!-- {#each item?.cities || [] as city}
      <span class="badge">
        {city.label}
      </span>
    {/each} -->

    <div>
      Notes
      <textarea
        class="w-full input"
        id="notes{item._id}"
        value={item?.notes || ""}
        type="text"
        on:change={changeNotes}
      />
    </div>

    <div>
      Nombre de notifications envoyées: {item.notifications?.length || 0}
    </div>

    <div class="text-right">
      <button class="btn btn--light" on:click={deleteSearch}>
        <i class="fa-solid fa-trash" />
        Supprimer
      </button>
    </div>
  </div>
</div>
