<script>
  import { onMount } from "svelte";
  // import { Assets_sale } from "api/assets_sale";
  // import dayjs from "dayjs";
  // import Loading from "../../Loading.svelte";
  // import Favorites from "../profile/Favorites.svelte";

  onMount(async () => {
    Meteor.subscribe("thisuser");
  });

  let favorites_count = 0;
  let user;

  Tracker.autorun(() => {
    user = Meteor.user();
    if (user?.favorites) {
      favorites_count = user.favorites.length;
    }
  });
</script>

<div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
  <ul class="space-y-2">
    <li>
      <a
        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        href="/profile"
      >
        <i class="fa-solid fa-columns" />
        <span class="ml-3"> Dashboard </span>
      </a>
    </li>

    <li>
      <a
        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        href="/profile/personal-information"
      >
        <i class="fa-regular fa-address-card" />

        <span class="ml-3">
          Mes informations <!-- Personal Information -->
        </span>
      </a>
    </li>

    <li>
      <a
        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        href="/profile/favorites"
      >
        <i class="fa-regular fa-heart" />
        <span class="ml-3">
          Mes favoris ({favorites_count})
        </span>
      </a>
    </li>

    <li>
      <a
        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        href="/profile/searches"
      >
        <i class="fa-solid fa-bell" />
        <span class="ml-3">
          Mes alertes <!-- Mes recherches -->
        </span>
      </a>
    </li>
  </ul>

  <!-- <h6
    class="flex items-center px-3 mt-4 mb-1 sidebar-heading justify-content-between"
  >
    <span>Databases</span>
    <a class="flex items-center" href="#" aria-label="">
      <i class="fa-solid fa-database" />
    </a>
  </h6> -->

  <!-- <li>
    <a
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      href="/pro/databases/for-sale"
    >
      <i class="fa-solid fa-house" />
      For sale
    </a>
  </li> -->

  <!-- <li>
    <a
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      href="/pro/databases/users"
    >
      <i class="fa-solid fa-users" />
      Users
    </a>
  </li> -->

  <!-- <li>
    <a
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      href="/pro/databases/immobilier-neuf"
    >
      <i class="fa-regular fa-building" />
      Immobilier neuf
    </a>
  </li> -->
</div>
