<script>
  import Select from "svelte-select";
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  import enterprise_data from "../../../enterprise_customization.ts";
  const { sendingEmail } = enterprise_data;

  let timeValue = "";
  let dayValue = "";

  const days = [
    {
      value: "Everyday",
      label: "Tous les jours",
    },
    {
      value: "Monday",
      label: "Lundi",
    },
    {
      value: "Tuesday",
      label: "Mardi",
    },
    {
      value: "Wed",
      label: "Mercredi",
    },
    {
      value: "Thursday",
      label: "Jeudi",
    },
    {
      value: "Friday",
      label: "Vendredi",
    },
    {
      value: "Sat",
      label: "Samedi",
    },
    {
      value: "Sun",
      label: "Dimanche",
    },
  ];

  const time = [
    {
      value: "8.00-10.00",
      label: "8.00-10.00",
    },
    {
      value: "10.00-12.00",
      label: "10.00-12.00",
    },
    {
      value: "12.00-14.00",
      label: "12.00-14.00",
    },
    {
      value: "14.00-16.00",
      label: "14.00-16.00",
    },
    {
      value: "16.00-18.00",
      label: "16.00-18.00",
    },
    {
      value: "18.00-20.00",
      label: "18.00-20.00",
    },
  ];

  let email = "";
  let message = "";
  let phone = "";
  let name = "";

  function timeselection(selectedValue) {
    timeValueArray = selectedValue.detail;
    timeValueArray = timeValueArray.map((a) => a.value);
    timeValue = timeValueArray.join(" ");
  }

  function dayselection(selectedValue) {
    dayValueArray = selectedValue.detail;
    dayValueArray = dayValueArray.map((a) => a.value);
    dayValue = dayValueArray.join(" ");
    // console.log(dayValue);
  }

  async function callMe() {
    message = `Message:  ${message}  <br/>
        Phone:  ${phone} <br/> 
        Email:   ${email} <br/>
        Name:  ${name}<br/> 
        Day: ${dayValue} <br/>
        Time ${timeValue}<br/>`;

    if (phone == "") {
      error_notification("Téléphone");
      return;
    }

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: "Faites-vous rappeler",
      html: message,
    });

    saved_notification();
  }
</script>

<div class="px-5 text-center text-white backgroundImage">
  <div class="container pt-6 pb-5 mx-auto">
    <div class="justify-center">
      <h2 class="mb-4 text-3xl" style="color:#F9FAFB;">
        Devenir Agent Commercial Immobilier
      </h2>

      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="text-xl text-left" style="color:#F3F4F6;">
          <p>Que vous soyez expérimenté ou débutant en immobilier.</p>

          <p>
            Vous travaillez depuis chez vous. Votre activité se concentre sur le
            terrain.
          </p>

          <div>
            <div>
              <h5 class="text-xl text-slate-200">Faites-vous rappeler</h5>
            </div>
            <div>
              <div>
                <input
                  bind:value={name}
                  type="text"
                  class="w-full text-sm input"
                  placeholder="Nom et prénoms"
                  aria-label="Username"
                />
              </div>

              <div class="mb-3">
                <input
                  bind:value={phone}
                  class="w-full text-sm input"
                  type="text"
                  placeholder="Téléphone"
                  aria-label="phone"
                  aria-describedby="phone"
                />
              </div>

              <label for="disponibility" class="form-label text-slate-200">
                Disponibilités
              </label>

              <br />
              <Select
                --item-color="#212529"
                --item-hover-color="#212529"
                id="day"
                items={days}
                on:change={dayselection}
                placeholder="Jours"
                multiple="true"
              />

              <Select
                --item-color="#212529"
                --item-hover-color="#212529"
                id="time"
                items={time}
                on:change={timeselection}
                placeholder="Horaires"
                multiple="true"
              />

              <br />

              <div class="text-center">
                <button
                  on:click={callMe}
                  type="button"
                  class="btn btn-color-main"
                >
                  <i class="fa-solid fa-phone-volume" />
                  Rappelez-moi
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  /* hello99pro@ */
  .backgroundImage {
    background: url("https://res.cloudinary.com/properties/image/upload/v1677929289/samples/call_back_1_kgstka.jpg")
      no-repeat;
    background-size: cover;
  }
</style>
