<script>
  import Select from "svelte-select";
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  import enterprise_data from "../../../enterprise_customization.ts";
  const { sendingEmail } = enterprise_data;

  let timeValue = "";
  let dayValue = "";

  const days = [
    {
      value: "Everyday",
      label: "Tous les jours",
    },
    {
      value: "Monday",
      label: "Lundi",
    },
    {
      value: "Tuesday",
      label: "Mardi",
    },
    {
      value: "Wed",
      label: "Mercredi",
    },
    {
      value: "Thursday",
      label: "Jeudi",
    },
    {
      value: "Friday",
      label: "Vendredi",
    },
    {
      value: "Sat",
      label: "Samedi",
    },
    {
      value: "Sun",
      label: "Dimanche",
    },
  ];

  const time = [
    {
      value: "8.00-10.00",
      label: "8.00-10.00",
    },
    {
      value: "10.00-12.00",
      label: "10.00-12.00",
    },
    {
      value: "12.00-14.00",
      label: "12.00-14.00",
    },
    {
      value: "14.00-16.00",
      label: "14.00-16.00",
    },
    {
      value: "16.00-18.00",
      label: "16.00-18.00",
    },
    {
      value: "18.00-20.00",
      label: "18.00-20.00",
    },
  ];

  let email = "";
  let message = "";
  let phone = "";
  let name = "";

  function timeselection(selectedValue) {
    timeValueArray = selectedValue.detail;
    timeValueArray = timeValueArray.map((a) => a.value);
    timeValue = timeValueArray.join(" ");
  }

  function dayselection(selectedValue) {
    dayValueArray = selectedValue.detail;
    dayValueArray = dayValueArray.map((a) => a.value);
    dayValue = dayValueArray.join(" ");
  }

  async function callMe() {
    message = `         
      ${message}  <br/>
      Phone:  ${phone}  <br/>
      email: ${email}  <br/>
      name: ${name}  <br/>
      day: ${dayValue} <br/>
      time ${timeValue}`;

    if (phone == "") {
      error_notification("Téléphone");
      return;
    }

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: "À rappeler",
      html: message,
    });

    saved_notification();
  }
</script>

<!-- Call to Action-->
<!-- <button
  class="btn btn-color-main"
  type=""
  data-bs-target="#callAction"
>
  Faites-vous rappeler
</button> -->

<!-- Modal -->
<div id="callAction">
  <div>
    <div>
      <div class="text-lg" style="color:#374151">Faites-vous rappeler</div>
    </div>
    <div>
      <div class="mb-3">
        <input
          class="w-full placeholder-gray-500 border-gray-300 input"
          bind:value={name}
          type="text"
          placeholder="Nom et prénoms"
          aria-label="Username"
        />
      </div>

      <div class="mb-3">
        <input
          class="w-full placeholder-gray-500 border-gray-300 input"
          bind:value={phone}
          type="text"
          placeholder="Téléphone"
          aria-label="phone"
          aria-describedby="phone"
        />
      </div>

      <div for="" class="text-lg" style="color:#374151">Disponibilités</div>

      <div class="mb-3">
        <Select
          id="day"
          items={days}
          on:change={dayselection}
          placeholder="Jours"
          multiple="true"
        />
      </div>

      <div>
        <Select
          id="time"
          items={time}
          on:change={timeselection}
          placeholder="Horaires"
          multiple="true"
        />
      </div>

      <br />

      <div class="gap-2 d-grid">
        <button on:click={callMe} type="button" class="btn btn-color-main">
          <i class="fa-solid fa-phone-volume" />
          Rappelez-moi
        </button>
      </div>
    </div>
  </div>
</div>
