<script>
  export let title;

  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  import enterprise_data from "../../../enterprise_customization.ts";
  const { sendingEmail } = enterprise_data;

  import Select from "svelte-select";

  let timeValue = "";
  let dayValue = "";

  const days = [
    {
      value: "Everyday",
      label: "Tous les jours",
    },
    {
      value: "Monday",
      label: "Lundi",
    },
    {
      value: "Tuesday",
      label: "Mardi",
    },
    {
      value: "Wed",
      label: "Mercredi",
    },
    {
      value: "Thursday",
      label: "Jeudi",
    },
    {
      value: "Friday",
      label: "Vendredi",
    },
    {
      value: "Sat",
      label: "Samedi",
    },
    {
      value: "Sun",
      label: "Dimanche",
    },
  ];

  const time = [
    {
      value: "8.00-10.00",
      label: "8.00-10.00",
    },
    {
      value: "10.00-12.00",
      label: "10.00-12.00",
    },
    {
      value: "12.00-14.00",
      label: "12.00-14.00",
    },
    {
      value: "14.00-16.00",
      label: "14.00-16.00",
    },
    {
      value: "16.00-18.00",
      label: "16.00-18.00",
    },
    {
      value: "18.00-20.00",
      label: "18.00-20.00",
    },
  ];

  let email = "";
  let message = "";
  let phone = "";
  let name = "";

  function timeselection(selectedValue) {
    timeValueArray = selectedValue.detail;
    timeValueArray = timeValueArray.map((a) => a.value);
    timeValue = timeValueArray.join(" ");
  }

  function dayselection(selectedValue) {
    dayValueArray = selectedValue.detail;
    dayValueArray = dayValueArray.map((a) => a.value);
    dayValue = dayValueArray.join(" ");
    // console.log(dayValue);
  }

  async function callMe() {
    message = `Message:  ${message}   <br/>
        Phone: ${phone} <br/> 
        Email: ${email} <br/>
        Name: ${name}<br/> 
        Day: ${dayValue} <br/>
        Time ${timeValue}<br/>`;

    if (phone == "") {
      error_notification("Téléphone");
      return;
    }

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: "FORMATION",
      html: message,
    });

    saved_notification();
  }

  async function send_email() {
    document.getElementById("message_sent").style.display = "block";
    document.getElementById("contactForm").style.display = "none";

    message = `${message} Phone: ${phone} Email: ${email}  Name: ${name}`;
    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: "Message",
      html: message,
    });
  }
</script>

<div class="text-center text-white call-to-action" id="callmeback">
  <div class="container mx-auto">
    <div class="justify-center">
      <div>
        <h2 class="mb-4 text-3xl text-slate-100">
          {title || ""}
        </h2>

        <!-- Email address input-->
        <div>
          <!-- <div style="text-align:left !important; color:#F3F4F6;">
            <p>
              Vous travaillez depuis chez vous. Votre activité se concentre sur
              le terrain.
            </p>
          </div> -->

          <!-- <div class="py-4">
            <button class="btn btn-color-main" type="">
              Faites-vous rappeler
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="callAction" tabindex="-1" aria-hidden="true">
    <div class="w-full mx-auto md:w-1/2">
      <div>
        <h5 class="text-xl text-slate-200">Faites-vous rappeler</h5>
      </div>
      <div class="container mx-auto">
        <div class="mb-4">
          <input
            class="w-full input"
            bind:value={name}
            type="text"
            placeholder="Nom et prénoms"
            aria-label="Username"
          />
        </div>

        <div class="mb-4">
          <input
            class="w-full input"
            bind:value={phone}
            type="text"
            placeholder="Téléphone"
            aria-label="phone"
            aria-describedby="phone"
          />
        </div>

        <div class="text-xl text-slate-200">Disponibilités</div>

        <br />
        <Select
          id="day"
          items={days}
          on:change={dayselection}
          placeholder="Jours"
          multiple="true"
        />

        <br />

        <Select
          id="time"
          items={time}
          on:change={timeselection}
          placeholder="Horaires"
          multiple="true"
        />

        <br />

        <div class="gap-2 d-grid">
          <button on:click={callMe} type="button" class="btn btn-color-main">
            <i class="fa-solid fa-phone-volume" />
            Rappelez-moi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .call-to-action {
    position: relative;
    background: url("https://res.cloudinary.com/properties/image/upload/v1625817268/samples/call_back1_nuc9ua.jpg")
      no-repeat center center;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .call-to-action:before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
</style>
