<script>
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  import enterprise_data from "../../../enterprise_customization.ts";
  const { sendingEmail } = enterprise_data;

  let email, message, phone, contactname;
  email = message = phone = contactname = "";

  async function send_email() {
    if (email == "" && phone == "") return error_notification("Fields missing");

    document.getElementById("message_sent").style.display = "block";
    document.getElementById("contactForm").style.display = "none";

    message = `Message:  ${message}   <br/>
        Phone:  ${phone} <br/> 
        Email:  ${email} <br/>
        Name:  ${contactname}`;

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: "Message from contact",
      html: message,
    });

    saved_notification();
  }
</script>

<section class="py-7" id="contact">
  <div class="container px-4 mx-auto sm:px-0">
    <div class="text-center">
      <h2 class="text-3xl text-slate-50">
        Nous contacter <!-- Contact Us -->
      </h2>
      <h3 class="mt-1 mb-5 text-xl text-white">
        Si vous avez une question ou qu'un doute subsiste, faites-nous en part.
      </h3>
    </div>

    <form id="contactForm" novalidate="novalidate">
      <div class="grid grid-cols-1 gap-4 md:gap-12 md:grid-cols-2">
        <div>
          <div class="mb-4">
            <input
              bind:value={contactname}
              class="w-full p-3 rounded"
              id="contactname"
              type="text"
              placeholder="Nom *"
              required="required"
              data-validation-required-message="Please enter your name."
            />
          </div>

          <div class="mb-4">
            <input
              bind:value={email}
              class="w-full p-3 rounded"
              id="email"
              type="email"
              placeholder="Email *"
              required="required"
              data-validation-required-message="Please enter your email address."
            />
          </div>

          <div>
            <input
              bind:value={phone}
              class="w-full p-3 rounded"
              id="phone"
              type="tel"
              placeholder="Téléphone *"
              required="required"
              data-validation-required-message="Please enter your phone number."
            />
          </div>
        </div>

        <div>
          <textarea
            bind:value={message}
            class="w-full h-full p-3 rounded min-h-[10rem;]"
            id="message"
            placeholder="Message *"
            required="required"
            data-validation-required-message="Please enter a message."
          />
        </div>
      </div>

      <div class="mt-4 text-center">
        <div id="success" />
        <button
          on:click|preventDefault={send_email}
          class="btn btn-color-main"
          id="sendMessageButton"
          type="submit"
        >
          <i class="fa-solid fa-paper-plane" />
          Envoyer <!-- Send Message -->
        </button>
      </div>
    </form>

    <!-- Message sent displayed after clicking -->
    <div id="message_sent" class="hidden text-center">
      <h2>Message envoyé !</h2>
    </div>
  </div>
</section>

<style>
  #contact {
    background-color: #212529;
    background-image: url("https://res.cloudinary.com/house99/image/upload/q_48/v1600450519/99properties/sample/map-image.webp");
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
