<script>
  import enterprise_customization from "../../../enterprise_customization";
  const { enterprise_name, website } = enterprise_customization;
</script>

<svelte:head>
  <!-- Description for Google and search engines -->
  <title>Contact - {enterprise_name}</title>
  <meta name="description" content="Contact - {enterprise_name}" />
  <link rel="canonical" href="https://{website}/contact" />
</svelte:head>

<div
  class="flex justify-center py-7"
  style="background: #009bff; background: linear-gradient(left, #0072ff, #00c6ff);"
>
  <div
    class="grid grid-cols-1 p-5 md:grid-cols-2 rounded-3xl"
    style="background: #fff;"
  >
    <div class="p-0 my-auto md:p-5">
      <img
        class="max-w-xs"
        src="https://res.cloudinary.com/house99/image/upload/v1600366910/99properties/sample/mail.png"
        alt="IMG"
      />
    </div>
    <div>
      <form class="validate-form">
        <div class="text-3xl text-center">Get in touch</div>

        <div class="wrap-input validate-input" data-validate="Name is required">
          <input
            class="w-full p-5 input1 focus:outline-none rounded-3xl bg-slate-200"
            type="text"
            name="name"
            placeholder="Name"
          />
        </div>

        <div
          class="wrap-input validate-input"
          data-validate="Valid email is required: exemple@abc.com"
        >
          <input
            class="w-full p-5 input1 focus:outline-none rounded-3xl bg-slate-200"
            type="text"
            name="email"
            placeholder="Email"
          />
        </div>

        <div
          class="wrap-input validate-input"
          data-validate="Subject is required"
        >
          <input
            class="w-full p-5 input1 focus:outline-none rounded-3xl bg-slate-200"
            type="text"
            name="subject"
            placeholder="Subject"
          />
        </div>

        <div
          class="wrap-input validate-input"
          data-validate="Message is required"
        >
          <textarea
            class="w-full input1 focus:outline-none min-h-[150px] rounded-3xl p-5 bg-slate-200"
            name="message"
            placeholder="Message"
          />
        </div>

        <div class="flex justify-center">
          <button
            class="contact-form-btn btn-color-main min-w-[193px] h-12 rounded-full flex justify-center items-center"
          >
            <span>
              Envoyer <!-- Send Email -->
              <i class="fa-solid fa-arrow-right-long" />
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
  .wrap-input {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }

  .contact-form-btn i {
    margin-left: 7px;
    transition: all 0.4s;
  }

  .contact-form-btn:hover i {
    transform: translateX(10px);
  }

  /*------------------------------------------------------------------
    [ Alert validate ]*/
  .validate-input {
    position: relative;
  }
</style>
