<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../../api/mandates_sale";
  import { Mandates_For_Rent } from "../../../../api/mandates_rent";
  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr");
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);
  import Loading from "../../../Loading.svelte";
  import GetTitle from "./GetTitle.svelte";

  onMount(async () => {
    Meteor.subscribe("mandates_for_sale_owner");
    Meteor.subscribe("mandates_for_rent_owner");
    Meteor.subscribe("thisuser");
  });

  let array = [];
  $m: {
    // salemandates = Mandates_For_Sale.find({
    //   startingDate: { $exists: true },
    //   validityDuration: { $exists: true },
    //   deedDate: { $exists: false },
    //   saleAgreementDate: { $exists: false },
    // }).fetch();

    let saleResult = [];
    let rentResult = [];

    Mandates_For_Sale.find({
      mandate: { $exists: true },
      // startingDate: { $exists: true },
      // validityDuration: { $exists: true },
      deedDate: { $exists: false },
      saleAgreementDate: { $exists: false },
      isSold: { $ne: true },
      isSoldByOthers: { $ne: true },
      isCancelledBySeller: { $ne: true },
      isExpired: { $ne: true },
    }).forEach((x) => {
      date1 = dayjs(x.startingDate).add(x.validityDuration, "month");
      date2 = dayjs();

      // if (date1.diff(date2, "month") <= 4) {
      saleResult.push(x);
      // }
    });

    Mandates_For_Rent.find({
      mandate: { $exists: true },
      // startingDate: { $exists: true },
      // validityDuration: { $exists: true },
      isRented: { $ne: true },
      isRentedByOthers: { $ne: true },
      isCancelled: { $ne: true },
      isExpired: { $ne: true },
    }).forEach((x) => {
      date1 = dayjs(x.startingDate).add(x.validityDuration, "month");
      date2 = dayjs();

      // if (date1.diff(date2, "month") <= 4) {
      rentResult.push(x);
      // }
    });

    saleMandates = saleResult.map((obj) => ({ ...obj, mandatType: "Sale" }));
    rentMandates = rentResult.map((obj) => ({ ...obj, mandatType: "Rent" }));

    array = saleMandates.concat(rentMandates);
    array = array.sort(function (a, b) {
      // return b.mandate?.date - a.mandate?.date;

      return (
        dayjs(a.startingDate).add(a.validityDuration, "month") -
        dayjs(b.startingDate).add(b.validityDuration, "month")
      );
    });
  }

  const findUserName = async (userId) => {
    return new Promise((resolve) => {
      const user = Meteor.users.findOne(userId, { fields: { contact: 1 } });
      if (user?.contact?.firstname) {
        resolve(user?.contact?.firstname || user?.emails[0].address);
      }
    });
  };

  // function findUserName(userId) {
  //   return new Promise((resolve) => {
  //     Meteor.callAsync("getUserName", userId)
  //       if (error) {
  //         console.error("Error fetching user name:", error);
  //         resolve("");
  //       } else {
  //         resolve(result);
  //       }
  //     });
  //   });
  // }
</script>

<div class="p-4 mb-4 bg-white shadow-lg rounded-xl">
  <h5 class="text-lg">
    <i class="fa-solid fa-folder-open text-[var(--main-color)]" />
    Tous les mandats en cours
    <span class="badge">
      {array.length}
    </span>
  </h5>

  <div class="mt-4 overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr>
          <th />
          <!-- <th>Date</th> -->
          <!-- <th>Statut</th> -->
          <th class="text-left">Fin de validité</th>
          <th />
          <th class="text-left">Ref</th>
          <th class="text-left">Bien</th>
          <th class="text-left">Type</th>
          <th class="text-left">User</th>
        </tr>
      </thead>
      <tbody>
        {#each array as item}
          <tr class="border-b">
            <td>
              {#if item.mandatType == "Sale"}
                <a
                  href="/admin/for-sale-mandates/edit/{item._id}"
                  class="text-blue-600"
                >
                  <i class="fa-solid fa-pen-to-square" />
                </a>
              {:else if item.mandatType == "Rent"}
                <a
                  href="/admin/for-rent-mandates/edit/{item._id}"
                  class="text-blue-600"
                >
                  <i class="fa-solid fa-pen-to-square" />
                </a>
              {/if}
            </td>
            <!-- <td>
              {item.createdAt?.toLocaleDateString() || ""}
            </td> -->
            <td>
              <!-- Fin de validité -->
              <div class="text-sm">
                {#if item.startingDate && item.validityDuration}
                  {#if dayjs().diff(dayjs(item.startingDate).add(item.validityDuration, "month")) > 0}
                    <span class="text-red-600"> Expiré </span>
                  {:else}
                    {dayjs().to(
                      dayjs(item.startingDate).add(
                        item.validityDuration,
                        "month"
                      )
                    )}
                  {/if}
                {/if}
              </div>

              <div class="text-sm">
                {#if item.startingDate}
                  {dayjs(item.startingDate)
                    .add(item.validityDuration, "month")
                    .format("DD/MM/YYYY")}
                {:else}
                  Aucune date
                {/if}
              </div>
            </td>

            <td class="text-sm">
              {#if item.mandatType == "Sale"}
                vente
              {:else if item.mandatType == "Rent"}
                loc
              {:else}
                {item.mandatType}
              {/if}
            </td>

            <td class="text-sm">
              {item.mandate?.number || item._id}
            </td>

            <td class="text-sm">
              <GetTitle
                AssetId={item.asset?.value}
                mandatType={item.mandatType}
              />
            </td>

            <td class="text-sm">
              {item.type || ""}
            </td>
            <td class="text-sm">
              {#await findUserName(item.userId)}
                <Loading />
              {:then userName}
                {userName || ""}
              {:catch error}
                Error: {error.message}
              {/await}
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
          <!-- Loading... -->
        {/each}
      </tbody>
    </table>
  </div>
</div>
