<script>
  import { Assets_rent } from "../../../../api/assets_rent";
  import { Assets_sale } from "../../../../api/assets_sale";
  import { onMount } from "svelte";

  export let AssetId;
  export let mandatType;

  if (mandatType == "Rent") {
    onMount(async () => {
      Meteor.subscribe("for_rent_asset_title", AssetId);
    });
  }

  if (mandatType == "Sale") {
    onMount(async () => {
      Meteor.subscribe("for_sale_asset_title", AssetId);
    });
  }

  let item;

  $m: {
    if (mandatType == "Rent") {
      item = Assets_rent.findOne(AssetId);
    }
    if (mandatType == "Sale") {
      item = Assets_sale.findOne(AssetId);
    }
  }
</script>

{#if AssetId && item}
  {#if mandatType == "Sale"}
    <a href="/pro/for-sale/edit/{AssetId}" class="text-blue-600 underline">
      {item?.title || "Aucun titre"}
    </a>
  {:else if mandatType == "Rent"}
    <a href="/pro/for-rent/edit/{AssetId}" class="text-blue-600 underline">
      {item?.title || "Aucun titre"}
    </a>
  {/if}
{/if}
