<script>
  export let item, id;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  import Select from "svelte-select";
  import enterprise_customization from "../../../../enterprise_customization.ts";

  import cities from "../../../PolynesiaCities.js";
  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  async function handle_places(event) {
    const value = event.detail?.value;

    await Meteor.callAsync("asset_rent.update.address.city", id, value);
    saved_notification();

    const postalcode = document.getElementById("postalCode").value;
    if (postalcode == "") {
      const code = event.detail?.code;
      await Meteor.callAsync("asset_rent.update.address.postalCode", id, code);
      saved_notification();
    }
  }

  async function save_address_street() {
    const value = document.getElementById("streetAddress").value;
    await Meteor.callAsync("asset_rent.update.address.street", id, value);
    saved_notification();
  }

  async function save_address_city() {
    const value = document.getElementById("city").value;
    await Meteor.callAsync("asset_rent.update.address.city", id, value);
    saved_notification();
  }

  async function save_address_postalCode() {
    const value = document.getElementById("postalCode").value;
    await Meteor.callAsync("asset_rent.update.address.postalCode", id, value);
    saved_notification();
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-location-dot text-[var(--main-color)]" />
    Adresse
  </h2>

  <div>
    <div>
      <label for="street">
        <!-- Street address [won't be displayed] -->
        {enterprise_customization.labels.street}
        <span class="font-light"> [Non visible dans l'annonce] </span>
      </label>
      <input
        on:change={() => {
          save_address_street();
        }}
        class="w-full input"
        id="streetAddress"
        value={item.address?.streetAddress || ""}
      />
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <label for="city">
        {enterprise_customization.labels.city}
      </label>

      {#if enterprise_customization.countryConfiguration == "pf"}
        <!-- for PF -->
        <Select
          on:change={handle_places}
          items={searchItems}
          placeholder="Ville"
          {groupBy}
          value={item.address?.city || ""}
        />
      {:else}
        <!-- General and FR -->
        <input
          on:change={() => {
            save_address_city();
          }}
          class="w-full input"
          id="city"
          value={item.address?.city || ""}
        />
      {/if}
    </div>
    <div>
      <label for="postalcode">
        Code Postal <!-- Postal Code -->
      </label>
      <input
        on:change={() => {
          save_address_postalCode();
        }}
        class="w-full px-2 py-2 border rounded-lg"
        id="postalCode"
        value={item.address?.postalCode || ""}
      />
    </div>
  </div>
</div>
