<script>
  import { onMount } from "svelte";
  import { Assets_short_rental } from "../../../api/assets_short_rental";
  // import Loading from "../../Loading.svelte";
  import { navigate } from "svelte-routing";

  // import RentAssetsItem from "./AssetstRentItem.svelte";
  import RentAssetsItem from "./AssetsRentItem.svelte";
  import Dropdown from "./Dropdown.svelte";
  // import enterprise_customization from "../../../../enterprise_customization.ts";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  onMount(async () => {
    Meteor.subscribe("my_short_rental_assets");
    Meteor.subscribe("thisuser");
  });

  let items_owned = [];
  let count;

  let filter = {
    $and: [{ archived: { $ne: true } }],
  };

  $m: {
    items_owned = Assets_short_rental.find(filter, {
      sort: { createdAt: -1 },
    }).fetch();

    count = items_owned.length;
  }

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value == "active") {
      filter = {
        $and: [{ archived: { $ne: true } }],
      };
    } else if (value == "inactive") {
      filter = {
        $or: [{ archived: { $eq: true } }],
      };
    } else {
      filter = {};
    }
  }

  async function addAsset() {
    const value = document.getElementById("title").value;
    const res = await Meteor.callAsync("short_rental_assets.insert");
    saved_notification();
    navigate("/pro/for-rent/edit/" + res, {
      replace: false,
    });

    // error_notification(err);
  }

  async function publish(id, boolean) {
    await Meteor.callAsync("short_rental_assets.update.isVisible", id, boolean);
    saved_notification();
  }
</script>

<!-- Add Biens à louer -->
<div class="grid items-center grid-cols-2 gap-3">
  <div>
    <input
      type="text"
      placeholder="Titre de l'annonce"
      id="title"
      aria-describedby="title"
      class="w-full input"
    />
  </div>
  <div>
    <button on:click={addAsset} class="btn btn--light">
      Ajouter un nouveau bien
    </button>
  </div>
</div>
<!-- end new -->

<h5 class="mt-4 text-xl">
  <i class="fa-solid fa-house text-[var(--main-color)]" />
  Mes biens à la location saisonière
</h5>

<!-- Tab for filter -->
<div>
  <ul class="flex" id="filterContactTab" role="tablist">
    <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter="active"
        class="p-1 bg-white border active rounded-xl focus:bg-gray-300"
        id="all-tab"
        type="button"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Actifs
      </button>
    </li>

    <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter="inactive"
        class="p-1 bg-white border rounded-xl focus:bg-gray-300"
        id="seller-tab"
        type="button"
        role="tab"
        aria-controls="inactive"
        aria-selected="false"
      >
        Inactifs
      </button>
    </li>

    <!-- <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter=""
        class="nav-link"
        id="seller-tab"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-controls="seller"
        aria-selected="false"
      >
        Tous
      </button>
    </li> -->
  </ul>
</div>

{#if count > 0}
  <div class="my-3">
    <span class="p-2 bg-white border rounded-full">
      {count || ""}
    </span>
  </div>
{/if}

{#each items_owned as item}
  <div class="p-5 mb-4 bg-white shadow-sm hover:shadow-lg rounded-xl">
    <div class="flex">
      <div style="width:65%">
        <a
          href="/pro/for-rent/edit/{item._id}"
          class="text-xl text-blue-600 underline"
        >
          {item.title || "Sans titre"}
        </a>

        <!-- {#if item.isVisible}
          <span class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs">
            Publié sur {enterprise_customization.enterprise_name}
          </span>
          <a href="/for-rent/{item._id}">Voir annonce </a>
        {/if} -->
      </div>
      <div class="text-right" style="width:35%">
        {item.createdAt?.toLocaleDateString() || ""}
      </div>
    </div>

    <div>
      <RentAssetsItem {item} />
      <div>
        <!-- <div>
          <a href="/pro/for-rent/edit/{item._id}" class="btn btn--light">
            <i class="fa-solid fa-pen-to-square" />
            Modifier
          </a>
        </div> -->

        <div class="text-right">
          <Dropdown {item} />

          <!-- {#if item.isVisible}
            <button
              class="btn btn--light"
              on:click={() => {
                publish(item._id, false);
              }}
            >
              <i class="fa-regular fa-eye-slash" />
              Masquer le bien sur le site
            </button>
          {:else}
            <button
              class="btn btn-primary"
              on:click={() => {
                publish(item._id, true);
              }}
            >
              <i class="fa-solid fa-eye" />
              Afficher le bien sur le site
            </button>
          {/if} -->

          <!-- {#if item.isRented}
            Loué
          {:else}
            <button
              value={item._id}
              on:click={() => {
                ChangeisRented(item._id);
              }}
              class="btn btn--light"
            >
              <i class="fa-regular fa-flag" />
              Marquer comme loué
            </button>
          {/if} -->

          <!-- <button value={item._id} class="btn btn--light">
            on:click={deleteFolder}
            <i class="fa-solid fa-trash"></i>
            Supprimer
          </button> -->
        </div>
      </div>
    </div>
  </div>
{:else}
  Aucun
{/each}
