<script>
  import { Meteor } from "meteor/meteor";
  import dayjs from "dayjs";
  import { onMount } from "svelte";
  import { Assets_rent } from "../../../api/assets_rent.js";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  // Sections
  import Images from "./Images_section.svelte";
  import General from "./General_section.svelte";
  import MandateSection from "./MandateSection.svelte";
  import Address from "./Address_section.svelte";
  import DiagnosticSection from "./Diagnostics_section.svelte";
  // import TagsSection from "./Publications/Tags_section.svelte";
  import PublicationSection from "./Publications/PublicationSection.svelte";
  import EstimationSection from "./EstimationSection.svelte";
  import Details from "./Details_section.svelte";
  import Comments from "./Comments_section.svelte";

  import enterprise_customization from "../../../../enterprise_customization";
  const {
    countryConfiguration,
    displayMandateSection,
    displayEstimationSection,
  } = enterprise_customization;

  export let id;

  onMount(async () => {
    Meteor.subscribe("for_rent_asset_protected", id);
    Meteor.subscribe("thisuser", id);
  });

  let item, user;
  let isAdmin = true;

  $m: {
    item = Assets_rent.findOne(id);
    user = Meteor.user();
    isAdmin = user?.roles?.includes("admin");
  }

  async function save(key) {
    const value = document.getElementById(key).value;
    await Meteor.callAsync("asset_rent.update." + key, id, value);
    saved_notification();
  }

  async function save_heating(event) {
    const value = event.target.getAttribute("data-value");
    await Meteor.callAsync("asset_rent.update.heating", id, value);
    saved_notification();
  }

  async function save_hotwater(event) {
    const value = event.target.getAttribute("data-value");
    await Meteor.callAsync("asset_rent.update.hotwater", id, value);
    saved_notification();
  }
</script>

{#if item}
  <div class="grid grid-cols-2">
    <div>
      <a href="/pro/databases/for-rent" class="text-blue-600 underline">
        Mes biens à louer
      </a>
      <i class="fa-solid fa-angle-right" />
      {item.title || "Fiche du bien"}
    </div>
    <div class="text-end">
      {#if item.createdAt}
        <i class="fa-regular fa-clock" />
        {dayjs(item.createdAt).format("DD MMM YYYY")}
      {/if}
      <!-- <div>
        Ref: {item._id}
      </div> -->
    </div>
  </div>

  <!-- Nav -->
  <!-- <nav>
    <div class="flex" id="nav-tab" role="tablist">
      <button
        class=" active"
        id="nav-home-tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
      >
        
        <i class="fa-solid fa-circle-info" />
        Général
      </button>
      <button
        
        id="nav-profile-tab"
        data-bs-target="#nav-profile"
        type="button"
        aria-controls="nav-profile"
      >
        <i class="fa-solid fa-file-signature" />
        Mandat
        {#if item?.mandateRef}
          {item?.mandateRef}
        {/if}
      </button>

      <button
        
        id="nav-contact-tab"
        data-bs-target="#nav-contact"
        type="button"
        aria-controls="nav-contact"
  
      >
        <i class="fa-solid fa-tv" />
        Publication
      </button>

      <button
        
        id="nav-estimation-tab"
        data-bs-target="#nav-estimation"
        type="button"
        aria-controls="nav-estimation"

      >
        <i class="fa-solid fa-tv" />
        Avis de valeur
      </button>
    </div>
  </nav> -->

  <div id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div>
          <General {save} {item} {id} />
          <Address {item} {id} />
        </div>
        <div>
          <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
            {#if displayMandateSection}
              <MandateSection assetId={id} />
            {/if}
            {#if displayEstimationSection}
              <EstimationSection assetId={id} />
            {/if}
          </div>

          <PublicationSection {id} {item} />
        </div>
      </div>

      <Details {save} {item} {id} />

      <div class="p-4 mb-4 bg-white rounded-lg shadow-md">
        <h2 class="text-xl">
          <i class="fa-solid fa-fire-flame-simple text-[var(--main-color)]" />
          Énergie
        </h2>

        <div class="flex">
          {#if countryConfiguration == "fr"}
            <div>
              <i class="fa-solid fa-burn" />
              Chauffage <br />

              {#if item.heating}
                {item.heating}
              {:else}
                <button
                  class="btn btn--light"
                  data-value="individual-gas"
                  on:click={save_heating}
                >
                  Individuel Gaz
                </button>
                <button
                  class="btn btn--light"
                  data-value="individual-electricity"
                  on:click={save_heating}
                >
                  Individuel Électricité
                </button>
                <button
                  class="btn btn--light"
                  data-value="communal"
                  on:click={save_heating}
                >
                  Collectif
                </button>
              {/if}
            </div>
          {/if}

          <div>
            <i class="fa-solid fa-droplet" />
            Eau chaude <br />

            {#if item.hotwater}
              {item.hotwater}
            {:else}
              <button
                class="btn btn--light"
                data-value="individual-gas"
                on:click={save_hotwater}
              >
                Individuel Gas
              </button>
              <button
                class="btn btn--light"
                data-value="individual-electricity"
                on:click={save_hotwater}
              >
                Individuel Électricité
              </button>
              <button
                class="btn btn--light"
                data-value="communal"
                on:click={save_hotwater}
              >
                Collectif
              </button>
            {/if}
          </div>
        </div>
      </div>

      <Images {save} {item} {id} />

      {#if countryConfiguration == "fr"}
        <DiagnosticSection {save} {item} {id} />
      {/if}

      {#if isAdmin}
        <Comments {item} {id} />
      {/if}
    </div>

    <!-- <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <MandateSection assetId={id} />
    </div> -->

    <!-- <div
      class="tab-pane fade"
      id="nav-contact"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <ContactSearches {item} {id} />
      <div>
        <PublicationSection {id} {item} />
      </div>
      {#if countryConfiguration == "fr"}
        <DiagnosticSection {save} {item} {id} />
      {/if}
    </div> -->

    <!-- <div
      class="tab-pane fade"
      id="nav-estimation"
      role="tabpanel"
      aria-labelledby="nav-estimation-tab"
    >
      <div>
        <EstimationSection assetId={id} {item} />
      </div>
    </div> -->
  </div>

  <!-- End nav -->
{/if}
