<script>
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  import { navigate } from "svelte-routing";

  const { formatAndcurrency, lowres } = require("../../../commonFunctions");

  export let item;

  import { isPublishable } from "./common";
  import enterprise_customization from "../../../../enterprise_customization";
  const { displayMandateSection, displayEstimationSection } =
    enterprise_customization;
  import { onMount } from "svelte";
  // import PlatformsList from "./Publications/PlatformsList.svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";

  let mandateIdArray;

  onMount(async () => {});

  let mandates;
  let user;

  // let watermark = "watermark";
  let watermark = "";

  $m: {
    mandateIdArray = item.mandates || [];
    if (mandateIdArray) {
      Meteor.subscribe("mandate_for_rent_arrayid", mandateIdArray);
    }

    user = Meteor.user();

    mandates = Mandates_For_Rent.find(
      {
        _id: {
          $in: mandateIdArray,
        },
      },
      { sort: { mandate: -1 } }
    ).fetch();

    // if (mandate.saleAgreementDate) {
    //     watermark = "saleAgreement";
    //   } else if (mandate.deed) {
    //     watermark = "sold";
    //   }
  }

  function publishmain(item, boolean) {
    const message = "Vous allez publier l'annonce";

    if (boolean == true) {
      isPublishable(item);
    }

    if (window.confirm(message)) {
      Meteor.callAsync("asset_rent.update.isVisible", item._id, boolean);
      saved_notification();
    }
  }

  async function addRentMandate() {
    const res = await Meteor.callAsync(
      "mandates_for_rent.insertwithasset",
      item._id
    );
    saved_notification();
    navigate("/pro/for-rent-mandates/edit/" + res, {
      replace: true,
    });
  }
</script>

<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
  <div class="col-span-1">
    {#if item.images}
      <div class={watermark}>
        <a href="/pro/for-rent/edit/{item._id}">
          <img
            alt="house"
            src={lowres({ url: item.images?.[0]?.url })}
            class="rounded-lg"
          />
        </a>
      </div>
    {:else}
      <div class="text-gray-600">
        <i class="fa-regular fa-image"></i>
        Aucune photo
      </div>
    {/if}

    {#if item.isRented}
      <span
        class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
      >
        Loué
      </span>
    {:else if item.isRentedByOthers}
      <span class="badge">Loué par une autre agence</span>
    {:else if item.isCancelled}
      <span class="badge">Annulation</span>
    {:else if item.isExpired}
      <span class="badge">Expiré</span>
    {:else}
      {#each item.tags || [] as tag}
        <span class="badge">{tag}</span>
      {/each}
    {/if}
    {#if item.archived}
      <span class="badge">Archivé</span>
    {/if}
  </div>

  <div class="col-span-2">
    <table class="w-full">
      <tbody>
        <tr class="border-b">
          <td class="text-gray-600">
            <i class="fa-solid fa-location-dot" />
            Adresse
          </td>
          <td>
            {#if item.address}
              {item.address.streetAddress || ""}
              {item.address.city || ""}
              {item.address.postalCode || ""}
            {:else}
              - <!-- Aucune -->
            {/if}
          </td>
        </tr>
        <tr class="border-b">
          <td class="text-gray-600">
            <i class="fa-solid fa-vector-square" />
            Surface
          </td>
          <td>
            {#if item.livingArea}
              {item.livingArea} m²
            {:else}-
            {/if}
          </td>
        </tr>
        {#if displayMandateSection}
          <tr class="border-b">
            <td class="text-gray-600 align-top">
              <i class="fa-regular fa-file" />
              Mandats
            </td>
            <td>
              {#each mandates || [] as mandate}
                <div class="grid grid-cols-1 md:grid-cols-2">
                  <div>
                    <a
                      href="/pro/for-rent-mandates/edit/{mandate._id}"
                      class="text-blue-600 underline"
                    >
                      <span style="font-size:1em;">
                        <i
                          class="fa-solid fa-file-contract text-[var(--main-color)]"
                        />

                        {#if mandate.mandate}
                          N° {mandate?.mandate?.number}
                        {:else}
                          En attente de numéro
                        {/if}
                      </span>
                    </a>
                  </div>

                  <div class="text-start sm:text-right">
                    {#if mandate}
                      {#if mandate.status == "validated" || mandate?.mandate?.number}
                        <span class="badge">
                          <i class="text-green-600 fa-solid fa-circle-check" />
                          Validé
                        </span>
                      {:else if mandate.status == "waiting"}
                        <span
                          class="px-2.5 py-0.5 rounded-full bg-yellow-100 text-yellow-800 text-xs"
                        >
                          En attente de validation
                        </span>
                      {:else if mandate.status == "refused"}
                        <span
                          class="px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 text-xs"
                        >
                          Refusé
                        </span>
                      {:else if mandate.status == "refused"}
                        <span class="badge"> Draft </span>
                      {:else}
                        <span class="badge"> À soumettre pour validation </span>
                      {/if}
                      <br />
                    {/if}
                  </div>
                </div>
              {/each}

              <button
                on:click={addRentMandate}
                class="px-3 py-1 mb-2 mr-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
              >
                <i class="fa-solid fa-plus" />
                Ajouter un mandat
              </button>
            </td>
          </tr>
        {/if}
        <tr class="border-b">
          <td class="text-gray-600">
            <i class="fa-solid fa-tag" />
            Loyer
          </td>
          <td>
            {#if item.rentpermonth}
              {formatAndcurrency(item.rentpermonth)}
              / mois
            {/if}
          </td>
        </tr>
        <tr class="border-b">
          <td class="text-gray-600">
            <i class="fa-solid fa-share-square" />
            Publications
          </td>
          <td>
            <div class="flex justify-between">
              <div>
                {#if item.isVisible}
                  <span
                    class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
                  >
                    {enterprise_customization.enterprise_name}
                  </span>

                  <a
                    href="/for-rent/{item._id}"
                    class="text-blue-600 underline"
                  >
                    Voir annonce
                  </a>
                {/if}

                {#each item.publications || [] as publication, i}
                  {#if publication.published}
                    <span
                      class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
                    >
                      {publication.name}
                    </span>
                  {/if}
                {/each}
              </div>
              <!-- <div>
                <div>
                  {#if enterprise_customization.publicationWebsites}
                    <button
                      class="btn"
                      type="button"
                      aria-expanded="false"
                    >
                      Gérer les Publications
                    </button>
                  {/if}
                </div>
              </div> -->
            </div>
          </td>
        </tr>
        <!-- to add the collapse publicaition -->

        <!-- <tr class="border-b">
          <td colspan="2" class="py-0 border-b-0">
            <div class="mt-1" id="collapse{item._id}">
              <div>
                <PlatformsList id={item._id} {item} />
              </div>
            </div>
          </td>
        </tr> -->

        <!-- {#if displayEstimationSection}
          <tr class="border-b">
            <td class="text-gray-600">
              <i class="fa-regular fa-file" />
              Avis de valeur
            </td>
            <td> - </td>
          </tr>
        {/if} -->
        <tr>
          <td class="text-gray-600">
            <i class="fa-solid fa-eye" />
            Vues
          </td>
          <td> {item.pageViews?.count || 0} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  /* replacing / erasing / default values at watermark.css */
  /* .watermark::after {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    color: aliceblue;
  } */
  /* end of the custom */

  .watermark {
    position: relative;
  }

  .saleAgreement {
    position: relative;
  }
  .saleAgreement::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "SOUS COMPROMIS";
    color: aliceblue;
  }
  .sold {
    position: relative;
  }
  .sold::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "VENDU";
    color: aliceblue;
  }
</style>
