<script>
  export let item, id;
  import dayjs from "dayjs";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function deleteComment(text) {
    if (!confirm("Are you sure to delete this comment?")) return;
    await Meteor.callAsync("asset_rent.pull.comment", { id, text });
    saved_notification();
  }

  async function addComment() {
    const value = document.getElementById("commenttext").value;
    await Meteor.callAsync("asset_rent.push.comment", { id, text: value });
    saved_notification();
    document.getElementById("commenttext").value = "";
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-comment text-[var(--main-color)]" />
    Commentaires
  </h2>

  <div class="mt-3">
    <div>
      <textarea id="commenttext" class="w-full input" />

      <button class="mt-3 btn btn--light" on:click={addComment}>
        Ajouter un commentaire
      </button>
    </div>

    <table class="w-full">
      {#each item.comments?.reverse() || [] as comment, i}
        <tr class="border-b last:border-b-0">
          <td>
            {comment.text}
          </td>
          <td class="text-right">
            {dayjs(comment.date).format("DD/MM/YYYY")}
            <div>
              <button
                class="text-gray-400"
                on:click={() => {
                  deleteComment(comment.text);
                }}
              >
                <i class="fa-solid fa-trash" />
              </button>
            </div>
          </td>
        </tr>
      {/each}
    </table>
  </div>
</div>
