<script>
  import Diagnostics from "../../Diagnostics.svelte";
  export let item, id;

  async function save_diagnostics(i) {
    const ges = document.getElementById("ges").value;
    const dpe = document.getElementById("dpe").value;
    await Meteor.callAsync("asset_rent.update.diagnostics", id, dpe, ges);
    saved_notification();
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-copy text-[var(--main-color)]" />
    Diagnostics
  </h2>

  <div class="grid md:grid-cols-2">
    <div>
      <label for="dpe">DPE</label>
      <input
        class="input"
        on:change={() => {
          save_diagnostics();
        }}
        type="number"
        id="dpe"
        value={item.diagnostics?.dpe || ""}
      />
    </div>

    <div>
      <label for="ges">GES</label>
      <input
        class="input"
        on:change={() => {
          save_diagnostics();
        }}
        type="number"
        id="ges"
        value={item.diagnostics?.ges || ""}
      />
    </div>
  </div>

  <Diagnostics ges={item.diagnostics?.ges} dpe={item.diagnostics?.dpe} />
</div>
