<script>
  export let item;
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  let title = "Clôturer ";

  let opendropvalue = "transform opacity-0 scale-95";
  const opendrop = () => {
    if (opendropvalue == "transform opacity-0 scale-95") {
      return (opendropvalue = "transform opacity-100 scale-100");
    }

    return (opendropvalue = "transform opacity-0 scale-95");
  };

  async function ChangeisRented(id, boolean = true) {
    await Meteor.callAsync("asset_rent.update.isRented", id, boolean);
    saved_notification();
    opendrop();
  }

  async function ChangeisRentedByOthers(id, boolean = true) {
    await Meteor.callAsync("asset_rent.update.isRentedByOthers", id, boolean);
    saved_notification();
    opendrop();
  }

  async function ChangeisCancelled(id, boolean = true) {
    await Meteor.callAsync("asset_rent.update.isCancelled", id, boolean);
    saved_notification();
    opendrop();
  }

  async function ChangeisExpired(id, boolean = true) {
    await Meteor.callAsync("asset_rent.update.isExpired", id, boolean);
    saved_notification();
    opendrop();
  }

  //
  async function archive({ value }) {
    if (!confirm("Archiver?")) return;
    await Meteor.callAsync("asset_rent.update.archive", {
      id: item._id,
      value,
    });
    saved_notification();
    opendrop();
  }

  async function deleteAsset(id) {
    if (!confirm("Supprimer?")) return;

    try {
      // Call the server-side method asynchronously
      await Meteor.callAsync("asset_rent.remove", id);
      // Notify the user of success
      saved_notification();
      opendrop();
    } catch (error) {
      error_notification(error.error);
    }
  }
</script>

<div class="p-5">
  <div class="relative inline-block text-left">
    <div>
      <button
        on:click={opendrop}
        type="button"
        class="inline-flex justify-center w-full px-4 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        {title}

        <!-- Heroicon name: mini/chevron-down -->
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <!--
          Dropdown menu, show/hide based on menu state.
      
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
    <div
      class="{opendropvalue} absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->

        {#if item.isRented}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisRented(item._id, false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Loué"
          </button>
        {:else}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisRented(item._id);
            }}
          >
            <i class="fa-solid fa-font-awesome" />
            Loué
          </button>
        {/if}

        {#if item.isRentedByOthers}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-left text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisRentedByOthers(item._id, false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Loué par une autre agence"
          </button>
        {:else}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisRentedByOthers(item._id);
            }}
          >
            <i class="fa-solid fa-font-awesome" />
            Loué par une autre agence
          </button>
        {/if}

        {#if item.isCancelled}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-left text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisCancelled(item._id, false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Annulation vendeur"
          </button>
        {:else}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisCancelled(item._id);
            }}
          >
            <i class="fa-solid fa-font-awesome" />
            Annulation vendeur
          </button>
        {/if}
        {#if item.isExpired}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisExpired(item._id, false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Expiré"
          </button>
        {:else}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            value={item._id}
            on:click={() => {
              ChangeisExpired(item._id);
            }}
          >
            <i class="fa-solid fa-font-awesome" />
            Expiré
          </button>
        {/if}

        {#if item.archived}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              archive({ id: item._id, value: false });
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever Archiver
          </button>
        {:else}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              archive(item._id);
            }}
          >
            <i class="fa-solid fa-archive" />
            Archiver
          </button>
        {/if}

        <!--  -->

        <a
          href="/pro/rent-assets/share/{item._id}"
          id={item._id}
          class="block px-4 py-2 text-sm text-gray-700"
          data-value={item._id}
        >
          <i class="fa-solid fa-share" />
          Partager
        </a>

        <a
          href="/pro/rent-assets/give/{item._id}"
          id={item._id}
          class="block px-4 py-2 text-sm text-gray-700"
          data-value={item._id}
        >
          <i class="fa-solid fa-file-import" />
          Céder
        </a>

        <button
          id={item._id}
          class="block px-4 py-2 text-sm text-gray-700"
          data-value={item._id}
          on:click={() => {
            deleteAsset(item._id);
          }}
        >
          <i class="fa-solid fa-trash" />
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
