<script>
  import { Meteor } from "meteor/meteor";
  export let item, save, id;
  // import enterprise_customization from "../../../../enterprise_customization";

  const { slugify } = require("../../../commonFunctions.ts");

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function sluglify_title() {
    const value = document.getElementById("title").value;

    if (!value) return;

    const slug = slugify(value);
    document.getElementById("slug").value = slug;

    await Meteor.callAsync("asset_rent.update.slug", { id, value: slug });
    saved_notification();
  }

  let user;

  $m: {
    if (item?.userId) {
      user = Meteor.users.findOne(item?.userId);
    }
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-info-circle text-[var(--main-color)]" />
    Général <!-- Basic info -->
  </h2>

  <div class="mt-3">
    <div>
      <div>
        <label for="title">
          Titre<!-- Title -->

          {#if !item?.title}
            <span class="text-red-600"> * </span>
          {/if}
        </label>
        <textarea
          on:change={() => {
            save("title");
          }}
          class="w-full input"
          id="title"
          value={item?.title || ""}
          rows="1"
        />
      </div>
    </div>
  </div>

  <div>
    <button
      type="button"
      on:click={sluglify_title}
      class="px-4 py-2 mb-2 mr-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
    >
      Convertir pour référencement <!-- Slugify title -->
    </button>

    <div class="text-sm text-blue-600 underline">
      <a href="{Meteor.absoluteUrl()}for-rent/{item.slug || item._id}">
        {Meteor.absoluteUrl()}for-rent/{item.slug || item._id}
      </a>
    </div>

    <input
      id="slug"
      class="w-full input"
      on:change={() => {
        save("slug");
      }}
      value={item.slug || ""}
    />
  </div>

  <div class="grid grid-cols-2 gap-4 mt-3 mb-3">
    <div>
      <div>
        Type de bien

        {#if !item?.type}
          <span class="text-red-600"> * </span>
        {/if}

        <select
          class="w-full border select"
          id="type"
          value={item.type}
          on:change={() => {
            save("type");
          }}
        >
          <option selected>Types</option>
          <option value="apartment">Appartement</option>
          <option value="house">Maison / Villa</option>
          <option value="building">Immeuble</option>
          <option value="land">Terrain</option>
          <option value="commercial">Local Commercial</option>
        </select>

        Type de location
        <select
          class="w-full border select"
          id="transactiontype"
          value={item.transactiontype}
          on:change={() => {
            save("transactiontype");
          }}
        >
          <option selected>Types</option>
          <option value="location">Location</option>
          <option value="colocation">Colocation</option>
          <option value="seasonalrental">Location saisonnière</option>
        </select>
      </div>
    </div>
  </div>
</div>
