<script>
  export let id;

  import { onMount } from "svelte";
  // import { Mandates_For_Sale } from "../../../api/mandates_sale.js";
  import { saved_notification } from "../../../notifications";

  import { navigate } from "svelte-routing";

  onMount(async () => {
    Meteor.subscribe("users_roles");
    // Meteor.subscribe("users");
    // To optimise
    Meteor.subscribe("for_rent_asset", id);
  });

  let users = [];
  let asset;

  const giveAsset = async (event) => {
    if (!confirm("Vous allez céder ce bien, vous ne serez plus propriétaire"))
      return;

    value = event.target.value;

    const result = await Meteor.callAsync("asset_rent.update.userId", {
      id,
      value,
    });
    if (result) {
      saved_notification();
      navigate("/pro/databases/for-rent", { replace: true });
    }
  };

  $m: {
    users = Meteor.users
      .find({ isHidden: { $ne: true } }, { sort: { createdAt: -1 } })
      .fetch();
    // asset = Mandates_For_Sale.findOne(id);
  }
</script>

<!-- <div>
  {#each mandate?.sharedWith || [] as user}
    {user}
  {/each}
</div> -->

<div>Céder le bien à:</div>

{#each users as user}
  <div>
    <button class="btn btn--light" value={user._id} on:click={giveAsset}>
      Céder
    </button>

    {user.contact?.firstname || ""}
    {user.contact?.surname || ""}
    {user.contact?.email || user.emails[0]?.address}
  </div>
{/each}
