<script>
  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent.js";
  // import enterprise_customization from "../../../../enterprise_customization.ts";
  import { navigate } from "svelte-routing";

  const { formatAndcurrency } = require("../../../commonFunctions.ts");

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  export let assetId;

  let items;

  onMount(async () => {
    Meteor.subscribe("mandatesForRent_from_asset", assetId);
  });

  $m: {
    items = Mandates_For_Rent.find({ "asset.value": assetId }).fetch();
  }

  async function addMandate() {
    if (!assetId) {
      error_notification();
      return;
    }

    const res = await Meteor.callAsync(
      "mandates_for_rent.insertwithasset",
      assetId
    );

    saved_notification();
    navigate("/pro/for-rent-mandates/edit/" + res);
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-file-contract text-[var(--main-color)]" />
    Mandats
  </h2>

  {#if items.length}
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">N.</th>
          <th class="text-left">Loyer</th>
        </tr>
      </thead>
      <tbody>
        {#each items as item}
          <tr class="border-b last:border-b-0">
            <td class="py-2">
              {#if item.mandate?.number}
                <a
                  href="/pro/for-rent-mandates/edit/{item._id}"
                  class="p-2 text-white bg-green-600 rounded-full"
                >
                  {item.mandate?.number}
                </a>
              {:else}
                <a
                  href="/pro/for-rent-mandates/edit/{item._id}"
                  class="p-2 text-white bg-yellow-500 rounded-full"
                >
                  <i class="fa-regular fa-pen-to-square" />
                  En attente de numéro
                </a>
              {/if}
            </td>
            <td class="py-1">
              {#if item.rent?.rent_without_charges}
                {formatAndcurrency(item.rent?.rent_without_charges)} / mois
              {/if}
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {/if}

  <div>
    {#if items.length > 0}
      <button on:click={addMandate} class="btn btn--light">
        Créer un nouveau mandat
      </button>
    {:else}
      <button on:click={addMandate} class="btn btn--blue">
        <i class="fa-solid fa-arrow-down" />
        Obtenir un numéro de mandat
      </button>
    {/if}
  </div>
</div>
