<script>
  import { onMount } from "svelte";
  import { Assets_rent } from "../../../api/assets_rent";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { navigate } from "svelte-routing";
  import Favorites from "../../profile/Favorites.svelte";

  import RentCardItem from "./RentCardItem.svelte";

  import enterprise_customization from "../../../../enterprise_customization";
  const { mandateCompulsory } = enterprise_customization;

  let handle;
  let isLoading = true;

  onMount(async () => {
    if (mandateCompulsory) {
      handle = Meteor.subscribe("visible_for_rent_assets_mandateCompulsory");
    } else {
      handle = Meteor.subscribe("visible_for_rent_assets_limitDate", {
        months: 4,
      });
    }

    Meteor.subscribe("thisuser");
  });

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }

    return favorites.find((element) => element.assetId == value);
  }

  let for_rent_assets;

  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      for_rent_assets = Assets_rent.find({}, {}).fetch();

      for_rent_assets = for_rent_assets.sort((a, b) => {
        return new Date(b.modifiedAt) - new Date(a.modifiedAt); // Sort in ascending order (earliest to latest)
      });

      if (for_rent_assets.length > 0) {
        for_rent_assets.forEach(function (item) {
          if (is_favorite(item._id)) {
            item.is_favorite = true;
          } else {
            item.is_favorite = false;
          }
        });
      }
    }
  }
</script>

{#if isLoading}
  <Loading />
{:else if for_rent_assets.length > 0}
  <div class="w-full bg-slate-50">
    <div class="container px-10 pt-10 pb-5 mx-auto sm:px-0">
      <h3 class="mb-5 text-2xl font-semibold text-center">
        Nos dernières annonces de location
      </h3>

      <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-3 sm:grid-cols-2">
        {#each for_rent_assets as item}
          <RentCardItem {item} />
        {/each}
      </div>
    </div>
  </div>
{/if}
