<script>
  // import { onMount } from "svelte";
  // import { navigate } from "svelte-routing";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { displayDate, currency, displayName } = enterprise_customization;
  const { formatNumber, lowres } = require("../../../commonFunctions.ts");
  // import Favorites from "../../profile/Favorites.svelte";
  import dayjs from "dayjs";
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);
  require("dayjs/locale/fr");
  dayjs.locale("fr");

  export let item;

  let agent;

  $m: {
    if (item.userId) {
      Meteor.subscribe("user", item.userId);
      agent = Meteor.users.findOne(item.userId);
    }
  }

  const formatTitle = (title) => {
    let result = title.replaceAll("m2", "m²");
    return result;
  };

  const formatDate = (date) => {
    let result = dayjs(date).fromNow();
    if (result.includes("NaN")) {
      return date;
    }
    return result;
  };

  const formatDescription = (description) => {
    if (!description) return;
    const regex = new RegExp(/http\S*/); //Everything that is after http
    let result = description.replace(regex, "");
    result = result.replace("Plus de détails/photos :", "");
    result = result.replaceAll("m2", "m²");
    return result;
  };
</script>

<div
  class="relative w-full mx-auto overflow-hidden bg-white shadow group rounded-xl hover:shadow-2xl"
>
  {#if item?.images?.[0]?.url}
    <a href="/for-rent/{item.slug ? item.slug : item._id}">
      <div
        class="relative h-72"
        style="background: url({lowres({
          url: item.images[0].url,
        })}) center center/cover no-repeat;"
      />
    </a>
  {/if}

  <div class="absolute top-0 pt-3 pl-3">
    {#if item.isRented}
      <span
        class="mb-1 text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
      >
        Loué
      </span>
    {:else}
      {#each item.tags || [] as tag}
        {#if tag == "Baisse de prix"}
          <span
            class="mb-1 px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 text-xs"
          >
            <i class="fa-solid fa-arrow-down" />
            {tag}
          </span>
        {:else if tag == "Exclusivité"}
          <span
            class="mb-1 px-2.5 py-0.5 rounded-full bg-yellow-100 text-yellow-800 text-xs"
          >
            <i class="fa-regular fa-star" />
            {tag}
          </span>
        {:else}
          <span class="mb-1 badge">{tag}</span>
        {/if}
      {/each}
    {/if}
  </div>

  <div class="px-5 pt-3 pb-3">
    <div class="flex justify-between">
      <h4 class="mb-1 text-green-500 uppercase">À Louer</h4>
      {#if displayDate == true}
        {formatDate(item.modifiedAt || item.createdAt)}
      {/if}
    </div>

    <h3 class="mb-2 font-bold truncate">
      <a
        class="text-gray-700 hover:text-[var(--main-color)]"
        href="/for-rent/{item.slug ? item.slug : item._id}"
      >
        {formatTitle(item?.title)}
      </a>
    </h3>

    <div class="flex items-center justify-between">
      <div class="font-bold">
        {#if item.rentpermonth}
          {formatNumber(item.rentpermonth)}
          {currency}
        {/if}
      </div>

      <!-- Agent -->
      {#if displayName == true}
        {#if agent?.isVisible}
          <a href="/conseiller-immobilier/{agent.username || agent._id}">
            <div class="flex">
              <div>
                {#if agent?.contact?.picture}
                  <img
                    class="rounded h-9"
                    loading="lazy"
                    src={lowres({ url: agent.contact.picture, size: "60" })}
                    alt=""
                  />
                {/if}
              </div>

              <div class="my-auto text-sm text-slate-600">
                {agent.contact?.firstname || ""}
                {agent.contact?.surname || ""}
                <!-- {agent.enterprise || ""} -->
              </div>
            </div>
          </a>
        {/if}
      {/if}
    </div>

    <p class="mb-2 text-sm text-justify line-clamp-3">
      {formatDescription(item.description) || "Aucune description"}
    </p>
  </div>

  {#if item?.livingArea || item?.landSurface || item?.roomsNumber}
    <div
      class="flex items-center justify-center pt-3 pb-3 mx-3 overflow-x-scroll text-nowrap"
    >
      {#if item?.livingArea}
        <span class="px-2 mx-1 text-sm">
          <i class="text-gray-400 fa-solid fa-arrows-up-down-left-right" />
          {item.livingArea} m²
        </span>
      {/if}

      {#if item?.landSurface}
        <span class="px-2 mx-1 text-sm border-l first:border-l-0">
          <i class="text-gray-400 fa-solid fa-expand" />
          {item.landSurface} m²
        </span>
      {/if}

      {#if item?.roomsNumber}
        {#if item.roomsNumber.bedrooms}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.bedrooms}
            <i class="text-gray-400 fa-solid fa-bed" />
          </span>
        {/if}

        {#if item.roomsNumber.kitchens}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.kitchens}
            <i class="text-gray-400 fa-solid fa-sink" />
          </span>
        {/if}

        {#if item?.roomsNumber.bathrooms}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.bathrooms}
            <i class="text-gray-400 fa-solid fa-bath" />
          </span>
        {/if}
        {#if item?.roomsNumber.parkingslot}
          <span class="px-2 mx-1 text-sm border-l first:border-l-0">
            {item.roomsNumber.parkingslot}
            <i class="text-gray-400 fa-solid fa-car" />
          </span>
        {/if}
      {/if}
    </div>
  {/if}
</div>
