<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  import Loading from "../../Loading.svelte";

  onMount(async () => {
    Meteor.subscribe("mandates_for_sale_owner");
    Meteor.subscribe("mandates_for_rent_owner");
    Meteor.subscribe("thisuser");
  });

  let toValidate;

  $m: {
    let saleMandate = Mandates_For_Sale.find(
      { status: "waiting" },
      { sort: { createdAt: -1 } }
    ).fetch();

    console.log({ saleMandate });

    let rentMandate = Mandates_For_Rent.find(
      { status: "waiting" },
      { sort: { createdAt: -1 } }
    ).fetch();

    saleMandate = saleMandate.map((obj) => ({ ...obj, mandatType: "Sale" }));
    rentMandate = rentMandate.map((obj) => ({
      ...obj,
      mandatType: "Rent",
    }));

    toValidate = saleMandate.concat(rentMandate);

    toValidate?.forEach(function (item) {
      if (item.userId) {
        const user = Meteor.users.findOne(item.userId);
        if (user?.emails?.[0]?.address) {
          item.userId = user.emails[0].address;
        }
      }
    });
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h3 class="text-xl">
    <i class="fa-solid fa-file-signature text-[var(--main-color)]" />
    Tous les Mandats à valider
    <span class="badge">
      {toValidate.length}
    </span>
  </h3>

  {#if toValidate?.length > 0}
    <table class="w-full">
      <thead>
        <tr>
          <th />
          <th class="text-left">Date</th>
          <th />
          <!-- <th>Ref</th> -->
          <th class="text-left">Type</th>
          <th class="text-left">User</th>
        </tr>
      </thead>
      <tbody>
        {#each toValidate || [] as item}
          <tr class="border-b">
            <td>
              {#if item.mandatType == "Sale"}
                <a
                  href="/admin/for-sale-mandates/edit/{item._id}"
                  class="text-blue-600"
                >
                  À valider
                </a>
              {:else if item.mandatType == "Rent"}
                <a
                  href="/admin/for-rent-mandates/edit/{item._id}"
                  class="text-blue-600"
                >
                  À valider
                </a>
              {/if}
            </td>
            <td>
              {item.createdAt?.toLocaleDateString() || ""}
            </td>

            <td>
              {#if item.mandatType == "Sale"}
                vente
              {:else if item.mandatType == "Rent"}
                loc
              {:else}
                {item.mandatType}
              {/if}
            </td>
            <!-- <td>{item._id}</td> -->
            <td>
              {item.type || ""}
            </td>
            <td>
              {item.userId || ""}
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
          <!-- Loading... -->
        {/each}
      </tbody>
    </table>
  {:else}
    Aucun
  {/if}
</div>
