<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale.js";
  import { Valuations } from "../../../api/valuations.js";

  import Loading from "../../Loading.svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency } = enterprise_customization;

  onMount(async () => {
    Meteor.subscribe("valuations");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();

  let items = [];

  $m: {
    items = Valuations.find({}, { sort: { createdAt: -1 } }).fetch();

    items?.forEach(function (item) {
      if (item.userId) {
        const user = Meteor.users.findOne(item.userId);
        if (user?.emails?.[0]?.address) {
          item.userId = user.emails[0].address;
        }
      }
    });
  }

  async function add() {
    console.log("saved");
    const value = document.getElementById("title").value;
    await Meteor.callAsync("mandates_for_sale.insert", value);
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h1 class="mb-5 text-xl">
    <i class="fa-solid fa-copy text-[var(--main-color)]" />
    Avis de valeur (Vente)<!-- Sale Valuations -->
  </h1>

  <table class="w-full">
    <thead>
      <tr>
        <th />
        <th class="text-start">Date</th>
        <th class="text-start">Id</th>
        <th class="text-start">Prix</th>
        <th class="text-start">Statut</th>
        <th class="text-start">User</th>
      </tr>
    </thead>
    <tbody>
      {#each items as item}
        <tr class="border-b">
          <td>
            {#if item.userId == thisuserId || item.userId == undefined}
              <a href="/admin/for-sale-mandates/edit/{item._id}">
                <i class="fa-solid fa-pen-to-square" />
              </a>
            {/if}
          </td>
          <td>
            {item.createdAt?.toLocaleDateString() || ""}
          </td>
          <td class="text-blue-600">
            <a
              href="/pro/avis-de-valeur/{item.type == 'sale'
                ? 'vente'
                : 'location'}/{item._id}"
            >
              {item._id}
            </a>
          </td>
          <td>
            {#if item.price}
              {Intl.NumberFormat("fr-FR").format(item.price.min || "")} - {Intl.NumberFormat(
                "fr-FR"
              ).format(item.price.max || "")}
              {currency}
            {/if}
          </td>
          <td>
            {#if item.isVisible}visible{/if}
          </td>
          <td class="text-sm">{item.userId || ""}</td>
        </tr>
      {:else}
        <!-- <Loading /> -->
        <!-- Loading... -->
      {/each}
    </tbody>
  </table>
</div>
