<script>
  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  import { isAdminOrlocal } from "../../../admin";
  import GetTitle from "../dashboard/MandateStatus/GetTitle.svelte";

  onMount(async () => {
    Meteor.subscribe("mandates_for_rent_all");
    Meteor.subscribe("thisuser");
    // to optimize
    Meteor.subscribe("users");
  });

  const thisuserId = Meteor.userId();
  let items = [];

  $m: {
    items = Mandates_For_Rent.find({}, { sort: { createdAt: -1 } }).fetch();
    console.log(items);
  }

  const getName = (userId) => {
    const user = Meteor.users.findOne(userId);

    let result;
    if (user?.contact) {
      result = `${user?.contact?.firstname || ""}
     ${user?.contact?.surname || ""}`;

      return result;
    }
    return userId;
  };

  const isOwnerAdminOrlocal = (userId) => {
    if (isAdminOrlocal) {
      return true;
    }

    if (userId == Meteor.userId()) {
      return true;
    }
  };
</script>

<div class="p-3 bg-white rounded-xl">
  <h1 class="mb-5 text-xl">
    <i class="fa-solid fa-file text-[var(--main-color)]" />
    All Mandates (location)
  </h1>

  <table class="w-full">
    <thead>
      <tr>
        <th class="text-left">Date</th>
        <th class="text-left">Mandat</th>
        <th class="text-left">Type</th>
        <th class="text-left">Bien</th>
        <!-- <th>Slug</th> -->
        <!-- <th>Tags</th> -->
        <!-- <th>Categories</th> -->
        <th class="text-left">Statut</th>
        <th class="text-left">User</th>
        <th class="text-left">ID</th>
      </tr>
    </thead>
    <tbody>
      {#each items as item}
        <tr class="border-b">
          <!-- <td>
          <a
            class={isOwnerAdminOrlocal(item.userId) || "disabled"}
            href="/admin/for-rent-mandates/edit/{item._id}"
          >
            <i class="fa-solid fa-pen-to-square" />
          </a>
        </td> -->
          <td>
            {item.createdAt?.toLocaleDateString() || ""}
          </td>
          <td>
            <a
              href="/admin/for-rent-mandates/edit/{item._id}"
              class="{isOwnerAdminOrlocal(item.userId) ||
                'disabled'} text-blue-600 underline"
            >
              {item.mandate?.number || "Aucun"}
            </a>
          </td>
          <td>
            {item.type || ""}
          </td>
          <td>
            {#if item.asset?.value}
              <GetTitle AssetId={item.asset.value} mandatType="Rent" />
            {/if}
          </td>

          <!-- <td>
            {#if item.tags}
              {#each item.tags as tag}{tag}{/each}
            {/if}
          </td> -->

          <!-- <td>
            {#if item.categories}
              {#each item.categories as category}{category}{/each}
            {/if}
          </td> -->

          <td>
            <!-- {#if item.isVisible}visible{/if} -->
            {item.status || ""}
          </td>
          <td class="text-sm">
            {#if item.userId}
              {getName(item.userId)}
            {/if}
          </td>
          <td class="text-sm">{item._id || ""}</td>
        </tr>
      {:else}
        <!-- <Loading /> -->
        <!-- Loading... -->
      {/each}
    </tbody>
  </table>
</div>

<style>
  a.disabled {
    /* Make the disabled links grayish*/
    color: #1e293b;
    /* And disable the pointer events */
    pointer-events: none;
  }
</style>
