<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { Contacts } from "../../../api/contacts";

  onMount(async () => {
    Meteor.subscribe("contactsandowners");
  });

  let contacts = [];
  $m: {
    contacts = Contacts.find({}, { sort: { createdAt: -1 } }).fetch();

    contacts?.forEach((contact) => {
      contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");

      if (contact.createdBy) {
        const user = Meteor.users.findOne(contact.createdBy);
        if (user?.emails?.[0]?.address) {
          contact.createdBy = user.emails[0].address;
        }
      }
    });
  }

  // function add() {
  //   console.log("saved");
  //   const value = document.getElementById("title").value;
  //   Meteor.callAsync("contact.insert", value);
  // }
</script>

<!-- end new -->
<!-- 
  Contacts (Be careful we do not want duplicates..... also contacts can have
  several emails ....)
 -->

<div class="p-3 bg-white rounded-xl">
  <h1 class="text-xl">
    <i class="fa-solid fa-users text-[var(--main-color)]" />
    Tous les contacts
  </h1>

  <div class="mt-3 mb-5">
    <a class=" btn btn--light" href="/pro/contact/creation">
      <i class="fa-solid fa-plus" />
      Ajouter un nouveau contact
    </a>
  </div>

  <table class="w-full">
    <thead>
      <tr>
        <th />
        <th class="text-left">Nom</th>
        <th class="text-left">Email</th>
        <th class="text-left">Phone</th>
        <th class="text-left">Searches</th>
        <!-- <th>Last modification date</th> -->
        <th class="text-left">Creation Date</th>
        <th class="text-left"> Ajouté par </th>
      </tr>
    </thead>
    <tbody>
      {#each contacts as contact}
        <tr class="border-b">
          <td>
            <a
              href="/pro/databases/contact/{contact._id}"
              class="text-blue-600"
            >
              <i class=" fa-regular fa-edit" />
            </a>
          </td>

          <td>{contact.surname || ""}</td>
          <td>
            <!-- {contact?.emails?.[0]?.address} -->
            {contact.emails?.[0] || "Aucun"}
          </td>
          <td>{contact.phone?.[0] || ""}</td>
          <td>
            {#if contact.searches}
              y
            {/if}
          </td>
          <!-- <td>
          {contact.lastConnection?.date || ""}
        </td> -->
          <td>{contact.createdAt}</td>
          <td class="text-sm">
            {contact.createdBy}
          </td>
        </tr>
      {:else}
        <!-- <Loading /> -->
      {/each}
    </tbody>
  </table>
</div>
