<script>
  import { onMount } from "svelte";
  // import { Mandates_For_Sale } from "../../../api/mandates_sale.js";
  import { Sale_Deeds } from "../../../api/sale_deeds.js";
  // import Loading from "../../Loading.svelte";

  onMount(async () => {
    Meteor.subscribe("sales_deed_owner");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();
  let items = [];

  $m: {
    items = Sale_Deeds.find({}, { sort: { createdAt: -1 } }).fetch();

    console.log({ items });
    items?.forEach(function (item) {
      if (item.userId) {
        const user = Meteor.users.findOne(item.userId);
        if (user?.emails?.[0]?.address) {
          item.userId = user.emails[0].address;
        }
      }
    });
  }
</script>

<div class="text-lg">Admin - Actes de vente - Sale Deeds</div>

<h5 class="mt-10">All Sale Deeds</h5>

{#if items.length > 0}
  <table class="w-full">
    <thead>
      <tr>
        <th />
        <th>Date</th>
        <th>Id</th>
        <th>Type</th>
        <th>Statut</th>
        <th>UserId</th>
      </tr>
    </thead>
    <tbody>
      {#each items as item}
        <tr>
          <td>
            {#if item.userId == thisuserId || item.userId == undefined}
              <a href="/admin/for-sale-mandates/edit/{item._id}">
                <i class="fa-solid fa-pen-to-square" />
              </a>
            {/if}
          </td>
          <td>
            {item.createdAt?.toLocaleDateString() || ""}
          </td>
          <td class="text-sm">{item._id}</td>
          <td>
            <!-- <a href="/for-sale/{item._id}"> -->
            {item.type || ""}
            <!-- </a> -->
          </td>
          <td>
            {#if item.isVisible}visible{/if}
          </td>

          <td class="text-sm">{item.userId || ""}</td>
        </tr>
      {:else}
        <!-- <Loading /> -->
        <!-- Loading... -->
      {/each}
    </tbody>
  </table>
{:else}
  Aucun
{/if}
