<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale";
  import Loading from "../../Loading.svelte";
  import GetTitle from "../dashboard/MandateStatus/GetTitle.svelte";

  const { formatAndcurrency } = require("../../../commonFunctions.ts");

  onMount(async () => {
    Meteor.subscribe("mandates_for_sale_owner");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();
  let items = [];

  $m: {
    items = Mandates_For_Sale.find(
      {},
      { sort: { mandate: -1, createdAt: -1 } }
    ).fetch();

    items?.forEach(function (item) {
      if (item.userId) {
        const user = Meteor.users.findOne(item.userId);
        if (user?.emails?.[0]?.address) {
          item.userId = user.emails[0].address;
        }
      }
    });

    // console.log({ items });
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h5 class="mt-4 text-xl">
    <i class="fa-solid fa-laptop-file text-[var(--main-color)]"></i>
    Tous les mandats de vente <!-- All Mandates (sale) -->
  </h5>

  {#if items.length > 0}
    <table class="w-full mt-3">
      <thead>
        <tr>
          <th class="text-left">Mandat</th>
          <th class="text-left">Date</th>
          <th class="text-left">Prix</th>
          <th class="text-left">Type</th>
          <th class="text-left">Statut</th>
          <th class="text-left">Bien</th>
          <th class="text-left">User</th>
          <th class="text-left">Id</th>
        </tr>
      </thead>
      <tbody>
        {#each items as item}
          <tr class="border-b">
            <td>
              <!-- {#if item.userId == thisuserId || item.userId == undefined} -->
              <a
                href="/admin/for-sale-mandates/edit/{item._id}"
                class="text-blue-600"
              >
                {item.mandate?.number || "Aucun"}
              </a>
              <!-- {/if} -->
            </td>
            <td>
              {item.createdAt?.toLocaleDateString() || ""}
            </td>

            <td class="text-sm">
              {#if item.saleprice?.fees_included}
                {formatAndcurrency(item.saleprice.fees_included)}
              {:else}
                -
              {/if}
            </td>
            <td>
              {item.type || ""}
            </td>

            <td>
              {#if item.status == "waiting"}
                <span
                  class="px-2.5 py-0.5 rounded-full bg-yellow-100 text-yellow-800 text-xs"
                >
                  À valider
                </span>
              {:else if item.status == "validated"}
                <span
                  class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
                >
                  Validé
                </span>
              {:else if item.status == "draft"}
                <span class="badge">Draft</span>
              {:else if item.status == "refused"}
                <span
                  class="px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 text-xs"
                >
                  Refusé
                </span>
              {:else}
                {item.status || ""}
              {/if}
            </td>
            <td class="text-sm">
              {#if item.asset?.value}
                <GetTitle AssetId={item.asset.value} mandatType="Sale" />
              {/if}
            </td>
            <td class="text-sm">{item.userId || ""}</td>
            <td class="text-sm text-gray-400">
              {item._id}
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
          <!-- Loading... -->
        {/each}
      </tbody>
    </table>
  {:else}
    Aucun
  {/if}
</div>
