<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  // import Loading from "../../Loading.svelte";
  import { Emails } from "../../../api/emails";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";
  const { validateEmail } = require("../../../commonFunctions.ts");

  onMount(async () => {
    Meteor.subscribe("emails");
  });

  let emails = [];

  $m: {
    emails = Emails.find({}, { sort: { createdAt: -1 } }).fetch();

    if (emails) {
      emails.forEach((email) => {
        email.createdAt = dayjs(email.createdAt).format("DD/MM/YYYY");

        if (email.createdBy) {
          const user = Meteor.users.findOne(email.createdBy);
          if (user?.emails?.[0]?.address) {
            email.createdBy = user.emails[0].address;
          }

          if (email.emails) {
            email.emails = email.emails.join(" ");
          }
        }
      });
    }
  }

  async function descriptionChange(event) {
    const value = event.target.value;
    const id = event.target.dataset.id;
    return Meteor.callAsync("email.change.description", id, value);
    saved_notification();
  }

  const email_templates = [
    {
      templateName: "devenir_agent_commercial",
      subject: "Devenir Agent Commercial",
      functionName: "email.devenirAgent",
    },
    {
      templateName: "no_diploma",
      subject: "Devenir Agent Commercial en Immobilier sans diplôme",
      functionName: "email.no_diploma",
    },
    {
      templateName: "reconversion",
      subject: "Reconversion Professionnelle en Immobilier",
      functionName: "email.reconversion",
    },
    {
      templateName: "change_network",
      subject: "Changer de réseau immobilier",
      functionName: "email.change_network",
    },
  ];

  function emailsCount(array) {
    let count = 0;
    for (var i = 0; i < array.length; i++) {
      if (validateEmail(array[i])) {
        count++;
      }
    }
    return count;
  }

  function fillSubject(evt) {
    const templateSelected = evt.target.value;
    const found = email_templates.find(
      (element) => element.templateName == templateSelected
    );
    if (found) {
      document.getElementById("emailSubject").value = found.subject;
    }
  }

  function emailDuplicates(emails) {
    let result = [];

    all_saved_emails = Emails.find(
      { emails: { $in: emails } },
      { sort: { createdAt: -1 } }
    ).fetch();

    for (var i = 0; i < emails.length; i++) {
      all_saved_emails.forEach((x) => {
        const found = result.find((element) => element.email == emails[i]);

        if (found) {
          found.details.push({
            description: x.description || "No description",
            template: x.template,
            date: dayjs(x.createdAt).format("DD/MM/YYYY"),
          });
        } else {
          if (x.emails?.includes(emails[i].trim())) {
            result.push({
              email: emails[i],
              details: [
                {
                  description: x.description || "No description",
                  template: x.template,
                  date: dayjs(x.createdAt).format("DD/MM/YYYY"),
                },
              ],
            });
          }
        }
      });
    }

    return result;
  }

  function prepare_email() {
    const emailSubject = document.getElementById("emailSubject").value;
    let emails = document.getElementById("emails").value;
    const mailtemplate = document.getElementById("mailtemplate").value;
    const description = document.getElementById("description").value;

    if (emails == "") {
      error_notification("emails missing");
      return;
    }

    if (mailtemplate == "") {
      error_notification("template missing");
      return;
    }

    if (emailSubject == "") {
      error_notification("subject missing");
      return;
    }

    const emailsArray = createValidEmailsArray(emails);
    const emailscount = emailsArray.length;
    const emailduplicates = emailDuplicates(emailsArray);

    let confirm_text = "";

    if (emailduplicates.length > 0) {
      confirm_text +=
        "<h4>Attention: " + emailduplicates.length + " duplicated </h4>";

      emailduplicates.forEach((emaildup) => {
        confirm_text +=
          "<br/>" + "<strong>" + emaildup.email + "</strong>" + "<br/>";

        emaildup.details.forEach((detail) => {
          confirm_text +=
            detail.description +
            " / " +
            detail.template +
            " / " +
            detail.date +
            "<br/>";
        });
      });
    } else {
      confirm_text += "No duplicates";
    }

    let function_name = "";

    document.getElementById("modalBodyTitle").innerHTML =
      "Envoyer " + emailscount + " email(s)?";
    document.getElementById("modalBodyText").innerHTML = confirm_text;

    let options = {};
    const confirmationModal = new bootstrap.Modal(
      document.getElementById("confirmationModal"),
      options
    );

    confirmationModal.show();
  }

  function createValidEmailsArray(emails) {
    //remove linebreak
    emails = emails.replace(/(\r\n|\n|\r)/gm, " ");
    emails = emails.trim();

    let emailsArray = emails.split(" ");
    emailsArray = emailsArray.map((x) => x.trim());
    //Filter non-emails
    emailsArray = emailsArray.filter(function (element) {
      return validateEmail(element);
    });

    return emailsArray;
  }

  async function sendemail() {
    const emailSubject = document.getElementById("emailSubject").value;
    let emails = document.getElementById("emails").value;
    const mailtemplate = document.getElementById("mailtemplate").value;
    const description = document.getElementById("description").value;

    // Prepare emails into array
    const emailsArray = createValidEmailsArray(emails);
    const emailscount = emailsArray.length;

    let emailduplicates = emailDuplicates(emailsArray);
    let confirm_text = "";

    if (emailduplicates.length > 0) {
      confirm_text += "Attention: " + emailduplicates.length + " duplicated \n";

      emailduplicates.forEach((ed) => {
        confirm_text +=
          ed.emails + " / " + ed.description + " / " + ed.template + "\n";
      });
    } else {
      confirm_text += "No duplicates";
    }

    confirm_text = "Envoyer " + emailscount + " email(s) ? \n" + confirm_text;

    let function_name = "";

    if (confirm(confirm_text)) {
      const found = email_templates.find(
        (element) => element.templateName == mailtemplate
      );

      if (found) {
        function_name = found.functionName;
        console.log(function_name);
      }

      if (function_name != "") {
        // document.getElementById("emailSubject").value = "";
        document.getElementById("emails").value = "";

        await Meteor.callAsync(function_name, emailsArray, emailSubject).then(
          Meteor.callAsync(
            "email.insert",
            emailsArray,
            mailtemplate,
            emailSubject,
            description
          )
        );

        saved_notification("Envoyé");
      }
    }
  }
</script>

<div>
  <div class="mb-2">
    Description interne
    <textarea id="description" type="text" />
  </div>

  <div class="mb-2">
    Template

    <select
      on:change={fillSubject}
      id="mailtemplate"
      class="border select"
      aria-label="Default select example"
    >
      <option selected value="">Choose template</option>

      {#each email_templates as template}
        <option value={template.templateName}>
          {template.subject}
        </option>
      {/each}
    </select>
  </div>

  <div class="mb-2">
    Objet de l'email
    <input id="emailSubject" type="text" class="w-full input" />
  </div>
  <div>
    Email(s)
    <textarea id="emails" type="text" class="w-full input" rows="4" />
  </div>
</div>

<button class="mt-3 btn btn--light" on:click={prepare_email}> Envoyer </button>

<table class="border">
  <thead>
    <tr>
      <th>Description</th>
      <th>Objet</th>
      <th>Template</th>
      <th>Creation Date</th>
      <th>Envoyé par</th>
    </tr>
  </thead>
  <tbody>
    {#each emails as email}
      <tr class="border-b">
        <td>
          <!-- <a href="/pro/databases/contact/{email._id}">
            <i class="fa-regular fa-edit" />
          </a> -->

          <input
            class="border-none"
            contenteditable="true"
            on:change={descriptionChange}
            value={email.description || "Aucune"}
            data-id={email._id}
          />
        </td>
        <td>
          {email.subject || "Aucun"}
        </td>
        <td>
          {email.template}
        </td>
        <td>
          {email.createdAt}
        </td>

        <td class="text-sm">
          {email.createdBy}
          <br />
          {email._id}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          {email.emails}
        </td>
      </tr>
    {:else}
      Aucun email envoyé
    {/each}
  </tbody>
</table>

<!-- Confirmation modal -->
<div tabindex="-1" id="confirmationModal">
  <div>
    <div>
      <div id="modalBodyTitle" />
    </div>
    <div>
      <div id="modalBodyText">
        <!-- will be filled -->
      </div>
    </div>
    <div>
      <button type="button" class="btn btn--light" on:click={sendemail}>
        Envoyer
      </button>
    </div>
  </div>
</div>
