<script>
  import { onMount } from "svelte";
  import { Blogs } from "../../../api/blogs.js";
  import dayjs from "dayjs";
  import { saved_notification } from "../../../notifications.ts";

  const { slugify } = require("../../../commonFunctions.ts");

  export let id;

  onMount(async () => {
    Meteor.subscribe("blog", id);
  });

  let blog;
  let bloghtmlcontentlive = "";
  let isVisible = false;

  $m: {
    blog = Blogs.findOne();
    console.log(blog);

    if (blog) {
      blog.createdAt = dayjs(blog.createdAt).format("DD/MM/YYYY");
      bloghtmlcontentlive = blog.htmlcontent;
      if (blog.isVisible) {
        isVisible = true;
      }
    }
  }

  async function save(key) {
    saved_notification();
    const value = document.getElementById(key).value;
    await Meteor.callAsync("blogs.update." + key, id, value);
  }

  async function handle_visibility() {
    const value = document.getElementById("visible").checked;
    console.log(value);
    await Meteor.callAsync("blog.update.isVisible", id, value);
  }

  function sluglify_title() {
    const value = document.getElementById("title").value;
    document.getElementById("slug").value = slugify(value);
    saved_notification();
  }

  // Select
  // import Select from 'svelte-select';
</script>

{#if blog}
  Blog /
  <a href="/blog/{blog._id}">{blog._id}</a>
  {#if blog.createdAt}<br /> <i class="fa-regular fa-clock" />
    {blog.createdAt}{/if}

  <div>
    <input
      type="checkbox"
      id="visible"
      bind:checked={isVisible}
      on:input={handle_visibility}
    />
    <label for="">
      {#if isVisible}Visible{:else}Not visible{/if}
    </label>
  </div>

  <br /><br />

  {#if blog.externalUrl}{blog.externalUrl}{/if}

  <div>
    <label for="">Title</label>
    <textarea
      on:change={() => {
        save("title");
      }}
      id="title"
      class="w-full input"
      value={blog.title}
      rows="1"
    />
  </div>

  <div>
    <button type="button" on:click={sluglify_title} class="btn btn--light">
      Convertir pour référencement <!-- Slugify title -->
    </button>
    <textarea id="slug" value={blog.slug || ""} rows="1" />
  </div>

  <br />
  <button
    on:click={() => {
      save("slug");
    }}
    class="btn btn--light"
  >
    Save
  </button>
  <br />
  <br />

  <div>
    <label for="username">Username</label>
    <textarea
      on:change={() => {
        save("username");
      }}
      id="username"
      value={blog.username || ""}
      class="input"
      rows="1"
    />
  </div>

  <div class="grid grid-cols-2">
    <div>
      <div>
        <label for="youtubeId">Youtube Id</label>
        <textarea
          id="youtubeId"
          class="w-full input"
          value={blog.youtubeId || ""}
          rows="1"
          on:change={() => {
            save("youtubeId");
          }}
        />
      </div>
    </div>
    <div class="text-center">
      {#if blog.youtubeId}
        <iframe
          title="youtube"
          width="280"
          height="157.5"
          src="https://www.youtube.com/embed/{blog.youtubeId}"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope"
          allowfullscreen
        />
      {/if}
    </div>
  </div>

  <br />
  <br />

  <label for="">Thumbnail</label>
  <div class="grid grid-cols-2">
    <div>
      <div>
        <textarea
          on:change={() => {
            save("thumbnail");
          }}
          id="thumbnail"
          class="w-full input"
          value={blog.thumbnail || ""}
          rows="1"
        />
      </div>
    </div>
    <div class="text-center">
      {#if blog.thumbnail}
        <img alt="blog" src={blog.thumbnail} />
      {/if}
    </div>
  </div>

  <br />
  <br />

  <!-- Categories -->
  <!-- <label for="">Categories</label>
  <select class="border select" multiple aria-label="multiple select example">
    <option selected>None</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <br />
  <button id="save_title" on:click={save_cats}>Save</button>
  <br /> -->
  <!-- Tags -->

  <!-- <label for="">Tags</label>
  <select class="border select" multiple aria-label="multiple select example">
    <option selected>None</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <br />
  <button id="save_title" on:click={save_tags}>Save</button>
  <br /> -->

  <div>
    <label for="description">Description</label>
    <textarea
      on:change={() => {
        save("description");
      }}
      class="w-full input"
      id="description"
      value={blog.description || ""}
      rows="3"
    />
  </div>

  <!-- <label for="content">Content</label>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      <div>
        <textarea
          on:change={() => {
            save("htmlcontent");
          }}
          class="w-full input"
          id="htmlcontent"
          bind:value={bloghtmlcontentlive}
          rows="15"
        />
      </div>
    </div>

    <div>
      {#if bloghtmlcontentlive}
        {@html bloghtmlcontentlive}
      {/if}
    </div>
  </div> -->
{/if}
