<script>
  import { onMount } from "svelte";

  import { Blogs } from "../../../api/blogs.js";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { saved_notification } from "../../../notifications.ts";

  let handle;

  onMount(async () => {
    handle = Meteor.subscribe("blogs");
  });

  let blogs = [];
  let isLoading = true;

  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      blogs = Blogs.find({}, { sort: { createdAt: -1 } }).fetch();

      blogs?.forEach(function (blog) {
        blog.createdAt = dayjs(blog.createdAt).format("DD/MM/YYYY");
      });
    }
  }

  async function addblog() {
    const value = document.getElementById("addblogtitle").value;
    await Meteor.callAsync("blog.insert", value);
    saved_notification();
  }
</script>

<div class="text-xl">Blogs</div>
<!-- Add  -->
<div class="grid items-center grid-cols-2 gap-3">
  <div>
    <input
      type="text"
      class="input"
      id="addblogtitle"
      aria-describedby="addblogtitle"
    />
  </div>
  <div>
    <span id="addblog" class="form-text">
      <button on:click={addblog} class="btn--light">Add new blog</button>
    </span>
  </div>
</div>
<!-- end new -->

{#if isLoading}
  <Loading />
{:else}
  <table class="w-full">
    <thead>
      <tr>
        <th />
        <th>Title</th>
        <th>Slug</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Categories</th>
        <th>Content</th>
        <th>External Url</th>
        <th>Youtube Id</th>
        <th>Visible</th>
        <th>userId</th>
        <th>Date</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {#each blogs as blog}
        <tr class="border-b last:border-b-0">
          <!-- <td>
            <a href="/admin/blog/edit/{blog._id}" class="text-blue-600">
              <i class="fa-solid fa-pen-to-square" />
            </a>
          </td> -->

          <td>
            <a
              href="/admin/blog/edit/{blog._id}"
              class="text-blue-600 underline"
            >
              {blog.title || "Aucun titre"}
            </a>
          </td>
          <td>
            {#if blog.slug}
              <a href="/blog/{blog.slug}"> {blog.slug} </a>
            {/if}
          </td>
          <td>
            {blog.description?.substring(0, 30) || ""}
          </td>
          <td>
            {#each blog.tags || [] as tag}
              {tag}
            {/each}
          </td>
          <td>
            {#each blog.categories || [] as category}{category}{/each}
          </td>
          <td>
            {blog.htmlcontent?.substring(0, 30) || ""}
          </td>
          <td>
            {blog.externalUrl || ""}
          </td>
          <td>
            {blog.youtubeId || ""}
          </td>
          <td>
            {#if blog.isVisible}visible{/if}
          </td>
          <td>
            {blog.userId || ""}
          </td>
          <td>
            {blog.createdAt || ""}
          </td>
          <td class="text-sm">{blog._id}</td>
        </tr>
      {:else}
        No blogs
      {/each}
    </tbody>
  </table>
{/if}
