<script>
  import { onMount } from "svelte";

  import { Logs } from "../../../api/logs.js";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { saved_notification } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("logs");
  });

  let logs = [];
  $m: {
    logs = Logs.find({}, { sort: { createdAt: -1 } }).fetch();
    // console.log(logs);
    // logs?.forEach(function (logs) {
    //   logs.createdAt = dayjs(logs.createdAt).format("DD/MM/YYYY");
    // });
  }

  async function cleanLogs() {
    if (!confirm("Clean ?")) return;

    // const value = document.getElementById("addlogstitle").value;
    await Meteor.callAsync("log.clean");
    saved_notification();
  }

  // function addlog() {
  //   const value = document.getElementById("addlogstitle").value;
  //   Meteor.callAsync("log.insert", { title: value })
  //     saved_notification();
  // }

  async function deletelog(event) {
    const value = event.target.dataset.value;
    await Meteor.callAsync("log.remove", value);
    saved_notification();
  }
</script>

<div class="text-2xl">Logs</div>
<!-- Add  -->
<!-- <div class="items-center gap-3">
  <div>
    <input type="text" id="addlogstitle" aria-describedby="addlogstitle" />
  </div>
  <div>
    <span id="addlogs" on:click={addlog} class="form-text">
      <button class="btn btn-primary">Add new log</button>
    </span>
  </div>
</div> -->
<!-- end new -->

<button on:click={() => cleanLogs()} class="btn btn--light">
  <i class="fa-solid fa-broom" />
  Clean
</button>

<div class="p-3 overflow-x-auto bg-white rounded-xl">
  <table class="w-full">
    <thead>
      <tr>
        <th class="text-left">Type</th>
        <th class="text-left">Title</th>
        <th>Description</th>
        <th>Categories</th>
        <th>Content</th>
        <th class="text-left">userId</th>
        <th>Date</th>
        <!-- <th>id</th> -->
        <th />
      </tr>
    </thead>
    <tbody>
      {#each logs as log}
        <tr>
          <td>
            {log.tag || ""}
          </td>
          <td>
            {#if log.title}
              <!-- <details>
                <summary>Details</summary>
                <p>
                  {@html log.title}
                </p>
              </details> -->

              {@html log.title}
            {/if}
          </td>

          <td>
            {#if log.description}
              <details>
                <summary>Details</summary>
                <p>
                  <!-- {log.description || ""}  -->
                  {log.details || ""}
                </p>
              </details>
            {/if}
          </td>

          <td>
            {#each log.categories || [] as category}{category}{/each}
          </td>
          <td>
            {#if log.isVisible}visible{/if}
          </td>
          <td class="text-sm">
            {log.userId || ""}
          </td>
          <td>
            {dayjs(log.createdAt).format("DD/MM/YY") || ""}
          </td>
          <!-- <td class="text-sm">
            {log._id}
          </td> -->
          <td>
            <button
              id="deleteLog"
              data-value={log._id}
              class="btn btn--light"
              on:click={deletelog}
            >
              <!-- Delete -->
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      {:else}
        <!-- <Loading /> -->
      {/each}
    </tbody>
  </table>
</div>
