<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../api/assets_sale.js";

  import Loading from "../Loading.svelte";
  import QRCode from "../QRJS.svelte";

  import Diagnostics from "../Diagnostics.svelte";
  import CallMeBackBox from "../CallMeBackBox.svelte";
  import LoanCalculatorBox from "../LoanCalculatorBox.svelte";
  import enterprise_customization from "../../../enterprise_customization";
  const { enterprise_name, logourl, website } = enterprise_customization;

  import { proOrlocalAuthorizationBoolean } from "../../admin";
  import SimilarAssets from "./SimilarAssets.svelte";
  import Carousel from "../Carousel.svelte";

  const {
    formatNumber,
    formatAndcurrency,
  } = require("../../commonFunctions.ts");

  export let id;

  window.scroll(0, 0);

  const handle = Meteor.subscribe("for_sale_asset_slug", id);

  onMount(async () => {
    await Meteor.callAsync("asset_sale.increment.pageviews", id);
  });

  let object;

  // By default, we dont display the watermark with the name of the company since the logo is embedded now
  // let watermark = "watermark";
  let watermark = "";

  // For the calculator box
  let amountToBorrow;
  let isLoading = true;

  $m: {
    isLoading = !handle.ready();

    if (!isLoading) {
      object = Assets_sale.findOne({ $or: [{ _id: id }, { slug: id }] });
      console.log({ object });

      if (object) {
        if (object.saleprice?.fees_included) {
          amountToBorrow = object.saleprice.fees_included;
        }

        if (object.isSold) {
          watermark = "sold";
        } else if (object.saleAgreementDate) {
          watermark = "saleAgreement";
        } else if (object.deed) {
          watermark = "sold";
        }

        if (object.title) {
          object.title = object.title.replaceAll("m2", "m²");
        }

        if (object.description) {
          object.description = object.description
            .replace(/Plus de détails\/photos : .+/g, "")
            .replace(/\r?\n/g, "<br />")
            .replaceAll("m2", "m²");
        }
      }
    }
  }
</script>

<svelte:head>
  <title>
    {object?.title}
    {enterprise_name}
  </title>

  <meta name="description" content={object?.description} />
</svelte:head>

<div class="bg-slate-50">
  {#if isLoading}
    <div class="pt-[300px] pb-[300px]">
      <Loading />
    </div>
  {:else if object}
    <div class="breadcrumbs print:hidden">
      <div class="container mx-auto">
        <ol class="mt-3">
          <li><a href="/" aria-label="homepage">Home</a></li>
          <li>Propriété</li>
        </ol>
        <!-- <h2>
        {object.title}
      </h2> -->
      </div>
    </div>

    <!-- Logo and qr code for print -->
    <div class="container hidden mx-auto print:block">
      <div class="flex justify-between">
        <div>
          <img src={logourl} class="max-w-[180px] max-h-[60px]" alt="logo" />
        </div>
        <div>
          <QRCode codeValue="{website}/for-sale/{id}" squareSize="90" />
        </div>
      </div>
    </div>
    <!-- End: Logo and qr code for print -->

    {#if object}
      {#if !object.isVisible && proOrlocalAuthorizationBoolean()}
        <div class="container px-4 m-5 mx-auto mt-3 md:px-0 print:hidden">
          <div class="text-lg">
            <i class="fa-solid fa-lock" />
            This page is private and not visible
          </div>

          <div class="mt-5">
            <a href="/pro/for-sale/edit/{object._id}" class="btn btn--blue">
              Go back to edit
            </a>
          </div>
        </div>
      {/if}

      <div class="container px-4 m-5 mx-auto mt-3 md:px-0">
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div>
            <h1 class="text-2xl">{object.title}</h1>
          </div>

          <div class="text-2xl text-left md:text-end">
            {#if object?.saleprice?.fees_included > 0}
              {formatAndcurrency(object.saleprice.fees_included)}
            {:else}
              Prix sur demande
            {/if}
          </div>
        </div>

        <div class="grid grid-cols-1 text-lg sm:grid-cols-2">
          <div class="overflow-x-auto">
            {#if object.address}
              <i class="text-gray-400 fa-solid fa-location-dot" />
              {object.address.city || ""}
              {#if object.address.postalCode}
                / {object.address.postalCode}
              {/if}
            {/if}

            <div>
              <ul class="flex gap-1">
                {#if object.landSurface}
                  <li
                    class="min-w-[65px] pl-2 border-l first:border-l-0 first:pl-0 text-sm"
                  >
                    <i class="text-gray-400 fa-solid fa-expand" />
                    {formatNumber(object.landSurface)}
                    m²
                  </li>
                {/if}

                {#if object.livingArea}
                  <li
                    class="min-w-[75px] pl-2 border-l first:border-l-0 first:pl-0 text-sm"
                  >
                    <i class="text-gray-400 fa-solid fa-vector-square" />
                    {formatNumber(object.livingArea)}
                    m²
                  </li>
                {/if}

                {#if object.roomsNumber?.bedrooms}
                  <li
                    class="min-w-[45px] pl-2 border-l first:border-l-0 first:pl-0 text-sm me-1"
                  >
                    {object.roomsNumber.bedrooms || ""}
                    <i class="text-gray-400 fa-solid fa-bed" />
                  </li>
                {/if}

                {#if object.roomsNumber?.kitchens}
                  <li
                    class="min-w-[45px] pl-2 border-l first:border-l-0 first:pl-0 text-sm me-1"
                  >
                    {object.roomsNumber.kitchens || ""}
                    <i class="text-gray-400 fa-solid fa-sink" />
                  </li>
                {/if}

                {#if object.roomsNumber?.bathrooms}
                  <li
                    class="min-w-[45px] pl-2 border-l first:border-l-0 first:pl-0 text-sm me-1"
                  >
                    {object.roomsNumber.bathrooms || ""}
                    <i class="text-gray-400 fa-solid fa-bath" />
                  </li>
                {/if}

                {#if object.roomsNumber?.parkingslots}
                  <li
                    class="min-w-[45px] pl-2 border-l first:border-l-0 first:pl-0 text-sm me-1"
                  >
                    {object.roomsNumber.parkingslots || ""}
                    <i class="text-gray-400 fa-solid fa-car" />
                  </li>
                {/if}

                {#if object.roomsNumber?.cellars}
                  <li
                    class="min-w-[45px] pl-2 border-l first:border-l-0 first:pl-0 text-sm me-1"
                  >
                    {object.roomsNumber.cellars || ""}
                    <i class="text-gray-400 fa-solid fa-dungeon" />
                  </li>
                {/if}
              </ul>
            </div>
          </div>

          <div class="text-end print:hidden">
            <button class="bg-white btn btn--light" onclick="window.print()">
              <i class="fa-solid fa-print" />
              Imprimer la fiche
            </button>
          </div>
        </div>

        <!-- Sold Aread -->
        {#if object?.isSold}
          <span class="px-5 py-2 mr-2 text-indigo-800 bg-red-100 rounded-xl">
            VENDU
          </span>
        {:else if object?.isSoldByOthers}
          <span class="px-5 py-2 mr-2 text-indigo-800 bg-red-100 rounded-xl">
            NON DISPONIBLE
          </span>
        {:else}
          <!-- Tags -->
          {#if object?.tags}
            <div class="my-2">
              {#each object?.tags as tag}
                {#if tag == "Sous offre" || tag == "Sous compromis"}
                  <span
                    class="inline-block px-3 py-2 mr-2 text-pink-800 bg-pink-100 rounded-xl"
                  >
                    <i class="fa-solid fa-tag" />
                    {tag}
                  </span>
                {:else if tag == "Baisse de prix"}
                  <span
                    class="inline-block px-3 py-2 mr-2 text-pink-800 bg-orange-100 rounded-xl"
                  >
                    <i class="fa-solid fa-arrow-down" />
                    {tag}
                  </span>
                {:else}
                  <span
                    class="inline-block px-3 py-2 mr-2 text-indigo-800 bg-indigo-100 rounded-xl"
                  >
                    {tag}
                  </span>
                {/if}
              {/each}
            </div>
          {/if}
          <!-- End tags -->
        {/if}
        <!-- End of sold area -->

        <div class="grid grid-cols-1 lg:grid-cols-3">
          <div class="col-span-2">
            <!-- Carousel - not visible on print -->
            <Carousel {object} {watermark} />

            <!-- Price -->
            <div>
              {#if object?.saleprice}
                <div class="mt-3 print:hidden">
                  <h3 class="text-xl">
                    {#if object.saleprice?.fees_included > 0}
                      {formatAndcurrency(object.saleprice?.fees_included)}
                    {:else}
                      Prix sur demande
                    {/if}
                  </h3>
                </div>
                <hr />
              {/if}
              <!--  description -->
              <div class="mb-4">
                {#if object.description}
                  <!-- <h3 class="text-xl">Description</h3> -->
                  <p class="text-justify">
                    {@html object.description}
                  </p>
                {/if}
              </div>
            </div>

            <!-- Details section start -->
            <div class="mb-4">
              <h3 class="text-xl">Détails</h3>

              <table>
                {#if object.type}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Type </td>
                    <td>
                      {#if object.type == "house"}
                        Maison
                      {:else if object.type == "building"}
                        Immeuble
                      {:else if object.type == "apartment"}
                        Appartement
                      {:else if object.type == "land"}
                        Terrain
                      {:else}
                        {object.type}
                      {/if}
                    </td>
                  </tr>
                {/if}

                {#if object.floorNumber}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Étage </td>
                    <td>
                      {object.floorNumber}
                    </td>
                  </tr>
                {/if}

                {#if object.totalFloorNumber}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Nb d'étages </td>
                    <td>
                      {object.totalFloorNumber}
                    </td>
                  </tr>
                {/if}

                {#if object.landSurface}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Surface terrain </td>
                    <td>
                      {formatNumber(object.landSurface)} m²
                    </td>
                  </tr>
                {/if}

                {#if object.livingArea}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Surface habitable </td>
                    <td>
                      {formatNumber(object.livingArea)} m²
                    </td>
                  </tr>
                {/if}

                {#if object.roomsNumber?.bedrooms}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Chambres </td>
                    <td>
                      {object.roomsNumber?.bedrooms}
                    </td>
                  </tr>
                {/if}
                {#if object.roomsNumber?.bathrooms}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Salles de bain </td>
                    <td>
                      {object.roomsNumber?.bathrooms}
                    </td>
                  </tr>
                {/if}
                {#if object.roomsNumber?.parkingslots}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold"> Parking </td>
                    <td>
                      {object.roomsNumber?.parkingslots}
                    </td>
                  </tr>
                {/if}

                {#if object.constructionYear}
                  <tr class="border-b last:border-b-0">
                    <td class="font-bold pr-7"> Année de construction </td>
                    <td>
                      {object.constructionYear}
                    </td>
                  </tr>
                {/if}
              </table>
            </div>
            <!-- Details ends -->

            <!-- Copro section start -->
            {#if object.copro}
              <div class="break-inside-avoid">
                <div class="mb-4">
                  <h3 class="text-xl">Copropriété</h3>
                  <p>
                    {#if object.copro.numberOfLots}
                      <strong>Nombre de lots:</strong>
                      {object.copro.numberOfLots} <br />
                    {/if}

                    {#if object.copro.annualFees}
                      <strong>
                        Montant annuel de la quote-part du budget prévisionnel
                        des dépenses courantes de:
                      </strong>
                      {formatAndcurrency(object.copro.annualFees)}
                      <br />
                    {/if}
                  </p>
                </div>
              </div>
            {/if}
            <!-- Copro ends -->
          </div>
          <div>
            <CallMeBackBox agentId={object.userId} {object} />
            {#if amountToBorrow}
              <br />
              <LoanCalculatorBox price={amountToBorrow} />
            {/if}
          </div>
        </div>

        <div>
          <div>
            {#if object.diagnostics?.ges || object.diagnostics?.dpe}
              <div style="page-break-inside:avoid;">
                <h3 class="text-lg">Diagnostics énergétiques</h3>
                <Diagnostics
                  ges={object.diagnostics?.ges}
                  dpe={object.diagnostics?.dpe}
                  cost={object.diagnostics?.cost}
                />
              </div>
            {/if}
          </div>
        </div>

        {#if object.youtubeId}
          <div class="mb-5 print:hidden">
            <div class="videoWrapper">
              <iframe
                title="youtube"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{object.youtubeId}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            </div>
          </div>
        {/if}

        <SimilarAssets
          type={object.type}
          city={object.address?.city}
          excludeId={object._id}
        />
      </div>
    {/if}
  {:else}
    <div class="m-20">Nous n'avons rien trouvé</div>

    <div>
      <a href="/" class="btn"> Home </a>
    </div>
  {/if}
</div>

<style>
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /*Watermark*/
  .watermark {
    position: relative;
  }

  .saleAgreement {
    position: relative;
  }
  .saleAgreement::after {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
    content: "SOUS COMPROMIS";
    color: aliceblue;
  }
  .sold {
    position: relative;
  }
  .sold::after {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    content: "VENDU";
    color: aliceblue;
  }
</style>
