<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../api/assets_sale.js";
  // import dayjs from "dayjs";
  import Loading from "../Loading.svelte";
  import { navigate } from "svelte-routing";
  // import Favorites from "../profile/Favorites.svelte";
  import SaleCardItem from "../properties/sale/SaleCardItem.svelte";

  import enterprise_customization from "../../../enterprise_customization.ts";
  import SearchNotifications from "../SearchNotifications.svelte";
  const { countryConfiguration } = enterprise_customization;

  import Select from "svelte-select";
  import cities from "../../PolynesiaCities.js";
  const seachItems = cities.values;
  const groupBy = (item) => item.group;

  function arrayRemove(arr, value) {
    return arr.filter(function (ele) {
      return ele != value;
    });
  }

  function handle_places(event) {
    const array = event.detail;
    citiesArray = array.map((x) => x.value);
    filter["address.city"] = { $in: citiesArray };
  }

  let typeList;
  let placesList;

  let url = new URL(window.location.href);

  let type = url?.searchParams?.get("type");
  let places = url?.searchParams?.get("places");
  let priceMax = Number(url?.searchParams?.get("price"));

  let assetType = [];

  const urlSearchParams = new URLSearchParams(window.location.search);
  // const params = Object.fromEntries(urlSearchParams.entries());

  const typeItems = [
    { value: "apartment", label: "Appartement" },
    { value: "house", label: "Maison" },
    { value: "building", label: "Immeuble" },
    { value: "land", label: "Terrain" },
  ];

  //Initiate the search from params
  if (type) {
    typeList = [{ value: type }];
    assetType = [type];
  }

  let handle;

  onMount(async () => {
    handle = Meteor.subscribe("visible_for_sale_assets");
    Meteor.subscribe("thisuser");

    if (places) {
      // document.getElementById("city").value = places;
      placesList = places.split("_");
      citiesArray = places.split("_");
    }

    if (priceMax) {
      price_max = priceMax;
    }
  });

  function handleType(event) {
    assetType = (event.detail && event.detail.map((x) => x.value)) || [];
  }

  function handleClearType(event) {
    if (event?.detail?.value) {
      valueToRemove = event?.detail?.value;
      assetType = arrayRemove(assetType, valueToRemove);
    } else {
      //reset all
      assetType = ["land", "house", "building", "apartment"];
    }
  }

  function handleClearCities(event) {
    console.log("CLEAR Cities");
    // filter = unsetProperty(filter, "address.city");
  }

  function unsetProperty(filterObject, property) {
    let filtered = {};
    for (const key in filterObject) {
      if (key !== property) {
        filtered[key] = filter[key];
      }
    }
    return filtered;
  }

  let filter = {};
  let options = {};
  let price_max;
  let livingArea;
  let citiesArray; // For PF config
  let city; // For FR config

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }

    return favorites.find((element) => element.assetId == value);
  }

  let for_sale_assets = [];
  let isLoading = true;

  $m: {
    isLoading = !handle?.ready();
    filter.archived = { $ne: true };
    filter.isVisible = true;

    options.sort = { createdAt: -1 };

    if (assetType == [] || assetType == "") {
      filter = unsetProperty(filter, "type");
    } else if (assetType) {
      filter.archived = { $ne: true };
      filter["type"] = { $in: assetType };
    }

    if (price_max) {
      filter["saleprice.fees_included"] = { $lte: price_max };
    }

    // PF
    if (countryConfiguration == "pf") {
      if (citiesArray) {
        filter["address.city"] = { $in: citiesArray };
      } else {
        filter = unsetProperty(filter, "address.city");
      }
    }
    // FR
    if (countryConfiguration == "fr") {
      if (city) {
        filter["address.city"] = { $regex: new RegExp("^" + city + ".*", "i") };
      }
    }

    if (livingArea) {
      filter["livingArea"] = { $gte: livingArea };
    } else {
      filter = unsetProperty(filter, "livingArea");
    }

    for_sale_assets = Assets_sale.find(filter, options).fetch();

    // if (for_sale_assets) {
    //   for_sale_assets.forEach(function (item) {
    //     item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");
    //     item.description = item.description?.substring(0, 200);
    //     if (is_favorite(item._id)) {
    //       item.is_favorite = true;
    //     } else {
    //       item.is_favorite = false;
    //     }
    //   });
    // }
  }
</script>

<div class="mx-auto mb-5">
  {#if isLoading}
    <div style="height:50vh;">
      Loading...
      <Loading />
    </div>
  {:else}
    <div class="bg-slate-100">
      <h1 class="py-3 mb-5 text-2xl font-semibold text-center">En vente</h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3">
      <div class="col-span-1 px-10">
        <!-- <div class="block pt-0 border-bottom">
          <ul class="flex mb-0">
            <li >
              <a href="real-estate-catalog-rent.html">
                <i class="fi-rent me-2" />Vente
              </a>
            </li>
            <li >
              <a class=" active" href="real-estate-catalog-sale.html">
                <i class="fi-home me-2" />
                Location
              </a>
            </li>
          </ul>
        </div> -->

        <div class="pb-3 mb-2">
          <h3 class="font-bold">Type</h3>
          <Select
            id="selectType"
            items={typeItems}
            multiple="true"
            on:change={handleType}
            on:clear={handleClearType}
            value={typeList}
          />
        </div>
        <div class="pb-3 mb-2">
          <h3 class="font-bold">Budget max</h3>

          <input
            id="price_max"
            type="number"
            min="0"
            class="w-full input"
            bind:value={price_max}
          />
        </div>

        <div class="pb-3 mb-2">
          <h3 class="font-bold">Ville</h3>

          {#if enterprise_customization.countryConfiguration == "pf"}
            <div class="themed">
              <Select
                id="citiesSelect"
                on:change={handle_places}
                on:clear={handleClearCities}
                value={placesList}
                items={seachItems}
                placeholder="Ville"
                {groupBy}
                multiple="true"
              />
            </div>
          {:else}
            <input
              id="city"
              type="text"
              class="w-full input"
              bind:value={city}
            />
          {/if}
        </div>

        <div class="pb-3 mb-2">
          <h3 class="font-bold">Surface min (habitable)</h3>
          <input
            type="number"
            min="0"
            class="w-full input"
            bind:value={livingArea}
          />
        </div>
      </div>

      <div class="col-span-2">
        <div class="grid grid-cols-1 gap-6 px-10 lg:grid-cols-2">
          {#each for_sale_assets as item}
            <SaleCardItem {item} />
          {:else}
            Aucun bien ne correspond à votre recherche
          {/each}
        </div>
      </div>
    </div>

    <SearchNotifications />
  {/if}
</div>
