<script>
  export let type;
  export let city;
  export let excludeId;

  const { formatAndcurrency, lowres } = require("../../commonFunctions.ts");

  import { Assets_sale } from "../../api/assets_sale.js";
  let items = [];

  $m: {
    Meteor.subscribe("similar_sale_assets", type, city, excludeId);
    items = Assets_sale.find({
      _id: { $ne: excludeId },
    }).fetch();
  }
</script>

{#if items.length > 0}
  <div class="justify-center mb-5 print:hidden">
    <h3 class="text-xl">Annonces similaires</h3>

    <div class="grid gap-3 sm:grid-cols-3">
      {#each items as item}
        <div class="p-3 shadow rounded-xl min-h-[210px] bg-slate-50">
          <div>
            <a href="/for-sale/{item._id}">
              {#if item.images?.[0]?.url}
                <img
                  class="rounded-xl h-28"
                  src={lowres({ url: item.images[0].url })}
                  alt=""
                  loading="lazy"
                />
              {/if}
              <div class="font-semibold">
                {item.title}
              </div>
              <div>
                {item?.address?.city || ""}
              </div>
            </a>
            <div>
              {formatAndcurrency(item.saleprice?.fees_included)}
            </div>
          </div>
        </div>
      {/each}
    </div>
  </div>
{/if}
