<script>
  import { saved_notification } from "../../notifications.ts";
  import enterprise_customization from "../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;

  export let id;
  export let bankloan;

  const asset = bankloan?.asset;
  console.log(asset);
  const contractSignedDate = asset?.contractSignedDate;
  let landSurface = asset?.landSurface || "";
  let livingArea = asset?.livingArea || "";
  let street = asset?.street || "";
  let additionalAddress = asset?.additionalAddress || "";
  let postalCode = asset?.postalCode || "";
  let city = asset?.city || "";
  let assetUsage = asset?.assetUsage || "";
  let assetType = asset?.assetType || "";
  let rooms = asset?.rooms || "";
  let projectType = asset?.projectType || "";

  const saveAssetUsage = (event) => {
    assetUsage = event.target.value;
    saveAsset();
  };

  const saveAssetType = (event) => {
    assetType = event.target.value;
    saveAsset();
  };

  const saveProjectType = (event) => {
    projectType = event.target.value;
    saveAsset();
  };

  const saveRooms = (event) => {
    rooms = event.target.value;
    saveAsset();
  };

  const saveAsset = async () => {
    const contractSignedDate =
      document.getElementById("contractSignedDate")?.value || "";

    object = {
      contractSignedDate,
      landSurface,
      livingArea,
      street,
      postalCode,
      city,
      additionalAddress,
      assetUsage,
      assetType,
      rooms,
      projectType,
    };

    await Meteor.callAsync("bankloan.update.asset", { id, object });
    saved_notification();
  };
</script>

<div class="p-4 mb-4 bg-white shadow rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-house text-[var(--main-color)]" />
    Objet du bien à financer
  </h2>

  <div>
    Ce projet concerne
    <div class="flex justify-around">
      <div>
        <input
          type="radio"
          name="assetUsage"
          value="Résidence principale"
          on:click={saveAssetUsage}
          checked={assetUsage == "Résidence principale"}
        />
        <label for="primary">Résidence principale</label>
      </div>
      <div>
        <input
          type="radio"
          name="assetUsage"
          value="Résidence secondaire"
          on:click={saveAssetUsage}
          checked={assetUsage == "Résidence secondaire"}
        />
        <label for="secondary">Résidence secondaire</label>
      </div>
      <div>
        <input
          type="radio"
          name="assetUsage"
          value="Bien à usage locatif"
          on:click={saveAssetUsage}
          checked={assetUsage == "Bien à usage locatif"}
        />
        <label for="locatif">Bien à usage locatif</label>
      </div>
    </div>
  </div>

  <div>
    <span> Date du compromis (si signé) </span>
    <input
      id="contractSignedDate"
      value={contractSignedDate}
      on:change={saveAsset}
      type="date"
      class="input"
    />
  </div>

  <div>
    Le prêt doit financer
    <div class="flex justify-around">
      <div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Ancien sans travaux"
            on:click={saveProjectType}
            checked={projectType == "Ancien sans travaux"}
          />
          <label for="asset">
            <!-- Bien existant -->
            Ancien sans travaux
          </label>
        </div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Terrain seul"
            on:click={saveProjectType}
            checked={projectType == "Terrain seul"}
          />
          <label for="land">Terrain seul</label>
        </div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Bien neuf (VEFA)"
            on:click={saveProjectType}
            checked={projectType == "Bien neuf (VEFA)"}
          />
          <label for="vefa">Bien neuf (VEFA)</label>
        </div>
      </div>

      <div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Ancien + travaux"
            on:click={saveProjectType}
            checked={projectType == "Ancien + travaux"}
          />
          <label for="ancientravaux">Ancien + travaux</label>
        </div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Travaux seuls"
            on:click={saveProjectType}
            checked={projectType == "Travaux seuls"}
          />
          <label for="travaux">Travaux seuls</label>
        </div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Rachat de prêt"
            on:click={saveProjectType}
            checked={projectType == "Rachat de prêt"}
          />
          <label for="rachat">Rachat de prêt</label>
        </div>
      </div>

      <div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Construction seule"
            on:click={saveProjectType}
            checked={projectType == "Construction seule"}
          />
          <label for="construction">Construction seule</label>
        </div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Terrain + construction"
            on:click={saveProjectType}
            checked={projectType == "Terrain + construction"}
          />
          <label for="landcontruction">Terrain + construction</label>
        </div>
        <div>
          <input
            type="radio"
            name="projectType"
            value="Paiement de Soulte"
            on:click={saveProjectType}
            checked={projectType == "Paiement de Soulte"}
          />
          <label for="Soulte">Paiement de Soulte</label>
        </div>
      </div>
    </div>
  </div>

  <div>
    Nature et situation du bien pour lequel le prêt est demandé :
    <div class="flex justify-around">
      <div>
        <input
          type="radio"
          name="assetType"
          value="Maison"
          on:click={saveAssetType}
          checked={assetType == "Maison"}
        />
        <label for="house">Maison</label>
      </div>

      <div>
        <input
          type="radio"
          name="assetType"
          value="Appartement"
          on:click={saveAssetType}
          checked={assetType == "Appartement"}
        />
        <label for="appartment">Appartement</label>
      </div>

      <div>
        <input
          type="radio"
          name="assetType"
          value="Autre"
          on:click={saveAssetType}
          checked={assetType == "Autre"}
        />
        <label for="other">Autre (préciser)</label>
      </div>
    </div>

    Type de logement :
    <div class="flex justify-around">
      <div>
        <input
          type="radio"
          name="rooms"
          value="Chambre"
          on:click={saveRooms}
          checked={rooms == "Chambre"}
        />
        <label for="primary">Chambre</label>
      </div>
      <div>
        <input
          type="radio"
          name="rooms"
          value="Studio"
          on:click={saveRooms}
          checked={rooms == "Studio"}
        />
        <label for="secondary">Studio</label>
      </div>
      <div>
        {#if countryConfiguration == "fr"}
          <input
            type="radio"
            name="rooms"
            value="T1"
            on:click={saveRooms}
            checked={rooms == "T1"}
          />
          <label for="locatif"> T1 </label>
        {:else if countryConfiguration == "pf"}
          <input
            type="radio"
            name="rooms"
            value="F1"
            on:click={saveRooms}
            checked={rooms == "F1"}
          />
          <label for="locatif"> F1 </label>
        {:else}
          1 pièce
        {/if}
      </div>
      <div>
        {#if countryConfiguration == "fr"}
          <input
            type="radio"
            name="rooms"
            value="T2"
            on:click={saveRooms}
            checked={rooms == "T2"}
          />
          <label for="locatif"> T2 </label>
        {:else if countryConfiguration == "pf"}
          <input
            type="radio"
            name="rooms"
            value="F2"
            on:click={saveRooms}
            checked={rooms == "F2"}
          />
          <label for="locatif"> F2 </label>
        {:else}
          <input type="radio" name="rooms" />
          <label for="locatif"> 2 pièces </label>
        {/if}
      </div>
      <div>
        {#if countryConfiguration == "fr"}
          <input
            type="radio"
            name="rooms"
            value="T3"
            on:click={saveRooms}
            checked={rooms == "T3"}
          />
          <label for="locatif"> T3 </label>
        {:else if countryConfiguration == "pf"}
          <input
            type="radio"
            name="rooms"
            value="F3"
            on:click={saveRooms}
            checked={rooms == "F3"}
          />
          <label for="locatif"> F3 </label>
        {:else}
          <input type="radio" name="rooms" />
          <label for="locatif"> 3 pièces </label>
        {/if}
      </div>
      <div>
        {#if countryConfiguration == "fr"}
          <input
            type="radio"
            name="rooms"
            value="T4"
            on:click={saveRooms}
            checked={rooms == "T4"}
          />
          <label for="locatif"> T4 </label>
        {:else if countryConfiguration == "pf"}
          <input
            type="radio"
            name="rooms"
            value="F4"
            on:click={saveRooms}
            checked={rooms == "F4"}
          />
          <label for="locatif"> F4 </label>
        {:else}
          <input type="radio" name="rooms" />
          <label for="locatif"> 4 pièces </label>
        {/if}
      </div>
      <div>
        {#if countryConfiguration == "fr"}
          <input
            type="radio"
            name="rooms"
            value="T5 et plus"
            on:click={saveRooms}
            checked={rooms == "T5 et plus"}
          />
          <label for="locatif"> T5 et plus </label>
        {:else if countryConfiguration == "pf"}
          <input
            type="radio"
            name="rooms"
            value="F5 et plus"
            on:click={saveRooms}
            checked={rooms == "F5 et plus"}
          />
          <label for="locatif"> F5 et plus </label>
        {:else}
          <input type="radio" name="rooms" />
          <label for="locatif"> 5 pièces et plus </label>
        {/if}
      </div>
    </div>
  </div>

  <div>
    <span> Surface habitable (m2) </span>
    <input
      class="input"
      id="livingArea"
      bind:value={livingArea}
      on:change={saveAsset}
      type="text"
    />

    <span> Surface Terrain (m2) </span>
    <input
      class="input"
      id="landSurface"
      bind:value={landSurface}
      on:change={saveAsset}
      type="text"
    />
  </div>

  Adresse du Bien
  <div>
    <span> N. et rue </span>
    <input
      class="input"
      bind:value={street}
      on:change={saveAsset}
      type="text"
    />
  </div>
  <div>
    <span> Complément d'adresse </span>
    <input
      class="input"
      bind:value={additionalAddress}
      on:change={saveAsset}
      type="text"
    />
  </div>

  <div>
    <span> Code postal </span>
    <input
      class="input"
      bind:value={postalCode}
      on:change={saveAsset}
      type="text"
    />

    <span> Commune </span>
    <input class="input" bind:value={city} on:change={saveAsset} type="text" />
  </div>
</div>
