<script>
  export let id;
  import { onMount } from "svelte";
  import { Bankloans } from "../../api/bankloans.js";

  onMount(async () => {
    Meteor.subscribe("bankloan", id);
  });

  let bankloan;
  $m: {
    bankloan = Bankloans.findOne(id);
  }

  import Status from "./StatusSection.svelte";
  import Contacts from "./ContactSection.svelte";
  import Financing from "./FinancingSection.svelte";
  import Asset from "./Asset.svelte";
  import Bank from "./Bank.svelte";
  import Simulation from "./Simulation.svelte";
  import { saved_notification } from "../../notifications.ts";

  const saveTitle = async () => {
    const value = document.getElementById("title")?.value;
    await Meteor.callAsync("bankloan.update.title", { id: id, value: value });
    saved_notification();
  };

  let showtab = "asset";
</script>

<a href="/pro/pret" class="text-blue-600 underline"> Mes dossiers de prêt </a>

{#if bankloan}
  <div class="text-end">Ref: {id}</div>

  <div>
    <span> Titre </span>
    <input
      class="w-full input"
      id="title"
      type="text"
      on:change={saveTitle}
      value={bankloan?.title || ""}
    />
  </div>

  <Status {id} {bankloan} />

  <div class="mb-3">
    <a
      href="/pro/pret/{id}/preview"
      target="_blank"
      class="btn btn--dark"
      rel="noreferrer"
    >
      <i class="fa-solid fa-print" />
      Preview
    </a>
  </div>

  <div>
    <ul class="flex print:hidden" id="myTab" role="tablist">
      <li role="presentation">
        <button
          class="px-2.5 py-2 border active bg-slate-100 focus:bg-gray-300"
          id="asset-tab"
          on:click={() => {
            showtab = "asset";
          }}
          type="button"
          role="tab"
          aria-controls="asset"
          aria-selected="true"
        >
          <i class="fa-solid fa-house" />
          Bien à financer
        </button>
      </li>
      <li role="presentation">
        <button
          class="px-2.5 py-2 border bg-slate-100 focus:bg-gray-300"
          id="profile-tab"
          on:click={() => {
            showtab = "contact";
          }}
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          <i class="fa-solid fa-user" />
          Intervenants
        </button>
      </li>
      <li role="presentation">
        <button
          class="px-2.5 py-2 border bg-slate-100 focus:bg-gray-300"
          id="financing-tab"
          on:click={() => {
            showtab = "financing";
          }}
          type="button"
          role="tab"
          aria-controls="financing"
          aria-selected="false"
        >
          <i class="fa-solid fa-hand-holding-dollar" />
          Financement
        </button>
      </li>

      <li role="presentation">
        <button
          class="px-2.5 py-2 border bg-slate-100 focus:bg-gray-300"
          id="bank-tab"
          on:click={() => {
            showtab = "bank";
          }}
          type="button"
          role="tab"
          aria-controls="bank"
          aria-selected="false"
        >
          <i class="fa-solid fa-building-columns" />
          Banques
        </button>
      </li>

      <li role="presentation">
        <button
          class="px-2.5 py-2 border bg-slate-100 focus:bg-gray-300"
          id="simulation-tab"
          on:click={() => {
            showtab = "simulation";
          }}
          type="button"
          role="tab"
          aria-controls="simulation"
          aria-selected="false"
        >
          <i class="fa-solid fa-calculator" />
          Simulation
        </button>
      </li>
    </ul>
  </div>

  <div id="myTabContent">
    {#if showtab == "asset"}
      <div class=" fade show active" id="home" aria-labelledby="home-tab">
        <Asset {id} {bankloan} />
      </div>
    {/if}
    {#if showtab == "contact"}
      <div class=" fade" id="profile" aria-labelledby="profile-tab">
        <Contacts {id} {bankloan} />
      </div>
    {/if}
    {#if showtab == "financing"}
      <div class=" fade" id="contact" aria-labelledby="contact-tab">
        <Financing {id} {bankloan} />
      </div>
    {/if}
    {#if showtab == "bank"}
      <div class=" fade" id="bank" aria-labelledby="bank-tab">
        <Bank />
      </div>
    {/if}
    {#if showtab == "simulation"}
      <div class=" fade" id="simulation" aria-labelledby="simulation-tab">
        <Simulation />
      </div>
    {/if}
  </div>
{/if}
