<script>
  import enterprise_customization from "../../../enterprise_customization.ts";
  const { countryConfiguration } = enterprise_customization;

  import { onMount } from "svelte";
  import { Bankloans } from "../../api/bankloans.js";

  export let id;
  let bankloan;

  onMount(async () => {
    Meteor.subscribe("bankloan", id);
  });

  let contactA,
    salutationA,
    firstNameA,
    lastNameA,
    maidenNameA,
    professionA,
    birthPostalCodeA,
    birthDateA,
    birthPlaceA,
    birthCountryA,
    maritalStatusA,
    matrimonialRegimeA,
    employmentDateA,
    employerA,
    workContractA,
    otherWorkContractA,
    nationalityA,
    childrenNumberA,
    childrenAgeA,
    addressA,
    emailA,
    phoneA,
    incomeReferenceA;

  let contactB,
    salutationB,
    firstNameB,
    lastNameB,
    maidenNameB,
    professionB,
    birthPostalCodeB,
    birthDateB,
    birthPlaceB,
    birthCountryB,
    maritalStatusB,
    matrimonialRegimeB,
    employmentDateB,
    employerB,
    workContractB,
    otherWorkContractB,
    nationalityB,
    childrenNumberB,
    childrenAgeB,
    addressB,
    emailB,
    phoneB,
    incomeReferenceB;

  $m: {
    bankloan = Bankloans.findOne(id);
    contactA = bankloan?.contacts?.contactA;
    salutationA = contactA?.salutation || "";
    firstNameA = contactA?.firstName || "";
    lastNameA = contactA?.lastName || "";

    maidenNameA = contactA?.maidenName || "";
    professionA = contactA?.profession || "";
    birthPostalCodeA = contactA?.birthPostalCode || "";
    birthDateA = contactA?.birthDate || "";
    birthPlaceA = contactA?.birthPlace || "";
    birthCountryA = contactA?.birthCountry || "";
    maritalStatusA = contactA?.maritalStatus || "";
    matrimonialRegimeA = contactA?.matrimonialRegime || "";

    employmentDateA = contactA?.employmentDate || "";
    employerA = contactA?.employer || "";
    workContractA = contactA?.workContract || "";
    otherWorkContractA = contactA?.otherWorkContract || "";
    nationalityA = contactA?.nationality || "";
    childrenNumberA = contactA?.childrenNumber || "";
    childrenAgeA = contactA?.childrenAge || "";
    addressA = contactA?.address || "";
    emailA = contactA?.email || "";
    phoneA = contactA?.phone || "";
    incomeReferenceA = contactA?.incomeReferenceA || "";
    //
    contactB = bankloan?.contacts?.contactB;
    salutationB = contactB?.salutation || "";
    firstNameB = contactB?.firstName || "";
    lastNameB = contactB?.lastName || "";
    maidenNameB = contactB?.maidenName || "";
    professionB = contactB?.profession || "";
    birthPostalCodeB = contactB?.birthPostalCode || "";
    birthDateB = contactB?.birthDate || "";
    birthPlaceB = contactB?.birthPlace || "";
    birthCountryB = contactB?.birthCountry || "";
    maritalStatusB = contactB?.maritalStatus || "";
    matrimonialRegimeB = contactB?.matrimonialRegime || "";
    employmentDateB = contactB?.employmentDate || "";
    employerB = contactB?.employer || "";
    workContractB = contactB?.workContract || "";
    otherWorkContractB = contactB?.otherWorkContract || "";
    nationalityB = contactB?.nationality || "";
    childrenNumberB = contactB?.childrenNumber || "";
    childrenAgeB = contactB?.childrenAge || "";
    addressB = contactB?.address || "";
    emailB = contactB?.email || "";
    phoneB = contactB?.phone || "";
    incomeReferenceB = contactB?.incomeReferenceB || "";
  }
</script>

<div class="container mx-auto" contenteditable="true">
  <h2 class="text-xl">
    <i class="fa-solid fa-user-group text-[var(--main-color)]" />
    Intervenants
  </h2>

  <div class="grid grid-cols-2">
    <div>
      Emprunteur
      <div class="flex justify-around">
        <div>
          <input
            type="radio"
            value="Mme"
            name="salutationA"
            checked={salutationA == "Mme"}
          />
          <label for="Mme">Mme</label>
        </div>
        <div>
          <input
            type="radio"
            value="Mlle"
            name="salutationA"
            checked={salutationA == "Mlle"}
          />
          <label for="Mlle">Mlle</label>
        </div>
        <div>
          <input
            type="radio"
            value="M."
            name="salutationA"
            checked={salutationA == "M."}
          />
          <label for="M">M.</label>
        </div>

        <div>
          <div>
            <span> Nom </span>
            <input id="lastNameA" type="text" value={lastNameA} />
          </div>
        </div>
      </div>

      <div>
        <span> Prénom </span>
        <input id="firstNameA" value={firstNameA} type="text" />
      </div>

      <div>
        <span> Nom de jeune fille </span>
        <input id="maidenNameA" value={maidenNameA} type="text" />
      </div>

      <div>
        <span> Né(e) </span>
        <input id="birthDateA" value={birthDateA} type="text" />
        <span> à </span>
        <input id="birthPlaceA" value={birthPlaceA} type="text" />
      </div>

      <div>
        <span> Code postal de naissance </span>
        <input id="birthPostalCodeA" value={birthPostalCodeA} type="text" />
      </div>
      <div>
        <span> Pays de naissance </span>
        <input id="birthCountryA" value={birthCountryA} type="text" />
      </div>
      <div>
        <span> Nationalité </span>
        <input id="nationalityA" value={nationalityA} type="text" />
      </div>
      <div>
        <span> Profession </span>
        <input id="professionA" value={professionA} type="text" />
      </div>

      <div>
        <span> Date d'embauche </span>
        <input id="employmentDateA" value={employmentDateA} type="date" />
      </div>

      <div>
        <span> Employeur </span>
        <input id="employerA" value={employerA} type="text" />
      </div>

      Type de travail
      <div class="flex justify-around">
        <div>
          <input
            type="radio"
            id="cdi"
            name="workContractA"
            value="CDI"
            checked={workContractA == "CDI"}
          />
          <label for="cdi">CDI</label>
        </div>
        <div>
          <input
            type="radio"
            id="cdd"
            name="workContractA"
            value="CDD"
            checked={workContractA == "CDD"}
          />
          <label for="cdd">CDD</label>
        </div>
        <div>
          <input
            type="radio"
            id="cdiTrial"
            name="workContractA"
            value="CDI période d'essai"
            checked={workContractA == "CDI période d'essai"}
          />
          <label for="cdiTrial">CDI période d'essai</label>
        </div>
        <div>
          <input
            type="radio"
            id="interim"
            name="workContractA"
            value="Intérim"
            checked={workContractA == "Intérim"}
          />
          <label for="interim">Intérim</label>
        </div>
      </div>

      <div>
        <span> Autres (préciser) </span>
        <input id="otherWorkContractA" value={otherWorkContractA} type="text" />
      </div>

      Situation de famille
      <div class="flex justify-around">
        <div>
          <div>
            <input
              type="radio"
              name="maritalStatusA"
              value="Marié(e)"
              checked={maritalStatusA == "Marié(e)"}
            />
            <label for="primary">Marié(e)</label>
          </div>
          <div>
            <input
              type="radio"
              name="maritalStatusA"
              value="Divorcé(e)"
              checked={maritalStatusA == "Divorcé(e)"}
            />
            <label for="primary">Divorcé(e)</label>
          </div>
          <div>
            <input
              type="radio"
              name="maritalStatusA"
              value="Vie maritale"
              checked={maritalStatusA == "Vie maritale"}
            />
            <label for="primary">Vie maritale</label>
          </div>
        </div>

        <div>
          <div>
            <input
              type="radio"
              name="maritalStatusA"
              value="Veuf(ve)"
              checked={maritalStatusA == "Veuf(ve)"}
            />
            <label for="widower">Veuf(ve)</label>
          </div>
          <div>
            <input
              type="radio"
              id="singleA"
              name="maritalStatusA"
              value="Célibataire"
              checked={maritalStatusA == "Célibataire"}
            />
            <label for="single">Célibataire</label>
          </div>
          <div>
            <input
              type="radio"
              id="maritalOthersA"
              name="maritalStatusA"
              value="Autre"
              checked={maritalStatusA == "Autre"}
            />
            <label for="maritalOthers">Autre</label>
          </div>
        </div>

        <div>
          <div>
            <input
              type="radio"
              id="divorceFilledA"
              name="maritalStatusA"
              value="Instance de divorce"
              checked={maritalStatusA == "Instance de divorce"}
            />
            <label for="divorceFilled">Instance de divorce</label>
          </div>
          <div>
            <input
              type="radio"
              id="pacsA"
              name="maritalStatusA"
              value="Pacsé(e)"
              checked={maritalStatusA == "Pacsé(e)"}
            />
            <label for="pacs">Pacsé(e)</label>
          </div>
        </div>
      </div>

      <div class="flex justify-around">
        <div>Régime matrimonial</div>
        <div>
          <input
            type="radio"
            id="communityA"
            value="Communauté"
            name="matrimonialRegimeA"
            checked={matrimonialRegimeA == "Communauté"}
          />
          <label for="community">Communauté</label>
        </div>
        <div>
          <input
            type="radio"
            id="separationA"
            value="Séparation"
            name="matrimonialRegimeA"
            checked={matrimonialRegimeA == "Séparation"}
          />
          <label for="separation">Séparation</label>
        </div>
      </div>

      <div>
        <span> Nb d'enfants à charge </span>
        <input id="childrenNumberA" value={childrenNumberA} type="text" />
        <span> âge des enfant(s) </span>
        <input id="childrenAgeA" value={childrenAgeA} type="text" />
      </div>

      <div>
        <span> Adresse actuelle </span>
        <input id="addressA" value={addressA} type="text" />
      </div>

      <div>
        <span> Tel </span>
        <input id="phoneA" value={phoneA} type="text" />
      </div>

      <div>
        <span> Email </span>
        <input id="emailA" value={emailA} type="text" />
      </div>
      {#if countryConfiguration == "fr"}
        <div>
          <span> Revenu fiscal de référence </span>
          <input id="incomeReferenceA" value={incomeReferenceA} type="text" />
        </div>
      {/if}
    </div>

    <div>
      Co-Emprunteur
      <div class="flex justify-around">
        <div>
          <input
            type="radio"
            value="Mme"
            name="salutationB"
            checked={salutationB == "Mme"}
          />
          <label for="Mme">Mme</label>
        </div>
        <div>
          <input
            type="radio"
            value="Mlle"
            name="salutationB"
            checked={salutationB == "Mlle"}
          />
          <label for="Mlle">Mlle</label>
        </div>
        <div>
          <input
            type="radio"
            value="M."
            name="salutationB"
            checked={salutationB == "M."}
          />
          <label for="M">M.</label>
        </div>

        <div>
          <div>
            <span> Nom </span>
            <input id="lastNameB" type="text" value={lastNameB} />
          </div>
        </div>
      </div>

      <div>
        <span> Prénom </span>
        <input id="firstNameB" value={firstNameB} type="text" />
      </div>
      <div>
        <span> Nom de jeune fille </span>
        <input id="maidenNameB" value={maidenNameB} type="text" />
      </div>
      <div>
        <span> Né(e) </span>
        <input id="birthDateB" value={birthDateB} type="text" />
        <span> à </span>
        <input id="birthPlaceB" value={birthPlaceB} type="text" />
      </div>
      <div>
        <span> Code postal de naissance </span>
        <input id="birthPostalCodeB" value={birthPostalCodeB} type="text" />
      </div>
      <div>
        <span> Pays de naissance </span>
        <input id="birthCountryB" value={birthCountryB} type="text" />
      </div>
      <div>
        <span> Nationalité </span>
        <input id="nationalityB" value={nationalityB} type="text" />
      </div>
      <div>
        <span> Profession </span>
        <input id="professionB" value={professionB} type="text" />
      </div>
      <div>
        <span> Date d'embauche </span>
        <input id="employmentDateB" value={employmentDateB} type="date" />
      </div>
      <div>
        <span> Employeur </span>
        <input id="employerB" value={employerB} type="text" />
      </div>

      Type de travail
      <div class="flex justify-around">
        <div>
          <input
            type="radio"
            id="CDIB"
            name="workContractB"
            value="CDI"
            checked={workContractB == "CDI"}
          />
          <label for="primary">CDI</label>
        </div>
        <div>
          <input
            type="radio"
            id="CDDB"
            name="workContractB"
            value="CDD"
            checked={workContractB == "CDD"}
          />
          <label for="secondary">CDD</label>
        </div>
        <div>
          <input
            type="radio"
            id="CDITrialB"
            name="workContractB"
            value="CDI période d'essai"
            checked={workContractB == "CDI période d'essai"}
          />
          <label for="locatif">CDI période d'essai</label>
        </div>
        <div>
          <input
            type="radio"
            id="InterimB"
            name="workContractB"
            value="Intérim"
            checked={workContractB == "Intérim"}
          />
          <label for="locatif">Intérim</label>
        </div>
      </div>

      <div>
        <span> Autres (préciser) </span>
        <input id="otherWorkContractB" value={otherWorkContractB} type="text" />
      </div>

      Situation de famille
      <div class="flex justify-around">
        <div>
          <div>
            <input
              type="radio"
              name="maritalStatusB"
              value="Marié(e)"
              checked={maritalStatusB == "Marié(e)"}
            />
            <label for="primary">Marié(e)</label>
          </div>
          <div>
            <input
              type="radio"
              name="maritalStatusB"
              value="Divorcé(e)"
              checked={maritalStatusB == "Divorcé(e)"}
            />
            <label for="primary">Divorcé(e)</label>
          </div>
          <div>
            <input
              type="radio"
              name="maritalStatusB"
              value="Vie maritale"
              checked={maritalStatusB == "Vie maritale"}
            />
            <label for="primary">Vie maritale</label>
          </div>
        </div>
        <div>
          <div>
            <input
              type="radio"
              name="maritalStatusB"
              value="Veuf(ve)"
              checked={maritalStatusB == "Veuf(ve)"}
            />
            <label for="widower">Veuf(ve)</label>
          </div>
          <div>
            <input
              type="radio"
              name="maritalStatusB"
              value="Célibataire"
              checked={maritalStatusB == "Célibataire"}
            />
            <label for="single">Célibataire</label>
          </div>
          <div>
            <input
              type="radio"
              name="maritalStatusB"
              value="Autre"
              checked={maritalStatusB == "Autre"}
            />
            <label for="otherMaritalStatus">Autre</label>
          </div>
        </div>
        <div>
          <div>
            <input
              type="radio"
              id="horns"
              name="maritalStatusB"
              value="Instance de divorce"
              checked={maritalStatusB == "Instance de divorce"}
            />
            <label for="instanceDivorced">Instance de divorce</label>
          </div>
          <div>
            <input
              type="radio"
              id="pacsB"
              name="maritalStatusB"
              value="Pacsé(e)"
              checked={maritalStatusB == "Pacsé(e)"}
            />
            <label for="locatif">Pacsé(e)</label>
          </div>
        </div>
      </div>

      <div class="flex justify-around">
        <div>Régime matrimonial</div>
        <div>
          <input
            type="radio"
            id="communityB"
            value="Communauté"
            name="matrimonialRegimeB"
            checked={matrimonialRegimeB == "Communauté"}
          />
          <label for="community">Communauté</label>
        </div>
        <div>
          <input
            type="radio"
            id="separationB"
            value="Séparation"
            name="matrimonialRegimeB"
            checked={matrimonialRegimeB == "Séparation"}
          />
          <label for="separation">Séparation</label>
        </div>
      </div>

      <div>
        <span> Nb d'enfants à charge </span>
        <input id="childrenNumberB" value={childrenNumberB} type="text" />
        <span> âge des enfant(s) </span>
        <input id="childrenAgeB" value={childrenAgeB} type="text" />
      </div>

      <div>
        <span> Adresse actuelle </span>
        <input id="addressB" value={addressB} type="text" />
      </div>

      <div>
        <span> Tel </span>
        <input id="phoneB" value={phoneB} type="text" />
      </div>

      <div>
        <span> Email </span>
        <input id="emailB" value={emailB} type="text" />
      </div>
      {#if countryConfiguration == "fr"}
        <div>
          <span> Revenu fiscal de référence </span>
          <input id="incomeReferenceB" value={incomeReferenceB} type="text" />
        </div>
      {/if}
    </div>
  </div>
</div>
