<script>
  import { onMount } from "svelte";
  import { Bankloans } from "../../api/bankloans.js";
  import enterprise_customization from "../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;

  export let id;

  onMount(async () => {
    Meteor.subscribe("bankloan", id);
  });

  let bankloan;
  let livingArea,
    landSurface,
    street,
    contractSignedDate,
    additionalAddress,
    postalCode,
    city,
    assetUsage,
    assetType,
    rooms,
    projectType;

  $m: {
    bankloan = Bankloans.findOne(id);
    const asset = bankloan?.asset;

    contractSignedDate = asset?.contractSignedDate;
    landSurface = asset?.landSurface || "";
    livingArea = asset?.livingArea || "";
    street = asset?.street || "";
    additionalAddress = asset?.additionalAddress || "";
    postalCode = asset?.postalCode || "";
    city = asset?.city || "";
    assetUsage = asset?.assetUsage || "";
    assetType = asset?.assetType || "";
    rooms = asset?.rooms || "";
    projectType = asset?.projectType || "";
  }
</script>

<div class="container mx-auto" contenteditable="true">
  <div class="print:hidden">
    <a class="btn btn--light" href="/pro/pret/{id}"> Retour </a>

    <button onclick="window.print();" class="btn btn--dark">
      <i class="fa-solid fa-print" />
      Imprimer
    </button>
  </div>

  <h2 class="text-xl">
    <i class="fa-solid fa-house text-[var(--main-color)]" />
    Objet du bien à financer
  </h2>

  <div class="grid grid-cols-2">
    <div>
      <strong>Ce projet concerne :</strong>
      {assetUsage}
    </div>

    <div><strong>Le prêt doit financer:</strong> {projectType}</div>
  </div>

  <div>
    <div>
      <strong> Date du compromis (si signé): </strong>
      {contractSignedDate}
    </div>
  </div>

  <div>
    <div>
      <strong>
        Nature et situation du bien pour lequel le prêt est demandé:
      </strong>
      {assetType}
    </div>
  </div>
  <div>
    <div>
      <strong>Type de logement: </strong>{rooms}
    </div>
  </div>

  <div class="grid grid-cols-2">
    <div>
      <strong>Surface habitable:</strong>
      {#if livingArea}{livingArea} m2{/if}
    </div>

    <div>
      <strong>Surface Terrain:</strong>
      {#if landSurface}
        {landSurface} m2
      {/if}
    </div>
  </div>

  <strong>Adresse du Bien</strong>
  <div>
    <strong> N. et rue: </strong>
    {street}
  </div>
  <div>
    <strong>Complément d'adresse:</strong>
    {additionalAddress}
  </div>

  <div class="grid grid-cols-2">
    <div>
      <strong>Code postal:</strong>
      {postalCode}
    </div>
    <div>
      <strong>Commune: </strong>
      {city}
    </div>
  </div>
</div>
