<script>
  import enterprise_customization from "../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;

  let banks;

  if (countryConfiguration == "pf") {
    banks = [
      {
        name: "Socredo",
      },
      {
        name: "Banque de Tahiti",
      },
      {
        name: "Banque de Polynésie",
      },
    ];
  }

  if (countryConfiguration == "fr") {
    banks = [
      {
        name: "CIC",
      },
      {
        name: "Crédit Agricole",
      },
      {
        name: "La Banque Postale",
      },
      {
        name: "Boursorama",
      },
    ];
  }
</script>

<div class="p-4 mb-4 bg-white shadow-lg rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-building-columns text-[var(--main-color)]" />
    Banques
  </h2>

  <table class="w-full">
    <thead>
      <tr>
        <th>
          <!-- Banques -->
        </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {#each banks || [] as bank}
        <tr class="border-b">
          <td>{bank.name}</td>
          <td>
            <button class="btn btn-secondary">Préparer le dossier</button>
            <button class="btn btn-danger">Refusé</button>
            <button class="btn btn--success">Validé</button>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>
