<script>
  import { onMount } from "svelte";
  import { navigate } from "svelte-routing";

  import { Bankloans } from "../../api/bankloans.js";
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";
  import Dropdown from "./Dropdown.svelte";

  onMount(async () => {
    // Meteor.subscribe("bankloans");
    Meteor.subscribe("bankloans_owned_and_public");
  });

  let items = [];

  $m: {
    items = Bankloans
      .find
      // { userId: thisuserId },
      // { sort: { createdAt: -1 } }
      ()
      .fetch();
  }

  const getName = (userId) => {
    const user = Meteor.users.findOne(userId);
    return user?.emails?.[0].address || "";
  };

  async function createLoan(event) {
    const res = await Meteor.callAsync("bankloan.insert");
    saved_notification();
    navigate(`/pro/pret/${res}`, { replace: true });
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h5 class="text-xl">
    <i class="fa-solid fa-file-contract text-[var(--main-color)]" />
    Mes dossiers de prêt immobilier
  </h5>

  <button class="btn btn--light" on:click={createLoan}>
    <i class="fa-solid fa-plus" />
    Ajouter un dossier de prêt
  </button>

  <div class="overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr>
          <th />
          <th class="text-left">Titre</th>
          <th class="text-left">Statut</th>
          <!-- <th>Ref</th> -->
          <th />
          <th class="text-left">Date</th>
          <th />
        </tr>
      </thead>
      <tbody>
        {#each items || [] as item}
          <tr class="border-b">
            <td>
              {#if item.isPublic}
                <i class="text-gray-800 fa-solid fa-user-group" />
              {:else}
                <i class="text-gray-800 fa-solid fa-lock" />
              {/if}
            </td>
            <td>
              <a href="/pro/pret/{item._id}" class="text-blue-600 underline">
                {item.title || "Aucun"}
              </a>
            </td>
            <td>
              {#if item.status == "rejected"}
                Rejeté
              {:else if item.status == "accepted"}
                Accepté
              {:else if item.status == "pending"}
                En cours
              {:else}
                {item.status || "-"}
              {/if}
            </td>
            <!-- <td>
              <a href="/pro/pret/{item._id}">
                {item._id}
              </a>
            </td> -->

            <td class="text-sm">
              {getName(item.userId)}
            </td>

            <td class="text-sm">
              {item.createdAt?.toLocaleString().split(",")[0]}
            </td>
            <td>
              <Dropdown {item} />
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</div>
