<script>
  export let item;
  let show = false;

  async function deleteLoan(event) {
    if (!confirm(`Supprimer ${item.title || ""} ?`)) return;
    value = event.target.getAttribute("data-value");
    await Meteor.callAsync("bankloan.remove", value);
  }
</script>

<div class="text-right">
  <button
    type="button"
    class="btn btn-secondary"
    aria-expanded="false"
    on:click={() => {
      show = !show;
    }}
  >
    <i class="fa-solid fa-bars" />
  </button>
</div>

{#if show}
  <ul>
    <!-- <li>
      <button data-value={item._id} on:click={duplicateLease}>
        Dupliquer
      </button>
    </li> -->
    <li>
      <button data-value={item._id} on:click={deleteLoan}>
        <i class="fa-solid fa-trash" />
        Supprimer
      </button>
    </li>
  </ul>
{/if}
