<script>
  const { PMT } = require("../../loanFunctions.ts");
  const { Loan } = require("../../loanjs.ts");
  import { roundNumberFormat, roundNumber } from "../../commonFunctions";

  import enterprise_customization from "../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;

  let years = 15;
  $: months = years * 12;
  let amount = 100000;
  let rate = 5;
  let insuranceRate = 0.34;

  // new loanjs
  let loan;
  let startDate;

  $m: {
    loan = Loan({
      amount: amount,
      installmentsNumber: months,
      interestRate: rate,
      insuranceRate: insuranceRate,
      diminishing: false,
      startDate: startDate,
    });
  }

  // old PMT
  let result;
  $: result = -PMT({
    ir: (rate + insuranceRate) / (100 * 12),
    np: years * 12,
    pv: amount,
    fv: 0,
    type: 0,
  }).toFixed(2);
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow">
  <h2 class="text-xl">
    <i class="fa-solid fa-chart-column text-[var(--main-color)]" />
    Simulation
  </h2>

  <div>
    <div>
      <label for="loan_duration">Montant</label>
      <input
        id="amount"
        bind:value={amount}
        class="input"
        type="number"
        min="0"
        placeholder="Montant à emprunter"
      />
    </div>
  </div>

  <div>
    <div>
      <label for="loan_duration">Durée de votre prêt (années)</label>
      <input
        id="years"
        bind:value={years}
        class="input"
        type="number"
        min="0"
        max="35"
        placeholder="Durée de votre prêt (années)"
      />
      années
      <!--  -->
      ( {months} mois )
    </div>
  </div>

  <div>
    <div>
      <label for="interest_rate">Taux d'intérêt (%)</label>
      <input
        id="rate"
        bind:value={rate}
        class="input"
        type="number"
        min="0"
        placeholder="Taux d'intérêt (%)"
      />
    </div>
  </div>

  <div>
    <div>
      <label for="InsuranceRate">Taux d'assurance (%)</label>
      <input
        bind:value={insuranceRate}
        id="insuranceRate"
        class="input"
        type="number"
        min="0"
        placeholder="Taux d'assurance (%)"
      />
    </div>
  </div>

  <div>
    <div>
      <label for="loan_duration">Date de début</label>
      <input class="input" id="years" type="date" bind:value={startDate} />
    </div>
  </div>
</div>

<div class="p-4 mb-4 bg-white rounded-lg shadow">
  <!-- Results -->
  <div>
    Votre mensualité sera de
    <span class="text-lg">
      {roundNumberFormat(result)}/mois
    </span>
  </div>

  Total interets {roundNumberFormat(loan?.interestSum)}<br />
  Coût Total (Assurance Incluse) {roundNumberFormat(loan?.sum)}
</div>

<div class="p-4 mb-4 bg-white rounded-lg shadow">
  <!-- Table -->
  <h2 class="text-xl">
    <i class="fa-solid fa-table text-[var(--main-color)]" />
    Tableau d'ammortissement
  </h2>

  {#if countryConfiguration == "pf"}
    <!-- Version PF -->

    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left">
        <tr>
          <th> Nb </th>
          {#if startDate}
            <th> Date </th>
          {/if}
          <th> Capital restant dû </th>
          <th>Amortissement</th>
          <th>Intérêts</th>
          <th> Mensualité </th>
          <th>Assurance</th>
          <th>
            Mensualité AC<!-- (installment) -->
          </th>
          <!-- <th>interestSum</th> -->
        </tr>

        {#each loan?.installments || [] as installment, index}
          <tr class="border-b">
            <td>{index + 1}</td>
            {#if startDate}
              <td>{installment.paymentDate}</td>
            {/if}
            <td>{roundNumber(installment.remain)}</td>
            <td>{roundNumber(installment.capital)}</td>
            <td>{roundNumber(installment.interest)}</td>
            <td>{roundNumber(installment.interest + installment.capital)}</td>
            <td>{roundNumber(installment.insurance)}</td>
            <td>{roundNumber(installment.installment)}</td>
            <!-- <td>{installment.interestSum}</td> -->
          </tr>
        {/each}
      </table>
    </div>
  {:else}
    <!-- Version FR -->
    <div class="overflow-x-auto">
      <table class="w-full" style="font-size:80%;">
        <tr>
          <th class="text-center"> Mensualité </th>
          {#if startDate}
            <th> Date </th>
          {/if}
          <th class="text-center">
            Versement <!-- (installment) -->
          </th>
          <th class="text-center">Capital</th>
          <th class="text-center">Intérêts</th>
          <th class="text-center">Assurance</th>
          <!-- <th>InterestSum</th> -->
          <th>
            Capital restant dû
            <!-- remain -->
          </th>
        </tr>

        {#each loan?.installments || [] as installment, index}
          <tr class="border-b">
            <td class="text-center">{index + 1}</td>
            {#if startDate}
              <td class="text-center">{installment.paymentDate}</td>
            {/if}
            <td class="text-center">{installment.installment}</td>
            <td class="text-center">{installment.capital}</td>
            <td class="text-center">{installment.interest}</td>
            <td class="text-center">{installment.insurance}</td>
            <!-- <td>{installment.interestSum}</td> -->
            <td class="text-center">{installment.remain?.toLocaleString()}</td>
          </tr>
        {/each}
      </table>
    </div>
  {/if}
</div>
