<script>
  import { saved_notification } from "../../notifications.ts";

  export let id;
  export let bankloan;

  const saveStatus = async (event) => {
    const value = event.target.dataset.value;
    await Meteor.callAsync("bankloan.update.status", { id: id, value: value });
    saved_notification();
  };

  let isPublicValue;

  const changeisPublic = async () => {
    await Meteor.callAsync("bankloan.update.isPublic", {
      id: id,
      value: isPublicValue,
    });

    saved_notification();
  };
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md print:hidden">
  <h2 class="text-xl">
    {#if bankloan?.status == "rejected"}
      <i class="text-red-600 fa-solid fa-file-circle-xmark" />
    {:else if bankloan?.status == "information-needed"}
      <i class="fa-solid fa-file-circle-question" />
    {:else if bankloan?.status == "accepted"}
      <i class="text-green-600 fa-solid fa-file-circle-check" />
    {:else if bankloan?.status == "pending"}
      <i class="text-yellow-500 fa-solid fa-file-circle-check" />
    {:else}
      <i class="text-green-600 fa-solid fa-file-circle-check" />
    {/if}

    Status
    {bankloan?.status || ""}
  </h2>

  <div>
    <button
      class="text-white bg-red-700 hover:bg-red-800 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
      data-value="rejected"
      on:click={saveStatus}
    >
      <i class="fa-solid fa-xmark" />
      Financement rejeté
    </button>

    <button
      class="btn btn--success"
      data-value="accepted"
      on:click={saveStatus}
    >
      <i class="fa-solid fa-check" />
      Financement accepté
    </button>

    <button
      class="px-3 py-2.5 text-sm text-white bg-blue-600 rounded-md hover:bg-blue-900"
      data-value="information-needed"
      on:click={saveStatus}
    >
      <i class="fa-solid fa-note-sticky" />
      Demande de renseignement
    </button>

    <button
      class=" bg-yellow-500 hover:bg-yellow-600 rounded-lg text-sm px-4 py-2.5 mr-2 mb-2"
      data-value="pending"
      on:click={saveStatus}
    >
      <i class="fa-solid fa-bars-progress" />
      En attente / En cours
    </button>
  </div>

  <div class="mt-3">
    {#if bankloan?.isPublic}
      <i class="fa-solid fa-user-group" />
      Public
    {:else}
      <i class="fa-solid fa-lock" />
      Privé
    {/if}

    <div>
      <select
        class="border select"
        bind:value={isPublicValue}
        on:change={changeisPublic}
        aria-label="Privacy selector"
      >
        <option selected>Choisir</option>
        <option selected={!bankloan.isPublic} value="false">Privé</option>
        <option selected={bankloan.isPublic} value="true">Public</option>
      </select>
    </div>
  </div>
</div>
