<script>
  import { onMount } from "svelte";

  import AutoNumeric from "autonumeric";
  onMount(async () => {
    new AutoNumeric(".autonumericamount", {
      decimalPlaces: 0,
      digitGroupSeparator: ",",
    });

    new AutoNumeric(".autonumericincome", {
      decimalPlaces: 0,
      digitGroupSeparator: ",",
    });
  });

  import { buttonio } from "../../components/messenger_button.ts";
  buttonio();

  import enterprise_customization from "../../enterprise_customization.ts";
  const {
    currency,
    sendingEmail,
    calculator,
    enterprise_email,
    enterprise_name,
  } = enterprise_customization;

  const {
    roundNumberFormat,
    formatAndcurrency,
  } = require("../commonFunctions.ts");

  import Select from "svelte-select";
  import { saved_notification, error_notification } from "../notifications.ts";

  const { PMT } = require("../loanFunctions.ts");

  let years = 15;
  let amount = calculator.amountToBorrow || 100000;
  let rate = calculator.interestrate || 1.4;
  let insurance = 0.34;
  let income = calculator.income || 2000;

  let result;
  let callMeBack;

  $m: {
    amountConverted = String(amount).replaceAll(",", "");

    result = -PMT({
      ir: (rate + insurance) / (100 * 12),
      np: years * 12,
      pv: amountConverted,
      fv: 0,
      type: 0,
    }).toFixed(2);
  }

  function show_hide(partA, partB) {
    window.scroll(0, 0);
    document.getElementById(partA).style.display = "block";
    document.getElementById(partB).style.display = "none";
  }

  function saveCallMe(event) {
    if (event.target.dataset.value) {
      callMeBack = event.target.dataset.value;
      saved_notification();
    }
  }

  const creditType = [
    {
      value: "house",
      label: "Achat de maison",
    },
    {
      value: "apartment",
      label: "Achat d'appartement",
    },
    {
      value: "building",
      label: "Achat d'immeuble",
    },
    {
      value: "renegociation",
      label: "Renégociation de prêt",
    },
  ];

  const typeNumberItems = [
    { value: "alone", label: "Seul(e)" },
    { value: "with_someone", label: "Avec un co-emprunteur" },
  ];

  const typeExplotation = [
    { value: "primary-home", label: "Résidence principale" },
    { value: "secondary-home", label: "Résidence secondaire" },
    { value: "rental-investment", label: "Investissement locatif" },
  ];

  //Initiate the values for the Select
  let creditTypeValue, NumberValue, explotationTypeValue;

  function handleCredit(selectedValue) {
    creditTypeValue = selectedValue.detail.label;
  }
  function handleNumber(selectedValue) {
    NumberValue = selectedValue.detail.label;
  }
  function handleExploitation(selectedValue) {
    explotationTypeValue = selectedValue.detail.label;
  }

  // email
  async function submit_simulation() {
    contactname = document.getElementById("contactname").value || "";
    firstname = document.getElementById("firstname").value || "";
    email = document.getElementById("email").value || "";
    phone = document.getElementById("phone").value || "";

    if ((email == "" || !email.includes("@")) && phone == "") {
      error_notification();
      return;
    }

    saved_notification();

    document.getElementById("part4").style.display = "none";
    document.getElementById("email_sent").style.display = "block";

    address = document.getElementById("address")?.value || "";
    income = document.getElementById("income")?.value || "";

    const messageToTeam = `
    <h3>Simulateur prêt immobilier:</h3>
      Nom:  ${contactname} <br/>  
      Prénom:  ${firstname}  <br/>
      Email:  ${email}  <br/> Phone:  ${phone} <br/>
      Montant à emprunter:  ${formatAndcurrency(amount)} <br/>
      Durée de votre prêt:  ${years}  ans <br/>
      Type de crédit:  ${creditTypeValue} <br/>
      Nombre d'emrpunteurs:  ${NumberValue || ""} <br/>
      Usage du bien:  ${explotationTypeValue || ""} <br/>
      Salaire Net:  ${formatAndcurrency(income)}  <br/>
      Souhaite être rappelé: ${callMeBack}`;

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: `Simulation prêt immobilier
       ${contactname || ""}
       ${enterprise_name}`,
      html: messageToTeam,
    });

    const messageToCustomer = `
      <h3>Simulateur Prêt immobilier:</h3> 
      Nom:  ${contactname} <br/>  Prénom:  ${firstname}  <br/>
      Email:  ${email}  <br/> Phone:  ${phone} <br/>
      Montant à emprunter:  ${formatAndcurrency(amount)} <br/>
      Durée de votre prêt:  ${years}  ans <br/>

      Type de crédit:  ${creditTypeValue} <br/>
      Nombre d'emrpunteurs:  ${NumberValue || ""} <br/>
      Usage du bien:  ${explotationTypeValue || ""} <br/>

      Salaire Net:  ${formatAndcurrency(income)}<br/>
      Souhaite être rappelé: ${callMeBack} <br/><br/>
      
      <h4>
      Votre mensualité : ${roundNumberFormat(result)} / mois
      </h4>

      ${enterprise_name} vous offre un appel gratuit avec notre conseiller. Il vous fournira une assitance et des informations gratuites comme votre capacité d'emptrunt et la situation bancaire actuelle.<br/><br/>

      Pour plus d'information : ${enterprise_email}  
      `;

    await Meteor.callAsync("sendEmail", {
      bcc: email,
      subject: `Simulation prêt immobilier ${enterprise_name}`,
      html: messageToCustomer,
    });
  }
</script>

<div style="background: #2c6ed5; min-height: 80vh;">
  <div class="mx-auto" style="max-width: 680px;">
    <div class="bg-white rounded-xl">
      <div class="card-heading pt-[210px]" />
      <div class="px-10 md:px-20">
        <h1 class="mt-3 mb-3 text-2xl">Calculatrice de prêt immobilier</h1>
        <form>
          <div id="part1">
            <div>
              <div>
                <label for="loan_amount">
                  Montant de votre prêt ({currency})
                </label>

                <!-- <input
                  id="amount"
                  bind:value={amount}
                  type="number"
                  min="1000"
                  max="100000000000"
                  placeholder="Montant de votre prêt"
                /> -->

                <input
                  id="amount"
                  bind:value={amount}
                  class="w-full input autonumericamount"
                  type="text"
                />
              </div>
            </div>

            <div>
              <div class="mt-3">
                <label for="loan_duration">Durée de votre prêt (années)</label>
                <input
                  class="w-full input"
                  id="years"
                  bind:value={years}
                  type="number"
                  min="0"
                  max="35"
                  placeholder="Durée de votre prêt (années)"
                />
              </div>
            </div>

            <div>
              <div class="mt-3">
                <label for="interest_rate">Taux d'intérêt (%)</label>
                <input
                  class="w-full input"
                  id="rate"
                  bind:value={rate}
                  type="number"
                  min="0"
                  placeholder="Taux d'intérêt (%)"
                />
              </div>
            </div>

            <div>
              <div class="mt-3">
                <label for="InsuranceRate">Taux d'assurance (%)</label>
                <input
                  bind:value={insurance}
                  id="insurance"
                  type="number"
                  min="0"
                  placeholder="Taux d'assurance (%)"
                  class="w-full input"
                />
              </div>
            </div>

            <!-- Results -->
            <div class="mt-3">
              Votre mensualité sera de
              <div class="text-2xl">
                {roundNumberFormat(result)}
                /mois
              </div>
            </div>

            <div>
              <div class="mt-10 text-right">
                <button
                  on:click|preventDefault={() => {
                    show_hide("part2", "part1");
                  }}
                  id="gotostep_2"
                  class="btn btn--success btn-lg"
                  type=""
                >
                  Suivant
                </button>
              </div>
            </div>
          </div>

          <!-- Part2 -->
          <div id="part2" class="hidden">
            <div>
              <div>
                <label for="">Type de crédit</label>
                <Select
                  id="creditType"
                  items={creditType}
                  bind:creditTypeValue
                  on:change={handleCredit}
                  placeholder="TYPE DE CREDIT"
                />
              </div>
            </div>

            <br />

            <div>
              <div>
                <label for="borrowers">Nombre d'emprunteurs</label>
                <Select
                  id="typeNumber"
                  items={typeNumberItems}
                  bind:NumberValue
                  on:change={handleNumber}
                  placeholder="NOMBRE D'EMPRUNTEURS"
                />
              </div>
            </div>

            <br />

            <div>
              <div>
                <label for="">Usage du bien</label>
                <Select
                  id="typeExploitation"
                  items={typeExplotation}
                  bind:explotationTypeValue
                  on:change={handleExploitation}
                  placeholder="USAGE DU BIEN"
                />
              </div>
            </div>

            <div>
              <div>
                <div class="pt-20 text-right">
                  <button
                    on:click|preventDefault={() => {
                      show_hide("part3", "part2");
                    }}
                    id="gotostep_3"
                    class="btn btn--success btn-lg"
                    type=""
                  >
                    Suivant
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Part 3 -->
          <div class="hidden" id="part3">
            <div>
              <div>
                <label for="salary">Salaire Net ({currency} / mois)</label>
                <input
                  id="income"
                  bind:value={income}
                  class="w-full input autonumericincome"
                  type="text"
                />
              </div>
            </div>

            <div>
              <div>
                <div class="pt-20 text-right">
                  <button
                    on:click|preventDefault={() => {
                      show_hide("part4", "part3");
                    }}
                    id="gotostep_3"
                    class="btn btn--success btn-lg"
                    type=""
                  >
                    Suivant
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Part 4 -->
          <div class="hidden" id="part4">
            <div>
              <div>
                <div>
                  <input
                    class="w-full input"
                    id="contactname"
                    type="text"
                    placeholder="NOM"
                    name="contactname"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <div>
                  <input
                    class="w-full input"
                    id="firstname"
                    type="text"
                    placeholder="PRÉNOM"
                    name="firstname"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <div>
                  <input
                    class="w-full input"
                    id="phone"
                    type="text"
                    placeholder="TEL"
                    name="phone"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <div>
                  <input
                    class="w-full input"
                    id="email"
                    type="email"
                    placeholder="EMAIL"
                    name="email"
                  />
                </div>
              </div>
            </div>

            <!--  -->
            {#if !callMeBack}
              <div>
                <div>
                  <div class="pt-14">
                    Voulez-vous être rappelé ?

                    <br /><br />
                    {enterprise_name} vous offre un appel gratuit avec notre conseiller.
                    Il vous fournira une assitance et des informations gratuites
                    comme votre capacité d'emptrunt et la situation bancaire actuelle.

                    <br />

                    <button
                      on:click|preventDefault={saveCallMe}
                      data-value="yes"
                      class="btn btn--success"
                      name="Callme"
                    >
                      Oui
                    </button>
                    <button
                      on:click|preventDefault={saveCallMe}
                      data-value="no"
                      class="btn btn--light"
                      name="Callme"
                    >
                      Non merci
                    </button>
                  </div>
                </div>
              </div>
            {/if}
            <!--  -->

            <div class="mt-3">
              <div>
                <div class="pt-16 text-right">
                  <button
                    on:click|preventDefault={submit_simulation}
                    id="submit_request"
                    class="btn btn--success btn-lg"
                    type=""
                  >
                    Recevoir votre estimation par email
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="hidden" id="email_sent">
            Merci, nous allons vous contacter dans les 48h concernant votre
            project.

            <img
              src="https://res.cloudinary.com/anoa-immo/image/upload/v1663500633/samples/undraw_happy_feeling_re_e76r_exozav.svg"
              alt=""
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .card-heading {
    background: url("https://res.cloudinary.com/house99/image/upload/e_grayscale,q_50/v1601211434/99properties/wp2497493.jpg")
      center center/cover no-repeat;
  }
</style>
