<script>
  import { onMount } from "svelte";
  import { saved_notification, error_notification } from "../notifications.ts";

  import enterprise_customization from "../../enterprise_customization.ts";
  const { sendingEmail, enterprise_name, displayName } =
    enterprise_customization;

  const { lowres } = require("../commonFunctions.ts");
  export let agentId, object;

  onMount(async () => {
    Meteor.subscribe("user", agentId);
  });

  let agent;
  $m: {
    agent = Meteor.users.findOne(agentId);
  }

  let message,
    phone,
    address_email,
    name,
    full_message,
    subject,
    agentEmail,
    assetLink;

  async function email() {
    if (phone == "" || phone == undefined) {
      return error_notification("Téléphone");
    }
    saved_notification("Préparation envoi. Veuillez patienter...");

    // Preparing email for the agent
    if (object?.saleprice) {
      subject = `Acquéreur`;
      assetLink = `${Meteor.absoluteUrl()}for-sale/${object._id}`;
    } else if (object?.rentpermonth) {
      subject = `Location`;
      assetLink = `${Meteor.absoluteUrl()}for-rent/${object._id}`;
    } else {
      subject = `Acquéreur/Location`;
      assetLink = ``;
    }

    if (object?.mandateRef) {
      subject += ` ${object?.mandateRef}`;
    }

    if (object?.title) {
      subject += ` ${object?.title}`;
    }

    full_message = `
    Hello ${agent?.contact?.firstname || ""}, 

    <br/>
    Vous avez une nouvelle demande.
    <br/>
    Vous pouvez directement répondre à cet email.
    
    <br/><br/>

    Message:<br/> ${message || "Aucun"} 

    <br/><br/><br/>


    Nom: ${name} <br/>
    Phone: ${phone} <br/>
    Email: ${address_email} <br/> 
    <br/>
   
    <hr/>
    Annonce:
     <a href="${assetLink}">
    ${object?.title}
    </a>

    <br/>  ${object.description || ""}
    `;

    agentEmail = agent?.contact?.email || agent?.emails[0]?.address;

    // Sending to Agent
    const sentemail = await Meteor.callAsync("sendToAgent", {
      replyTo: address_email,
      to: agentEmail,
      from: sendingEmail,
      subject: subject,
      html: full_message,
    });
    // Sending to customer
    saved_notification("Envoyé");

    // Preparing email for the customer
    if (address_email) {
      subject = `${enterprise_name} - Votre message a bien été envoyé`;
      full_message =
        "Nous avons bien reçu votre demande. Nous allons vous répondre dans les délais les plus courts.";

      if (object?.saleprice) {
        assetLink = `${Meteor.absoluteUrl()}for-sale/${object._id}`;
      } else if (object?.rentpermonth) {
        assetLink = `${Meteor.absoluteUrl()}for-rent/${object._id}`;
      }

      full_message += `<br/> ${object.title || ""}`;
      full_message += `<br/> Voici le lien : <a href="${assetLink}"> ${assetLink}</a>`;

      await Meteor.callAsync("sendEmail", {
        bcc: address_email,
        fromAddress: sendingEmail,
        subject: subject,
        html: full_message,
      });
    }
    // end of sending for customer
    message = name = address_email = phone = "";
  }
</script>

<div class="p-5 mx-5 bg-white shadow-md rounded-xl">
  <div>
    {#if displayName}
      {#if agent?.isVisible}
        <div class="flex justify-between">
          {#if agent?.contact?.picture}
            <div>
              <a href="/conseiller-immobilier/{object.userId}">
                <img
                  loading="lazy"
                  alt="Agent"
                  src={lowres({ url: agent.contact.picture })}
                  class="mb-2 rounded"
                  style="max-width:70px;"
                />
              </a>
            </div>
          {/if}
          {#if agent?.contact}
            <div>
              <h5 class="text-lg font-semibold">
                <a href="/conseiller-immobilier/{object.userId}">
                  {agent.contact?.firstname || ""}
                  {agent.contact?.surname || ""}
                </a>
              </h5>

              <ul>
                {#if agent.contact.phone}
                  <li>
                    <a
                      href="tel:{agent.contact.phone}"
                      class="link-decoration text-slate-600"
                    >
                      <i class="fa-solid fa-phone" />
                      {agent.contact.phone}
                    </a>
                  </li>
                {/if}

                {#if agent.contact.email || agent.emails[0].address}
                  <li>
                    <a
                      href="mailto:{agent.contact.email}"
                      class="link-decoration text-slate-600"
                    >
                      <i class="fa-solid fa-envelope" />
                      {agent.contact.email || agent.emails[0].address}
                    </a>
                  </li>
                {/if}
              </ul>
            </div>
          {/if}
        </div>
      {/if}
    {/if}

    <form class="needs-validation print:hidden" novalidate="">
      <div class="mb-3">
        <input
          class="w-full input"
          type="text"
          placeholder="Votre nom"
          required=""
          bind:value={name}
        />
      </div>
      <div class="mb-3">
        <input
          class="w-full input"
          type="email"
          placeholder="Votre email"
          required=""
          bind:value={address_email}
        />
      </div>

      <div>
        <input
          class="w-full mb-3 input"
          type="tel"
          placeholder="Votre numéro de téléphone"
          bind:value={phone}
        />
      </div>
      <div>
        <textarea
          class="w-full mb-3 border resize-none input"
          rows="3"
          placeholder="Message"
          bind:value={message}
        />
      </div>

      <!-- <div class="mb-4">
        <input
          id="form-submit"
          type="checkbox"
          checked=""
        />
        <label class="text-sm " for="">
          Send news, tips and promos from Finder to my email.
        </label>
      </div> -->

      <button
        class="w-full btn btn-color-main"
        type=""
        on:click|preventDefault={email}
      >
        <i class="fa-solid fa-phone-volume" />
        Rappelez-moi
      </button>
    </form>
  </div>
</div>

<style>
  .link-decoration:hover {
    color: var(--main-color);
  }
</style>
