<script>
  export let object;
</script>

<div class="print:hidden">
  {#if object.images}
    <ul class="flex gap-5 overflow-x-auto snap-x snap-mandatory">
      {#each object.images as element, index}
        {#if element.url}
          <li id={`${index}`} class="shrink-0 snap-center">
            <img
              loading="lazy"
              src={element.url}
              title={element.title}
              class="rounded-lg max-h-60 lg:max-h-72"
              alt=""
            />
          </li>
        {/if}
      {/each}
    </ul>
  {:else}
    <i class="fa-regular fa-images" />
    Aucune image
  {/if}

  {#if object.images?.[2]}
    <ul class="flex flex-wrap gap-6 mt-4">
      {#each object.images as element, index}
        {#if element.url}
          <li class="shrink-0 snap-center">
            <a href={`#${index}`}>
              <img
                src={element.url}
                title={element.title}
                class="h-20 rounded-lg"
                alt=""
              />
            </a>
          </li>
        {/if}
      {/each}
    </ul>
  {/if}
</div>

<!-- For print -->
{#if object.images}
  <div class="hidden print:block">
    <div class="grid grid-cols-3 gap-2 mt-2 mb-3">
      {#each object.images as element, i}
        {#if element.url}
          <img
            class="rounded-lg max-h-60 max-w-60"
            loading="lazy"
            alt="properties"
            src={element.url}
          />
        {/if}
      {/each}
    </div>
  </div>
{/if}
