<script>
  let hiddenModal = "hidden";
  let hidden = "";
  let colorBG = "bg-black"; // bg-blue-500

  if (Meteor.userId()) {
    hidden = "hidden";
    hiddenModal = "hidden";
  }
</script>

<div
  id="modelConfirm"
  class="{hiddenModal} fixed inset-0 z-50 w-full h-full px-4 overflow-y-auto bg-gray-900 bg-opacity-60"
>
  <div class="relative mx-auto bg-white rounded-md shadow-xl top-40">
    <div class="flex justify-end p-2">
      <button
        on:click={() => {
          hidden = "hidden";
        }}
        type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
      >
      </button>
    </div>

    <div class="p-6 pt-0 text-center">
      <h3 class="mt-5 mb-6 text-xl font-normal text-gray-500">
        <div class="mt-3 font-bold">PERSONNALISER MES CHOIX</div>

        Nos sites utilisent des cookies nécessaires à leur fonctionnement. Pour
        améliorer votre expérience, d'autres cookies peuvent être utilisés. Vos
        informations de navigation sont collectées pour l'agence immobilière
        LEXINESIA, responsable du traitement de vos données personnelles. À tout
        moment, vous pourrez choisir de les modifier ou de les désactiver à
        partir du menu données personnelles rubrique "COOKIES ET BALISE
        INTERNET". Vos choix seront conservés pendant 6 mois.

        <div class="mt-3 font-bold">REQUIS (ACCÈS AU SITE WEB)</div>

        Ces cookies sont indispensables pour le bon fonctionnement de notre
        site. Ce suivi est toujours activé pour l'adapter à vos besoins.

        <div class="mt-3 font-bold">FONCTIONNEL (AMÉLIORATION DU SITE WEB)</div>

        <input type="checkbox" checked />

        Nous utilisons le suivi fonctionnel pour analyser l'utilisation de notre
        site Web. Ces cookies permettent de détecter d’éventuels problèmes
        techniques et d’optimiser notre site. Ils nous permettent également
        d’enrichir nos études publicitaires et marketing.

        <div class="mt-3 font-bold">PUBLICITAIRES</div>

        <input type="checkbox" checked /> Ces cookies collectent des informations
        concernant vos habitudes en matière de navigation Internet afin de vous proposer
        des publicités qui vous sont adaptées et correspondent à vos centres d’intérêt.
        Ils permettent également de limiter le nombre de fois que vous verrez une
        publicité et nous aident à évaluer l’efficacité de nos campagnes publicitaires.
      </h3>
      <a
        href="#"
        on:click={() => {
          hidden = "hidden";
          hiddenModal = "hidden";
        }}
        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2"
      >
        Valider
      </a>
      <a
        href="#"
        on:click={() => {
          hidden = "hidden";
          hiddenModal = "hidden";
        }}
        class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center"
        data-modal-toggle="delete-user-modal"
      >
        Tout refuser
      </a>
    </div>
  </div>
</div>

<!-- Banner -->
<div
  class="{hidden} fixed bottom-0 left-0 right-0 px-4 py-2 text-center text-white {colorBG}"
>
  En poursuivant votre navigation sur ce site, vous acceptez que l'agence
  immobilière LEXINESIA utilise des cookies pour analyser le fonctionnement et
  l'efficacité du site et vous proposer des publicités adaptées.
  <a
    href="#"
    class="underline"
    on:click={() => {
      hiddenModal = "";
    }}
  >
    Personnaliser mes choix
  </a>
</div>

<!-- Consent Modal Button -->
<!-- <div class="fixed bottom-12 right-4">
  <button
    id="openModalButton"
    class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
  >
    Open Consent Modal
  </button>
</div> -->
