<script>
  import GES from "./diagnostics/GES.svelte";
  import DPE from "./diagnostics/DPE.svelte";

  export let dpe, ges, cost;
</script>

<div class="grid grid-cols-1 gap-1 xl:grid-cols-2">
  <div>
    <DPE {dpe} {ges} {cost} />
  </div>
  <div>
    <GES {ges} />
  </div>
</div>
