<script>
  import Select from "svelte-select";
  import { saved_notification, error_notification } from "../notifications.ts";

  import enterprise_customization from "../../enterprise_customization.ts";

  window.scroll(0, 0);

  const { sendingEmail, enterprise_name } = enterprise_customization;
  let surname, firstname, email, phone, roomsnumber, surface, landsurface;

  // let imagebannerurl =
  // "https://res.cloudinary.com/house99/image/upload/v1600525942/99properties/sample/bg-head-02.jpg";

  let imagebannerurl = enterprise_customization.estimation.bannerurl || "";

  let estimation_address =
    Session.get("estimation_address") != undefined
      ? Session.get("estimation_address")
      : "";

  // type de biens
  let typeItems = [
    { value: "land", label: "Terrain" },
    { value: "apartment", label: "Appartement" },
    { value: "house", label: "Maison" },
    { value: "building", label: "Immeuble" },
    { value: "commercial", label: "Local commercial" },
    { value: "business", label: "Fond de commerce" },
  ];

  // construction year
  let yearItems = [
    { value: "before1900", label: "Avant 1900" },
    { value: "1900-1950", label: "Entre 1900 et 1950" },
    { value: "after2000", label: "Après 2000" },
  ];

  let selectedTypeValue = undefined;
  let selectedYearValue = undefined;

  function show_hide(partA, partB) {
    if (!selectedTypeValue) {
      return error_notification("Type de bien");
    }
    document.getElementById(partA).style.display = "block";
    document.getElementById(partB).style.display = "none";
  }

  function handleTypeSelect(selectedValue) {
    selectedTypeValue = selectedValue.detail.value;
  }
  function handleYearSelect(selectedValue) {
    selectedYearValue = selectedValue.detail.value;
  }

  async function submit_request() {
    address = document.getElementById("address").value || "";
    bathroomsnumber = document.getElementById("bathroomsnumber").value || "";

    if (email == "" || !email) {
      return error_notification("Email");
    }

    // Next page
    document.getElementById("part3").style.display = "none";
    document.getElementById("email_sent").style.display = "block";

    const message = `
    <h3>Estimation:</h3> 
    Nom: ${surname}  <br/>
    Prénom: ${firstname} <br/><br/>
   
    Bien <br/>
    adresse: ${address} <br/>
    Type: ${selectedTypeValue} <br/>
    surface habitable: ${surface} m2 <br/>
    surface terrain: ${landsurface} m2 <br/>  
    Number de pièces: ${roomsnumber} <br/>
    Number de sdb: ${bathroomsnumber} <br/>
    Annee de construction: ${selectedYearValue} <br/><br/>
    
    Contact<br/>
    email: ${email}  <br/>
    phone: ${phone} <br/>
    `;

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: `Estimation ${enterprise_name}`,
      html: message,
    });
  }
</script>

<svelte:head>
  <title>
    Estimation immobilière {enterprise_customization.enterprise_name}
  </title>
  <meta name="description" content="Estimation immobilière, valeur" />

  <link
    rel="canonical"
    href="https://{enterprise_customization.enterprise_name}/estimation"
  />
</svelte:head>

<div class="pt-10 bg-gray-400" style="min-height: 91vh;">
  <div class="max-w-2xl mx-auto">
    <div class="rounded-lg shadow card bg-slate-50">
      <div
        class="pt-[210px]"
        style="background: url({imagebannerurl}) center center/cover no-repeat;"
      />
      <div class="card-body">
        <h1 class="mb-5 text-2xl">Estimation Immobilière</h1>
        <form>
          <div id="part1">
            <div>
              <div>
                <input
                  class="w-full mb-3 input"
                  id="address"
                  value={estimation_address}
                  type="text"
                  placeholder="ADRESSE"
                  name="address"
                />
              </div>
            </div>

            <div>
              <div>
                <Select
                  id="type"
                  items={typeItems}
                  bind:selectedTypeValue
                  on:change={handleTypeSelect}
                  placeholder="TYPE DE BIEN"
                />
              </div>
            </div>

            <br /><br />

            <div>
              <!-- <div>
                <div class="pt-2">
                  <button
                    type="button"
                    class="btn btn--light"
                    style="color:#808080;"
                  >
                    Précédent
                  </button>
                </div>
              </div> -->
              <div>
                <div class="pt-2 text-right">
                  <button
                    on:click|preventDefault={() => {
                      show_hide("part2", "part1");
                    }}
                    id="gotostep_2"
                    class="bg-green-600 rounded hover:bg-green-500 btn"
                    type=""
                  >
                    Suivant
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Part2 -->
          <div class="hidden" id="part2">
            {#if selectedTypeValue != "land"}
              <div>
                <input
                  id="surface"
                  bind:value={surface}
                  class="w-full mb-3 input"
                  type="number"
                  min="0"
                  placeholder="SURFACE (m²)"
                  name="surface"
                />
                <i class="fa-solid fa-arrows-up-down-left-right input-icon" />
              </div>
            {/if}

            {#if selectedTypeValue != "apartment"}
              <div>
                <input
                  id="landsurface"
                  bind:value={landsurface}
                  class="w-full mb-3 input"
                  type="number"
                  min="0"
                  placeholder="SURFACE TERRAIN (m²)"
                  name="landsurface"
                />
                <i class="fa-solid fa-arrows-up-down-left-right input-icon" />
              </div>
            {/if}
            {#if selectedTypeValue != "land"}
              <div>
                <input
                  class="w-full mb-3 input"
                  id="roomsnumber"
                  type="number"
                  min="0"
                  placeholder="NOMBRE DE PIÈCES"
                  name="roomsnumber"
                  bind:value={roomsnumber}
                />

                <i class="fa-solid fa-vector-square input-icon" />
              </div>

              <div>
                <input
                  class="w-full mb-3 input"
                  id="bathroomsnumber"
                  type="number"
                  min="0"
                  placeholder="NOMBRE DE SALLES DE BAIN"
                  name="bathroomsnumber"
                />
                <i class="fa-solid fa-bath input-icon" />
              </div>

              <div>
                <div>
                  <Select
                    items={yearItems}
                    on:change={handleYearSelect}
                    bind:selectedYearValue
                    placeholder="ANNÉE DE CONSTRUCTION"
                  />
                </div>
              </div>
            {/if}

            <div class="grid grid-cols-2 pt-4">
              <div>
                <button
                  on:click|preventDefault={() => {
                    show_hide("part1", "part2");
                  }}
                  type="button"
                  class="btn btn--light"
                  style="color:#808080;"
                >
                  Précédent
                </button>
              </div>
              <div>
                <div class="text-right">
                  <button
                    on:click|preventDefault={() => {
                      show_hide("part3", "part2");
                    }}
                    id="gotostep_3"
                    class="bg-green-600 rounded hover:bg-green-500 btn"
                    type=""
                  >
                    Suivant
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Part 3 -->
          <div class="hidden" id="part3">
            <div>
              <div>
                <input
                  class="w-full mb-3 input"
                  id="surname"
                  type="text"
                  placeholder="NOM"
                  name="surname"
                  bind:value={surname}
                />
              </div>

              <div>
                <div>
                  <input
                    class="w-full mb-3 input"
                    id="firstname"
                    type="text"
                    placeholder="PRÉNOM"
                    name="firstname"
                    bind:value={firstname}
                  />
                </div>

                <div>
                  <div>
                    <input
                      class="w-full mb-3 input"
                      id="phone"
                      type="text"
                      placeholder="TEL"
                      name="phone"
                      bind:value={phone}
                    />
                  </div>

                  <div>
                    <div>
                      <input
                        class="w-full mb-3 input"
                        id="email"
                        type="email"
                        placeholder="EMAIL"
                        name="email"
                        bind:value={email}
                      />
                    </div>

                    <div>
                      <div class="pt-2 text-right">
                        <button
                          on:click|preventDefault={submit_request}
                          id="submit_request"
                          class="bg-green-600 rounded btn hover:bg-green-500"
                          type=""
                        >
                          <i class="fa-regular fa-envelope" />
                          Recevoir votre estimation par email
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End part 3 -->

          <div class="hidden" id="email_sent">
            Vous allez recevoir votre estimation par email dans les 48h.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  /* ==========================================================================
   #BUTTON
   ========================================================================== */
  .btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
  }

  /* ==========================================================================
   #FORM
   ========================================================================== */

  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  /* ==========================================================================
   #CARD
   ========================================================================== */

  .card-body {
    padding: 0 90px;
    padding-top: 55px;
    padding-bottom: 35px;
  }

  @media (max-width: 767px) {
    .card-body {
      padding: 0 40px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
</style>
