<script>
  import enterprise_customization from "../../enterprise_customization";
  const { socialMedia } = enterprise_customization;
</script>

<div class="grid grid-cols-1 px-10 pt-5 lg:px-20 bg-slate-100 md:grid-cols-2">
  <div class="pb-3 lg:pl-24 xl:pl-40">
    <h2 class="text-2xl font-semibold text-center sm:text-left">
      Suivez-nous sur WhatsApp
    </h2>
    <p class="pb-1 text-justify text-slate-700">
      Rejoignez notre groupe WhatsApp et soyez informé(e) en avant-première des
      derniers biens ! 🏡✨
    </p>

    <div class="text-center lg:text-left">
      <a href={socialMedia.whatsApp.link}>
        <button class="px-3 py-2 rounded-md btn-color-main">
          <i class="fa-brands fa-whatsapp me-2" />
          Rejoindre
        </button>
      </a>
    </div>
  </div>

  <div>
    <a href={socialMedia.whatsApp.link}>
      <img
        class="w-56 mx-auto mb-4 sm:w-60 rounded-2xl"
        src={socialMedia.whatsApp.image}
        alt="Illustration"
      />
    </a>
  </div>
</div>
