<script>
  import enterprise_customization from "../../enterprise_customization.ts";
  import enterprise_data from "../../enterprise_data.ts";
  const { website, enterprise_name, address, countryConfiguration } =
    enterprise_customization;
</script>

<svelte:head>
  <title>Mentions Légales - {enterprise_name}</title>
  <!-- Description for Google and search engines -->
  <meta name="description" content="Legal - {enterprise_name}" />
  <link rel="canonical" href="https://{website}/mentions-legales" />
</svelte:head>

<div class="container mx-auto mt-12 mb-20">
  <h1 class="text-2xl">Mentions Légales</h1>

  <h2 class="mt-5 text-lg">Editeur</h2>

  {#if countryConfiguration == "fr"}
    <p>
      Le site internet {website} est édité par {enterprise_name}, une société
      par actions simplifiée. Localisée au {address}, elle est spécialisée dans
      le secteur des activités des agents et courtiers d’assurances. Son numéro
      d’immatriculation au RCS de Paris est :
      {enterprise_data.registre_commerce_societes_siren_number} (SIRET). Elle est
      une société immobilière et de courtage en assurance soumise aux dispositions
      du Code des assurances. Immatriculée à l’ORIAS (www.orias.fr) sous le n° 15005543.
    </p>
  {:else if countryConfiguration == "pf"}
    <p>
      Le site internet {website} est édité par {enterprise_data.agency_name}.
      Localisée au {address}, elle est spécialisée dans le secteur des activités
      d'agence immobilière. Son numéro d’immatriculation au RCS est :
      {enterprise_data.registre_commerce_societes_number}. Elle est une société
      immobilière. Immatriculée sous le n° T.A.H.I.T.I {enterprise_data.tahiti_number}
      et le numéro de carte Professionnelle {enterprise_data.carte_professionnelle_number}.
    </p>
  {/if}

  <h2 class="mt-5 text-lg">Hébergement</h2>
  La site est hébergé par la société Heroku.

  <h2 class="mt-5 text-lg">Utilisation Cookies</h2>
  Un cookie est un fichier texte déposé et lu lors de la consultation d’un site internet,
  permettant de conserver certaines données. Le site {website}
  utilise des cookies :<br />

  – techniques, indispensables à son fonctionnement, sans lesquels vous ne
  seriez pas en mesure de naviguer sur le site, ni d’utiliser certaines de ses
  fonctionnalités ;<br />
  – de fonctionnalité, permettant de conserver temporairement vos préférences de
  navigation et ainsi de faciliter votre navigation ;<br />
  – de performance, permettant d’analyser la navigation et la fréquentation.<br
  /><br />

  Votre navigateur internet accepte par défaut les cookies. Son paramétrage
  permet de vous informer de leur présence et de vous opposer à leur
  enregistrement selon la procédure suivante :<br />

  <br />

  Sous Microsoft Internet Explorer<br />

  1. choisissez le menu « Outils », puis « Options internet »;<br />
  2. cliquez sur l’onglet « Confidentialité »;<br />
  3. sélectionnez le niveau souhaité à l’aide du curseur.<br />

  <br />

  Sous Mozilla Firefox<br />

  1. choisissez le menu « Outils » puis « Options » ;<br />
  2. cliquez sur l’onglet « Vie privée » ;<br />
  3. dans la liste déroulante « Règles de conservation » sélectionnez le niveau souhaité.<br
  />

  <br />

  Sous Google Chrome<br />

  1. cliquez sur l’icône permettant d’afficher le menu des paramètres;<br />
  2. cliquez sur « Options »;<br />
  3. dans la zone « Historique », sélectionnez « utiliser les paramètres personnalisés
  pour l’historique »;<br />
  4. choisissez le niveau souhaité.<br />
  <br />

  Sous Safari <br />
  1. cliquez dans le menu « Safari » ;<br />
  2. cliquez sur « Préférences » ;<br />
  3. dans l’onglet » Sécurité » sélectionnez le niveau souhaité.<br />

  <br />

  Sous Opéra 9.0 et +<br />

  1. cliquez dans le menu « Fichier » ;<br />
  2. cliquez dans « Préférences »;<br />
  3. vie privée.<br />
</div>
