<div>
  <div class="text-2xl">
    <i class="fa-solid fa-rotate text-[var(--main-color)] animate-spin" />
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- <script>
  const duration = 6000;
  setTimeout(function () {
    document.getElementById("loading").style.display = "none";
    document.getElementById("message").style.display = "block";
  }, duration);
</script>

<div class="flex justify-center mb-3">
  <div id="loading" class="spinner-border text-[var(--main-color)]" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div id="message" style="display:none;">
    Aucun résultat 
  </div>
</div> -->
