<script>
  import enterprise_customization from "../../enterprise_customization.ts";
  const { currency } = enterprise_customization;
  const { formatNumber, roundNumberFormat } = require("../commonFunctions.ts");
  const { PMT } = require("../loanFunctions.ts");

  export let price;
  let amount = price;
  // Constants
  const DOWN_PAYMENT_PERCENTAGE = 0.1;
  const MONTHS_IN_YEAR = 12;

  // initialisation
  let downpayment = (DOWN_PAYMENT_PERCENTAGE * price).toFixed();
  let interestrate = enterprise_customization.calculator?.interestrate || 1.35;
  let duration = 25;
  let insurance = 0;
  let monthlyPayment, amountToBorrow, notaryfees;
  let result;

  const calculation = (
    price,
    notaryfees,
    downpayment,
    duration,
    interestrate
  ) => {
    amountToBorrow = Math.max(amount + notaryfees - downpayment, 0);

    if (duration <= 0) {
      return String(amountToBorrow) + ` ${currency}`;
    }

    result = -PMT({
      ir: (interestrate + insurance) / (100 * 12),
      np: duration * MONTHS_IN_YEAR,
      pv: Number(amount) + Number(notaryfees) - Number(downpayment),
      fv: 0,
      type: 0,
    }).toFixed(2);

    if (result <= 0) {
      return 0;
    }

    result = Math.round(result); // Round the number
    result = formatNumber(result);
    return (result = String(result) + ` ${currency} / mois`);
  };

  $: {
    if (amount) {
      notaryfees = Math.round(
        (enterprise_customization.notaryfees / 100) * amount
      );
    }
    monthlyPayment = calculation(
      amount,
      notaryfees,
      downpayment,
      duration,
      interestrate
    );
  }
</script>

<div class="p-5 m-5 bg-white shadow-md rounded-xl print:hidden">
  <div>
    <h5 class="text-xl font-semibold">
      <i class="fa-solid fa-calculator text-[var(--main-color)]" />
      Simulateur
    </h5>
    <div>
      <form class="needs-validation" novalidate="">
        <div>
          Montant de l'acquisition ({currency})
        </div>

        <div class="mb-3">
          <input
            class="w-full input"
            type="number"
            required=""
            bind:value={amount}
          />
        </div>

        <div>
          Frais de notaire ({enterprise_customization.notaryfees}%)
        </div>

        <div class="mb-3">
          <input
            class="w-full input"
            type="number"
            required=""
            bind:value={notaryfees}
          />
        </div>
        <div>Apport initial (10%)*</div>
        <input
          class="w-full mb-3 border input"
          type="number"
          bind:value={downpayment}
        />

        <div class="mb-3">
          <span class="text-lg"> Montant à emprunter: </span>
          {roundNumberFormat(amountToBorrow)}
        </div>

        <div>Taux d'intéret (%)</div>
        <input
          class="w-full mb-3 border input"
          type="number"
          bind:value={interestrate}
        />
        <div>Durée (ans)</div>
        <input
          class="w-full mb-3 border input"
          type="number"
          bind:value={duration}
        />

        <div class="text-xl font-bold">
          {monthlyPayment}
        </div>

        <div>* recommendation</div>

        <!-- <button
          class="block btn btn-color-main w-100"
          type=""
          on:click|preventDefault={email}
        >
          <i class="fa-solid fa-phone-volume" />
          Rappelez-moi
        </button> -->
      </form>
    </div>
  </div>
</div>

<style>
  /* body {
        color: #969696;
    } */
</style>
