<div class="container px-10 mx-auto my-20 sm:px-0 min-h-[40vh]">
  <div>
    <div>
      <h1 class="text-3xl">Oups !</h1>
      <h2>La page que vous recherchez semble introuvable</h2>

      <div class="mt-4">
        <a class="btn btn--blue" href="/">Go home</a>
      </div>
    </div>
    <div>
      <!-- <img
        src="https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Page-with-SVG.png"
        alt="Notfound"
      /> -->
    </div>
  </div>
</div>
