<script>
  import enterprise_customization from "../../enterprise_customization";
</script>

<svelte:head>
  <!-- Description for Google and search engines -->
  <title>
    Déposer une annonce - {enterprise_customization.enterprise_name}
  </title>
  <meta
    name="description"
    content="Déposer une annonce - {enterprise_customization.enterprise_name}"
  />
  <link
    rel="canonical"
    href="https://{enterprise_customization.website}/place-ads"
  />
</svelte:head>

<div class="container mx-auto mt-5">
  <h1 class="text-2xl">Déposer votre annonce immobilière</h1>
  Pour déposer votre annonce gratuitement
  <br />
  <strong>
    {enterprise_customization.enterprise_email}
  </strong>

  <br /><br />
  Avec:
  <ul>
    <li>Nom / Prénom</li>
    <li>Mail</li>
    <li>N. Téléphone</li>
    <li>Images (au moins une)</li>
    <li>Description du bien</li>
    <li>Prix</li>
    <li>Commune / Île</li>
  </ul>
</div>

<br />
<br />
<br />
