<script>
  import Select from "svelte-select";
  import cities from "../PolynesiaCities";
  import enterprise_customization from "../../enterprise_customization";
  import { error_notification, saved_notification } from "../notifications";

  const { currency, sendingEmail, enterprise_name, notification } =
    enterprise_customization;

  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  let search_places;
  function handle_places(event) {
    const array = event.detail;
    if (array) {
      search_places = array;
    }
  }

  let showModal = false;
  const closeModal = () => {
    showModal = false;
  };

  const createNotification = async () => {
    const assetType = document.getElementById("assetType")?.value;
    const operationType = document.getElementById("operationType")?.value;
    const budgetMax = document.getElementById("budgetMax")?.value;
    const emailUser = document.getElementById("emailUser")?.value;
    const phoneUser = document.getElementById("phoneUser")?.value;
    const userName = document.getElementById("nameUser")?.value;

    if (!operationType) return error_notification("Location ou vente");
    if (!emailUser) return error_notification("Email");
    // if (!phoneUser) return error_notification("Phone");
    if (!assetType) return error_notification("Type");
    if (!budgetMax) return error_notification("Price Max");

    const res = await Meteor.callAsync("buyer.insert.profile", {
      type: operationType,
      email: emailUser,
      assetType,
      cities: search_places,
      // landSurfaceMin,
      // livingAreaMin,
      priceMax: budgetMax,
      phone: phoneUser,
      name: userName,
      // notes,
    });

    saved_notification();
    document.getElementById("alert_created").style.display = "block";
    document.getElementById("notification_text").style.display = "none";
    closeModal();

    // envoi mail
    let subject = `Notification ${enterprise_name}`;
    let assetLink = `${Meteor.absoluteUrl()}activation-notification/${res}`;
    let full_message = `
    Bonjour ${userName},
    <br/><br/> Voici le lien pour activer votre notification : <a href="${assetLink}"> ${assetLink}</a>
    <br/> Budget: ${budgetMax} ${currency} 

    <br/><br/> L'équipe ${enterprise_name}
    `;

    // Localisation ${search_places} ${operationType} ${assetType}

    const address_email = emailUser; // Add the admin so they can see ?

    Meteor.callAsync("sendEmail", {
      bcc: address_email,
      fromAddress: sendingEmail,
      subject: subject,
      html: full_message,
    });
    console.log("sent");
  };
</script>

<div class="px-10 pt-5 lg:px-20 bg-slate-50">
  <div class="grid items-center grid-cols-1 md:grid-cols-2">
    <div>
      {#if notification?.imageurl}
        <img
          class="w-56 mx-auto mb-4 sm:w-60"
          src={notification.imageurl}
          alt="Illustration"
        />
      {/if}
    </div>
    <div class="pb-3 text-left" id="notification_text">
      <h2 class="text-2xl font-semibold text-center sm:text-left">
        Recevoir des notifications
      </h2>
      <p class="pb-1 text-justify text-slate-700">
        Ne manquez aucun bien correspondant à votre recherche. Commencez
        sereinement votre recherche.
      </p>

      <div class="text-center lg:text-left">
        <button
          class="px-3 py-2 rounded-md cursor-pointer btn-color-main"
          on:click={() => (showModal = true)}
        >
          <i class="fa-solid fa-bell me-2" />
          Créer une alerte
        </button>
      </div>
    </div>

    <!-- Message sent displayed after clicking -->
    <div id="alert_created" class="hidden text-lg">
      Un email vient de vous être envoyé pour activer la notification.
    </div>
  </div>
</div>

<!-- modal -->
<div
  style={`display: ${showModal ? "flex" : "none"}`}
  tabindex="-1"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-xl">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          <i class="fa-solid fa-bell text-[var(--main-color)]" />
          Créer une alerte
        </h3>
        <button
          on:click={closeModal}
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
          data-modal-hide="defaultModal"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-4">
        <div>
          Achat ou Location
          <span class="text-red-500">*</span>
        </div>

        <select
          id="operationType"
          class="w-full bg-white border select text-slate-700"
        >
          <option value="">Achat / Location</option>
          <option value="sale">Achat</option>
          <option value="rent">Location</option>
        </select>

        <div>
          Type
          <span class="text-red-500">*</span>
        </div>

        <select
          id="assetType"
          class="w-full bg-white border select text-slate-700"
        >
          <option value="">Type de bien</option>
          <option value="house">Maison</option>
          <option value="building">Immeuble</option>
          <option value="apartment">Appartement</option>
          <option value="land">Terrain</option>
        </select>

        <div>Localisation <span class="text-red-500">*</span></div>

        <div class="themed">
          <Select
            --border-radius="10px"
            --placeholder-color="#212529"
            --multi-item-bg="#94a3b8"
            on:change={handle_places}
            items={searchItems}
            placeholder="Ville, île"
            {groupBy}
            multiple="true"
          />
        </div>

        <div>Budget max <span class="text-red-500">*</span></div>

        <div class="relative mt-1 rounded-md">
          <input
            placeholder="Budget max"
            min="0"
            type="number"
            id="budgetMax"
            class="w-full px-2 py-3 border rounded-lg"
          />
          <div class="absolute inset-y-0 right-0 flex items-center">
            <label for="currency" class="sr-only">Currency</label>
            <div
              class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
            >
              {currency}
            </div>
          </div>
        </div>

        <div>Mail <span class="text-red-500">*</span></div>
        <input
          id="emailUser"
          type="text"
          class="w-full input-0 text-slate-700 input"
          placeholder="example@mail.com"
        />

        <div>Nom</div>
        <input
          id="nameUser"
          type="text"
          class="w-full input-0 text-slate-700 input"
          placeholder=""
        />

        <div>Téléphone</div>
        <input
          id="phoneUser"
          type="text"
          class="w-full input-0 text-slate-700 input"
          placeholder=""
        />
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b"
      >
        <button
          on:click={createNotification}
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Créer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <style>
  .themed {
    /* --border: 0;
    --borderRadius: 0.3rem;
    --height: 48px;
    --font-size: 1rem;
    --item-color: #212529;
    --item-hover-color: #212529; */
    /* --background: #dc143c; */
  }
</style> -->
