<script>
  import { saved_notification, error_notification } from "../notifications.ts";
  import enterprise_customization from "../../enterprise_customization";
  const { sendingEmail, enterprise_name } = enterprise_customization;
  const { validateEmail } = require("../commonFunctions.ts");

  let email = "";

  async function send_email() {
    if (!validateEmail(email)) {
      return error_notification("Email error");
    }

    document.getElementById("message_sent_subscription").style.display =
      "block";
    document.getElementById("subscription").style.display = "none";
    const message = `email: ${email}`;

    await Meteor.callAsync("sendToTeam", {
      from: sendingEmail,
      subject: `Subscription ${enterprise_name}`,
      html: message,
    });

    saved_notification();
  }
</script>

<div>
  <h4 class="pb-4 text-lg font-bold">
    <!-- Join Our Newsletter -->
    Découvrez notre Newsletter
  </h4>
  <p class="text-justify">
    Nos conseils 2 fois par mois pour tout comprendre sur le prêt immobilier.
    Toutes les clés pour réussir son projet immobilier !
  </p>
  <form class="mt-6" id="subscription" action="" method="post">
    <input
      class="text-black"
      bind:value={email}
      id="form"
      type="email"
      name="email"
      placeholder="Votre email"
    />
    <input
      on:click|preventDefault={send_email}
      type="submit"
      value="Je m'abonne"
    />
  </form>

  <!-- Message envoye -->
  <div id="message_sent_subscription" class="hidden">Message envoyé</div>
</div>

<style>
  /* #46bebd #008d8d */

  form {
    background: #fff;
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
  }

  form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }

  form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--main-color);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }

  form input[type="submit"]:hover {
    background: var(--main-lighter-color);
  }
</style>
