<script>
  export let text;
</script>

<span class="relative group">
  <span class="px-2 py-1">
    <i class="text-gray-700 fa-solid fa-circle-info" />
  </span>

  <span
    class="px-1 m-4 mx-auto text-gray-100 transition-opacity -translate-x-1/2 translate-y-full bg-gray-800 rounded-md opacity-0 group-hover:opacity-100 left-1/2"
  >
    <!-- Tooltip -->
    {text}
  </span>
</span>
