<script>
  export let id;

  Meteor.callAsync("unsubscribe", id);
  console.log("désinscription est confirmée");
</script>

<div class="container mt-24 mb-72">
  <h1>Vous avez été désinscrit de toutes les listes</h1>

  Email: {id}

  <p>
    Pour recréer des notifications, vous pouvez ajouter à nouveau depuis votre
    profil.
  </p>
</div>
