<script>
  import { error_notification, saved_notification } from "../notifications";
  export let token;
  import { onMount } from "svelte";

  onMount(async () => {
    Accounts.verifyEmail(token, (err) => {
      if (err) {
        error_notification(`Votre email n'a pas pu est vérifié ${err.reason}`);
        document.getElementById("title").textContent =
          "Votre email n'a pas pu est vérifié";
      } else {
        saved_notification("Email vérifié");
        document.getElementById("title").textContent =
          "Votre email a bien été vérifié";
      }
    });
  });
</script>

<div class="container mt-24 mb-72">
  <h1 id="title">Votre email a bien été verifié</h1>
  <a class="btn btn-primary" href="/profile"> Profile </a>
</div>
