<script>
  import { onMount } from "svelte";
  import { Leases } from "../../../api/leases.js";
  import { Assets_rent } from "../../../api/assets_rent.js";
  import { Contacts } from "../../../api/contacts.js";
  import AssetConditionTable from "../../../../components/leases/AssetCondition_table.svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";

  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr"); // use locale globally

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  onMount(async () => {
    Meteor.subscribe("leases", id);
    // Select asset for rent / to be optimized
    Meteor.subscribe("for_rent_assets");
    // To be optimized ,certainly with a component / And also does not work if you are admin
    Meteor.subscribe("mylandlords");
  });

  let item;
  let asset;
  let payDate;
  let landlord;

  $m: {
    item = Leases.findOne(id);
    console.log({ item });

    if (item) {
      item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");

      if (item.startingDate) {
        payDate = dayjs(item.startingDate).get("date");
        item.startingDate = dayjs(item.startingDate).format(
          "dddd, DD MMMM YYYY"
        );
      }

      asset = Assets_rent.findOne(item.asset);
      landlord = item.landlord && Contacts.findOne(item.landlord);
    }
  }
</script>

<div class="container mx-auto">
  <!-- <a href="/pro/leases" class="text-blue-600 underline"> Mes baux </a>
  {#if item.createdAt}
    {item.createdAt}
  {/if} -->

  <div class="flex justify-between">
    <div>
      <div class="w-64 p-2 text-gray-400 border rounded-md">
        Bail N°:
        {item?._id || ""}
      </div>
    </div>

    <div>
      <img
        src={enterprise_customization.logolongurl}
        alt=""
        class="max-w-[350px] max-h-[70px]"
      />
    </div>
  </div>

  <h1 class="text-2xl text-center">État des lieux d'entrée</h1>
  <div class="text-lg">Entrée</div>

  <!-- <h2 class="text-lg">I. Désignation des parties</h2> -->
  <!-- Il est convenu d'une location meublée dont l'inventaire suit : -->

  <textarea
    class="w-full input"
    name="furnitureInventory"
    cols="30"
    rows="10"
    value={item?.assetCondition?.entry || ""}
  />

  <h2 class="text-lg">Sortie</h2>

  <!-- <h2 class="text-lg">I. Désignation des parties</h2> -->
  <!-- Il est convenu d'une location meublée dont l'inventaire suit : -->

  <textarea
    class="w-full input"
    name="furnitureInventoryExit"
    cols="30"
    rows="10"
    value={item?.assetCondition?.exit || ""}
  />

  Fait le<br />
  À {asset?.address?.city || ""}

  <br />

  <div class="grid grid-cols-2">
    <div>Signature du locataire</div>
    <div>Signature du bailleur ou du mandataire</div>
  </div>
</div>

<AssetConditionTable />
