<script>
  export let item;

  let show;

  async function deleteLease(event) {
    if (!confirm("Supprimer")) return;
    value = event.target.getAttribute("data-value");
    await Meteor.callAsync("leases.remove", value);
  }

  async function archiveLease(event) {
    if (!confirm("Archiver?")) return;
    value = event.target.getAttribute("data-value");
    await Meteor.callAsync("leases.archive", value);
  }

  async function duplicateLease(event) {
    if (!confirm("Dupliquer")) return;
    value = event.target.getAttribute("data-value");
    await Meteor.callAsync("leases.duplicate", value);
  }
</script>

<button
  type="button"
  class="px-3 py-1 mb-2 mr-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
  on:click={() => {
    show = !show;
  }}
>
  <i class="fa-solid fa-bars" />
</button>

{#if show}
  <ul>
    <li>
      <button data-value={item._id} on:click={duplicateLease}>
        <i class="fa-regular fa-copy" />
        Dupliquer
      </button>
    </li>

    <li>
      <button data-value={item._id} on:click={archiveLease}>
        <i class="fa-solid fa-box-archive" />
        Archiver
      </button>
    </li>

    <li>
      <button data-value={item._id} on:click={deleteLease}>
        <i class="fa-solid fa-trash" />
        Supprimer
      </button>
    </li>
  </ul>
{/if}
