<script>
  import { onMount } from "svelte";
  import { Leases } from "../../../api/leases.js";
  import { Assets_rent } from "../../../api/assets_rent.js";
  import { Contacts } from "../../../api/contacts.js";

  import enterprise_customization from "../../../../enterprise_customization.ts";

  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr"); // use locale globally

  const { logolongurl } = enterprise_customization;

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  onMount(async () => {
    Meteor.subscribe("leases", id);
    // Select asset for rent / to be optimized
    Meteor.subscribe("for_rent_assets");
    // To be optimized ,certainly with a component / And also does not work if you are admin
    Meteor.subscribe("mylandlords");
  });

  let item;
  let leasetype;
  let asset;
  let payDate;
  let landlord;

  $m: {
    item = Leases.findOne(id);
    if (item) {
      item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");

      if (item.startingDate) {
        payDate = dayjs(item.startingDate).get("date");
        item.startingDate = dayjs(item.startingDate).format(
          "dddd, DD MMMM YYYY"
        );
      }

      leasetype = item.type;
      asset = Assets_rent.findOne(item.asset);
      landlord = item.landlord && Contacts.findOne(item.landlord);
    }
  }
</script>

<div class="container mx-auto">
  <!-- <a href="/pro/leases" class="text-blue-600 underline"> Mes baux </a>
  {#if item.createdAt}
    {item.createdAt}
  {/if} -->

  <div class="flex justify-between">
    <div>
      <div class="w-64 p-2 text-gray-400 border rounded-lg">
        Bail N°: {item?._id || ""}
      </div>
    </div>

    <div>
      <img src={logolongurl} alt="" class="max-h-[60px] max-w-[250px]" />
    </div>
  </div>

  <h1 class="text-2xl text-center">INVENTAIRE</h1>
  Il est convenu d'une location meublée dont l'inventaire suit :

  <textarea
    class="w-full input"
    name="furnitureInventory"
    id="description"
    cols="30"
    rows="13"
    value={item?.furnitureInventory || ""}
  />

  <div class="border rounded-xl">
    Fait le<br />
    À {asset?.address?.city || ""}

    <br />

    <div class="grid grid-cols-1 pb-20 lg:grid-cols-2">
      <div>Signature du locataire</div>
      <div>Signature du bailleur ou du mandataire</div>
    </div>
  </div>
</div>
