<script>
  import { onMount } from "svelte";
  import { navigate } from "svelte-routing";
  import { Leases } from "../../../api/leases.js";
  import { Contacts } from "../../../api/contacts.js";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency } = enterprise_customization;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";
  import DropDown from "./DropDown.svelte";
  import Transactions_rent from "./Transactions_rent.svelte";

  onMount(async () => {
    Meteor.subscribe("currentLeases");
    Meteor.subscribe("thisuser");
    Meteor.subscribe("landlords");
  });

  const thisuserId = Meteor.userId();

  let items_owned = [];
  let landlord;

  $m: {
    items_owned = Leases.find(
      { userId: thisuserId },
      { sort: { createdAt: -1 } }
    ).fetch();

    if (items_owned) {
      items_owned.forEach(function (item) {
        item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");
        item.htmlcontent = item.htmlcontent?.substring(0, 30);

        if (item.landlord) {
          landlord = Contacts.findOne(item.landlord);
          if (landlord) {
            item.landlord = landlord.firstname || "";
            item.landlord += landlord.surname || "";
          }
        }
      });
    }
  }

  async function add() {
    const value = document.getElementById("title").value;
    const res = await Meteor.callAsync("lease.insert", value);

    navigate("/pro/lease/" + res, {
      replace: true,
    });

    saved_notification();
  }
</script>

<h1 class="text-xl">
  <i class="fa-solid fa-paste text-[var(--main-color)]" />
  Mes baux de location
</h1>
<!-- Add  -->
<div class="flex items-center gap-3">
  <div>
    <input
      class="w-full input"
      type="text"
      placeholder="Titre du bail"
      id="title"
      aria-describedby="title"
    />
  </div>
  <div>
    <button on:click={add} class="btn btn--blue">
      Ajouter un nouveau bail
    </button>
  </div>
</div>
<!-- end add -->

<h2 class="mt-3 mb-5 text-xl">Mes baux</h2>

<div class="p-3 bg-white rounded-xl">
  <div class="overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">Title</th>
          <th class="text-left">Mandat</th>
          <th class="text-left">Loyer</th>
          <th class="text-left">Deposit</th>
          <th class="text-left">Locataire</th>
          <th class="text-left">Propriétaire</th>
          <th class="text-left">Date début</th>
          <th />
        </tr>
      </thead>
      <tbody>
        {#each items_owned as item}
          <tr class="border-b last:border-b-0 hover:bg-slate-50">
            <td
              on:click={() => {
                navigate(`/pro/lease/${item._id}`);
              }}
            >
              <a href="/pro/lease/{item._id}" class="text-blue-600 underline">
                {item.title || "Aucun"}
              </a>
            </td>
            <td class="text-sm">
              {item.mandate || "Aucun"}
            </td>
            <td>
              {#if item.rentpermonth}
                {item.rentpermonth}{currency}
              {/if}
            </td>
            <td>
              {#if item.deposit}
                {item.deposit}{currency}
              {/if}
            </td>
            <td>
              {item.tenant?.name || "Aucun"}
            </td>
            <td>
              <!-- {item.landlord?.name || "Aucun"} -->
              {#if item.landlord}
                {item.landlord || "Aucun"}
              {/if}
            </td>

            <td class="text-sm">
              {item.startingDate || ""}
            </td>

            <td>
              <div>
                <DropDown {item} />
              </div>
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
        {/each}
      </tbody>
    </table>
  </div>
</div>

<!-- <Transactions_rent /> -->
