<script>
  import dayjs from "dayjs";

  import enterprise_customization from "../../../../enterprise_customization.ts";

  import { onMount } from "svelte";
  import { RentTransactions } from "../../../api/transactions_rent.js";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  export let leaseId, asset, lease;

  onMount(async () => {
    Meteor.subscribe("renttransactions_lease", leaseId);
  });

  let transactions;
  const thisyear = dayjs().year();
  const thismonth = dayjs().month() + 1;

  $m: {
    transactions = RentTransactions.find({ lease: leaseId }).fetch();

    // Sort manually if needed
    transactions.sort((a, b) => {
      if (a.year !== b.year) return b.year - a.year; // Sort by year first
      return parseInt(b.month) - parseInt(a.month); // Then by month
    });

    // console.log({ transactions });
  }

  async function addPayment() {
    const paymentAmount = document.getElementById("paymentAmount").value;
    const month = document.getElementById("months-select").value;
    const year = document.getElementById("thisyear").value;

    if (!paymentAmount) return error_notification("payment");
    if (!month) return error_notification("month");
    if (!year) return error_notification("année");

    const result = await Meteor.callAsync(
      "renttransaction.insert",
      leaseId,
      paymentAmount,
      month,
      year,
      "rent"
    );

    saved_notification();
  }

  async function delete_transaction(evt) {
    if (!confirm("Supprimer")) return;
    await Meteor.callAsync("renttransactions.remove", evt.currentTarget.value);
  }
</script>

<div class="grid mb-3 lg:grid-cols-3">
  <div>
    Loyer
    <div>
      <input
        class="input"
        id="paymentAmount"
        type="number"
        value={lease?.rentpermonth || ""}
      />

      <span>{enterprise_customization.currency}</span>
    </div>
  </div>

  <div>
    Mois
    <select name="months" class="border select" id="months-select">
      <option value="">--Please choose an option--</option>
      <option value="1" selected={thismonth == 1}>Janvier</option>
      <option value="2" selected={thismonth == 2}>Février</option>
      <option value="3" selected={thismonth == 3}>Mars</option>
      <option value="4" selected={thismonth == 4}>Avril</option>
      <option value="5" selected={thismonth == 5}>Mai</option>
      <option value="6" selected={thismonth == 6}>Juin</option>
      <option value="7" selected={thismonth == 7}>Juillet</option>
      <option value="8" selected={thismonth == 8}>Août</option>
      <option value="9" selected={thismonth == 9}>Septembre</option>
      <option value="10" selected={thismonth == 10}>Octobre</option>
      <option value="11" selected={thismonth == 11}>Novembre</option>
      <option value="12" selected={thismonth == 12}>Décembre</option>
    </select>
  </div>

  <div>
    Année
    <input class="input" type="number" value={thisyear} id="thisyear" min="0" />
  </div>
</div>

<div>
  <button class="btn btn--light" on:click={addPayment}>
    Ajouter un paiement
  </button>
</div>

{#if transactions?.length > 0}
  <table class="w-full text-gray-500 dark:text-gray-400">
    <thead class="text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="text-left">Loyer</th>
        <th class="text-left">Mois</th>
        <th class="text-left">Crée</th>
        <!-- <th>#</th> -->
        <th />
      </tr>
    </thead>
    <tbody>
      {#each transactions as transaction}
        <tr class="border-b">
          <td>
            {#if transaction.amount}
              {transaction.amount}{enterprise_customization.currency}
            {/if}
          </td>
          <td class="text-left capitalize">
            {dayjs()
              .month(transaction.month - 1)
              .format("MMM")}
            {transaction.year || ""}
          </td>

          <td>
            {transaction.createdAt?.toLocaleDateString()}
          </td>
          <!-- <td class="text-sm text-black-50">
            {transaction._id}
          </td> -->
          <td class="text-right">
            {#if asset}
              <a
                href="/pro/avis-d-echeance?leaseId={leaseId}&transactionId={transaction._id}&assetId={asset._id}"
                value={transaction._id}
                target="_blank"
                rel="noreferrer"
              >
                <i class="fa-solid fa-file-lines" />
                Avis d'échéance
              </a>

              <a
                href="/pro/quittance?leaseId={leaseId}&transactionId={transaction._id}&assetId={asset._id}"
                value={transaction._id}
                target="_blank"
                rel="noreferrer"
              >
                <i class="fa-solid fa-file-lines" />
                Quittance
              </a>
            {:else}
              Pas de bien associé
            {/if}
            <button
              on:click={delete_transaction}
              value={transaction._id}
              class="btn"
            >
              <i class="fa-regular fa-trash-can" />
              Delete
            </button>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
{/if}
