<script>
  import enterprise_customization from "../../../../enterprise_customization.ts";

  import { onMount } from "svelte";
  import { RentTransactions } from "../../../api/transactions_rent.js";
  import { Leases } from "../../../api/leases.js";
  import { Assets_rent } from "../../../api/assets_rent.js";
  import { Contacts } from "../../../api/contacts.js";

  const url = new URL(window.location.href);
  const id = url.searchParams.get("transactionId");
  const leaseId = url.searchParams.get("leaseId");
  const assetId = url.searchParams.get("assetId");

  onMount(async () => {
    Meteor.subscribe("renttransaction_lease_asset", id, leaseId, assetId);
  });

  let transaction;
  let lease;
  let asset;
  let landlord;

  $m: {
    transaction = RentTransactions.findOne({ _id: id });
    console.log(transaction);
    lease = Leases.findOne();
    asset = Assets_rent.findOne();

    if (lease?.landlord) {
      Meteor.subscribe("contact", lease.landlord);
      landlord = Contacts.findOne(lease.landlord);
    }
  }
</script>

{#if transaction}
  <div class="px-10 print:px-0">
    <div>
      <h1 class="text-2xl text-center">Quittance de loyer</h1>
    </div>

    <div class="grid grid-cols-2">
      <div>
        Bailleur
        <br />
        {#if landlord}
          {`${landlord.firstname || ""} ${landlord.surname || ""}`}
        {:else}
          ____________
        {/if}

        {#if landlord}
          {landlord.name || ""}

          <br />
          Address: {landlord.address?.street || ""}
          {landlord.address?.city || ""}
          <br />
          Phone: {landlord.phone || ""}
          <br />
          Email: {landlord.emails?.[0] || ""}
          <br />
        {:else}
          _______________<br />
          _______________<br />
          _______________<br />
          _______________<br />
        {/if}
      </div>

      <div class="text-end">
        <div>{transaction.createdAt.toLocaleDateString()}</div>
        <div>
          À {landlord?.address?.city || ""}
        </div>

        <div>
          Montant: {transaction.amount ||
            "________________"}{enterprise_customization.currency}
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div>
        {lease?.tenant?.name},<br />

        {asset?.address?.streetAddress || "______________________"}
        {asset?.address?.postalCode || "______________________"}
        {asset?.address?.city || "______________________"}

        <br /><br />

        Je vous prie de tenir votre quittance pour votre terme mensuel de

        <span class="underline">
          {#if transaction.month == "1"}Janvier
          {:else if transaction.month == "2"}Février
          {:else if transaction.month == "3"}Mars
          {:else if transaction.month == "4"}Avril
          {:else if transaction.month == "5"}Mai
          {:else if transaction.month == "6"}Juin
          {:else if transaction.month == "7"}Juillet
          {:else if transaction.month == "8"}Août
          {:else if transaction.month == "9"}Septembre
          {:else if transaction.month == "10"}Octobre
          {:else if transaction.month == "11"}Novembre
          {:else if transaction.month == "12"}Décembre
          {:else}
            _________
          {/if}
          {transaction.year || ""}
        </span>
        , concernant la location de votre logement.<br />

        {#if landlord}
          <br />
          {`${landlord.firstname || ""} ${landlord.surname || ""}`}
        {:else}
          ____________
        {/if}

        <br />
        <br /><br />

        Signature
      </div>
    </div>
  </div>
{:else}
  Loading
{/if}
