<script>
  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr"); // use locale globally

  import enterprise_customization from "../../../../enterprise_customization";

  import { onMount } from "svelte";
  import { RentTransactions } from "../../../api/transactions_rent.js";
  import { Leases } from "../../../api/leases.js";
  import { Assets_rent } from "../../../api/assets_rent.js";
  import { Contacts } from "../../../api/contacts.js";

  const url = new URL(window.location.href);
  const id = url.searchParams.get("transactionId");
  const leaseId = url.searchParams.get("leaseId");
  const assetId = url.searchParams.get("assetId");

  onMount(async () => {
    Meteor.subscribe("renttransaction_lease_asset", id, leaseId, assetId);
  });

  let transaction, lease, asset, landlord;
  const { currency } = enterprise_customization;

  $m: {
    transaction = RentTransactions.findOne({ _id: id });
    console.log({ transaction });
    lease = Leases.findOne();
    asset = Assets_rent.findOne();

    if (lease?.landlord) {
      Meteor.subscribe("contact", lease.landlord);
      landlord = Contacts.findOne(lease.landlord);
    }
  }
</script>

{#if transaction}
  <div class="px-10 print:px-0">
    <div>
      <div class="text-2xl text-center">
        Quittance de loyer

        {dayjs(`${transaction.year}-${transaction.month}`).format("MMMM YYYY")}
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div>
        Bailleur
        <br />
        {#if landlord}
          {`${landlord.firstname || ""} ${landlord.surname || ""}`}
        {:else}
          ____________
        {/if}

        {#if landlord}
          {landlord.name || ""}

          <br />
          Address: {landlord.address?.street || ""}
          {landlord.address?.city || ""}
          <br />
          Phone: {landlord.phone || ""}
          <br />
          Email: {landlord.emails?.[0] || ""}
          <br />
        {:else}
          <div>_______________</div>
          <div>_______________</div>
          <div>_______________</div>
        {/if}
      </div>

      <div class="text-end">
        <div>{transaction.createdAt.toLocaleDateString()}</div>
        <div>
          À {landlord?.address?.city || ""}
        </div>

        <div>
          Montant: {transaction.amount || "________________"}{currency}
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div>
        {lease?.tenant?.name},<br />

        {asset?.address?.streetAddress || "______________________"}
        {asset?.address?.postalCode || "______________________"}
        {asset?.address?.city || "______________________"}

        <!-- 
        Je vous prie de tenir votre quittance pour votre terme mensuel de

        <span class="underline">
         {dayjs(`${transaction.year}-${transaction.month}`).format("MMMM YYYY")}
        </span>
        , concernant la location de votre logement.<br /> -->

        <div class="mt-3">
          Je soussigné
          {`${landlord?.firstname || ""} ${landlord?.surname || ""}`},
          propriétaire du logement désigné ci-dessus, déclare avoir reçu de
          {lease?.tenant?.name} , la somme de {transaction.amount}
          {currency} au titre du paiement du loyer et des charges pour
          {dayjs(`${transaction.year}-${transaction.month}`).format(
            "MMMM YYYY"
          )}
          et lui en donne quittance, sous tous droits réservés.
        </div>

        {#if landlord}
          <br />
          {`${landlord?.firstname || ""} ${landlord?.surname || ""}`}
        {:else}
          ____________
        {/if}

        <div class="mt-3 mb-20">Signature</div>
      </div>
    </div>

    <!-- AVIS D ECHEANCE -->
    <div>
      <div class="mb-6 text-2xl text-center">Avis d'échéance</div>

      <div>
        {dayjs(`${transaction.year}-${transaction.month}-01`)
          .add(1, "month")
          .format("D MMMM YYYY")} au
        {dayjs(`${transaction.year}-${transaction.month}-01`)
          .add(1, "month")
          .endOf("month")
          .format("DD MMMM YYYY")}
      </div>
      La somme détaillée ci-contre représente le montant de votre quittance à régler

      <div class="p-3 mt-3 mb-3 border-2">
        <div>
          <span class="underline">À régler</span>
          Avant le {dayjs(`${transaction.year}-${transaction.month}-10`)
            .add(1, "month")
            .format("D MMMM YYYY")}
        </div>

        <div>
          Loyer principal : {lease?.rentpermonth - lease?.rental_charges} euros
        </div>
        <div>Provision de charges : {lease?.rental_charges} euros</div>
        <div class="font-bold">Total à payer: {lease?.rentpermonth} euros</div>
      </div>

      En vous remerciant.

      <div class="mt-3 text-sm">
        Propriétaires :<br />
        Ian Wen & Yann Rebourg : 32 Boulevard de Stalingrad, 94600 Choisy-le-roi
        0656690943 RIB : CC Contrat Personnel Contact M REBOURG YANN RIB : 30066
        10441 00020388001 34 IBAN : FR76 3006 6104 4100 0203 8800 134 BIC : CMCIFRPP
      </div>
    </div>
  </div>
{:else}
  Loading
{/if}
