<script>
  import { onMount } from "svelte";
  import { RentTransactions } from "../../../api/transactions_rent.js";
  import dayjs from "dayjs";

  onMount(async () => {
    Meteor.subscribe("renttransactions");
  });

  let items, itemsfiltered, thisyear;

  thisyear = dayjs().year();
  $m: {
    items = RentTransactions.find().fetch();
    console.log({ items });
    itemsfiltered = items.filter((x) => (x.year = thisyear));
  }
</script>

Gestion

{#each itemsfiltered as item}
  {item.amount}
  {dayjs(`${item.year}-${item.month}`).format("MMM YYYY")}
  <br />
{/each}

{thisyear}
