<script>
  import ContractForm from "./ContractForm.svelte";
  import ContractSign from "./ContractSignature.svelte";

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { enterprise_name } = enterprise_customization;
  import enterprise_data from "../../../../enterprise_data.ts";
</script>

<div class="container mx-auto" contenteditable="true">
  <button class="print:hidden btn btn-primary" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>

  <img
    alt=""
    class="hidden print:block w-[300px]"
    src={enterprise_customization.logourl}
  />

  <h1 class="text-2xl">
    I. Contrat d'agent commercial Première Partie - transaction
  </h1>

  <p>Entre les soussignés:</p>

  <p>
    La Société {enterprise_data.agency_name || "____________________"}, au
    capital de
    {enterprise_data.capital || "____________________"}, inscrite au RCS de
    {enterprise_data.registre_commerce_societes_location ||
      "____________________"}
    sous le numéro {enterprise_data.registre_commerce_societes_number ||
      "____________________"}, ayant siège social:
    {enterprise_data.agency_address || "____________________"}.
    <br />
    Agence titulaire de la carte professionnelle «transactions sur immeubles et fonds
    de commerce» délivrée sous le CPI {enterprise_data.carte_professionnelle_number ||
      "____________________"} par la CCI de {enterprise_data.cci ||
      "____________________"} et garantie par l'intermédiaire de {enterprise_data.garantie_financiere}
    pour un montant
    {enterprise_data.garantie_financiere_amount || "____________________"}.
  </p>

  <p>
    <strong> Représentée par l'un de ses dirigeants. </strong>
  </p>

  <p>
    Ci-après dénommée indifféremment «le mandant», ou «{enterprise_name}» d'une
    part,
  </p>

  <p>Et:</p>

  <ContractForm {id} />
  <br />
  Il a été convenu et arrêté ce qui suit :

  <div class="mt-3 sectionTitle">Article 1 -Engagement</div>

  <p>
    Le présent contrat est conclu en application des articles 1984 et suivant du
    Code Civil,ainsi que des articles L134 et suivants du code de commerce,et
    constitue un mandat d'intérêt commun entre les parties. Le présent contrat
    ne peut être considéré comme un contrat de travail: le mandataire accomplira
    sa mission en toute indépendance et sous sa seule responsabilité. Le
    mandataire supporte toutes les charges sociales et fiscales lui incombant
    (TVA le cas échéant, CFE, CVAE, impôt sur le revenu, charges sociales,
    etc.). Le mandataire s'oblige à remettre au mandant l'attestation de
    vigilance telle que prévue par les textes et une attestation d'assurance
    prouvant qu'il bénéficie d'une garantie «responsabilité civile
    professionnelle». L'agent commercial devra préalablement au début de son
    activité, avoir procédé ou fait procéder à son immatriculation au RSAC,et
    avoir été averti par le mandant de la délivrance de l'attestation
    collaborateur par la chambre de commerce compétente.
  </p>

  <p>
    Le mandant remettra au mandataire la copie de l'attestation collaborateur
    établie conformément à la loi du 2 janvier 1970. Le mandant reste
    dépositaire et gardien de l'attestation originale pour, s'il y a lieu,
    attester de son existence ou en délivrer des copies. Si l'agent commercial
    emploie du personnel, s'il utilise un bureau ou une voiture pour l'exécution
    de ce mandat, il le fait à ses frais, risques et périls, la responsabilité
    du mandant n'étant nullement engagée.
  </p>

  <p>
    <strong>
      Il est précisé que dans le cadre d"une attestation collaborateur, la
      législation actuelle n'autorise pas l'agent commercial en immobilier à
      employer de personnel commercial ou autre ou à contracter avec des
      sous-agents.
    </strong>
  </p>

  <p>
    Il appartient au mandataire de souscrire pour son véhicule les assurances
    adéquates, de prendre les garanties nécessaires à cet égard. D'une manière
    générale, le mandataire supporte personnellement et exclusivement tous les
    frais occasionnés par l'exercice de son activité et par l'accomplissement du
    présent contrat.
  </p>

  <p>
    Le mandataire s'engage à respecter le code de déontologie des agents
    immobiliers tel que prévu par le décret du 28 août 2015.
  </p>

  <div class="mt-3 sectionTitle">
    Article 2 -Objet et conditions d'exercice du mandat
  </div>

  <p>
    Le mandant confie au mandataire, qui accepte, mandat de le représenter, à
    titre de profession habituelle et indépendante, dans l'exercice d'un certain
    nombre d'opérations relatives à sa profession d'agent immobilier, à savoir
    une partie des opérations portant sur les immeubles et fonds de commerce
    telles que définies par l'article 1 de la loi du 2 janvier 1970.
  </p>

  <p>
    En conséquence le mandataire est habilité à prospecter, négocier ou
    s'entremettre,au nom et pour le compte du mandant, dans la limite des
    dispositions prévues par la loi du 2 janvier 1970 modifiée et le décret
    n°72-678 du 20 juillet 1972 régissant à présent les rapports entre les
    agences immobilières et les agents commerciaux.
  </p>

  <p>
    Le mandataire agit pour cette recherche au nom et pour le compte du mandant.
    Il s'engage à faire figurer sur ses documents commerciaux notamment sa
    qualité de mandataire indépendant et les références professionnelles du
    titulaire de la carte professionnelle.
  </p>

  <p>
    Le mandataire procède à la recherche de vendeurs et d'acheteurs potentiels
    de biens immobiliers, de bailleurs et de locataires potentiels pour le
    compte du mandant ;
    <strong>
      il s'efforce d'obtenir la signature des mandats au nom de son mandant et
      participe aux négociations des parties. Il fait établir tout autre acte,
      par l'intermédiaire d'une étude de notaire
    </strong>
    (Cf. art. 97 de la loi ENL du 13 Juillet 2006). Il s'engage à assister personnellement
    à la signature des compromis de vente ou des promesses de vente ou des baux en
    l'étude du notaire choisi par les parties,ainsi qu'à la signature de l'acte définitif.
    Il veille personnellement à faire constater dans l'avant contrat le droit à commission
    du mandant et l'exigibilité à la signature de l'acte définitif, il surveille
    le paiement de la commission par le notaire entre les mains du mandant.
  </p>

  Pour le respect de la loi Hoguet, sauf statut dérogatoire, il est donc
  strictement interdit à l'agent commercial, sans que cette liste soit
  limitative :

  <br /><br />
  <ul>
    <li>
      de recevoir ou détenir, directement ou indirectement, des sommes d'argent,
      des biens, des effets ou des valeurs ou en disposer à l'occasion de leurs
      activités de donner des consultations juridiques ou de rédiger des actes
      sous seing privé à l'exception des mandats conclus au profit de la société
      {enterprise_name}
    </li>
    <li>
      de pratiquer la notification prévue par l'article l271-1 du CCH (dite
      notification loi SRU)
    </li>
    <li>
      de pratiquer des estimations de biens immobiliers ou avis de valeurs ou
      tout autre prise de position sur la valeur des biens et droits immobiliers
      qu'il est chargé de vendre (les avis de valeur sont établis sous la
      signature du siège sur simple demande du négociateur)
    </li>
    <li>
      de rédiger des congés dans le cadre de la loi du 6 juillet 1989 ou toute
      autre législation de rédiger des baux professionnels, d'habitations ou
      autres, d'établir des états des lieux
    </li>
    <li>
      de donner ou de recevoir une délégation de mandat, ou de conclure un
      accord sur un partage d'honoraires avec une agence tiers, sans l'accord et
      le visa du mandant, si les honoraires totaux prévus sont supérieurs à
      30.000 euros TTC
    </li>
  </ul>

  <p>
    Immobilier neuf : l'agent indépendant n'est pas habilité à contracter des
    mandats de vente pour des promotions immobilières, ou des biens soumis à
    permis d'aménager, si le nombre des lots principaux (hors caves et garages)
    à vendre dans l'opération est supérieur à 15. Dans ce cas, notamment pour
    les promoteurs nationaux, le mandat est conclu directement par la société
    {enterprise_name}, qui en déléguera la commercialisation aux agents suivant
    convention séparée.
  </p>
  <p>
    L'agent commercial organise son activité comme il l'entend, il n'a pas à
    informer le mandant de ses absences et n'est pas tenu à une obligation de
    présence, ni d'horaires, ni de résultat.
  </p>
  <p>
    Compte tenu de son caractère intuitu personae, le présent contrat ne pourra
    être cédé ou transféré de quelque manière que ce soit au bénéfice d"un tiers
    sans l'accord préalable et écrit du mandant, en conformité des articles
    L134-1 et suivants du code de commerce.
  </p>

  <div style="page-break-inside:avoid">
    <div class="mt-3 sectionTitle">Article 3 -Lieu d'activité</div>

    <p>
      Le mandataire n'a ni secteur spécialement attribué, ni exclusivité de
      secteur, ni catégorie de clientèle particulière. Il peut donc prospecter
      auprès de toute personne et sur tout le territoire de la France
      métropolitaine.
    </p>

    <p>
      L'objet du présent contrat étant la prospection, le mandataire organise
      son travail à sa guise.
    </p>
  </div>

  <div class="mt-3 sectionTitle">Article 4 -Conditions de vente et tarifs</div>

  <p>
    Le mandataire respectera les conditions de vente qui lui seront indiquées
    par le mandant pour chaque affaire ou type d'affaires.
  </p>

  <p>
    Les conditions tarifaires d'intervention de la société {enterprise_name}
    ont été remises dès avant les présentes au négociateur indépendant qui le reconnaît.
    Le mandataire pourra librement de sa seule initiative consentir des remises sur
    ledit tarif s'il le juge nécessaire.
  </p>

  <p>
    Le mandataire ne pourra en aucun cas exiger de rémunération supérieure au
    tarif.
  </p>

  <div class="mt-3 sectionTitle">
    Article 5 -Information - Rapports - Documents
  </div>

  <p>
    Le mandataire tiendra le mandant au courant du résultat de ses opérations.
    Les modalités de cette information sont laissées entièrement à son
    initiative, sous réserve des dispositions du cahier des charges, mais
    celle-ci devra être suffisamment abondante pour que le mandant puisse
    l'utiliser dans sa gestion.
  </p>

  <div class="mt-3 sectionTitle">
    Article 6 -Durée - Résiliation à l'initiative du mandataire - Déclaration du
    mandataire - Clause résolutoire expresse
  </div>

  <p>
    Le présent contrat est conclu pour une durée indéterminée à compter de la
    date de signature des présentes. Il pourra être rompu à tout moment, par
    l'une ou l'autre des parties, par lettre recommandée avec accusé de
    réception, le lendemain de la date de réception étant retenu comme point de
    départ du délai.
  </p>

  <p>
    <strong> Déclaration du mandataire: </strong>
    le mandataire déclare avoir reçu, préalablement à la signature des présentes,
    toutes explications sur les dispositions légales et réglementaires relatives
    à la profession et s'engage à les respecter. Toute infraction sur ce point engagerait
    sa responsabilité et constituerait en outre une faute grave entraînant la rupture
    immédiate du présent contrat, sans préavis ni indemnité, si bon semble au mandant.
  </p>

  <p>
    <strong> Clause résolutoire expresse: </strong>
    Je présent contrat pourra être rompu, sans commandement de faire de ne pas faire
    ou de payer préalable, si bon semble au mandant, en cas de manquements graves
    aux présentes conventions, sans préavis ni indemnité (exemple de manquements
    graves : défaut d'inscription au registre des agents commerciaux, défaut de paiement
    des sommes dues au mandant, dépassement de mandat, non respect de la loi du 2
    janvier 1970 dite loi Hoguet et de son décret d'application).
  </p>

  <p>
    Les conséquences de l'exercice de ladite clause résolutoire seront les
    suivantes :
  </p>

  <ul>
    <li>
      à compter de la réception par le mandataire ou à défaut de la première
      présentation infructueuse de la lettre recommandée informant le mandataire
      de la volonté du mandant d'user de la clause résolutoire, la société
      {enterprise_name} pourra cesser de fournir toute prestation au profit du mandataire
      (notamment sans que cette liste soit limitative: accès et service au site web
      et au logiciel de transaction immobilière, accès aux divers modules de formation,
      ... );
    </li>
  </ul>

  <p>
    La résiliation du contrat de mandataire indépendant par le mandant ou le
    mandataire n'ouvre pas droit à une indemnité compensatrice du préjudice
    subi, la clientèle d'une agence immobilière n'étant pas renouvelable à
    courts délais et disparaissant suite à la transaction réalisée. Il en va de
    même en cas de décès ou d'incapacité physique du mandataire.
  </p>

  <p>
    Pour le cas où une indemnité légale serait réclamée par Je mandataire à
    l'occasion de la rupture du présent contrat, les parties entendent rappeler
    qu'il s'agit d'une indemnité compensatrice du préjudice subi et qu'il
    appartiendra en conséquence au mandataire de démontrer l'existence du
    préjudice, d'en justifier le montant et d'établir le lien de cause à
    <strong> effet </strong>
    direct entre la rupture et le préjudice allégué.
  </p>

  <div class="mt-3 sectionTitle">Article 7 -Honoraires</div>

  <p>
    <strong> Pour l'activité transaction immobilière : </strong> en rémunération
    de ses services, et pour toutes les affaires qu'il aura apportées par mandat
    et négociées, le mandataire percevra des honoraires dont le taux est fixé de
    la manière suivante :
  </p>

  <p>
    <strong>
      • la rémunération de l'agent commercial est fixée à 65 % de la commission
      d'agence globale hors taxe facturée au client lorsque l’agent réalise
      moins de 35.000 € de commissions.
      <br />
      • De 35.000 € à 100.000 €, la rémunération est fixée à 85 %
      <br />
      • A partir de 100.000 €, la rémunération est fixée à 90 %
    </strong>
  </p>

  <p>
    Les honoraires du mandataire ne sont acquis qu'après la conclusion
    définitive de l'affaire, c’est-à-dire :
  </p>

  <ul>
    <li>
      après la levée de la dernière des conditions suspensives prévues au
      contrat et
    </li>
    <li>
      après signature de l'acte définitif et lorsque le mandant aura perçu sa
      propre rémunération (conditions cumulatives).
    </li>
  </ul>

  <p>
    Le Mandataire a la faculté de parrainner. Il se verra alors attribué une
    rémunération forfataire de cinq mille euros lorsque chacun de se(s)
    filleul(s) aura atteint le seuil de chiffres d’affaires de 50.000 €.
    L’intégration du filleul dans le réseau est somis aux condtions d’éligiblité
    de {enterprise_name}.
  </p>

  <div class="mt-3 sectionTitle">
    Article 8 -Formation d'intégration et formation continue
  </div>

  <p>
    Le mandataire non confirmé s'engage à suivre sauf dérogation préalablement à
    l'exercice de son activité la formation dite "formation d'intégration"
    dispensée par le mandant. Cette formation d'intégration a une durée de
    quatre jours au minimum. Le coût de la formation est prise en charge par le
    mandataire selon son statut et catégorie socio-professionnelle. De même,
    tout mandataire devra respecter les obligations de formation continue mises
    à sa charge par la Loi n°2014-366 du 24 mars 2014 pour l’accès au logement
    et un urbanisme rénové dite « LOI ALUR ».
  </p>

  <p>
    Le conjoint ou le partenaire de l'agent commercial aura accès gratuitement à
    tous les modules de formation proposés par la société {enterprise_name}
    ou par la société dispensatrice des formations continues (dans la mesure des
    places disponibles et sur inscription préalable).
  </p>

  <p>
    Le conjoint ou partenaire de l'agent commercial est expressément autorisé à
    assister gratuitement aux formations dispensées dans la mesure des places
    disponibles.
  </p>

  <div class="mt-3 sectionTitle">Article 9 -Divers</div>

  <ol>
    <li>
      Le mandataire décide lui-même du temps qu'il entend consacrer à son
      activité, sans obligation de résultat
    </li>
    <li>
      Le mandataire s'oblige à respecter les dispositions du cahier des charges
      et de tout autre annexe qui font partie intégrante des présentes et en
      constituent une part essentielle et déterminante sans lesquelles les
      parties n'auraient pas contracté
    </li>
    <li>
      Le mandataire déclare être libre de tout engagement et ne pas être lié à
      une autre agence Immobilière, dans le cadre d'une clause de
      non-concurrence
    </li>
    <li>
      Le mandant reste libre de conclure autant de contrats d'agents commerciaux
      qu'il le jugera nécessaire pour assurer le développement de la SAS
      {enterprise_name}.
    </li>
  </ol>

  <div class="mt-3 sectionTitle">Article 10 - Droit de suite</div>

  <p>
    En cas de rupture du présent contrat et quelle que soit la cause de cette
    rupture, le mandataire aura droit aux honoraires dans les conditions
    définies ci-dessus, sur toutes les affaires qui auront fait l'objet de la
    signature d'un compromis de vente avant la date de rupture du présent
    contrat. Cet article ne concerne que les compromis ou promesses de vente.
  </p>

  <div class="mt-3 sectionTitle">
    Article 11 - Absence de clause de non-concurrence
  </div>

  <p>
    En cas d'acceptation de nouveaux mandats ou adjonction d'une nouvelle
    activité par le mandataire, celui-ci sera tenu d'en informer le mandant
    préalablement et par écrit. Si le mandant considère que cette nouvelle
    activité est incompatible avec l'image de la société {enterprise_name}
    le mandant pourra résilier si bon lui semble le présent contrat, sans préavis
    ni indemnité, dans les conditions prévues dans la clause résolutoire expresse
    ci-avant énoncée.
  </p>
  <p>
    Le mandataire ne peut accepter la représentation d'une entreprise
    concurrente sans l'accord écrit du mandant et ce à peine de dommages et
    intérêts.
  </p>
  <p>
    Le mandataire ne pourra ni recruter, ni utiliser, directement ou
    indirectement les employés, agents, anciens employés ou anciens agents de la
    société {enterprise_name}.
  </p>
  <p>
    Il n'est pas prévu de clause de non-concurrence, la clientèle d'une agence
    immobilière n'étant pas renouvelable à courts délais et disparaissant suite
    à la transaction réalisée. En conséquence le droit à indemnité prévu par la
    loi en cas de cessation de contrat sera fixé sans tenir compte de la
    clientèle.
  </p>

  <div class="mt-3 sectionTitle">
    Article 12 - Contrat de fourniture de services
  </div>

  <p>
    Le mandant met d'ores et déjà à la disposition du mandataire l'ensemble des
    moyens nécessaires à l'accomplissement de sa mission d'agent commercial
    (notamment carte professionnelle, papeterie papier, formation d'intégration
    avec apprentissage d’une technique commerciale complète). Néanmoins, pour
    des raisons pratiques, le mandataire souhaite bénéficier de services
    supplémentaires définis en un contrat de fourniture de services.
  </p>

  <div class="mt-3 sectionTitle">Article 13-Règlement des différents</div>

  <p>
    TOUTE CONTESTATION RELATIVE AUX PRESENTES SERA SOUMISE À LA CHAMBRE
    COMMERCIALE DU TRIBUNAL DE GRANDE INSTANCE DE PARIS.
  </p>

  <div class="mt-3 sectionTitle">
    Article 14 - Protection des données personnelles
  </div>

  <p>
    Les Informations personnelles portées sur ce formulaire sont enregistrées
    dans un fichier informatisé. Nous ne traiterons ou n'utiliserons vos données
    que dans la mesure où cela est nécessaire pour votre d'immatriculation en
    qualité d'agent commercial, votre habilitation, la gestion et l’accès à nos
    services en ligne. Vos informations personnelles sont conservées pendant
    toute la relation contractuelle et l’accomplissement des obligations
    légales.
  </p>
  <p>
    Pendant cette période, nous menons en place tous moyens aptes à assurer la
    confidentialité et la sécurité de vos données personnelles, de manière à
    empêcher leur endommagement, effacement ou accès par des tiers non
    autorisés.
  </p>
  <p>
    Conformément à la loi • informatique et libertés• du 6 janvier 1978 modifiée
    et au Règlement européen n°2016/679/UE du 27 avril 2016 (applicable dès le
    25 mai 2018), vous bénéficiez d'un droit d'accès, de rectification, de
    portabilité et d'effacement de vos données ou encore de limitation du
    traitement. Vous pouvez également, pour des motifs légitimes vous opposer au
    traitement des données vous concernant. Vous pouvez, sous réserve de la
    production d'un justificatif d'identité valide, exercer vos droits en
    contactant le Délégué à la protection des données, M. Yann REBOURG,
    domicilié professionnellement au siège de {enterprise_name}
    SAS. Toutefois, les informations indispensables à la bonne gestion de la relation
    client pourront être conservées même en cas de demande de suppression.
  </p>
  <p>
    Pour toute Information complémentaire ou réclamation, vous pouvez contacter
    la Commission Nationale de l'informatique et des Libertés (plus
    d'informations sur www.cnil.fr).
  </p>
  <p>
    Enfin, nous vous informons de l’existence de la liste d'opposition au
    démarchage téléphonique Bloctel sur laquelle vous pouvez vous Inscrire
    (https://conso.bloctel.fr/).
  </p>

  <div class="mt-3 sectionTitle">Article 15</div>

  <p>
    Toute pratique dérogatoire du mandant aux engagements prévus dans le présent
    contrat d'agent commercial, transaction, dans le cahier des charges, ou dans
    le contrat de fourniture de services, ne constitueront qu'une tolérance, et
    ne seront en aucun cas créateurs de droits pour l'agent commercial, même si
    cette tolérance perdure pendant une longue période.
  </p>

  <ContractSign />

  <!-- End -->
  <div class="mb-5" />

  <!-- Page break -->
  <div style="page-break-before:always" class="mb-5" />

  <h2 class="mt-4 text-2xl">
    II. Cahier des charges Annexe au contrat d'agent commercial
  </h2>

  <div class="mt-3 sectionTitle">
    Article 1 - Tarif commissions TTC / TVA au taux applicable soit 20% à ce
    jour
  </div>

  <p>
    Le tarif des commissions a été remis dès avant les présentes à l'agent
    commercial.
  </p>

  <div class="mt-3 sectionTitle">
    Article 2 -Publicité • Réception de clientèle
  </div>

  <p>
    Il est rappelé au négociateur immobilier que le fait de recevoir la
    clientèle immobilière de manière habituelle sur le lieu d'exercice de son
    activité ou commerce habituel est interdit. Il en est de même pour la
    réception de clientèle dans un autre bureau ou à son domicile. En effet,
    ceci obligerait le négociateur à transformer son local en succursale de
    l'agence immobilière, impliquant par là même toute une série d'obligations
    légales (affichage divers, présence permanente du titulaire de la carte
    d'agent immobilier, etc.).
  </p>

  <p>
    Par conséquent le mandataire veillera avec un soin tout particulier à ce que
    ses locaux ne puissent d'aucune manière être assimilés à une agence
    Immobilière ou à un établissement secondaire au sens de l'article 8 du
    décret du 20 juillet 1972.
  </p>

  <p>
    Le mandataire ne peut pas exercer les fonctions de direction définies à
    l'article 16 du décret du 20 Juillet 1972, ni être bénéficiaire du récépissé
    prévu par l'article 8 alinéa 5 du même décret.
  </p>

  <p>
    Tous les documents du mandataire doivent reproduire les mention s
    obligatoires éditées par la loi. Ils doivent notamment faire apparaître la
    qualité d'agent commercial négociateur immobilier indépendant. Le numéro
    d'immatriculation au RSAC le tout en conformité de la loi du 24 mars 2014
    dite loi ALUR.
  </p>

  <div class="mt-3 sectionTitle">
    Article 3 -Mandats de vente - Documents professionnels
  </div>

  <p>
    Tous les formulaires vierges sont disponibles sur l'extranet géré par
    {enterprise_name}. L'agent commercial imprime les formulaires de mandats ou
    tout autre document à partir de ces modèles. Dans tous les cas les mandats
    ou documents ne pourront pas être altérés et devront comporter les mentions
    obligatoires relatives aux différentes législations en vigueur. Aucun autre
    type de mandat ne sera toléré à l'exception des mandats « TISSOT • dans leur
    dernière version existante. Ceux-ci devront avoir été préalablement
    complétés par l'apposition des coordonnées complètes du mandant.
  </p>

  <p>
    Conformément aux dispositions de la loi HOGUET, toutes les affaires dont
    s'occupe le mandataire devront avoir donné lieu au préalable à un mandat de
    vente d0ment numéroté et reporté sur les registres officiels obligatoires du
    mandant, titulaire de la carte professionnelle (registre des mandats).
  </p>

  <p>
    Le mandataire fera parvenir au siège, dans les 20 jours de leur signature,
    un exemplaire original des mandats de vente, de location et de recherche.
  </p>

  <p>
    Le mandataire s'engage à utiliser pour la prise de mandat le service de
    prise de numéro de mandat par téléphone (SMS). Il s'engage également à
    saisir sans délai sur la page web dédiée tout mandat recueilli par ses
    soins. Le tout de manière que la législation relative à la tenue du registre
    des mandats soit scrupuleusement respectée.
  </p>

  <p>
    Toutes les résiliations de mandats doivent être adressées par le client
    vendeur au siège de la société {enterprise_name}. Pour le cas où un client
    résilierait un mandat par courrier adressé au négociateur, ce dernier devra
    sous 24 heures avertir le siège de cette résiliation et en envoyer une
    copie.
  </p>

  <div class="mt-3 sectionTitle">Article 4 -Compromis de vente</div>

  <p>
    L'agent commercial s'engage à assister personnellement à la signature des
    compromis de vente, des baux ou des promesses de vente en l'étude du notaire
    choisi par l'acquéreur ou le vendeur. Il veille personnellement et sous sa
    seule responsabilité à faire constater dans l'avant contrat le droit à
    commission du mandant et son exigibilité à la signature de l'acte définitif.
  </p>
  <p>
    L’agent commercial devra également vérifier avant la signature d'un avant
    contrat la solvabilité du vendeur : si la commission mise à la charge du
    vendeur n'est pas payée pour quelque cause que ce soit notamment saisie ou
    absorption du prix par les créanciers hypothécaires, le mandant ne pourra en
    aucun cas en être tenu pour responsable.
  </p>
  <p>
    Si la situation financière du vendeur est obérée, empêchant le paiement de
    la commission, l'agent commercial veille à ce que la commission d'agence,
    prévue au mandat soit mise à la charge de l'acquéreur, de manière à
    sauvegarder les intérêts financiers de l'agence et du mandataire.
  </p>
  <p>
    Enfin la société {enterprise_name} décline toute responsabilité en cas de perte
    d'une commission pour cause de mauvaise rédaction du mandat ou d'absence de compte
    rendu de visite ou pour toute autre cause qui ne lui est pas directement imputable.
  </p>
  <p>
    À chaque compromis de vente ou Bail ou promesse de vente Il est attribué le
    jour même, Immédiatement à sa signature, un numéro dans le registre des
    actes. Ce numéro est attribué au compromis, au bail, à la promesse, à
    l’initiative de l’agent commercial. Le mandataire s'engage à utiliser pour
    la prise de numéro de registre des actes, le service de prise de numéro de
    compromis par téléphone (SMS) mis à sa disposition par le mandant. Il
    s'engage également à saisir sans délai sur la page web dédiée tout compromis
    de vente, bail ou promesse de vente Intervenu par son Intermédiaire. Le tout
    de manière à ce que la législation relative à la tenue du registre des actes
    soit scrupuleusement respectée. Tout compromis de vente signé devra faire
    l'objet d'une transmission en copie par mail ou courrier, dans les 48 heures
    au siège de la société {enterprise_name}.
  </p>

  <div class="mt-3 sectionTitle">Article 5 -Acte notaire définitif</div>

  <p>
    Le négociateur devra assurer le suivi complet de l'affaire jusqu'à la
    signature de l'acte authentique, relancer les partie s et les assister,
    vérifier l'avancement du dossier en l'étude du notaire choisi et surveiller
    l'accomplissement des conditions suspensives. Il devra particulièrement
    veiller à ce que l'information sur la réalisation de la condition suspensive
    de prêt arrive entre les mains du vendeur avant l'expiration du délai de
    production prévu à l'avant contrat.
  </p>

  <p>
    Le mandant devra être informé de la date prévisionnelle de signature de
    l'acte notarié définitif avant l’émission de la facture destinée au client,
    et de la copie destinée au notaire est faite par le mandataire sous sa
    responsabilité, en utilisant l'outil extranet dédié. Avant coute signature
    d'acte authentique consécutif à un compromis de vente ou une démarche d'un
    mandataire de {enterprise_name}, Il sera établi une facture représentant la
    totalité de la commission d'agence.
  </p>

  <p>
    Il devra personnellement s'assurer du versement de la commission entre les
    mains du mandant, précision étant faite que seuls les virements, chèques
    certifiés, chèques de banques ou chèques provenant d'un notaire sont
    acceptés comme moyen de paiement.
  </p>
  <p>
    L'encaissement à titre exceptionnel d’un chèque simple d'un particulier par
    la société {enterprise_name} ne constituerait qu'une simple tolérance et ne saurait
    engager la responsabilité de la société si le chèque n'était pas honoré.
  </p>
  <p>
    De même, dès signature du bail notarié, de l'acte de vente réitérant le
    compromis ou la promesse, une copie sans forme de l'acte devra parvenir au
    siège dans les 48 heures, ou une attestation de signature rédigée par le
    notaire ayant instrumenté la vente.
  </p>
  <p>
    Le mandataire veillera scrupuleusement à ce que l'acte notarié mentionne la
    commission due à l'agence, son montant, la date et le numéro de mandat
    ouvrant droit à rémunération, ainsi que l'accord du débiteur pour le
    paiement de la commission due à {enterprise_name}.
  </p>
  <p>
    Aucun paiement n'est exigible par le mandataire avant que la commission ne
    soit définitivement encaissée. Après encaissement par le mandant du chèque
    ou du virement correspondant à la commission globale de l'agence, le
    règlement dû au mandataire se fera sans délai.
  </p>

  <div class="mt-3 sectionTitle">
    Article 6 -Utilisation du site web {enterprise_name}
    ou autres insertions publicitaires
  </div>

  <p>
    Il est strictement interdit de procéder à la mise en ligne d'une affaire sur
    Internet, ou à sa publicité, quel que soit le support, sans en détenir le
    mandat. Le négociateur devra préalablement à toute mise en ligne
    d'informations sur les biens en vente, vérifier scrupuleusement leur
    exactitude, ce dont Il est seul responsable. Toute modification des
    conditions du contrat de mandat devra impérativement être faite par écrit.
    Aucun changement des conditions du mandat ne devra être pris en compte dans
    une publicité ou une publication en ligne (exemple baisse de prix) s'il n'a
    pas fait l'objet préalablement d'un écrit contresigné par le client (nouveau
    mandat) De même, lors de la fin d'un mandat, quel qu’en soit la cause, le
    négociateur devra Immédiatement procéder au retrait de l'affaire du site de
    {enterprise_name} et de tous les autres sites ou supports où cette affaire aurait
    été publiée. Il est seul responsable des Informations mises en ligne ou figurant
    dans une publicité.
  </p>
  <p>
    Toute publicité devra respecter la législation en vigueur, notamment
    l'arrêté du 29 juin 1990 relatif à la publicité des prix pratiqués par des
    professionnels intervenant dans des transactions immobilières.
  </p>
  <p>
    L'agent commercial n'est pas autorisé à mettre les biens en ligne sur un
    site personnel autre que celui géré par le mandant, sauf dérogation expresse
    écrite du mandant.
  </p>

  <div class="mt-3 sectionTitle">
    Article 7 -Cartes de visite - papier à en-tête - panneaux
  </div>

  <p>Le mandataire fera sa publicité à ses frais exclusifs.</p>

  <p>
    Conformément à la législation en vigueur toute publicité relative à son
    activité proposée par le mandataire ou tout document commercial mentionne de
    manière très apparente qu'il exerce sous le statut d'agent commercial
    indépendant. Cette obligation de mentionner le statut d’agent commercial est
    étendue au mandat de vente ou de recherche et à tous les documents d’une
    transaction immobilière à laquelle l’agent commercial participe.
  </p>

  <div class="mt-3 sectionTitle">Article 8 - Adresse email professionnelle</div>

  <p>
    Pendant toute la durée de sa collaboration avec le réseau {enterprise_name},
    le mandataire se verra attribuer une ou plusieurs adresses email dédiées.
  </p>

  <div class="mt-3 sectionTitle">
    Article 9 - Autres règles générales pour la publicité de biens à vendre ou à
    louer
  </div>

  <p>
    Un impératif de transparence doit être respecté. La diffusion de publicité
    par vole écrite (publication, affichage, prospectus) nécessite, notamment,
    la mention du numéro SIREN de l'agent commercial, ainsi que la mention "ne
    pas jeter sur la voie publique" Les informations complémentaires propres à
    la réglementation de l'activité d'agents immobiliers doivent également
    figurer dans toute publicité. Le régime applicable à la publicité
    électronique prévoit aussi que la publicité doit rendre « clairement
    identifiable » la personne pour le compte de laquelle est réalisée la
    publicité.
  </p>
  <p>
    La loi impose aussi que le message soit formulé en langue française (loi
    Toubon du 4 août 1994).
  </p>
  <p>
    Un message en langue étrangère est licite s'il est accompagné d'une
    traduction française, à condition qu'elle soit aussi lisible, intelligible
    et audible que la présentation en langue étrangère (circulaire du 19 mars
    1996).
  </p>
  <p>
    Par ailleurs, le message publicitaire ne doit pas porter atteinte aux droits
    des tiers. C'est le cas si une publicité dénigre une autre entreprise ou
    imite la publicité d'autrui. Dans ce cas, une action en concurrence déloyale
    pourra être mise en œuvre. En outre, si une publicité utilise la marque ou
    l'œuvre d’un tiers, Il s’agit d'un acte de contrefaçon (de marque ou d'œuvre
    d'art), qui est susceptible de faire l'objet de poursuites pénales. il en
    est ainsi si on utilise une musique sans l'autorisation de l'auteur et de
    ses ayants droit pour accompagner un film publicitaire, ce qui est
    formellement Interdit.
  </p>

  <div class="mt-3 sectionTitle">Article 10 - Assurances</div>

  <p>
    Conformément à loi dite "ALUR" promulguée le 24 mars 2014, le négociateur
    devra souscrire une l'assurance responsabilité civile professionnelle. Il
    devra justifier de cette assurance au mandant une fois par an selon les
    modalités fixées par le mandant.
  </p>

  <p>De même, le négociateur déclare avoir été expressément averti :</p>

  <ul>
    <li>
      de l'obligation de déclarer à l'assureur de son véhicule l'utilisation
      professionnelle partielle ou complète de celui-ci
    </li>
    <li>
      que la sanction en cas de non déclaration est la nullité du contrat
      d'assurance et donc l'absence d'indemnisation en cas d'accident
    </li>
  </ul>

  <div class="mt-3 sectionTitle">
    Article 11 - Comptabilité - Rapports avec les administrations ou un
    employeur
  </div>

  <p>
    La société {enterprise_name} s'occupe, à la demande du négociateur, et sous condition
    expresse de fourniture sans délais de toutes les pièces, de l'immatriculation
    auprès du registre spécial des agents commerciaux. Pour le choix de son régime
    fiscal ou social, le négociateur s’engage à s'entourer d'un expert-comptable,
    qui assurera le suivi de ses déclarations fiscales et sociales. À défaut d'indications
    plus précises, Il sera procédé à l'immatriculation de l'agent sous le régime
    de l'auto­ entrepreneur dès signature des présentes. De même le négociateur devra
    s'assurer que la signature du présent contrat le cas échéant respecte le contrat
    de travail avec son employeur actuel privé ou public. Il devra vérifier sa compatibilité
    avec tout autre statut. L'agent s'engage à communiquer copie de la fiche INSEE
    et de sa demande éventuelle d'option pour la TVA auprès des services fiscaux.
  </p>

  <p>
    La TVA sur ses commissions sera applicable pour l'agent commercial qu'après
    fourniture au mandant d'un numéro de TVA intracommunautaire.
  </p>

  <div class="mt-3 sectionTitle">
    Article 12 - Convention d'utilisation de noms commerciaux
  </div>

  <p>
    Le mandataire s'engage à utiliser le nom {enterprise_name}
    • éventuellement accompagné de son nom patronymique et de son prénom.
  </p>

  <p>
    Si le mandataire souhaite utiliser une marque dédiée (nom commercial
    spécifique), cet usage fera Impérativement l’objet entre les parties de
    conventions séparées et formalités supplémentaires aux frais du mandataire,
    à savoir:
  </p>

  <ul>
    <li>
      le cas échéant une convention sur le prénom et le nom patronymique ;
    </li>
    <li>
      dépôt d'une marque semi figurative effectué par le mandant à son profit ;
    </li>
    <li>contrat de licence de marque entre le mandant et le mandataire ;</li>
    <li>
      demande d'inscription au registre national d'un acte affectant la
      propriété ou la jouissance d'un dépôt ;
    </li>
    <li>promesse de cession de marque au profit du mandataire.</li>
  </ul>

  <p>Comme condition essentielle et déterminante :</p>

  <ul>
    <li>
      en cas d'utilisation d'un nom commercial spécifique tous ces documents
      seront rédigés et ces démarches seront effectuées par un avocat ou conseil
      spécialisé en propriété industrielle choisi d'un commun accord ;
    </li>
    <li>
      dans tous les cas de figure qui' l y ait ou non utilisation d'un nom
      commercial spécifique sur tous les documents commerciaux de l'agent y
      compris les panneaux publicitaires, il devra être précisé de manière très
      apparente la qualité d'agent commercial indépendant de la société
      {enterprise_name}.
    </li>
  </ul>

  <p>
    L’agent commercial pourra exercer son activité dans le cadre d'une marque
    déposée par le mandant mais dédiée à un autre agent commercial. Cependant,
    la SAS {enterprise_name} se décharge de toute responsabilité envers le mandataire,
    dans le cas où l’agent utilisant la marque mettrait fin à son contrat de collaboration.
    Il est en effet rappelé à ce titre que {enterprise_name}
    conclu une promesse de cession de marque et ne saura être tenu responsable en
    cas de cession d’activité de l’agent utilisant la marque.
  </p>

  <div class="mt-3 sectionTitle">Article 13 - Droit à l'image</div>

  <p>
    Selon les articles 226-1 à 226-8 du Code civil, tout Individu jouit d'un
    droit au respect de sa vie privée ainsi que d'un droit à l'image. L’agent
    commercial donne son consentement préalable et autorise {enterprise_name}, à
    publier ou reproduire toute photographie ou vidéo où figure le mandataire,
    notamment à des fins de communication sur le site Internet de la société ou
    tout autre site web ou support. Il est également précisé que la charte
    graphique, le nom commercial ou tout support le contenant ne devra pas être
    utilisé à d'autres fins que la transaction immobilière pour le compte du
    mandant. Le mandant pourra à tout moment demander à l'agent de cesser toute
    communication qui lui paraîtrait Inappropriée.
  </p>

  <div class="mt-3 sectionTitle">
    Article 14 - Partage des commissions Inter-agence
  </div>

  <p>
    Rémunération d’un apporteur d'affaires ne possédant pas la qualité d'agent
    immobilier : il est rappelé que l'agent commercial ayant signé le mandat de
    vente d 'un bien est seul juge de l'opportunité et du montant de la
    rémunération pouvant bénéficier à un particulier non agent immobilier lui
    ayant présenté un acquéreur potentiel pour son bien. Cette rémunération sera
    payée à l'apporteur d'affaire par les soins et sous la responsabilité de
    l'agent commercial. Entre négociateurs du réseau {enterprise_name}
    : il est rappelé que l'agent commercial ayant signé le mandat de vente d'un bien
    est seul Juge de l'opportunité de partager la part de commission lui revenant
    avec un autre agent commercial du réseau lui ayant par exemple présenté un acquéreur
    pour son bien. Tout accord de ce type entre deux agents commerciaux devra faire
    l'objet d'un écrit communiqué au siège, avant la signature de la promesse synallagmatique,
    du compromis, de la promesse de vente ou du bail, et devra mentionner le pourcentage
    de répartition ou la répartition prévue.
  </p>
  <p>
    À défaut de production d'un écrit, l'intégralité de sa commission sera
    versée au négociateur ayant procédé à la signature du mandat, sans que
    l’autre négociateur ayant participé à l'affaire ne puisse élever aucune
    contestation d'aucune sorte. Avec une autre agence immobilière : Le partage
    d'honoraires est possible avec une autre agence. La commission revenant à
    l'agent sera calculée, avec comme base, la part de commission effectivement
    perçue par le mandant, déduction faite de la partie d'honoraire revenant à
    l'autre (ou les autres) agence(s). Le négociateur {enterprise_name}
    ayant procédé à l'établissement du mandat demandera au siège de {enterprise_name},
    l'établissement d'une délégation de mandat au profit d'une autre agence
    délégataire.
  </p>
  <p>
    Le négociateur de {enterprise_name} présentant un acquéreur à une autre agence,
    demandera, préalablement au siège de {enterprise_name}, la signature de la
    délégation de mandat établie par le déléguant.
  </p>

  <ContractSign />

  <!-- Page break -->
  <div style="page-break-before:always" class="mb-5" />

  <h2 class="mt-4 text-2xl">III. Contrat de fourniture de services</h2>

  <ContractForm {id} />
  <br />
  <strong>
    Préalablement aux présentes, les parties rappellent ce qui suit :
  </strong>

  <p>
    Le mandant met d'ores et déjà à disposition du mandataire l'ensemble des
    moyens, documentation et informations nécessaires à l'accomplissement de sa
    mission d'agent commercial. Le mandataire reconnait être ainsi en mesure
    d'exécuter son contrat d'agent commercial.
  </p>

  <p>
    Néanmoins, pour des raisons pratiques, le mandataire a souhaité bénéficier
    de services supplémentaires non indispensables à l'accomplissement de sa
    mission, et ce, pour la durée de son contrat d'agent commercial.
  </p>

  <strong>Il a été convenu et arrêté ce qui suit :</strong>

  <div class="mt-3 sectionTitle">
    Article 1 -Assistance juridique et commerciale - Package services
  </div>

  Ces services fournis par {enterprise_name} consistent en, savoir :

  <ul>
    <li>
      assistance juridique aux opérations relatives à sa profession de
      négociateur immobilier sur rendez-vous au siège ou simple appel
      téléphonique les jours ouvrables aux horaires qui seront fournis (en
      principe heures de bureau), éclaircissements juridiques au cas par cas
      concernant les situations rencontrées, y compris l'assistance à la
      rédaction des mandats et la veille juridique
    </li>
    <li>
      assistance commerciale aux opérations relative à sa profession de
      négociateur immobilier sur rendez-vous au siège ou simple appel
      téléphonique les jours ouvrables aux horaires qui seront fournis (en
      principe heures de bureau), élaboration au cas par cas d'une stratégie
      commerciale,
    </li>
    <li>
      mise à disposition du service de prise de numéro de mandat par internet et
      accès à la page dédiée pour la saisie,
    </li>
    <li>
      mise à disposition du service de prise de numéro de compromis par internet
      et accès à la page dédiée pour la saisie.
    </li>
    <li>
      mise à disposition de l'extranet dédié complet permettant: le suivi des
      dossiers, des filleuls, la facturation, les publications sur le site de
      {enterprise_name}, les exports vers les sites d'annonces référencés dont
      la liste est disponible sur simple demande (précision étant fait que les
      exports vers d'autres sites que celui de {enterprise_name}
      sont payables à l'annonce par le négociateur indépendant suivant le barême
      infra),
    </li>
    <li>
      assistance administrative sur rendez-vous au siège ou simple appel
      téléphonique les jours ouvrables aux horaires qui seront fournis (en
      principe heures de bureau).
    </li>
  </ul>

  <p>
    En cas d'usage abusif du service, la société {enterprise_name}
    est susceptible de facturer en sus le temps passé.
  </p>

  <strong>Rémunération des services</strong>

  <p>
    En contrepartie de ses services détaillés sous l'article 1, {enterprise_name},
    percevra une rémunération forfaitaire de cinq cent euros (500 €) en une seul
    fois.

    <!-- pour chaque acte authentique signé
    dans le cadre de l'activité de l'agent. rémunération calculée comme suit
    (sauf avenant dérogatoire signé entre {enterprise_name} et l'agent): -->
  </p>

  <!-- <p>Clause d'aucherisation</p>

  <p>
    En cas de compromis inter-agent, la rémunération forfaitaire sera facturée
    150 H.T. à chaque négociateur intervenant dans la vente. Pour l'activité
    "location" la rémunération forfaitaire des services est de 150 € HT.
  </p> -->

  <!-- <div style="page-break-inside:avoid;">
    <strong> Autres frais taxables </strong>

    <ul>
      <li>
        gestion de site, de la papeterie, du nom de domaine pour les agents
        travaillant sous marque propre dédiée: 200 euros H.T./an
      </li>
      <li>changement de RIB: 30 euros H.T.</li>
    </ul>

    <p>
      Pour les formations, le mandant se réserve le droit de demander une
      participation aux frais de location de salle.
    </p>
  </div> -->

  <strong> Paiement des export vers les sites d'annonces </strong>

  <p>
    Le négociateur, outre la publication de ses affaires sur le site de la
    société {enterprise_name}, a la faculté de les exporter vers d'autres sites
    d'annonces, sans que cela soit une obligation. A titre indicatif, extrait
    des exports disponibles: SeLoger, Le Bon Coin / À vendre à louer,...
  </p>

  <strong> Durée du contrat - Indexation </strong>

  <p>
    Le présent accord de fourniture de services est valable pour toute la durée
    du contrat de négociateur immobilier dont il a été question plus haut, et
    prendra fin en même temps que lui. le montant de l'assistance ci-dessus fixé
    sera soumis à révision annuelle et augmenté de plein droit
    proportionnellement à l'indice du coût de la construction publié par
    l'INSEE. Sera tenu comme indice de référence initial le dernier indice
    publié à la date des présentes.
  </p>

  <div class="mt-3 sectionTitle">Article 2 -Licence informatique</div>

  <strong> Exposé préliminaire</strong>

  <p>
    La société {enterprise_name} a acquis, développé et mis en ligne un site web
    et un logiciel de transaction immobilière destinés à abriter l’ensemble des offres
    de biens immobiliers du réseau de ses agents commerciaux. Ce site, ce logiciel
    ainsi que toutes les données contenues sont la propriété exclusive de la société
    {enterprise_name}, à l'exception des coordonnées des clients vendeurs et
    acquéreurs qui sont la propriété commune de l'agence et du mandataire -
    négociateur. Le présent accord a pour objet de définir les conditions
    d'accès au dit site et logiciel et de mise à disposition. La présente
    licence Informatique d'utilisation de données est obligatoirement souscrite
    en même temps et pour la même durée que le contrat d'agent commercial dont
    il fait partie intégrante.
  </p>

  <strong> Charges et conditions technique </strong>

  <p>
    Le mandataire devra s'équiper d'un téléphone portable et mentionner le
    numéro d'appel correspondant sur toutes ses publicités. Installer sur son
    ordinateur personnel en tant que de besoin l'interface informatique fournie
    par le mandant et spécifique à l'enseigne, lui permettant de gérer son
    portefeuille de clients vendeurs ou acheteurs. Il devra également publier
    sur le site Internet toutes ses affaires prises à la vente ou à la location
    et utiliser uniquement, pour son activité professionnelle, l'adresse mail
    qui lui sera fournie par {enterprise_name}, à l'exclusion de tout autre.
  </p>

  <strong> Mise à disposition </strong>

  <p>
    La mise à disposition de ce service débute dès la signature des présentes.
  </p>

  <div style="page-break-inside:avoid;">
    <strong> Conditions financières </strong>

    <p>
      Le coût mensuel de la mise à disposition de la licence est compris dans le
      « package services ».
    </p>
  </div>

  <div class="mt-3 sectionTitle">Article 3 -Règlement des différends</div>

  <p>
    TOUTE CONTESTATION RELATIVE AUX PRÉSENTES SERA SOUMISE A LA CHAMBRE
    COMMERCIALE DU TRIBUNAL DE GRANDE INSTANCE DE PARIS.
  </p>

  <p>
    Fait en deux exemplaires sur trois pages, dont un remis dès à présent à
    l'agent commercial qui le reconnaît.
  </p>

  <ContractSign />

  <!-- End -->
  <div class="mb-5" />
</div>

<style>
  .sectionTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
  }

  p {
    text-align: justify;
    font-size: 0.9rem;
  }

  li {
    text-align: justify;
    font-size: 0.9rem;
  }
</style>
