<script>
  import enterprise_customization from "../../../../enterprise_customization.ts";
</script>

<div class="grid grid-cols-2">
  <div class="border">
    Date:
    <br /><br />
    L'Agent Commercial
  </div>
  <div class="border">
    Date:
    <br /><br />

    {enterprise_customization.enterprise_name}
  </div>
</div>
