<script>
  import ContractForm from "./ContractForm.svelte";
  import ContractSign from "./ContractSignature.svelte";

  export let id;

  import enterprise_customization from "../../../../enterprise_customization.ts";
  import enterprise_data from "../../../../enterprise_data.ts";

  const { enterprise_name, website } = enterprise_customization;
</script>

<div class="container mx-auto" contenteditable="true">
  <button class="print:hidden btn btn-primary" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>

  <div class="flex justify-between">
    <div>
      <div class="text-3xl">Contrat d'agent commercial</div>
    </div>
    <div>
      <img
        alt="logo"
        class="print:block max-w-[300px] max-h-[80px]"
        src={enterprise_customization.logourl}
      />
    </div>
  </div>

  <p>Entre les soussignés:</p>

  <p>
    La société {enterprise_data.agency_name || "____________________"},
    Entreprise Unipersonnelle à Responsabilité Limitée au capital de
    {enterprise_data.capital || "____________________"}
    dont le siège est situé à PAPARA (TAHITI) PK 33 côté montagne, BP 12407 PAPARA
    98712 TAHITI (Polynésie Française), immatriculée au RCS de Papeete sous le numéro
    21 344B, N° TAHITI E46779, titulaire de la carte professionnelle 2022-1 Transactions
    sur immeubles et fonds de commerce, sans manipulation de fonds, délivrée par
    le Ministère de l'Économie et des Finances de Polynésie Française, avec garantie
    bancaire de 2.000.000 XPF Banque SOCREDO numéro de compte 21667590000, assurance
    de responsabilité professionnelle par Allianz avec couverture de la Polynésie
    Française, représenté par son gérant, Toerau MOUT-HAM, ayant tous pouvoirs à
    l’effet des présentes.
  </p>

  <p>
    Ci-après dénommée indifféremment «le mandant», «l'agence» ou «{enterprise_customization.enterprise_name}»
    d'une part,
  </p>

  <p>Et:</p>

  <ContractForm {id} />
  <br />
  Il a été convenu et arrêté ce qui suit :

  <div class="mt-3 section">
    Article 1 - Déclarations et engagements de l’agent commercial relatifs à
    l’exercice de l’activité commerciale et au respect de la réglementation des
    agents immobiliers
  </div>

  <strong> EXERCICE D’UNE ACTIVITÉ COMMERCIALE </strong>

  <p>
    L'agent commercial déclare et certifie sur l’honneur ne pas être frappé
    d’une des condamnations exposées dans le chapitre VIII, titre II, livre Ier,
    du Code de Commerce relatif aux incapacités d'exercer une profession
    commerciale ou industrielle.
  </p>

  <p>
    L’agent commercial supporte toutes les charges sociales et fiscales lui
    incombant. Il s’engage donc vis-à-vis de l’Agence à :
  </p>

  <p>
    1 / Communiquer dans le délai d’un mois, toutes modifications ou changements
    de nature à modifier le présent contrat ou la nature de celui-ci ; voir en
    empêcher sa réalisation et contrainte à la suspension de celui-ci ou en
    dernier lieu l’annulation de ce contrat.
  </p>
  <p>
    2 / En cas de non-respect de ces engagements, dans les délais sus-indiqués,
    ce contrat sera automatiquement rompu, devenant sans objet. Les parties
    reconnaissent que cette situation est un élément substantiel de leur accord
    réciproque.
  </p>

  <strong>EXERCICE D’UNE ACTIVITÉ RÉGLEMENTÉE </strong>

  <p>
    La Société {enterprise_name} accorde à l’agent commercial qui l’accepte, le mandat
    de la représenter à titre de professionnel auprès de la clientèle. L’agent commercial
    procède à la recherche de vendeurs, d’acheteurs, de propriétaires bailleurs et
    de locataires pour le compte du mandant, dans les conditions qui seront ci-après
    précisées.
  </p>

  <p>
    A propos du lien de subordination. Le présent contrat ne constitue en aucun
    cas un contrat de travail salarié. Il ne saurait instituer entre l’agent et
    son mandant un quelconque lien de subordination.
  </p>

  <p>
    L’agent commercial s’engage à restituer immédiatement cette attestation dont
    il est question ci-avant à la demande de l’Agence par lettre recommandée
    avec accusé de réception, ou du Préfet ou du Procureur de la République.
  </p>

  <p>
    Si l’agent commercial emploie du personnel, s’il utilise un bureau personnel
    ou une voiture personnelle pour l’exécution de son mandat, il le prend à ses
    frais, risques et périls. Il doit souscrire personnellement les assurances
    et prendre les garanties nécessaires à cet égard, sans que jamais la
    responsabilité de l’Agence ne puisse être engagée ni recherchée. D’une
    manière générale, l’agent commercial supporte personnellement et
    exclusivement tous les frais occasionnés par l’exercice de son activité, et
    par l’accomplissement du présent contrat.
  </p>

  <div class="mt-3 section">
    Article 2 - Régime juridique du contrat et qualité de l'agent commercial
  </div>

  <p>
    L'agent commercial a le statut de travailleur indépendant, régi par le
    chapitre IV, titre III du livre Ier du code de commerce.
  </p>

  <p>
    Le présent contrat ne peut être considéré comme un contrat de travail, ni
    être soumis aux conditions des articles L.751-1 et suivants du Code du
    Travail. Le présent mandat est consenti et accepté dans l’intérêt commun des
    parties qui déclarent qu’il n’existe aucun lien de subordination entre
    elles, que le présent contrat ne sera en aucun cas visé par le statut de VRP
    et que l’agent commercial n’est pas salarié du mandant.
  </p>

  <p>Dans ces conditions, l’Agent commercial :</p>

  <p>
    1/ s’engage à ne pas déclarer le produit de ses commissions résultant du
    présent contrat au titre des paiements et salaires.
  </p>
  <p>
    2/ devra organiser librement son travail, sans avoir à être sous les ordres
    de l’Agence, de manière à réaliser au mieux sa mission. Il organise son
    activité comme il l’entend, il n’a pas à informer l’Agence de ses absences,
    il n’est pas tenu à une obligation de présence, ni d’horaires.
  </p>
  <p>
    L’Agence est 100% en ligne ne laissera pas à la disposition de l’Agent
    commercial un bureau, internet, ni aucun autre support. L’agent devra se
    donner les moyens techniques d’exercer ses fonctions.
  </p>

  <div>
    <div class="mt-3 section">
      Article 3 - Conditions d’exercice du Contrat d’Agent.
    </div>

    <p>
      La société {enterprise_name} confie à l’agent, le mandat de la représenter
      à titre de professionnel. L’agent procèdera à la recherche de vendeurs et d’acheteurs,
      de propriétaires bailleurs et de locataires, pour le compte de la société {enterprise_name}.
      Il s’efforcera d’obtenir la signature des contrats de vente ou de
      recherche, ou des contrats de location et de gestion. Il devra déployer
      toutes diligences pour permettre de parvenir à la signature de contrats de
      vente ou de contrats de location, suivant les modalités qui seront ci
      après précisées à l’article suivant.
    </p>

    <p>
      L’agent commercial est notamment mandaté pour développer la clientèle de
      son mandant. Il est rappelé que cette clientèle est développée sous
      couvert de l’attestation délivrée par le mandant ; et qu’elle appartiendra
      toujours exclusivement au mandant. En ce sens, le fichier client reste
      seule propriété du mandant. L’agent organise son activité comme il
      l’entend, il n’a pas à informer le mandant de ses absences, il n’est pas
      tenu à une obligation de présence, ni d’horaires. Il n’existe aucun lien
      de subordination entre les parties. L’agent recherchera des vendeurs ou
      des bailleurs, en vue de la conclusion par {enterprise_name} de mandats exclusifs
      ou non de vente et ou de location.
    </p>

    <p>
      L’objet du présent contrat étant la prospection, le mandataire organise
      son travail à sa guise, mais dans le but de réaliser un maximum
      d’affaires.
    </p>

    <p>
      L’agent déclare bien connaître les dispositions légales et réglementaires
      relatives à la profession et s’engage à les respecter.
    </p>

    <p>
      Toute infraction sur ce point engagerait sa responsabilité et
      constituerait une faute grave entrainant la rupture immédiate du présent
      contrat, sans préavis ni indemnité.
    </p>
  </div>

  <div class="mt-3 section">Article 4 - Obligations de l’Agent.</div>

  <p>
    L’agent devra veiller aux intérêts du mandant et agir loyalement et de bonne
    foi, dans le respect des dispositions légales relatives à la transaction et
    à la gestion immobilière. Notamment, il devra respecter scrupuleusement les
    mandats de vente, mandats de location ou mandats de recherche qui ont été
    confiés à la société {enterprise_name}, soit directement, soit par son
    intermédiaire.
  </p>

  <p>
    L’agent respectera les conditions de vente et tarifs qui lui seront indiqués
    par le mandant pour chaque type d’affaires. Il devra cependant informer la
    clientèle de ces tarifs. Il ne pourra déroger au tarif ou modifier ces
    conditions, qu’avec l’accord express du mandant.
  </p>

  <p>
    L’agent doit exécuter exactement la mission qui lui est confiée, il est tenu
    aux obligations de tout mandataire, et notamment, à l’obligation de se
    conformer aux instructions commerciales du mandant, d’endosser la
    responsabilité de ses fautes dans l’accomplissement de sa tâche et d’une
    manière générale dans l’exécution du présent contrat.
  </p>

  <p>
    Obligation d’information : L’agent tiendra le mandant au courant du résultat
    de ses opérations. Les modalités de cette information sont entièrement à son
    initiative, mais celle-ci devra être suffisamment abondante et précise pour
    que le mandant puisse l’utiliser dans sa gestion et ses relations avec la
    clientèle.
  </p>

  <p>
    Obligation de confidentialité : L’agent ayant, du fait de son mandant,
    connaissance de documents et renseignements de caractère confidentiel
    intéressant le mandant, il s’interdit formellement de diffuser par quelque
    moyen que ce soit, des informations dont il aurait connaissance dans
    l’exercice de ses fonctions, tant en ce qui concerne le mandant que sa
    clientèle. Cette interdiction vaut non seulement pendant la période
    d’exécution du présent contrat, mais éventuellement au-delà de la date de
    rupture.
  </p>

  <div class="mt-3 section">Article 5 - Obligations du Mandant.</div>

  <p>
    L’agence prendra à sa charge:

    <br />
    <strong> 1 / </strong>

    Une adresse mail personnalisée au nom de l’agent commercial
    (prénom@anoahome.com) sera pris en charge par l’Agence, ainsi que les accès
    au logiciel professionnel de l’Agence, dont tous les contenus sont
    strictement confidentiels.

    <br />
    <strong> 2 / </strong>Des cartes de visite personnalisées au nom de l’agent
    commercial et du numéro de téléphone dédié à l’activité seront pris en
    charge par l’Agence dès la première vente.
  </p>

  <p>
    Le mandant s’engage à fournir au mandataire les moyens nécessaires à
    l’exécution du contrat et notamment lui fournir toutes informations utiles
    sur les biens à la vente ou à la location et lui procurer les informations
    nécessaires à l’exécution du présent mandat.
  </p>

  <p>
    Le mandant fournira à l’agent toute annonces de ventes ou locations sur le
    site d’{enterprise_name}, son FACEBOOK et tous autres supports.
  </p>

  <p>
    Il bénéficiera également de la diffusion de ses annonces publicitaires sur
    des supports de communication externe telle que {website} et tous autres supports
    choisis par le mandant.
  </p>

  <div class="mt-3 section">Article 6 - Pouvoirs de l’Agent Commercial.</div>

  <p>
    Le mandant donne à l’agent commercial les pouvoirs suivants :

    <br />
    - Prospecter et développer la clientèle, aussi bien que la recherche d’acquéreurs,
    de loueurs, vendeurs ou bailleurs.
    <br />
    - Exploiter au mieux le fichier clientèle existant et les mandats déjà obtenus
    au profit du mandant ou au profit d’agences partenaires du mandant.
    <br />
    - Recueillir les signatures des mandats de vente et de recherche concernant la
    mise en vente et intentions d’achats.
    <br />
    - Les mandats de vente ou de recherche seront immédiatement transmis à l’agence
    {enterprise_name} pour la tenue du registre des mandats
    <br />
    - Faire visiter les lieux et communiquer sur lesdits biens.
    <br />
    - Collecter tous les documents nécessaires aux signatures des compromis de vente
    qui se dérouleront au sein des études de notaires ou cabinet d’avocats.
    <br />
    - Accompagner les clients vendeurs, acquéreurs, bailleurs ou loueurs dans leurs
    démarches administratives ou financières et ceci jusqu’à l’aboutissement de la
    vente, par acte authentique devant notaire ou avocat, ou jusqu’à la signature
    des baux devant notaires, ou avocat.
  </p>

  <p>
    L’agent commercial agit au nom et pour le compte de l’Agence. Il s’engage à
    faire figurer, sur ses documents commerciaux notamment, sa qualité d’agent
    commercial et les références professionnelles du titulaire de la Carte
    Professionnelle.
  </p>

  <p>
    L'agent commercial n’est pas habilité à négocier les affaires, et
    <strong>ne</strong>
    peut :
    <br />
    - ni rédiger d'actes sous seing privé, incluant notamment les baux et compromis
    de vente,
    <br />
    - ni percevoir de fonds.
  </p>

  <p>
    L’Agence s’engage à permettre à l’Agent commercial d’exécuter son mandat et
    notamment lui renouveler l’attestation professionnelle, lui transmettre
    toutes les informations relatives à sa mission, tenir à sa disposition tous
    documents nécessaires à sa mission, de l’informer de la suite des opérations
    apportées par l’Agent commercial.
  </p>

  <p>
    L’agent commercial pourra rédiger et faire signer les bons de visites par
    les acquéreurs potentiels. L’agence prendra à sa charge les cartes de
    visites et autres flyers publicitaire, ainsi que les supports en lignes.
  </p>

  <p>
    Le bon de visite mentionnera ses coordonnées légales complétées de celles de
    son mandant, la société {enterprise_name} grâce au logiciel de gestion d’agence,
    pour la signature en ligne. L’agent commercial pourra également faire signer
    aux acquéreurs potentiels les lettres d’intention d’achat, à informer le vendeur
    de leur proposition.
  </p>

  <div class="mt-3 section">Article 7 - Date d’effet et durée du contrat</div>

  <p class="mb-0">
    Le présent mandat est conclu et accepté pour une durée indéterminée à
    compter du
  </p>
  <div>
    <input type="text" />
  </div>
  <p>
    sous réserve d’obtention, dans un délai maximum de huit semaines de la
    signature des présentes, son visa sur l’attestation professionnelle de
    l’agent commercial mandataire.
  </p>
  <p>
    Les parties peuvent mettre fin au présent contrat par lettre recommandée
    avec avis de réception en respectant une durée de préavis égale à un mois.
  </p>
  <p>
    Tout manquement de l’Agent commercial à ses obligations contractuelles ou à
    la déontologie professionnelle, toutes erreurs qu’un professionnel
    normalement diligent aurait évitées, le fait de négliger de prospecter la
    clientèle, la cessation de l’activité professionnelle du mandant
    constitueront un motif légitime de résiliation des présentes sans préavis.
  </p>

  <div class="mt-3 section">
    Article 8 - Commission de l'agent commercial, établissement de la
    facturation et règlement
  </div>
  <!-- 70% -->
  <p>
    En contrepartie de ses services, l'agent commercial percevra une commission
    dont le taux de base est fixé à 70 % de la commission de l’Agence (Hors
    Taxe, droits éventuellement dus à des tiers).
  </p>

  <p>
    Ce taux de 70 % correspond à l’accomplissement par l’Agent commercial d’une
    mission complète (APPORT et VENTE / LOCATION). Néanmoins, ce taux peut aussi
    être décomposé de la façon suivante :
    <br />
    <strong>VENTE </strong>
    <br />
    - APPORT de l’affaire par l’Agent commercial dans le fichier avec mandat et dossier
    technique complet, suivi de mandat jusqu’à la vente : 40 %
    <br />
    - VENTE de l’affaire par l’Agent commercial, signature d’un compromis, suivi
    et assistance à la signature chez le notaire : 30 %
    <br />
    <strong>LOCATION</strong>
    <br />
    - APPORT de l’affaire par l’Agent commercial dans le fichier avec mandat et dossier
    technique complet, suivi de mandat jusqu’à la location : 40 %
    <br />
    - LOCATION de l’affaire par l’Agent commercial, recherche du locataire, signature
    d’un bail, suivi : 30 %
  </p>

  <!-- 50 % -->

  <!-- <p>
    En contrepartie de ses services, l'agent commercial percevra une commission
    dont le taux de base est fixé à 50 % de la commission de l’Agence (Hors
    Taxe, droits éventuellement dus à des tiers).
  </p>

  <p>
    Ce taux de 50 % correspond à l’accomplissement par l’Agent commercial d’une
    mission complète (APPORT et VENTE / LOCATION). Néanmoins, ce taux peut aussi
    être décomposé de la façon suivante :
    <br />
    <strong>VENTE </strong>
    <br />
    - APPORT de l’affaire par l’Agent commercial dans le fichier avec mandat et dossier
    technique complet, suivi de mandat jusqu’à la vente : 30 %
    <br />
    - VENTE de l’affaire par l’Agent commercial, signature d’un compromis, suivi
    et assistance à la signature chez le notaire : 20 %
    <br />
    <strong>LOCATION</strong>
    <br />
    - APPORT de l’affaire par l’Agent commercial dans le fichier avec mandat et dossier
    technique complet, suivi de mandat jusqu’à la location : 30 %
    <br />
    - LOCATION de l’affaire par l’Agent commercial, recherche du locataire, signature
    d’un bail, suivi : 20 %
  </p> -->

  <strong> Facturation : </strong>

  <p>
    L'agent commercial établit les factures détaillant l’objet de la vente, avec
    ou sans TVA, en fonction de son niveau de revenus.
  </p>

  <strong>Droit à commission : </strong>

  <p>
    Le droit à commission est ouvert lorsqu’une opération est définitivement
    conclue. Par opérations effectivement conclues il faut entendre celles qui
    sont constatées par un acte authentique ou sous seing privé constatant la
    réalisation définitive et sans conditions suspensive de l’opération, pour
    lequel l’agence aura réellement été crédité sur le compte bancaire.
  </p>

  <p>
    Le droit à commission ne peut s’éteindre que s’il est établi que le contrat
    entre le tiers et le mandant ne sera pas exécuté et si l’inexécution n’est
    pas due à des conditions imputables au mandant.
  </p>

  <strong> Règlement : </strong>

  <p>
    Le règlement de la commission de l’Agent commercial se fait le jour de
    l’encaissement de la commission par l’Agence.
  </p>

  <strong> Droit à commission après fin du contrat : </strong>

  <p>
    Les opérations apportées par l’Agent commercial au cours du présent mandat,
    mais définitivement conclues après sa cessation ouvriront à l’Agent
    commercial son droit à commission dans un délai maximum de 6 mois. Aucune
    autre indemnité ne pourra être réclamée par l’Agent commercial à l’issue du
    présent mandat.
  </p>

  <div class="mt-3 section">Article 9 - Fidélité et confidentialité</div>

  <p>
    L’Agent commercial a le droit d’accepter la représentation de nouveaux
    mandants, sans avoir à en référer à l’Agence. Toutefois, il ne peut accepter
    la représentation d’une entreprise concurrente sans l’accord de l’Agence, et
    ce à peine de dommages et intérêts. L’Agent commercial s’interdit
    d’effectuer des opérations pour son propre compte, en concurrence avec
    l’Agence.
  </p>

  <p>
    L’Agent commercial s’engage à
    <strong> ne pas divulguer </strong>
    à des personnes étrangères à l’Agence, les méthodes, procédés et techniques qui
    lui seront révélés au cours de l’exécution des présentes. Il reconnait avoir
    été informé que la violation de ces engagements est constitutive du délit de
    divulgation d’informations internes.
  </p>

  <div class="mt-3 section">Article 10 - Clause de Non-Concurrence</div>

  <p>
    L'agent reconnaît et accepte que pendant une période de six (6) mois suivant
    la fin de son contrat avec Anoa Home, il/elle s'engage à ne pas se livrer à
    une activité concurrente directe ou indirecte dans le secteur immobilier sur
    le secteur des îles du vent et des îles sous-le-vent. Cela inclut, mais sans
    s'y limiter, l'exercice de toute activité en tant qu'agent commercial, agent
    immobilier, courtier immobilier, consultant en immobilier, ou toute autre
    fonction similaire auprès de toute autre agence immobilière ou entreprise
    opérant dans le même domaine que l’agence Anoa Home.
  </p>
  <p>
    L'agent reconnaît également que cette clause de non-concurrence vise à
    protéger les intérêts commerciaux légitimes de Anoa Home et à maintenir la
    confidentialité des informations commerciales sensibles auxquelles l'agent a
    eu accès. En cas de violation de cette clause de non-concurrence, l'agent
    sera tenu responsable des dommages et intérêts ainsi que de tous les frais
    de justice encourus par l’agence Anoa Home. Cette clause de non-concurrence
    survivra à la résiliation du contrat entre l'agent et l'Agence Immobilière.
  </p>

  <div class="mt-3 section">Article 11 - Droit de suite</div>

  <p>
    En cas de rupture du présent contrat et quelle que soit la cause de cette
    rupture, le mandataire aura droit aux honoraires dans les conditions
    définies ci-dessus, sur toutes les affaires qui auront fait l'objet de la
    signature d'un compromis de vente avant la date de rupture du présent
    contrat. Cet article ne concerne que les compromis ou promesses de vente. En
    cas de contestation relative aux présentes, les parties font attribution de
    compétence au Tribunal de Commerce de PAPEETE.
  </p>

  <p>
    Le présent contrat est établi en trois exemplaires, Agence, Agent
    Commercial, greffe pour inscription. Chaque page est paraphée par les
    parties et la dernière est signée.
  </p>

  <ContractSign />
</div>

<style>
  .section {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
  }

  p {
    text-align: justify;
    font-size: 0.9rem;
  }
</style>
