<script>
  import { onMount } from "svelte";
  export let id;

  onMount(async () => {
    Meteor.subscribe("user", id);
  });

  let item;
  let officialidtype = "Identité";

  $m: {
    item = Meteor.users.findOne(id);
    if (item?.officialId?.type == "passport") {
      officialidtype = "Passeport";
    }
  }
</script>

<div style="page-break-inside:avoid;">
  <div class="mt-2 mb-2">
    <span id="name">Nom</span>
    <input class="border-b" type="text" value={item?.contact?.surname || ""} />
    <span>Prénom</span>
    <input
      class="border-b"
      type="text"
      value={item?.contact?.firstname || ""}
    />
  </div>

  <div class="mb-2">
    <span id="address">Adresse</span>
    <input
      type="text"
      class="w-full border-b"
      value={item?.contact?.address || ""}
    />
  </div>

  <div class="mb-2">
    <span>Né(e) à</span>
    <input type="text" class="border-b" value={item?.birthplace || ""} />
    <span>le</span>
    <input type="text" class="border-b" value={item?.birthdate || ""} />
  </div>

  <div class="mb-2">
    <span>Nationalité</span>
    <input type="text" class="border-b" value={item?.nationality || ""} />
    <span>
      <!-- N. d'identité nationale -->
      {officialidtype}
    </span>
    <input type="text" class="border-b" value={item?.officialId?.value || ""} />
  </div>

  Ci-après dénommé(e) indifféremment « le mandataire » ou « l'agent commercial »
  ou « le négociateur indépendant », d'autre part.
</div>
