<script>
  import ContractFR from "./ContractFR.svelte";
  import ContractPF from "./ContractPF.svelte";
  export let id;

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { countryConfiguration } = enterprise_customization;
</script>

{#if countryConfiguration == "fr"}
  <ContractFR {id} />
{:else if countryConfiguration == "pf"}
  <ContractPF {id} />
{/if}
