<script>
  import { onMount } from "svelte";
  import { getProPath } from "../../../../enterprise_templates.ts";
  export let templatename;
  console.log(templatename);

  let Template;

  onMount(async () => {
    const path = getProPath(templatename);
    import(path).then((res) => (Template = res.default));
  });
</script>

<!-- add the template in the  App.svelte because of imports issues. -->
<svelte:component this={Template} />
