<script>
  import { onMount } from "svelte";
  import { getAdminPath } from "../../../../enterprise_templates.ts";
  export let templatename, id;

  let Template;

  onMount(async () => {
    const path = getAdminPath(templatename);
    import(path).then((res) => (Template = res.default));
  });
</script>

<svelte:component this={Template} {id} />
