<script>
  export let title, actionarray;

  let opendropvalue = "transform opacity-0 scale-95";
  const opendrop = () => {
    if (opendropvalue == "transform opacity-0 scale-95") {
      return (opendropvalue = "transform opacity-100 scale-100");
    }

    return (opendropvalue = "transform opacity-0 scale-95");
  };
</script>

<div class="p-10 m-10">
  <!--  -->
  <div class="relative inline-block text-left">
    <div>
      <button
        on:click={opendrop}
        type="button"
        class="inline-flex justify-center w-full px-4 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        {title}
        <!-- Heroicon name: mini/chevron-down -->
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <!-- Dropdown menu, show/hide based on menu state.
  
      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95" -->

    <div
      class="{opendropvalue}  absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->

        {#each actionarray as item}
          <a
            href={item.link}
            class="block px-4 py-2 text-sm text-gray-700"
            role="menuitem"
            tabindex="-1"
          >
            {item.name}
          </a>
        {/each}
      </div>
    </div>
  </div>
</div>
