<script>
  import { onMount } from "svelte";
  import AdvisorProperties from "./AdvisorProperties.svelte";
  import CallBackButton from "../contactUs/CallBackButton.svelte";
  import enterprise_customization from "../../../enterprise_customization.ts";

  const { enterprise_name, website } = enterprise_customization;
  export let id;

  onMount(async () => {
    Meteor.subscribe("user_id_username", id);
  });

  let thisuser;

  $m: {
    thisuser = Meteor.users.findOne({ $or: [{ username: id }, { _id: id }] });
  }
</script>

<svelte:head>
  <title>
    {thisuser?.contact?.firstname || ""}
    {thisuser?.contact?.surname || ""}
    {enterprise_name || ""}
    Transaction et Location immobilière
  </title>

  <!-- Description for Google and search engines -->
  <!-- <meta name="description" content="Agence immobilière Polynésie" /> -->

  <link
    rel="canonical"
    href="https://{website}/conseiller-immobilier/{thisuser?.username ||
      thisuser?._id}"
  />
</svelte:head>

<div class="container mx-auto my-12">
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
    <div class="col-span-1">
      {#if thisuser?.contact}
        {#if thisuser.contact.picture}
          <img
            alt="profile"
            width="120"
            class="mx-auto mb-3 rounded-lg"
            src={thisuser.contact.picture}
          />
        {/if}

        <h1 class="text-2xl text-center text-gray-600">
          {thisuser.contact.firstname || ""}
          {thisuser.contact.surname || ""}
        </h1>

        <ul class="mx-auto mb-3">
          {#if thisuser.contact.phone}
            <li class="mb-2 text-lg text-center">
              <a href="tel:{thisuser.contact.phone}">
                <i class="fa-solid fa-phone-volume text-[var(--main-color)]" />
                <span class="text-gray-600">
                  {thisuser.contact.phone}
                </span>
              </a>
            </li>
          {/if}

          {#if thisuser.contact.email || thisuser.emails[0].address}
            <li class="mb-2 text-lg text-center">
              <a href="mailto:{thisuser.contact.email}">
                <i class="fa-regular fa-envelope text-[var(--main-color)]" />
                <span class="text-gray-600">
                  {thisuser.contact.email || thisuser.emails[0].address}
                </span>
              </a>
            </li>
          {/if}

          <li class="mb-2 text-center">
            {#if thisuser.contact.facebook}
              <a class="p-1 text-2xl" href={thisuser.contact.facebook}>
                <i class="fa-brands fa-facebook text-[var(--main-color)]" />
              </a>
            {/if}
            {#if thisuser.contact.instagram}
              <a class="p-1 text-2xl" href={thisuser.contact.instagram}>
                <i class="fa-brands fa-instagram text-[var(--main-color)]" />
              </a>
            {/if}

            {#if thisuser.contact.linkedin}
              <a class="p-1 text-2xl" href={thisuser.contact.linkedin}>
                <i class="fa-brands fa-linkedin text-[var(--main-color)]" />
              </a>
            {/if}
            {#if thisuser.contact.tiktok}
              <a class="p-1 text-2xl" href={thisuser.contact.tiktok}>
                <i class="fa-brands fa-tiktok text-[var(--main-color)]" />
              </a>
            {/if}
            {#if thisuser.contact.twitter}
              <a class="p-1 text-2xl" href={thisuser.contact.twitter}>
                <i class="fa-brands fa-x-twitter text-[var(--main-color)]" />
              </a>
            {/if}

            {#if thisuser.contact.threads}
              <a class="p-1 text-2xl" href={thisuser.contact.threads}>
                <i class="fa-brands fa-threads text-[var(--main-color)]" />
              </a>
            {/if}

            {#if thisuser.contact.whatsapp}
              <a
                class="p-1 text-2xl"
                href="https://wa.me/{thisuser.contact.whatsapp}"
              >
                <i class="fa-brands fa-whatsapp text-[var(--main-color)]" />
              </a>
            {/if}

            <!-- https://t.me/+41794997040 -->
            {#if thisuser.contact.telegram}
              <a
                class="p-1 text-2xl"
                href="https://wa.me/{thisuser.contact.telegram}"
              >
                <i class="fa-brands fa-telegram text-[var(--main-color)]" />
              </a>
            {/if}
          </li>

          {#if thisuser.siret}
            <li>
              <span class="p-0 text-green-700">
                Siret:
                <span style="color:#4B5563">
                  {thisuser.siret}
                </span>
              </span>
            </li>
          {/if}
        </ul>

        <div class="p-4 text-center sm:px-0">
          <CallBackButton />
        </div>

        <div class="px-4 mt-4 text-justify sm:px-0">
          {thisuser.description ||
            "Spécialiste immobilier de ma région, je vous conseille dans vos projets immobiliers avec une implication et un sens du service que vous saurez apprécier. Exposez-moi vos envies, je me ferai un plaisir de vous accompagner, posez-moi toutes vos questions, je me ferai une joie d'y répondre. A bientôt!"}
        </div>
      {/if}
    </div>
    <div class="col-span-2">
      <AdvisorProperties {id} />
    </div>
  </div>
</div>
