<script>
  import { onMount } from "svelte";

  import { Assets_sale } from "../../api/assets_sale.js";
  import { Assets_rent } from "../../api/assets_rent.js";

  import SaleCardItem from "../properties/sale/SaleCardItem.svelte";
  import RentCardItem from "../properties/rent/RentCardItem.svelte";

  import Loading from "../Loading.svelte";

  export let id;

  let handleSale, handleRent;

  onMount(async () => {
    // Meteor.subscribe("mandates_for_sale_all");
    handleSale = Meteor.subscribe("for_sale_assets_advisor", id);
    handleRent = Meteor.subscribe("for_rent_assets_advisor", id);
  });

  let for_sale_assets, for_rent_assets;
  let isLoading = true;

  $m: {
    isLoading = !handleSale?.ready() && !handleRent?.ready();

    if (!isLoading) {
      for_sale_assets = Assets_sale.find().fetch();
      for_rent_assets = Assets_rent.find().fetch();
    }
  }
</script>

{#if isLoading}
  <!-- Loading... -->
  <Loading />
{:else}
  {#if for_sale_assets?.length > 0}
    <h2 class="mb-3 text-2xl text-center">Propriétes à vendre</h2>
    <div class="grid grid-cols-1 gap-6 mb-3 md:grid-cols-2">
      {#each for_sale_assets as item}
        <div class="pb-3 mx-auto">
          <SaleCardItem {item} />
        </div>
      {/each}
    </div>
  {/if}
  {#if for_rent_assets?.length > 0}
    <h2 class="mb-3 text-2xl text-center">Propriétes à la location</h2>
    <div class="grid grid-cols-1 gap-6 mb-3 md:grid-cols-2">
      {#each for_rent_assets as item}
        <div class="pb-3 mx-auto">
          <RentCardItem {item} />
        </div>
      {/each}
    </div>
  {/if}
{/if}
