<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../api/assets_sale";
  import { Assets_rent } from "../../api/assets_rent";
  import Loading from "../Loading.svelte";
  import SaleCardItem from "./SaleCardItem.svelte";
  import RentCardItem from "./RentCardItem.svelte";
  import { navigate } from "svelte-routing";

  import enterprise_customization from "../../../enterprise_customization";
  const { mandateCompulsory } = enterprise_customization;

  let handle_sale, handle_rent;
  let isLoading = true;

  onMount(async () => {
    if (mandateCompulsory) {
      handle_sale = Meteor.subscribe(
        "visible_for_sale_assets_limitDate_mandateCompulsory"
      );
      handle_rent = Meteor.subscribe(
        "visible_for_rent_assets_limitDate_mandateCompulsory"
      );
    } else {
      handle_sale = Meteor.subscribe("visible_for_sale_assets_limitDate", {
        months: 12,
      });
      handle_rent = Meteor.subscribe("visible_for_rent_assets_limitDate", {
        months: 12,
      });
    }

    Meteor.subscribe("thisuser");
  });

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }
    return favorites.find((element) => element.assetId == value);
  }

  let items, items_sale, items_rent;

  $m: {
    isLoading = !(handle_sale?.ready() && handle_rent?.ready());

    if (!isLoading) {
      // items_sale = Assets_sale.find({}, {}).fetch();
      items_sale = Assets_sale.find(
        { tags: { $ne: "Sous compromis" } },
        {}
      ).fetch();

      items_rent = Assets_rent.find({}, {}).fetch();
      // sort: { modifiedAt: -1 } does not work because different format
      // Problem because we have 2 different date format
      //"2023-08-27T11:11:32.069Z" //Sun Aug 27 2023 13:11:32 GMT+0200 (Central European Summer Time)
      //"2024-03-13T06:45:26.198Z"

      // Add type:"sale" to all items in items_sale array
      items_sale = items_sale.map((item) => ({
        ...item,
        type: "sale",
      }));

      // Similarly, you might want to add type:"rent" to items_rent
      items_rent = items_rent.map((item) => ({
        ...item,
        type: "rent",
      }));

      items = items_sale.concat(items_rent);
      items = items.sort((a, b) => {
        return new Date(b.modifiedAt) - new Date(a.modifiedAt); // Sort in ascending order (earliest to latest)
      });
    }
  }
</script>

{#if isLoading}
  <Loading />
{:else if items?.length > 0}
  <div class="w-full bg-slate-50">
    <div class="container px-10 pt-5 mx-auto p sm:px-0">
      <h4 class="mt-5 mb-5 text-2xl font-semibold text-center">
        Toutes nos dernières annonces immobilières
      </h4>

      <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-3 sm:grid-cols-2">
        {#each items as item}
          {#if item.type == "sale"}
            <SaleCardItem {item} />
          {:else if item.type == "rent"}
            <RentCardItem {item} />
          {/if}
        {/each}
      </div>
    </div>
  </div>
{/if}
