<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../api/assets_sale";
  import dayjs from "dayjs";
  import Loading from "../Loading.svelte";
  import { navigate } from "svelte-routing";
  // import Favorites from "../profile/Favorites.svelte";

  onMount(async () => {
    Meteor.subscribe("visible_for_sale_assets");
    Meteor.subscribe("thisuser");
  });

  async function favorites(value) {
    if (Meteor.userId()) {
      await Meteor.callAsync("user.push.favorite", value);
    } else {
      navigate("/login");
    }
  }

  function is_favorite(value) {
    const thisUser = Meteor.user();
    let favorites = [];
    if (thisUser?.favorites) {
      favorites = thisUser.favorites;
    }

    return favorites.find((element) => element.assetId == value);
  }

  let for_sale_assets = [];
  $m: {
    for_sale_assets = Assets_sale.find({}, { sort: { createdAt: -1 } }).fetch();

    for_sale_assets?.forEach(function (item) {
      item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");

      if (is_favorite(item._id)) {
        item.is_favorite = true;
      } else {
        item.is_favorite = false;
      }
    });
  }
</script>

<div class="container mb-5">
  <h4 class="mb-5 font-semibold text-center">
    Nos dernières annonces immobilières
  </h4>

  {#each for_sale_assets as item}
    <div class="mb-3 border-b">
      <div class="mb-3">
        <!-- {#if item.isVisible} -->
        {#if item.thumbnail}
          <a href="/for-sale/{item.slug ? item.slug : item._id}">
            <img
              alt=""
              loading="lazy"
              src={item.thumbnail}
              class="object-contain rounded max-h-[250px] max-w-[450px]"
            />
          </a>
        {/if}
      </div>
      <div class="py-2 mx-3 text-center">
        <h5 class="uppercase">
          <a href="/for-sale/{item.slug ? item.slug : item._id}">
            {item.title}
          </a>
        </h5>

        <span class="uppercase">
          {item.address?.city || ""}
          {item.address?.postalCode || ""}
        </span>

        <br />

        <!-- <button class="btn btn--light">Masquer</button> -->
        <!-- {item.is_favorite} -->

        {#if item.is_favorite}
          <i class="fa-solid fa-heart" />
          Sauvegardé
        {:else}
          <button
            on:click={() => {
              favorites(item._id);
            }}
            class="btn btn-color-main">Sauvegarder</button
          >
        {/if}
      </div>

      <div class="text-center">
        <p class="card-text">
          <span class="font-bold">
            {#if item.saleprice}{item.saleprice} €{/if}
          </span>
          <span>
            {#if item.livingArea}{item.livingArea} m²{/if}
          </span>
        </p>

        <p class="card-text text-start">
          {#if item.description}{item.description?.substring(0, 200)}{/if}
        </p>
      </div>
    </div>
    <!-- {/if} -->

    <!-- {#if item.slug}<a href="/for-sale/{item.slug}"> {item.slug} </a>{/if}
    {#if item.tags}
      {#each item.tags as tag}{tag}{/each}
    {/if}

    {#if item.categories}
      {#each item.categories as category}{category}{/each}
    {/if}

    {#if item.htmlcontent}{item.htmlcontent?.substring(0, 200)}{/if} -->
  {:else}
    <Loading />
  {/each}
</div>
