<script>
  import { onMount } from "svelte";

  import { Sale_Deeds } from "../../api/sale_deeds.js";
  import dayjs from "dayjs";
  import Loading from "../Loading.svelte";
  import { navigate } from "svelte-routing";

  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("sale_deeds");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();

  // let items = [];
  let items_owned = [];

  $m: {
    items_owned = Sale_Deeds.find(
      { userId: thisuserId },
      { sort: { createdAt: -1 } }
    ).fetch();

    if (items_owned) {
      items_owned.forEach(function (item) {
        item.createdAt = dayjs(item.createdAt).format("DD/MM/YYYY");
        item.htmlcontent = item.htmlcontent?.substring(0, 30);
        item.description = item.description?.substring(0, 30);
      });
    }
  }

  async function add_sale_deed() {
    const value = document.getElementById("title").value;
    await Meteor.callAsync("sale_deed.insert", value);

    saved_notification();
    navigate("/pro/acte-de-vente/" + res, {
      replace: true,
    });
  }
</script>

<div class="text-2xl">Actes de vente</div>
<!-- Add  -->
<div class="flex items-center gap-3">
  <div>
    <input
      class="input"
      type="text"
      placeholder="Titre de l'annonce"
      id="title"
      aria-describedby="title"
    />
  </div>
  <div>
    <button on:click={add_sale_deed} class="btn btn--light">
      Ajouter un nouvel acte
    </button>
  </div>
</div>
<!-- end new -->

<!-- My assets -->
<br /><br />
<h3>Mes actes de vente</h3>

{#if items_owned?.length > 0}
  <div class="p-3 bg-white rounded-xl">
    <table class="w-full">
      <thead>
        <tr>
          <th>Acte</th>
          <th>Bien</th>
          <th>Notaire</th>
          <!-- <th>Tags</th> -->
          <!-- <th>Categories</th> -->
          <th>Date signature</th>
        </tr>
      </thead>
      <tbody>
        {#each items_owned as item}
          <tr class="border-b">
            <td>
              {#if item._id}
                <a
                  href="/pro/acte-de-vente/{item._id}"
                  class="text-blue-600 underline"
                >
                  {item._id}
                </a>
              {/if}
            </td>
            <td>
              <!-- <a href="/for-sale/{item._id}"> -->
              {item.asset?.label || "-"}
              <!-- </a> -->
            </td>
            <td>
              {item.notary?.label || "-"}
            </td>
            <td>
              {item.signatureDate || ""}
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
        {/each}
      </tbody>
    </table>
  </div>
{:else}
  Aucun
{/if}
