<script>
  import { onMount } from "svelte";
  import { Sale_Deeds } from "../../api/sale_deeds.js";
  import { Contacts } from "../../api/contacts.js";
  import { Assets_sale } from "../../api/assets_sale.js";
  import { Mandates_For_Sale } from "../../api/mandates_sale.js";
  import enterprise_customization from "../../../enterprise_customization.ts";

  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  import dayjs from "dayjs";
  import Select from "svelte-select";

  export let id;

  onMount(async () => {
    Meteor.subscribe("sale_deed", id);
    Meteor.subscribe("contacts");
    Meteor.subscribe("for_sale_assets");
    Meteor.subscribe("mandates_for_sale_confirmed");
  });

  let item;
  let signatureDate;

  $m: {
    item = Sale_Deeds.findOne(id);

    if (item) {
      signatureDate = item.signatureDate;
    }
  }

  async function handle_notary(event) {
    const value = event.detail.value;
    const contact = Contacts.findOne(value);
    const result = { id: value, label: contact.surname };
    if (result) {
      await Meteor.callAsync("sale_deed.update.notary", id, result);
      saved_notification();
    }
  }

  async function saveSignatureDate(event) {
    if (signatureDate) {
      await Meteor.callAsync(
        "sale_deed.update.signatureDate",
        id,
        signatureDate
      );
      saved_notification();
    }
  }

  async function handle_asset(event) {
    const value = event.detail;
    if (value) {
      await Meteor.callAsync("sale_deed.update.asset", id, value);
      saved_notification();
    }
  }

  async function push_mandate(event) {
    const value = event.detail;
    if (value) {
      await Meteor.callAsync("sale_deed.update.mandate", id, value);
      saved_notification();
    }
  }

  // SELECT
  $m: notarySelection = Contacts.find(
    { type: { $in: ["notary"] }, createdBy: Meteor.userId() }
    // { sort: sortObject, limit: 100 }
  )
    .fetch()
    .map((x) => {
      let obj = {};
      obj.label = x.surname; //x.surname + " " + x.address.postalCode;
      obj.value = x._id;

      return obj;
    });

  $m: assetsSelection = Assets_sale.find(
    { userId: Meteor.userId() }
    // { sort: sortObject, limit: 100 }
  )
    .fetch()
    .map((x) => {
      let obj = {};
      obj.value = x._id;
      if (x.address?.postalCode) {
        obj.label = x.title + " " + x.address.postalCode;
      } else if (x.title) {
        obj.label = x.title;
      } else {
        obj.label = "Pas de titre " + x._id;
      }

      return obj;
    });

  $m: mandatesSelection = Mandates_For_Sale.find(
    { userId: Meteor.userId() },
    { sort: { mandate: -1 }, limit: 100 }
  )
    .fetch()
    .map((x) => {
      let obj = {};
      obj.value = x._id;
      obj.label = "Mandat: Nº" + x._id;
      obj.price = x.saleprice?.fees_included;

      if (x.saleprice?.fees_included) {
        obj.label +=
          " / Prix: " +
          x.saleprice.fees_included +
          enterprise_customization.currency;
      }

      return obj;
    });
</script>

{#if item}
  For sale /
  <!-- <a href="/for-sale/{item._id}">{item._id}</a> -->
  {#if item.createdAt}
    <br /> <i class="fa-regular fa-clock" />
    {item.createdAt.toLocaleDateString()}
  {/if}

  <div>
    <label for="notary" class="font-bold">
      <i class="fa-solid fa-address-book" />
      Notaire de l'acheteur</label
    >
    {#if item.notary}
      <!-- <a href="/pro/databases/contact/{item.notary.value}"> -->
      {item.notary.label}
      <!-- </a> -->
    {:else}
      <Select on:change={handle_notary} items={notarySelection} />
    {/if}
  </div>

  <div class="font-bold">Date de la signature de l'acte de vente</div>
  <input type="date" on:change={saveSignatureDate} bind:value={signatureDate} />

  <div>
    <strong> Biens </strong>

    {#if item.asset}
      {item.asset.label}
    {:else}
      <Select on:change={handle_asset} items={assetsSelection} />
    {/if}
  </div>

  Mandat:
  {#if item.mandate}
    {item.mandate.label}
  {:else}
    <Select on:change={push_mandate} items={mandatesSelection} />
  {/if}
{/if}
