<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  import Loading from "../Loading.svelte";
  import { Contacts } from "../../api/contacts";
  import { navigate } from "svelte-routing";

  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("contactsandowners");
  });

  const thisuserId = Meteor.userId();
  let contacts_owned = [];

  $m: {
    contacts_owned = Contacts.find(
      { createdBy: thisuserId, type: "seller" },
      { sort: { createdAt: -1 } }
    ).fetch();
    if (contacts_owned) {
      contacts_owned.forEach((contact) => {
        contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");
      });
    }
  }

  async function addContact() {
    const res = await Meteor.callAsync("contact.insert");
    saved_notification();
    navigate("/pro/databases/contact/" + res, {
      replace: true,
    });
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <!-- end new -->
  <!-- <span class="text-gray-400">
  Contacts (Be careful we do not want duplicates..... also contacts can have
  several emails ....)
</span> -->

  <h5 class="text-xl">
    <i class="fa-solid fa-users-between-lines text-[var(--main-color)]" />
    Mes vendeurs
  </h5>

  <!-- <a class="btn btn-secondary" href="/pro/contact/creation"> -->
  <button class="btn btn--light" on:click={addContact}>
    <i class="fa-solid fa-plus" />
    Ajouter un nouveau vendeur
  </button>
  <!-- </a> -->

  {#if contacts_owned.length > 0}
    <div class="overflow-x-auto">
      <table class="w-full text-left">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Phone</th>
            <!-- <th>Type</th> -->
          </tr>
        </thead>
        <tbody>
          {#each contacts_owned as contact}
            <tr
              class="border-b last:border-b-0 hover:bg-gray-100 hover:cursor-pointer"
              on:click={() => {
                navigate(`/pro/databases/contact/${contact._id}`);
              }}
            >
              <td class="py-2">
                {contact.surname || ""}
                {contact.firstname || ""}
              </td>
              <td class="py-2">
                {contact.emails?.[0] || "Aucun"}
              </td>
              <td>
                {contact.phone?.[0] || "Aucun"}
              </td>
              <!-- <td>
            {#each contact.type || [] as type}
              {type + " "}
            {/each}
          </td> -->
            </tr>
          {:else}
            <!-- <Loading /> -->
          {/each}
        </tbody>
      </table>
    </div>
  {/if}
</div>
