<script>
  import pro_customization from "../../../sidebar_pro_customisation.ts";

  // let transaction, gestion, newprograms, files, shop, bankloan;
  // let thisUserRole;

  $m: {
    // thisUserRole = Meteor.user()?.roles;
    // transaction = thisUserRole?.includes("transaction");
    // gestion = thisUserRole?.includes("gestion");
    // files = thisUserRole?.includes("files");
    // newprograms = thisUserRole?.includes("newprograms");
    // shop = thisUserRole?.includes("shop");
    // bankloan = thisUserRole?.includes("bankloan");
  }
</script>

<div class="h-full px-3 pb-20 overflow-y-auto bg-white dark:bg-gray-800">
  <ul class="space-y-2">
    {#each pro_customization?.general || [] as item}
      <li>
        <a
          class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          href={item.link}
          style="color:{item.color}"
        >
          <i class="{item.icon} pt-1" />
          <span class="ml-3">
            {item.label}
          </span>
        </a>
      </li>
    {/each}

    <div class="px-3 mt-4 mb-1">
      <span class="dark:text-gray-100">Vente</span>
    </div>

    <ul class="mb-2 space-y-2">
      {#each pro_customization?.transaction || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class="{item.icon} pt-1" />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      <div class="px-3 mt-4 mb-1">
        <span class="dark:text-gray-100">Location</span>
      </div>

      {#each pro_customization?.gestion || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class="{item.icon} pt-1" />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      {#if pro_customization?.files}
        <div class="px-3 mt-4 mb-1">
          <span class="dark:text-gray-100">Papeterie</span>
        </div>

        {#each pro_customization?.files || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if}

      {#if pro_customization?.bankloan}
        <div class="px-3 mt-4 mb-1">
          <span class="dark:text-gray-100">Prêts immobiliers</span>
        </div>

        {#each pro_customization?.bankloan || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if}

      {#if pro_customization?.new}
        <div class="px-3 mt-4 mb-1">
          <span class="dark:text-gray-100">Neuf</span>
        </div>

        {#each pro_customization?.new || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if}

      {#if pro_customization?.shop}
        <div class="px-3 mt-4 mb-1">
          <span class="dark:text-gray-100">Boutique</span>
        </div>

        {#each pro_customization?.shop || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if}
    </ul>
  </ul>
</div>
