<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  import Loading from "../Loading.svelte";

  const { lowres } = require("../../commonFunctions.ts");

  let handle;
  onMount(async () => {
    handle = Meteor.subscribe("users_roles");
  });

  let users;
  let filter = { isHidden: { $ne: true } };

  let isLoading = true;
  $m: {
    isLoading = !handle?.ready();
    if (!isLoading) {
      users = Meteor.users.find(filter, { sort: { createdAt: -1 } }).fetch();
      console.log({ users });
    }
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h1 class="text-xl">
    <i class="fa-solid fa-users-between-lines text-[var(--main-color)]" />
    Réseau
  </h1>

  {#if isLoading}
    <Loading />
  {:else if users}
    <div class="overflow-x-auto">
      <table class="w-full text-left">
        <thead>
          <tr>
            <th />
            <th class="text-left">Nom</th>
            <th class="text-left">Email</th>
            <th class="text-left">Phone</th>
            <!-- <th class="text-left"> Création </th> -->
          </tr>
        </thead>
        <tbody>
          {#each users || [] as user}
            <tr
              class="border-b cursor-pointer hover:bg-slate-50"
              on:click={() => (window.location.href = `/pro/user/${user._id}`)}
            >
              <td class="text-center min-w-[50px]">
                {#if user?.contact?.picture}
                  <img
                    class="w-20 mx-auto rounded"
                    alt="user"
                    src={lowres({ url: user.contact.picture })}
                  />
                {:else}
                  <i class="text-gray-600 fa-solid fa-user" />
                {/if}
              </td>
              <td>
                {#if !user.contact || (!user.contact.surname && !user.contact.firstname)}
                  Aucun
                {/if}

                {user.contact?.firstname || ""}
                {user.contact?.surname || ""}
              </td>
              <td>
                {user.contact?.email || user.emails?.[0]?.address}
              </td>
              <td>
                {user.contact?.phone || "Aucun"}
              </td>
              <!-- <td>{dayjs(user?.createdAt).format("DD/MM/YYYY")}</td> -->
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  {/if}
</div>
