<script>
  import { onMount } from "svelte";
  // import Loading from "../Loading.svelte";

  export let id;

  let item;

  onMount(async () => {
    Meteor.subscribe("user", id);
  });

  $m: {
    item = Meteor.users.findOne({ _id: id });
    console.log({ item });
  }
</script>

<h5>User</h5>

{#if item}
  <div class="p-3 bg-white rounded-xl">
    <table>
      <thead>
        <tr>
          <th />
          <th />
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-left">Nom</th>
          <td>
            {item?.contact?.firstname || ""}
            {item?.contact?.surname || ""}
          </td>
        </tr>
        <tr>
          <th class="text-left">Email</th>
          <td>{item.emails[0].address}</td>
        </tr>
        <tr>
          <th>Created At</th>
          <td>{item.createdAt}</td>
        </tr>
        <!-- <tr>
          <th>Last connection</th>
          <td>{item.lastConnection?.date}</td>
        </tr> -->
      </tbody>
    </table>
  </div>
{/if}
