<script>
  import { onMount } from "svelte";
  // import { Valuations } from "api/assets_sale";
  import { Valuations } from "../../api/valuations.js";
  // import Loading from "../Loading.svelte";
  import { navigate } from "svelte-routing";
  import enterprise_customization from "../../../enterprise_customization.ts";

  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("myvaluations");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();

  // let items = [];
  let items_owned = [];

  $m: {
    items_owned = Valuations.find(
      { userId: thisuserId },
      { sort: { createdAt: -1 } }
    ).fetch();

    console.log(items_owned);
  }

  async function addSaleEstimation() {
    const title = document.getElementById("title").value;
    const res = await Meteor.callAsync("valuations.insert", {
      title,
      type: "sale",
    });

    navigate("/pro/avis-de-valeur/vente/" + res, {
      replace: true,
    });
    saved_notification();
  }

  async function addRentEstimation() {
    const title = document.getElementById("title").value;
    await Meteor.callAsync("valuations.insert", { title, type: "rent" });

    saved_notification();
    navigate("/pro/avis-de-valeur/location/" + res, {
      replace: true,
    });
  }
</script>

<div class="text-xl">Avis de valeur</div>

<div class="flex items-center gap-3">
  <div>
    <input
      class="w-full input"
      type="text"
      placeholder="Titre de l'avis"
      id="title"
      aria-describedby="title"
    />
  </div>
  <div>
    <button class="btn btn--light" on:click={addSaleEstimation}>
      Ajouter un nouvel avis de valeur Vente
    </button>

    <button class="btn btn--light" on:click={addRentEstimation}>
      Ajouter un nouvel avis de valeur Locatif
    </button>
  </div>
</div>
<!-- end new -->

<!-- My assets -->
<h1 class="mt-5 text-lg">Mes avis de valeur</h1>

<div class="p-3 bg-white rounded-xl">
  <table class="w-full">
    <thead>
      <tr>
        <!-- <th/> -->
        <th class="text-left">Avis</th>
        <th class="text-left">Type</th>
        <th class="text-left">Title</th>
        <!-- <th class="text-left">Description</th> -->
        <!-- <th>Tags</th> -->
        <!-- <th>Categories</th> -->
        <th class="text-left">Estimation</th>
        <!-- <th>UserId</th> -->
        <th class="text-left">Date</th>
        <!-- <th>ID</th> -->
      </tr>
    </thead>
    <tbody>
      {#each items_owned || [] as item}
        <tr class="border-b">
          <td class="py-2">
            {#if item.type == "sale"}
              <a
                href="/pro/avis-de-valeur/vente/{item._id}"
                class="text-blue-600 underline"
              >
                {item._id}
              </a>
            {/if}
            {#if item.type == "rent"}
              <a
                href="/pro/avis-de-valeur/location/{item._id}"
                class="text-blue-600 underline"
              >
                {item._id}
              </a>
            {/if}
          </td>
          <td>
            {#if item.type == "sale"}
              Vente
            {/if}

            {#if item.type == "rent"}
              Locatif
            {/if}
          </td>
          <td>
            {item.title || ""}
            {item.asset?.label || ""}
          </td>
          <!-- <td>
            {item.description || ""}
          </td> -->
          <td>
            {#if item.price}
              {item.price.min} - {item.price.max}
              {enterprise_customization.currency}
            {/if}
          </td>
          <td>
            {item.createdAt?.toLocaleDateString() || ""}
          </td>
          <!-- <td><small class="text-gray-400">{item._id}</small></td> -->
        </tr>
      {:else}
        <!-- <Loading /> -->
      {/each}
    </tbody>
  </table>
</div>
