<script>
  import Contact from "./contact.svelte";

  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../../api/mandates_sale";
  import { Assets_sale } from "../../../../api/assets_sale";
  import { Contacts } from "../../../../api/contacts";

  import enterprise_data from "../../../../../enterprise_data";
  import enterprise_customization from "../../../../../enterprise_customization";
  import TemplateLayout from "../../../../layouts/TemplateLayout.svelte";

  const url = new URL(window.location.href);
  const id = url.searchParams.get("mandateId");

  const {
    agency_name,
    agency_phone,
    agency_address,
    agency_email,
    registre_commerce_societes_location,
    garantie_financiere,
    carte_professionnelle_number,
  } = enterprise_data;

  let notary = "";

  let positionTitle = Meteor.user()?.positionTitle || "";

  onMount(async () => {
    // Meteor.subscribe("mandate_for_sale_id", id);
    Meteor.subscribe("mandate__asset__for_sale_id", id);
    //TO OPTIMIZE
    Meteor.subscribe("contacts");
  });

  let item;
  let asset;
  let sellerItem;

  $m: {
    positionTitle = Meteor.user()?.positionTitle || "";

    item = Mandates_For_Sale.findOne();
    if (item) {
      asset = Assets_sale.findOne();

      if (item.notary?.id) {
        // notary = item.notary.label;
        notaryItem = Contacts.findOne(item.notary.id);

        notary =
          notaryItem.surname +
          " " +
          notaryItem.firstname +
          " " +
          notaryItem.phone;
      }

      if (item.seller) {
        // notary = item.notary.label;
        sellerItem = Contacts.findOne(item.seller);
        // notary =
        //     notaryItem.surname +
        //     " " +
        //     notaryItem.firstname +
        //     " " +
        //     notaryItem.phone;
      }
    }
  }
</script>

<!-- //Admin div -->
<div class="container mx-auto mb-2 print:hidden">
  <button class="print:hidden btn btn--light" onclick="window.print()">
    <i class="fa-solid fa-print" />
    IMPRIMER
  </button>

  <a class="print:hidden btn btn--dark" href="/pro/databases/for-sale-mandates">
    Mes mandats de vente
  </a>

  {#if id && !item}
    No asset found
  {/if}
</div>
<!-- End admin -->

<TemplateLayout>
  <div class="flex justify-between">
    <div>
      <div class="w-40 p-2 border rounded-lg" contenteditable="true">
        Mandat : N°
        {item?.mandate?.number || ""}
      </div>
    </div>

    <div>
      <h1 class="text-2xl text-center">AVENANT<br /> MANDAT DE VENTE</h1>
    </div>

    <div>
      <img
        src={enterprise_customization.logolongurl}
        alt="logo"
        style="max-height:55px; max-width:200px;"
      />
    </div>
  </div>

  <div class="text-center sectiontitle bg-slate-700">Entre</div>

  <table class="w-full border border-black">
    <tr>
      <td colspan="1">
        Les soussignés:
        <br />
        Né(s):
        <br />
        Demeurant:
      </td>

      <td colspan="3">
        <input
          class="w-full border-none"
          type="text"
          value={(sellerItem?.surname || "") +
            "  " +
            (sellerItem?.firstname || "")}
        />
        <br />
        <input class="w-full border-none" type="text" value="" />
        <br />
        <input
          class="w-full border-none"
          type="text"
          value={sellerItem?.address?.street || ""}
        />
        <br />
      </td>
    </tr>
    <!-- <tr>
      <td>Tel:</td>
      <td>
        <input
          
          class="w-full"
          type="text"
          value={sellerItem?.phone || ""}
        />
      </td>
      <td>Email:</td>
      <td>
        <input
          class="w-full"
          type="text"
          value={sellerItem?.emails?.[0] || ""}
        />
      </td>
    </tr> -->
  </table>

  <div class="text-right font-italic">
    ci-après dénommé(e)(s) dans le corps du mandat le MANDANT
  </div>

  Et

  <div contenteditable="true" class="mt-3 text-xs">
    {agency_name}, nom commercial : voir en-tête - AGENCE IMMOBILIÈRE,
    {enterprise_data.agency_description}, ayant siège social {agency_address},
    Tél : {agency_phone}, adresse email : {agency_email},
    <!-- N° TVA intracommunautaire : {enterprise_data?.agency_tva}, -->
    immatriculée au registre du commerce et des sociétés de {registre_commerce_societes_location}
    sous n° {enterprise_data.registre_commerce_societes_number}, titulaire de la
    carte professionnelle {carte_professionnelle_number}
    délivrée par la {enterprise_data.cci}, garantie financière par
    l'intermédiaire de
    {garantie_financiere}, assurance de responsabilité professionnelle à
    couverture Polynésie Française : {enterprise_data.assurance_responsabilite_professionelle}
  </div>

  <h4 class="mt-2 text-center underline">
    Coordonnées de
    {#if positionTitle == "Agent Immobilier"}
      l'agent immobilier
    {:else}
      l'agent commercial indépendant
    {/if}

    qui représente {enterprise_data.agency_name}
  </h4>

  <Contact />

  <div class="italic text-right">
    ci-après dénommé dans le corps du mandat le MANDATAIRE ou l'Agence
    Immobilière
  </div>

  <!-- <div class="sectiontitle">
    Il a été convenu ce qui suit entre les parties :
  </div> -->

  <div class="flex col-span-2 text-sm" contenteditable="true">
    <label for="" class="mr-2">
      Il est rappelé que le mandant a donné au mandataire mandat de vente N.
    </label>
    <input class="flex-grow border-b" type="text" placeholder="" />
  </div>

  <div class="break-inside-avoid">
    <div class="text-center sectiontitle bg-slate-700">
      Désignation des biens vendus :
    </div>

    <div style="page-break-inside: avoid;">
      <div class="mt-2 text-lg font-bold underline">
        Adresse des biens à vendre :
      </div>
      <div class="border min-h-[40px] p-1" contenteditable="true">
        {#if asset?.address}
          {asset.address.streetAddress || ""}
          {asset.address.city || ""}
          {asset.address.postalCode || ""}
        {/if}
      </div>
    </div>
  </div>

  <div class="text-center sectiontitle bg-slate-700">
    Par les présentes, il est arrêté et convenu ce qui suit :
  </div>

  <div class="text-lg font-bold underline">Prix de vente :</div>

  <div contenteditable="true">
    Le prix net vendeur est porté à ________________________________<br />
    Les honoraires sont portés à ____________________ à la charge _____________________
    <br />
    Le type de mandat est désormais _____________________<br />
    Le prix de vente public (Honoraires agence inclus) est porté à ____________________________

    <br />
    Toutes les autres dispositions du mandat n°________ restent inchangées.

    <br />
    Fait en deux exemplaires.
  </div>

  <table class="w-full mt-3 border break-inside-avoid">
    <tr>
      <td>
        Le mandant :
        <br />
        « Lu et approuvé, bon pour mandat »
        <br /><br /><br /><br />
      </td>
      <td>
        Le mandataire :
        <br />
        « Lu et approuvé mandat accepté »
        <br /><br /><br /><br />
      </td>
    </tr>
  </table>
</TemplateLayout>

<style>
  .sectiontitle {
    margin-top: 15px;
    color: azure;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Smaller font on print */
  /* @media print {
    div {
      font-size: 8pt;
    }

    p {
      font-size: 8pt;
    }
  } */
</style>
