<script>
  import Footer from "./footer.svelte";
  import enterprise_data from "../../../../../enterprise_customization.ts";
  const { currency } = enterprise_data;
</script>

<!-- Admin -->
<div>
  <button class="print:hidden btn btn-primary" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>
  <a class="print:hidden btn btn-primary" href="/pro"> Go back </a>
</div>
<!-- End admin -->

<div class="grid grid-cols-2">
  <div>
    <h1 class="text-lg">Avis de valeur</h1>
  </div>
  <div class="ml-auto">
    <img
      alt="logo"
      class="max-w-[250px] max-h-[60px]"
      src={enterprise_data.logourl}
    />
  </div>
</div>

<div>
  <div>
    <span> Concerne </span>
    <!-- Multichoice -->
    <!-- Maison à usage d'habitation -->
    <input type="text" />
  </div>

  <div>
    <span>Adresse du bien </span>
    <textarea class="w-full border" />
  </div>

  <div>
    <span> Cadastré </span>
    <!-- Multichoice -->
    <!-- Maison à usage d'habitation -->
    <input type="text" />
  </div>

  <div>
    <span>Désignation </span>
    <textarea class="w-full border" />
  </div>

  <div>
    <span>Elle se compose de </span>
    <textarea class="w-full border" rows="4" />
  </div>

  <div>
    <span>État </span>
    <textarea class="w-full border" />
  </div>

  <div>
    <span>Point positifs </span>
    <textarea class="w-full border" />
  </div>

  <div>
    <span>Point négatifs </span>
    <textarea class="w-full border" />
  </div>

  Cet avis de valeur a pour objet de vous informer de la valeur estimée de votre
  bien référencé ci-dessus, compte tenu :

  <ul>
    <li>
      de l'état actuel du marché de l'immobilier, selon l'analyse des
      transactions immobilières réellement effectuées, constatées par acte
      authentique ;
    </li>
    <li>des résultats des études parues dans la presse spécialisée ;</li>
  </ul>
</div>

<p>
  A ce jour, la valeur de votre bien, hors frais de mutation, peut être estimée
  entre :
  <br />
  <input type="string" />
  {currency} et <input type="string" />
  {currency}
  <small>
    (Prix maximum au-delà duquel le délai de réalisation de la vente pourrait
    être considérablement allongé.)
  </small>
</p>

<div style="page-break-inside:avoid;">
  <p class="italic">
    Le propriétaire ne souhaitant pas engager de frais pour une véritable
    expertise immobilière (rapport d’expertise), il a été établi le présent avis
    de valeur, après simple examen visuel in situ, sans qu’il soit étudié de
    manière approfondie l’ensemble des pièces pouvant avoir une influence sur le
    prix, comme sans que cette liste soit limitative : le titre de propriété, un
    bornage, un mesurage, un certificat d’urbanisme, le dossier de diagnostics
    techniques, le cas échéant le règlement de copropriété, les procès-verbaux
    d’assemblée générale, l’état daté. Il n’a pas davantage été sollicité ou
    fourni de diagnostics non obligatoires ou d’avis techniques sur la qualité
    intrinsèque du bâtiment, ou copie(s) des autorisations d’urbanisme ayant
    permis son édification ou sa modification.
  </p>
  <p class="italic">
    En conséquence cet avis de valeur ne peut bien entendu être assimilée à une
    expertise, laquelle doit être établie par un expert immobilier en possession
    de tous les paramètres et documents nécessaires.
  </p>
  <p class="italic">
    De même, l’état du marché immobilier pouvant fortement varier dans le temps,
    le montant indiqué dans le présent avis de valeur est susceptible de subir
    des modifications importantes. En conséquence, ce dernier n’est valable que
    pour une durée ne pouvant excéder 3 mois.
  </p>
</div>

<!-- <p class="font-bold">Cet avis de valeur a été réalisé gratuitement.</p> -->

<div>
  <span>Fait à</span>
  <input class="input" type="text" />
  <span>le</span>
  <input class="input" type="text" />
</div>

<div class="mt-2">
  <span class="w-full input"> Signature(s) </span>
  <textarea class="w-full input" aria-label="Signature" rows="2" />
</div>

<!-- <br /> -->
<Footer />

<style>
  /* Smaller font on print */
  @media print {
    div {
      font-size: 7pt;
    }
  }
</style>
