<script>
  import enterprise_customization from "../../../../../enterprise_customization";
  const { countryConfiguration } = enterprise_customization;
</script>

<div class="container mx-auto break-inside-avoid">
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-2xl">Demande de financement</h1>
    </div>
    <div class="ml-auto">
      <img
        alt="logo"
        class="max-w-[250px] max-h-[40px] pr-2"
        src={enterprise_customization.logolongurl}
      />
    </div>
  </div>

  <div class="grid grid-cols-3">
    <div>
      <h2 class="text-lg underline">Objet du bien à financer</h2>
    </div>

    <div class="flex col-span-2 text-sm">
      <label for="" class="mr-2"> Date du compromis (si signé) </label>
      <input class="flex-grow border-b" type="text" placeholder="" />
    </div>
  </div>

  <table class="w-full">
    <tr>
      <td colspan="4">
        <div>
          Ce projet concerne
          <div class="flex justify-around">
            <div>
              <input type="checkbox" />
              <label for="primary">Résidence principale</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="">Résidence secondaire</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="locatif">Bien à usage locatif</label>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        Le prêt doit financer
        <div class="flex justify-around">
          <div>
            <div>
              <input type="checkbox" />
              <label for="primary">
                Ancien sans travaux <!-- Bien existant -->
              </label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="primary">Terrain seul</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="primary">Bien neuf (VEFA)</label>
            </div>
          </div>

          <div>
            <div>
              <input type="checkbox" />
              <label for="">Ancien + travaux</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="">Travaux seuls</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="">Rachat de prêt</label>
            </div>
          </div>

          <div>
            <div>
              <input type="checkbox" />
              <label for="locatif">Construction seule</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="locatif">Terrain + construction</label>
            </div>
            <div>
              <input type="checkbox" />
              <label for="locatif">Paiement de Soulte</label>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <div>
          Nature et situation du bien pour lequel le prêt est demandé :
          <div class="flex justify-around">
            <div>
              <input type="checkbox" />
              <label for="primary">Maison</label>
            </div>

            <div>
              <input type="checkbox" />
              <label for="">Appartement</label>
            </div>

            <div>
              <input type="checkbox" />
              <label for="locatif">Autre (préciser)</label>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr class="text-xs">
      <td> Type de logement</td>
      <td colspan="3" class="text-xs">
        <div class="flex justify-between">
          <div>
            <input type="checkbox" />
            <label for="primary">Chambre</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for="">Studio</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for="locatif">1 pièce</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for="locatif">2 pièces</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for="locatif">3 pièces</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for="locatif">4 pièces</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for="locatif">5 pièces et plus</label>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="text-sm">Surface habitable </td>
      <td>
        <input class="w-full text-right border-b" value="m2" type="text" />
      </td>
      <td class="text-sm">Surface Terrain </td>
      <td>
        <input class="w-full text-right border-b" value="m2" type="text" />
      </td>
    </tr>

    <tr>
      <td>N. et rue </td>
      <td colspan="3"><input class="w-full border-b" type="text" /></td>
    </tr>
    <!-- <tr>
      <td>Complement d'adresse </td>
      <td colspan="3"><input class="w-full border-b" type="text" /></td>
    </tr> -->
    <tr>
      <td>Commune</td>
      <td><input class="w-full border-b" type="text" /></td>
      <td>Code postal </td>
      <td><input class="w-full border-b" type="text" /></td>
    </tr>
  </table>

  <h2 class="text-xl underline">Les intervenants</h2>

  <table class="w-full">
    <tr class="font-semibold">
      <td colspan="2"> Emprunteur </td>

      <td colspan="2"> Co-Emprunteur </td>
    </tr>

    <tr>
      <td>
        <input type="checkbox" />
        <label for="">
          <small>Mme</small>
        </label>

        <input type="checkbox" />
        <label for="">
          <small> Mlle </small>
        </label>

        <input type="checkbox" />
        <label for="">
          <small> M. </small>
        </label>

        Nom
      </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>

      <td>
        <input type="checkbox" />
        <label for="">
          <small>Mme</small>
        </label>

        <input type="checkbox" />
        <label for="">
          <small> Mlle </small>
        </label>

        <input type="checkbox" />
        <label for="">
          <small> M. </small>
        </label>

        Nom
      </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Prénom </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Prénom </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Nom de jeune fille </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Nom de jeune fille </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Date et ville de naissance </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Date et ville de naissance </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Code postal de naissance </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Code postal de naissance </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Pays de naissance </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Pays de naissance </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Nationalité </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Nationalité </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Profession </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Profession </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Date d'embauche </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Date d'embauche </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td class="text-sm"> Employeur </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td class="text-sm"> Employeur </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td colspan="2"> Type de travail </td>
      <td colspan="2"> Type de travail </td>
    </tr>
    <tr class="text-sm">
      <td colspan="2">
        <input type="checkbox" />
        <label for="primary">CDI</label>

        <input type="checkbox" />
        <label for="">CDD</label>

        <input type="checkbox" />
        <label for="locatif">CDI période d'essai</label>

        <input type="checkbox" />
        <label for="locatif">Intérim</label>
        <br />
        <span> Autres (préciser) </span>
        <input class="border-b" type="text" />
      </td>

      <td colspan="2">
        <input type="checkbox" />
        <label for="primary">CDI</label>

        <input type="checkbox" />
        <label for="">CDD</label>

        <input type="checkbox" />
        <label for="locatif">CDI période d'essai</label>

        <input type="checkbox" />
        <label for="locatif">Intérim</label>
        <br />
        <span> Autres (préciser) </span>
        <input class="border-b" type="text" />
      </td>
    </tr>

    <tr class="text-sm">
      <td class="align-top" colspan="2"> Situation de famille </td>
      <td class="align-top" colspan="2"> Situation de famille </td>
    </tr>

    <tr>
      <td colspan="2" class="text-xs">
        <input type="checkbox" name="situation" />
        <label for="primary">Marié(e)</label>

        <input type="checkbox" name="situation" />
        <label for="primary">Divorcé(e)</label>

        <input type="checkbox" name="situation" />
        <label for="primary">Vie maritale</label>

        <input type="checkbox" name="situation" />
        <label for="">Veuf</label>

        <input type="checkbox" name="situation" />
        <label for="">Célibataire</label>

        <input type="checkbox" name="situation" />
        <label for="locatif">Instance de divorce</label>

        <input type="checkbox" name="situation" />
        <label for="locatif">Pacsé(e)</label>

        <input type="checkbox" name="situation" />
        <label for="">Autre</label>
      </td>

      <td colspan="2" class="text-xs">
        <input type="checkbox" name="situation" />
        <label for="primary">Marié(e)</label>

        <input type="checkbox" name="situation" />
        <label for="primary">Divorcé(e)</label>

        <input type="checkbox" name="situation" />
        <label for="primary">Vie maritale</label>

        <input type="checkbox" name="situation" />
        <label for="">Veuf</label>

        <input type="checkbox" name="situation" />
        <label for="">Célibataire</label>

        <input type="checkbox" name="situation" />
        <label for="locatif">Instance de divorce</label>

        <input type="checkbox" name="situation" />
        <label for="locatif">Pacsé(e)</label>

        <input type="checkbox" name="situation" />
        <label for="">Autre</label>
      </td>
    </tr>

    <tr class="text-sm">
      <td colspan="2" class="align-top">
        Régime matrimonial
        <span class="text-xs">
          <input type="checkbox" />
          <label for="">Communauté</label>
          <input type="checkbox" />
          <label for="">Séparation</label>
        </span>
      </td>
      <td colspan="2" class="align-top">
        Régime matrimonial

        <span class="text-xs">
          <input type="checkbox" />
          <label for="">Communauté</label>
          <input type="checkbox" />
          <label for="">Séparation</label>
        </span>
      </td>
    </tr>

    <!-- <tr>
      <td colspan="2" class="align-top"> Régime matrimonial </td>
      <td colspan="2" class="align-top"> Régime matrimonial </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="checkbox" />
        <label for="">Communauté</label>

        <input type="checkbox" />
        <label for="">Séparation</label>
      </td>

      <td colspan="2">
        <input type="checkbox" />
        <label for="">Communauté</label>

        <input type="checkbox" />
        <label for="">Séparation</label>
      </td>
    </tr> -->

    <tr>
      <td> Age des enfants à charge </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td> Age des enfants à charge </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td> Adresse actuelle</td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td>Adresse actuelle </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td> Tel</td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td>Tel </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr>
      <td> Email</td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td>Email </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>

    <tr class="text-sm">
      <td> Revenu fiscal de référence </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
      <td>Revenu fiscal de référence </td>
      <td>
        <input class="w-full border-b" type="text" />
      </td>
    </tr>
  </table>
</div>

<!-- Page 2  -->
<div class="container mx-auto">
  <div class="break-inside-avoid">
    <div class="text-lg underline">Les éléments financiers</div>

    <table class="w-full">
      <tr>
        <th />
        <th colspan="2">Vos revenus mensuels</th>
      </tr>
      <tr>
        <td />
        <td>Emprunteur</td>
        <td>Co-emprunteur</td>
      </tr>
      <tr>
        <td>Ressources mensuelles nettes</td>
        <td />
        <td />
      </tr>
      <tr>
        <td>• Salaires/pensions de retraite</td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td>
          • Non salariés
          {#if countryConfiguration == "fr"}
            BIC/BNC
          {/if}
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td>Revenus mobiliers mensuels nets :</td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td>Revenus immobiliers mensuels nets :</td>
        <td />
        <td />
      </tr>
      <tr>
        <td>• Loyers perçus (hors charges)</td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td>Autres revenus mensuels nets :</td>
        <td />
        <td />
      </tr>
      <tr>
        <td>• Pensions alimentaires reçues</td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td>
          Autres (hors allocations) Précisez:
          <input type="text" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td> Total des revenus mensuels nets </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
    </table>
  </div>

  <table class="w-full">
    <tr>
      <th />
      <th colspan="3">Charges mensuelles </th>
    </tr>
    <tr>
      <td />
      <td>Charges</td>
      <td>Capital restant</td>
      <td>Date de fin</td>
    </tr>
    <tr>
      <td> Prêt sur résidence principale </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td><input type="text" class="w-full border-b" /> </td>
      <td><input type="text" class="w-full border-b" /></td>
    </tr>
    <tr>
      <td> Prêts immobiliers locatifs </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td><input type="text" class="w-full border-b" /> </td>
      <td><input type="text" class="w-full border-b" /></td>
    </tr>
    <tr>
      <td> Autres prêts immobiliers (résidence secondaire...) </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td><input type="text" class="w-full border-b" /> </td>
      <td><input type="text" class="w-full border-b" /></td>
    </tr>
    <tr>
      <td> Crédits à la consommation (crédit automobile, moto...) </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td><input type="text" class="w-full border-b" /> </td>
      <td><input type="text" class="w-full border-b" /></td>
    </tr>
    <tr>
      <td> Crédits renouvelables </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td><input type="text" class="w-full border-b" /> </td>
      <td><input type="text" class="w-full border-b" /></td>
    </tr>
    <tr>
      <td> Pensions alimentaires versées </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td><input type="text" class="w-full border-b" /> </td>
      <td><input type="text" class="w-full border-b" /></td>
    </tr>
    <tr>
      <td> Total des charges mensuelles </td>
      <td> <input type="text" class="w-full border-b" /></td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
      <td />
    </tr>
  </table>

  <h2 class="mt-2">Le financement pour une acquisition</h2>

  <table class="w-full">
    <tr>
      <th />
      <th>L'opération </th>
    </tr>
    <tr>
      <td>Prix d’acquisition (y compris prix du terrain) :</td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> • dont prix du terrain : </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> • dont prix de la construction : </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> Frais d’agence : </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> Frais de notaire (hors frais de garantie) : </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> Travaux : </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> Montant total d’acquisition frais inclus (A) </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> Apport investi dans l’opération (B) </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
    <tr>
      <td> Reste à financer (A – B) </td>
      <td>
        <input type="text" class="w-full border-b" />
      </td>
    </tr>
  </table>

  <div class="break-before">
    <h2 class="mt-2 text-lg underline">Le financement d’une soulte</h2>
    <table class="w-full">
      <tr>
        <th />
        <th>L'opération </th>
      </tr>
      <tr>
        <td>
          A. Capital restant à devoir si crédit immobilier en cours sur le bien
        </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td> B. Valeur actuelle estimée du bien </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td> C. Montant de la soulte (communiqué par le notaire) </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td> D. Durée restante du prêt en cours </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td> Montant total opération frais inclus (A) </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
      <tr>
        <td> Montant total opération = A + C </td>
        <td>
          <input type="text" class="w-full border-b" />
        </td>
      </tr>
    </table>
  </div>

  <h2 class="mt-2">Les éléments complémentaires</h2>

  <table class="w-full">
    <tr>
      <th />
      <th colspan="2">Assurances </th>
    </tr>
    <tr>
      <td />
      <td> Emprunteur - Quotité du prêt assuré </td>
      <td> Co-emprunteur - Quotité du prêt assuré </td>
    </tr>

    <tr>
      <td>
        Assurance décès, perte d’autonomie, invalidité, incapacité de travail
      </td>
      <td>
        <input
          type="number"
          min="0"
          max="100"
          style="width:90%"
          class="border-b"
        />%
      </td>
      <td>
        <input
          type="number"
          min="0"
          max="100"
          style="width:90%"
          class="border-b"
        />%
      </td>
    </tr>

    <tr>
      <td />
      <td> Emprunteur </td>
      <td> Co-emprunteur </td>
    </tr>

    <tr>
      <td> Assurance perte d’emploi </td>
      <td>
        <input
          type="checkbox"
          id="subscribeNews"
          name="subscribe"
          value="yes"
        />
        <label for="subscribeNews">Oui</label>
        <input type="checkbox" id="subscribeNews" name="subscribe" value="no" />
        <label for="subscribeNews">Non</label>
      </td>
      <td>
        <input
          type="checkbox"
          id="subscribeNews"
          name="subscribe"
          value="yes"
        />
        <label for="subscribeNews">Oui</label>
        <input type="checkbox" id="subscribeNews" name="subscribe" value="no" />
        <label for="subscribeNews">Non</label>
      </td>
    </tr>

    <tr>
      <td> Délégation d’assurance </td>
      <td>
        <input
          type="checkbox"
          id="subscribeNews"
          name="subscribe"
          value="yes"
        />
        <label for="subscribeNews">Oui</label>
        <input type="checkbox" id="subscribeNews" name="subscribe" value="no" />
        <label for="subscribeNews">Non</label>
      </td>
      <td>
        <input
          type="checkbox"
          id="subscribeNews"
          name="subscribe"
          value="yes"
        />
        <label for="subscribeNews">Oui</label>
        <input type="checkbox" id="subscribeNews" name="subscribe" value="no" />
        <label for="subscribeNews">Non</label>
      </td>
    </tr>
  </table>

  <h2 class="mt-2">Les caractéristiques du financement</h2>

  <table class="w-full">
    <tr>
      <td> Durée retenue pour le financement </td>
      <td>
        <input type="text" style="width:90%" class="border-b" />ans
      </td>
    </tr>
  </table>
</div>

<div class="container mx-auto mt-3 text-xs text-justify">
  Les réponses apportées au présent questionnaire sont autant d’informations
  nécessaires pour mieux vous connaître et ainsi mieux répondre à la réalisation
  de vos projets immobiliers. Par ailleurs et sauf opposition de votre part en
  cochant la case ci-contre, elles pourront également être utilisées par ces
  mêmes personnes à des fins de prospection commerciale . Vous pouvez exercer
  votre droit d’accès, de rectification et d’opposition à l’utilisation de ces
  réponses en nous contactant.
</div>

<style>
  @media print {
    .break-before {
      display: block;
      page-break-before: always;
      position: relative;
    }
  }

  input {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
</style>
