<script>
  import enterprise_customization from "../../../../../enterprise_customization";
  import TemplateLayout from "../../../../layouts/TemplateLayout.svelte";
</script>

<div class="container mx-auto print:hidden">
  <button class="btn btn--light" onclick="window.print()">
    <i class="fa-solid fa-print" />
    IMPRIMER
  </button>
  <a class="btn btn--dark" href="/pro/files/for-sale-mandates/"> Papeterie </a>
</div>

<TemplateLayout>
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-2xl">BON DE VISITE</h1>
    </div>
    <div class="ml-auto">
      <img
        alt="logo"
        class="max-w-[250px] max-h-[45px]"
        src={enterprise_customization.logolongurl}
      />
    </div>
  </div>

  <div>
    <div class="flex">
      <label for="" class="mr-2">Nous soussignés</label>
      <input class="flex-grow border-b" type="text" placeholder="" />
    </div>

    <div class="flex">
      <label for="" class="mr-2">demeurant</label>
      <input class="flex-grow border-b" type="text" placeholder="" />
    </div>

    <div class="flex">
      <label for="" class="mr-2">Carte d'identité / Passport</label>
      <input class="flex-grow border-b" type="text" placeholder="" />
    </div>

    <div class="flex">
      <label for="" class="mr-2"
        >Agissant tant en mon nom personnel que pour le compte de</label
      >
      <input class="flex-grow border-b" type="text" placeholder="" />
    </div>

    <p class="mt-3 text-sm text-justify">
      Ou de toute autre personne physique ou morale que je jugerai bon de me
      substituer et pour laquelle je me porte fort en tant que de besoin.
      Reconnais m’être présenté(e) ce jour à l’adresse du bien ci-dessous
      désigné, avoir demandé et reçu de l’agence les renseignements, conditions
      de vente du bien désigné, précisé notamment dans le mandat de vente.
    </p>
    <p class="text-sm text-justify">
      Je sais que ces indications ont été fournies selon les dires du vendeur et
      qu’elles sont confidentielles. Je m’engage à ne les communiquer à
      quiconque et à ne pas me présenter chez le vendeur sans être accompagné(e)
      d’un représentant de l’agence ou, à défaut, sans communiquer audit vendeur
      le présent bon de visite. Je m’engage en outre, à informer toute personne
      qui me présenterait le même bien que celui qui m’a déjà été présenté. Ce
      bien dont je n’avais aucune connaissance auparavant m’a été présenté pour
      la première fois et uniquement par l’agence ci-dessus désignée. Je
      m’interdis par la présente de traiter ou négocier directement l’achat de
      ce bien avec son propriétaire vendeur.
    </p>
  </div>

  <div class="mt-3">
    <h2 class="text-xl">Bien(s) visité(s)</h2>
  </div>

  Adresse(s) et désignation(s)
  <div class="mb-2">
    <textarea class="w-full input" rows="1" />
  </div>

  Observations / Avis
  <div class="mb-2">
    <textarea class="w-full input" rows="3" />
  </div>

  <div class="mt-3">
    <span>Fait à</span>
    <input type="text" class="border-b" />
    <span>le</span>
    <input type="text" class="border-b" />
  </div>

  <!-- Signature(s) -->
  <div class="mb-2">
    <textarea class="w-full input" value="Signature(s)" rows="2" />
  </div>

  <div class="text-xs text-justify">
    <span class="font-bold underline">RGPD</span>
    En tant que professionnel de l’immobilier et conformément au règlement européen
    2016/679, nous informons nos clients consommateurs que nous collectons et traitons
    des données personnelles nécessaires à l’accomplissement de notre mission. Ces
    données pourront être transmises aux différents intervenants, au co-contractant,
    aux organismes financiers éventuellement chargés du financement, ainsi qu’aux
    administrations concernées. Elles seront conservées pendant toute la durée de
    la relation commerciale et ensuite pendant une durée de cinq ans, et pendant
    dix ans en ce qui concerne les noms et adresses des mandants. Nos clients consommateurs
    bénéficient d’un droit d’accès et de rectification de leur données à caractère
    personne traitées, ils peuvent demander leur effacement et leur portabilité,
    ou exercer leur droit à opposition dans les conditions prévues par le règlement
    européen 2016/679.
  </div>
</TemplateLayout>
