<script>
  import enterprise_customization from "../../../../../enterprise_customization";
  import { onMount, afterUpdate } from "svelte";
  import { formatAndcurrency } from "../../../../commonFunctions";
  import TemplateLayout from "../../../../layouts/TemplateLayout.svelte";

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  import { Mandates_For_Sale } from "../../../../api/mandates_sale";
  import { Contacts } from "../../../../api/contacts";

  onMount(async () => {
    Meteor.subscribe("mandate_for_sale_id_complete", id);
    // Meteor.subscribe("thisuser");
    // Select the seller
    // Meteor.subscribe("contacts");
    // To select for sale assets
    // Meteor.subscribe("for_sale_assets");
  });

  afterUpdate(async () => {
    // if (id) {
    // Meteor.subscribe("mandate_for_sale_id_complete", id);
    // }
  });

  let item,
    seller,
    sellerValue,
    buyerValue,
    buyerNotaryValue,
    fees_includedValue,
    fees_notincludedValue,
    fees,
    total_hors_tax,
    tva13,
    tva1;

  $m: {
    item = Mandates_For_Sale.findOne(id);
    // console.log({ item });

    if (item?.seller) {
      seller = Contacts.findOne({ _id: item.seller });
      sellerValue = `${seller?.firstname || ""} ${seller?.surname || ""}`;
    }

    if (item?.buyer) {
      buyer = Contacts.findOne({ _id: item.buyer });
      buyerValue = `${buyer?.firstname || ""} ${buyer?.surname || ""}`;
    }

    if (item?.buyerNotary) {
      buyerNotary = Contacts.findOne({ _id: item.buyerNotary });
      buyerNotaryValue = `${buyerNotary?.firstname || ""} ${
        buyerNotary?.surname || ""
      }`;
    }

    if (item?.saleprice) {
      let prixDeVente = item?.saleprice?.fees_included;
      let prixSansHonoraires = item?.saleprice?.fees_not_included;

      // Check the avenants / amendments
      if (item.amendments) {
        let result = item.amendments.filter(function (x) {
          return x.price_feesincluded && x.fees;
        });

        let lastelement = result.slice(-1);

        prixDeVente = Number(lastelement[0].price_feesincluded);
        prixSansHonoraires = Number(prixDeVente) - Number(lastelement[0].fees);
      }

      fees = prixDeVente - prixSansHonoraires;

      fees_includedValue = formatAndcurrency(prixDeVente);
      fees_notincludedValue = formatAndcurrency(prixSansHonoraires);

      total_hors_tax = Math.trunc(fees / (1 + 0.13 + 0.01));
      tva13 = Math.trunc(total_hors_tax * 0.13);

      tva13 = formatAndcurrency(tva13);
      tva1 = Math.trunc(total_hors_tax * 0.01);
      tva1 = formatAndcurrency(tva1);

      total_hors_tax = formatAndcurrency(total_hors_tax);

      fees = formatAndcurrency(fees);
    }
  }
</script>

<div class="container mx-auto print:hidden">
  <button class="btn btn--dark" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>

  <a class="btn btn--dark" href="/pro/files/for-sale-mandates/"> Papeterie </a>
</div>

<TemplateLayout>
  <div class="flex justify-between">
    <div>
      <h1 class="text-2xl">Bon de commission</h1>
    </div>
    <div class="text-end">
      <img
        alt="logo"
        class="max-w-[250px] max-h-[50px]"
        src={enterprise_customization.logolongurl}
      />
    </div>
  </div>

  <div>
    <div class="mb-1">
      <span>Propriétaire</span>
      <textarea
        class="w-full input"
        type="text"
        rows="1"
        value={sellerValue || ""}
      />
    </div>

    <div class="mb-1">
      <span>Acquéreur</span>
      <textarea class="w-full input" rows="1" value={buyerValue || ""} />
    </div>

    <div class="mb-1">
      <span>Notaire</span>
      <textarea class="w-full input" rows="1" value={buyerNotaryValue || ""} />
    </div>

    <div class="mb-1">
      <span>Commercial</span>
      <textarea class="w-full input" rows="1" />
    </div>

    <div class="mb-1">
      <span>N. de Mandat </span>
      <input class="w-full input" value={item?.mandate?.number || ""} />
    </div>
  </div>

  <h2 class="mt-2 text-xl">Désignation / Prix</h2>

  <div class="mb-1">
    <span> Prix de vente</span>
    <textarea class="w-full input" value={fees_includedValue || ""} rows="1" />
  </div>

  <div class="mb-1">
    <span> Net vendeur</span>
    <textarea
      class="w-full input"
      value={fees_notincludedValue || ""}
      rows="1"
    />
  </div>

  <div class="mb-1">
    <h2 class="mt-2">Commission</h2>

    <table class="w-full border">
      <tbody>
        <tr>
          <td class="w-1/3">Total hors taxes</td>
          <td class="border-b">
            {total_hors_tax || ""}
          </td>
        </tr>
        <tr>
          <td>TVA 13%</td>
          <td class="border-b">
            {tva13 || ""}
          </td>
        </tr>

        <tr>
          <td>TTC</td>
          <td class="border-b">
            {fees || ""}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mb-4">
    <span> Signature(s) avec mention "Bon à payer" </span>
    <textarea rows="2" class="w-full input" />
  </div>

  <div>
    <div class="flex justify-around">
      <div>RIB:</div>
      <div>
        {#if enterprise_customization.bank?.iban}
          IBAN {enterprise_customization.bank?.iban} <br />
        {/if}
        {#if enterprise_customization.bank?.bic}
          BIC {enterprise_customization.bank?.bic} <br />
        {/if}
      </div>
      <div>
        {#if enterprise_customization.bank?.accountNumber}
          N. de compte {enterprise_customization.bank?.accountNumber} <br />
        {/if}
        {#if enterprise_customization.bank?.guichetCode}
          Code guichet {enterprise_customization.bank?.guichetCode} <br />
        {/if}
        {#if enterprise_customization.bank?.ribKey}
          Clé RIB {enterprise_customization.bank?.ribKey} <br />
        {/if}
      </div>
    </div>
  </div>
</TemplateLayout>
