<script>
  import { onMount } from "svelte";
  import enterprise_customization from "../../../../../enterprise_customization.ts";

  onMount(async () => {
    Meteor.subscribe("thisuser");
  });

  $m: currentUser = Meteor.user();
</script>

<div class="container mx-auto">
  <div
    class="w-full text-center border border-black item"
    contenteditable="true"
  >
    {#if currentUser?.contact?.firstname && currentUser?.contact?.surname}
      <strong>
        {currentUser.contact.firstname}
        {currentUser.contact.surname},
      </strong>
    {:else}
      <!-- *****Name***** -->
    {/if}

    <!-- agent commercial indépendant de {enterprise_data.agency_name} -->

    <br />

    <!-- Only for FR -->
    {#if enterprise_customization.countryConfiguration == "fr"}
      {currentUser?.contact?.address || ""}
      <br />
    {/if}

    {#if currentUser?.contact?.email}
      {currentUser.contact.email}
    {:else if currentUser?.emails?.[0]?.address}
      {currentUser.emails[0].address}
    {:else}
      <!-- *****Email******* -->
    {/if}

    <br />

    {currentUser?.contact?.phone || ""}

    <br />

    <!-- Only for FR -->
    {#if enterprise_customization.countryConfiguration == "fr"}
      {#if currentUser?.rsac}
        RSAC: {currentUser.rsac}
      {:else}
        <!-- *****RSAC****** -->
      {/if}
    {/if}
  </div>
</div>
