<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr");
  import enterprise_data from "../../../../../enterprise_data";
  const { agency_name, tahiti_number, registre_commerce_societes_number } =
    enterprise_data;

  const date = dayjs().locale("fr").format("DD MMMM YYYY");

  const url = new URL(window.location.href);
  const userId = url.searchParams.get("user");
  const type = url.searchParams.get("type");
  const number = url.searchParams.get("number");

  const mandateType = url.searchParams.get("mandateType");
  const mandateNumber = url.searchParams.get("mandateNumber");

  onMount(async () => {
    // var url_string = Meteor.absoluteUrl();
    console.log({ userId });

    if (userId) {
      Meteor.subscribe("user", userId);
      console.log("userId ok");
    } else {
      Meteor.subscribe("thisuser");
    }

    //To select for sale assets
    // Meteor.subscribe("for_sale_assets");
  });

  let user;

  $m: {
    if (userId) {
      user = Meteor.users.findOne(userId);
    } else {
      user = Meteor.user();
    }
    console.log({ user });
  }
</script>

<div class="container mx-auto print:hidden">
  <button class="print:hidden btn btn--light" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>

  <button class="print:hidden btn btn--light" onclick="history.back()">
    Retour
  </button>
</div>

<div class="container mx-auto" contenteditable="true">
  <h2 class="text-lg">
    {user?.contact?.firstname}
    {user?.contact?.surname}
  </h2>
  <div>
    N. T.A.H.I.T.I : {user?.tahiti}
  </div>
  <div>Adresse : {user?.contact?.address}</div>
  <div>
    Email : {user?.contact?.email || user?.emails[0].address}
  </div>
  <div>
    Tel : {user?.contact?.phone}
  </div>

  <br />

  <h1 class="text-3xl text-center">Facture N.</h1>

  <div class="text-center">
    {date}
  </div>

  <div class="text-2xl text-end">
    {agency_name}
  </div>
  <div class="text-lg text-end">
    {tahiti_number} - {registre_commerce_societes_number}
  </div>

  <br /><br /><br />

  <table class="w-full">
    <thead>
      <tr class="border-b">
        <th>Description</th>
        <th>Quantité</th>
        <th>Prix à l'unité HT</th>
        <th>Prix HT</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr class="border-b">
        <td>
          {type || "-"}
          {number || ""}
          {mandateType || ""}
          {#if mandateNumber}
            N. Mandat :
            {mandateNumber}
          {/if}
        </td>
        <td>1</td>
        <td />
        <td />
      </tr>
      <tr class="border-b">
        <td>-</td>
        <td />
        <td />
        <td />
      </tr>
      <tr class="border-b">
        <td>-</td>
        <td />
        <td />
        <td />
      </tr>
      <tr class="border-b">
        <td>-</td>
        <td />
        <td />
        <td />
      </tr>
    </tbody>
  </table>

  <div class="mt-3">Veillez trouver ci-joint notre RIB :</div>
  <div class="text-justify">
    {user?.rib}
  </div>
  <div>
    au nom de {user?.contact?.firstname}
    {user?.contact?.surname}
  </div>
</div>
