<script>
  import enterprise_customization from "../../../../../enterprise_customization";
  import { onMount, afterUpdate } from "svelte";
  import { formatAndcurrency } from "../../../../commonFunctions";

  const url = new URL(window.location.href);
  const id = url.searchParams.get("id");

  import { Mandates_For_Sale } from "../../../../api/mandates_sale";
  import { Contacts } from "../../../../api/contacts";
  import { Assets_sale } from "../../../../api/assets_sale";

  import TemplateLayout from "../../../../layouts/TemplateLayout.svelte";

  const { currency } = enterprise_customization;

  onMount(async () => {
    // Meteor.subscribe("thisuser");
    // Select the seller
    // Meteor.subscribe("contacts");
    //To select for sale assets
    // Meteor.subscribe("for_sale_assets");
  });

  afterUpdate(async () => {
    if (id) {
      Meteor.subscribe("mandate_for_sale_id_complete", id);
    }
  });

  let item,
    seller,
    buyer,
    asset,
    fees_includedValue,
    fees_notincludedValue,
    fees,
    total_hors_tax,
    tva13,
    tva1;

  $m: {
    item = Mandates_For_Sale.findOne(id);

    if (item?.seller) {
      seller = Contacts.findOne({ _id: item.seller });
    }

    if (item?.buyer) {
      buyer = Contacts.findOne({ _id: item.buyer });
    }

    if (item?.asset?.value) {
      console.log(item.asset.value);
      asset = Assets_sale.findOne({ _id: item.asset.value });
      console.log({ asset });
    }

    if (item?.saleprice) {
      fees_includedValue =
        item?.saleprice?.fees_included &&
        formatAndcurrency(item.saleprice.fees_included);

      fees_notincludedValue =
        item?.saleprice?.fees_not_included &&
        formatAndcurrency(item.saleprice.fees_not_included);

      fees = item.saleprice.fees_included - item.saleprice.fees_not_included;

      total_hors_tax = Math.trunc(fees / (1 + 0.13 + 0.01));
      tva13 = Math.trunc(total_hors_tax * 0.13);
      tva13 = formatAndcurrency(tva13);
      tva1 = Math.trunc(total_hors_tax * 0.01);
      tva1 = formatAndcurrency(tva1);

      total_hors_tax = formatAndcurrency(total_hors_tax);

      fees = formatAndcurrency(fees);
    }
  }
</script>

<div class="container mx-auto print:hidden">
  <button class="btn btn--dark" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>
</div>

<TemplateLayout>
  <div class="grid grid-cols-4">
    <div class="col-span-3">
      <h1 class="text-2xl">Fiche de Renseignement - Compromis</h1>
    </div>
    <div class="ml-auto">
      <img
        alt="logo"
        style="max-width:250px; max-height:50px;"
        src={enterprise_customization.logolongurl}
      />
    </div>
  </div>

  <div>
    <div class="font-semibold underline">1°) Vendeur(s)</div>

    <table class="w-full">
      <tr>
        <td class="w-56"> Nom </td>
        <td class="border-b">
          {seller?.firstname || ""}
          {seller?.surname || ""}
        </td>
      </tr>
      <tr>
        <td> Adresse </td>
        <td class="border-b">
          {seller?.address?.street || ""}
          {seller?.address?.city || ""}
        </td>
      </tr>
      <tr>
        <td> Date et lieu de naissance </td>
        <td class="border-b">
          <!--  -->
        </td>
      </tr>
      <tr>
        <td> Profession </td>
        <td class="border-b">
          <!--  -->
        </td>
      </tr>
      <tr>
        <td> Situation matrimoniale </td>
        <td class="border-b">
          <!--  -->
        </td>
      </tr>
      <tr>
        <td> Téléphone </td>
        <td class="border-b">
          {seller?.phone?.[0] || ""}
        </td>
      </tr>
      <tr>
        <td> Mail </td>
        <td class="border-b">
          {seller?.emails?.[0] || ""}
        </td>
      </tr>
    </table>
  </div>

  <div>
    <div class="mt-2 font-semibold underline">2°) Acquéreur(s)</div>

    <table class="w-full">
      <tr>
        <td class="w-56"> Nom </td>
        <td class="border-b">
          {buyer?.firstname || ""}
          {buyer?.surname || ""}
        </td>
      </tr>

      <tr>
        <td> Adresse </td>
        <td class="border-b">
          {buyer?.address?.street || ""}
          {buyer?.address?.city || ""}
        </td>
      </tr>

      <tr>
        <td> Date et lieu de naissance </td>
        <td class="border-b">
          <!--  -->
        </td>
      </tr>

      <tr>
        <td> Profession </td>
        <td class="border-b">
          <!--  -->
        </td>
      </tr>
      <tr>
        <td> Situation matrimoniale </td>
        <td class="border-b">
          <!--  -->
        </td>
      </tr>

      <tr>
        <td> Téléphone </td>
        <td class="border-b">
          {buyer?.phone?.[0] || ""}
        </td>
      </tr>

      <tr>
        <td> Mail </td>
        <td class="border-b">
          {buyer?.emails?.[0] || ""}
        </td>
      </tr>
    </table>
  </div>

  <div>
    <div class="mt-2 font-semibold underline">3°) Bien(s) vendu(s)</div>

    <div class="w-full mt-5 border-b">
      {asset?.address?.streetAddress || ""}
      {asset?.address?.city || ""}
      {asset?.address?.postalCode || ""}
    </div>
  </div>

  <div>
    <div class="mt-2 font-semibold underline">4°) Ventilation du prix</div>
    <div>
      <!-- {asset?.address?.streetAddress || ""} -->

      <table class="w-full">
        <tr>
          <td>Net value (maison, appartement, parking,...)</td>
          <td class="w-2/5 border-b">
            {#if item?.saleprice?.fees_not_included}
              {item?.saleprice?.fees_not_included || ""} {currency}
            {/if}
          </td>
        </tr>

        <tr>
          <td>Honoraires d’agence</td>
          <td class="border-b">
            {#if item?.saleprice?.fees_included}
              <!-- {item?.saleprice?.fees_included || ""} {currency} -->
              {fees}
            {/if}
          </td>
        </tr>

        <tr>
          <td>Total</td>
          <td class="border-b">
            {#if item?.saleprice?.fees_included}
              <!-- {item?.saleprice?.fees_included || ""} {currency} -->
              {fees_includedValue}
            {/if}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <div class="mt-2 font-semibold underline">5°) Financement</div>
    <div>
      <!-- {asset?.address?.streetAddress || ""} -->
      L’acquéreur finance l’opération au moyen
      <br />
      - d’un emprunt de
      <input
        class="border-b"
        type="number"
        value={item?.financing?.loan?.amount || ""}
      />
      {currency} sur
      <input
        class="border-b"
        type="number"
        value={item?.financing?.loan?.maxYears || ""}
      />
      années maximum, au taux de
      <input
        class="border-b"
        type="number"
        value={item?.financing?.loan?.maxInterest || ""}
      />
      % maximum.
      <br />
      - d'un apport de
      <input
        class="border-b"
        type="number"
        value={item?.financing?.personalContribution || ""}
      />
      {currency}

      <br />
      L’acquéreur versera un dépôt de garantie de
      <input
        class="border-b"
        type="number"
        value={item?.financing?.deposit || ""}
      />
      +
      <input class="border-b" type="number" value="30000" />
      {currency}
      de provision pour frais d’acte à la comptabilité de l’étude.
    </div>
  </div>

  <div>
    <div class="mt-2 font-semibold underline">6°) Régime fiscal</div>
    <div>
      <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label for="flexRadioDefault1"> Taux plein </label>
    </div>
    <div>
      <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
      <label for="flexRadioDefault2"> Première acquisition </label>
    </div>
  </div>
</TemplateLayout>
