<script>
  import enterprise_customization from "../../../../../enterprise_customization.ts";
  import enterprise_data from "../../../../../enterprise_data.ts";
</script>

<div class="mt-2 text-xs text-center" style="page-break-inside: avoid;">
  {#if enterprise_customization.countryConfiguration == "pf"}
    <!-- pf - Anoa -->
    {enterprise_data.agency_name} - Siège social : {enterprise_data.agency_address}
    - Tél {enterprise_data.agency_phone}

    <br />
    <!-- {enterprise_data.agency_description}  -->
    {enterprise_data.registre_commerce_societes_location}
    RCS {enterprise_data.registre_commerce_societes_number}
    <!-- N° TVA intracommunautaire : {enterprise_data.agency_tva} -->

    Numéro T.A.H.I.T.I: {enterprise_data.tahiti_number}
    <br />
    Agence immobilière française titulaire de la Carte Professionnelle {enterprise_data.carte_professionnelle_number}
    <!-- délivrée par la {enterprise_data.cci} -->

    <br />
    Garantie financière par l'intermédiaire de
    {enterprise_data.garantie_financiere}

    <br />
    Assurance de responsabilité professionnelle : {enterprise_data.assurance_responsabilite_professionelle}
    <br />
    Email
    <a href="mailto:{enterprise_customization.enterprise_email}">
      {enterprise_customization.enterprise_email}
    </a>
    - Site :
    <a href={enterprise_customization.website}>
      {enterprise_customization.website}
    </a>
  {:else}
    <!-- FR -->
    {enterprise_data.agency_name}
    - Siège social : {enterprise_data.agency_address}
    - Tél {enterprise_data.agency_phone}

    <br />
    Société par actions simplifiée {enterprise_data.agency_description} - {enterprise_data.registre_commerce_societes_location}
    RCS - NAF {enterprise_data.registre_commerce_societes_siren_number} - N° TVA
    intracommunautaire : {enterprise_data.agency_tva}
    <br />
    Agence immobilière française titulaire de la Carte Professionnelle {enterprise_data.carte_professionnelle_number}
    délivrée par la {enterprise_data.cci}

    <br />
    Garantie financière par l'intermédiaire de
    {enterprise_data.garantie_financiere}

    <br />
    Assurance de responsabilité professionnelle : {enterprise_data.assurance_responsabilite_professionelle}
    <br />
    Email
    <a href="mailto:{enterprise_customization.enterprise_email}">
      {enterprise_customization.enterprise_email}
    </a>
    - Site :
    <a href={enterprise_customization.website}>
      {enterprise_customization.website}
    </a>
  {/if}
</div>
