<script>
  import enterprise_customization from "../../../../../enterprise_customization.ts";
  import enterprise_data from "../../../../../enterprise_data.ts";
  const {
    agency_address,
    garantie_financiere,
    agency_name,
    registre_commerce_societes_location,
    agency_phone,
    assurance_responsabilite_professionelle,
    registre_commerce_societes_number,
    cci,
  } = enterprise_data;
  const { enterprise_email, website } = enterprise_customization;
</script>

<div class="justify-center text-[8px]">
  {#if enterprise_customization.countryConfiguration == "pf"}
    {agency_name}
    - Siège social : {agency_address}
    - Tél {agency_phone}. {registre_commerce_societes_location}
    RCS {registre_commerce_societes_number}. Numéro T.A.H.I.T.I: {enterprise_data.tahiti_number}.
    Agence immobilière française titulaire de la Carte Professionnelle {enterprise_data.carte_professionnelle_number}.
    <!-- délivrée par la {cci} -->
    Garantie financière par l'intermédiaire de
    {garantie_financiere}. Assurance de responsabilité professionnelle : {assurance_responsabilite_professionelle}.
    Email
    <a href="mailto:{enterprise_email}">
      {enterprise_email}
    </a>
    - Site :
    <a href={website}>
      {website}
    </a>
  {:else}
    <!-- FR -->
    {agency_name}
    - Siège social : {agency_address}
    - Tél {agency_phone}. Société par actions simplifiée {enterprise_data.agency_description}
    - {registre_commerce_societes_location}
    RCS - NAF {enterprise_data.registre_commerce_societes_siren_number} - N° TVA
    intracommunautaire : {enterprise_data.agency_tva}. Agence immobilière
    française titulaire de la Carte Professionnelle {enterprise_data.carte_professionnelle_number}
    délivrée par la {cci}. Garantie financière par l'intermédiaire de {garantie_financiere}.
    Assurance de responsabilité professionnelle : {assurance_responsabilite_professionelle}.
    Email
    <a href="mailto:{enterprise_email}">
      {enterprise_email}
    </a>
    - Site :
    <a href={website}>
      {website}
    </a>
  {/if}
</div>
