<script>
  import { onMount } from "svelte";
  import { Mandates } from "../../../../api/mandates";

  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications.ts";

  let handle, items, isLoading;
  onMount(async () => {
    handle = Meteor.subscribe("mandates_all");

    // Optimise (get the mandate number)
    // Meteor.subscribe("thisuser");
  });

  $m: {
    isLoading = !handle?.ready();
    if (isLoading) return;
    items = Mandates.find().fetch();
    console.log({ items });
  }

  const addMandate = async () => {
    let title = "";
    await Meteor.callAsync("mandate.insert", title);
  };

  let currentTitle = "";
  const changeTitle = async (event, itemId) => {
    if (confirm("change ?")) {
      currentTitle = event.target.value;
      await Meteor.callAsync("mandates.update.title", itemId, currentTitle);
    }
  };

  let currentDescription = "";
  const changeDescription = async (event, itemId) => {
    if (confirm("change ?")) {
      currentDescription = event.target.value;
      await Meteor.callAsync(
        "mandate.update.description",
        itemId,
        currentDescription
      );
    }
  };

  const getNumber = async (event, itemId) => {
    if (!confirm("get number ?")) return;
    await Meteor.callAsync("mandate.add.mandatenumber", itemId).then(
      saved_notification()
    );
  };
</script>

Mandats

{#if isLoading}
  Loading
{:else}
  <table>
    <tr>
      <th> Titre </th>
      <th> Description</th>
      <th> N.</th>
    </tr>

    {#each items as item}
      <tr>
        <td>
          <input
            type="text"
            value={item.title || ""}
            on:change={(event) => changeTitle(event, item._id)}
          />
        </td>
        <td>
          <!-- {item?.description} -->
          <input
            type="text"
            value={item.description || ""}
            on:change={(event) => changeDescription(event, item._id)}
          />
        </td>
        <td>
          {item.mandate?.number || ""}

          <button
            class="btn btn--light"
            on:click={() => {
              getNumber(event, item._id);
            }}
          >
            Get number
          </button>
        </td>
        <td>
          <small>
            {item?._id}
          </small>
        </td>
      </tr>
    {/each}
  </table>
{/if}

<button on:click={addMandate} class="btn btn--light"> Add mandate </button>
