<script>
  import enterprise_customization from "../../../../../enterprise_customization";
  const { currency } = enterprise_customization;
  import BankLoanTemplate from "./bankloanTemplate.svelte";
  import FicheDeRenseignements from "./FicheDeRenseignements.svelte";

  import TemplateLayout from "../../../../layouts/TemplateLayout.svelte";
</script>

<div class="container mx-auto">
  <button class="print:hidden btn btn--dark" onclick="window.print()">
    <i class="fa-solid fa-print" />
    IMPRIMER
  </button>
</div>

<TemplateLayout>
  <div>
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <h1 class="text-2xl">OFFRE D'INTENTION D'ACHAT</h1>
      </div>
      <div>
        <img
          class="ml-auto"
          alt="logo"
          style="max-width:250px; max-height:50px; padding-right:10px;"
          src={enterprise_customization.logolongurl}
        />
      </div>
    </div>

    <div class="text-sm">
      <div class="flex">
        <label for="" class="mr-2">Nous soussignés</label>
        <input class="flex-grow border-b" type="text" placeholder="" />
      </div>

      <div class="flex">
        <label for="" class="mr-2">demeurant</label>
        <input class="flex-grow border-b" type="text" placeholder="" />
      </div>

      Faisons suite à la visite, en votre présence, des biens immobiliers sis à
      (adresse et désignation) :

      <div class="mb-2">
        <textarea class="w-full border" />
      </div>

      Par la présente nous vous confirmons notre intention d’achat des biens
      immobiliers ci-dessus désignés. La vente, si elle intervient, aura lieu
      aux conditions ordinaires et de droit, savoir :

      <div>
        <!-- En chiffres et en lettres -->
        <textarea class="w-full border"
          >Prix de vente total / Honoraires inclus en chiffres et en lettres:
        </textarea>
      </div>
      hors frais de notaire, payable comptant au jour de la signature de l'acte définitif
      de vente.

      <div>
        <span> Sequestre </span>
        <input class="border-b" />
        {currency}
      </div>

      <div class="mt-2">
        <span> Cette offre sera valable jusqu'au </span>
        <input class="border-b" />
      </div>
    </div>

    <h2 class="mt-3 text-lg">Financement</h2>

    <table class="w-11/12">
      <tr class="border-b">
        <td class="w-96"> Prix de vente </td>
        <td class="text-end">
          <span>
            {currency}
          </span>
        </td>
      </tr>

      <tr class="border-b">
        <td> Provision pour frais d'acte (Estimation) </td>
        <td class="text-end">
          <span>
            {currency}
          </span>
        </td>
      </tr>

      <tr class="border-b">
        <td> Total à financer </td>
        <td class="text-end">
          <span>
            {currency}
          </span>
        </td>
      </tr>

      <tr class="border-b">
        <td> Apport personnel </td>
        <td class="text-end">
          <span>
            {currency}
          </span>
        </td>
      </tr>

      <tr class="border-b">
        <td> Montant du prêt demandé </td>
        <td class="text-end">
          <span>
            {currency}
          </span>
        </td>
      </tr>
    </table>
    <!--  -->

    <div class="mt-2">
      <input class="border-b" value="Fait à" type="text" />
      <input class="border-b" value="le" type="text" />
    </div>

    <div class="mt-2">
      <span> Signature(s) </span>
      <textarea class="w-full border" />
    </div>
  </div>

  <!-- Acceptation vendeur -->
  <h2 class="mt-3 text-xl">Acceptation d'offre d'achat par le(s) vendeur(s)</h2>

  <div class="flex">
    <label for="" class="mr-2">Nous soussignés</label>
    <input class="flex-grow border-b" type="text" placeholder="" />
  </div>

  <!-- Acceptation ou refus -->
  <div>
    <input type="checkbox" value="" />
    <label class="text-sm" for="">
      {#if enterprise_customization.countryConfiguration == "pf"}
        Confirmons notre acceptation de principe de l’offre d’achat sous réserve
        de la signature dans un délai d’un mois d’un avant-contrat incluant les
        clauses d’usage et les diagnostics si obligatoires.
      {:else}
        Confirmons notre acceptation de principe de l’offre d’achat sous réserve
        de la signature dans un délai d’un mois d’un avant-contrat incluant les
        clauses d’usage et les diagnostics obligatoires.
      {/if}
    </label>
  </div>

  <div>
    <input type="checkbox" value="" />
    <label class="text-sm" for=""> Refus </label>
  </div>

  <div>
    <span>Commentaires</span>
    <textarea type="text" class="w-full border" />
  </div>

  <div class="grid grid-cols-2">
    <input class="w-full text-sm border-b" type="text" value="Fait à" />
    <input class="w-full text-sm border-b" type="text" value="Le" />
  </div>

  <div class="mt-2">
    <span> Signature(s) </span>
    <textarea class="w-full border" />
  </div>

  <!-- <div class="text-sm">
    Suite à l'acceptation du/des vendeur(s), le document de promesse ou
    compromis de vente sera rédigé. Il sera spécifié que l'ACQUEREUR ou le
    VENDEUR qui ne régulariserait pas l'acte authentique et qui ne satiferait
    pas les conditions suspensives devra s'acquitter de la rémunération de
    l'agence.
  </div> -->
</TemplateLayout>
<FicheDeRenseignements />
<BankLoanTemplate />
