<script>
  import Footer from "./footerCompact.svelte";
  import enterprise_customization from "../../../../../enterprise_customization";
</script>

<div class="container disable-select">
  <button class="print:hidden btn btn--dark" onclick="window.print()">
    <i class="fa-solid fa-print" />
    Imprimer
  </button>

  <div class="grid grid-cols-3">
    <div class="col-span-2">
      <h1 class="text-xl">GUIDE DES PROCÉDURES DU NÉGOCIATEUR</h1>
    </div>
    <div>
      <img
        alt="logo"
        style="max-width:250px; max-height:60px;"
        src={enterprise_customization.logolongurl}
      />
      <div>
        <small> Janvier 2022 </small>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-lg">1. Métier de l'agent immobilier</h2>
    <hr />
  </div>

  <p>
    La fonction de négociateur immobilier est proche de celle de conseiller.
  </p>

  <p>
    Il accompagne ses clients tout au long de leur projet immobilier et
    prospecte des biens pour développer son réseau.
  </p>

  <p>
    Ses compétences de négociateur et de commercial, lui permettent de faire le
    lien et de négocier le juste prix entre le propriétaire et l'acheteur.
  </p>

  <p>Les qualités du négociateur:</p>
  <ul>
    <li>L'écoute</li>
    <li>La patience</li>
    <li>La curiosité</li>
    <li>Une bonne élocution</li>
    <li>Un relationnel facile</li>
    <li>Une connaissance de l'immobilier</li>
  </ul>

  <div>
    <h2 class="text-lg">2. La vente</h2>
    <hr />
  </div>

  <div>
    <h3 class="text-lg">Processus de vente</h3>
  </div>

  <ol>
    <li>
      <strong> Démarchage d'un propriétaire </strong>
      <ul>
        <li>Proposer nos services de vente</li>
      </ul>
    </li>
    <li>
      <strong>Le mandat et ses formalités</strong>
      <ul>
        <li>
          Visite, estimation, prise d'information: Titre de propriété, contrat
          de marriage, ...
        </li>
        <li>
          Faire signer le mandat de préférence par voie electronique. (CF
          ANNEXE1 / Remplir un mandat de vente)
        </li>
        <li>
          Si vente de terrain / maison: N'hésitez pas à mettre un géomètre dans
          la boucle.
        </li>
      </ul>
    </li>
    <li><strong>L'enregistrement du mandat dans le registre</strong></li>

    <li>
      <strong>La commercialisation (publicité)</strong>
      <ul>
        <li>
          PAS DE PUBLICATIONS OU DE VISITES AVANT L'ENREGISTREMENT DU MANDAT
        </li>
        <li>La saisie sur le backoffice</li>
        <li>Publication de l'annonce</li>
      </ul>
    </li>
    <li>
      <strong>Le Suivi régulier du vendeur</strong>
      <ul>
        <li>Retour des visites, suggestions, baisse de prix,...</li>
      </ul>
    </li>
    <li>
      <strong>La saisie sur le backoffice des interactions</strong>
      <ul>
        <li>
          Remplir les informations des interactions avec les potentiels
          acheteurs.
        </li>
      </ul>
    </li>
    <li>
      <strong>La Négociation</strong>
      <ul>
        <li>
          L'acheteur émet une offre d'achat, et le vendeur une offre de vente.
        </li>
        <li>
          Definissez si l'acheteur possède son propre notaire. Préférer le
          notaire du vendeur pour le gain de temps.
        </li>

        <li>
          Si les deux parties sont d'accord ({enterprise_customization.enterprise_name}
          inclus), transmettez le dossier au notaire qui va rédiger un compromis
          de vente. [VOIR : "offre d'achat", "offre de vente", "Finalisation de la
          vente"]
        </li>
      </ul>
    </li>
    <li>
      <strong>Le compromis de vente</strong>
      <ul>
        <li>
          Rédaction du compromis par le notaire (ou avant-contrat) qui fixe les
          conditions de la vente: Identité des parties, prix de vente, délais de
          réalisation. [CF: ANNEXE: REMPLIR FICHE DE COMPROMIS]
        </li>
      </ul>
    </li>

    <li>
      <strong>Séquestre</strong>

      <ul>
        <li>
          L'acheteur peut déposer un séquestre (souvent 5% du prix de vente)
          pour montrer sa bonne foi. Il est déduit du prix de vente et remboursé
          si l'acheteur n'obtient pas son financement.
        </li>
      </ul>
    </li>

    <li>
      <strong> Signature offre de prêt </strong>

      <ul>
        <li>
          Pour gagner du temps, déposer la demande de prêt hypothécaire dès que
          les offres de prêts ont été signées.
        </li>
      </ul>
    </li>

    <li>
      <strong>
        Réitération de l'acte authentique ou signature chez le notaire de l'acte
        définitif.
      </strong>
      <ul>
        <li>
          Les fonds sont débloqués pour l'acheteur. Le vendeur et {enterprise_customization.enterprise_name}
          sont payés, et éventuellement le banquier si reliquat de crédit. La vente
          est faite.
        </li>
      </ul>
    </li>
  </ol>

  <div>
    <h3 class="text-lg">Documents à fournir</h3>
  </div>

  <strong> OBLIGATOIRE </strong>

  <ul>
    <li>Pièce d'identité</li>
    <li>Titre de propriété, partage</li>
    <li>
      Plans (Plan cadastral, plan de morcellement si besoin - Mettre un géomètre
      dans la boucle si besoin-)
    </li>
    <li>Contrat de marriage (si disponible)</li>
  </ul>

  <strong> Biens en copropriété </strong>

  <ul>
    <li>2 derniers procès-verbaux d'assemblée générale</li>
    <li>2 derniers décomptes de charges de copropriété</li>
    <li>Plans (si disponibles)</li>
  </ul>

  <strong> Appartements </strong>

  <ul>
    <li>Attestation de mesurage s'il ne figure pas au titre de propriété</li>
  </ul>

  <strong> Terrains </strong>

  <ul>
    <li>Plan cadastral</li>
    <li>Plan de morcellement (si disponible)</li>
  </ul>

  <div>
    <h3 class="text-lg">Offre d'achat (Acquéreur)</h3>
  </div>

  <p>
    Lorsqu'un acquéreur à décidé d'acheter, il faut lui présenter l'offre
    d'achat. Disponible dans votre "Espace" en ligne. Sur cette offre figure le
    nom du propriétaire, acquéreur et le prix proposé. Si il veut effecture un
    prêt, lui proposer la "demande de financement". Faire signer cette offre et
    l'envoyer à la direction pour le contresigner.
  </p>

  <ul>
    <li>
      <strong> Offre avec emprunt </strong> (Le plus fréquent)
      <ul>
        <li>
          L'acquéreur fait un emprunt. Le dépôt de garantie est de 100 000{enterprise_customization.currency}.
        </li>
        <li>
          Si le compromis possède une condition suspensive de financement:
          L'acheteur dispose d'un délai de 45 jours (en moyenne) pour éffectuer
          les démarches liées au crédit. Ainsi, s'il justifie qu'il a effectué
          démarches nécessaires et que le financement n'est pas accordê, la
          vente est annulée sans indemnités pour toutes les parties. Attention
          aux attestations de complaisance.
        </li>
        <li>
          Si le client obtient son prêt (il doit assurer le crédit), il
          bénéficie d'un delai de 11 jours une fois l'offre de prêt émise par la
          banque.
        </li>
      </ul>
    </li>
    <li>
      <strong> Offre paiement comptant </strong>
      <ul>
        <li>
          L'aquéreur a déjà les fonds. Le dépôt de garantie est de 5-10% du prix
          de vente.
        </li>
        <li>
          L'acheteur ne pourra plus se rétracter après la signature du compromis
          (obligation de réaliser la vente). S'il se rétracte, il devra au
          vendeur et à l'agence des indemnités prévues dans le compromis.
        </li>
      </ul>
    </li>
  </ul>

  <div>
    <h3 class="text-lg">Offre de vente (Propriétaire)</h3>
  </div>

  <strong> ATTENTION: </strong>
  Le prix affiché sur l'offre de vente est le prix NET vendeur. Ne
  <strong> pas </strong>
  mettre les honoraires d'agence.

  <p>
    Elle est envoyé au propriétaire pour présenter le prix proposé par
    l'acquéreur
    <strong> commission d'agence déduite </strong>
  </p>

  <div>
    <h3 class="text-lg">Finalisation de la vente</h3>
  </div>

  <strong> Après la signature des deux offres (achat et vente). </strong>

  <p>
    Envoyer dès que possible le dossier au notaire le plus complet possible afin
    d'obtenir un rendez-vous pour la signature d'un compromis de vente. Il faut
    joindre à l'email:
  </p>

  <ul>
    <li>Les offres d'achat et de vente</li>
    <li>Les offres d'achat et de vente</li>
    <li>Fiche de renseignement remplie par chaque acheteur</li>

    <li>Les pièces d'identité de chacun</li>
    <li>Le mandat de vente</li>
    <li>
      La note de synthèse de l'opération précisant notamment clairement la
      commission de l'agence. Cette note précise si il y a un ou deux notaires
      pour la vente.
    </li>
  </ul>

  <p>
    À la suite du compromis il faut accompagner si nécessaire le notaire pour
    obtenir les papiers administratifs nécessaires.
  </p>

  <p>
    Il faut noter dans l'agenda les dates limites d'acceptation des offres de
    demande de financement afin de remettre rapidement le bien à la vente en cas
    de refus.
  </p>

  <p>
    Pour la signature finale de la vente il faut établir par la comptabilité la
    facture appelée "Bon de commission" en rapport avec le mandat. La facture
    est au nom de celui qui paye, le propriétaire du bien dans le cas de mandat
    "classique", le preneur en cas de mandat de recherche.
  </p>

  <div>
    <h2 class="text-lg">3. Diffusion des annonces</h2>
    <hr />
  </div>

  <p>
    Il est nécessaire de bien compléter la fiche produit à la vente sur le
    backoffice.
  </p>

  <p>Attention à ne pas donner d'indice de localisation trop précise !</p>

  <strong> Description de l'annonce </strong>

  <p>Pas de fautes</p>

  <p>
    Exemple :
    <br />
    Au cœur d'un cadre de vie calme et privilégié, belle maison de 200m² entièrement
    rénovée avec goût, à vendre. Disposant de beaux volumes, cette propriété est
    composée d'un bel espace de vie au 1er niveau, avec un beau séjour lumineux,
    une belle cuisine équipée moderne et fonctionnelle, et une salle de bain attenante.
    Le niveau inférieur est composé d'une suite indépendante avec accès au jardin.
    Les extérieurs agréablement aménagés dans la perspective d'une très belle vue
    mer, proposent une belle piscine.
  </p>

  {#if enterprise_customization.countryConfiguration == "pf"}
    <strong> Diffusion petitesannonces.pf </strong>

    <p>
      Nomenclature: Numéro de mandat + le titre + les initiales du négociateur
      <br />Exemple : <strong> 103 - MAISON À VENDRE SUR PAPARA (PL) </strong> (pour
      Pierre Dupont)
    </p>
  {/if}
</div>

<Footer />

<style>
  .disable-select {
    user-select: none;
  }
</style>
