<script>
  import enterprise_data from "../../../../../enterprise_data.ts";
</script>

<h3 class="text-center">FORMULAIRE TYPE DE RÉTRACTATION</h3>
<p>
  (Veuillez compléter et renvoyer le présent formulaire uniquement si vous
  souhaitez vous rétracter du contrat)
</p>

<p>À l'attention de :</p>

<div class="text-center">
  <strong>
    {enterprise_data.agency_name}
    <br />
    {enterprise_data.agency_address}
  </strong>
</div>

<br />

<p>
  Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*)
  rétractation du contrat portant sur la vente du bien (*)/pour la prestation de
  services (*) ci-dessous :
</p>

<br /><br /><br />

<p>Commandé le (*)/reçu le (*) :</p>

<br /><br /><br />

<p>Nom du (des) consommateur(s) :</p>

<br /><br /><br />
<p>Adresse du (des) consommateur(s) :</p>

<br /><br /><br />
<p>
  Signature du (des) consommateur(s) (uniquement en cas de notification du
  présent formulaire sur papier) :
</p>

<br /><br /><br />

<div>Date :</div>

<br /><br /><br />

<div>(*) Rayez la mention inutile</div>
