<script>
  import Sidebar_admin from "./Sidebar.svelte";
  import BlogItem from "./BlogItem.svelte";
  import Loading from "../Loading.svelte";

  import { onMount } from "svelte";
  import { Blogs } from "../../api/blogs";

  import enterprise_customization from "../../../enterprise_customization.ts";

  onMount(async () => {
    Meteor.subscribe("visible_blogs");
  });

  let blogs;
  $m: {
    blogs = Blogs.find(
      { isVisible: true },
      { sort: { createdAt: -1 } }
    ).fetch();

    // if (blogs) {
    //   blogs.forEach(function (blog) {
    //     blog.createdAt = dayjs(blog.createdAt).format("DD/MM/YYYY");
    //     blog.htmlcontent = blog.htmlcontent.substring(0, 30);
    //     blog.description = blog.description.substring(0, 30);
    //   });
    // }
  }
</script>

<svelte:head>
  <title>Blog Immobilier {enterprise_customization.enterprise_name}</title>
  <!-- Description for Google and search engines -->
  <meta
    name="description"
    content="Blog sur l'investissement immobilier, vente appartements maisons, prêt immobilier"
  />

  <link
    rel="canonical"
    href="https://{enterprise_customization.website}/blog"
  />
</svelte:head>

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container mx-auto">
    <ol>
      <li><a href="/" aria-label="homepage">Home</a></li>
      <li>Blog</li>
    </ol>
    <h2>Blog</h2>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="mt-5 blog">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <div class="col-span-2 entries">
        {#each blogs as blog}
          <BlogItem {...blog} />
        {:else}
          <!-- <Loading /> -->
        {/each}

        <!--Pagination  -->
        <div class="blog-pagination">
          <ul class="justify-center">
            <li class="disabled">
              <i class="fa-solid fa-chevron-circle-left" />
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
              <a href="#"> <i class="fa-solid fa-chevron-circle-right" /> </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End blog entries list -->

      <div class="col-span-1">
        <Sidebar_admin />
      </div>
      <!-- End blog sidebar -->
    </div>
  </div>
</section>

<!-- End Blog Section -->
<style>
  .entry .entry-meta ul li + li {
    padding-left: 20px;
  }

  .blog-pagination {
    color: #444444;
  }

  .blog-pagination ul {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  .blog-pagination li {
    border: 1px solid white;
    margin: 0 5px;
    transition: 0.3s;
  }

  .blog-pagination li.active {
    background: white;
  }

  .blog-pagination li a {
    color: #aaaaaa;
    padding: 7px 16px;
    display: inline-block;
  }

  .blog-pagination li.active,
  .blog-pagination li:hover {
    background: var(--main-color);
    border: 1px solid var(--main-color);
  }

  .blog-pagination li.active a,
  .blog-pagination li:hover a {
    color: #fff;
  }

  .blog-pagination li.disabled {
    background: #fff;
    border: 1px solid white;
  }

  .blog-pagination li.disabled i {
    color: #f1f1f1;
    padding: 10px 16px;
    display: inline-block;
  }
</style>
