<script>
  export let _id,
    title,
    createdAt,
    description,
    username,
    url,
    slug,
    youtubeId,
    thumbnail;

  import dayjs from "dayjs";
  createdAt = dayjs(createdAt).format("DD/MM/YYYY");
</script>

<!-- Video -->
{#if youtubeId}
  <div class="videoWrapper">
    <iframe
      title="youtube"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{youtubeId}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    />
  </div>
{:else if thumbnail}
  <a href="blog/{slug ? slug : _id}">
    <img src={thumbnail} alt="" />
  </a>
{/if}

<article class="entry">
  <!-- Image to put when no video -->
  <!-- <div class="entry-img">
    <img src={img} alt=""  />
  </div> -->

  <h2 class="mb-4 text-2xl font-semibold">
    <a href="blog/{slug ? slug : _id}"> {title} </a>
  </h2>
  <div class="entry-meta">
    <ul>
      <li class="flex items-center">
        {#if username}
          <i class="fa-regular fa-user" />
          <a href="about"> {username} </a>
        {/if}
      </li>
      <li class="flex items-center">
        <i class="fa-regular fa-clock" />
        <time datetime="2020-01-01">{createdAt}</time>
      </li>
      <!-- <li class="flex items-center">
        <i class="fa-regular fa-comment" />
        <a href={url}>{comments}</a>
      </li> -->
    </ul>
  </div>

  <div class="entry-content">
    <p>
      {#if description}{description}{/if}
    </p>
    <div class="read-more">
      <a href={url}> Voir la vidéo </a>
    </div>
  </div>
</article>

<style>
  .entry-meta {
    margin-bottom: 15px;
    color: #777777;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  .entry .entry-title a {
    color: #111111;
    transition: 0.3s;
  }

  .entry .entry-title a:hover {
    color: var(--main-color);
  }

  .entry .entry-meta {
    margin-bottom: 15px;
    color: #777777;
  }

  .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .entry .entry-meta ul li + li {
    padding-left: 20px;
  }

  .entry .entry-meta i {
    font-size: 14px;
    padding-right: 4px;
  }

  .entry .entry-meta a {
    color: #5e5e5e;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }

  .entry .entry-content p {
    line-height: 24px;
  }

  .entry .entry-content .read-more {
    text-align-last: right;
  }

  .entry .entry-content .read-more a {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
  }

  .entry .entry-content .read-more a:hover {
    background: var(--main-lighter-color);
  }

  .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
  }

  .entry .entry-footer i {
    color: #5e5e5e;
    display: inline;
  }

  .entry .entry-footer a {
    color: #8b8b8b;
    transition: 0.3s;
  }

  .entry .entry-footer .cats li {
    display: inline-block;
  }

  .entry .entry-footer .tags li {
    display: inline-block;
  }

  .entry .entry-footer .tags li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
  }

  .entry .entry-footer .share i {
    padding-left: 5px;
  }

  .blog-pagination li a {
    color: #aaaaaa;
    padding: 7px 16px;
    display: inline-block;
  }

  .blog-pagination li.active a,
  .blog-pagination li:hover a {
    color: #fff;
  }
</style>
