<script>
  import BlogItem from "./BlogItem.svelte";
  import Sidebar from "./Sidebar.svelte";

  import enterprise_customization from "../../../enterprise_customization";
  const { socialMedia } = enterprise_customization;

  //Import blogs collection
  import { onMount } from "svelte";
  import { Blogs } from "../../api/blogs";
  import dayjs from "dayjs";

  export let id;

  onMount(async () => {
    Meteor.subscribe("blogslug", id);
  });

  let blogObject;
  $m: {
    blogObject = Blogs.findOne();

    if (blogObject) {
      blogObject.createdAt = dayjs(blogObject.createdAt).format("DD/MM/YYYY");

      if (blogObject.description) {
        blogObject.description = blogObject.description.replace(
          /\r?\n/g,
          "<br />"
        );
      }

      if (blogObject.htmlcontent) {
        blogObject.htmlcontent = blogObject.htmlcontent.replace(
          /\r?\n/g,
          "<br />"
        );
      }
    }
  }
</script>

<svelte:head>
  {#if blogObject}
    <title>{blogObject.title}</title>
    <!-- Description for Google and search engines -->
    <meta name="description" content={blogObject.description} />
  {/if}

  <meta
    name="description"
    content="Blog sur l'épargne retraite, l'assurance vie et prêt immobilier"
  />
</svelte:head>

{#if blogObject}
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container mx-auto">
      <ol>
        <li><a href="/" aria-label="homepage">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>{blogObject.title}</li>
      </ol>
      <h2>Blog</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="container mx-auto mt-4">
    <div class="container">
      <div class="grid grid-cols-2 gap-4">
        <div class="entries">
          {#if blogObject.youtubeId}
            <!-- Video -->
            <div class="videoWrapper">
              <iframe
                title="youtube"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{blogObject.youtubeId}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            </div>
          {:else if blogObject.thumbnail}
            <img src={blogObject.thumbnail} alt="" />
          {/if}

          <article class="entry entry-single">
            <h2 class="mb-4 text-2xl font-semibold">
              {blogObject.title}
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="flex items-center">
                  <i class="fa-solid fa-user" />
                  <a href="/about">{blogObject.username}</a>
                </li>
                <li class="flex items-center">
                  <i class="fa-solid fa-clock" />
                  <time datetime="2020-01-01">{blogObject.createdAt} </time>
                </li>
                <li class="flex items-center">
                  <!-- <i class="fa-solid fa-comment" /> -->
                  <!-- <a href="">12 Comments</a> -->
                </li>
              </ul>
            </div>

            <div class="text-justify entry-content">
              {#if blogObject.description}
                <div>
                  {@html blogObject.description}
                </div>
              {/if}
              {#if blogObject.htmlcontent}
                <div>
                  {@html blogObject.htmlcontent}
                </div>
              {/if}
            </div>

            <div class="clearfix pt-3 border-t entry-footer">
              <div class="float-left">
                {#if blogObject.categories}
                  <i class="fa-solid fa-folder" />
                  <ul class="cats">
                    {#each blogObject.categories as cat}
                      <li><a href="#">{cat}</a></li>
                    {/each}
                  </ul>
                {/if}
                {#if blogObject.tags}
                  <i class="fa-solid fa-tag" />
                  <ul class="tags">
                    {#each blogObject.tags as tag}
                      <li><a href="#">{tag}</a></li>
                    {/each}
                  </ul>
                {/if}
              </div>

              <div class="float-right share">
                {#if socialMedia?.twitter}
                  <a href={socialMedia.twitter} title="Share on Twitter">
                    <i class="pl-2 fa-brands fa-x-twitter" />
                  </a>
                {/if}
                {#if socialMedia?.facebook}
                  <a href={socialMedia.facebook} title="Share on Facebook">
                    <i class="pl-2 fa-brands fa-facebook-f" />
                  </a>
                {/if}
                {#if socialMedia?.instagram}
                  <a href={socialMedia.instagram} title="Share on Instagram">
                    <i class="pl-2 fa-brands fa-instagram" />
                  </a>
                {/if}
              </div>
            </div>
          </article>
        </div>

        <div>
          <Sidebar blogId={id} />
        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Section -->

  <!-- ENDS -->
  <!-- {:else}
  <div class="container">
    Loading...
  </div> -->
{/if}

<style>
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  .entry .entry-meta {
    margin-bottom: 15px;
    color: #777777;
  }

  .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .entry .entry-meta ul li + li {
    padding-left: 20px;
  }

  .entry .entry-meta a {
    color: #5e5e5e;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }

  .entry .entry-content .read-more a {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
  }

  .entry .entry-content .read-more a:hover {
    background: var(--main-lighter-color);
  }

  .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
  }

  .entry .entry-footer .cats li {
    display: inline-block;
  }

  .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
  }

  .entry .entry-footer .tags li {
    display: inline-block;
  }

  .entry .entry-footer .tags li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
  }
</style>
