<script>
  export let _id, title, createdAt, thumbnail, slug;
</script>

<div class="post-item clearfix">
  <img src={thumbnail} alt="" />

  <h4><a href="/blog/{slug ? slug : _id}"> {title} </a></h4>
  <time datetime="2020-01-01">{createdAt}</time>
</div>
