<script>
  import RecentPost from "./RecentPost.svelte";

  //Import blogs collection
  import { onMount } from "svelte";
  import { Blogs } from "../../api/blogs";

  import dayjs from "dayjs";

  export let blogId;

  onMount(async () => {
    Meteor.subscribe("visible_blogs");
  });

  let blogs = [];

  $m: {
    blogs = Blogs.find(
      { slug: { $ne: blogId }, isVisible: true },
      { sort: { createdAt: -1 }, limit: 10 }
    ).fetch();

    if (blogs) {
      blogs.forEach(
        (blog) => (blog.createdAt = dayjs(blog.createdAt).format("DD/MM/YYYY"))
      );
    }
  }
</script>

<div class="sidebar">
  <!-- <h3 class="sidebar-title">Search</h3>
  <div class="search-form">
    <form action="">
      <input type="text" />
      <button type="submit"> <i class="fa-solid fa-search" /> </button>
    </form>
  </div> -->
  <!-- End sidebar search formn-->

  <!-- <h3 class="sidebar-title">Categories</h3>
  <div class="categories">
    <ul>
      {#each categoriesArray as category}
        <li>
          <a href="/{category.title}">{category.title}
            <span>({category.number})</span></a>
        </li>
      {/each}
    </ul>
  </div> -->

  <h3 class="sidebar-title">
    Articles récents <!-- Recent Posts -->
  </h3>
  <div class="mb-8 recent-posts">
    {#each blogs as blog}
      <RecentPost {...blog} />
    {/each}
  </div>

  <!-- <h3 class="sidebar-title">Tags</h3>
  <div class="tags" style="margin-bottom: -10px;">
    <ul>
      {#each tagsArray as tag}
        <li><a href="">{tag}</a></li>
      {/each}
    </ul>
  </div> -->
</div>

<style>
  .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #111111;
    position: relative;
  }

  .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
  }

  .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
  }

  .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #e03a3c;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }

  .search-form form button:hover {
    background: #2b2b2b;
  }

  .tags ul li {
    display: inline-block;
  }

  .tags ul a {
    color: #515151;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #c4c4c4;
    display: inline-block;
    transition: 0.3s;
  }

  .tags ul a:hover {
    color: #fff;
    border: 1px solid #111111;
    background: #111111;
  }

  .tags ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
  }
</style>
