<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { Tenants } from "../../../api/tenants";

  import { navigate } from "svelte-routing";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("tenantsandowners");
  });

  const thisuserId = Meteor.userId();

  let tenants_owned = [];
  let tenants_not_owned = [];

  $m: {
    tenants_owned = Tenants.find(
      { createdBy: thisuserId },
      { sort: { createdAt: -1 } }
    ).fetch();
    if (tenants_owned) {
      tenants_owned.forEach((contact) => {
        contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");
      });
    }

    tenants_not_owned = Tenants.find(
      { createdBy: { $ne: thisuserId } },
      { sort: { createdAt: -1 } }
    ).fetch();
    if (tenants_not_owned) {
      tenants_not_owned.forEach((contact) => {
        contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");

        if (contact.createdBy) {
          const user = Meteor.users.findOne(contact.createdBy);
          if (user?.emails?.[0]?.address) {
            contact.createdBy = user.emails[0].address;
          }
        }
      });
    }
  }

  async function addTenant() {
    const res = await Meteor.callAsync("tenant.insert");

    saved_notification();
    navigate("/pro/databases/tenant/" + res, {
      replace: true,
    });
  }
</script>

<!-- Tenants (Be careful we do not want duplicates..... also tenants can have several
emails ....) -->

<h3>Mes locataires</h3>

<!-- <a class="btn btn-secondary" href="/pro/contact/creation"> -->
<button class="btn btn-secondary" on:click={addTenant}>
  <i class="fa-solid fa-plus" />
  Ajouter un nouveau locataire
</button>
<!-- </a> -->

<table>
  <thead>
    <tr>
      <th />
      <th>Nom</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {#each tenants_owned as contact}
      <tr>
        <td>
          <a href="/pro/databases/contact/{contact._id}">
            <i class="fa-regular fa-edit" />
          </a>
        </td>
        <td>
          {contact.surname || ""}
          {contact.firstname || "Aucun"}
        </td>
        <td>
          <!-- {contact.emails[0].address} -->
          {contact.emails?.[0] || "Aucun"}
        </td>
        <td>
          {contact.phone?.[0] || "Aucun"}
        </td>
        <td>
          {#each contact.type || [] as type}
            {type + " "}
          {/each}
        </td>
      </tr>
    {:else}
      <!-- <Loading /> -->
    {/each}
  </tbody>
</table>

<h5>Autres locataires</h5>

<table>
  <thead>
    <tr>
      <!-- <th /> -->
      <th>Nom</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Creation Date</th>
      <th>Ajouté par</th>
      <th>
        <!-- ID -->
      </th>
    </tr>
  </thead>
  <tbody>
    {#each tenants_not_owned as contact}
      <tr>
        <!-- <td>
          <a href="/pro/databases/contact/{contact._id}">
            <i class="fa-regular fa-edit" />
          </a>
        </td> -->
        <td>{contact.surname || ""} {contact.firstname || ""}</td>
        <td>
          <!-- {contact.emails[0].address} -->
          {contact.emails?.[0] || "Aucun"}
        </td>
        <td>{contact.phone?.[0] || "Aucun"}</td>
        <td>{contact.createdAt}</td>
        <td class="text-sm text-gray-400"> {contact.createdBy} </td>
      </tr>
    {:else}
      <!-- <Loading /> -->
    {/each}
  </tbody>
</table>
