<script>
  import { onMount } from "svelte";
  import { Tenants } from "../../../api/tenants.js";
  import { saved_notification } from "../../../notifications.ts";
  import { navigate } from "svelte-routing";

  export let id;

  onMount(async () => {
    Meteor.subscribe("tenant", id);
  });

  let item;
  let gender = "";

  $m: {
    item = Tenants.findOne(id);

    if (item) {
      gender = item.gender;
      console.log(item);
    }
  }

  async function save() {
    const surname = document.getElementById("surname").value;
    const firstname = document.getElementById("firstname").value;
    const email = document.getElementById("email").value;
    const phone = document.getElementById("phone").value;
    const address = document.getElementById("address").value;
    const birthdate = document.getElementById("birthdate").value;

    await Meteor.callAsync("tenant.update", {
      id,
      gender,
      surname,
      firstname,
      email,
      phone,
      address,
      birthdate,
    });

    saved_notification();
    navigate("/pro/databases/tenants", {
      replace: true,
    });
  }

  const pushtype = async (evt) => {
    const value = evt.target.value;

    if (evt.target.checked) {
      await Meteor.callAsync("tenant.push.type", id, value);
      saved_notification();
    } else {
      await Meteor.callAsync("tenant.pull.type", id, value);
      saved_notification();
    }
  };

  const saveGender = async (evt) => {
    const value = evt.target.value;

    if (evt.target.checked) {
      await Meteor.callAsync("tenant.update.gender", id, value);
      saved_notification();
    }
  };
</script>

<a href="/pro/databases/tenants">Mes locataires</a>

<h4>Locataire</h4>

<!-- {#await Meteor.subscribe('tenant', id)}
  Loading
{:else}
{/if} -->

{#if item}
  <!-- <span class="text-gray-400">{item._id}</span> -->

  {#if !item.gender}
    <div>
      <input
        type="radio"
        id="male"
        name="gender"
        value="male"
        on:click={saveGender}
      />
      <label for="male">Homme</label>
    </div>

    <div>
      <input
        type="radio"
        id="female"
        name="gender"
        value="female"
        on:click={saveGender}
      />
      <label for="female">Femme</label>
    </div>
  {/if}

  <br />

  <label for="surname">Nom</label>
  <div>
    {#if gender == "male" || gender == "female"}
      <div>
        <span>
          {#if gender == "male"}
            M
          {:else if gender == "female"}
            Mme
          {/if}
        </span>
      </div>
    {/if}

    <input id="surname" type="text" value={item.surname || ""} />
  </div>

  <div>
    <label for="firstname">Prénom</label>
    <input id="firstname" type="text" value={item.firstname || ""} />
  </div>

  <!-- Careful they may have several phones -->
  <div>
    <label for="phone">Téléphone</label>
    <input id="phone" type="text" value={item.phone?.[0] || ""} />
  </div>

  <!-- Careful they may have several emails -->
  <div>
    <label for="mail">Adresse email</label>
    <input id="email" type="text" value={item.emails?.[0] || ""} />
  </div>

  <div>
    <label for="address"> Adresse Postale</label>
    <input id="address" type="text" value={item.address || ""} />
  </div>

  <!-- <div>
    <label >Date de naissance</label>
    <input type="text" />
  </div> -->

  <div class="mb-4">
    <div class="font-bold">Date de naissance</div>
    <div>
      <label>
        <input id="birthdate" type="date" value={item.birthdate} />
      </label>
    </div>
  </div>

  <div>
    <label for="nationality">Nationalité</label>
    <input id="nationality" value={item.nationality || ""} type="text" />
  </div>

  <br />

  <button class="btn btn-primary" on:click={save}> Sauvegarder </button>
{/if}
