<script>
  import Sidebar_admin from "../components/admin/Sidebar_admin.svelte";
  import Navbar from "../components/admin/Navbar.svelte";
  // import Footer from "../components/admin/Footer.svelte";
  // import Login from "../../components/login/Login.svelte";
  import { navigate } from "svelte-routing";
  import { onMount } from "svelte";
  // import { isAdminFunction } from "./api/admin.ts";
  // const isAdmin = isAdminFunction();
  // import { saved_notification, error_notification } from "../notifications.ts";
  // import enterprise_customization from "../../enterprise_customization.ts";

  let isAdmin = false;
  let isPro = false;
  const userId = Meteor.userId();

  onMount(async () => {
    if (!userId) {
      navigate("/login");
    }
  });

  let user;
  $m: {
    user = Meteor.user({ fields: { roles: 1, contact: 1 } });
    isAdmin = user?.roles?.includes("admin");
    isPro = user?.roles?.includes("pro");
  }

  let translate = "transition-transform -translate-x-full";
</script>

<div class="h-screen bg-slate-100">
  <Navbar bind:user bind:translate />

  <aside
    class="print:hidden fixed top-0 left-0 z-40 w-64 h-screen pt-20 {translate} bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  >
    <Sidebar_admin />
  </aside>

  <div class="flex-1 p-6 mt-16 bg-gray-100 sm:ml-64 print:ml-0">
    {#if isAdmin}
      <slot />
    {/if}
  </div>
</div>
