<script>
  import Sidebar from "../components/profile/Sidebar_profile.svelte";
  import Navbar from "../components/admin/Navbar.svelte";
  import Login from "../components/login/Login.svelte";
  // import { isAdminFunction } from "./api/admin.ts";

  let userId = Meteor.userId();
  let thisuser;
  let isAdmin;
  let isPro;

  $m: {
    thisuser = Meteor.user({ fields: { roles: 1, contact: 1 } });
    isAdmin = thisuser?.roles?.includes("admin");
    isPro = thisuser?.roles?.includes("pro");
  }

  let translate = "transition-transform  -translate-x-full";
</script>

{#if userId}
  <Navbar bind:translate />
  <aside
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 {translate} bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  >
    <Sidebar />
  </aside>

  <div class="p-4 sm:ml-64 mt-14">
    <!-- <h1 class="text-xl">Profile</h1> -->
    <div>
      {#if isPro}
        <a href="/pro">
          <button class="btn btn-color-main">
            <i class="fa-solid fa-user" />
            Espace Pro
          </button>
        </a>
      {/if}
      {#if isAdmin}
        <a href="/admin">
          <button class="btn btn-color-main">
            <i class="fa-solid fa-user" />
            Espace Admin
          </button>
        </a>
      {/if}
    </div>

    <slot />
  </div>

  <!-- <Footer /> -->
{:else}
  <Login />
{/if}
