<script>
  import Sidebar_pro from "../components/pro/Sidebar_pro.svelte";
  import Navbar from "../components/admin/Navbar.svelte";
  // import Login from "../../components/login/Login.svelte";
  // import { isAdminFunction } from "api/admin.ts";
  // import { isProFunction } from "api/admin.ts";
  // import { isAdminFunction } from "api/admin.ts";

  import { navigate } from "svelte-routing";
  import { onMount } from "svelte";

  // const isPro = isProFunction();
  // const isAdmin = isAdminFunction();

  let user, isAdmin, isPro;
  const userId = Meteor.userId();

  $m: {
    try {
      user = Meteor.user({ fields: { roles: 1, contact: 1 } });
      isAdmin = user?.roles?.includes("admin");
      isPro = user?.roles?.includes("pro");
    } catch (error) {
      console.log({ error });
    }
  }

  onMount(async () => {
    if (!userId) {
      navigate("/login");
    }
  });

  let translate = "transition-transform -translate-x-full";
</script>

<Navbar bind:translate {user} {isAdmin} />

<div class="h-screen bg-slate-100">
  <aside
    id="logo-sidebar"
    class="print:hidden fixed top-0 left-0 z-40 w-64 h-screen pt-20 {translate} bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidebar"
  >
    <Sidebar_pro />
  </aside>

  <div class="flex-1 p-6 mt-16 bg-gray-100 sm:ml-64 print:ml-0">
    {#if isPro}
      <slot />
    {/if}
  </div>
</div>

<!-- <Footer /> -->
