<script>
  import FooterCompact from "../../core/components/admin/databases/mandates/footerCompact.svelte";
</script>

<div class="container mx-auto">
  <table class="w-full" contenteditable="true">
    <thead>
      <th>
        <div />
        <!-- empty header -->
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="container mx-auto content">
            <slot />
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot> <div class="h-[50px]" /></tfoot>
  </table>

  <div id="footer" class="container mx-auto footer">
    <FooterCompact />
  </div>
</div>

<style>
  @media print {
    #footer {
      display: block;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
</style>
