<script>
  export let item, id;

  import { onMount } from "svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  // import { Assets_sale } from "../../../api/assets_sale.js";
  const { currency } = enterprise_customization;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  onMount(async () => {
    //To select for rent assets
    Meteor.subscribe("for_rent_assets");
  });

  $m: {
    // if (item?.asset?.value) {
    //   asset = Assets_rent.findOne({ _id: item.asset.value });
    //   // console.log(asset);
    // }
  }

  async function changerentpermonth(event) {
    const index = event.target.dataset.index;
    const value = event.target.value;

    if (!confirm("Changer?")) return;

    await Meteor.callAsync(
      "mandates_for_rent.update.amendments.rentpermonth",
      id,
      index,
      value
    );
    saved_notification();
  }

  async function changeFees(event) {
    const index = event.target.dataset.index;
    const value = event.target.value;

    if (!confirm("Changer?")) return;

    await Meteor.callAsync(
      "mandates_for_rent.update.amendments.fees",
      id,
      index,
      value
    );

    saved_notification();
  }

  // addLink
  async function addLink() {
    const url = document.getElementById("linkUrl").value;
    const notes = document.getElementById("notes").value;
    const rentpermonth = document.getElementById("rentpermonth").value;
    const fees = document.getElementById("fees").value;
    const type = document.getElementById("type").value;

    const object = {
      type,
      url: url,
      notes: notes,
      rentpermonth: rentpermonth,
      fees: fees,
      date: new Date(),
    };

    await Meteor.callAsync("mandates_for_rent.push.amendments", id, object);

    saved_notification();
    document.getElementById("linkUrl").value = "";
    document.getElementById("notes").value = "";
    document.getElementById("rentpermonth").value = "";
    document.getElementById("fees").value = "";
  }
</script>

<div class="mb-4">
  <div class="text-lg font-semibold">
    <i class="fa-solid fa-file-signature text-[var(--main-color)]" />
    Avenants
  </div>

  <div class="grid gap-4 lg:grid-cols-3">
    <div>
      Loyer (hors charges)
      <div>
        <input id="rentpermonth" class="w-2/3 input" type="string" />
        <span>{currency}</span>
      </div>
    </div>
    <div>
      Frais agence
      <div>
        <input class="w-2/3 input" id="fees" type="string" />
        <span>{currency}</span>
      </div>
    </div>

    <div>
      Type de mandat (si changement)

      <select id="type" class="border select" aria-label="typeSelection">
        <option selected value="">Simple ou exclusif</option>
        <option value="simple"> Simple </option>
        <option value="exclusif"> Exclusif </option>
      </select>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      Notes
      <div>
        <input id="notes" class="w-full input" type="string" />
      </div>
    </div>
    <div>
      Lien
      <div>
        <input id="linkUrl" class="w-full input" type="string" />
      </div>
    </div>
  </div>

  <button class="mt-2 btn btn--light" on:click={addLink}> Ajouter </button>

  <br />
  <br />

  {#each item.amendments || [] as link, i}
    <div>
      {#if link.url}
        <a href={link.url} target="_blank" rel="noreferrer">
          Avenant {i + 1}
          <!-- {link.title} -->
        </a>
      {:else}
        <strong>
          Avenant {i + 1}
          <!-- {link.title} -->
        </strong>
      {/if}

      {#if link.type}
        <div>
          <strong>Type :</strong>
          {link.type}
        </div>
      {/if}

      {link.date.toLocaleDateString()}
      {link.notes}

      <div class="grid grid-cols-2">
        <div>
          <strong>Prix FAI:</strong>
          <div>
            <input
              type="number"
              value={link.rentpermonth || ""}
              data-index={i}
              on:change={changerentpermonth}
            />
            <span>{currency}</span>
          </div>
        </div>
        <div>
          <strong>Frais:</strong>
          <div>
            <input
              class="input"
              type="number"
              value={link.fees || ""}
              data-index={i}
              on:change={changeFees}
            />
            <span>{currency}</span>
          </div>
        </div>
      </div>

      <a
        class="mt-2 btn btn--dark"
        href="/pro/for-rent-mandates/edit/{id}/amendment?amendmentNumber={i}"
      >
        <i class="fa-solid fa-print" /> Imprimer
      </a>
    </div>
  {/each}
</div>
