<script>
  export let item, id;

  import { onMount } from "svelte";
  import { Assets_rent } from "../../../api/assets_rent.js";

  import AssetSectionSelection from "./AssetSectionSelection.svelte";
  import AssetSectionDetails from "./AssetSectionDetails.svelte";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function handle_asset(event) {
    const value = event.detail;
    if (value) {
      await Meteor.callAsync("mandates_for_rent.update.asset", id, value);
      saved_notification();
    }
  }

  onMount(async () => {
    Meteor.subscribe("for_rent_assets"); //To select for assets
  });

  $m: assetsSelection = Assets_rent.find(
    { userId: Meteor.userId(), archived: { $ne: true } }
    // { sort: sortObject, limit: 100 }
  )
    .fetch()
    .map((x) => {
      let obj = {};
      obj.value = x._id;
      if (x.address?.postalCode) {
        obj.label = x.title + " " + x.address.postalCode;
      } else if (x.title) {
        obj.label = x.title;
      } else {
        obj.label = "Pas de titre " + x._id;
      }

      return obj;
    });
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-house text-[var(--main-color)]" />
    Bien associé
  </h2>
  <div class="mb-2">
    <div>
      {#if item.asset}
        <AssetSectionDetails {item} />
      {:else}
        <AssetSectionSelection {id} {item} />
      {/if}
    </div>
  </div>
</div>
