<script>
  export let item;

  import { onMount } from "svelte";
  import { Assets_rent } from "../../../api/assets_rent.js";

  onMount(async () => {
    //To select for rent assets
    Meteor.subscribe("for_rent_assets");
  });

  let asset;

  $m: {
    if (item?.asset?.value) {
      asset = Assets_rent.findOne({ _id: item.asset.value });
    }
  }
</script>

<a href="/pro/databases/for-rent" class="text-blue-600 underline">
  <i class="fa-solid fa-house"></i>
  Mes biens à la location
</a>

{#if asset}
  <i class="fa-solid fa-angle-right" />
  <a href="/pro/for-rent/edit/{asset._id}" class="text-blue-600 underline">
    {asset?.title || "Bien associé"}
  </a>
{:else}
  Aucun
{/if}
