<script>
  export let id;

  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  import { saved_notification } from "../../../notifications";
  import { navigate } from "svelte-routing";

  onMount(async () => {
    Meteor.subscribe("users_roles");
    // Meteor.subscribe("users");
    // To optimise
    Meteor.subscribe("mandate_for_rent_id", id);
  });

  let users = [];
  let mandate;

  const giveMandate = async (event) => {
    if (
      !confirm("Vous allez céder votre mandat, vous ne serez plus propriétaire")
    )
      return;

    value = event.target.value;
    await Meteor.callAsync("mandates_for_rent.update.userId", { id, value });
    saved_notification();
    navigate("/pro/databases/for-rent-mandates", { replace: true });
  };

  $m: {
    users = Meteor.users.find({}, { sort: { createdAt: -1 } }).fetch();
    mandate = Mandates_For_Rent.findOne(id);
  }
</script>

<div>Céder le mandat à:</div>

{#each users as user}
  <div>
    <button class="btn btn--blue" value={user._id} on:click={giveMandate}>
      Céder
    </button>

    {user.contact?.firstname || ""}
    {user.contact?.surname || ""}
    {user.contact?.email || user.emails[0]?.address}
  </div>
{/each}
