<script>
  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  // import Loading from "../../Loading.svelte";

  const {
    formatNumber,
    formatAndcurrency,
  } = require("../../../commonFunctions");

  import { navigate } from "svelte-routing";
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications";

  onMount(async () => {
    Meteor.subscribe("my_mandates_for_rent");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();

  let items = [];
  let items_owned = [];
  let show = false;

  $m: {
    items_owned = Mandates_For_Rent.find(
      { userId: thisuserId, isArchived: { $ne: true } },
      { sort: { createdAt: -1 } }
    ).fetch();

    // console.log(items_owned);
  }

  async function addMandate() {
    const value = document.getElementById("title").value;
    const result = await Meteor.callAsync("mandates_for_rent.insert", value);

    if (result) {
      navigate("/pro/for-rent-mandates/edit/" + result, {
        replace: true,
      });
    }

    return result;
  }

  async function duplicateMandate(event) {
    const value = event.target.dataset.value;
    if (!confirm("Dupliquer?")) return;
    const res = await Meteor.callAsync("mandates_for_rent.duplicate", value);
    return res;
  }

  async function archiveMandate(event) {
    value = event.target.getAttribute("data-value");
    const res = await Meteor.callAsync(
      "mandates_for_rent.update.isArchived",
      value
    );

    saved_notification();
    return res;
  }

  async function deleteMandate(event) {
    id = event.target.getAttribute("data-value");
    if (!confirm("Supprimer?")) return;

    const res = await Meteor.callAsync("mandates_for_rent.remove").then(
      saved_notification()
    );
  }
</script>

<h1 class="text-2xl">Mandats de location</h1>

<!-- Add  -->
<div class="grid items-center grid-cols-2 gap-3">
  <div>
    <input
      class="input"
      type="text"
      placeholder="Titre de l'annonce"
      id="title"
      aria-describedby="title"
    />
  </div>
  <div>
    <button class="btn btn--light" on:click={addMandate}>
      Créer un nouveau mandat
    </button>
  </div>
</div>
<!-- end new -->

<h2 class="mt-10 text-xl">Mes mandats de location</h2>

<table class="w-full">
  <thead>
    <tr>
      <th />
      <th class="text-left">Date</th>
      <th class="text-left">Mandat</th>
      <th class="text-left">Loyer</th>
      <th class="text-left">Bien</th>
      <th class="text-left">Statut</th>
      <th />
    </tr>
  </thead>
  <tbody>
    {#each items_owned as item}
      <tr class="border-b">
        <td>
          {#if item.userId == thisuserId || item.userId == undefined}
            <a
              href="/pro/for-rent-mandates/edit/{item._id}"
              class="text-blue-600"
            >
              <i class="fa-solid fa-pen-to-square" />
            </a>
          {/if}
        </td>
        <td>
          {item.createdAt?.toLocaleDateString() || ""}
        </td>
        <td>
          <a
            href="/pro/for-rent-mandates/edit/{item._id}"
            class="text-blue-600"
          >
            {item.mandate?.number || "Aucun"}
          </a>
        </td>
        <td class="text-sm">
          {#if item.rent?.rent_without_charges}
            {formatAndcurrency(item.rent?.rent_without_charges)}
          {/if}
        </td>
        <td>
          {#if item.asset?.value}
            <a
              href="/pro/for-rent/edit/{item.asset?.value}"
              class="text-blue-600"
            >
              {item.asset?.label || item.asset?.value}
            </a>
          {/if}
        </td>

        <td>
          {#if item.isRented}
            4: Terminé
          {:else if !item.asset || !item.rent}
            0: Non complété
          {:else if !item.signatureDate}
            1: A signer
          {:else if item.signatureDate}
            2: En cours de commercialisation
            <!-- {:else if item.date} -->
            <!-- 3: Compromis signé  -->
            <!-- {:else if item.dateNotariat} -->
            <!-- 2: Location en cours  -->
          {/if}
        </td>

        <td>
          <div>
            <button
              on:click={() => {
                show = !show;
              }}
              type="button"
              class="btn btn--light"
              aria-expanded="false"
            >
              <i class="fa-solid fa-bars" />
            </button>

            {#if show}
              <ul>
                <li>
                  <button data-value={item._id} on:click={duplicateMandate}>
                    <i class="fa-solid fa-copy" />
                    Dupliquer
                  </button>
                </li>

                <li>
                  <a
                    href="/pro/for-rent-mandates/share/{item._id}"
                    id={item._id}
                    data-value={item._id}
                  >
                    <i class="fa-solid fa-share" />
                    Partager
                  </a>
                </li>

                <li>
                  <a
                    href="/pro/for-rent-mandates/give/{item._id}"
                    id={item._id}
                    data-value={item._id}
                  >
                    <i class="fa-solid fa-file-import" />
                    Céder
                  </a>
                </li>

                <li>
                  <button data-value={item._id} on:click={archiveMandate}>
                    <i class="fa-solid fa-archive" />
                    Archiver
                  </button>
                </li>
                <li>
                  <button data-value={item._id} on:click={deleteMandate}>
                    <i class="fa-solid fa-trash" />
                    Supprimer
                  </button>
                </li>
              </ul>
            {/if}
          </div>
        </td>
      </tr>
    {:else}
      <!-- <Loading /> -->
    {/each}
  </tbody>
</table>
