<script>
  // import AssetLink from "./AssetLink.svelte";

  import { onMount, afterUpdate } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  import { Assets_rent } from "../../../api/assets_rent";
  import { Contacts } from "../../../api/contacts";

  const { formatAndcurrency } = require("../../../commonFunctions");

  import dayjs from "dayjs";
  // import Loading from "../../Loading.svelte";
  // import RentMandateProcess from "./RentMandateProcess.svelte";
  // import AssetSection from "./AssetSection.svelte";
  // import AmendmentSection from "./AmendmentSection.svelte";

  import enterprise_customization from "../../../../enterprise_customization";
  const { currency } = enterprise_customization;

  require("dayjs/locale/fr");
  // import 'dayjs/locale/de' // ES 2015
  dayjs.locale("fr");

  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  onMount(async () => {
    Meteor.subscribe("thisuser");
    // Select the seller
    Meteor.subscribe("contacts");
    //To select for rent assets
    Meteor.subscribe("for_rent_assets");
  });

  afterUpdate(async () => {
    if (id) {
      Meteor.subscribe("mandate_for_rent_id_protected", id);
    }
  });

  export let id;

  const url = new URL(window.location.href);
  const amendmentNumber = url.searchParams.get("amendmentNumber");

  let item;
  let amendment;

  let seller;
  let asset;

  $m: {
    item = Mandates_For_Rent.findOne(id);
    asset = Assets_rent.findOne(item?.asset?.value);

    if (asset) {
      console.log({ asset });
    }

    if (item) {
      if (item.amendments[Number(amendmentNumber)]) {
        amendment = item.amendments[Number(amendmentNumber)];
      }

      signatureDate = item.signatureDate;

      if (item.seller) {
        seller = Contacts.findOne(item.seller);
      }
    }
  }

  const userId = Meteor.userId();
</script>

<button class="print:hidden btn btn-primary" onclick="window.print()">
  <i class="fa-solid fa-print" />
  Imprimer
</button>

<div>
  <img src={enterprise_customization.logolongurl} alt="logo" height="60" />
</div>

<div contenteditable="true">
  <h1 class="text-lg">
    AVENANT N°{Number(amendmentNumber) + 1} AU MANDAT DE LOCATION N° {item
      ?.mandate?.number || "______________"}
  </h1>

  <br /><br />

  {#if seller?.gender == "male"}
    Monsieur
  {:else if seller?.gender == "female"}
    Madame
  {:else}
    Madame/Monsieur
  {/if}

  {seller?.surname || "______________"}
  {seller?.firstname || "______________"}

  {#if seller?.gender == "male"}
    né
  {:else if seller?.gender == "female"}
    née
  {:else}
    né(e)
  {/if}

  le {seller?.birth?.birthdate || "______________"} demeurant à {seller?.address
    ?.street || "______________"}
  {seller?.address?.city || "______________"}. Dénommés ci-après « LE MANDANT »

  <br /><br />
  ANOA HOME, siège social PK33 côté montagne, 98712 Tél : +689 87 37 88 92, email
  : contact@anoahome.com, immatriculée au registre du commerce et des sociétés de
  PAPEETE sous n° TPI 21 344 B, titulaire de la carte professionnelle 2022- 01 délivrée
  par la DGAE, garantie financière de la "Banque Socredo" - sous le numéro CB N.0608163,
  assurance de responsabilité professionnelle par Allianz à couverture de la Polynésie
  Française. Représenté par : MOUT-HAM Toerau Dénommée « LE MANDATAIRE »

  <br /><br />
  Il est rappelé que le mandant a donné au mandataire le mandat de location (n°{item
    ?.mandate?.number || "______________"}) pour le bien sis à

  {#if asset?.type == "land"}Terrain
  {:else if asset?.type == "apartment"}Apartement
  {:else if asset?.type == "house"}Maison
  {:else if asset?.type == "building"}Immeuble
  {:else if asset?.type == "commercial"}Local commercial
  {:else if item?.type == "business"}Fond de commerce
  {/if}

  {asset?.address?.streetAddress || ""}
  {asset?.address?.city || ""}

  Par les présentes, il est arrêté et convenu ce qui suit :

  <br /><br />
  Le loyer hors charge est porté à {formatAndcurrency(
    amendment?.rentpermonth
  ) || "__________"}

  <br />
  Les honoraires sont portés à {formatAndcurrency(amendment?.fees) ||
    "__________"} à la charge du vendeur
  <br />

  {#if amendment?.type}
    Le type de mandat est désormais mandat {amendment?.type ||
      "________________"}<br />
  {/if}

  <!-- Le prix de vente (Frais agence inclus) est porté à {formatAndcurrency(
    amendment?.price_feesincluded
  ) || "__________"} -->

  <br />

  <p>
    Toutes les autres dispositions du mandat n° {item?.mandate?.number ||
      "______________"} restent inchangées.
  </p>

  <p>Fait en deux exemplaires.</p>

  <div class="grid grid-cols-2">
    <div>
      Signatures<br />
      Fait à ..............<br />
      Le ..................<br />
      Le mandant<br />
      « lu et approuvé, bon pour mandat »<br />
    </div>
    <div>
      Signatures<br />
      Fait à ..............<br />
      Le ..................<br />
      Le mandataire <br />
      « lu et approuvé, mandat accepté »
    </div>
  </div>
</div>
