<script>
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";
  import enterprise_customization from "../../../../enterprise_customization.ts";

  export let id, item;

  async function getmandatenumber(event) {
    if (!id) return;

    if (!confirm("Confirmer ?")) return;

    if (!item?.asset) {
      if (!confirm("Pas de bien associé, Confirmer ?")) return;
    }
    if (!item?.type) {
      if (!confirm("Il manque le type de mandat, Confirmer ?")) return;
    }
    if (!item?.rent) {
      if (!confirm("Pas de prix/loyer, Confirmer ?")) return;
    }
    if (!item?.landlord) {
      if (!confirm("Pas de propriétaire, Confirmer ?")) return;
    }

    const res = await Meteor.callAsync(
      "mandates_for_rent.add.mandatenumber",
      id
    );
    saved_notification();

    if (res) {
      //Change status to "waiting" / Not possible because the mandate can get number without filling the infomation. So we cannot freeze
      // await Meteor.callAsync("mandates_for_rent.update.status", res, "waiting");
      // navigate("/pro/for-sale-mandates/edit/" + res);

      // Notify the agent
      await Meteor.callAsync("notifyMandateNumberAgent", {
        mandateId: id,
        mandateNumber: res,
        type: "rent",
      });
    }
  }

  async function statusValidation(event) {
    if (!item?.type) {
      error_notification("Il manque le type du mandat");
      return;
    }

    if (!item?.startingDate) {
      error_notification("Il manque la date de début");
      return;
    }

    if (!item?.validityDuration) {
      error_notification("Il manque la durée de validité");
      return;
    }

    if (!item?.landlord) {
      error_notification("Ajoutez le propriétaire");
      return;
    }

    if (!confirm("Demander un numéro de mandat ?")) return;

    if (!item?.asset) {
      if (!confirm("Pas de bien associé, Confirmer ?")) return;
    }

    if (!item?.rent) {
      if (!confirm("Pas de prix/loyer, Confirmer ?")) return;
    }
    if (!item?.landlord) {
      if (!confirm("Pas de propriétaire, Confirmer ?")) return;
    }

    await Meteor.callAsync("mandates_for_rent.update.status", id, "waiting");
    saved_notification();

    await Meteor.callAsync("notifyMandateToValidate", {
      mandateId: id,
      type: "rent",
    });
  }

  async function isRented() {
    await Meteor.callAsync("mandates_for_rent.update.isRented", id, true);
    saved_notification();
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <div class="mb-2">
    <h2 class="text-xl">
      <i class="fa-solid fa-table-columns text-[var(--main-color)]" />
      Process
    </h2>
    <!-- <div>
      {#if item.isRented}
        <h3>
          <span class=> Loué </span>
        </h3>
      {:else}
        <button class="btn btn--light" on:click={isRented}>
          Marquer comme loué
        </button>
      {/if}
    </div> -->

    <div>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        {#if enterprise_customization.countryConfiguration == "fr"}
          <div class="text-center">
            <div>
              1. Remplir les informations, imprimer et signer <br />
              Envoyer au vendeur pour signature
            </div>

            <div>
              {#if item?.type == "simple" || item.type == "semi-exclusif" || item.type == "exclusif"}
                <a
                  href="/pro/for-rent-mandates?type={item.type}&mandateId={id}"
                  class="btn btn--light"
                >
                  <i class="fa-solid fa-file-signature" />
                  Imprimer Mandat
                </a>
              {:else}
                <button class="btn btn--light" disabled>
                  <i class="fa-solid fa-file-signature" />
                  Imprimer Mandat
                </button>
              {/if}
            </div>
          </div>

          <div class="text-center">
            <div>2. Retour du mandat signé et prise du numéro de mandat</div>
            <div>
              {#if item.mandate}
                <span class="badge bg-primary">
                  {item.mandate?.number}
                </span>
              {:else}
                <button on:click={getmandatenumber} class="btn btn--blue">
                  <i class="fa-solid fa-long-arrow-down" />
                  Obtenir un numéro de mandat
                </button>
              {/if}
            </div>
          </div>

          <div class="text-center">
            <div>
              3. Envoyer le mandat original au siège et une copie au
              propriétaire avec le numéro de mandat.
            </div>
            <div>
              {#if item.status != "waiting" && item.status != "validated" && item.type}
                <button class="btn btn-primary" on:click={statusValidation}>
                  <i class="fa-solid fa-clipboard-check" />
                  Envoyer pour validation. J'ai envoyé le mandat
                </button>
              {:else}
                <!-- Disabled -->
                <button class="btn btn-primary" disabled>
                  <i class="fa-solid fa-clipboard-check" />
                  Envoyer pour validation. J'ai envoyé le mandat
                </button>
              {/if}
            </div>
          </div>
        {/if}

        {#if enterprise_customization.countryConfiguration == "pf"}
          <div class="text-center">
            <div>
              1. Remplir les informations, imprimer et signer <br />
              (Envoyer au vendeur pour signature)
            </div>

            <div class="m-3">
              {#if item.type == "simple" || item.type == "semi-exclusif" || (item.type == "exclusif" && item.type)}
                <a
                  href="/pro/templates/for-rent-mandates?type={item.type}&mandateId={id}"
                  class="btn btn--light"
                >
                  <i class="fa-solid fa-file-signature" />
                  Imprimer Mandat
                </a>
              {:else}
                <button class="btn btn--light" disabled>
                  <i class="fa-solid fa-file-signature" />
                  Imprimer Mandat
                </button>
              {/if}
            </div>
          </div>

          <div>
            <div class="text-start">
              2. Retour du mandat signé et prise du numéro de mandat<br />
              3. Envoyer le mandat original au siège et une copie au propriétaire
              avec le numéro de mandat.
            </div>
            <div class="text-center">
              {#if item?.mandate?.number}
                <span class="p-2 border">
                  {item?.mandate?.number}
                </span>

                <a
                  href="/pro/templates/facture?user={item.userId}&type=Location&assetId={item
                    ?.asset?.value}&mandateType={item?.type ||
                    ''}&mandateNumber={item?.mandate?.number || ''}"
                  class="btn btn--light"
                >
                  <i class="fa-regular fa-circle-down" />
                  Facture
                </a>
              {:else if item.status == "waiting"}
                Numéro de mandat demandé (en cours)
              {:else if item.status == "validated"}
                Numéro de mandat validé
              {:else}
                <!-- {item.status} -->
                <button class="btn btn--blue" on:click={statusValidation}>
                  <i class="fa-solid fa-arrow-down" />
                  Obtenir un numéro de mandat. Envoyer pour validation.
                </button>
              {/if}
            </div>
          </div>
        {/if}
      </div>
    </div>
  </div>
</div>
