<script>
  export let id;

  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent.js";

  onMount(async () => {
    Meteor.subscribe("users_roles");
    // Meteor.subscribe("users");
    // To optimise
    Meteor.subscribe("mandate_for_rent_id", id);
  });

  let users = [];
  let mandate;

  const pushSharedWith = async (event) => {
    value = event.target.value;
    await Meteor.callAsync("mandates_for_rent.push.sharedWith", { id, value });
  };

  const pullSharedWith = async (event) => {
    value = event.target.value;
    await Meteor.callAsync("mandates_for_rent.pull.sharedWith", { id, value });
  };

  $m: {
    users = Meteor.users
      .find({ isHidden: { $ne: true } }, { sort: { createdAt: -1 } })
      .fetch();
    mandate = Mandates_For_Rent.findOne(id);
    console.log({ mandate });
  }
</script>

<!-- <div>
  {#each mandate?.sharedWith || [] as user}
    {user}
  {/each}
</div> -->

<div>Partager le mandat avec:</div>

{#each users as user}
  <div>
    {#if mandate?.sharedWith?.includes(user._id)}
      <span
        class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
        >Partagé</span
      >
      <button
        class="btn btn-warning"
        value={user._id}
        on:click={pullSharedWith}
      >
        Arrêter le partage
      </button>
    {:else}
      <button
        class="btn btn-primary"
        value={user._id}
        on:click={pushSharedWith}
      >
        Partager
      </button>
    {/if}

    {user.contact?.firstname || ""}
    {user.contact?.surname || ""}
    {user.contact?.email || user.emails[0]?.address}
  </div>
{/each}
