<script>
  import { onMount } from "svelte";
  import MandatesSaleAdmin_Tovalidate from "./databases/admin_Mandates_Tovalidate.svelte";
  import MandatesAdmin_Incoming_Expiring from "./dashboard/MandateStatus/admin_Mandates_Expiring.svelte";

  onMount(async () => {
    Meteor.subscribe("thisuser");
    await Meteor.callAsync("user.update.IpAndLastConnection");
  });

  let currentUser;

  $m: {
    currentUser = Meteor.user();
  }

  const userId = Meteor.userId();
</script>

<svelte:head>
  <title>Admin</title>
  <meta name="robots" content="noindex" />
</svelte:head>

<h6>
  Bonjour
  {#if currentUser?.contact}
    {currentUser.contact.firstname || ""}
  {:else}
    <!-- Vous n'avez pas pas renseigné vos informations -->
  {/if}
</h6>

{#if !userId}You are not logged <a href="login">Login</a>{/if}

<MandatesSaleAdmin_Tovalidate />
<MandatesAdmin_Incoming_Expiring />
