<script>
  import enterprise_customization from "../../../enterprise_customization";
  import dayjs from "dayjs";

  const year = dayjs().year();
</script>

<footer class="py-5 footer section">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="mb-4">
      <p class="mb-0 text-center">
        Copyright © {year}-<span class="current-year" />
        <a class=" font-weight-normal" href="/" target="_blank">
          {enterprise_customization.enterprise_name}
        </a>
      </p>
    </div>

    <div>
      <ul
        class="mb-0 text-center list-inline list-group-flush list-group-borderless text-xl-right"
      >
        <li class="list-inline-item">
          <a href="/" aria-label="homepage">About</a>
        </li>
        <li class="px-0 list-inline-item">
          <a href="/" aria-label="homepage">Themes</a>
        </li>
        <li class="px-0 list-inline-item">
          <a href="/" aria-label="homepage">Blog</a>
        </li>
        <li class="px-0 list-inline-item">
          <a href="/" aria-label="homepage">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
