<script>
  import enterprise_customization from "../../../enterprise_customization.ts";
  const { logourl, enterprise_name } = enterprise_customization;
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";
  import { navigate } from "svelte-routing";

  export let isAdmin = false;

  function signout() {
    if (!confirm("Déconnection / Log out")) return;
    Meteor.logout(function (err) {
      navigate("/");
      saved_notification();
    });
  }

  export let user, translate;

  let show = "hidden";
  const openUser = () => {
    if (show == "hidden") {
      show = "";
    } else {
      show = "hidden";
    }
  };

  // openSide
  const openSide = () => {
    if (translate == "transition-transform -translate-x-full") {
      translate = "";
    } else {
      translate = "transition-transform -translate-x-full";
    }
  };
</script>

<nav
  class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 print:hidden"
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button
          on:click={openSide}
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>

          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            />
          </svg>
        </button>

        <a href="/" class="flex ml-2 md:mr-24">
          <!-- <img src={logourl} class="h-8 mr-3" alt="Logo" /> -->
          <span
            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
          >
            {enterprise_name}
          </span>
        </a>
      </div>

      <div class="flex items-center">
        <div class="flex items-center ml-3">
          <div>
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              on:click={openUser}
            >
              <span class="sr-only">Open user menu</span>
              {#if user?.contact?.picture}
                <img
                  class="h-8 rounded-full"
                  src={user?.contact?.picture}
                  alt="userphoto"
                />
              {:else}
                <i class="fa-solid fa-user dark:text-slate-200" />
              {/if}
            </button>
          </div>

          <div
            class="z-50 {show} my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                {user?.contact?.firstname || ""}
              </p>
              <!-- <p
                class="text-sm text-gray-900 truncate dark:text-gray-300"
              >
                neil.sims@anoa.com
              </p> -->
            </div>
            <ul class="py-1">
              <li>
                <a
                  href="/pro"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                >
                  <i class="fa-solid fa-table-columns"></i>
                  Dashboard Pro
                </a>
              </li>
              {#if isAdmin}
                <li>
                  <a
                    href="/admin"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem"
                  >
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard Admin
                  </a>
                </li>
              {/if}
              <!-- <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                >
                  Settings
                </a>
              </li> -->

              <li>
                <button
                  on:click={signout}
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                >
                  <i class="fa-solid fa-right-to-bracket"></i>
                  Sign out
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
