<script>
  import {
    saved_notification,
    error_notification,
  } from "../../notifications.ts";

  const buy = () => {
    saved_notification("COMING SOON");
  };

  import enterprise_data from "../../../enterprise_customization.ts";
  const { currency } = enterprise_data;
</script>

SHOP

<div class="mt-3">
  <div>
    <div class="div">Achat carte de visite</div>
  </div>
  <div>
    <!-- <input type="number" /> -->
    <div>
      <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label for="flexRadioDefault1">
        250 / 34.99 {currency}
      </label>
    </div>
    <div>
      <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
      <label for="flexRadioDefault2">
        500 / 44.99 {currency}
      </label>
    </div>
  </div>
</div>
<div class="mt-2">
  <div>
    <div class="div">Achat panneaux publicitaire</div>
  </div>

  <div>
    <!-- <input type="number" /> -->
    <div>
      <input type="radio" name="flexRadioDefault2" id="flex1" />
      <label for="flexRadioDefault1">
        3 / 39.99 {currency}
      </label>
    </div>
    <div>
      <input type="radio" name="flexRadioDefault2" id="flex2" />
      <label for="flexRadioDefault2">
        10 / 84.99 {currency}
      </label>
    </div>
  </div>
</div>

<button class="btn btn-primary" on:click={buy}>
  <i class="fa-solid fa-shopping-cart" />
  Commander
</button>
