<script>
  import admin_customization from "../../../sidebar_admin_customisation.ts";
</script>

<div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
  <ul class="space-y-2">
    {#each admin_customization?.general || [] as item}
      <li>
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          href={item.link}
          style="color:{item.color}"
        >
          <i class={item.icon} />
          <span class="ml-3">
            {item.label}
          </span>
        </a>
      </li>
    {/each}

    <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
      <span class="dark:text-gray-100">Vente</span>
    </h6>

    <ul class="flex-col mb-2">
      {#each admin_customization?.transaction || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 {item.class}"
            href={item.link}
            style="color:{item.color}"
          >
            <i class={item.icon} />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
        <span class="dark:text-gray-100">Location</span>
      </h6>

      {#each admin_customization?.gestion || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class={item.icon} />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      {#if admin_customization?.search?.length > 0}
        <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
          <span class="dark:text-gray-100">Recherche</span>
        </h6>

        {#each admin_customization?.search || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if}

      <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
        <span class="dark:text-gray-100">Users</span>
      </h6>

      {#each admin_customization?.users || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class={item.icon} />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
        <span class="dark:text-gray-100">Papeterie</span>
      </h6>

      {#each admin_customization?.files || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class={item.icon} />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      {#if admin_customization?.new?.length > 0}
        <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
          <span class="dark:text-gray-100">New</span>
        </h6>

        {#each admin_customization?.new || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if}

      <!-- {#if admin_customization?.analytics}
        <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
          <span class="dark:text-gray-100">Statistiques</span>
        </h6>

        {#each admin_customization?.analytics || [] as item}
          <li>
            <a
              class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              href={item.link}
              style="color:{item.color}"
            >
              <i class={item.icon} />
              <span class="ml-3">
                {item.label}
              </span>
            </a>
          </li>
        {/each}
      {/if} -->

      <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
        <span class="dark:text-gray-100">Blogs</span>
      </h6>

      {#each admin_customization?.blogs || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class={item.icon} />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      <h6 class="flex items-center px-3 mt-4 mb-1 justify-content-between">
        <span class="dark:text-gray-100">
          Admin<!-- Logs -->
        </span>
      </h6>
      {#each admin_customization?.admin || [] as item}
        <li>
          <a
            class="flex p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            href={item.link}
            style="color:{item.color}"
          >
            <i class={item.icon} />
            <span class="ml-3">
              {item.label}
            </span>
          </a>
        </li>
      {/each}

      <!-- <li>
      <a
        href="#"
        class="flex items-center p-2 text-base text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
          /></svg
        >
        <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span>
        <span
          class="inline-flex items-center justify-center px-2 ml-3 text-sm text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"
        >
          Pro
        </span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="flex items-center p-2 text-base text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
          /><path
            d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
          /></svg
        >
        <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
        <span
          class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300"
          >3</span
        >
      </a>
    </li>
    <li>
      <a
        href="#"
        class="flex items-center p-2 text-base text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
            clip-rule="evenodd"
          /></svg
        >
        <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="flex items-center p-2 text-base text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
            clip-rule="evenodd"
          /></svg
        >
        <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="flex items-center p-2 text-base text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
            clip-rule="evenodd"
          /></svg
        >
        <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="flex items-center p-2 text-base text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
            clip-rule="evenodd"
          /></svg
        >
        <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
      </a>
    </li> -->
    </ul>
  </ul>
</div>
