<script>
  import dayjs from "dayjs";
  Meteor.subscribe("singles");
  import { Singles } from "../../api/singles";
  //
  import { saved_notification } from "../../notifications";
  const saveToken = async () => {
    const value = document.getElementById(`token`).value;
    const expiredAt = document.getElementById(`expiration_date`).value;

    if (!value) return;
    await Meteor.callAsync("single.update.facebook_token", {
      value,
      expiredAt,
    });
    saved_notification();
  };

  let facebookId, instagramId;

  const saveId = async () => {
    const facebookId = document.getElementById(`facebookId`).value;
    const instagramId = document.getElementById(`instagramId`).value;

    await Meteor.callAsync("single.update.socialmedia_id", {
      facebookId,
      instagramId,
    });
    saved_notification();
  };

  let token;
  $m: {
    token = Singles.findOne({ _id: "facebook_token" });
    socialmedia_id = Singles.findOne({ _id: "socialmedia_id" });
    if (socialmedia_id) {
      facebookId = socialmedia_id.facebookId;
      instagramId = socialmedia_id.instagramId;
    }
  }
</script>

<div>Social Media</div>

<div>Facebook</div>

{#if token}
  {token?.value}
  {#if token.expiredAt}
    {dayjs(token.expiredAt).format()}

    {#if dayjs(token.expiredAt).isBefore(dayjs().startOf("day"))}
      <i class="text-red-500 fa-solid fa-circle-xmark"></i>
    {:else}
      <i class="text-green-500 fa-solid fa-circle-check"></i>
    {/if}
  {/if}
{/if}

<div>
  Token
  <input
    id="token"
    class="w-full input"
    type="text"
    on:change={() => saveToken({})}
  />

  Date expiration
  <input
    id="expiration_date"
    class="w-full input"
    type="date"
    on:change={() => saveToken({})}
  />
</div>

<br /><br />
<div class="underline">How to get the token ?</div>
<div>
  <a
    class="text-blue-500"
    href="https://developers.facebook.com/tools/explorer/"
  >
    https://developers.facebook.com/tools/explorer/
  </a>

  <br />
  <br />
  <br />

  Si vous ne l'avez pas encore fait : Creer votre app
  <a class="text-blue-500" href="https://developers.facebook.com/apps/">
    https://developers.facebook.com/apps/
  </a>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/kqJrwNOX-2U?si=tcSyptf59Ha5InWO"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <br />
  <br />
  <br />

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/oJB1O6wEFKE?si=CTp4LNqQhgNhu_s4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <ul>
    <li>1. Choose the meta app</li>
    <li>2. Choose the page access token (Not user token, not app token)</li>

    <li>
      ⚠️ when you chose the page access token, dont click on generate (otherwise
      it will reset)
    </li>
    <li>3. Add the persmissions : Add everything in the "Event group page"</li>
    <li>
      4. Add the persmissions : Add everything in "Others" :
      instagram_content_publish, ...
    </li>

    <li>
      5. Click on the "i" icon then click on "Open in Access Token Tool" then
      "Extend Access Token"
    </li>

    <li>6. Now you have your token, you can copy paste here</li>

    <li>
      Optional / Debuging To check the token (expiration) : <a
        class="text-blue-500"
        href="https://developers.facebook.com/tools/debug/accesstoken/?access_token=EAAHC92O07kcBACMRLO0kbxp86ZCu3AL8pjsQ7FEfWSF4SUW1FRk4Qb9DoNNagR4WAVU9YB9zizyX3pgNvKGslcLbKPZAie8OL4b9DppoLuaRMPbAblmz8d5RN8I36ZAOe0uvcVU6D5WN7delv7aE0Yg3VjuVVaZClyFbvtqQFJCL0SzZBWBmoZASqR51WlFoMZD&version=v16.0"
      >
        Access Token Debugger - Dev tool
      </a>
    </li>
  </ul>
</div>

<br /><br /><br />

<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/TUUCdF0-UKs?si=C0Cm8GeISWx4PHyw"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<br />

<div>
  Facebook Page ID
  <input
    type="text"
    class="border"
    id="facebookId"
    on:change={() => saveId()}
    value={facebookId || ""}
  />

  {#if facebookId}
    <a href="https://www.facebook.com/{facebookId}" class="text-blue-500">
      page facebook
    </a>
  {/if}
</div>

<div>
  Instagram Page ID
  <input
    type="text"
    class="border"
    id="instagramId"
    on:change={() => saveId()}
    value={instagramId || ""}
  />

  {#if instagramId}
    <a href="https://www.instagram.com/{instagramId}" class="text-blue-500">
      page instagram
    </a>
  {/if}
</div>
