<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let rented, rentedByOthers, cancelledByLandlord;

  let myChart;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chartdorentstatus"), {
      type: "doughnut",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Location",
          },
        },
      },
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    myChart.data = {
      labels: ["Loué", "Loué autre agence", "Annulation vendeur"],
      datasets: [
        {
          label: "Mandats",
          data: [rented, rentedByOthers, cancelledByLandlord],
        },
        // {
        //   label: "Mandats de location",
        //   data: chartData.map((row) => row.rentCount),
        // },
      ],
    };

    myChart.update();
  });
</script>

<canvas id="chartdorentstatus" />
