<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let usersold;
  let myChart;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chartusersold"), {
      type: "doughnut",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Sortie Vente",
          },
        },
      },

      data: {},
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    myChart.data = {
      labels: usersold.map((row) => row.name),
      datasets: [
        {
          label: "Vendu",
          data: usersold.map((row) => row.count),
        },
      ],
    };
    myChart.update();
  });
</script>

<canvas id="chartusersold" />
