<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let salesimple, saleexclusive;
  let myChart;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chartdo"), {
      type: "doughnut",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Vente",
          },
        },
      },
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    myChart.data = {
      labels: ["Simple", "Exclusif"],
      datasets: [
        {
          label: "Mandat",
          data: [salesimple, saleexclusive],
        },
        // {
        //   label: "Mandats de location",
        //   data: chartData.map((row) => row.rentCount),
        // },
      ],
    };
    myChart.update();
  });
</script>

<canvas id="chartdo" />
