<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let rentusers;
  let myChart;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chartuserrent"), {
      type: "doughnut",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Entrée Location",
          },
        },
      },
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    myChart.data = {
      labels: rentusers.map((row) => row.name),
      datasets: [
        {
          label: "Mandats",
          data: rentusers.map((row) => row.count),
        },
      ],
    };

    myChart.update();
  });
</script>

<canvas id="chartuserrent" />
