<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let userrented;
  let myChart;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chartuserrented"), {
      type: "doughnut",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Sortie Location",
          },
        },
      },
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    myChart.data = {
      labels: userrented.map((row) => row.name),
      datasets: [
        {
          label: "Loué",
          data: userrented.map((row) => row.count),
        },
      ],
    };
    myChart.update();
  });
</script>

<canvas id="chartuserrented" />
