<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let saleusers;

  let myChart;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chartuser"), {
      type: "doughnut",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Entrée Vente",
          },
        },
      },
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    myChart.data = {
      labels: saleusers.map((row) => row.name),
      datasets: [
        {
          label: "Mandats",
          data: saleusers.map((row) => row.count),
        },
      ],
    };

    myChart.update();
  });
</script>

<canvas id="chartuser" />
