<script>
  import { Chart } from "chart.js/auto";
  import { onMount, afterUpdate } from "svelte";

  export let chartData;
  let myChart;
  let chartDataObject;

  onMount(async () => {
    myChart = new Chart(document.getElementById("chart"), {
      type: "bar",
    });
  });

  afterUpdate(async () => {
    if (!myChart) return;

    chartDataObject = {
      labels: chartData.map((row) => row.month),
      datasets: [
        {
          label: "Mandats de vente",
          data: chartData.map((row) => row.saleCount),
        },
        {
          label: "Mandats de location",
          data: chartData.map((row) => row.rentCount),
        },
      ],
    };

    myChart.data = chartDataObject;
    myChart.update();
  });
</script>

<canvas id="chart" />
