<script>
  import socialMedia_customization from "../../../../../socialMedia_customization";
  import enterprise_customization from "../../../../../enterprise_customization";
  const { mandateCompulsory, enterprise_name } = enterprise_customization;
  const { facebook } = socialMedia_customization;
  import dayjs from "dayjs";
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  import { fetch } from "meteor/fetch";
  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications";

  export let item;

  Meteor.subscribe("singles");
  import { Singles } from "../../../../api/singles";

  const {
    uploadPicturesFunction,
    addWatermark_images,
  } = require("../../../../commonFunctions.ts");

  // Only for admin
  let isAdmin = false;
  let thisuser;

  const isPublished = (array, id) => {
    if (!array) return;
    const map = array.map((x) => x.id);
    return map.includes(id);
  };

  const getPublishedDate = (array, id) => {
    if (!array) return;
    const result = array.filter((element) => element.id == id && element.date);
    const map = result.map((x) => x.date);
    const lastElement = map.pop();
    if (!lastElement) return;
    return dayjs(lastElement).fromNow();
  };

  $m: {
    thisuser = Meteor.user();
    isAdmin = thisuser?.roles?.includes("admin");
  }

  let { description, postedFBPages, mandateRef } = item;
  let facebookId, token;

  $m: {
    postedFBPages = item.postedFBPages;
    description = item.description;

    token = Singles.findOne({ _id: "facebook_token" });
    socialmedia_id = Singles.findOne({ _id: "socialmedia_id" });
    if (socialmedia_id) {
      facebookId = socialmedia_id.facebookId;
    }
  }

  const notification = (item) => {
    if (!item.title) {
      error_notification("Il manque le titre");
      return true;
    }

    if (!item.rentpermonth) {
      error_notification("Il manque le loyer");
      return true;
    }
    if (!item.images) {
      error_notification("Il manque une photo");
      return true;
    }
    if (!item.description) {
      error_notification("Description incomplète");
      return true;
    }

    if (!confirm("Vous aller publier sur Facebook")) return true;
  };

  const formatDescription = ({ page, description }) => {
    if (description) {
      description = description.replaceAll("\n", "%0A");
      description = description.replaceAll("+", "%2b");
    }

    if (page.publishLink == false) {
      // REMOVE THE URL //Everything that is after http
      const regex = new RegExp(/http\S*/);
      description = description.replace(regex, "");
      description = description.replace("Plus de détails/photos :", "");
    }

    return description;
  };

  const postpageFB = async (page) => {
    if (notification(item)) return;
    document.getElementById(page.pageId).disabled = true;
    document.getElementById(page.pageId).style.background = "#475569";
    saved_notification("En cours de publication... Veuillez patienter");

    description = formatDescription({ page, description });

    const version = facebook.version;
    const { pageId, token } = page;

    const images = item.images;
    const res = await uploadPicturesFunction({
      images,
      version,
      pageId,
      token,
    });

    let array = [...res];

    console.log({ array }); // ok

    let attached_media = "";
    array.forEach((x, i) => {
      if (i != 0) {
        attached_media += `&`;
      }
      attached_media += `attached_media[${i}]={"media_fbid":${x.id}}`;
    });

    const urlToPost = `https://graph.facebook.com/${version}/${pageId}/feed?message=${description}&${attached_media}&access_token=${token}`;

    const response = await fetch(urlToPost, {
      method: "POST",
    });

    data = await response.json();
    console.log({ data });

    if (response.ok) {
      await Meteor.callAsync("asset_rent.update.postedFBPages", {
        id: item._id,
        value: page.id,
      });
      saved_notification("Publié");
    } else {
      error_notification(`Error API ${response.status}`);
      error_notification(`${data.error.message}`);

      await Meteor.callAsync("log.insert", {
        title: `Facebook API error`,
        details: `${response.status} ${response.url}`,
        tag: "error",
      });
    }
  };
</script>

{#if facebook}
  {#if mandateRef || !mandateCompulsory}
    <hr />
    <div class="text-lg">
      <i class="fa-brands fa-facebook" />
      Pages
    </div>

    <table class="w-full">
      <!-- Defined by admin social media -->
      {#if facebookId && token}
        <tr>
          <td class="align-top" style="width:70px;">
            {#if isPublished(item.postedFBPages, facebookId)}
              <i class="text-green-600 fa-solid fa-check" />
              Publié
            {:else}
              <button
                class="px-3 py-1 my-1 text-white bg-blue-600 rounded-md hover:bg-blue-900"
                id={facebookId}
                on:click={() => {
                  postpageFB({
                    pageId: facebookId,
                    name: enterprise_name,
                    token: token.value,
                  });
                }}
              >
                Publier
              </button>
            {/if}
          </td>

          <td>
            {enterprise_name}
          </td>
        </tr>
      {/if}

      <!-- Defined by admin in the code -->
      {#each facebook.pages || [] as page}
        <tr>
          <td class="align-top w-[70px]">
            {#if page.publishButton}
              {#if isPublished(item.postedFBPages, page.id)}
                <i class="text-green-600 fa-solid fa-check" />
                Publié
              {:else}
                <button
                  class="px-3 py-1 my-1 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
                  id={page.pageId}
                  on:click={() => {
                    postpageFB(page);
                  }}
                >
                  Publier
                </button>
              {/if}
            {/if}
          </td>

          <td class="text-right align-top">
            {#if page.badge}
              <span class="badge">{page.badge}</span>
            {/if}
          </td>

          <td>
            {#if page.link}
              <a
                href={page.link}
                target="_blank"
                rel="noreferrer"
                class="text-blue-600 underline"
              >
                {page.name}
              </a>
            {:else}
              {page.name}
            {/if}
          </td>

          <!-- <td class="align-top"> Gratuit </td> -->
        </tr>
      {/each}
    </table>

    {#if facebook?.groups?.length > 0}
      <div class="mt-3 text-lg">
        <i class="fa-brands fa-facebook" />
        Groupes
      </div>

      <table class="w-full">
        {#each facebook?.groups || [] as group}
          {#if group.type.includes("rent")}
            <tr>
              <td class="align-top min-w-[70px]">
                {#if group.publishButton}
                  <!-- {#if item.postedFBPages?.includes(group.id)} -->
                  {#if isPublished(item.postedFBPages, group.id)}
                    <button
                      class="px-3 my-1 text-white bg-blue-600 rounded-md hover:bg-blue-900"
                      id={group.groupId}
                      on:click={() => {}}
                    >
                      RePublier
                    </button>
                  {:else}
                    <button
                      class="px-3 py-1 my-1 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
                      id={group.groupId}
                      on:click={() => {}}
                    >
                      Publier
                    </button>
                  {/if}
                {/if}
              </td>

              <td class="text-right align-top">
                {#if group.badge}
                  <span class="badge">{group.badge}</span>
                {/if}
              </td>
              <td class="text-blue-600 underline align-top">
                {#if group.link}
                  <a href={group.link} target="_blank" rel="noreferrer">
                    {group.name}
                  </a>
                {:else}
                  {group.name}
                {/if}

                {#if isPublished(item.postedFBPages, group.id)}
                  <i class="text-green-600 fa-solid fa-check" />
                  Publié
                {/if}
                {#if getPublishedDate(item.postedFBPages, group.id)}
                  <span class="text-gray-400">
                    {getPublishedDate(item.postedFBPages, group.id)}
                  </span>
                {/if}
              </td>

              <!-- <td class="align-top"> Gratuit </td> -->
            </tr>
          {/if}
        {/each}
      </table>
    {/if}
  {:else}
    Vous pourrez publier sur Facebook après avoir obtenu un numéro de mandat
  {/if}
{/if}
