<script>
  import socialMedia_customization from "../../../../../socialMedia_customization";
  const { instagram } = socialMedia_customization;
  import enterprise_customization from "../../../../../enterprise_customization";
  const { mandateCompulsory, enterprise_name } = enterprise_customization;

  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications";

  export let item;
  console.log(item);

  Meteor.subscribe("singles");
  import { Singles } from "../../../../api/singles";

  const isPublished = (array, id) => {
    if (!array) return;
    const map = array.map((x) => x.id);
    return map.includes(id);
  };

  const {
    createContainerInstagram,
    publishContainerInstagram,
    formatDescription,
    addWatermark_images,
  } = require("../../../../commonFunctions.ts");

  // Only for admin
  let isAdmin = false;
  let thisuser;

  $m: {
    thisuser = Meteor.user();
    isAdmin = thisuser?.roles?.includes("admin");
  }

  let { description, postedFBPages, mandateRef } = item;
  let city, assetType;

  let instagramId, token;

  $m: {
    postedFBPages = item.postedFBPages;
    description = item.description;
    city = item.address?.city;
    assetType = item.type;

    token = Singles.findOne({ _id: "facebook_token" });
    socialmedia_id = Singles.findOne({ _id: "socialmedia_id" });
    if (socialmedia_id) {
      instagramId = socialmedia_id.instagramId;
    }
  }

  const notification = (item) => {
    // if (!item.saleprice) return error_notification("Il manque le prix");
    if (!item.images) return error_notification("Il manque une photo");
    if (!item.description)
      return error_notification("Il manque une description");
    if (!confirm("Vous aller publier sur Instagram")) return;
  };

  const postpageIG = async (page) => {
    notification(item);

    document.getElementById(page.pageId).disabled = true;
    saved_notification("En cours de publication... Veuillez patienter");

    description = formatDescription({ page, description });

    const { version } = instagram;
    const { pageId, token } = page;
    const images = item.images;

    createContainerInstagram({
      images,
      version,
      pageId,
      token,
      description,
      city,
      assetType,
    }).then((res) => {
      if (res.error) {
        error_notification(res.error.message);
        return;
      }

      publishContainerInstagram({
        containerId: res.id,
        version,
        pageId,
        token,
      }).then(async (response) => {
        // if (response.status == "200") {
        if (response) {
          await Meteor.callAsync("asset_rent.update.postedFBPages", {
            id: item._id,
            value: pageId,
          });
          saved_notification("Publié");
        } else {
          error_notification();

          await Meteor.callAsync("log.insert", {
            details: `${response.status} ${response.url} Instagram Page ID : ${pageId} for item ID : ${item._id} `,
            title: `${response.status}  Instagram Page`,
            tag: "error",
          });
        }
      });
    });

    return;
  };
</script>

{#if instagram}
  {#if mandateRef || !mandateCompulsory}
    <hr />
    <div class="text-lg">
      <i class="fa-brands fa-instagram" />
      Instagram
    </div>

    <table class="w-full">
      {#if instagramId && token}
        <tr>
          <td class="align-top">
            <!-- Defined by admin social media -->
            {#if isPublished(item.postedFBPages, instagramId)}
              <i class="text-green-600 fa-solid fa-check" />
              Publié
            {:else}
              <button
                class="px-3 my-1 text-white bg-blue-600 rounded-md hover:bg-blue-900"
                id={instagramId}
                on:click={() => {
                  postpageIG({
                    pageId: instagramId,
                    name: enterprise_name,
                    token: token.value,
                  });
                }}
              >
                Publier
              </button>
            {/if}
          </td>
          <td>
            {enterprise_name}
          </td>
        </tr>
      {/if}

      {#each instagram.pages || [] as page}
        <tr>
          <td class="align-top">
            {#if page.publishButton}
              {#if isPublished(item.postedFBPages, page.id)}
                <i class="text-green-600 fa-solid fa-check" />
                Publié
              {:else}
                <button
                  class="px-3 my-1 text-white bg-blue-600 rounded-md hover:bg-blue-900"
                  id={page.pageId}
                  on:click={() => {
                    postpageIG(page);
                  }}
                >
                  Publier
                </button>
              {/if}
            {/if}
          </td>
          <td class="text-right align-top max-w-[25px]">
            {#if page.badge}
              <span class="badge">{page.badge}</span>
            {/if}
          </td>
          <td class="text-blue-600 underline align-top">
            {#if page.link}
              <a href={page.link} target="_blank" rel="noreferrer">
                {page.name}
              </a>
            {:else}
              {page.name}
            {/if}
          </td>

          <!-- <td class="align-top"> Gratuit </td> -->
        </tr>
      {/each}
    </table>
  {/if}
{/if}
