<script>
  import enterprise_customization from "../../../../../enterprise_customization";
  const { linkedin } = enterprise_customization;
  import { fetch, Headers } from "meteor/fetch";
  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications";
  export let item;

  // Only for admin
  let isAdmin = false;
  let thisuser;

  $m: {
    thisuser = Meteor.user();
    isAdmin = thisuser?.roles?.includes("admin");
  }

  let { description, postedLinkedInPages } = item;
  let photoUrl;

  $m: {
    postedLinkedInPages = item.postedLinkedInPages;
    description = item.description;
    photoUrl = item.images?.[0]?.url;
  }

  const postlinkedIn = (page) => {
    if (!item.images) {
      error_notification("Il manque une photo");
      return;
    }

    if (!item.description) {
      error_notification("Il manque une description");
      return;
    }

    if (!confirm("Vous aller publier sur LinkedIn")) {
      return;
    }

    // description = description.replaceAll("\n", "%0A");

    const pageId = page.pageId;
    const token = page.token;

    let url = "https://api.linkedin.com/rest/posts";

    console.log({ url });

    const postData = {
      author: `urn:li:organization:${page.pageId}`,
      commentary: "Sample text Post",
      visibility: "PUBLIC",
      distribution: {
        feedDistribution: "MAIN_FEED",
        targetEntities: [],
        thirdPartyDistributionChannels: [],
      },
      //   content: {
      //     media: {
      //       title: "title of the video",
      //       id: "urn:li:video:C5F10AQGKQg_6y2a4sQ",
      //     },
      //   },
      lifecycleState: "PUBLISHED",
      isReshareDisabledByAuthor: false,
    };

    saved_notification("En cours de publication...");

    console.log({ postData });

    fetch(url, {
      method: "POST",
      body: JSON.stringify(postData),
      mode: "no-cors", // no-cors, *cors, same-origin
      headers: new Headers({
        "LinkedIn-Version": "202209",
        Authorization:
          "BearerAQXskDI8CHPjAe2EY14FOQtZmL4pdD1xm71TeBNVWj_jXKp3CtKVeCrjHxr3x5nwH3-ANk5eShs3EmKCE8gTYGImWk7UChfD4JGIeBzDt6KnV9c65xDLGgsLLDAa6V__I1xokCWTFke9goj1yC_ndpEuxijntty04DRHxBlmBIugTDluJp6iT_TOMPYpi-wBUgUmyQcNXDxMFZUTh5A9TDFqMFP65rZUX9JyylLbGubaCroR9RP33p5pJBsCVAHCsF3_uBATFSgP6n7vpJqQxlU6xQntg6CUoCKKza6qTCCkLj24kHzKZf4z9pqs1Q7IhXrI2Knx0ye5qKSqAkBQ_qkcnA8ZLA",
        "Content-Type": "application/json",
      }),
    }).then((response) => {
      console.log({ response });

      if (response.status == "200") {
        // await Meteor.callAsync("asset_rent.update.postedLinkedInPages", {
        //   id: item._id,
        //   value: page.id,
        // });
        saved_notification("Publié");
      } else {
        error_notification(`Error API ${response.status}`);

        Meteor.callAsync("log.insert", {
          title: `${response.status} Linkedin`,
          details: `${response.status} ${response.url}`,
          tag: "error",
        });
      }
    });
  };
</script>

{#if linkedin}
  {#if isAdmin}
    <hr />
    LinkedIn
    <table>
      {#each linkedin.pages || [] as page}
        <tr>
          <td> {page.name} </td>
          <td>
            {#if item.postedLinkedInPages && item.postedLinkedInPages.includes(page.id)}
              Publié
            {:else}
              <button
                class="btn btn-primary"
                on:click={() => {
                  postlinkedIn(page);
                }}
              >
                Publier
              </button>
            {/if}
          </td>
          <td> Gratuit </td>
        </tr>
      {/each}
    </table>
  {/if}
{/if}
