<script>
  export let id, item;

  import { isPublishable } from "../common";
  import enterprise_customization from "../../../../../enterprise_customization";
  const {
    displayWallet,
    publicationWebsites,
    enterprise_name,
    mandateCompulsory,
  } = enterprise_customization;

  import PlatformItem from "./PlatformItem.svelte";

  let allPlatforms = [...(publicationWebsites || [])];

  import { onMount } from "svelte";
  import Wallet from "../../PersonalInformation/wallet.svelte";

  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications.ts";

  onMount(async () => {
    // For the wallet
    Meteor.subscribe("thisuser");
  });

  let user;
  user = Meteor.user();

  // function handle_visibility() {
  //   if (item?.title) {
  //     if (!confirm("Are you sure?")) return;
  //     const value = document.getElementById("visible").checked;
  //     await Meteor.callAsync("asset_rent.update.isVisible", id, value);
  //   } else {
  //     console.log("Missing");
  //   }
  // }

  async function visibleTrue() {
    isPublishable(item);
    if (!confirm("Are you sure?")) return;
    // const value = document.getElementById("visible").checked;
    await Meteor.callAsync("asset_rent.update.isVisible", item._id, true);
  }

  async function sendMailing() {
    isPublishable(item);
    if (!confirm("Are you sure?")) return;

    let res;

    try {
      res = await Meteor.callAsync("sendMailing", {
        assetId: item._id,
        transactionType: "rent",
      });
    } catch (error) {
      error_notification(error);
    }

    console.log({ res });

    let message;

    if (res.length === 0) {
      message = `Pas de clients pour ce type de bien`;
      return error_notification(message);
    } else if (res.length === 1) {
      message = `1 mail envoyé`;
    } else {
      message = `${res.length} mails envoyés`;
    }

    message += ` (${res.map((r) => r).join(", ")})`;

    saved_notification(message);
    await Meteor.callAsync("asset_rent.update.mailingSent", item._id, true);
  }

  async function visibleFalse() {
    if (!confirm("Are you sure?")) return;
    await Meteor.callAsync("asset_rent.update.isVisible", id, false);
  }
</script>

<a href="/for-rent/{item.slug || item._id}">
  <button class="btn--light"> Voir l'annonce </button>
</a>

<div class="text-lg">
  <i class="text-gray-600 fa-solid fa-globe" />
  Websites
</div>

<table class="w-full">
  <tr>
    <td>
      {#if item.isVisible}
        <i class="text-green-600 fa-solid fa-check" />
        Publié
        <button class="btn" on:click={visibleFalse}>
          <i class="fa-solid fa-rectangle-xmark text-black-50" />
        </button>

        {#if mandateCompulsory && !item?.mandates}
          <div>
            <i class="fa-solid fa-circle-exclamation" />
            Le bien sera publié quand le mandat sera validé
          </div>
        {/if}
      {:else}
        <button
          class="px-3 py-1 my-1 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
          on:click={visibleTrue}
        >
          Publier
        </button>
      {/if}
    </td>
    <td>
      {enterprise_name}
    </td>
    <!-- <td class="text-right"> Gratuit </td> -->
  </tr>

  {#each allPlatforms as platform}
    <PlatformItem {platform} {item} />
  {/each}

  <tr>
    <td>
      <!-- Test on localhost -->
      {#if Meteor.absoluteUrl() == "http://localhost:3000/"}
        <button class="btn btn-primary" on:click={sendMailing}> Test </button>
      {/if}

      {#if item.mailingSent}
        <i class="text-green-600 fa-solid fa-check" />
        Envoyé
      {:else}
        <button
          class="px-3 py-1 my-1 text-white bg-blue-600 rounded-md hover:bg-blue-900"
          on:click={sendMailing}
        >
          Envoyer
        </button>
      {/if}
    </td>
    <td> Mailing </td>

    <!-- <td class="text-right"> Gratuit </td> -->
  </tr>
</table>

{#if displayWallet && user}
  <Wallet {user} />
{/if}
