<script>
  import {
    saved_notification,
    error_notification,
  } from "../../../../notifications.ts";
  import { isPublishable } from "../common";

  export let platform, item;

  let published = false;

  $m: {
    published = item.publishedOn?.includes(platform.id);
  }

  async function unpublish(id, platform) {
    const notes = `Désactivation: ${platform.id} AssetId: ${id}`;
    const message = `Vous allez enlever de la platform. Voulez vous continuer? ${platform.id}`;

    if (window.confirm(message)) {
      // Add transaction
      await Meteor.callAsync(
        "usertransactions.insert",
        Meteor.user()._id,
        0,
        notes
      );

      // Publish
      await Meteor.callAsync(
        "asset_rent.push.publications",
        id,
        platform,
        false
      );

      saved_notification();
    }
  }

  async function publish(id, platform, boolean) {
    if (boolean == true) {
      isPublishable(item);
    }

    //Check if money in wallet
    let wallet = Meteor.user().wallet?.amount || 0;

    if (platform.costvalue > wallet) {
      error_notification(
        "Votre compte n'a pas les fonds suffisants. Veuillez recharger votre compte"
      );
      return;
    }

    const notes = `${platform.id} AssetId: ${id}`;
    const message = `Vous allez être débité. Voulez vous continuer? Coût: ${platform.cost}`;

    if (window.confirm(message)) {
      // Add transaction and change wallet
      await Meteor.callAsync(
        "usertransactions.insert",
        Meteor.user()._id,
        -platform.costvalue,
        notes
      );

      // Publish
      await Meteor.callAsync(
        "asset_rent.push.publications",
        id,
        platform,
        boolean
      );

      saved_notification();
    }
  }
</script>

<tr>
  <td>
    {#if published}
      <i class="text-green-600 fa-solid fa-check" />
      Publié
      <button
        on:click={() => {
          unpublish(item._id, platform);
        }}
      >
        <i class="fa-solid fa-rectangle-xmark text-black-50" />
      </button>
    {:else}
      <button
        class="px-3 py-1 my-1 text-white bg-blue-600 rounded-md hover:bg-blue-900"
        on:click={() => {
          publish(item._id, platform, true);
        }}
      >
        Publier
      </button>
    {/if}
  </td>
  <td>
    {platform.name}
  </td>
  <td class="text-right">
    {platform.cost}
  </td>
</tr>
