<script>
  export let id, item;

  import PlatformsList from "./PlatformsList.svelte";
  import FacebookPage from "./FacebookPage.svelte";
  import LinkedInPage from "./LinkedInPage.svelte";
  import InstagramPage from "./InstagramPage.svelte";
  import TagsSection from "./Tags_section.svelte";
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <TagsSection {item} {id} />
  <br />

  <h2 class="text-xl">
    <i class="fa-solid fa-tv text-[var(--main-color)]" />
    Publications
  </h2>

  {#if item.isRented || item.isRentedByOthers || item.isCancelled}
    <!--  -->
  {:else}
    <PlatformsList {id} {item} />
    {#if item?.pageViews?.count}
      <div>
        Nombre de vues sur le site web :
        <span class="badge">
          {item?.pageViews?.count}
        </span>
      </div>
    {/if}
    <FacebookPage {item} />
    <LinkedInPage {item} />
    <InstagramPage {item} />
  {/if}
</div>
