<script>
  export let item, id;

  import {
    saved_notification,
    error_notification,
  } from "../../../../notifications";

  // import enterprise_customization from "../../../../enterprise_customization.ts";

  async function pushtag(event) {
    const name = event.target.name;
    await Meteor.callAsync("asset_rent.push.tag", id, name);
    saved_notification();
  }

  async function changeIsRented(event) {
    await Meteor.callAsync("asset_rent.update.isRented", id, true);
    saved_notification();
  }

  async function pullTag(event) {
    if (!confirm("Supprimer?")) return;
    const value = event.target.dataset.tag;
    console.log(event.target.dataset);
    await Meteor.callAsync("asset_rent.pull.tag", { id, value });
    saved_notification();
  }
</script>

<h2 class="text-xl">
  <i class="fa-solid fa-tag text-[var(--main-color)]" />
  Labels <!-- Tags -->
</h2>

<div class="mb-2">
  <div>
    {#if !item.tags?.includes("Exclusivité")}
      <button on:click={pushtag} name="Exclusivité" class="btn btn--light">
        <i class="fa-regular fa-star" />
        Exclusivité
      </button>
    {/if}

    {#if !item.tags?.includes("Baisse de prix")}
      <button on:click={pushtag} name="Baisse de prix" class="btn btn--light">
        <i class="fa-solid fa-arrow-down" />
        Baisse de prix
      </button>
    {/if}

    {#if !item.isRented}
      <button on:click={changeIsRented} name="Loué" class="btn btn--light">
        <i class="fa-solid fa-check" />
        Loué
      </button>
    {/if}

    {#each item.tags || [] as tag}
      <span
        class="bg-gray-100 text-gray-800 text-sm mr-2 px-2.5 py-2.5 rounded-lg"
      >
        {tag}
        <button on:click={pullTag}>
          <i class="fa-solid fa-circle-xmark" data-tag={tag} />
        </button>
      </span>
    {/each}

    {#if item.isRented}
      <span
        class="bg-green-600 text-gray-100 text-sm mr-2 px-2.5 py-2.5 rounded-lg"
      >
        Loué
      </span>
    {/if}
  </div>
</div>
