<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { Contacts } from "../../../api/contacts";
  import { navigate } from "svelte-routing";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("mycontactsandowners");
  });

  const thisuserId = Meteor.userId();
  let contacts_owned = [];
  let contacts_not_owned = [];

  let filter;

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value) {
      filter = { type: { $in: [value] } };
    } else {
      filter = {};
    }
  }

  import ContactDropdown from "./Contact_dropdown.svelte";

  $m: {
    //Initialise
    if (!filter) {
      filter = { createdBy: thisuserId };
    } else {
      filter.createdBy = thisuserId;
    }

    contacts_owned = Contacts.find(filter, { sort: { createdAt: -1 } }).fetch();

    if (contacts_owned) {
      contacts_owned.forEach((contact) => {
        contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");
      });
    }

    contacts_not_owned = Contacts.find(
      { createdBy: { $ne: thisuserId } },
      { sort: { createdAt: -1 } }
    ).fetch();
    if (contacts_not_owned) {
      contacts_not_owned.forEach((contact) => {
        contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");

        if (contact.createdBy) {
          const user = Meteor.users.findOne(contact.createdBy);
          if (user?.emails?.[0]?.address) {
            contact.createdBy = user.emails[0].address;
          }
        }
      });
    }
  }

  async function addContact() {
    const res = await Meteor.callAsync("contact.insert");
    saved_notification();
    navigate("/pro/databases/contact/" + res, {
      replace: true,
    });
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h1 class="text-xl">
    <i class="fa-solid fa-users-between-lines text-[var(--main-color)]" />
    Mes contacts
  </h1>

  <!-- <a class="btn" href="/pro/contact/creation"> -->
  <button class="btn btn--light" on:click={addContact}>
    <i class="fa-solid fa-plus" />
    Ajouter un nouveau contact
  </button>

  <!-- Tab for filter -->
  <div>
    <ul class="flex flex-wrap">
      <li>
        <button
          class="active border rounded-full mx-0.5 px-2 py-1 bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter=""
        >
          Tous
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="landlord"
        >
          Propriétaires (location)
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="seller"
        >
          Vendeurs
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="notary"
        >
          Notaires
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="diagnostic"
        >
          Diagnostiqueurs
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="buyer"
        >
          Acquéreurs
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="prospect_rent"
        >
          Locataire potentiel
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="prospect_buy"
        >
          Acquéreur potentiel
        </button>
      </li>
      <li>
        <button
          class="px-2 py-1 mx-2 border rounded-full bg-slate-50 focus:bg-gray-300"
          on:click={changeFilter}
          data-filter="potentialseller"
        >
          Vendeur potentiel
        </button>
      </li>
    </ul>
  </div>

  {#if contacts_owned?.length > 0}
    <table class="w-full mt-4">
      <thead>
        <tr>
          <th class="text-left">Nom</th>
          <th class="text-left">Email</th>
          <th class="text-left">Phone</th>
          <th class="text-left">Recherche</th>
          <th class="text-left">Notifications</th>
          <th />
        </tr>
      </thead>
      <tbody>
        {#each contacts_owned as contact}
          <tr
            class="border-b hover:bg-slate-50 hover:cursor-pointer"
            on:click={() => {
              navigate(`/pro/databases/contact/${contact._id}`);
            }}
          >
            <td class="text-blue-600 underline">
              {contact.surname || ""}
              {contact.firstname || ""}

              {#if !contact.surname && !contact.firstname}
                Aucun
              {/if}
            </td>

            <td>
              {contact.emails?.[0] || "Aucun"}
            </td>
            <td>
              {contact.phone?.[0] || "Aucun"}
            </td>
            <!-- <td>
              {#each contact.type || [] as type}
                {#if type == "landlord"}
                  <span class="badge"> Propriétaire </span>
                {:else if type == "potentialseller"}
                  <span
                    class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
                  >
                    Vendeur potentiel
                  </span>
                {:else if type == "diagnostic"}
                  <span class="badge"> Diagnostiqueur </span>
                {:else if type == "prospect_buy"}
                  <span class="badge"> Acquéreur potentiel </span>
                {:else if type == "prospect_rent"}
                  <span class=""> Locataire potentiel </span>
                {:else if type == "notary"}
                  <span class="badge"> Notaire </span>
                {:else if type == "buyer"}
                  <span class="badge"> Acquéreur </span>
                {:else if type == "seller"}
                  <span class="badge"> Vendeur</span>
                {:else}
                  {type}
                {/if}
              {/each}
            </td> -->
            <td>
              {contact.searches?.length || ""}
            </td>
            <td>
              {contact.notifications?.length || ""}
            </td>

            <td>
              <ContactDropdown {contact} />
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
        {/each}
      </tbody>
    </table>
  {/if}

  <!-- <h5>Autres contacts</h5>
<table class="w-full">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Creation Date</th>
      <th>Ajouté par</th>
      <th />
    </tr>
  </thead>
  <tbody>
    {#each contacts_not_owned as contact}
      <tr>
        <td>{contact.surname || ""} {contact.firstname || ""}</td>
        <td>
          {contact.emails?.[0] || "Aucun"}
        </td>
        <td>{contact.phone?.[0] || "Aucun"}</td>
        <td>{contact.createdAt}</td>
        <td><small class="text-gray-400"> {contact.createdBy} </small></td>
      </tr>
    {:else}{/each}
  </tbody>
</table> -->
</div>
