<script>
  export let id;
  export let item;
  export let save;

  const maritalstatus = async (evt) => {
    const value = evt.target.value;
    await Meteor.callAsync("contact.update.maritalstatus", id, value);
    saved_notification();
  };
</script>

<div class="p-4 bg-white shadow-md rounded-xl">
  <div>
    <label for="maritalstatus">Statut marital</label>

    {#if item.maritalstatus}
      {#if item.maritalstatus == "single"}
        Seul
      {/if}
      {#if item.maritalstatus == "communityproperty"}
        Communauté des biens
      {/if}
      {#if item.maritalstatus == "separateproperty"}
        Séparation de biens
      {/if}
    {:else}
      <select
        id="marital-status"
        class="border select"
        on:change={maritalstatus}
      >
        <option value="">--Régime--</option>
        <option value="single">Seul</option>
        <option value="communityproperty">Communauté des biens</option>
        <option value="separateproperty">Séparation de biens</option>
      </select>
    {/if}
  </div>

  <div>
    <label for="address"> Adresse Postale</label>
    <input
      class="input"
      id="street"
      type="text"
      value={item.address?.street || ""}
      on:change={save}
    />

    <label for="address"> Ville</label>
    <input
      class="input"
      id="city"
      type="text"
      value={item.address?.city || ""}
      on:change={save}
    />
  </div>

  <!-- <div>
  <label >Date de naissance</label>
  <input type="text" />
</div> -->

  <div class="grid grid-cols-2 mb-3">
    <div>
      <label for="birthdate"> Date de naissance</label>
      <div>
        <label>
          <input
            class="input"
            id="birthdate"
            type="date"
            value={item.birth?.birthdate}
            on:change={save}
          />
        </label>
      </div>
    </div>

    <div>
      <label for="birthplace">Lieu de naissance</label>
      <input
        class="input"
        id="birthplace"
        type="text"
        value={item.birth?.birthplace || ""}
        on:change={save}
      />
    </div>
  </div>

  <div>
    <label for="nationality">Nationalité</label>
    <input
      class="input"
      id="nationality"
      value={item.nationality || "Française"}
      type="text"
      on:change={save}
    />
  </div>

  <div class="grid grid-cols-2">
    <div>
      <label for="iban">IBAN </label>
      <input
        class="input"
        id="iban"
        value={item?.bank?.iban || ""}
        type="text"
        on:change={save}
      />
    </div>
    <div>
      <label for="bic">BIC </label>
      <input
        class="input"
        id="bic"
        value={item?.bank?.bic || ""}
        type="text"
        on:change={save}
      />
    </div>
  </div>

  <div>
    Representé par
    <input
      class="input"
      id="representedBy"
      type="text"
      value={item.representedBy || ""}
      on:change={save}
    />
  </div>

  <div>
    Notes
    <textarea
      class="w-full input"
      id="notes"
      type="text"
      value={item.notes || ""}
      on:change={save}
    />
  </div>
</div>
