<script>
  import { onMount } from "svelte";
  import { Contacts } from "../../../api/contacts.js";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";
  import { navigate } from "svelte-routing";
  import ContactRef from "./ContactRef.svelte";

  import ContactInformation from "./ContactInformation.svelte";
  import ContactExtraInformation from "./ContactExtraInformation.svelte";
  import ContactSearches from "./ContactSearches.svelte";

  export let id;

  let show = "general";

  onMount(async () => {
    Meteor.subscribe("contact", id);
  });

  let item;
  let gender = "";

  $m: {
    item = Contacts.findOne(id);

    if (item) {
      gender = item.gender;
    }

    console.log({ item });
  }

  function deleteContact() {
    if (!confirm("Are you sure?")) return;
    Meteor.callAsync("contact.remove", id);
    saved_notification();
    navigate("/pro/databases/contacts", {
      replace: true,
    });
  }

  async function save() {
    const surname = document.getElementById("surname").value;
    const firstname = document.getElementById("firstname").value;
    const email = document.getElementById("email").value;
    const phone = document.getElementById("phone").value;
    const address = {
      street: document.getElementById("street").value,
      city: document.getElementById("city").value,
    };
    const birthdate = document.getElementById("birthdate").value;
    const birthplace = document.getElementById("birthplace").value;
    const notes = document.getElementById("notes").value;
    const iban = document.getElementById("iban").value;
    const bic = document.getElementById("bic").value;
    const representedBy = document.getElementById("representedBy").value;
    const nationality = document.getElementById("nationality").value;

    await Meteor.callAsync("contact.update", {
      id,
      gender,
      surname,
      firstname,
      email,
      phone,
      address,
      birthdate,
      birthplace,
      iban,
      bic,
      representedBy,
      nationality,
      notes,
    });

    saved_notification();
    // navigate("/pro/databases/contacts", {
    //   replace: true,
    // });
  }

  const pushtype = async (evt) => {
    const value = evt.target.value;
    if (evt.target.checked) {
      await Meteor.callAsync("contact.push.type", id, value);
      saved_notification();
    } else {
      await Meteor.callAsync("contact.pull.type", id, value);
      saved_notification();
    }
  };

  const saveGender = async (evt) => {
    const value = evt.target.value;
    if (evt.target.checked) {
      await Meteor.callAsync("contact.update.gender", id, value);
      saved_notification();
    }
  };
</script>

<a href="/pro/databases/contacts" class="text-blue-600 underline">
  Mes contacts
</a>
{#if item?.firstname || item?.surname}
  <i class="fa-solid fa-angle-right" />
  {item?.firstname || ""}
  {item?.surname || ""}
{/if}

<div class="flex justify-between mb-5">
  <div>
    <h2 class="text-xl">
      <i class="fa-solid fa-id-card-clip text-[var(--main-color)]" />
      Contact
    </h2>
  </div>
  <div>
    <!-- <a href="/pro/databases/contacts" class="btn btn-primary" on:click={save}>
      Sauvegarder
    </a> -->
    <button
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 rounded-lg text-sm px-3 py-1 mr-2 mb-2;"
      on:click={deleteContact}
    >
      <i class="fa-solid fa-trash" />
      Supprimer
    </button>
  </div>
</div>

<ContactRef {id} />

{#if item}
  <div class="p-4 mb-4 bg-white shadow-md rounded-xl">
    {#if !item.type}
      <span class="text-red-600">
        <i class="fa-solid fa-star-of-life"></i>
      </span>
    {/if}

    <div class="flex justify-between">
      <div>
        <div>
          <input
            class="w-4 h-4"
            type="checkbox"
            value="seller"
            id="seller"
            on:change={pushtype}
            checked={item.type?.includes("seller")}
          />
          <label for="seller">Vendeur</label>
        </div>

        <div>
          <input
            class="w-4 h-4"
            type="checkbox"
            value="potentialseller"
            id="potentialseller"
            on:change={pushtype}
            checked={item.type?.includes("potentialseller")}
          />
          <label for="potentialseller"> Potentiel vendeur </label>
        </div>

        <div>
          <input
            class="w-4 h-4"
            type="checkbox"
            value="landlord"
            id="buyer"
            on:change={pushtype}
            checked={item.type?.includes("landlord")}
          />
          <label for="landlord"> Propriétaire (Loueur) </label>
        </div>
      </div>

      <div>
        <div>
          <input
            type="checkbox"
            value="buyer"
            id="buyer"
            class="w-4 h-4"
            on:change={pushtype}
            checked={item.type?.includes("buyer")}
          />
          <label for="buyer">Acquéreur</label>
        </div>
        <div>
          <input
            type="checkbox"
            value="prospect_buy"
            id="prospect_buy"
            class="w-4 h-4"
            on:change={pushtype}
            checked={item.type?.includes("prospect_buy")}
          />
          <label for="prospect_buy"> En recherche achat </label>
        </div>
        <div>
          <input
            type="checkbox"
            value="prospect_rent"
            id="prospect_rent"
            class="w-4 h-4"
            on:change={pushtype}
            checked={item.type?.includes("prospect_rent")}
          />
          <label for="prospect_rent"> En recherche location </label>
        </div>
      </div>

      <div>
        <div>
          <input
            type="checkbox"
            value="notary"
            id="notary"
            class="w-4 h-4"
            on:change={pushtype}
            checked={item.type?.includes("notary")}
          />
          <label for="notary">Notaire</label>
        </div>

        <div>
          <input
            type="checkbox"
            value="diagnostic"
            id="diagnostic"
            class="w-4 h-4"
            on:change={pushtype}
            checked={item.type?.includes("diagnostic")}
          />
          <label for="diag"> Diagnostiqueur </label>
        </div>
      </div>
    </div>

    {#if !item.gender}
      <span class="text-red-500"> * </span>

      <div>
        <input
          type="radio"
          id="male"
          name="gender"
          value="male"
          class="w-4 h-4"
          on:click={saveGender}
        />
        <label for="male">Homme</label>
      </div>

      <div>
        <input
          type="radio"
          id="female"
          name="gender"
          value="female"
          class="w-4 h-4"
          on:click={saveGender}
        />
        <label for="female">Femme</label>
      </div>
    {/if}
  </div>

  <!-- Nav -->
  <nav>
    <div class="flex" id="nav-tab" role="tablist">
      <button
        class="p-2 border rounded active bg-slate-50 focus:bg-gray-300"
        id="nav-home-tab"
        type="button"
        on:click={() => {
          show = "general";
        }}
      >
        <i class="fa-solid fa-file-lines" />
        Général
      </button>
      <button
        class="p-2 border rounded bg-slate-50 focus:bg-gray-300"
        id="nav-profile-tab"
        type="button"
        on:click={() => {
          show = "search";
        }}
      >
        <i class="fa-solid fa-magnifying-glass-location" />
        Recherches

        {#if item.searches}
          <span class="badge">
            {item.searches?.length}
          </span>
        {/if}
      </button>

      <button
        class="p-2 border rounded bg-slate-50 focus:bg-gray-300"
        id="nav-contact-tab"
        type="button"
        on:click={() => {
          show = "info";
        }}
      >
        <i class="fa-solid fa-circle-info" />
        Information
      </button>
    </div>
  </nav>

  <div class={show == "general" ? "" : "hidden"}>
    <ContactInformation {item} {id} {save} />
  </div>
  <div class={show == "search" ? "" : "hidden"}>
    <ContactSearches {item} {id} />
  </div>
  <div class={show == "info" ? "" : "hidden"}>
    <ContactExtraInformation {item} {id} {save} />
  </div>
{/if}
