<script>
  export let item;
  export let save;
</script>

<div class="p-4 bg-white shadow-md rounded-xl">
  <div class="grid grid-cols-2 gap-4 mt-3">
    <div>
      <label for="surname">
        <i class="fa-solid fa-address-card" />
        Nom

        {#if !item?.surname}
          <span class="text-red-500"> * </span>
        {/if}
      </label>

      {#if item?.gender == "male" || item?.gender == "female"}
        {#if item?.gender == "male"}
          M.
        {:else if item?.gender == "female"}
          Mme
        {/if}
      {/if}
      <div>
        <input
          class="w-full input"
          id="surname"
          type="text"
          value={item.surname || ""}
          on:change={save}
        />
      </div>
    </div>
    <div>
      <div>
        <label for="firstname">Prénom</label>
        <input
          class="w-full input"
          id="firstname"
          type="text"
          value={item.firstname || ""}
          on:change={save}
        />
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-2">
    <div>
      <!-- Careful they may have several phones -->
      <label for="phone">
        <i class="fa-solid fa-phone" />
        Téléphone
      </label>
      <input
        class="w-full input"
        id="phone"
        type="text"
        value={item.phone?.[0] || ""}
        on:change={save}
      />
    </div>

    <div>
      <!-- Careful they may have several emails -->
      <label for="mail">
        <i class="fa-solid fa-envelope" />
        Adresse email
      </label>
      <input
        class="w-full input"
        id="email"
        type="text"
        value={item.emails?.[0] || ""}
        on:change={save}
      />

      {#if item.hasUnsubscribed}
        <span class="badge">
          Le client s'est désinscrit des notifications
        </span>
      {/if}
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="mt-2">
      <label for="address">
        <i class="fa-solid fa-location-dot" /> Adresse Postale
      </label>
      <input
        class="w-full input"
        id="street"
        type="text"
        value={item.address?.street || ""}
        on:change={save}
      />
    </div>
    <div class="mt-2">
      <label for="address">
        <i class="fa-solid fa-building" />
        Ville
      </label>
      <input
        class="w-full input"
        id="city"
        type="text"
        value={item.address?.city || ""}
        on:change={save}
      />
    </div>
  </div>

  <!-- <div>
  <label>Date de naissance</label>
  <input type="text" />
</div> -->

  <div class="mt-2 mb-3">
    <div>
      <label for="">
        <i class="fa-solid fa-calendar-days" /> Date de naissance
      </label>
      <div>
        <label>
          <input
            class="w-full input"
            id="birthdate"
            type="date"
            value={item.birth?.birthdate}
            on:change={save}
          />
        </label>
      </div>
    </div>

    <div>
      <label for="birthplace">
        <i class="fa-solid fa-location-dot" /> Lieu de naissance
      </label>
      <input
        class="w-full input"
        id="birthplace"
        type="text"
        value={item.birth?.birthplace || ""}
        on:change={save}
      />
    </div>
  </div>

  <div>
    <label for="nationality">
      <i class="fa-solid fa-flag" />
      Nationalité</label
    >
    <input
      class="input"
      id="nationality"
      value={item.nationality || "Française"}
      type="text"
      on:change={save}
    />
  </div>

  <div class="mt-2">
    <i class="fa-solid fa-user" />
    Representé par
    <input
      class="w-full input"
      id="representedBy"
      type="text"
      value={item.representedBy || ""}
      on:change={save}
    />
  </div>

  <div class="mt-2">
    <i class="fa-solid fa-note-sticky" />
    Notes
    <textarea
      class="w-full input"
      id="notes"
      type="text"
      value={item.notes || ""}
      on:change={save}
    />
  </div>
</div>
