<script>
  export let id;
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale.js";
  import { Mandates_For_Rent } from "../../../api/mandates_rent.js";

  onMount(async () => {
    Meteor.subscribe("mandates_for_sale_seller", id);
    Meteor.subscribe("mandates_for_rent_seller", id);
  });

  let salemandates, rentmandates;
  $m: {
    salemandates = Mandates_For_Sale.find({ seller: id }).fetch();
    rentmandates = Mandates_For_Rent.find({ landlord: id }).fetch();
  }
</script>

{#if salemandates.length > 0 || rentmandates.length > 0}
  <div class="p-4 mb-4 bg-white rounded-lg shadow-md">
    {#if salemandates.length > 0}
      <div>
        <h5>
          <i class="fa-regular fa-file"></i> Mandat(s) de vente associé(s)
        </h5>

        {#each salemandates || [] as salemandate}
          <a
            href="/pro/for-sale-mandates/edit/{salemandate._id}"
            class="text-blue-600 underline"
          >
            <div class="p-2 border">
              {salemandate?.mandate?.number ||
                `En attente de numéro Ref: ${salemandate._id}`}
            </div>
          </a>
        {/each}
      </div>
    {/if}

    {#if rentmandates.length > 0}
      <div>
        <h5>
          <i class="fa-regular fa-file"></i> Mandat(s) de location associé(s)
        </h5>

        {#each rentmandates || [] as rentmandate}
          <a
            href="/pro/for-rent-mandates/edit/{rentmandate._id}"
            class="text-blue-600 underline"
          >
            <div>
              {rentmandate?.mandate?.number ||
                `En attente de numéro Ref: ${rentmandate._id}`}
            </div>
          </a>
        {/each}
      </div>
    {/if}
  </div>
{/if}
