<script>
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  export let contact;
  let showhide = false;

  async function deleteContact(event) {
    value = event.target.getAttribute("data-value");
    if (!confirm("Supprimer?")) return;
    await Meteor.callAsync("contact.remove", value);
    saved_notification();
    showhide = false;
  }

  async function duplicateContact(event) {
    const value = event.target.dataset.value;
    if (!confirm("Dupliquer?")) return;
    showhide = false;
    return await Meteor.callAsync("contact.duplicate", value);
  }
</script>

<div class="text-right">
  <button
    class="px-3 py-1 mb-2 mr-1 text-sm text-gray-900 bg-white border border-gray-300 rounded-md cursor-pointer focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
    on:click={() => {
      showhide = !showhide;
    }}
  >
    <i class="fa-solid fa-bars" />
  </button>
</div>

<ul class={showhide ? "block" : "hidden"}>
  <li>
    <a
      href="/pro/contacts/share/{contact._id}"
      id={contact._id}
      data-value={contact._id}
    >
      <i class="fa-solid fa-share" />
      Partager
    </a>
  </li>
  <li>
    <a
      href="/pro/contacts/give/{contact._id}"
      id={contact._id}
      data-value={contact._id}
    >
      <i class="fa-solid fa-file-import" />
      Céder
    </a>
  </li>

  <li>
    <button data-value={contact._id} on:click={duplicateContact}>
      <i class="fa-solid fa-copy" />
      Dupliquer
    </button>
  </li>

  <li>
    <button data-value={contact._id} on:click={deleteContact}>
      <i class="fa-solid fa-trash" />
      Supprimer
    </button>
  </li>
</ul>
