<script>
  import { onMount } from "svelte";
  // import dayjs from "dayjs";
  import Loading from "../../Loading.svelte";
  import { Contacts } from "../../../api/contacts";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";
  import { navigate } from "svelte-routing";

  // In case created inside a mandate
  export let mandateId, contacttype;

  // onMount(async () => {
  //   Meteor.subscribe("contacts");
  // });

  // let contacts = [];
  // $m: {
  //   contacts = Contacts.find({}, { sort: { createdAt: -1 } }).fetch();

  //   if (contacts) {
  //     contacts.forEach((contact) => {
  //       contact.createdAt = dayjs(contact.createdAt).format("DD/MM/YYYY");
  //       // if ( contact?.lastConnection?.date) {
  //       //     contact.lastConnection.date = dayjs(
  //       //         contact.lastConnection.date
  //       //     ).format("DD/MM/YYYY");
  //       // }
  //     });
  //   }
  // }
  let gender = "";
  let surname;
  let nationality = "France";
  let firstname;
  let email;
  let phone;
  let birthdate;
  let address;
  let city;

  async function add() {
    let contactObject = {};

    contactObject.gender = gender;
    contactObject.surname = surname;
    contactObject.firstname = firstname;
    contactObject.phone = phone;
    contactObject.email = email;
    contactObject.birthdate = birthdate;
    contactObject.nationality = nationality;

    contactObject.address = {
      street: address,
      city: city,
    };

    // if (!email?.includes("@")) {
    //   return error_notification("Email missing");
    // }

    if (!surname || surname == "") {
      return error_notification("Name missing");
    }

    if (contactObject.gender == "") {
      return error_notification("Gender missing");
    }

    const res = await Meteor.callAsync(
      "contact.insert.creation",
      contactObject
    );
    // If it is a mandate, no redirection
    if (!mandateId || !contacttype) {
      navigate("/pro/databases/contacts");
    }

    saved_notification();

    if (mandateId && contacttype == "seller") {
      await Meteor.callAsync("mandates_for_sale.update.seller", mandateId, res);
    } else if (mandateId && contacttype == "notary") {
      const label = `${firstname || ""} ${surname || ""}`;
      await Meteor.callAsync("mandates_for_sale.update.notary", mandateId, {
        label: label,
        value: res,
      });
    } else if (mandateId && contacttype == "buyer") {
      await Meteor.callAsync("mandates_for_sale.update.buyer", mandateId, res);
    } else if (mandateId && contacttype == "buyerNotary") {
      await Meteor.callAsync(
        "mandates_for_sale.update.buyerNotary",
        mandateId,
        res
      );
    } else if (mandateId && contacttype == "landlord") {
      await Meteor.callAsync(
        "mandates_for_rent.update.landlord",
        mandateId,
        res
      );
    }

    // Update the type
    if (contacttype) {
      if (contacttype == "buyerNotary") {
        contacttype = "notary";
      }

      await Meteor.callAsync("contact.push.type", res, contacttype);
    }
  }
</script>

<div>
  <div>
    <!-- <div>Male / Female</div> -->
    <div>
      <input
        bind:group={gender}
        type="radio"
        id="male"
        name="gender"
        value="male"
        checked
      />
      <label for="male">Homme</label>
    </div>

    <div>
      <input
        bind:group={gender}
        type="radio"
        id="female"
        name="gender"
        value="female"
      />
      <label for="female">Femme</label>
    </div>
  </div>

  <!-- <div>
    <div>
      <input type="checkbox" value="" id="flexCheckDefault" />
      <label for="flexCheckDefault"> Vendeur </label>
    </div>
    <div>
      <input type="checkbox" value="" />
      <label for=""> Acquéreur </label>
    </div>
  </div>
  <div>
    <div>
      <input type="checkbox" value="" />
      <label for=""> Notaire </label>
    </div>

    <div>
      <input type="checkbox" value="" />
      <label for=""> Diagnostiqueur </label>
    </div>
  </div> -->
</div>

<div class="mb-2">
  <label for="">Nom</label>
  <input class="input" bind:value={surname} type="text" />
</div>

<div class="mb-2">
  <label for="">Prénom</label>
  <input bind:value={firstname} class="input" type="text" />
</div>

<!-- Careful they may have several phones -->
<div class="mb-2">
  <label for="">Téléphone</label>
  <input bind:value={phone} class="input" type="text" />
</div>

<!-- Careful they may have several emails -->
<div class="mb-2">
  <label for="">Adresse email</label>
  <input bind:value={email} class="input" type="email" />
</div>

<div class="mb-2">
  <label for=""> Adresse Postale</label>
  <input bind:value={address} class="input" type="text" />
  <label for=""> Ville</label>
  <input bind:value={city} class="input" type="text" />
</div>

<div class="mb-2">
  <div><strong> Date de naissance</strong></div>
  <div>
    <label>
      <input id="birthdate" bind:value={birthdate} class="input" type="date" />
    </label>
  </div>
</div>

<div>
  <div>
    <label for="nationality">Nationalité</label>
    <input
      id="nationality"
      class="input"
      type="text"
      bind:value={nationality}
    />
  </div>
</div>

<div class="mt-3">
  <button class="btn btn--blue" on:click={add}>
    <i class="fa-solid fa-plus" />
    <!-- Ajouter -->
    Sauvegarder
  </button>
</div>
