<script>
  export let search;
  export let index;
  export let id;
  import { roundNumberFormat } from "../../../commonFunctions";

  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale";
  import { Assets_rent } from "../../../api/assets_rent";
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";
  import { error } from "jquery";

  // if (search.type == "sale") {
  //   onMount(async () => {
  //     Meteor.subscribe("for_sale_assets");
  //   });
  // } else if (search.type == "rent") {
  //   onMount(async () => {
  //     Meteor.subscribe("for_rent_assets");
  //   });
  // }

  onMount(async () => {
    if (search.type == "sale") {
      Meteor.subscribe("for_sale_assets");
    } else if (search.type == "rent") {
      Meteor.subscribe("for_rent_assets");
    }
  });

  const deleteSearch = async () => {
    if (!confirm("Sure?")) return;
    await Meteor.callAsync("contacts.pull.searches", { id, index });
    saved_notification();
  };

  const activate = async () => {
    if (!confirm("Activer?")) return;
    await Meteor.callAsync("contacts.searches.isActive", { id, index });
  };

  let filter = {};
  let options = {};
  let assets_to_display;

  $m: {
    // if (countryConfiguration == "pf") {

    if (search.cities) {
      filter["address.city"] = { $in: search.cities.map((x) => x.value) };
    } else {
      // filter = unsetProperty(filter, "address.city");
    }
    // }

    if (search.assetType == [] || search.assetType == "") {
      // filter = unsetProperty(filter, "type");
    } else if (search.assetType) {
      filter["type"] = { $in: [search.assetType] };
    }

    filter.archived = { $ne: true };
    filter.isVisible = true;

    options.sort = { createdAt: -1 };

    if (search.type == "sale") {
      filter.isSold = { $ne: true };
      if (search.max) {
        filter["saleprice.fees_included"] = { $lte: search.max };
        // filter["saleprice.fees_included"] = { $lte: search.max };
        // filter["saleprice"] = { "saleprice.fees_included": { $lte: search.max } };
      }

      assets_to_display = Assets_sale.find(filter, options).fetch();
    }
    if (search.type == "rent") {
      assets_to_display = Assets_rent.find(filter, options).fetch();
    }
  }
</script>

<div class="p-4 mt-4 bg-white border shadow rounded-xl">
  <div>
    <div class="flex justify-between">
      <div>
        {#if search.isActive}
          <i class="text-green-600 fa-solid fa-check" />
          Actif
        {:else}
          <button class="btn btn--blue" on:click={activate}>
            <i class="fa-solid fa-envelopes-bulk"></i>
            Activer
          </button>
        {/if}
      </div>

      <div>
        {#if search.type == "sale"}
          Achat
        {:else if search.type == "rent"}
          Location
        {:else}
          {search.type}
        {/if}

        {#if search.assetType == "house"}
          Maison
        {:else if search.assetType == "building"}
          Immeuble
        {:else if search.assetType == "apartment"}
          Appartement
        {:else if search.assetType == "land"}
          Terrain
        {:else}
          {search.assetType}
        {/if}

        {#each search.cities || [] as city}
          <span>
            {city.label}
          </span>
        {/each}

        <span class="badge">
          Prix Min : {roundNumberFormat(search.priceMin)}
        </span>

        <span class="badge">
          Prix Max : {roundNumberFormat(search.priceMax)}
        </span>

        {#if search.landSurfaceMin}
          <span class="badge">
            Terrain Min : {roundNumberFormat(search.landSurfaceMin)}
          </span>
        {/if}

        {#if search.livingAreaMin}
          <span class="badge">
            Surface habitable Min : {roundNumberFormat(search.livingAreaMin)}
          </span>
        {/if}
      </div>
      <div>
        <button class="btn btn--light" on:click={deleteSearch}>
          <i class="fa-solid fa-trash" />
          Supprimer
        </button>
      </div>
    </div>
  </div>

  <div class="">
    {#if assets_to_display?.length > 0}
      <div>
        <span class="font-semibold">
          Biens disponibles ({assets_to_display.length})
        </span>

        <div class="grid grid-cols-1 lg:grid-cols-3">
          {#each assets_to_display || [] as asset}
            <div>
              <div>
                {#if search.type == "sale"}
                  <div>
                    <a href="/for-sale/{asset._id}">
                      {asset.title || "Annonce"}
                    </a>
                  </div>
                  {roundNumberFormat(asset.saleprice?.fees_included)}
                  <a href="/for-sale/{asset._id}">
                    <img
                      src={asset.images?.[0].url}
                      alt=""
                      class="h-20 rounded"
                    />
                  </a>
                {:else if search.type == "rent"}
                  <div>
                    <a href="/for-rent/{asset._id}">
                      {asset.title || "Annonce"}
                    </a>
                  </div>
                  {roundNumberFormat(asset.rentpermonth)}/mois
                  <a href="/for-rent/{asset._id}">
                    <img
                      src={asset.images?.[0].url}
                      alt=""
                      class="h-20 rounded"
                    />
                  </a>
                {/if}
              </div>
            </div>
          {/each}
        </div>
      </div>
    {/if}
  </div>
</div>
