<script>
  // import { onMount } from "svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency, countryConfiguration } = enterprise_customization;
  import Select from "svelte-select";

  import cities from "../../../../cities.js";

  import ContactSearchesItem from "./ContactSearchesItem.svelte";
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";

  export let id;
  export let item;

  let search_places;
  let show = false;

  const saveSearch = async () => {
    const cities = search_places;
    const priceMin = Number(document.getElementById("priceMin").value);
    const priceMax = Number(document.getElementById("priceMax").value);

    const landSurfaceMin = Number(
      document.getElementById("landSurfaceMin").value
    );
    const livingAreaMin = Number(
      document.getElementById("livingAreaMin").value
    );

    const selectType = document.getElementById("type");
    const type = selectType.options[selectType.selectedIndex].value;
    const selectAssetType = document.getElementById("assetType");
    const assetType =
      selectAssetType.options[selectAssetType.selectedIndex].value;

    if (!type) return error_notification("Vente/location");
    if (!assetType) return error_notification("Type de bien");
    if (!cities) return error_notification("Ville");
    if (!priceMax) return error_notification("Prix/Loyer Max");
    if (!priceMin) return error_notification("Prix/Loyer Min"); //Needed to be more than 0 for the sql

    await Meteor.callAsync("contacts.push.searches", {
      id,
      priceMin,
      priceMax,
      cities,
      type,
      assetType,
      landSurfaceMin,
      livingAreaMin,
    });

    show = false;
    saved_notification();
  };

  const searchItems = cities.values;
  const groupBy = (item) => item.group;

  function handle_places(event) {
    const array = event.detail;
    if (!array) return;
    return (search_places = array);
  }

  function handleClearCities(event) {
    return (search_places = "");
  }
</script>

{#if item?.notifications}
  <div class="p-4 bg-white border shadow rounded-xl">
    <div>
      <i class="fa-solid fa-paper-plane"></i>
      {item?.notifications.length}
      {item?.notifications.length > 1
        ? "notifications email envoyées"
        : "notification email envoyé"}
    </div>
  </div>
{/if}

<div class="p-4 bg-white border shadow rounded-xl">
  {#if show}
    <div class="mt-3 mb-3">
      <!-- Rent or sale -->
      <select id="type" class="border select" aria-label="typeSelection">
        <option selected value="">Achat ou location</option>
        <option value="sale">Achat</option>
        <option value="rent">Location</option>
      </select>

      <select
        id="assetType"
        class="border select"
        aria-label="assettypeSelection"
      >
        <option selected value="">Appartement, maison ou terrain</option>
        <option value="apartment">Appartement</option>
        <option value="house">Maison</option>
        <option value="building">Immeuble</option>
        <option value="land">Terrain</option>
      </select>

      <div class="font-semibold">Prix / Loyer</div>

      <div class="grid grid-cols-2 mb-2">
        <div>
          <span>Min</span>
          <input
            id="priceMin"
            class="w-2/3 input"
            type="number"
            placeholder=""
            aria-label="min"
          />
          <span>{currency}</span>
        </div>

        <div>
          <span>Max</span>
          <input
            id="priceMax"
            class="w-2/3 input"
            type="number"
            placeholder=""
            aria-label="Server"
          />
          <span>{currency}</span>
        </div>
      </div>

      <div class="font-semibold">Surface</div>

      <div class="grid grid-cols-2 mb-2">
        <div>
          <span>Surface habitable Min</span>
          <input
            class="input"
            id="livingAreaMin"
            type="number"
            placeholder=""
            min="0"
            aria-label="livingAreaMin"
          />
        </div>

        <div>
          <span>Surface terrain Min</span>
          <input
            class="input"
            id="landSurfaceMin"
            type="number"
            min="0"
            placeholder=""
            aria-label="landSurfaceMin"
          />
        </div>
      </div>

      <Select
        on:change={handle_places}
        on:clear={handleClearCities}
        items={searchItems}
        placeholder="Ville"
        {groupBy}
        multiple="true"
      />

      <button class="mt-3 btn btn--blue" on:click={saveSearch}>
        Ajouter une recherche
      </button>
    </div>
  {:else}
    <button class="mt-3 btn btn--blue" on:click={() => (show = true)}>
      Ajouter une recherche
    </button>
  {/if}

  {#if item.hasUnsubscribed}
    <div>
      <span class="badge"> Le client s'est désinscrit des notifications </span>
    </div>
  {/if}
</div>

{#each item?.searches || [] as search, index}
  <ContactSearchesItem {search} {id} {index} />
{/each}
