<script>
  export let id;

  import { onMount } from "svelte";
  import { Contacts } from "../../../api/contacts.js";
  import { saved_notification } from "../../../notifications.ts";
  import { navigate } from "svelte-routing";

  onMount(async () => {
    Meteor.subscribe("users_roles");
    // Meteor.subscribe("users");
    // To optimise
    Meteor.subscribe("contact", id);
  });

  let users = [];
  let contact;

  const giveContact = async (event) => {
    if (
      !confirm(
        "Vous allez céder votre contact, vous ne serez plus propriétaire"
      )
    )
      return;

    value = event.target.value;
    await Meteor.callAsync("contact.update.userId", { id, value });
    saved_notification();
    navigate("/pro/databases/contacts", { replace: true });
  };

  $m: {
    users = Meteor.users.find({}, { sort: { createdAt: -1 } }).fetch();
    contact = Contacts.findOne(id);
  }
</script>

<!-- <div>
  {#each mandate?.sharedWith || [] as user}
    {user}
  {/each}
</div> -->

<div>Céder le mandat à:</div>

{#each users as user}
  <div>
    <button class="btn btn--blue" value={user._id} on:click={giveContact}>
      Céder
    </button>

    <!-- / {user._id} -->
    {user.contact?.firstname || ""}
    {user.contact?.surname || ""}
    {user.contact?.email || user.emails[0]?.address}
  </div>
{/each}
