<!-- contact.push.sharedWith -->
<script>
  export let id;

  import { onMount } from "svelte";
  import { Contacts } from "../../../api/contacts.js";
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("users_roles");
    // Meteor.subscribe("users");
    Meteor.subscribe("contact", id); // To optimise
  });

  let users = [];
  let contact;

  const pushSharedWith = async (event) => {
    value = event.target.value;
    await Meteor.callAsync("contact.push.sharedWith", { id, value });
  };

  const pullSharedWith = async (event) => {
    value = event.target.value;
    await Meteor.callAsync("contact.pull.sharedWith", { id, value });
  };

  $m: {
    users = Meteor.users.find({}, { sort: { createdAt: -1 } }).fetch();
    contact = Contacts.findOne(id);
  }
</script>

<!-- contact.pull.sharedWith -->

<!-- <div>
  {#each mandate?.sharedWith || [] as user}
    {user}
  {/each}
</div> -->

<div>Partager le contact avec:</div>

{#each users as user}
  <div>
    {#if contact?.sharedWith?.includes(user._id)}
      <span
        class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
        >Partagé</span
      >
      <button
        class="btn btn-warning"
        value={user._id}
        on:click={pullSharedWith}
      >
        Arrêter le partage
      </button>
    {:else}
      <button
        class="btn btn-primary"
        value={user._id}
        on:click={pushSharedWith}
      >
        Partager
      </button>
    {/if}

    {user.contact?.firstname || ""}
    {user.contact?.surname || ""}
    {user.contact?.email || user.emails[0]?.address}
  </div>
{/each}
