<script>
  // import { onMount } from "svelte";

  import { navigate } from "svelte-routing";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function addContact() {
    const res = await Meteor.callAsync("contact.insert");

    saved_notification();
    navigate("/pro/databases/contact/" + res, {
      replace: true,
    });
  }
</script>

<button on:click={addContact} class="btn btn-primary">
  Ajouter un contact
</button>
