<script>
  // import { onMount } from "svelte";
  // import Loading from "../../Loading.svelte";
  import { navigate } from "svelte-routing";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function add() {
    // const title = document.getElementById("title").value;
    const res = await Meteor.callAsync("for_sale_assets.insert");
    saved_notification();
    navigate("/pro/for-sale/edit/" + res, {
      replace: true,
    });
  }
</script>

<button on:click={add} class="btn btn-primary">
  Ajouter un bien à vendre
</button>
