<script>
  import { onMount } from "svelte";
  import { Valuations } from "../../../api/valuations.js";
  import CardItem from "./CardItem.svelte";
  // import Loading from "../../Loading.svelte";

  let counter;

  onMount(async () => {
    Meteor.subscribe("myvaluations");
  });

  let item = {
    url: "/pro/avis-de-valeur",
    title: "Mes avis de valeur",
    icon: "fa-solid fa-file-invoice-dollar",
    color: "border-gray-500",
  };

  $m: {
    counter = Valuations.find({ userId: Meteor.userId() }).count();
  }
</script>

<CardItem {...item} />
