<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale";

  import CardItem from "./CardItem.svelte";

  onMount(async () => {
    Meteor.subscribe("for_sale_assets_owner");
  });

  let item = {
    url: "/pro/databases/for-sale",
    title: "Mes biens à vendre",
    icon: "fa-solid fa-building",
    color: "border-blue-500",
  };

  $m: {
    item.counter = Assets_sale.find({
      userId: Meteor.userId(),
      archived: { $ne: true },
    }).count();
  }
</script>

<CardItem {...item} />
