<script>
  import { onMount } from "svelte";
  import { Assets_rent } from "../../../api/assets_rent";
  import CardItem from "./CardItem.svelte";

  let item = {
    url: "/pro/databases/for-rent",
    title: "Mes biens à louer",
    icon: "fa-solid fa-building",
    color: "border-green-500",
  };

  onMount(async () => {
    Meteor.subscribe("for_rent_assets_owner");
  });

  $m: {
    item.counter = Assets_rent.find({ userId: Meteor.userId() }).count();
  }
</script>

<CardItem {...item} />
