<script>
  import { onMount } from "svelte";
  import CardItem from "./CardItem.svelte";
  // import { Bankloans } from "../../../api/bankloans.ts";
  // import Loading from "../../Loading.svelte";
  // import enterprise_customization from "../../../../enterprise_customization.ts";

  onMount(async () => {
    // Meteor.subscribe("bankloans");
  });

  let item = {
    url: "/pro/pret",
    title: "Prêts immobiliers",
    icon: "fa-solid fa-building-columns",
    color: "border-yellow-500",
  };

  $m: {
    // item.counter = Bankloans.find({ userId: Meteor.userId() }).count();
  }
</script>

<CardItem {...item} />
