<script>
  export let url,
    color = "",
    title,
    icon,
    counter = "";
</script>

<a href={url}>
  <div
    class="rounded-lg border-l-4 {color} bg-white shadow-md h-100 py-2 hover:shadow-xl"
  >
    <div class="px-4">
      <div class="grid items-center grid-cols-6">
        <div class="col-span-5 mr-3">
          <div class="mb-1 text-lg">
            {title}
          </div>
          <div class="mb-0 font-bold text-gray-800">{counter || ""}</div>
        </div>

        <div class="text-right">
          <i class="{icon} fa-2x text-gray-300" />
        </div>
      </div>
    </div>
  </div>
</a>
