<script>
  import { onMount } from "svelte";
  import { Contacts } from "../../../api/contacts.js";
  import CardItem from "./CardItem.svelte";
  // import Loading from "../../Loading.svelte";

  onMount(async () => {
    Meteor.subscribe("mycontacts");
  });

  let item = {
    url: "/pro/databases/contacts",
    title: "Mes contacts",
    icon: "fa-solid fa-address-book",
    color: "border-gray-500",
  };

  $m: {
    item.counter = Contacts.find({ createdBy: Meteor.userId() }).count();
  }
</script>

<CardItem {...item} />
