<script>
  import CardItem from "./CardItem.svelte";

  let item = {
    url: "/pro/files/for-sale-mandates/",
    title: "Papeterie",
    icon: "fa-regular fa-folder-open",
  };
</script>

<CardItem {...item} />
