<script>
  import { onMount } from "svelte";
  import { Leases } from "../../../api/leases";
  import CardItem from "./CardItem.svelte";

  let counter;

  onMount(async () => {
    Meteor.subscribe("myleases");
  });

  $m: {
    counter = Leases.find({ userId: Meteor.userId() }).count();
  }

  let item = {
    url: "/pro/leases",
    title: "Mes baux de location",
    icon: "fa-solid fa-clipboard",
    color: "border-green-500",
  };
</script>

<CardItem {...item} />
