<script>
  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr");
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  import { onMount } from "svelte";
  import { Logs } from "../../../api/logs.js";

  const { lowres } = require("../../../commonFunctions.ts");

  let handle;

  onMount(async () => {
    handle = Meteor.subscribe("logs_dashboard");
    // Meteor.subscribe("thisuser");
  });

  let isLoading = true;
  let logs = [];
  $m: {
    isLoading = !handle?.ready();
    logs = Logs.find({}, { sort: { createdAt: -1 } }).fetch();
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-users-between-lines text-[var(--main-color)]" />
    Activités Récentes
  </h2>

  {#if isLoading}
    Loading...
  {:else if logs.length > 0}
    {#each logs as item}
      <div
        class="grid grid-cols-2 py-3 border-b sm:grid-cols-3 last:border-b-0"
      >
        <div class="max-w-[150px]">
          {#if item?.images?.[0]?.url}
            <a href={item?.link}>
              <img
                class="rounded-lg max-h-[80px]"
                src={lowres({ url: item?.images?.[0]?.url, size: "400" })}
                alt=""
              />
            </a>
          {/if}
        </div>

        <div>
          <div>
            {#if item.tag == "Nouveau"}
              <span
                class="bg-yellow-200 text-gray-800 text-xs mr-2 px-2.5 py-0.5 rounded-lg"
              >
                <i class="fa-regular fa-flag" />
                {item.tag}
              </span>
            {:else if ["Sous compromis", "Vendu", "Loué"].includes(item.tag)}
              <span
                class="bg-green-100 text-gray-800 text-xs mr-2 px-2.5 py-0.5 rounded-lg"
              >
                <i class="fa-solid fa-check" />
                {item.tag}
              </span>
            {:else if item.tag == "Baisse de prix"}
              <span
                class="bg-red-100 text-gray-800 text-xs mr-2 px-2.5 py-0.5 rounded-lg"
              >
                <i class="fa-solid fa-arrow-down" />
                {item.tag}
              </span>
            {:else if item.tag}
              <span class="badge">
                {item.tag}
              </span>
            {/if}

            {#if item.type == "Vente"}
              <span
                class="bg-blue-100 text-gray-800 text-xs mr-2 px-2.5 py-0.5 rounded-lg"
              >
                {item.type}
              </span>
            {:else}
              <span
                class="bg-teal-100 text-gray-800 text-xs mr-2 px-2.5 py-0.5 rounded-lg"
              >
                {item.type}
              </span>
            {/if}
          </div>

          <a href={item.link} class="text-blue-600 underline">
            {@html item.title}
          </a>

          <div>
            {item.price || ""}
          </div>
        </div>

        <div class="flex">
          <div class="hidden sm:block">
            {#if item.userpicture}
              <img
                src={lowres({ url: item.userpicture, size: "60" })}
                alt=""
                class="w-10 rounded"
              />
            {/if}
          </div>

          <div class="pl-2">
            <div class="text-sm">
              {item.username || ""}
            </div>
            <div class="text-sm text-gray-700">
              {dayjs().to(dayjs(item.createdAt))}
            </div>
          </div>
        </div>
      </div>
    {/each}
  {:else}
    Aucune
  {/if}
</div>
