<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale";

  import CardItem from "./CardItem.svelte";

  // import Loading from "../../Loading.svelte";
  // import enterprise_customization from "../../../../enterprise_customization.ts";
  // import pro_customisation from "../../../../sidebar_pro_customisation.ts";

  onMount(async () => {
    Meteor.subscribe("my_mandates_for_sale");
  });

  let item = {
    url: "/pro/databases/for-sale-mandates",
    title: "Mandats de vente",
    icon: "fa-solid fa-clipboard-list",
    color: "border-green-500",
  };

  $m: {
    item.counter = Mandates_For_Sale.find({ userId: Meteor.userId() }).count();
  }
</script>

<CardItem {...item} />
