<script>
  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  // import Loading from "../../Loading.svelte";

  import CardItem from "./CardItem.svelte";

  onMount(async () => {
    Meteor.subscribe("my_mandates_for_rent_owner");
  });

  let item = {
    url: "/pro/databases/for-rent-mandates",
    title: "Mandats de location",
    icon: "fa-solid fa-clipboard-list",
    color: "border-green-500",
  };

  $m: {
    counter = Mandates_For_Rent.find({ userId: Meteor.userId() }).count();
  }
</script>

<CardItem {...item} />
