<script>
  // If news are not used any more (if RSS is not used anymore) the package "rss-parser": "^3.12.0", needs to be removed.
  //////////////// For activate CORS
  // https://github.com/Rob--W/cors-anywhere/
  ////////////////

  // let Parser = require("rss-parser");
  // let parser = new Parser();

  // let feed, feedNovelObs;

  // (async () => {
  //   // feed = await parser.parseURL(
  //   //   "https://cors-anywhere.herokuapp.com/https://www.lefigaro.fr/rss/figaro_immobilier.xml"
  //   // );

  //   feedNovelObs = feed = await parser.parseURL(
  //     "https://cors-anywhere.herokuapp.com/https://www.nouvelobs.com/achat-vente/rss.xml"
  //   );

  //   // if (feed) {
  //   //   feed.items.forEach((item) => {
  //   //     console.log(item.title + ":" + item.link);
  //   //   });
  //   // }
  // })();
</script>

News

<!-- {#if feedNovelObs}
  {#each feedNovelObs.items as item}
    <div>
      <a href={item.link}>
        {item.title}
      </a>
    </div>
  {/each}
{/if} -->

<!-- {#if feed}
  {#each feed.items as item}
    <div>
      <a href="item.link">
        {item.title}
      </a>
    </div>
  {/each}
{/if} -->
