<script>
  import dayjs from "dayjs";
  require("dayjs/locale/fr");
  dayjs.locale("fr");
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale";
  import { Mandates_For_Rent } from "../../../api/mandates_rent";
  import GetTitle from "./MandateStatus/GetTitle.svelte";

  onMount(async () => {
    // To optimize.....especially is sold or rented....
    Meteor.subscribe("my_mandates_for_sale_owner");
    Meteor.subscribe("my_mandates_for_rent_owner");
    Meteor.subscribe("thisuser");
  });

  const commonQuery = {
    startingDate: { $exists: true },
    isExpired: { $ne: true },
    // validityDuration: { $exists: true },
  };

  const saleQuery = {
    ...commonQuery,
    deedDate: { $exists: false },
    saleAgreementDate: { $exists: false },
    isCancelledBySeller: { $ne: true },
    isSold: { $ne: true },
    isSoldByOthers: { $ne: true },
  };

  const rentQuery = {
    ...commonQuery,
    isRented: { $ne: true },
    isRentedByOthers: { $ne: true },
    isCancelled: { $ne: true },
  };

  let array = [];
  $m: {
    salemandates = Mandates_For_Sale.find(saleQuery).fetch();
    rentmandates = Mandates_For_Rent.find(rentQuery).fetch();

    salemandates.forEach(
      (x) =>
        (x.expirationDate = dayjs(x.startingDate).add(
          x.validityDuration,
          "month"
        ))
    );

    rentmandates.forEach(
      (x) =>
        (x.expirationDate = dayjs(x.startingDate).add(
          x.validityDuration,
          "month"
        ))
    );

    salemandates = salemandates.map((obj) => ({ ...obj, mandatType: "Sale" }));
    rentmandates = rentmandates.map((obj) => ({ ...obj, mandatType: "Rent" }));

    array = salemandates.concat(rentmandates);
    array.sort((a, b) => a.expirationDate - b.expirationDate);

    console.log({ array });
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-list text-[var(--main-color)]" />
    Mandats en cours
  </h2>

  {#if array?.length > 0}
    <table class="w-full">
      <th class="text-left">
        <!-- N -->
      </th>
      <th />
      <th class="text-left">Validité</th>

      {#each array as item}
        <tr class="border-b last:border-b-0">
          <td class="text-blue-600">
            {#if item.mandatType == "Sale"}
              <a
                href="/pro/for-sale-mandates/edit/{item._id}"
                class="underline"
              >
                {item.mandate?.number || item.title || "Mandat"}
              </a>
            {:else if item.mandatType == "Rent"}
              <a
                href="/pro/for-rent-mandates/edit/{item._id}"
                class="underline"
              >
                {item.mandate?.number || item.title || "Mandat"}
              </a>
            {/if}
          </td>

          <td class="underline">
            <!-- {#if item.mandatType == "Sale"}
              Vente
            {:else if item.mandatType == "Rent"}
              Location
            {/if} -->

            <GetTitle
              AssetId={item.asset?.value}
              mandatType={item.mandatType}
            />
          </td>

          <td>
            {#if dayjs(item.startingDate)
              .add(item.validityDuration, "month")
              .diff(dayjs(), "month") <= -6}
              <i class="text-red-600 fa-solid fa-triangle-exclamation" />
            {/if}

            {#if dayjs(item.startingDate)
              .add(item.validityDuration, "month")
              .diff(dayjs(), "month") < -6}
              <span
                class="px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 text-xs"
              >
                EXPIRÉ
              </span>
            {/if}

            {dayjs().to(
              dayjs(item.startingDate).add(item.validityDuration, "month")
            )}
          </td>
        </tr>
      {/each}
    </table>
  {:else}
    Aucun
  {/if}
</div>
