<script>
  import { onMount } from "svelte";

  import OngoingMandates from "./OngoingMandates.svelte";
  import Logs from "./Logs.svelte";
  import Shortcuts from "./Shortcuts.svelte";

  import enterprise_customization from "../../../../enterprise_customization";
  import RecentBuyers from "./RecentBuyers.svelte";
  const { dashboard, countryConfiguration } = enterprise_customization;

  let name;

  $m: {
    name = Meteor.user()?.contact?.firstname || "";
  }

  onMount(async () => {
    await Meteor.callAsync("user.update.IpAndLastConnection");
  });
</script>

<span class="text-lg">
  {#if countryConfiguration == "pf"}
    🌺 Ia Orana
  {:else}
    Bonjour
  {/if}
  {name}
</span>

<div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
  <div>
    <Logs />
  </div>
  {#if dashboard?.ongoingMandates}
    <div>
      <OngoingMandates />
      <RecentBuyers />
    </div>
  {/if}
</div>

<!-- {#if transaction}
  <AddSaleAssetButton />
  <AddContactButton />
{/if} -->

{#if dashboard.shortcuts}
  <Shortcuts />
{/if}
