<script>
  import { Buyers } from "../../../api/buyers.js";
  import { onMount } from "svelte";
  // import Loading from "../../Loading.svelte";
  // import enterprise_customization from "../../../../enterprise_customization";

  const { formatAndcurrency } = require("../../../commonFunctions.ts");

  import dayjs from "dayjs";
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  let handle;
  onMount(async () => {
    handle = Meteor.subscribe("buyersLimit5");
  });

  let isLoading;
  let buyers;
  let filter = {};
  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      buyers = Buyers.find(filter, { sort: { createdAt: -1 } }).fetch();
    }
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-user text-[var(--main-color)]" />
    Potentiels acheteurs
  </h2>

  {#if isLoading}
    Loading
  {:else}
    <table class="w-full">
      {#each buyers || [] as user}
        <tr class="border-b last:border-b-0">
          <td>
            {#each user?.cities || [] as city, index}
              {`${city.value}`}{index !== user.cities.length - 1 ? ", " : ""}
            {/each}

            <details>
              <summary class="text-blue-600 cursor-pointer">détails</summary>
              <p>
                {#if user?.name}
                  <div>
                    <i class="fa-regular fa-address-card"></i>
                    {user?.name}
                  </div>
                {/if}

                {#if user?.email}
                  <div>
                    <i class="fa-regular fa-envelope"></i>
                    {user?.email}
                  </div>
                {/if}

                {#if user?.phone}
                  <div>
                    <i class="fa-solid fa-phone"></i>
                    {user?.phone || ""}
                  </div>
                {/if}
                <!-- {user?.isActive || "" } -->
              </p>
            </details>
          </td>
          <td class="min-w-[125px] align-top">
            {#if user.priceMax}
              {formatAndcurrency(user.priceMax)}
            {/if}
          </td>

          <td class="align-top">
            {#if user.createdAt}
              {dayjs(user.createdAt).fromNow()}
            {/if}
          </td>
        </tr>
      {/each}
    </table>
  {/if}
</div>
