<script>
  import { onMount } from "svelte";

  // import AddContactButton from "./AddContactButton.svelte";
  // import AddSaleAssetButton from "./AddSaleAssetButton.svelte";

  import RentAssetCard from "./AssetRentCard.svelte";
  // import RentMandatesCard from "./RentMandatesCard.svelte";
  import RentLeasesCard from "./LeasesRentCard.svelte";
  import BankloansCard from "./BankloansCard.svelte";

  import SaleAssetCard from "./AssetSaleCard.svelte";
  // import SaleMandatesCard from "./SaleMandatesCard.svelte";
  import AssetValuationCard from "./AssetValuationCard.svelte";
  import FilesCard from "./FilesCard.svelte";
  import ContactsCard from "./ContactsCard.svelte";

  // import News from "./News.svelte";

  let transaction, gestion, bankloan;
  $m: {
    const thisuser = Meteor.user();
    transaction = thisuser?.roles?.includes("transaction");
    gestion = thisuser?.roles?.includes("gestion");
    bankloan = thisuser?.roles?.includes("bankloan");
  }

  onMount(async () => {
    Meteor.subscribe("thisuser");
  });
</script>

<div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
  <div class="mb-4">
    <ContactsCard />
  </div>
  <div class="mb-4">
    <FilesCard />
  </div>
  {#if bankloan}
    <div class="mb-4">
      <BankloansCard />
    </div>
  {/if}
</div>

{#if transaction}
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
    <div class="mb-4">
      <SaleAssetCard />
    </div>
    <div class="mb-4">
      <AssetValuationCard />
    </div>
    <!-- <div class="mb-4">
      <SaleMandatesCard />
    </div> -->
  </div>
{/if}

{#if gestion}
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
    <div class="mb-4">
      <RentAssetCard />
    </div>
    <!-- <div class="mb-4">
      <RentMandatesCard />
    </div> -->
    <div class="mb-4">
      <RentLeasesCard />
    </div>
  </div>
{/if}

<!-- <News /> -->
