<script>
  import { onMount } from "svelte";
  import { Mandates_For_Rent } from "../../../../api/mandates_rent";
  // import Loading from "../../../Loading.svelte";

  export let id;

  let mandate;
  onMount(async () => {
    // Dont know why, it does not work with the below: Use the Mid tier throtling to test
    // Meteor.subscribe("mandate_for_rent_id", id);

    // Need to see if we can optimize the publication below
    Meteor.subscribe("mandates_for_rent_all");
  });

  $m: {
    mandate = Mandates_For_Rent.findOne(id);
  }
</script>

<div>
  {mandate?.mandate?.number || "En attente de numéro"}
</div>
