<script>
  import { onMount } from "svelte";
  import { Assets_rent } from "../../../../api/assets_rent";
  // import dayjs from "dayjs";
  // import Loading from "../../Loading.svelte";

  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications";

  import MandateNumber from "./admin_Assets_Rent_MandateNumber.svelte";

  onMount(async () => {
    Meteor.subscribe("for_rent_assets_owner");
    Meteor.subscribe("thisuser");
  });

  const thisuserId = Meteor.userId();

  let items = [];
  let show = false;

  $m: {
    items = Assets_rent.find({}, { sort: { createdAt: -1 } }).fetch();

    items?.forEach(function (item) {
      if (item.userId) {
        const user = Meteor.users.findOne(item.userId);
        if (user?.emails?.[0]?.address) {
          item.userId = `${user.contact?.firstname}  ${user.emails[0].address}`;
        }
      }
    });
  }

  const isRentedByOthers = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isRentedByOthers", id, boolean);
    saved_notification();
  };

  const isRented = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isRented", id, boolean);
    saved_notification();
  };

  const isCancelled = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;

    await Meteor.callAsync("asset_rent.update.isCancelled", id, boolean);
    saved_notification();
  };

  const isExpired = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isExpired", id, boolean);
    saved_notification();
  };
</script>

<h5 class="text-xl">
  Tous les biens à la location <!-- All assets for rent -->
</h5>

<a href="/admin/databases/for-rent/cards" class="btn btn--light">
  <i class="fa-solid fa-table-cells-large" />
</a>

<table class="w-full">
  <thead>
    <tr>
      <th />
      <th>ID</th>
      <th>Mandat</th>
      <th>Title</th>
      <th>Visible</th>
      <th>Tag</th>
      <th>Publications</th>
      <th>User</th>
      <th>Origin</th>
      <th>Date</th>
      <th />
    </tr>
  </thead>
  <tbody>
    {#each items as item}
      <tr>
        <td>
          <!-- {#if item.userId == thisuserId || item.userId == undefined} -->
          <a href="/admin/for-rent/edit/{item._id}">
            <i class="fa-solid fa-pen-to-square" />
          </a>
          <!-- {/if} -->
        </td>
        <td class="text-sm">
          {item._id}
        </td>
        <td class="text-sm">
          {#each item.mandates || [] as mandate}
            <MandateNumber id={mandate} />
          {/each}
        </td>
        <td>
          <a href="/for-rent/{item._id}">{item.title || "Aucun"} </a>
        </td>
        <td>
          {#if item.isVisible}visible{/if}
        </td>

        <td>
          {#if item.isSoldByOthers}
            <div>
              <i class="fa-solid fa-ban" />
              Vendu par autre agence
            </div>
          {/if}

          {#if item.isSold}
            <div>
              <i class="fa-solid fa-check" />
              Vendu
            </div>
          {/if}

          {#if item.isRentedByOthers}
            <div>
              <i class="fa-solid fa-ban" />
              Loué par autre agence
            </div>
          {/if}
          {#if item.isRented}
            <div>
              <i class="fa-solid fa-check" />
              Loué
            </div>
          {/if}

          {#if item.isCancelled}
            <div>
              <i class="fa-solid fa-ban" />
              Annulation vendeur
            </div>
          {/if}
          {#if item.isCancelled}
            <div>
              <i class="fa-solid fa-ban" />
              Annulation propriétaire
            </div>
          {/if}
          {#if item.isExpired}
            <div>
              <i class="fa-solid fa-ban" />
              Expiré
            </div>
          {/if}
        </td>
        <td>
          {#each item.publishedOn || [] as item}
            <span class="badge">{item}</span>
          {/each}
        </td>
        <td>
          {item.userId || ""}
        </td>
        <td>
          {item.origin?.name || ""}
        </td>
        <td>
          {item.createdAt?.toLocaleDateString() || ""}
        </td>

        <td>
          <div>
            <button
              type="button"
              class="btn btn-secondary"
              aria-expanded="false"
              on:click={() => {
                show = !show;
              }}
            >
              <i class="fa-solid fa-bars" />
            </button>
            <ul class={show ? "" : "hidden"}>
              <li>
                {#if item.isRented}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isRented}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Loué"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isRented}
                  >
                    <i class="fa-solid fa-flag" />
                    Loué
                  </button>
                {/if}
              </li>

              <li>
                {#if item.isRentedByOthers}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isRentedByOthers}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Loué par une autre agence"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isRentedByOthers}
                  >
                    <i class="fa-solid fa-flag" />
                    Loué par une autre agence
                  </button>
                {/if}
              </li>

              <li>
                {#if item.isCancelled}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isCancelled}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Annulation vendeur"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isCancelled}
                  >
                    <i class="fa-solid fa-flag" />
                    Annulation vendeur
                  </button>
                {/if}
              </li>

              <li>
                {#if item.isExpired}
                  <button
                    data-value={item._id}
                    data-boolean="false"
                    on:click={isExpired}
                  >
                    <i class="fa-solid fa-rotate-left"></i>
                    Enlever "Expiré"
                  </button>
                {:else}
                  <button
                    data-value={item._id}
                    data-boolean="true"
                    on:click={isExpired}
                  >
                    <i class="fa-solid fa-flag" />
                    Expiré
                  </button>
                {/if}
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {:else}
      <!-- <Loading /> -->
      <!-- Loading... -->
    {/each}
  </tbody>
</table>
