<script>
  import dayjs from "dayjs";
  import { onMount } from "svelte";
  import { Assets_rent } from "../../../../api/assets_rent";
  // import Loading from "../../Loading.svelte";
  import AssetsRentItem from "../../../pro/AssetsRent/AssetsRentItem.svelte";
  import Dropdown from "./Dropdown.svelte";

  let handle;

  onMount(async () => {
    handle = Meteor.subscribe("for_rent_assets_active_owner");
    Meteor.subscribe("thisuser");
  });

  let items = [];
  let count;

  let filter = {
    // userId: Meteor.userId(), archived: { $ne: true }
    $and: [
      { archived: { $ne: true } },
      { isRented: { $ne: true } },
      { isRentedByOthers: { $ne: true } },
      { isCancelled: { $ne: true } },
      { isExpired: { $ne: true } },
    ],
  };

  let isLoading = true;

  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      items = Assets_rent.find(filter, { sort: { createdAt: -1 } }).fetch();
      if (items?.length > 0) {
        count = items.length;
      } else {
        count = 0;
      }

      items?.forEach(function (item) {
        if (item.userId) {
          const user = Meteor.users.findOne(item.userId);
          if (user?.emails?.[0]?.address) {
            item.createdBy = `${user.contact?.firstname || user.emails[0].address}  `;
          }
          // console.log(item);
        }
      });
    }
  }

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value == "active") {
      filter = {
        $and: [
          { archived: { $ne: true } },
          { isRented: { $ne: true } },
          { isRentedByOthers: { $ne: true } },
          { isCancelled: { $ne: true } },
          { isExpired: { $ne: true } },
        ],
      };
    } else if (value == "inactive") {
      filter = {
        $or: [
          { archived: { $eq: true } },
          { isRented: { $eq: true } },
          { isRentedByOthers: { $eq: true } },
          { isCancelled: { $eq: true } },
          { isExpired: { $eq: true } },
        ],
      };
    } else {
      filter = {};
    }
  }
</script>

<h3 class="text-xl">
  <i class="fa-solid fa-house text-[var(--main-color)]" />
  Tous les biens à la location <!-- All assets for rent -->
</h3>

<a href="/admin/databases/for-rent/list">
  <button class="btn btn--light">
    <i class="fa-solid fa-table-list" />
  </button>
</a>

<ul class="flex" id="filterContactTab">
  <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter="active"
      class="p-1 bg-white border active"
      id="all-tab"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Actifs
    </button>
  </li>

  <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter="inactive"
      class="p-1 bg-white border"
      id="seller-tab"
      type="button"
      role="tab"
      aria-controls="seller"
      aria-selected="false"
    >
      Inactifs
    </button>
  </li>

  <!-- <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter=""
      id="seller-tab"
      type="button"
      role="tab"
      aria-controls="seller"
      aria-selected="false"
    >
      Tous
    </button>
  </li> -->
</ul>

{#if isLoading}
  loading...
{:else}
  <div class="my-3">
    <span class="p-2 bg-white border rounded-full">
      {count || "0"}
    </span>
  </div>

  {#each items as item}
    <div class="p-4 mb-4 bg-white shadow-md rounded-xl">
      <div class="flex">
        <div style="width:65%">
          <a
            href="/pro/for-rent/edit/{item._id}"
            class="text-lg text-blue-600 underline"
          >
            {item.title || item._id} ({item.createdBy || item.origin?.name})
          </a>

          <!-- {#if item.isVisible}
            <span class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs">
              Publié sur {enterprise_customization.enterprise_name}
            </span>
            <a href="/for-sale/{item._id}">Voir annonce </a>
          {/if} -->
        </div>
        <div class="text-right" style="width:35%">
          {dayjs(item.createdAt).format("DD MMM YYYY")}
        </div>
      </div>

      <div>
        <AssetsRentItem {item} />
        <div class="flex justify-between gap-5">
          <div>
            <a href="/pro/for-rent/edit/{item._id}">
              <button class="btn btn--light">
                <i class="fa-solid fa-pen-to-square" />
                Modifier
              </button>
            </a>
          </div>

          <div>
            <Dropdown {item} />

            <!-- {#if item.isVisible}
              <button
                class="btn btn--light"
                on:click={() => {
                  publish(item, false);
                }}
              >
                <i class="fa-regular fa-eye-slash" />
                Masquer le bien sur le site
              </button>
            {:else}
              <button
                class="btn btn-primary"
                on:click={() => {
                  publish(item, true);
                }}
              >
                <i class="fa-solid fa-eye" />
                Afficher le bien sur le site
              </button>
            {/if} -->

            <!-- {#if item.isRented}
              Vendu
            {:else}
              <button
                value={item._id}
                on:click={() => {
                  changeSold(item._id);
                }}
                class="btn btn--light"
              >
                <i class="fa-regular fa-flag" />
                Marquer comme vendu
              </button>
            {/if} -->
          </div>
        </div>
      </div>
    </div>
  {/each}
{/if}
