<script>
  import {
    error_notification,
    saved_notification,
  } from "../../../../notifications.ts";

  export let item;

  let show = false;

  async function deleteAsset(id) {
    if (!confirm("Supprimer?")) return;
    await Meteor.callAsync("asset_rent.remove", id);
    saved_notification();
  }

  async function archive({ id, value }) {
    if (!confirm("Archiver?")) return;
    await Meteor.callAsync("asset_rent.update.archive", { id, value });
    saved_notification();
  }

  const isRentedByOthers = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isRentedByOthers", id, boolean);
    saved_notification();
  };

  const isRented = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isRented", id, boolean);
    saved_notification();
  };

  const isCancelled = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isCancelled", id, boolean);
    saved_notification();
  };

  const isExpired = async (event) => {
    const id = event.target.dataset.value;
    const boolean = event.target.dataset.boolean;
    await Meteor.callAsync("asset_rent.update.isExpired", id, boolean);
    saved_notification();
  };
</script>

<button
  type="button"
  class="btn btn--light"
  on:click={() => {
    show = !show;
  }}
>
  <!-- Clôturer -->
  <i class="fa-solid fa-bars" />
</button>

<ul class={show ? "block" : "hidden"}>
  <li>
    {#if item.isRented}
      <button data-value={item._id} data-boolean="false" on:click={isRented}>
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Loué"
      </button>
    {:else}
      <button data-value={item._id} data-boolean="true" on:click={isRented}>
        <i class="fa-solid fa-flag" />
        Loué
      </button>
    {/if}
  </li>

  <li>
    {#if item.isRentedByOthers}
      <button
        data-value={item._id}
        data-boolean="false"
        on:click={isRentedByOthers}
      >
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Loué par une autre agence"
      </button>
    {:else}
      <button
        data-value={item._id}
        data-boolean="true"
        on:click={isRentedByOthers}
      >
        <i class="fa-solid fa-flag" />
        Loué par une autre agence
      </button>
    {/if}
  </li>

  <li>
    {#if item.isCancelled}
      <button data-value={item._id} data-boolean="false" on:click={isCancelled}>
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Annulation vendeur"
      </button>
    {:else}
      <button data-value={item._id} data-boolean="true" on:click={isCancelled}>
        <i class="fa-solid fa-flag" />
        Annulation vendeur
      </button>
    {/if}
  </li>

  <li>
    {#if item.isExpired}
      <button data-value={item._id} data-boolean="false" on:click={isExpired}>
        <i class="fa-solid fa-rotate-left"></i>
        Enlever "Expiré"
      </button>
    {:else}
      <button data-value={item._id} data-boolean="true" on:click={isExpired}>
        <i class="fa-solid fa-flag" />
        Expiré
      </button>
    {/if}
  </li>

  <li>
    <a
      href="/pro/rent-assets/share/{item._id}"
      id={item._id}
      data-value={item._id}
    >
      <i class="fa-solid fa-share" />
      Partager
    </a>
  </li>

  <li>
    <a
      href="/pro/rent-assets/give/{item._id}"
      id={item._id}
      data-value={item._id}
    >
      <i class="fa-solid fa-file-import" />
      Céder
    </a>
  </li>

  <li>
    {#if item.archived}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          archive({ id: item._id, value: false });
        }}
      >
        <i class="fa-solid fa-archive" />
        Enlever Archiver
      </button>
    {:else}
      <button
        id={item._id}
        data-value={item._id}
        on:click={() => {
          archive({ id: item._id, value: true });
        }}
      >
        <i class="fa-solid fa-archive" />
        Archiver
      </button>
    {/if}
  </li>

  <li>
    <button
      id={item._id}
      data-value={item._id}
      on:click={() => {
        deleteAsset(item._id);
      }}
    >
      <i class="fa-solid fa-trash" />
      Supprimer
    </button>
  </li>
</ul>
