<script>
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications";
  import enterprise_customization from "../../../../enterprise_customization";
  export let id, item;

  const userId = Meteor.userId();

  let isAdmin = false;
  let files = false;

  Tracker.autorun(() => {
    const thisuser = Meteor.user();
    if (thisuser?.roles?.includes("admin")) {
      isAdmin = true;
    }
    if (thisuser?.roles?.includes("files")) {
      files = true;
    }
  });

  async function getmandatenumber(event) {
    if (!id) return;

    const res = await Meteor.callAsync(
      "mandates_for_sale.add.mandatenumber",
      id
    );
    saved_notification();

    // Notify the agent
    await Meteor.callAsync("notifyMandateNumberAgent", {
      mandateId: id,
      mandateNumber: res,
      type: "sale",
    });

    // if (res) {
    //   saved_notification();
    //   //Change status to "waiting" / Not possible because the mandate can get number without filling the infomation. So we cannot freeze
    //   // await Meteor.callAsync("mandates_for_sale.update.status", res, "waiting");
    // }
  }

  async function statusValidation(event) {
    await Meteor.callAsync("mandates_for_sale.update.status", id, "waiting");
    saved_notification();
  }

  async function validate(event) {
    await Meteor.callAsync("mandates_for_sale.update.status", id, "validated");
    saved_notification();
  }

  async function refuse(event) {
    await Meteor.callAsync("mandates_for_sale.update.status", id, "refused");
    saved_notification();
    // Notify the agent
    Meteor.callAsync("notifyRefusedMandateAgent", {
      mandateId: id,
      type: "sale",
    });
  }
</script>

{#if isAdmin}
  <div class="p-4 mb-4 bg-white rounded-lg shadow-md">
    <div class="mb-2">
      <h2 class="text-xl">
        <i class="fa-solid fa-shield-halved text-[var(--main-color)]" />
        Admin Process
      </h2>

      {#if enterprise_customization.countryConfiguration == "fr"}
        <!-- Nothing -->
      {/if}

      {#if enterprise_customization.countryConfiguration == "pf"}
        <div>
          {#if item.mandate}
            <i class="text-green-600 fa-solid fa-circle-check" />
            Numéro de mandat obtenu
          {:else}
            <div>
              <button on:click={getmandatenumber} class="btn btn--blue">
                <i class="fa-solid fa-long-arrow-down" />
                Obtenir un numéro de mandat
              </button>
            </div>
          {/if}
        </div>
      {/if}
    </div>

    {#if item.status == "waiting"}
      <div class="mb-2">
        <div class="gap-2">
          <button class="btn btn--success" on:click={validate}>
            <i class="fa-solid fa-circle-check" />
            Valider le mandat
          </button>

          <button
            class="px-3 py-2 mb-2 mr-2 text-sm text-gray-100 bg-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-gray-200"
            on:click={refuse}
          >
            <i class="fa-solid fa-circle-xmark" />
            Refuser le mandat
          </button>
        </div>
      </div>
    {/if}
  </div>
{/if}
