<script>
  export let item;
  export let id;

  import { onMount } from "svelte";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  // import { Assets_sale } from "../../../api/assets_sale.js";
  const { currency } = enterprise_customization;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  onMount(async () => {
    //To select for sale assets
    Meteor.subscribe("for_sale_assets");
  });

  // $m: {
  //   if (item?.asset?.value) {
  //     asset = Assets_sale.findOne({ _id: item.asset.value });
  //     // console.log(asset);
  //   }
  // }

  async function changePrice_feesincluded(event) {
    const index = event.target.dataset.index;
    const value = event.target.value;

    if (!confirm("Changer?")) {
      return;
    }

    await Meteor.callAsync(
      "mandates_for_sale.update.amendments.saleprice",
      id,
      index,
      value
    );
    saved_notification();
  }

  async function changeFees(event) {
    const index = event.target.dataset.index;
    const value = event.target.value;

    if (!confirm("Changer?")) return;

    await Meteor.callAsync(
      "mandates_for_sale.update.amendments.fees",
      id,
      index,
      value
    );

    saved_notification();
  }

  // addLink
  async function addLink() {
    const getInputValue = (id) => document.getElementById(id).value;

    const object = {
      type: getInputValue("type"),
      url: getInputValue("linkUrl"),
      notes: getInputValue("notes"),
      price_feesincluded: getInputValue("price_feesincluded"),
      fees: getInputValue("fees"),
      date: new Date(),
    };

    console.log({ object });

    await Meteor.callAsync("mandates_for_sale.push.amendments", id, object);
    saved_notification();
    ["linkUrl", "notes", "price_feesincluded", "fees"].forEach((id) => {
      document.getElementById(id).value = "";
    });
  }
</script>

<div class="mb-4">
  <div class="text-xl">
    <i class="fa-solid fa-file-signature text-[var(--main-color)]" />
    Avenants
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-4">
    <div>
      Prix FAI
      <div>
        <input class="w-2/3 input" id="price_feesincluded" type="string" />
        <span>{currency}</span>
      </div>
    </div>
    <div>
      Frais agence
      <div>
        <input class="w-2/3 input" id="fees" type="string" />
        <span>{currency}</span>
      </div>
    </div>

    <div>
      Type de mandat (si changement)

      <select id="type" class="border select" aria-label="typeSelection">
        <option selected value="">Simple ou exclusif</option>
        <option value="simple"> Simple </option>
        <option value="exclusif"> Exclusif </option>
      </select>
    </div>

    <div>
      Lien url
      <div>
        <input class="w-full input" id="linkUrl" type="string" />
      </div>
    </div>
  </div>

  <div>
    Notes
    <div>
      <input class="w-full input" id="notes" type="string" />
    </div>
  </div>

  <button class="mt-2 btn--light" on:click={addLink}> Ajouter </button>

  <br />
  <br />

  {#each item.amendments || [] as link, i}
    <div>
      {#if link.url}
        <a href={link.url} target="_blank" rel="noreferrer">
          Avenant {i + 1}
          <!-- {link.title} -->
        </a>
      {:else}
        <strong>
          Avenant {i + 1}
          <!-- {link.title} -->
        </strong>
      {/if}

      {#if link.type}
        <div>
          <strong>Type :</strong>
          {link.type}
        </div>
      {/if}

      {link.date.toLocaleDateString()}
      {link.notes}

      <div class="grid grid-cols-2">
        <div>
          <strong>Prix FAI:</strong>
          <div>
            <input
              type="number"
              value={link.price_feesincluded || ""}
              data-index={i}
              on:change={changePrice_feesincluded}
            />
            <span>{currency}</span>
          </div>
        </div>
        <div>
          <strong>Frais:</strong>
          <div>
            <input
              type="number"
              value={link.fees || ""}
              data-index={i}
              on:change={changeFees}
            />
            <span>{currency}</span>
          </div>
        </div>
      </div>

      <a
        class="mt-2 btn btn--dark"
        href="/pro/for-sale-mandates/edit/{id}/amendment?amendmentNumber={i}"
      >
        <i class="fa-solid fa-print" /> Imprimer
      </a>
    </div>
  {/each}
</div>
