<script>
  export let item;

  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale.js";

  onMount(async () => {
    Meteor.subscribe("for_sale_assets"); //To select for sale assets
  });

  let asset;

  $m: {
    if (item?.asset?.value) {
      asset = Assets_sale.findOne({ _id: item.asset.value });
    }
  }
</script>

<a class="text-blue-600 underline" href="/pro/databases/for-sale">
  Mes biens à vendre
</a>
{#if asset}
  <i class="fa-solid fa-angle-right" />
  <a href="/pro/for-sale/edit/{asset._id}" class="text-blue-600 underline">
    {asset?.title || "Bien associé"}
  </a>
{/if}
