<script>
  export let item;

  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale.js";
  import { saved_notification } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("for_sale_assets");
  });

  let asset;

  $m: {
    if (item?.asset?.value) {
      asset = Assets_sale.findOne({ _id: item.asset.value });
    }
  }

  const disassociate = async () => {
    if (!confirm("Confirmer?")) return;
    await Meteor.callAsync("mandates_for_sale.unset.asset", item._id);
    saved_notification();
  };
</script>

{#if asset}
  <div class="grid grid-cols-2">
    <div>
      <a href="/pro/for-sale/edit/{asset._id}" class="text-blue-600 underline">
        {asset.title || asset._id}
      </a>

      {asset.address?.streetAddress || ""}
      {asset.address?.city || ""}

      {#each asset.tags || [] as tag}
        <span class="badge">{tag}</span>
      {/each}

      <div class="mt-3">
        <a class="btn btn--light" href="/pro/for-sale/edit/{asset._id}">
          <i class="fa-solid fa-pen-to-square" />
          Éditer le bien
        </a>

        <button class="btn btn--light" on:click={disassociate}>
          <i class="fa-solid fa-link-slash" /> Désassocier
        </button>
      </div>
    </div>
    <div>
      {#if asset.images?.[0]?.url}
        <div>
          <img class="rounded max-w-[80px]" src={asset.images[0].url} alt="" />
        </div>
      {/if}
    </div>
  </div>
{/if}
