<script>
  export let item, id;

  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale.js";
  import Select from "svelte-select";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function handle_asset(event) {
    const value = event.detail;
    if (value) {
      await Meteor.callAsync("mandates_for_sale.update.asset", id, value);
      saved_notification();
    }
  }

  onMount(async () => {
    //To select for sale assets
    Meteor.subscribe("for_sale_assets");
  });

  $m: assetsSelection = Assets_sale.find(
    { userId: Meteor.userId(), archived: { $ne: true } }
    // { sort: sortObject, limit: 100 }
  )
    .fetch()
    .map((x) => {
      let obj = {};
      obj.value = x._id;
      if (x.address && x.address.postalCode) {
        obj.label = x.title + " " + x.address.postalCode;
      } else if (x.title) {
        obj.label = x.title;
      } else {
        obj.label = "Pas de titre " + x._id;
      }

      return obj;
    });
</script>

<Select on:change={handle_asset} items={assetsSelection} />
