<script>
  export let item, id;

  import { onMount } from "svelte";
  // import { Assets_sale } from "../../../api/assets_sale.js";

  import AssetSectionSelection from "./AssetSectionSelection.svelte";
  import AssetSectionDetails from "./AssetSectionDetails.svelte";

  onMount(async () => {
    // To select for sale assets
    Meteor.subscribe("for_sale_assets");
  });
</script>

<div class="p-4 mb-4 bg-white shadow-md">
  <div class="mb-2">
    <h2 class="text-xl">
      <i class="fa-solid fa-house text-[var(--main-color)]" />
      Bien associé
    </h2>
    <div>
      {#if item.asset}
        <AssetSectionDetails {item} />
      {:else}
        <AssetSectionSelection {id} {item} />
      {/if}
    </div>
  </div>
</div>
