<script>
  import { onMount } from "svelte";
  import { Contacts } from "../../../api/contacts.js";

  export let id;

  onMount(async () => {
    Meteor.subscribe("contact", id);
  });

  let item;

  $m: {
    item = Contacts.findOne(id);
    // console.log(item);
  }
</script>

<a href="/pro/databases/contact/{item._id}" class="text-blue-600 underline">
  {item?.firstname || ""}
  {item?.surname || ""}
</a>
