<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale.js";

  // import Loading from "../Loading.svelte";
  import { navigate } from "svelte-routing";
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";

  let show = false;

  const {
    formatNumber,
    formatAndcurrency,
  } = require("../../../commonFunctions.ts");

  onMount(async () => {
    Meteor.subscribe("my_mandates_for_sale_owner");
    Meteor.subscribe("thisuser");
  });

  let items_owned = [];

  $m: {
    items_owned = Mandates_For_Sale.find(
      {
        $or: [
          { userId: Meteor.userId() },
          { sharedWith: { $in: [Meteor.userId()] } },
        ],

        isArchived: { $ne: true },
      },
      { sort: { createdAt: -1 } }
    ).fetch();

    // console.log({ items_owned });
  }

  async function addMandate() {
    const value = document.getElementById("title").value;
    const res = await Meteor.callAsync("mandates_for_sale.insert", value);
    navigate("/pro/for-sale-mandates/edit/" + res, {
      replace: true,
    });
  }

  async function archiveMandate(event) {
    const value = event.target.id;
    if (!value) return;
    if (!confirm("Archiver?")) return;
    await Meteor.callAsync("mandates_for_sale.update.isArchived", value);
  }

  async function duplicateMandate(event) {
    const value = event.target.dataset.value;
    if (!confirm("Dupliquer?")) return;
    const res = await Meteor.callAsync("mandates_for_sale.duplicate", value);
    return res;
  }

  async function deleteMandate(event) {
    const value = event.target.id;
    if (!value) return error_notification();

    if (!confirm("Supprimer?")) return;
    if (!confirm("Ce mandat va être définitivement perdu")) return;

    await Meteor.callAsync("mandates_for_sale.remove", value)
      .then()
      .catch((err) => error_notification(err));
  }

  // function giveMandate(event) {
  //   let value = prompt("ID");
  //   if (!value) return;
  //   const id = event.target.id;
  //   await Meteor.callAsync("mandates_for_sale.update.userId", { id, value })
  // }

  // function shareMandate(event) {
  //   let value = prompt("ID");
  //   if (!value) return;
  //   const id = event.target.id;
  //   await Meteor.callAsync("mandates_for_sale.update.sharedWith", { id, value })
  // }
</script>

<div class="text-2xl">Mandats de vente</div>

<!-- Add  -->
<div class="grid items-center grid-cols-1 gap-3 md:grid-cols-3">
  <div>
    <input
      class="w-full input"
      type="text"
      placeholder="Titre du mandat"
      id="title"
      aria-describedby="title"
    />
  </div>
  <div>
    <button class="btn btn--light" on:click={addMandate}>
      Créer un nouveau mandat
    </button>
  </div>
</div>
<!-- end new -->
<div class="p-3 mt-4 bg-white rounded-xl">
  <h5 class="">Mes mandats de vente</h5>

  <div class="overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">Nº Mandat</th>
          <th class="text-left">Date</th>
          <th class="text-left">Type</th>
          <th class="text-left">Prix FAI</th>
          <th class="text-left">Bien</th>
          <th class="text-left">Statut</th>
          <th />
        </tr>
      </thead>
      <tbody>
        {#each items_owned as item}
          <tr class="border-b">
            <td class="text-sm">
              {#if item.mandate}
                <a
                  href="/pro/for-sale-mandates/edit/{item._id}"
                  class="text-blue-600 underline"
                >
                  {item.mandate?.number}
                </a>
              {:else}
                <a
                  href="/pro/for-sale-mandates/edit/{item._id}"
                  class="text-blue-600 underline"
                >
                  Aucun
                </a>
              {/if}
            </td>
            <td>
              {item.createdAt?.toLocaleDateString()}
            </td>
            <td>
              {item.type || ""}
            </td>
            <td class="text-sm">
              {formatNumber(item.saleprice?.fees_included) || ""}
            </td>
            <td>
              {#if item.asset}
                <a
                  href="/pro/for-sale/edit/{item.asset.value}"
                  class="text-blue-600 underline"
                >
                  {item.asset.label || item.asset.value}
                </a>
              {/if}
            </td>

            <td>
              {#if item.status == "refused"}
                <span
                  class="px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 text-xs"
                >
                  Refusé
                </span>
              {:else if item.status == "waiting"}
                <span
                  class="px-2.5 py-0.5 rounded-full bg-yellow-100 text-yellow-800 text-xs"
                >
                  En attente
                </span>
              {:else if item.status == "validated"}
                <span
                  class="text-green-800 bg-green-100 px-2.5 py-0.5 rounded-full text-xs"
                >
                  Validé
                </span>
              {:else if item.status}
                <span class="badge">
                  {item.status || ""}
                </span>
              {/if}

              {#if !item.asset || !item.saleprice}
                <span class="text-red-500"> 0: Non complété </span>
              {:else if item.mandate && !item.deed}
                <span class="text-blue-500">
                  1: En cours de commercialisation
                </span>
              {:else if item.deed}
                <!-- 5: Bien vendu -->
                <span class="text-green-500"> 4: Acte signé </span>
              {:else}
                5: Inconnu
              {/if}

              {#if item.sharedWith}
                <span class="badge">
                  <i class="fa-solid fa-user-group" />
                  Partagé
                </span>
              {/if}
            </td>

            <td>
              <div>
                <button
                  type="button"
                  on:click={() => {
                    show = !show;
                  }}
                  class="btn btn-secondary"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-bars" />
                </button>

                <ul class={show ? "block" : "hidden"}>
                  <!-- <li>
                  <button
                    id={item._id}
                    data-value={item._id}
                    on:click={shareMandate}
                  >
                    <i class="fa-solid fa-share" />
                    OLD Partager
                  </button>
                </li> -->

                  <li>
                    <button data-value={item._id} on:click={duplicateMandate}>
                      <i class="fa-solid fa-copy" />
                      Dupliquer
                    </button>
                  </li>

                  <li>
                    <a
                      href="/pro/for-sale-mandates/share/{item._id}"
                      id={item._id}
                      data-value={item._id}
                    >
                      <i class="fa-solid fa-share" />
                      Partager
                    </a>
                  </li>
                  <!-- <li>
                  <button
                    id={item._id}
                    data-value={item._id}
                    on:click={giveMandate}
                  >
                    <i class="fa-solid fa-file-import" />
                    Céder
                  </button>
                </li> -->
                  <li>
                    <a
                      href="/pro/for-sale-mandates/give/{item._id}"
                      id={item._id}
                      data-value={item._id}
                    >
                      <i class="fa-solid fa-file-import" />
                      Céder
                    </a>
                  </li>

                  <li>
                    <button
                      id={item._id}
                      data-value={item._id}
                      on:click={archiveMandate}
                    >
                      <i class="fa-solid fa-archive" />
                      Archiver
                    </button>
                  </li>
                  <li>
                    <button
                      id={item._id}
                      data-value={item._id}
                      on:click={deleteMandate}
                    >
                      <i class="fa-solid fa-trash" />
                      Supprimer
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {:else}
          <!-- <Loading /> -->
        {/each}
      </tbody>
    </table>
  </div>
</div>
