<script>
  export let id;

  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale.js";
  import { saved_notification } from "../../../notifications.ts";

  import { navigate } from "svelte-routing";

  onMount(async () => {
    Meteor.subscribe("users_roles");
    // Meteor.subscribe("users");
    Meteor.subscribe("mandate_for_sale_id", id); // To optimise
  });

  let users = [];
  let mandate;

  const giveMandate = async (event) => {
    if (
      !confirm("Vous allez céder votre mandat, vous ne serez plus propriétaire")
    )
      return;

    value = event.target.value;
    await Meteor.callAsync("mandates_for_sale.update.userId", { id, value });
    saved_notification();
    navigate("/pro/databases/for-sale-mandates", { replace: true });
  };

  $m: {
    users = Meteor.users.find({}, { sort: { createdAt: -1 } }).fetch();
    mandate = Mandates_For_Sale.findOne(id);
  }
</script>

<!-- <div>
  {#each mandate?.sharedWith || [] as user}
    {user}
  {/each}
</div> -->

<div>Céder le mandat à:</div>

{#each users as user}
  <div>
    <button class="btn btn---blue" value={user._id} on:click={giveMandate}>
      Céder
    </button>

    {user.contact?.firstname || ""}
    {user.contact?.surname || ""}
    {user.contact?.email || user.emails[0]?.address}
  </div>
{/each}
