<script>
  const { formatAndcurrency } = require("../../../commonFunctions.ts");
  let show = false;

  export let item, id;

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency } = enterprise_customization;

  async function addoffer() {
    const offeramount = document.getElementById("offeramount").value;
    const offerfirstname = document.getElementById("offerfirstname").value;
    const offersurname = document.getElementById("offersurname").value;
    const offerbirthdate = document.getElementById("offerbirthdate").value;
    const offerbirthplace = document.getElementById("offerbirthplace").value;

    let result = {
      amount: offeramount,
      surname: offersurname,
      firstname: offerfirstname,
      birthdate: offerbirthdate,
      birthplace: offerbirthplace,
    };

    await Meteor.callAsync("mandates_for_sale.push.offer", id, result);
    show = false;
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <div class="mb-2">
    <div>
      <label for="offers" class="text-lg font-bold">Offres d'achat </label>
    </div>

    <div>
      <button
        class="btn--light"
        on:click={() => {
          show = !show;
        }}
      >
        <i class="fa-solid fa-plus" />

        Ajouter une offre
      </button>
    </div>

    {#if item.offers}
      <table class="w-full">
        {#each item.offers || [] as offer, index}
          <tr class="border-b last:border-0">
            <td> Offre {index + 1}</td>
            <td class="text-right">
              {formatAndcurrency(offer.amount)}
            </td>
            <td>
              {offer.surname || ""}
              {offer.firstname || ""}
            </td>
          </tr>
        {/each}
      </table>
    {/if}
  </div>
</div>

<!-- Modal -->
<div class={show ? "block" : "hidden"}>
  <div>
    <div>
      <h5 class="text-lg" id="modal">Ajouter une offre</h5>
    </div>
    <div>
      <label for="">Montant Offre</label>

      <div class="mb-3">
        <input
          class="input"
          type="number"
          id="offeramount"
          aria-describedby="amount"
        />
        <span>{currency}</span>
      </div>

      <div class="mb-2">
        <label for="buyer" class="font-bold">Acquéreur</label>
        <!-- {#if item.seller}
              <a href="/pro/databases/contact/{item.seller.value}">
                {item.seller.label}
              </a>
            {:else} -->
        <!-- <Select on:change={handle_seller} items={sellerSelection} /> -->
        <!-- <Select items={buyerSelection} /> -->
        <!-- {/if} -->
      </div>

      <div class="grid grid-cols-2 gap-5">
        <div>
          <label for="name">Nom</label>
          <input
            class="w-full input"
            type="text"
            id="offersurname"
            aria-describedby="surname"
          />
        </div>

        <div>
          <label for="firstname">Prénom</label>
          <input
            class="w-full input"
            type="text"
            id="offerfirstname"
            aria-describedby="firstname"
          />
        </div>
      </div>

      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div>
          <label for="birthdate">Birthdate</label>
          <input
            class="w-full input"
            type="date"
            id="offerbirthdate"
            aria-describedby="birthdate"
          />
        </div>

        <div>
          <label for="birthplace">Birthplace</label>
          <input
            class="w-full input"
            type="text"
            id="offerbirthplace"
            aria-describedby="birthplace"
          />
        </div>
      </div>

      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div>
          <label for="phone">Tel</label>
          <input
            class="w-full input"
            type="text"
            id="offerphone"
            aria-describedby="phone"
          />
        </div>

        <div>
          <label for="email">Email</label>
          <input
            class="w-full input"
            type="text"
            id="email"
            aria-describedby="email"
          />
        </div>
      </div>

      <div>
        <label for="address">Addresse</label>
        <input
          class="w-full input"
          type="text"
          id="address"
          aria-describedby="address"
        />
      </div>
    </div>
    <div>
      <button
        type="button"
        class="btn--light"
        on:click={() => {
          show = false;
        }}
      >
        Annuler
      </button>
      <button on:click={addoffer} type="button" class="btn btn--blue">
        Ajouter
      </button>
    </div>
  </div>
</div>
<!-- End modal -->
