<script>
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { countryConfiguration } = enterprise_customization;
  import {
    error_notification,
    saved_notification,
  } from "../../../notifications.ts";
  // import { navigate } from "svelte-routing";

  export let id, item;

  const userId = Meteor.userId();

  async function getmandatenumber(event) {
    // FR version, directly gives the number

    if (!id) return;

    // Check starts
    if (!item?.type) {
      error_notification("Il manque le type du mandat");
      return;
    }

    if (!item?.startingDate) {
      error_notification("Il manque la date de début");
      return;
    }

    if (!item?.validityDuration) {
      error_notification("Il manque la durée de validité");
      return;
    }

    if (!item?.asset) {
      // if (!confirm("Pas de bien associé, Confirmer ?")) return;
      error_notification("Associez un bien");
      return;
    }

    if (!item?.saleprice) {
      // if (!confirm("Pas de prix, Confirmer ?")) return;
      error_notification("Ajoutez le prix");
      return;
    }

    if (!item?.seller) {
      if (!confirm("Pas de propriétaire, Confirmer ?")) return;
    }

    if (!confirm("Obtenir un numéro de mandat")) return;
    // Check ends

    const res = await Meteor.callAsync(
      "mandates_for_sale.add.mandatenumber",
      id
    );
    saved_notification();
    // Change status to "waiting" / Not possible because the mandate can get number without filling the infomation. So we cannot freeze
    // Meteor.callAsync("mandates_for_sale.update.status", res, "waiting");
    // navigate("/pro/for-sale-mandates/edit/" + res);

    // Notify the agent
    await Meteor.callAsync("notifyMandateNumberAgent", {
      mandateId: id,
      mandateNumber: res,
      type: "sale",
    });
  }

  async function statusValidation(event) {
    // PF version et FR version
    // Check starts
    if (!item?.type) {
      error_notification("Ajoutez le type du mandat");
      return;
    }

    if (!item?.startingDate) {
      error_notification("Ajoutez la date de début");
      return;
    }

    if (!item?.validityDuration) {
      error_notification("Ajoutez la durée de validité");
      return;
    }

    if (!item?.seller) {
      error_notification("Ajoutez le propriétaire");
      return;
    }

    if (!confirm("Demander un numéro de mandat ?")) return;

    if (!item?.asset) {
      if (!confirm("Pas de bien associé, Confirmer?")) return;
    }

    if (!item?.saleprice) {
      if (!confirm("Pas de prix, Confirmer?")) return;
    }
    if (!item?.seller) {
      if (!confirm("Pas de propriétaire, Confirmer?")) return;
    }
    // Check ends

    await Meteor.callAsync("mandates_for_sale.update.status", id, "waiting");
    saved_notification();
    await Meteor.callAsync("notifyMandateToValidate", {
      mandateId: id,
      type: "sale",
    });
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <div class="mb-2">
    <h2 class="text-xl">
      <i class="fa-solid fa-table-columns text-[var(--main-color)]" />
      Process
    </h2>

    {#if countryConfiguration == "fr"}
      <div class="grid grid-cols-1 lg:grid-cols-3">
        <div class="text-center">
          <div>1. Remplir les informations, imprimer</div>
          <div>
            {#if item.type}
              {#if item.type == "simple" || item.type == "semi-exclusif" || item.type == "exclusif"}
                <a
                  href="/pro/templates/for-sale-mandates?type={item.type}&mandateId={id}"
                  class="btn btn--light"
                >
                  <i class="fa-solid fa-file-signature" />
                  Imprimer Mandat
                </a>
              {/if}
            {:else}
              Ajoutez le type du mandat
            {/if}
          </div>
        </div>

        <div>
          <div>2. Prendre un numéro de mandat</div>
          <div>
            {#if item.mandate?.number}
              <span class="badge bg-primary">
                Mandat {item.mandate?.number}
              </span>
            {:else}
              <button on:click={getmandatenumber} class="btn btn--blue">
                <i class="fa-solid fa-long-arrow-down" />
                Obtenir un numéro de mandat
              </button>
            {/if}
          </div>
        </div>

        <div>
          <div>
            3. Envoyer au vendeur pour signature puis envoyer le mandat original
            au siège.
          </div>
          <div>
            {#if item.status != "waiting" && item.status != "validated" && item.type}
              <button class="btn btn-primary" on:click={statusValidation}>
                <i class="fa-solid fa-clipboard-check" />
                Envoyer pour validation J'ai envoyé le mandat
              </button>
            {:else}
              <!-- Disabled -->
              <button class="btn btn-primary" disabled>
                <i class="fa-solid fa-clipboard-check" />
                Envoyer pour validation J'ai envoyé le mandat
              </button>
            {/if}
          </div>
        </div>
      </div>
    {:else if countryConfiguration == "pf"}
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
          <div>
            1. Remplir les informations, imprimer, signer avec le vendeur.
          </div>
          <div>
            {#if item.type}
              {#if item.type == "simple" || item.type == "semi-exclusif" || item.type == "exclusif"}
                <div class="mt-3">
                  <a
                    href="/pro/templates/for-sale-mandates?type={item.type}&mandateId={id}"
                    class="btn btn--light"
                  >
                    <i class="fa-solid fa-file-signature" />
                    Imprimer Mandat
                  </a>
                </div>
              {/if}
            {:else}
              Ajoutez le type du mandat
            {/if}
          </div>
        </div>

        <div>
          <div>
            2. Prendre un numéro de mandat
            <br />
            3. Envoyer au vendeur pour signature puis envoyer le mandat original
            au siège.
          </div>

          <div class="mt-3">
            {#if item?.mandate?.number}
              <span
                class="bg-green-100 text-green-800 mr-2 px-2.5 py-0.5 rounded-full"
              >
                {item?.mandate?.number}
              </span>

              <a
                href="/pro/templates/facture?user={item.userId}&type=Vente&assetId={item
                  ?.asset?.value}&mandateType={item?.type ||
                  ''}&mandateNumber={item?.mandate?.number || ''}"
                class="btn btn--light"
              >
                <i class="fa-regular fa-circle-down" />
                Facture
              </a>
            {:else if item.status != "waiting" && item.status != "validated" && item.type}
              <button class="btn btn--blue" on:click={statusValidation}>
                <i class="fa-solid fa-arrow-down" />
                Obtenir un numéro de mandat. Envoyer pour validation.
              </button>
            {:else if item.status === "waiting"}
              Demande en cours
            {/if}
          </div>
        </div>
      </div>
    {/if}
  </div>
</div>
