<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  import Loading from "../../../Loading.svelte";

  const { validateEmail, lowres } = require("../../../../commonFunctions.ts");

  import {
    saved_notification,
    error_notification,
  } from "../../../../notifications.ts";

  let handle;
  onMount(async () => {
    handle = Meteor.subscribe("users");
  });

  let users;
  let filter = { isHidden: { $ne: true }, roles: { $exists: true } };

  let isLoading = true;
  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      if (!filter) {
        // filter = { createdBy: thisuserId };
        filter = {};
      } else {
        // filter.createdBy = thisuserId;
      }

      users = Meteor.users.find(filter, { sort: { createdAt: -1 } }).fetch();
    }
  }

  const insuranceNotification = (date) => {
    if (!date) return;
    const now = dayjs();
    const end = dayjs(date);

    if (end.diff(now, "month") > 3) {
      return `<span style="color:green;">
        ${date}
        </span>`;
    } else if (end.diff(now, "day") > 0) {
      return `<span style="color:orange;">${date}</span>`;
    } else {
      return `<span style="color:red;">
        ${date}
        </span>`;
    }
  };

  const lastLoginNotification = (date) => {
    if (!date) return;
    const lastlogin = dayjs(date);
    const now = dayjs();

    date = lastlogin.fromNow();

    if (now.diff(lastlogin, "day") > 90) {
      return `<span style="color:red;">` + date + `</span>`;
    } else if (now.diff(lastlogin, "day") > 30) {
      return `<span style="color:orange;">` + date + `</span>`;
    } else {
      return `<span style="color:green;">` + date + `</span>`;
    }
  };

  const createuser = async () => {
    const newuseremail = document.getElementById("newuseremail").value;
    const newuserpw = document.getElementById("newuserpw").value;

    if (newuseremail && validateEmail(newuseremail) && newuserpw) {
      if (!confirm("Create?")) return;
      await Meteor.callAsync("serverCreateUser", {
        email: newuseremail,
        password: newuserpw,
      });

      saved_notification();
    } else {
      error_notification();
    }
  };

  let displaySubMenu = false;
  const changepw = async () => {
    const id = document.getElementById("changeuseremail").value;
    if (!id) return error_notification("ID");

    const newuserpw = document.getElementById("changepw").value;
    if (!newuserpw) return error_notification("PW");
    if (!confirm("Change?")) return;

    await Meteor.callAsync("serverChangeUserPw", {
      id: id,
      password: newuserpw,
    });

    saved_notification();
  };

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value == "active") {
      filter = { isHidden: { $ne: true }, roles: { $exists: true } };
    } else {
      filter = {};
    }
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h1 class="mb-5 text-xl">
    <i class="fa-solid fa-user text-[var(--main-color)]" />
    Users
  </h1>

  <button
    class="btn btn--light"
    on:click={() => {
      displaySubMenu = !displaySubMenu;
    }}
  >
    <i class="fa-solid fa-pen-to-square"></i> Modifier
  </button>
  {#if displaySubMenu}
    <div class="grid lg:grid-cols-2">
      <div>
        <div class="grid items-end grid-cols-1 xl:grid-cols-3">
          <div>
            User email
            <input class="input" id="newuseremail" type="text" />
          </div>
          <div>
            pw
            <input class="input" id="newuserpw" type="text" />
          </div>
          <div>
            <button on:click={createuser} class="btn btn--light">
              Create user
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="grid items-end grid-cols-1 xl:grid-cols-3">
          <div>
            Id
            <input class="input" id="changeuseremail" type="text" />
          </div>
          <div>
            pw
            <input class="input" id="changepw" type="text" />
          </div>

          <div>
            <button on:click={changepw} class="btn btn--light">
              Change pw
            </button>
          </div>
        </div>
      </div>
    </div>
  {/if}

  <!-- Tab for filter -->
  <ul class="flex" id="filterContactTab">
    <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter="active"
        class="p-1 border active"
        id="active-tab"
        type="button"
        role="tab"
        aria-controls="active"
      >
        Actifs
      </button>
    </li>

    <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter=""
        class="p-1 border"
        id="all-tab"
        type="button"
        role="tab"
        aria-controls="home"
      >
        Tous
      </button>
    </li>
  </ul>

  {#if isLoading}
    <Loading />
  {:else if users}
    <div class="">
      <table class="">
        <thead>
          <tr class="border-b">
            <th />
            <th class="text-left">Nom</th>
            <th class="text-left">Email</th>
            <th>Phone</th>
            <th>Assurance</th>
            <th>Roles</th>
            <th>Last connection</th>
            <th>Connections</th>
            <th>Creation</th>
            <th>Contract</th>
          </tr>
        </thead>
        <tbody>
          {#each users || [] as user}
            <tr class="border-b">
              <td class="text-center">
                <a href="/admin/db/user/{user._id}">
                  {#if user?.contact?.picture}
                    <img
                      class="rounded w-100"
                      alt="profile"
                      src={lowres({ url: user.contact.picture })}
                    />
                  {:else}
                    <i class="text-blue-500 fa-solid fa-user" />
                  {/if}
                </a>
              </td>

              <td class="min-w-[150px]">
                <a href="/admin/db/user/{user._id}" class="text-blue-500">
                  {user?.contact?.surname || ""}
                  {user?.contact?.firstname || ""}
                  {#if !user.contact?.firstname && !user.contact?.surname}
                    Aucun
                  {/if}
                </a>
              </td>
              <td>
                {user?.emails?.[0]?.address}
              </td>
              <td>
                {user?.contact?.phone || "Aucun"}
              </td>
              <td>
                {#if user?.insurance?.endDate}
                  {@html insuranceNotification(user?.insurance?.endDate)}
                {:else}
                  Aucune
                {/if}
              </td>
              <td>
                {#each user.roles || [] as role}
                  <span class="badge">
                    {role}
                  </span>
                {/each}
              </td>
              <td>
                {#if user?.lastConnection?.date}
                  {@html lastLoginNotification(user.lastConnection?.date)}
                {/if}
              </td>
              <td>
                {user.connectionNumber || "1"}
              </td>
              <td>
                {#if user.createdAt}
                  {dayjs(user.createdAt).format("DD/MM/YYYY")}
                {/if}
              </td>
              <td>
                {#if user.roles?.includes("pro")}
                  <a href="/admin/templates/contract?id={user._id}">
                    contract
                  </a>
                {/if}
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  {/if}
</div>
