<script>
  import { onMount } from "svelte";
  import dayjs from "dayjs";
  var relativeTime = require("dayjs/plugin/relativeTime");
  dayjs.extend(relativeTime);

  import Loading from "../../../Loading.svelte";
  import { Buyers } from "../../../../api/buyers";
  const { lowres, formatAndcurrency } = require("../../../../commonFunctions");

  let handle;
  onMount(async () => {
    handle = Meteor.subscribe("buyers");
  });

  let users;
  let filter = { isHidden: { $ne: true } };

  let isLoading = true;
  $m: {
    isLoading = !handle?.ready();

    if (!isLoading) {
      if (!filter) {
        // filter = { createdBy: thisuserId };
        filter = {};
      } else {
        // filter.createdBy = thisuserId;
      }

      users = Buyers.find(filter, { sort: { createdAt: -1 } }).fetch();
    }
  }

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value == "active") {
      filter = { isHidden: { $ne: true }, roles: { $exists: true } };
    } else {
      filter = {};
    }
  }
</script>

<!-- <div class="grid grid-cols-1 overflow-x-auto xl:grid-cols-2">
  <div>
    <div class="flex items-end">
      <div>
        User email
        <input class="input" id="newuseremail" type="text" />
      </div>
      <div>
        pw
        <input class="input" id="newuserpw" type="text" />
      </div>
      <div>
        <button on:click={createuser} class="btn btn--light">
          Create user
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="flex items-end">
      <div>
        Id
        <input class="input" id="changeuseremail" type="text" />
      </div>
      <div>
        pw
        <input class="input" id="changepw" type="text" />
      </div>

      <div>
        <button on:click={changepw} class="btn btn--light"> Change pw </button>
      </div>
    </div>
  </div>
</div> -->

<!-- Tab for filter -->
<!-- <ul class="flex" id="filterContactTab">
  <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter="active"
      class="p-1 border active"
      id="active-tab"
      type="button"
      role="tab"
      aria-controls="active"
    >
      Actifs
    </button>
  </li>

  <li role="presentation">
    <button
      on:click={changeFilter}
      data-filter=""
      class="p-1 border"
      id="all-tab"
      type="button"
      role="tab"
      aria-controls="home"
    >
      Tous
    </button>
  </li>
</ul> -->

{#if isLoading}
  <Loading />
{:else if users}
  <div class="p-3 bg-white rounded-xl">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="border-b">
            <th />
            <th class="text-left">Nom</th>
            <th class="text-left">Type</th>
            <th class="text-left">Type</th>
            <th class="text-left">Ville</th>
            <th class="text-left">Budget</th>
            <th class="text-left">Email</th>
            <th class="text-left">Phone</th>
            <th class="text-left">isActive</th>
            <th class="text-left">Date</th>
          </tr>
        </thead>
        <tbody>
          {#each users || [] as user}
            <tr class="border-b">
              <td class="text-center">
                {#if user?.contact?.picture}
                  <img
                    class="rounded w-9"
                    alt="profile"
                    src={lowres({ url: user.contact.picture })}
                  />
                {:else}
                  <i class="text-gray-600 fa-solid fa-user" />
                {/if}
              </td>

              <td class="min-w-[150px]">
                <!-- <a href="/admin/db/user/{user._id}"> -->
                {user?.name || "Aucun"}
                <!-- </a> -->
              </td>

              <td>
                {user?.type || ""}
              </td>

              <td>
                {user?.assetType || ""}
              </td>
              <td>
                {#each user?.cities || [] as city}
                  {`${city.value} `}
                {/each}
              </td>
              <td>
                {formatAndcurrency(user.priceMax)}
              </td>
              <td>
                {user?.email}
              </td>
              <td>
                {user?.phone || "Aucun"}
              </td>

              <td>
                {user.isActive}
              </td>
              <td>
                {#if user.createdAt}
                  {dayjs(user.createdAt).format("DD/MM/YYYY")}
                {/if}
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </div>
{/if}
