<script>
  // import enterprise_customization from "../../../../../enterprise_customization";
  import { onMount } from "svelte";
  import dayjs from "dayjs";

  export let id;
  import { User_Transactions } from "../../../../api/user_transactions.js";

  onMount(async () => {
    Meteor.subscribe("usertransactions_user", id);
  });

  const {
    formatNumber,
    roundNumberFormat,
    formatAndcurrency,
  } = require("../../../../commonFunctions.ts");

  let transactions = [];

  $m: {
    transactions = User_Transactions.find(
      { userId: id },
      { sort: { createdAt: -1 } }
    ).fetch();
    if (transactions) {
      transactions.forEach((transaction) => {
        transaction.createdAt = dayjs(transaction.createdAt).format(
          "DD/MM/YYYY"
        );
      });
    }

    // console.log({ transactions });
  }
</script>

<div>
  <table class="w-full">
    {#each transactions as transaction}
      <tr class="border-b">
        <td>
          {formatAndcurrency(transaction.amount)}
        </td>
        <td>
          {transaction.notes}
        </td>
        <td>
          {transaction.createdAt}
        </td>
      </tr>
    {/each}
  </table>
</div>
