<script>
  //Probably needs to be optimized because the user transactions are loaded when the dashboard is loaded. It should be loaded when the modal is opened?

  // import enterprise_customization from "../../../../enterprise_customization";
  import { onMount } from "svelte";
  import { User_Transactions } from "../../../api/user_transactions.js";

  const { formatAndcurrency } = require("../../../commonFunctions.ts");

  let handle;

  onMount(async () => {
    handle = Meteor.subscribe("usertransactions_user_limit", Meteor.userId());
  });

  let transactions = [];
  let isLoading;

  $m: {
    isLoading = !handle?.ready();

    transactions = User_Transactions.find(
      { userId: Meteor.userId() },
      { sort: { createdAt: -1 } }
    ).fetch();
  }
</script>

<div>
  {#if isLoading}
    Loading
  {:else if transactions?.length > 0}
    <table class="w-full">
      <tbody>
        {#each transactions as transaction}
          <tr class="border-b">
            <td>{transaction.createdAt?.toLocaleDateString()}</td>
            <td class="text-end">
              {formatAndcurrency(transaction.amount)}
            </td>
            <td>{transaction.notes}</td>
          </tr>
        {/each}
      </tbody>
    </table>
  {:else}
    Aucune transaction
  {/if}
</div>
