<script>
  import { onMount } from "svelte";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  import enterprise_customization from "../../../../enterprise_customization.ts";
  import Wallet from "./wallet.svelte";
  import Shop from "./Shop.svelte";
  import SocialMediaFacebook from "./SocialMediaFacebook.svelte";

  onMount(async () => {
    Meteor.subscribe("thisuser");
  });

  async function emailVerification() {
    await Meteor.callAsync("sendVerificationLink");
    saved_notification("Email envoyé");
  }

  async function save(key) {
    const value = document.getElementById(key).value;

    // If username, update forsale assets
    if (key == "username") {
      await Meteor.callAsync(
        "asset_sale.update.username",
        Meteor.userId(),
        value
      );
    } else {
      await Meteor.callAsync("user.update." + key, value);
    }
    saved_notification();
  }

  let user = {};
  let selected;
  let isPro = false;

  $m: {
    user = Meteor.user();
    if (user) {
      selected = user?.officialId?.type;
      isPro = user?.roles?.includes("pro");
    }
  }

  async function save_officialIdValue() {
    const type = document.getElementById("officialidtype").value;
    const value = document.getElementById("officialidvalue").value;
    const expirationdate = document.getElementById(
      "officialid_expirationdate"
    ).value;

    await Meteor.callAsync("user.update.officialId", {
      type: type,
      value: value,
      expirationDate: expirationdate,
    });

    saved_notification();
  }

  // Cloudinary / Email hello99properties@gmail.com
  async function widgetOpener() {
    let cloud_name;
    let upload_preset;

    const userId = Meteor.userId();
    const userEmail = Meteor.user().emails[0].address || "";
    const tags = [userId, userEmail];
    const local = Meteor.absoluteUrl() == "http://localhost:3000/";

    if (local) {
      cloud_name = enterprise_customization.cloudinary.cloud_name_local;
      upload_preset = enterprise_customization.cloudinary.upload_preset_local;
    } else {
      cloud_name = enterprise_customization.cloudinary.cloud_name;
      upload_preset = enterprise_customization.cloudinary.upload_preset_profile;
    }

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloud_name: cloud_name,
        upload_preset: upload_preset,
        tags: tags,
        language: "fr",
        text: {
          fr: {
            or: "Ou",
            queue: {
              title: "Photos/fichiers à charger",
              title_uploading_with_counter: "Uploading {{num}} files",
            },
            crop: {
              title: "Recadrer votre image",
            },
            local: {
              browse: "Parcourir",
              dd_title_single: "Glissez déposer une image",
              dd_title_multi: "Glissez déposer des images",
              drop_title_single: "Glissez déposer ",
              drop_title_multiple: "Glissez déposer ",
            },
          },
        },
      },
      async function (error, result) {
        if (result.event === "success") {
          // let resultArray = [];
          // result.forEach((e) => {
          //   resultArray.push(e.secure_url);
          // });

          // const secure_url = result[0].secure_url;
          const secure_url = result?.info?.secure_url;
          // SAVE IN THE DATABASE
          if (secure_url) {
            await Meteor.callAsync("user.update.picture", secure_url);
          }
        }
      }
    );
  }

  async function handle_visibility() {
    // if (!confirm("Are you sure?")) return;
    const value = document.getElementById("visible").checked;
    const id = Meteor.userId();
    await Meteor.callAsync("user.update.isVisible", { id, value });
  }
</script>

<svelte:head>
  <script
    src="https://upload-widget.cloudinary.com/global/all.js"
    type="text/javascript"
  ></script>
</svelte:head>

{#if user}
  <div class="p-4 mb-5 bg-white shadow-md rounded-xl">
    <h1 class="text-xl">
      <i class="fa-regular fa-id-card text-[var(--main-color)]" />
      Mon Profile <!-- Personal Information -->
    </h1>

    <div class="grid grid-cols-1 mb-2">
      <div>
        {#if user}
          <!-- Login Address: -->
          <div>
            Adresse de connection:
            {user.emails[0].address}
          </div>
        {/if}

        {#if !isPro}
          {#if user?.emails && !user?.emails?.[0]?.verified}
            <button on:click={emailVerification} class="mt-3 btn btn--dark">
              Vérifier email
            </button>
          {:else}
            Email vérifié
          {/if}
        {/if}
      </div>
    </div>

    {#if isPro}
      <div class="grid grid-cols-1 mb-2">
        <div>
          <label for="email">Email</label>
          <input
            on:change={() => {
              save("email");
            }}
            class="input"
            id="email"
            value={user?.contact?.email || user?.emails?.[0]?.address || ""}
            disabled={user?.contact?.email}
          />
        </div>
      </div>
    {/if}

    <div class="grid grid-cols-1 mb-2 sm:grid-cols-2">
      <div>
        <label for="name">Nom</label>

        <input
          on:change={() => {
            save("surname");
          }}
          class="input"
          id="surname"
          disabled={user?.contact?.surname}
          value={user?.contact?.surname || ""}
        />
      </div>
      <div>
        <label for="">Prénom</label>
        <input
          on:change={() => {
            save("firstname");
          }}
          class="input"
          id="firstname"
          value={user?.contact?.firstname || ""}
          disabled={user?.contact?.firstname}
        />
      </div>
    </div>

    <!-- <div class="mb-2">
      <div>
        <label for="corporation">Entreprise</label>
        <input
          on:change={() => {
            save("enterprise");
          }}
          id="enterprise"
          disabled={user?.enterprise}
          value={user?.enterprise || ""}
        />
      </div>
    </div> -->

    <div class="grid grid-cols-1 mb-2">
      <div>
        <i class="fa-solid fa-phone" />
        <label for="phone">Téléphone</label>
        <input
          on:change={() => {
            save("phone");
          }}
          class="input"
          id="phone"
          value={user?.contact?.phone || ""}
        />
      </div>
    </div>

    <div class="grid grid-cols-1 mb-2">
      <div>
        <i class="fa-solid fa-location-dot" />
        <label for="">Adresse postale</label>
        <input
          on:change={() => {
            save("address");
          }}
          class="input"
          id="address"
          value={user?.contact?.address || ""}
        />
      </div>
    </div>

    <div class="grid grid-cols-1 mb-2 lg:grid-cols-2">
      <div>
        <i class="fa-regular fa-calendar" />
        <label for="birthdate">Date de naissance</label>
        <input
          on:change={() => {
            save("birthdate");
          }}
          class="input"
          type="date"
          id="birthdate"
          value={user?.birthdate || ""}
        />
      </div>

      <div>
        <i class="fa-solid fa-location-dot" />
        <label for="birthplace">Lieu de naissance</label>
        <input
          on:change={() => {
            save("birthplace");
          }}
          class="input"
          type="text"
          id="birthplace"
          value={user?.birthplace || ""}
          disabled={user?.birthplace}
        />
      </div>
    </div>

    <div class="grid grid-cols-1 mb-2">
      <div>
        <i class="fa-solid fa-globe-europe" />
        <label for="">Nationalité</label>
        <input
          on:change={() => {
            save("nationality");
          }}
          class="input"
          type="text"
          id="nationality"
          value={user?.nationality || ""}
        />
      </div>
    </div>

    {#if isPro}
      <div class="grid grid-cols-1 mb-2 lg:grid-cols-3">
        <div>
          <i class="fa-regular fa-address-card" />
          <label for="nationalId">Carte identité</label>
          <select
            class="border select"
            id="officialidtype"
            on:change={() => {
              save_officialIdValue();
            }}
            value={selected}
          >
            <option value="idcard"> Carte Identité </option>
            <option value="passport"> Passeport </option>
          </select>
        </div>

        <div>
          <label for="">Numéro</label>
          <input
            on:change={() => {
              save_officialIdValue();
            }}
            class="input"
            type="text"
            id="officialidvalue"
            value={user?.officialId?.value || ""}
            disabled={user?.officialId?.value}
          />
        </div>

        <div>
          <label for="expirationdate">Date expiration</label>
          <input
            on:change={() => {
              save_officialIdValue();
            }}
            class="input"
            type="date"
            id="officialid_expirationdate"
            value={user?.officialId?.expirationDate || ""}
          />
        </div>
      </div>
    {/if}

    <div>
      Photo de profil <!-- Profile Picture -->
    </div>

    <div>
      {#if user?.contact?.picture}
        <div>
          <img
            alt="profilepicture"
            src={user?.contact?.picture}
            class="max-w-[200px] max-h-[200px] rounded-xl"
          />
        </div>
      {/if}

      <div>
        <button class="btn btn--light" on:click={widgetOpener}>
          <i class="fa-solid fa-upload" />
          Ajouter une photo <!-- Upload image -->
        </button>
      </div>
    </div>

    {#if isPro}
      <div>
        <div>
          <input
            type="checkbox"
            id="visible"
            bind:checked={user.isVisible}
            on:input={handle_visibility}
          />
          <label for="">
            {#if user?.isVisible}
              Nom et photo visible
            {:else}
              Nom et photo Non visible
            {/if}
          </label>
        </div>
      </div>
    {/if}
  </div>

  <!-- Pro tab -->
  {#if isPro}
    <div class="p-4 mb-5 bg-white shadow-md rounded-xl">
      <h5 class="text-lg">
        <i class="fa-solid fa-briefcase text-[var(--main-color)]" />
        Pro
      </h5>

      <div class="mt-3 mb-2">
        <div>
          <i class="fa-regular fa-calendar" />
          <label for="insurancedate">Date de fin Assurance</label>
          <input
            on:change={() => {
              save("insuranceEndDate");
            }}
            class="input"
            type="date"
            id="insuranceEndDate"
            value={user?.insurance?.endDate || ""}
          />
        </div>
      </div>

      <div class="mb-2">
        <div>
          <label for="rsac">
            RSAC (Registre spécial des Agents Commerciaux)
          </label>
          <input
            on:change={() => {
              save("rsac");
            }}
            class="input"
            id="rsac"
            value={user?.rsac || ""}
          />
        </div>
      </div>

      {#if enterprise_customization.countryConfiguration == "fr"}
        <div class="mb-2">
          <div>
            <label for="socialSecurityNumber">
              Numéro de Sécurité sociale
            </label>
            <input
              on:change={() => {
                save("socialSecurityNumber");
              }}
              id="socialSecurityNumber"
              value={user?.socialSecurityNumber || ""}
            />
          </div>
        </div>
      {/if}

      {#if enterprise_customization.countryConfiguration == "pf"}
        <div class="mb-2">
          <div>
            <label for="n-tahiti"> Num. T.A.H.I.T.I </label>
            <input
              on:change={() => {
                save("tahiti");
              }}
              class="input"
              id="tahiti"
              value={user?.tahiti || ""}
            />
          </div>
        </div>
      {/if}

      <div class="mb-2">
        <div>
          <label for="rib"> RIB (Factures)</label>
          <textarea
            on:change={() => {
              save("rib");
            }}
            class="w-full input"
            id="rib"
            value={user?.rib || ""}
          />
        </div>
      </div>

      {#if enterprise_customization.countryConfiguration == "fr"}
        <div class="mb-2">
          <div>
            <label for="siret"> Siret </label>
            <input
              on:change={() => {
                save("siret");
              }}
              id="siret"
              value={user?.siret || ""}
            />
          </div>
        </div>
      {/if}

      {#if enterprise_customization.countryConfiguration == "fr"}
        <div class="mb-2">
          <div>
            <label for="tvaNumber"> Numéro de TVA intracommunautaire </label>
            <input
              on:change={() => {
                save("tvaNumber");
              }}
              id="tvaNumber"
              value={user?.tvaNumber || ""}
            />
          </div>
        </div>
      {/if}
    </div>

    <div class="p-4 bg-white shadow-md rounded-xl">
      <h5 class="text-lg">
        <i class="fa-solid fa-comment text-[var(--main-color)]" />
        Communication
      </h5>

      <div class="mb-2">
        <div>
          <label for="personalwebsite"> Mini Site </label>
          {#if user?.username}
            <a
              class="text-blue-600 underline"
              href="https://{enterprise_customization.website}/conseiller-immobilier/{user.username}"
            >
              {enterprise_customization.website}/conseiller-immobilier/{user.username}
            </a>
          {:else}
            Non configuré
          {/if}
        </div>
      </div>

      <div class="mb-2">
        <div>
          <label for="description"> Description du mini site</label>
          <textarea
            rows="6"
            on:change={() => {
              save("description");
            }}
            class="w-full input"
            id="description"
            value={user?.description ||
              "Spécialiste immobilier de ma région, je vous conseille dans vos projets immobiliers avec une implication et un sens du service que vous saurez apprécier. Exposez-moi vos envies, je me ferai un plaisir de vous accompagner, posez-moi toutes vos questions, je me ferai une joie d'y répondre. A bientôt!"}
          />
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 mb-2 lg:grid-cols-2">
        <div>
          <label for="facebook">
            <i class="fa-brands fa-facebook" />
            Facebook
          </label>
          <input
            on:change={() => {
              save("facebook");
            }}
            placeholder="https://www.facebook.com/...."
            class="w-full input"
            id="facebook"
            value={user?.contact?.facebook || ""}
          />
        </div>
        <div>
          <label for="instagram">
            <i class="fa-brands fa-instagram" />
            Instagram
          </label>
          <input
            placeholder="https://www.instagram.com/...."
            on:change={() => {
              save("instagram");
            }}
            class="w-full input"
            id="instagram"
            value={user?.contact?.instagram || ""}
          />
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 mb-2 lg:grid-cols-2">
        <div>
          <label for="tiktok">
            <i class="fa-brands fa-tiktok" />
            TikTok
          </label>
          <input
            on:change={() => {
              save("tiktok");
            }}
            placeholder="https://www.tiktok.com/...."
            class="w-full input"
            id="tiktok"
            value={user?.contact?.tiktok || ""}
          />
        </div>
        <div>
          <label for="linkedin">
            <i class="fa-brands fa-linkedin-in" />
            LinkedIn
          </label>
          <input
            placeholder="https://www.linkedin.com/...."
            on:change={() => {
              save("linkedin");
            }}
            class="w-full input"
            id="linkedin"
            value={user?.contact?.linkedin || ""}
          />
        </div>

        <!-- https://wa.me/{internationalnumber} -->
        <div>
          <label for="whatsapp">
            <i class="fa-brands fa-whatsapp" />
            WhatsApp
          </label>
          <input
            type="number"
            placeholder="international number"
            on:change={() => {
              save("whatsapp");
            }}
            class="w-full input"
            id="whatsapp"
            value={user?.contact?.whatsapp || ""}
          />
        </div>

        <div>
          <label for="telegram">
            <i class="fa-brands fa-telegram" />
            Telegram
          </label>
          <input
            placeholder="...."
            on:change={() => {
              save("telegram");
            }}
            class="w-full input"
            id="telegram"
            value={user?.contact?.telegram || ""}
          />
        </div>

        <!-- <div>
          <label for="signal">
            <i class="fa-brands fa-signal" />
            Signal
          </label>
          <input
            placeholder="...."
            on:change={() => {
              save("signal");
            }}
            class="w-full input"
            id="signal"
            value={user?.contact?.signal || ""}
          />
        </div> -->

        <div>
          <label for="twitter">
            <i class="fa-brands fa-x-twitter" />
            Twitter
          </label>
          <input
            placeholder="https://twitter.com/...."
            on:change={() => {
              save("twitter");
            }}
            class="w-full input"
            id="twitter"
            value={user?.contact?.twitter || ""}
          />
        </div>

        <div>
          <label for="threads">
            <i class="fa-brands fa-threads"></i>
            Threads
          </label>
          <input
            placeholder="https://treads.net/...."
            on:change={() => {
              save("threads");
            }}
            class="w-full input"
            id="threads"
            value={user?.contact?.threads || ""}
          />
        </div>
      </div>

      <div>
        {#if user}
          <Wallet {user} />
        {/if}
      </div>

      {#if enterprise_customization.countryConfiguration == "fr"}
        <Shop />
      {/if}

      <!-- <div class="mb-2">
        <div>
          <label for="">
            Username (for your public agent commercial page)
          </label>
          <input
            on:change={() => {
              save("username");
            }}
            id="username"
            value={user?.username || ""}
          />
        </div>
      </div> -->

      <!-- <SocialMediaFacebook /> -->
    </div>
  {/if}
{/if}
