<script>
  async function buy(event) {
    const price = event.target.dataset.price;
    const description = event.target.dataset.description;
    const message = `Vous allez être débité. Voulez vous continuer? ${price} euros`;

    if (window.confirm(message)) {
      // Add transaction
      await Meteor.callAsync(
        "usertransactions.insert",
        Meteor.user()._id,
        Number(-price),
        description
      );
    }
  }
</script>

<div>
  <div>
    <i class="fa-solid fa-sign-hanging" />
    Panneau publicitaire
  </div>

  <label for="40x60">1 exemplaire /40 x 60cm / Recto-verso / 19 euros</label>
  <div>
    <button
      class="btn btn--blue"
      data-description="Panneau publicitaire 40x60 1ex"
      data-price="19"
      on:click={buy}
    >
      Acheter
    </button>
  </div>

  <label for="40x60">2 exemplaires /40 x 60cm / Recto-verso / 25 euros</label>
  <div>
    <button
      class="btn btn--blue"
      data-description="Panneau publicitaire 40x60 2ex"
      data-price="25"
      on:click={buy}
    >
      Acheter
    </button>
  </div>

  <label for="40x60">3 exemplaires /40 x 60cm / Recto-verso / 29 euros</label>
  <div>
    <button
      class="btn btn--blue"
      data-description="Panneau publicitaire 40x60 3ex"
      data-price="29"
      on:click={buy}
    >
      Acheter
    </button>
  </div>
</div>
