<script>
  import { onMount } from "svelte";
  onMount(async () => {
    Meteor.subscribe("thisuser");
  });

  let user = {};
</script>

Facebook / Instagram

<div>
  <label for="pageIdFacebook"> Nom de la page FB </label>
  <input
    placeholder="Ma page Facebook...."
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>

<div>
  <label for="pageIdFacebook"> PageId Facebook </label>
  <input
    placeholder="190382737960791"
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>

<div>
  <label for="pageIdFacebook"> Nom de la page instagram </label>
  <input
    placeholder="Ma page Facebook...."
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>

<div>
  <label for="pageIdFacebook"> PageId Instagram </label>
  <input
    placeholder="190382737960791"
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>

<div>
  <label for="pageIdFacebook"> Version </label>
  <input
    type="number"
    placeholder="17"
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>

<!--  -->

<div>
  <label for="tokenFacebook"> Token </label>
  <input
    placeholder="EAAHC92O07kcBACMRLO0kbxp..."
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>

<div>
  <label for="pageIdFacebook"> Date d'expiration </label>
  <input
    type="date"
    on:change={() => {
      // save("tokenFacebook");
    }}
    class="w-full input"
    id="tokenFacebook"
    value={user?.contact?.tokenFacebook || ""}
  />
</div>
