<script>
  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency } = enterprise_customization;
  export let user;

  import History from "./history.svelte";

  let show = false;
</script>

<div>
  Compte agent : {user?.wallet?.amount || 0}
  {currency}

  <div>
    <button
      class="px-4 py-2 mb-2 mr-2 text-sm text-white bg-gray-800 rounded-lg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300"
      type="button"
      on:click={() => {
        show = !show;
      }}
    >
      <i class="fa-solid fa-list" />
      Historique
    </button>

    {#if enterprise_customization.countryConfiguration == "fr"}
      <a href="https://buy.stripe.com/cN26sg97o428fVmeUV">
        <button class="btn--light"> Ajouter 50 {currency} </button>
      </a>

      <a href="https://buy.stripe.com/eVa03S2J09mseRi9AA">
        <button class="btn--light"> Ajouter 100 {currency} </button>
      </a>
      <a href="https://buy.stripe.com/28o6sg97o1U0cJa6oq">
        <button class="btn--light"> Ajouter 200 {currency} </button>
      </a>
    {/if}
  </div>

  <div class={show ? "block" : "hidden"}>
    <History />
  </div>
</div>
