<script>
  import enterprise_customization from "../../../../enterprise_customization.ts";
  // const { countryConfiguration } = enterprise_customization;
  let items;

  if ((enterprise_customization = "fr")) {
    items = [
      {
        title: "Formation Loi Alur",
        content: [
          {
            title:
              "2020-21 MODULE 1 web-formation DCI loi Alur - Devenir un professionnel de l'immobilier Comment",
            path: "https://drive.google.com/file/d/156Eyd9jR0ihFZQKqNFx2aSZk4KhOSA8B/view?usp=sharing",
          },

          {
            title:
              "2020-21 MODULE 2 web-formation DCI loi Alur - Déontologie des professionnels de l'immobilier",
            path: "https://drive.google.com/file/d/1c7-LBNH_lVAwaOiVRvDMxLNmtntbnbsD/view?usp=sharing",
          },

          {
            title:
              "2020-21 MODULE 3 web-formation DCI loi Alur - Comment vendre un bien immobilier",
            path: "https://drive.google.com/file/d/1CKx4OfHeffntUbEHs8hzzjCXdbZDt-Xx/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 4 web-formation DCI loi Alur - Comment financer une acquisition immobilière",
            path: "https://drive.google.com/file/d/1lzgWUdrLhAi3OzNH-I-B2U11ydU86u7q/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 5 web-formation DCI loi Alur - Comment optimiser fiscalement ses revenus fonciers",
            path: "https://drive.google.com/file/d/1AiZQCTekOVo63Q6nhvIWARmUuqCgK4Ac/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 6 web-formation DCI loi Alur - Maîtriser les différentes formules d’investissement locatif en loi Pinel",
            path: "https://drive.google.com/file/d/1AiZQCTekOVo63Q6nhvIWARmUuqCgK4Ac/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 7 web-formation DCI loi Alur - Maîtriser l’investissement locatif en Denormandie",
            path: "https://drive.google.com/file/d/1edTasVsp0cwS0eXMLKaiJlAGK9ADPAYz/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 9 web-formation DCI loi Alur - Comment se calcule la plus-values immobilière",
            path: "https://drive.google.com/file/d/1VWg8kmB3_8XrwV8e9EzzF_Br07IP8IB9/view?usp=sharing",
          },

          {
            title:
              "2020-21 MODULE 10 web-formation DCI loi Alur - L'impôt sur la fortune immobilière",
            path: "https://drive.google.com/file/d/11MdPPLp_oz6DMF2sTA5L1XzPqGUt9U9k/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 11 web-formation DCI loi Alur - La SCI un outil d'optimisation du patrimoine",
            path: "https://drive.google.com/file/d/172JlRvbei8Do0QcoUpgmXE-EHeCPQn6Z/view?usp=sharing",
          },
          {
            title:
              "2020-21 MODULE 12 web-formation DCI loi Alur - Guide du simulateur fiscal et financier",
            path: "https://drive.google.com/file/d/1sQ1phM5ETymTUpXSy56Tj-did4BSqk39/view?usp=sharing",
          },
        ],
      },
    ];
  }

  if ((enterprise_customization = "pf")) {
    items = [
      {
        title: "Transaction",
        content: [
          {
            title: "MARCHE IMMO ET ACTIVITE AGENT IMMO",
            path: "https://drive.google.com/drive/folders/1frhIp5kIUjFwCmHQWbueNe6PbRi4ruoQ?usp=drive_link",
          },
          {
            title: "FINANCEMENT DANS LA TRANSACTION",
            path: "https://drive.google.com/drive/folders/14jH9KM0R2U13NYV6Mh5way4uoZDNdAqQ?usp=drive_link",
          },

          {
            title: "DE LA PROSPECTION A LA COMMERCIALISATION",
            path: "https://drive.google.com/drive/folders/12BhAWkhea3_Ysd6mCMPmLt5_pYIvqn6V?usp=drive_link",
          },

          {
            title: "DE LA NEGOCIATION A LA FINALISATION",
            path: "https://drive.google.com/drive/folders/1enbrieiXtE0EdevjmLTBJ07wlVRur6nW?usp=drive_link",
          },
        ],
      },
    ];
  }
</script>

<div class="p-4 bg-white rounded-xl">
  <h1 class="text-xl">
    <i class="fa-solid fa-chalkboard-user text-[var(--main-color)]"></i>
    Mes formations
  </h1>

  <div class="mt-5">
    {#each items as item}
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th class="text-left">{item.title}</th>
          </tr>
        </thead>
        <tbody>
          {#each item.content as item, i}
            <tr>
              <th>{i + 1}</th>
              <td>
                <a href={item.path} class="text-blue-500 underline">
                  {item.title}
                </a>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    {/each}
  </div>
</div>
