<script>
  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale";

  // import Loading from "../../Loading.svelte";
  import { navigate } from "svelte-routing";
  import { isPublishable } from "./common";

  import AssetsSaleItem from "./AssetsSaleItem.svelte";
  import Dropdown from "./Dropdown.svelte";

  // const { formatNumber } = require("../../../commonFunctions.ts");
  // import enterprise_customization from "../../../../enterprise_customization.ts";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  let handle,
    isLoading = true;

  onMount(async () => {
    handle = Meteor.subscribe("my_for_sale_assets");
    Meteor.subscribe("thisuser");
  });

  let for_sale_assets = [];
  let currentCount;
  let filter = {
    // userId: Meteor.userId(), archived: { $ne: true }
    $and: [
      { archived: { $ne: true } },
      { isSold: { $ne: true } },
      { isSoldByOthers: { $ne: true } },
      { isCancelledBySeller: { $ne: true } },
    ],
  };

  const filter_active = {
    $and: [
      { archived: { $ne: true } },
      { isSold: { $ne: true } },
      { isSoldByOthers: { $ne: true } },
      { isCancelledBySeller: { $ne: true } },
    ],
  };

  const filter_inactive = {
    $or: [
      { archived: true },
      { isSold: { $eq: true } },
      { isSoldByOthers: { $eq: true } },
      { isCancelledBySeller: { $eq: true } },
    ],
  };

  const filter_with_mandate = {
    $and: [
      { archived: { $ne: true } },
      { isSold: { $ne: true } },
      { isSoldByOthers: { $ne: true } },
      { isCancelledBySeller: { $ne: true } },
      { mandates: { $exists: true } },
    ],
  };

  const filter_without_mandate = {
    $and: [
      { archived: { $ne: true } },
      { isSold: { $ne: true } },
      { isSoldByOthers: { $ne: true } },
      { isCancelledBySeller: { $ne: true } },
      { mandates: { $exists: false } },
    ],
  };

  $m: {
    isLoading = !handle?.ready();
    if (!isLoading) {
      for_sale_assets = Assets_sale.find(filter, {
        sort: { createdAt: -1 },
      }).fetch();

      currentCount = for_sale_assets.length;
    }
  }

  function changeFilter(event) {
    const value = event.target.dataset?.filter;
    if (value == "active") {
      filter = filter_active;
    } else if (value == "inactive") {
      filter = filter_inactive;
    } else if (value == "with_mandate") {
      filter = filter_with_mandate;
    } else if (value == "without_mandate") {
      filter = filter_without_mandate;
    } else {
      filter = {};
    }
  }

  async function add() {
    const value = document.getElementById("title").value;
    const res = await Meteor.callAsync("for_sale_assets.insert", value);
    if (res) {
      saved_notification();
      navigate("/pro/for-sale/edit/" + res, {
        replace: true,
      });
    }
  }

  async function publish(item, boolean) {
    if (boolean == true) {
      isPublishable(item);
    }

    await Meteor.callAsync("asset_sale.update.isVisible", item._id, boolean);
    saved_notification();
  }
</script>

<!-- Add sale asset  -->
<div class="grid items-center grid-cols-2 gap-3">
  <div>
    <input
      class="w-full input"
      type="text"
      placeholder="Titre du bien"
      id="title"
      aria-describedby="title"
    />
  </div>
  <div>
    <button class="btn btn--light" on:click={add}>
      <i class="fa-solid fa-plus" />
      Ajouter un nouveau bien
    </button>
  </div>
</div>
<!-- <a class="btn btn-secondary" href="/pro/db/for-sale/creation">
  <i class="fa-solid fa-plus" />
  Ajouter un nouveau bien
</a> -->

<h5 class="mt-4 text-xl">
  <i class="fa-solid fa-house text-[var(--main-color)]" />
  Mes biens à vendre
</h5>

<!-- Tab for filter -->
<div>
  <ul class="flex">
    <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter="active"
        class="px-2 py-1 bg-white border active rounded-xl focus:bg-gray-300"
        aria-controls="home"
      >
        Actifs
      </button>
    </li>

    <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter="inactive"
        class="px-2 py-1 bg-white border rounded-xl focus:bg-gray-300"
        aria-controls="seller"
      >
        Inactifs
      </button>
    </li>

    <!-- <li role="presentation">
      <button
        on:click={changeFilter}
        data-filter=""
        class="nav-link"
        id="seller-tab"
        type="button"
        role="tab"
        aria-controls="seller"
        aria-selected="false"
      >
        Tous
      </button>
    </li> -->
  </ul>

  <div>
    <button
      class="px-2 py-1 bg-white border rounded-xl focus:bg-gray-300"
      on:click={changeFilter}
      data-filter="without_mandate"
    >
      Sans Mandats
    </button>

    <button
      class="px-2 py-1 bg-white border rounded-xl focus:bg-gray-300"
      on:click={changeFilter}
      data-filter="with_mandate"
    >
      Mandats
    </button>
  </div>
</div>

{#if isLoading}
  Loading...
{:else}
  {#if currentCount > 0}
    <div class="my-3">
      <span class="p-2 bg-white border rounded-full">
        {currentCount || ""}
      </span>
    </div>
  {/if}

  <div class="grid gap-5">
    {#each for_sale_assets as item}
      <div class="p-5 bg-white shadow-md hover:shadow-lg rounded-xl">
        <div class="flex">
          <div style="width:65%">
            <a
              href="/pro/for-sale/edit/{item._id}"
              class="text-xl text-blue-600 underline"
            >
              {item.title || "Sans titre"}
            </a>
            <!-- {#if item.isVisible}
              <span class="text-green-600 badge">
                Publié sur {enterprise_customization.enterprise_name}
              </span>
              <a href="/for-sale/{item._id}">Voir annonce </a>
            {/if} -->
          </div>
          <div class="text-right" style="width:35%">
            {item.createdAt.toLocaleDateString()}
          </div>
        </div>

        <div>
          <AssetsSaleItem {item} />

          <div>
            <!-- <div>
              <a href="/pro/for-sale/edit/{item._id}" class="btn btn--light">
                <i class="fa-solid fa-pen-to-square" />
                Modifier
              </a>
            </div> -->

            <div class="text-right">
              <Dropdown {item} />

              <!-- {#if item.isVisible}
                <button
                  class="btn btn--light"
                  on:click={() => {
                    publish(item, false);
                  }}
                >
                  <i class="fa-regular fa-eye-slash" />
                  Masquer le bien sur le site
                </button>
              {:else}
                <button
                  class="btn btn-primary"
                  on:click={() => {
                    publish(item, true);
                  }}
                >
                  <i class="fa-solid fa-eye" />
                  Afficher le bien sur le site
                </button>
              {/if} -->

              {#if item.isSold}
                Vendu
              {:else}
                <!-- <button
                  value={item._id}
                  on:click={() => {
                    changeSold(item._id);
                  }}
                  class="btn btn--light"
                >
                  <i class="fa-regular fa-flag" />
                  Marquer comme vendu
                </button> -->
              {/if}
            </div>
          </div>
        </div>
      </div>
    {:else}
      Aucun
    {/each}
  </div>
{/if}
