<script>
  import dayjs from "dayjs";
  import { onMount } from "svelte";
  import { Assets_sale } from "../../../api/assets_sale";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  import MandateSection from "./MandateSection.svelte";
  import ValuationSection from "./ValuationSection.svelte";
  import BasicInfo from "./BasicInfo_section.svelte";
  import Address from "./Address_section.svelte";
  import Details from "./Details_section.svelte";
  import Cadastre from "./Cadastre_section.svelte";
  import Images from "./Images_section.svelte";
  import Comments from "./Comments_section.svelte";

  // import Status from "./Status_section.svelte";
  import Diagnostics from "./Diagnostics_section.svelte";
  import PublicationSection from "./Publications/PublicationSection.svelte";
  import PotentialBuyers from "./PotentialBuyers.svelte";

  import enterprise_customization from "../../../../enterprise_customization";
  const {
    countryConfiguration,
    displayMandateSection,
    displayEstimationSection,
  } = enterprise_customization;

  export let id;

  onMount(async () => {
    Meteor.subscribe("for_sale_asset_protected", id);
  });

  let item;
  let isAdmin = false;

  Tracker.autorun(() => {
    const thisuser = Meteor.user({ fields: { roles: 1 } });
    isAdmin = thisuser?.roles?.includes("admin");
  });

  $m: {
    item = Assets_sale.findOne(id);
  }

  async function save(key) {
    const value = document.getElementById(key).value;
    await Meteor.callAsync("asset_sale.update." + key, id, value);
    saved_notification();
  }
</script>

{#if item}
  <div class="grid grid-cols-2">
    <div>
      <a href="/pro/databases/for-sale" class="text-blue-600 underline">
        Mes biens à vendre
      </a>
      <i class="fa-solid fa-angle-right" />
      {item.title || "Fiche du bien"}
    </div>
    <div class="text-end">
      {#if item.createdAt}
        <i class="fa-regular fa-clock" />
        {dayjs(item.createdAt).format("DD MMM YYYY")}
      {/if}
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <div>
      <BasicInfo {save} {item} {id} />
      <Address {item} {id} />
    </div>

    <div>
      <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
        <div>
          {#if displayMandateSection}
            <MandateSection assetId={id} />
          {/if}
        </div>
        <div>
          {#if displayEstimationSection}
            <ValuationSection assetId={id} />
          {/if}
        </div>
      </div>

      <!-- <Status {item} {id} /> -->
      <PublicationSection {item} {id} />
      <PotentialBuyers {item} />
    </div>
  </div>

  <Details {save} {item} {id} />
  <Cadastre {item} {id} />
  <Images {save} {item} {id} />

  {#if countryConfiguration == "fr"}
    <Diagnostics {save} {item} {id} />
  {/if}

  {#if isAdmin}
    <Comments {item} {id} />
  {/if}
{/if}
