<script>
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  const {
    formatNumber,
    formatAndcurrency,
    lowres,
  } = require("../../../commonFunctions");

  import { Mandates_For_Sale } from "../../../api/mandates_sale";
  import { navigate } from "svelte-routing";
  import { isPublishable } from "./common";
  import enterprise_customization from "../../../../enterprise_customization";
  const { enterprise_name, displayMandateSection, publicationWebsites } =
    enterprise_customization;
  // import PlatformsList from "./Publications/PlatformsList.svelte";
  // import PlatformItem from "./PlatformItem.svelte";
  // import Wallet from "../PersonalInformation/wallet.svelte";

  export let item;
  // console.log({ item });

  let mandatesArray;
  let mandate;
  let mandates;
  let user;

  let offers = 0;
  // At the moment, we dont display the name of the company on the picture, no value added
  // let watermark = "watermark";
  let watermark = "";

  $m: {
    mandatesArray = item.mandates || [];

    if (mandatesArray) {
      Meteor.subscribe("mandate_for_sale_arrayid", mandatesArray);
    }

    user = Meteor.user();

    mandates = Mandates_For_Sale.find(
      {
        _id: {
          $in: mandatesArray,
        },
      },
      { sort: { mandate: -1 } }
    ).fetch();

    if (mandates?.[0]) {
      mandate = mandates[0];

      if (mandate.saleAgreementDate) {
        watermark = "saleAgreement";
      } else if (mandate.deed) {
        watermark = "sold";
      }
    }

    offers = 0;
    mandates.forEach((element) => {
      if (element.offers?.length) {
        //All the offers
        offers += element.offers.length;
      }
    });
    //If we wanted only the offres of the last mandate
    // if ( mandate?.offers) {
    //   offers = mandate.offers.length;
    // }
  }

  async function publishmain(item, boolean) {
    if (boolean == true) {
      isPublishable(item);
    }

    const message = "Vous allez publier l'annonce";
    if (window.confirm(message)) {
      await Meteor.callAsync("asset_sale.update.isVisible", item._id, boolean);

      saved_notification();
    }
  }

  async function addSaleMandate() {
    const res = await Meteor.callAsync(
      "mandates_for_sale.insertwithasset",
      item._id
    );
    saved_notification();
    navigate("/pro/for-sale-mandates/edit/" + res, {
      replace: true,
    });
  }
</script>

{#if item}
  <div class="grid grid-cols-1 gap-3 md:grid-cols-3">
    <div class="col-span-1">
      {#if item.images}
        <div class={watermark}>
          <a href="/pro/for-sale/edit/{item._id}">
            <img
              alt=""
              src={lowres({ url: item.images?.[0]?.url })}
              class="rounded-lg"
            />
          </a>
        </div>
      {:else}
        <div class="text-gray-600">
          <i class="fa-regular fa-image"></i>
          Aucune photo
        </div>
      {/if}

      <!-- 🏷️ -->
      {#if item.isSold}
        <span class="text-green-600">Vendu</span>
      {/if}
      {#if item.isSoldByOthers}
        <span class="badge"> Vendu par une autre agence </span>
      {/if}
      {#if item.isCancelledBySeller}
        <span class="badge"> Annulation vendeur </span>
      {/if}
      {#each item.tags || [] as tag}
        <span class="badge">{tag}</span>
      {/each}
      {#if item.archived}
        <span class="badge">Archivé</span>
      {/if}
      <!-- End 🏷️ -->
    </div>
    <div class="col-span-2 px-3">
      <table class="w-full">
        <tbody>
          <tr class="border-b">
            <td class="text-gray-600">
              <i class="fa-solid fa-location-dot" />
              Adresse
            </td>
            <td>
              {#if item.address}
                {item.address.streetAddress || ""}
                {item.address.city || ""}
                {item.address.postalCode || ""}
              {:else}
                - <!-- Aucune -->
              {/if}
            </td>
          </tr>
          <tr class="border-b">
            <td class="text-gray-600">
              <i class="fa-solid fa-vector-square" />
              Surface
            </td>
            <td>
              {#if item.livingArea}
                {formatNumber(item.livingArea)} m²
              {:else if item.landSurface}
                {formatNumber(item.landSurface)} m²
              {:else}-
              {/if}
            </td>
          </tr>

          {#if displayMandateSection}
            <tr class="border-b">
              <td class="text-gray-600 align-top">
                <i class="fa-regular fa-file" />
                Mandats
              </td>
              <td>
                {#each mandates || [] as mandate}
                  <div>
                    <div>
                      <a
                        href="/pro/for-sale-mandates/edit/{mandate._id}"
                        class="text-blue-600 underline"
                      >
                        <span style="font-size:1em;">
                          <i
                            class="fa-solid fa-file-contract text-[var(--main-color)]"
                          />
                          N° {mandate.mandate?.number || "En attente de numéro"}
                        </span>
                      </a>
                      <!-- statut -->
                      {#if mandate?.isSold}
                        Vendu
                      {/if}
                      {#if mandate?.isSoldByOthers}
                        Vendu par une autre agence
                      {/if}
                      <!-- End statut -->

                      {#if mandate}
                        {#if mandate.status == "validated" || mandate?.mandate?.number}
                          <span class="badge">
                            <i
                              class="text-green-600 fa-solid fa-circle-check"
                            />
                            Validé
                          </span>
                        {:else if mandate.status == "waiting"}
                          <span
                            class="px-2.5 py-0.5 rounded-full bg-yellow-100 text-yellow-800 text-xs"
                          >
                            En attente de validation
                          </span>
                        {:else if mandate.status == "refused"}
                          <span
                            class="px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 text-xs"
                          >
                            Refusé
                          </span>
                        {:else if mandate.status == "refused"}
                          <span> Draft </span>
                        {:else}
                          <span> À soumettre pour validation </span>
                        {/if}
                      {/if}
                    </div>
                  </div>
                {/each}

                <button
                  on:click={addSaleMandate}
                  class="px-3 py-1 mb-2 mr-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
                >
                  <i class="fa-solid fa-plus" />
                  Ajouter un mandat
                </button>
              </td>
            </tr>
          {/if}

          <tr class="border-b">
            <td class="text-gray-600">
              <i class="fa-solid fa-tag" />
              Prix H.A.I
            </td>
            <td>
              {#if item.saleprice?.fees_included}
                {formatAndcurrency(item.saleprice.fees_included)}
              {/if}
            </td>
          </tr>

          <tr>
            <td class="text-gray-600">
              <i class="fa-solid fa-share-square" />
              Publications
            </td>
            <td>
              <div class="flex justify-between">
                <div>
                  {#if item.isVisible}
                    <span class="text-green-600">
                      {enterprise_name}
                    </span>

                    <a
                      href="/for-sale/{item._id}"
                      class="text-blue-600 underline"
                    >
                      Voir annonce
                    </a>
                  {/if}

                  {#each item.publications || [] as publication, i}
                    {#if publication.published}
                      <span class="text-green-600">
                        {publication.name}
                      </span>
                    {/if}
                  {/each}
                </div>
                <!-- <div>
                  <div>
                    {#if publicationWebsites}
                      <button
                        class="btn btn--light"
                        type="button"
                        data-bs-target="#collapse{item._id}"
                        aria-expanded="false"
                      >
                        Gérer les Publications
                      </button>
                    {/if}
                  </div>
                </div> -->
              </div>
            </td>
          </tr>

          <!-- to add the collapse publication -->
          <!-- <tr class="border-b">
            <td colspan="2"  class="py-0 border-b-0">
              <div class="mt-1" id="collapse{item._id}">
                <div>
                  <PlatformsList id={item._id} {item} />
                </div>
              </div>
            </td>
          </tr> -->

          <tr class="border-b">
            <td class="text-gray-600">
              <i class="fa-brands fa-buffer" />
              Offres
            </td>
            <td>
              {offers}
            </td>
          </tr>

          <!-- <tr>
            <td>
              <i class="fa-regular fa-file" />
              Avis de valeur
            </td>
            <td> - </td>
          </tr> -->

          <tr>
            <td class="text-gray-600"><i class="fa-solid fa-eye" /> Vues </td>
            <td> {item.pageViews?.count || 0} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{/if}

<style>
  /* replacing / erasing / default values at watermark.css */
  .watermark::after {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    font-size: 1em;
    color: aliceblue;
  }
  /* end of the custom */

  .watermark {
    position: relative;
  }

  .saleAgreement {
    position: relative;
  }
  .saleAgreement::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "SOUS COMPROMIS";
    color: aliceblue;
  }
  .sold {
    position: relative;
  }
  .sold::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "VENDU";
    color: aliceblue;
  }
</style>
