<script>
  export let save, item, id;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  const { slugify } = require("../../../commonFunctions.ts");

  function selectedType(value) {
    if (value == item.type) {
      return "selected";
    }
  }

  async function saveType(event) {
    // Can be optimized with 1 meteor call to server
    await Meteor.callAsync("asset_sale.update.type", id, event.target.value);
    saved_notification();
  }

  async function sluglify_title() {
    const value = document.getElementById("title").value;
    if (!value) return;

    const slug = slugify(value);
    await Meteor.callAsync("asset_sale.update.slug", id, slug).catch((err) => {
      if (!err) {
        document.getElementById("slug").value = slug;
        saved_notification();
      }
      error_notification(err);
    });
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-info-circle text-[var(--main-color)]" />
    Général <!-- Basic info -->
  </h2>

  <div class="mt-3">
    <div>
      <label for="title">
        {#if !item.title}
          <i class="text-red-500 fa-solid fa-asterisk" />
        {/if}
        Titre <!-- Title -->
      </label>
      <textarea
        on:change={() => {
          save("title");
        }}
        class="w-full input"
        id="title"
        value={item.title || ""}
        rows="1"
      />
    </div>
  </div>

  <div>
    <!-- <label for="slug">Slug</label> -->
    <button
      type="button"
      on:click={sluglify_title}
      class="px-4 py-2 mb-2 mr-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg btn focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
    >
      Convertir pour référencement <!-- Slugify title -->
    </button>

    <div class="text-sm">
      <a
        href="{Meteor.absoluteUrl()}for-sale/{item.slug || item._id}"
        class="text-blue-600 underline"
      >
        {Meteor.absoluteUrl()}for-sale/{item.slug || item._id}
      </a>
    </div>

    <input
      id="slug"
      class="w-full input"
      on:change={() => {
        save("slug");
      }}
      value={item.slug || ""}
    />
  </div>

  <div class="mt-3 mb-3">
    {#if !item.type}
      <i class="text-red-500 fa-solid fa-asterisk" />
    {/if}

    Type

    <select class="border select" id="type" on:change={saveType}>
      <option selected>Choisir</option>
      <option selected={selectedType("apartment")} value="apartment">
        Appartement
      </option>
      <option selected={selectedType("house")} value="house">
        Maison / Villa
      </option>
      <option selected={selectedType("building")} value="building">
        Immeuble
      </option>
      <option selected={selectedType("land")} value="land">Terrain</option>
      <option selected={selectedType("commercial")} value="commercial">
        Local Commercial
      </option>
    </select>
  </div>
</div>
