<script>
  export let item, id;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  async function save_cadastreValue() {
    const value = document.getElementById("cadastralRef").value;
    await Meteor.callAsync("asset_sale.cadastre.value", id, value);
    saved_notification();
  }

  function widgetOpener_cadastre() {
    let cloud_name;
    let upload_preset;

    const userId = Meteor.userId();
    const userEmail = Meteor.user().emails[0].address || "";
    const tags = [userId, userEmail];

    const local = Meteor.absoluteUrl() == "http://localhost:3000/";

    if (local) {
      cloud_name = enterprise_customization.cloudinary.cloud_name_local;
      upload_preset = enterprise_customization.cloudinary.upload_preset_local;
    } else {
      cloud_name = enterprise_customization.cloudinary.cloud_name;
      upload_preset =
        enterprise_customization.cloudinary.upload_preset_properties;
    }

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloud_name: cloud_name,
        upload_preset: upload_preset,
        tags: tags,
        language: "fr",
        text: {
          fr: {
            or: "Ou",
            queue: {
              title: "Photos/fichiers à charger",
              title_uploading_with_counter: "Uploading {{num}} files",
            },
            crop: {
              title: "Recadrer votre image",
            },
            local: {
              browse: "Parcourir",
              dd_title_single: "Glissez déposer une image",
              dd_title_multi: "Glissez déposer des images",
              drop_title_single: "Glissez déposer ",
              drop_title_multiple: "Glissez déposer ",
            },
          },
        },
      },

      function (error, result) {
        if (result.event === "success") {
          const secure_url = result?.info?.secure_url;
          // if (data) {
          //   data.forEach((e) => {
          //     resultArray.push(e.secure_url);
          //   });
          // }

          // If no cover pic, add
          if (item && !item.thumbnail) {
            // await Meteor.callAsync("asset_sale.update.thumbnail", id, secure_url);
          }
        }
      }
    );
  }
</script>

<svelte:head>
  <script
    src="https://upload-widget.cloudinary.com/global/all.js"
    type="text/javascript"
  ></script>
</svelte:head>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h4 class="text-xl">
    <i class="fa-solid fa-layer-group text-[var(--main-color)]" />
    Situation Cadastrale <!-- et Géographique -->
  </h4>

  <!-- Cloudinary add a picture / Cadastre
  <button class="btn btn-secondary" on:click={widgetOpener_cadastre}>
    Ajouter une photo
  </button> -->

  Référence cadastre
  <input
    class="w-full input"
    type="text"
    id="cadastralRef"
    on:change={save_cadastreValue}
    value={item.cadastre?.reference || ""}
  />
</div>
