<script>
  export let save, item, id;
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { currency, generative_ai } = enterprise_customization;
  const { formatAndcurrency } = require("../../../commonFunctions.ts");

  let user;

  $m: {
    console.log({ item });
    if (item?.userId) {
      user = Meteor.users.findOne(item?.userId);
    }
  }

  async function save_floorNumber(evt) {
    await Meteor.callAsync(
      "asset_sale.update.floorNumber",
      id,
      evt.target.value
    );
    saved_notification();
  }

  async function save_totalFloorNumber(evt) {
    await Meteor.callAsync(
      "asset_sale.update.totalFloorNumber",
      id,
      evt.target.value
    );
    saved_notification();
  }

  async function save_roomnumber(evt) {
    if (evt.target.name == "bedrooms") {
      await Meteor.callAsync(
        "asset_sale.update.roomsNumber.bedrooms",
        id,
        evt.target.value
      );
      saved_notification();
    } else if (evt.target.name == "bathrooms") {
      await Meteor.callAsync(
        "asset_sale.update.roomsNumber.bathrooms",
        id,
        evt.target.value
      );
      saved_notification();
    } else if (evt.target.name == "kitchens") {
      await Meteor.callAsync(
        "asset_sale.update.roomsNumber.kitchens",
        id,
        evt.target.value
      );
      saved_notification();
    } else if (evt.target.name == "parking") {
      await Meteor.callAsync(
        "asset_sale.update.roomsNumber.parkingslots",
        id,
        evt.target.value
      );
      saved_notification();
    } else if (evt.target.name == "cellars") {
      await Meteor.callAsync(
        "asset_sale.update.roomsNumber.cellars",
        id,
        evt.target.value
      );
      saved_notification();
    }
  }

  async function unsetBedroom(evt) {
    if (!confirm("Are you sure?")) return;
    await Meteor.callAsync("asset_sale.unset.bedroom", id);
    saved_notification();
  }

  async function unsetKitchen(evt) {
    if (!confirm("Are you sure?")) return;
    await Meteor.callAsync("asset_sale.unset.kitchen", id);
    saved_notification();
  }

  async function unsetBath(evt) {
    if (!confirm("Are you sure?")) return;
    await Meteor.callAsync("asset_sale.unset.bathroom", id);
    saved_notification();
  }

  //Needed because it is a button
  async function paidBy(event) {
    const value = event.target.value;

    if (value) {
      await Meteor.callAsync("asset_sale.update.feesPaidBy", id, value);
      saved_notification();
    }
  }

  //AI
  const { GoogleGenerativeAI } = require("@google/generative-ai");
  const genAI = new GoogleGenerativeAI(generative_ai.token);
  const model = genAI.getGenerativeModel({ model: generative_ai.model });

  async function rewriteWithAI(evt) {
    if (!confirm("Vous aller ré-écrire le text avec l'IA ?")) return;
    saved_notification("Préparation envoi. Veuillez patienter...");
    const prompt = `
    Tu es un agent immobilier et tu dois vendre un bien immobilier. Ecris une description pour ce bien. 

      Ajoute le reste (sans changer ce qui est déjà écrit) :
      📍 ${item.title || ""}
      Prix :${formatAndcurrency(item.saleprice?.fees_included) || ""}

      Ecris ici la description du bien pour la vente. Tu n'as pas besoin de vendre du rêve.
      ${item.description}

      ${item.type ? `type of asset to sell :${item.type}, ` : ""}
      ${item.address?.city ? `situé à ${item.address?.city}, ` : ""}

      ${item.livingArea ? `${item.livingArea} m² habitable, ` : ""}
      ${item.landSurface ? `${item.landSurface} m² de terrain, ` : ""} 
      ${item.constructionYear ? `année de construction:${item.constructionYear}` : ""} 
      ${item.roomsNumber?.bedrooms ? ` ${item.roomsNumber?.bedrooms} chambres,` : ""}        
      ${item.roomsNumber?.bathrooms ? `${item.roomsNumber?.bathrooms} salles de bain, ` : ""}
      ${item.roomsNumber?.kitchens ? `${item.roomsNumber?.kitchens} cuisines, ` : ""}
      ${item.roomsNumber?.parkingslots ? `${item.roomsNumber?.parkingslots} places de parking, ` : ""}
      ${item.roomsNumber?.cellars ? `${item.roomsNumber?.cellars} caves.` : ""}
       
      Puis ajoute le reste de l'annonce tel quel (sans changer ce qui est déjà écrit ci-dessous) :
      Plus de détails/photos : ${Meteor.absoluteUrl()}for-sale/${
        item.slug || item._id
      }\n ${user?.contact?.firstname || ""} ${
        user?.contact?.surname || ""
      } \n☎️ ${user?.contact?.phone || ""}\n📩  ${
        user?.contact?.email || user?.emails?.[0]?.address
      }
          
      `;
    console.log({ prompt });

    const result = await model.generateContent(prompt);

    if (!confirm(result.response.text())) return;
    await Meteor.callAsync(
      "asset_sale.update.description",
      id,
      result.response.text()
    );
    saved_notification();
  }
</script>

<div class="p-4 mb-4 bg-white rounded-lg shadow-md">
  <h2 class="text-xl">
    <i class="fa-solid fa-ruler-combined text-[var(--main-color)]" />
    Détails
  </h2>

  <div class="grid grid-cols-1 gap-4 mb-3 lg:grid-cols-3">
    <div>
      <label for="saleprice" class="text-gray-700">
        {#if !item.saleprice?.fees_included}
          <i class="text-red-500 fa-solid fa-asterisk" />
        {/if}

        Prix F.A.I
        <small>
          (frais d’agence inclus)
          {item.saleprice?.fees_included?.toLocaleString() || ""}
        </small>
      </label>
      <div class="relative mt-1 rounded-md">
        <input
          type="number"
          on:change={() => {
            save("saleprice");
          }}
          id="saleprice"
          class="w-full px-2 py-3 border rounded-lg"
          value={item.saleprice?.fees_included || ""}
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="currency" class="sr-only">Currency</label>
          <div
            class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
          >
            {currency}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="fees" class="text-gray-700">
        Honoraires d’agence
        <small>
          {item.saleprice?.fees?.toLocaleString() || ""}
        </small>
      </label>
      <div class="relative mt-1 rounded-md">
        <input
          type="number"
          on:change={() => {
            save("saleprice.fees");
          }}
          min="0"
          id="saleprice.fees"
          class="w-full px-2 py-3 border rounded-lg"
          value={item.saleprice?.fees || ""}
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="currency" class="sr-only">Currency</label>
          <div
            class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
          >
            {currency}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="paidBy" class="font-semibold">À la charge</label>

      <div>
        {#if item.saleprice?.feesPaidBy}
          {#if item.saleprice.feesPaidBy == "seller"}
            Vendeur
          {:else if item.saleprice.feesPaidBy == "buyer"}
            Acquéreur
          {/if}
        {:else}
          <button class="btn btn--light" on:click={paidBy} value="seller">
            Vendeur
          </button>
          <button class="btn btn--light" on:click={paidBy} value="buyer">
            Acquéreur
          </button>
        {/if}
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 mb-3 lg:grid-cols-3">
    <div>
      <label for="livingarea" class="text-gray-700">
        <!-- {#if !item.livingArea}
          <i class="text-red-500 fa-solid fa-asterisk" />
        {/if} -->

        <i class="fa-solid fa-arrows-up-down-left-right" />

        Surface habitable
      </label>
      <div class="relative mt-1 rounded-md">
        <input
          type="number"
          min="0"
          on:change={() => {
            save("livingArea");
          }}
          id="livingArea"
          class="w-full px-2 py-3 border rounded-lg"
          value={item.livingArea || ""}
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="m²" class="sr-only">m²</label>
          <div
            class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
          >
            m²
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="landsurface" class="text-gray-700">
        <i class="fa-solid fa-expand" />
        Surface terrain
      </label>
      <div class="relative mt-1 rounded-md">
        <input
          type="number"
          on:change={() => {
            save("landSurface");
          }}
          id="landSurface"
          class="w-full px-2 py-3 border rounded-lg"
          value={item.landSurface || ""}
          min="0"
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="m²" class="sr-only">m²</label>
          <div
            class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
          >
            m²
          </div>
        </div>
      </div>
    </div>

    <!-- Yearconstruction -->
    <div>
      <i class="fa-solid fa-hard-hat" />
      <label for="">Année construction</label>
      <div>
        <input
          on:change={() => {
            save("constructionYear");
          }}
          class="w-full input"
          type="number"
          id="constructionYear"
          value={item.constructionYear || ""}
          min="1700"
          max="3000"
        />
      </div>
    </div>
  </div>

  <div class="flex flex-wrap">
    <div>
      <div class="px-2 py-2 mb-4 mr-3 bg-gray-100 rounded-2xl">
        <label for="" class="block pb-1 mb-2">
          <i class="fa-solid fa-bed" />
          Chambres <!-- Bedrooms -->

          {#if item.roomsNumber?.bedrooms}
            <span class="badge">
              {item.roomsNumber?.bedrooms || ""}
              <button on:click={unsetBedroom}>
                <i class="fa-solid fa-times" />
              </button>
            </span>
          {/if}
        </label>

        {#if !item.roomsNumber || !item.roomsNumber.bedrooms}
          <div
            role="group"
            aria-label="Choose number of bedrooms"
            id="bedrooms"
          >
            <input
              on:click={save_roomnumber}
              type="radio"
              id="studio"
              name="bedrooms"
              value="studio"
            />
            <label class="mr-2" for="studio"> Studio </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="bedrooms-1"
              name="bedrooms"
              value="1"
            />
            <label class="mr-2" for="bedrooms-1"> 1 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="bedrooms-2"
              name="bedrooms"
              value="2"
            />
            <label class="mr-2" for="bedrooms-2"> 2 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="bedrooms-3"
              name="bedrooms"
              value="3"
            />
            <label class="mr-2" for="bedrooms-3"> 3 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="bedrooms-4"
              name="bedrooms"
              checked=""
              value="4"
            />
            <label class="mr-2" for="bedrooms-4"> 4 </label>
            <input
              on:click={save_roomnumber}
              type="radio"
              id="bedrooms-5"
              name="bedrooms"
              value="5+"
            />
            <label class="mr-2" for="bedrooms-5"> 5+ </label>
          </div>
        {/if}
      </div>
    </div>

    <div>
      <div class="px-2 py-2 mr-3 bg-gray-100 rounded-2xl">
        <label for="kitchen" class="pb-1 mb-2">
          <i class="fa-solid fa-sink" />
          Cuisines

          {#if item.roomsNumber?.kitchens}
            <span class="badge">
              {item.roomsNumber?.kitchens || ""}
              <button on:click={unsetKitchen}>
                <i class="fa-solid fa-times" />
              </button>
            </span>
          {/if}
        </label>

        {#if !item.roomsNumber || !item.roomsNumber.kitchens}
          <div role="group" aria-label="Choose number of kitchens">
            <input
              on:click={save_roomnumber}
              type="radio"
              id="kitchen-0"
              name="kitchens"
              value="0"
            />
            <label class="mr-2" for="kitchen-0"> 0 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="kitchen-1"
              name="kitchens"
              value="1"
            />
            <label class="mr-2" for="kitchen-1"> 1 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="kitchen-2"
              name="kitchens"
              value="2"
            />
            <label class="mr-2" for="kitchen-2"> 2 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="kitchen-3"
              name="kitchens"
              value="3+"
            />
            <label class="mr-2" for="kitchen-3"> 3+ </label>
          </div>
        {/if}
      </div>
    </div>

    <div>
      <div class="px-2 py-2 mb-4 mr-3 bg-gray-100 rounded-2xl">
        <label for="bath" class="block pb-1 mb-2">
          <i class="fa-solid fa-bath" />
          <!-- Bathrooms -->
          Sdb

          {#if item.roomsNumber?.bathrooms}
            <span class="badge">
              {item.roomsNumber?.bathrooms || ""}
              <button on:click={unsetBath}>
                <i class="fa-solid fa-times" />
              </button>
            </span>
          {/if}
        </label>

        {#if !item.roomsNumber || !item.roomsNumber.bathrooms}
          <div
            id="bathroom"
            role="group"
            aria-label="Choose number of bathrooms"
          >
            <input
              on:click={save_roomnumber}
              type="radio"
              id="bathrooms-1"
              name="bathrooms"
              value="1"
            />
            <label class="mr-2" for="bathrooms-1"> 1 </label>
            <input
              on:click={save_roomnumber}
              type="radio"
              id="bathrooms-2"
              name="bathrooms"
              checked=""
              value="2"
            />
            <label class="mr-2" for="bathrooms-2"> 2 </label>
            <input
              on:click={save_roomnumber}
              type="radio"
              id="bathrooms-3"
              name="bathrooms"
              value="3"
            />
            <label class="mr-2" for="bathrooms-3"> 3 </label>
            <input
              on:click={save_roomnumber}
              type="radio"
              id="bathrooms-4"
              name="bathrooms"
              value="4+"
            />
            <label class="mr-2" for="bathrooms-4"> 4+ </label>
          </div>
        {/if}
      </div>
    </div>

    <div>
      <div class="px-2 py-2 mb-4 mr-3 bg-gray-100 rounded-2xl">
        <label for="parking" class="block pb-1 mb-2">
          <i class="fa-solid fa-car" />
          Parking <!-- Parking spots -->
          {#if item.roomsNumber?.parkingslots}
            <span class="badge">
              {item.roomsNumber?.parkingslots || ""}
            </span>
          {/if}
        </label>

        {#if !item.roomsNumber || !item.roomsNumber.parkingslots}
          <div role="group" aria-label="Choose number of parking spots">
            <input
              on:click={save_roomnumber}
              type="radio"
              id="parking-0"
              name="parking"
              value="0"
            />
            <label class="mr-2" for="parking-0"> 0 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="parking-1"
              name="parking"
              value="1"
            />
            <label class="mr-2" for="parking-1"> 1 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="parking-2"
              name="parking"
              value="2"
            />
            <label class="mr-2" for="parking-2"> 2 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="parking-3"
              name="parking"
              value="3+"
            />
            <label class="mr-2" for="parking-3"> 3+ </label>
          </div>
        {/if}
      </div>
    </div>

    <div>
      <div class="px-2 py-2 mb-4 mr-3 bg-gray-100 rounded-2xl">
        <label for="" class="block pb-1 mb-2">
          <i class="fa-solid fa-dungeon" />
          Caves
          {#if item.roomsNumber?.cellars}
            <span class="badge">
              {item.roomsNumber?.cellars || ""}
            </span>
          {/if}
        </label>

        {#if !item.roomsNumber || !item.roomsNumber.cellars}
          <div role="group" aria-label="Choose number of cellars">
            <input
              on:click={save_roomnumber}
              type="radio"
              id="cellars-0"
              name="cellars"
              value="0"
            />
            <label class="mr-2" for="cellars-0"> 0 </label>

            <input
              on:click={save_roomnumber}
              type="radio"
              id="cellars-1"
              name="cellars"
              value="1"
            />
            <label class="mr-2" for="cellars-1"> 1 </label>
            <input
              on:click={save_roomnumber}
              type="radio"
              id="cellars-2+"
              name="cellars"
              value="2+"
            />
            <label class="mr-2" for="cellars-2+"> 2+ </label>
          </div>
        {/if}
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div>
      Étage du bien

      <div>
        <input
          on:change={save_floorNumber}
          class="input"
          type="number"
          id="floorNumber"
          name="floorNumber"
          min="0"
          value={item?.floorNumber}
        />
      </div>
    </div>
    <div>
      Nombre d'étages du bâtiment
      <div>
        <input
          on:change={save_totalFloorNumber}
          class="input"
          type="number"
          id="totalFloorNumber"
          name="totalFloorNumber"
          min="0"
          value={item?.totalFloorNumber}
        />
      </div>
    </div>
  </div>

  <div class="mt-10">
    <label for="description">
      {#if !item.description}
        <i class="text-red-500 fa-solid fa-asterisk" />
      {/if}
      Description
    </label>
    <button
      on:click={rewriteWithAI}
      class="px-4 py-2 mb-2 mr-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-slate-100 focus:outline-none hover:bg-gray-200 focus:ring-4 focus:ring-gray-200"
    >
      Ecrire avec l'IA
    </button>

    <textarea
      on:change={() => {
        save("description");
      }}
      class="w-full border"
      id="description"
      value={item.description ||
        `📍 ${item.title || ""}\nPrix :${
          formatAndcurrency(item.saleprice?.fees_included) || ""
        }\n\nPlus de détails/photos : ${Meteor.absoluteUrl()}for-sale/${
          item.slug || item._id
        }\n ${user?.contact?.firstname || ""} ${
          user?.contact?.surname || ""
        } \n☎️ ${user?.contact?.phone || ""}\n📩  ${
          user?.contact?.email || user?.emails?.[0]?.address
        }
          `}
      rows="9"
    />
  </div>
</div>
<!-- Copro start -->
<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-regular fa-building text-[var(--main-color)]" />
    Copropriété
  </h2>

  <div class="grid grid-cols-1 gap-3 mb-2 lg:grid-cols-3">
    <div>
      <label for="description">Charges (annuelles)</label>

      <div class="relative mt-1 rounded-md">
        <input
          min="1"
          type="number"
          on:change={() => {
            save("copro.annualFees");
          }}
          id="copro.annualFees"
          class="w-full px-2 py-3 border rounded-lg"
          value={item.copro?.annualFees || ""}
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="currency" class="sr-only">Currency</label>
          <div
            class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
          >
            {currency}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="numberOfLots">Nombre de lots</label>

      <div>
        <input
          on:change={() => {
            save("copro.numberOfLots");
          }}
          class="input"
          type="number"
          min="1"
          id="copro.numberOfLots"
          value={item.copro?.numberOfLots || ""}
        />
      </div>
    </div>

    <div>
      <label for="description">Procédure en cours</label>
      <div>
        <input
          on:change={() => {
            save("copro.ongoingProcedure");
          }}
          class="input"
          type="text"
          min="1"
          id="copro.ongoingProcedure"
          value={item.copro?.ongoingProcedure || ""}
        />
      </div>
    </div>
  </div>
  <!-- Copro ends -->

  <div class="grid grid-cols-1 gap-3 mb-2 lg:grid-cols-3">
    <div>
      <label for="propertyTax">Taxe foncière (annuelle)</label>

      <div class="relative mt-1 rounded-md">
        <input
          min="1"
          type="number"
          on:change={() => {
            save("propertyTax");
          }}
          id="propertyTax"
          class="w-full px-2 py-3 border rounded-lg"
          value={item.propertyTax || ""}
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="currency" class="sr-only">Currency</label>
          <div
            class="h-full py-3 pl-2 text-gray-500 bg-transparent border-transparent rounded-md pr-7"
          >
            {currency}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
