<script>
  export let item, id;

  import enterprise_customization from "../../../../enterprise_customization.ts";
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  import Diagnostics from "../../Diagnostics.svelte";

  async function save_diagnostics(diagId) {
    const value = document.getElementById(diagId).value;
    const functionName = "asset_sale.update.diagnostics." + diagId;
    await Meteor.callAsync(functionName, id, value);
    saved_notification();
  }

  async function save_diagnostics_DPE() {
    const dpe = document.getElementById("dpe").value;
    const ges = document.getElementById("ges").value;
    const functionName = "asset_sale.update.diagnostics.dpe";

    await Meteor.callAsync(functionName, { id, dpe, ges });
    saved_notification();
  }
</script>

<section class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-copy text-[var(--main-color)]" />
    Diagnostics
  </h2>

  <div>
    <div>
      <div><strong> Date du diagnostic</strong></div>
      <div>
        <label>
          <input
            on:change={() => {
              save_diagnostics("date");
            }}
            id="date"
            type="date"
            class="input"
            value={item.diagnostics?.date || ""}
          />
        </label>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2">
    <div>
      <label for="dpe">DPE</label>

      <input
        class="input"
        on:change={() => {
          save_diagnostics_DPE();
        }}
        id="dpe"
        value={item.diagnostics?.dpe || ""}
        type="number"
      />
    </div>
    <div>
      <label for="ges">GES</label>
      <input
        class="input"
        on:change={() => {
          save_diagnostics("ges");
        }}
        id="ges"
        value={item.diagnostics?.ges || ""}
        type="number"
      />
    </div>
  </div>

  <Diagnostics ges={item.diagnostics?.ges} dpe={item.diagnostics?.dpe} />

  <div class="font-bold">Coûts estimés</div>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div>
      <label for="costmin"> Min </label>

      <div>
        <input
          on:change={() => {
            save_diagnostics("cost.min");
          }}
          class="w-2/3 input"
          id="cost.min"
          type="number"
          value={item?.diagnostics?.cost?.min || ""}
        />
        <span>
          {enterprise_customization.currency}
        </span>
      </div>
    </div>
    <div>
      <label for="costmax"> Max </label>
      <div>
        <input
          on:change={() => {
            save_diagnostics("cost.max");
          }}
          class="w-2/3 input"
          id="cost.max"
          type="number"
          value={item?.diagnostics?.cost?.max || ""}
        />
        <span>
          {enterprise_customization.currency}
        </span>
      </div>
    </div>
  </div>
</section>
