<script>
  export let item;
  import {
    saved_notification,
    error_notification,
  } from "../../../notifications";

  let title = "Clôturer ";

  let opendropvalue = "transform opacity-0 scale-95";
  const opendrop = () => {
    if (opendropvalue == "transform opacity-0 scale-95") {
      return (opendropvalue = "transform opacity-100 scale-100");
    }

    return (opendropvalue = "transform opacity-0 scale-95");
  };

  function changeSold(id, boolean = true) {
    return Meteor.callAsync("asset_sale.update.isSold", id, boolean);
    saved_notification();
    opendrop();
  }

  function changeSoldByOther(id, boolean = true) {
    return Meteor.callAsync("asset_sale.update.isSoldByOthers", id, boolean);
    saved_notification();
    opendrop();
  }

  function changeCancelledBySeller(id, boolean = true) {
    return Meteor.callAsync(
      "asset_sale.update.isCancelledBySeller",
      id,
      boolean
    );
    saved_notification();
    opendrop();
  }

  async function archive(value = true) {
    if (!confirm("Archiver?")) return;
    await Meteor.callAsync("asset_sale.update.archive", {
      id: item._id,
      value,
    })
      .then(() => {
        saved_notification();
        opendrop();
      })
      .catch((err) => {
        error_notification(err);
      });
  }

  async function deleteAsset(id) {
    if (!confirm("Supprimer?")) return;
    await Meteor.callAsync("for_sale_assets.remove", id)
      .then(() => {
        saved_notification();
        opendrop();
      })
      .catch((err) => {
        error_notification(err);
      });
  }
</script>

<div class="p-5">
  <div class="relative inline-block text-left">
    <div>
      <button
        on:click={opendrop}
        type="button"
        class="inline-flex justify-center w-full px-4 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        {title}

        <!-- Heroicon name: mini/chevron-down -->
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <!-- Dropdown menu, show/hide based on menu state. Entering: "transition ease-out
    duration-100" From: "transform opacity-0 scale-95" To: "transform
    opacity-100 scale-100" Leaving: "transition ease-in duration-75" From:
    "transform opacity-100 scale-100" To: "transform opacity-0 scale-95" -->

    <div
      class="{opendropvalue} absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->

        {#if item.isSold}
          <button
            id={item._id}
            role="menuitem"
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              changeSold(item._id, false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Vendu"
          </button>
        {:else}
          <button
            id={item._id}
            role="menuitem"
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              changeSold(item._id);
            }}
          >
            <i class="fa-solid fa-font-awesome" />
            Vendu
          </button>
        {/if}

        {#if item.isSoldByOthers}
          <button
            id={item._id}
            role="menuitem"
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              changeSoldByOther(item._id, false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Vendu par une autre agence"
          </button>
        {:else}
          <button
            id={item._id}
            role="menuitem"
            class="block px-4 py-2 text-sm text-left text-gray-700"
            data-value={item._id}
            on:click={() => {
              changeSoldByOther(item._id);
            }}
          >
            <i class="fa-solid fa-font-awesome" />
            Vendu par une autre agence
          </button>
        {/if}

        <a
          href="/pro/sale-assets/share/{item._id}"
          id={item._id}
          class="block px-4 py-2 text-sm text-gray-700"
          data-value={item._id}
        >
          <i class="fa-solid fa-share" />
          Partager
        </a>

        <a
          href="/pro/sale-assets/give/{item._id}"
          id={item._id}
          class="block px-4 py-2 text-sm text-gray-700"
          data-value={item._id}
        >
          <i class="fa-solid fa-file-import" />
          Céder
        </a>

        {#if item.archived}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              archive(false);
            }}
          >
            <i class="fa-solid fa-rotate-left"></i>
            Enlever "Archivé"
          </button>
        {:else}
          <button
            id={item._id}
            class="block px-4 py-2 text-sm text-gray-700"
            data-value={item._id}
            on:click={() => {
              archive();
            }}
          >
            <i class="fa-solid fa-archive" />
            Archiver
          </button>
        {/if}

        <button
          id={item._id}
          class="block px-4 py-2 text-sm text-gray-700"
          data-value={item._id}
          on:click={() => {
            deleteAsset(item._id);
          }}
        >
          <i class="fa-solid fa-trash" />
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
