<script>
  import { onMount } from "svelte";
  export let save, item, id;

  let urlcollapse = false;

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  onMount(async () => {
    Meteor.subscribe("thisuser");
  });

  const { lowres } = require("../../../commonFunctions.ts");

  import enterprise_customization from "../../../../enterprise_customization.ts";
  const { cloudinary: cloudSetup } = enterprise_customization;

  let thisuser;
  $m: {
    thisuser = Meteor.user();
  }

  function widgetOpener_photo() {
    let cloud_name;
    let upload_preset;

    const userId = Meteor.userId();
    const userEmail = Meteor.user()?.emails[0].address || "";
    const tags = [userId, userEmail];
    const local = Meteor.absoluteUrl() == "http://localhost:3000/";

    if (local) {
      cloud_name = cloudSetup.cloud_name_local;
      upload_preset = cloudSetup.upload_preset_local;
    } else {
      cloud_name = cloudSetup.cloud_name_sale;
      upload_preset = cloudSetup.upload_preset_properties_sale;
    }

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloud_name: cloud_name,
        upload_preset: upload_preset,
        tags: tags,
        language: "fr",
        text: {
          fr: {
            or: "Ou",
            queue: {
              title: "Photos/fichiers à charger",
              title_uploading_with_counter: "Uploading {{num}} files",
            },
            crop: {
              title: "Recadrer votre image",
            },
            local: {
              browse: "Parcourir",
              dd_title_single: "Glissez déposer une image",
              dd_title_multi: "Glissez déposer des images",
              drop_title_single: "Glissez déposer ",
              drop_title_multiple: "Glissez déposer ",
            },
          },
        },
      },

      async function (error, result) {
        if (result.event != "success") return;

        const secure_url = result?.info?.secure_url;
        if (!secure_url) return;

        await Meteor.callAsync("asset_sale.push.images", id, [secure_url]);
        // Call the .close() method in order to close the widget
        // myUploadWidget.close();
      }
    );
  }

  async function deleteimage(value) {
    if (!confirm("Are you sure to delete this image?")) return;
    await Meteor.callAsync("asset_sale.pull.images", { id, value });
    saved_notification();
  }

  async function left(value) {
    await Meteor.callAsync("asset_sale.position.images.left", id, value);
  }

  async function right(value) {
    await Meteor.callAsync("asset_sale.position.images.right", id, value);
  }

  async function addcoverpage(value) {
    if (!confirm("Changer la photo de couverture")) return;
    await Meteor.callAsync("asset_sale.position.images", id, value);
    saved_notification();
  }

  async function save_title(i) {
    const value = document.getElementById("image_title" + i).value;
    await Meteor.callAsync("asset_sale.update.images.title", id, i, value);
    saved_notification();
  }

  async function addImageUrl() {
    let url = document.getElementById("imageurl").value;
    if (!url) return;

    if (url?.includes("http:")) {
      url = url.replace("http:", "https:");
    }

    const value = [url];
    document.getElementById("imageurl").value = "";

    return Meteor.callAsync("asset_sale.push.images", id, value);
  }
</script>

<svelte:head>
  <script
    src="https://upload-widget.cloudinary.com/global/all.js"
    type="text/javascript"
  ></script>
</svelte:head>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-regular fa-image text-[var(--main-color)]" />
    Images / Videos
    {#if !item.images}
      <span class="text-red-500"> * </span>
    {/if}
  </h2>

  <div class="mb-2">
    <div class="overflow-x-auto whitespace-nowrap">
      <button class="btn btn--dark" on:click={widgetOpener_photo}>
        <i class="fa-solid fa-cloud-upload-alt" />
        Ajouter des photos
      </button>

      <button
        class="btn btn--light"
        on:click={() => {
          urlcollapse = !urlcollapse;
        }}
      >
        <i class="fa-solid fa-plus" />
        Ajouter une url
      </button>

      {#if thisuser?.videoFolderLink}
        <a href={thisuser.videoFolderLink} class="btn btn--dark">
          <i class="fa-solid fa-upload" />
          Ajouter une video
        </a>
      {/if}

      {#if urlcollapse}
        <div id="collapseForUrl">
          Url <input id="imageurl" class="w-full input" type="text" />
          <!-- Titre<input id="imagetitle" type="text" /> -->
          <div>
            <button class="btn btn--light" on:click={addImageUrl}>
              Ajouter
            </button>
          </div>
        </div>
      {/if}
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 mb-2 lg:grid-cols-3">
    {#each item.images || [] as image, i}
      <div class="max-w-sm border rounded-lg">
        <div
          class="relative h-72"
          style="background: url({lowres({
            url: image?.url,
          })}) center center/cover no-repeat;"
        />

        <div>
          <input
            on:change={() => {
              save_title(i);
            }}
            class="w-full input"
            id={"image_title" + i}
            type="text"
            placeholder="Title"
            value={image?.title}
            aria-label="Title"
          />

          {#if i == 0}
            <span class="badge">Photo de couverture</span>
          {:else}
            <button
              on:click={() => {
                addcoverpage(image?.url);
              }}
              class="btn btn--light"
            >
              Définir photo couverture
            </button>
          {/if}

          {#if i != 0}
            <button
              on:click={() => {
                left(i);
              }}
              class="btn btn--light"
            >
              <i class="fa-solid fa-circle-left" />
            </button>
          {/if}

          {#if i < item.images.length - 1 && item.images.length > 1}
            <button
              on:click={() => {
                right(i);
              }}
              class="btn btn--light"
            >
              <i class="fa-solid fa-circle-right" />
            </button>
          {/if}

          <button
            on:click={() => {
              deleteimage(image?.url);
            }}
          >
            <i class="fa-solid fa-trash" />
          </button>
        </div>
      </div>
    {/each}
  </div>

  <div class="grid grid-cols-1 mt-3 lg:grid-cols-2">
    <div>
      <div>
        <label for="">
          <i class="fa-brands fa-youtube" />
          Youtube Id
        </label>
        <input
          on:change={() => {
            save("youtubeId");
          }}
          class="w-full input"
          id="youtubeId"
          value={item.youtubeId || ""}
        />
      </div>
    </div>

    <div class="text-center">
      {#if item.youtubeId}
        <div class="videoWrapper">
          <iframe
            title="youtube"
            width="560px"
            height="315px"
            src="https://www.youtube.com/embed/{item.youtubeId}"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          />
        </div>
      {/if}
    </div>
  </div>
</div>

<style>
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
