<script>
  import { onMount } from "svelte";
  import { Mandates_For_Sale } from "../../../api/mandates_sale.js";
  import { navigate } from "svelte-routing";

  const { formatAndcurrency } = require("../../../commonFunctions.ts");

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  export let assetId;

  let items;

  onMount(async () => {
    Meteor.subscribe("mandatesForSale_from_asset", assetId);
  });

  $m: {
    items = Mandates_For_Sale.find({ "asset.value": assetId }).fetch();
  }

  async function addMandate() {
    if (items.length) {
      if (
        !confirm(
          "Il existe déjà un mandat, vous voulez en ajouter un autre mandat?"
        )
      )
        return;
    }

    const res = await Meteor.callAsync(
      "mandates_for_sale.insertwithasset",
      assetId
    );

    if (res) {
      saved_notification();
      navigate("/pro/for-sale-mandates/edit/" + res);
    }
  }
</script>

<section class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-file-contract text-[var(--main-color)]" />
    Mandats
  </h2>

  {#if items.length}
    <table class="w-full text-center">
      <thead>
        <tr>
          <th class="text-left">N.</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        {#each items as item}
          <tr class="border-b last:border-b-0">
            <td class="py-2 text-left">
              {#if item.mandate?.number}
                <a
                  href="/pro/for-sale-mandates/edit/{item._id}"
                  class="px-3 py-1 mr-2 text-white bg-green-600 rounded-full"
                >
                  {item.mandate?.number}
                </a>
              {:else}
                <a
                  href="/pro/for-sale-mandates/edit/{item._id}"
                  class="px-3 py-2 mr-2 text-white bg-yellow-500 rounded-full"
                >
                  <i class="fa-regular fa-pen-to-square" />
                  En attente de numéro
                </a>
              {/if}
            </td>
            <td>
              {#if item.saleprice?.fees_included}
                {formatAndcurrency(item.saleprice?.fees_included)}
              {/if}
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {/if}

  <div class="mt-3">
    {#if items.length}
      <button on:click={addMandate} class="btn btn--light">
        Créer un nouveau mandat
      </button>
    {:else}
      <button on:click={addMandate} class="btn btn--blue">
        <i class="fa-solid fa-arrow-down" />
        Obtenir un numéro de mandat
      </button>
    {/if}
  </div>
</section>
