<script>
  export let item;

  import { onMount } from "svelte";
  import { Contacts } from "../../../api/contacts.js";
  // Add public buyers too ....
  // import { Buyers } from "../../../../api/buyers.ts";

  onMount(async () => {
    Meteor.subscribe("contactsInSearchSale", { assetPrice, assetType }); // contacts who are searching
  });

  let contacts, assetPrice, assetType;
  $m: {
    assetPrice = item.saleprice?.fees_included;
    assetType = item.type;

    const filter = {};
    contacts = Contacts.find(filter, { sort: { createdAt: -1 } }).fetch();
  }
</script>

{#if contacts.length > 0}
  <div class="p-4 mb-4 bg-white shadow-md rounded-xl">
    <h2 class="text-xl">
      <i class="fa-solid fa-user-group text-[var(--main-color)]" />
      Acheteurs potentiels
    </h2>

    <table>
      {#each contacts as contact}
        <tr>
          <td>
            <a
              href="/pro/databases/contact/{contact._id}"
              class="text-blue-600 underline"
            >
              {contact.firstname || ""}
              {contact.surname || ""}
            </a>
          </td>

          <td />
        </tr>
      {/each}
    </table>
  </div>
{/if}
