<div class="p-4 mb-4 shadow-md">
  <h2 class="text-xl">
    <i class="fa-regular fa-folder-open text-[var(--main-color)]" />
    Statut
  </h2>
</div>

<!-- Vendu  -->
<!-- Vendu par une autre agence  -->
<!-- Annulation vendeur -->
<!-- Expiré -->
