<script>
  import { onMount } from "svelte";
  import { Valuations } from "../../../api/valuations.js";
  import enterprise_customization from "../../../../enterprise_customization.ts";
  import { navigate } from "svelte-routing";

  import {
    saved_notification,
    error_notification,
  } from "../../../notifications.ts";

  export let assetId;

  let items;

  onMount(async () => {
    Meteor.subscribe("valuations_from_asset", assetId);
  });

  $m: {
    items = Valuations.find().fetch();
  }

  async function addvaluation() {
    await Meteor.callAsync("valuations.insert", { assetId, type: "sale" });
    saved_notification();
    navigate("/pro/avis-de-valeur/vente/" + res);
  }
</script>

<div class="p-4 mb-4 bg-white shadow-md rounded-xl">
  <h2 class="text-xl">
    <i class="fa-solid fa-file-invoice-dollar text-[var(--main-color)]" />
    Avis de valeur
  </h2>

  {#if items.length}
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">N.</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        {#each items as item}
          <tr>
            <td>
              <a
                href="/pro/avis-de-valeur/vente/{item._id}"
                class="p-2 text-white bg-green-600 rounded-full"
              >
                {item._id}
              </a>
            </td>
            <td>
              {#if item.saleprice?.fees_included}
                {item.saleprice?.fees_included || ""}
                {enterprise_customization.currency}
              {/if}
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {:else}
    <div class="mt-3">
      <button on:click={addvaluation} class="btn btn--dark">
        Créer un nouvel avis de valeur
      </button>
    </div>
  {/if}
</div>
