<script>
  import { onMount } from "svelte";
  export let id;

  onMount(async () => {
    const element = document.getElementById("text-description");

    await Meteor.callAsync("buyer.update.isActive", { id, isActive: true });
    // if (res) {
    //   console.log({ res });
    // }
    if (res && !err) {
      element?.classList.remove("hidden");
    }
  });
</script>

<div class="container mx-auto" style="min-height: 40vh;">
  <div id="text-description" class="hidden text-2xl">
    <i class="fa-solid fa-bell text-[var(--main-color)]" />
    Votre notification a bien été activée
  </div>

  <div class="mt-3">
    <a href="/" class="btn--light">Page principale</a>
  </div>
</div>
