<script>
  import Select from "svelte-select";

  let typeItems = [
    { value: "primary_house", label: "Résidence principale" },
    { value: "secondary_house", label: "Résidence secondaire" },
    { value: "investment", label: "Investissement locatif" },
    { value: "other_loan", label: "Autres prêts" },
  ];

  let typeNumberItems = [
    { value: "alone", label: "Seul(e)" },
    { value: "with_someone", label: "Avec un co-emprunteur" },
  ];

  let typeInsuranceItems = [
    {
      value: "new",
      label: "Un nouveau financement / renégociation de prêt",
    },
    {
      value: "ongoing",
      label: "Changer d'assurance sur mon pret en cours",
    },
  ];
</script>

<div class="page-wrapper bg-blue pb-50">
  <div class="max-w-screen-sm wrapper">
    <div class="rounded shadow card card-1">
      <div class="card-heading" />
      <div>
        <h2 class="title mb-[37px]">Comparatif assurance de prêt</h2>
        <form>
          <div id="part1">
            <div>
              <div>
                <label for="">Object du prêt à assurer</label>
                <Select
                  id="type"
                  items={typeItems}
                  placeholder="TYPE DE PRÊT"
                />
              </div>
            </div>

            <br />

            <div>
              <div>
                <label for="">Nombre d'emprunteurs</label>
                <Select
                  id="type"
                  items={typeNumberItems}
                  placeholder="NOMBRE D'EMPRUNTEURS"
                />
              </div>
            </div>

            <br />

            <div>
              <div>
                <label for="">Type d'assurance</label>
                <Select
                  id="type"
                  items={typeInsuranceItems}
                  placeholder="TYPE D'ASSURANCE"
                />
              </div>
            </div>

            <!-- <div>
              <div>
                <label>Montant de votre prêt ‎(€)</label>
                <input
                  id="amout"
                  type="number"
                  min="1000"
                  placeholder="Montant de votre prêt ‎(€)"
                />
              </div>
            </div> -->

            <!-- <div>
              <div>
                <label>Durée de votre prêt (années)</label>
                <input
                  id="years"
                  type="number"
                  min="0"
                  placeholder="Durée de votre prêt (années)"
                />
              </div>
            </div> -->

            <!-- <div>
              <div>
                <label>Taux d'intérêt (%)</label>
                <input
                  id="rate"
                  type="number"
                  min="0"
                  placeholder="Taux d'intérêt (%)"
                />
              </div>
            </div> -->

            <!-- <div>
              <div>
                <label>Taux d'assurance (%)</label>
                <input
                  id="insurance"
                  type="number"
                  min="0"
                  placeholder="Taux d'assurance (%)"
                />
              </div>
            </div> -->

            <!-- Results -->
            <div>
              Votre mensualité sera de
              <h3>€/mois</h3>
            </div>

            <br /><br />

            <div>
              <div>
                <div class="pt-20 text-right">
                  <button
                    on:click|preventDefault={gotostep_2}
                    id="gotostep_2"
                    class="btn btn--radius btn--green"
                    type=""
                  >
                    Suivant
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Part2 -->

          <!-- Part 3 -->
          <div class="hidden" id="part3">
            <div>
              <div>
                <div>
                  <input id="name" type="text" placeholder="NOM" name="name" />
                </div>
              </div>

              <div>
                <div>
                  <input
                    id="firstname"
                    type="text"
                    placeholder="PRÉNOM"
                    name="firstname"
                  />
                </div>
                <div>
                  <input
                    id="phone"
                    type="text"
                    placeholder="TEL"
                    name="phone"
                  />
                </div>
                <div>
                  <input
                    id="email"
                    type="email"
                    placeholder="EMAIL"
                    name="email"
                  />
                </div>
                <div class="pt-20 text-right">
                  <button
                    on:click|preventDefault={submit_request}
                    id="submit_request"
                    class="btn btn--radius btn--green"
                    type=""
                  >
                    Recevoir votre estimation par email
                    <!-- <i class="fa-solid fa-arrow-right" /> -->
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  /* ==========================================================================
     #BACKGROUND
     ========================================================================== */
  .bg-blue {
    background: #2c6ed5;
  }

  /* ==========================================================================
     #WRAPPER
     ========================================================================== */
  .wrapper {
    margin: 0 auto;
  }

  /* ==========================================================================
     #BUTTON
     ========================================================================== */
  .btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
    font-size: 14px;
    font-weight: 700;
  }

  .btn--radius {
    border-radius: 3px;
  }

  .btn--green {
    background: #57b846;
  }

  .btn--green:hover {
    background: #4dae3c;
  }

  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card {
    overflow: hidden;
    background: #fff;
  }

  .card-heading {
    background: url("https://res.cloudinary.com/house99/image/upload/q_40/v1601486966/99properties/assurance.jpg")
      center center/cover no-repeat;
    padding-top: 210px;
  }
</style>
