<script>
  export let emailtitle, emailbody;
  import Header from "./email_header.svelte";
  import Footer from "./email_footer.svelte";
  // import "./email.css";
</script>

<!-- I dont think head is working -> Need to check nodemail or the npm package used -->
<svelte:head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</svelte:head>

<body>
  <span
    class="mcnPreviewText"
    style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;"
  >
    {emailtitle}
  </span>

  <center>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      id="bodyTable"
    >
      <Header emailh1title={emailtitle} />
      <slot {emailbody} />
      <Footer />
    </table>
  </center>
</body>
