<script>
  // import "./email.css";
  export let emailh1title;
</script>

<tr>
  <td align="center" valign="top" id="templateHeader" data-template-container>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      class="templateContainer"
    >
      <tr>
        <td valign="top" class="headerContainer">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mcnImageBlock"
            style="min-width:100%;"
          >
            <tbody class="mcnImageBlockOuter">
              <tr>
                <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                  <table
                    align="left"
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="mcnImageContentContainer"
                    style="min-width:100%;"
                  >
                    <tbody>
                      <tr>
                        <td
                          class="mcnImageContent"
                          valign="top"
                          style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;"
                        >
                          <!-- Cannot make the image work so use plain text -->
                          <h1>
                            <span style="font-size:20px"> 99.properties </span>
                          </h1>

                          <!-- <img
                            align="center"
                            alt=""
                            src="https://res.cloudinary.com/properties/image/upload/v1628760205/logos/logowhite.png"
                            width="219.96"
                            style="display:none; max-width:1556px; padding-bottom: 0; vertical-align: bottom;"
                            class="mcnImage light-logo"
                          />

                          <img
                            align="center"
                            alt=""
                            src="https://res.cloudinary.com/properties/image/upload/v1628760205/logos/logoBlack.png"
                            width="219.96"
                            style="display:none; max-width:1556px; padding-bottom: 0; vertical-align: bottom;"
                            class="mcnImage dark-logo"
                          /> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mcnTextBlock"
            style="min-width:100%;"
          >
            <tbody class="mcnTextBlockOuter">
              <tr>
                <td
                  valign="top"
                  class="mcnTextBlockInner"
                  style="padding-top:9px;"
                >
                  <table
                    align="left"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="max-width:100%; min-width:100%;"
                    width="100%"
                    class="mcnTextContentContainer"
                  >
                    <tbody>
                      <tr>
                        <td
                          valign="top"
                          class="mcnTextContent"
                          style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"
                        >
                          <h1>
                            <span style="font-size:20px">
                              {emailh1title}
                            </span>
                          </h1>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<style>
  p {
    margin: 10px 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0;
    padding: 0;
  }
  img,
  a img {
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
  }
  body,
  #bodyTable,
  #bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mcnPreviewText {
    display: none !important;
  }
  #outlook a {
    padding: 0;
  }
  img {
    -ms-interpolation-mode: bicubic;
  }
  table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }
  .ReadMsgBody {
    width: 100%;
  }
  .ExternalClass {
    width: 100%;
  }
  p,
  a,
  li,
  td,
  blockquote {
    mso-line-height-rule: exactly;
  }
  a[href^="tel"],
  a[href^="sms"] {
    color: inherit;
    cursor: default;
    text-decoration: none;
  }
  p,
  a,
  li,
  td,
  body,
  table,
  blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass td,
  .ExternalClass div,
  .ExternalClass span,
  .ExternalClass font {
    line-height: 100%;
  }
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
  .templateContainer {
    max-width: 600px !important;
  }
  a.mcnButton {
    display: block;
  }
  .mcnImage,
  .mcnRetinaImage {
    vertical-align: bottom;
  }
  .mcnTextContent {
    word-break: break-word;
  }
  .mcnTextContent img {
    height: auto !important;
  }
  .mcnDividerBlock {
    table-layout: fixed !important;
  }
  /*
	@tab Page
	@section Heading 1
	@style heading 1
	*/
  h1 {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 40px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Page
	@section Heading 2
	@style heading 2
	*/
  h2 {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 34px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section Heading 3
	@style heading 3
	*/
  h3 {
    /*@editable*/
    color: #444444;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 22px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section Heading 4
	@style heading 4
	*/
  h4 {
    /*@editable*/
    color: #949494;
    /*@editable*/
    font-family: Georgia;
    /*@editable*/
    font-size: 20px;
    /*@editable*/
    font-style: italic;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Header
	@section Header Container Style
	*/
  #templateHeader {
    /*@editable*/
    background-color: #f7f7f7;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 45px;
    /*@editable*/
    padding-bottom: 45px;
  }
  /*
	@tab Header
	@section Header Interior Style
	*/
  .headerContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
  }
  /*
	@tab Header
	@section Header Text
	*/
  .headerContainer .mcnTextContent,
  .headerContainer .mcnTextContent p {
    /*@editable*/
    color: #757575;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Header
	@section Header Link
	*/
  .headerContainer .mcnTextContent a,
  .headerContainer .mcnTextContent p a {
    /*@editable*/
    color: #007c89;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Body
	@section Body Container Style
	*/
  #templateBody {
    /*@editable*/
    background-color: #ffffff;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 36px;
    /*@editable*/
    padding-bottom: 45px;
  }
  /*
	@tab Body
	@section Body Interior Style
	*/
  .bodyContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
  }
  /*
	@tab Body
	@section Body Text
	*/
  .bodyContainer .mcnTextContent,
  .bodyContainer .mcnTextContent p {
    /*@editable*/
    color: #757575;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Body
	@section Body Link
	*/
  .bodyContainer .mcnTextContent a,
  .bodyContainer .mcnTextContent p a {
    /*@editable*/
    color: #007c89;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Footer
	@section Footer Style
	*/
  #templateFooter {
    /*@editable*/
    background-color: #333333;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 45px;
    /*@editable*/
    padding-bottom: 63px;
  }
  /*
	@tab Footer
	@section Footer Interior Style
	*/
  .footerContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
  }
  /*
	@tab Footer
	@section Footer Text
	*/
  .footerContainer .mcnTextContent,
  .footerContainer .mcnTextContent p {
    /*@editable*/
    color: #ffffff;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Footer
	@section Footer Link
	*/
  .footerContainer .mcnTextContent a,
  .footerContainer .mcnTextContent p a {
    /*@editable*/
    color: #ffffff;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  @media only screen and (min-width: 768px) {
    .templateContainer {
      width: 600px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
      -webkit-text-size-adjust: none !important;
    }
  }
  @media only screen and (max-width: 480px) {
    body {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnRetinaImage {
      max-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImage {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnCartContainer,
    .mcnCaptionTopContent,
    .mcnRecContentContainer,
    .mcnCaptionBottomContent,
    .mcnTextContentContainer,
    .mcnBoxedTextContentContainer,
    .mcnImageGroupContentContainer,
    .mcnCaptionLeftTextContentContainer,
    .mcnCaptionRightTextContentContainer,
    .mcnCaptionLeftImageContentContainer,
    .mcnCaptionRightImageContentContainer,
    .mcnImageCardLeftTextContentContainer,
    .mcnImageCardRightTextContentContainer,
    .mcnImageCardLeftImageContentContainer,
    .mcnImageCardRightImageContentContainer {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnBoxedTextContentContainer {
      min-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupContent {
      padding: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnCaptionLeftContentOuter .mcnTextContent,
    .mcnCaptionRightContentOuter .mcnTextContent {
      padding-top: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardTopImageContent,
    .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
    .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
      padding-top: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardBottomImageContent {
      padding-bottom: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockInner {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockOuter {
      padding-top: 9px !important;
      padding-bottom: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnTextContent,
    .mcnBoxedTextContentColumn {
      padding-right: 18px !important;
      padding-left: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardLeftImageContent,
    .mcnImageCardRightImageContent {
      padding-right: 18px !important;
      padding-bottom: 0 !important;
      padding-left: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcpreview-image-uploader {
      display: none !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 1
	@tip Make the first-level headings larger in size for better readability on small screens.
	*/
    h1 {
      /*@editable*/
      font-size: 30px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 2
	@tip Make the second-level headings larger in size for better readability on small screens.
	*/
    h2 {
      /*@editable*/
      font-size: 26px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 3
	@tip Make the third-level headings larger in size for better readability on small screens.
	*/
    h3 {
      /*@editable*/
      font-size: 20px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 4
	@tip Make the fourth-level headings larger in size for better readability on small screens.
	*/
    h4 {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Boxed Text
	@tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .mcnBoxedTextContentContainer .mcnTextContent {
      /*@editable*/
      font-size: 14px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Header Text
	@tip Make the header text larger in size for better readability on small screens.
	*/
    .headerContainer .mcnTextContent {
      /*@editable*/
      font-size: 16px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
</style>
