<script>
  // @import "./email.css";
  import enterprise_customization from "../../../enterprise_customization";
  const { website } = enterprise_customization;
</script>

<tr>
  <td align="center" valign="top" id="templateFooter" data-template-container>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      class="templateContainer"
    >
      <tr>
        <td valign="top" class="footerContainer">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mcnFollowBlock"
            style="min-width:100%;"
          >
            <tbody class="mcnFollowBlockOuter">
              <tr>
                <td
                  align="center"
                  valign="top"
                  style="padding:9px"
                  class="mcnFollowBlockInner"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                    class="mcnFollowContentContainer"
                    style="min-width:100%;"
                  >
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          style="padding-left:9px;padding-right:9px;"
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                            style="min-width:100%;"
                            class="mcnFollowContent"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  valign="top"
                                  style="padding-top:9px; padding-right:9px; padding-left:9px;"
                                >
                                  <table
                                    align="center"
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="top">
                                          <table
                                            align="left"
                                            border="0"
                                            cellpadding="0"
                                            cellspacing="0"
                                            style="display:inline;"
                                          >
                                            <tbody>
                                              <tr>
                                                <td
                                                  valign="top"
                                                  style="padding-right:10px; padding-bottom:9px;"
                                                  class="mcnFollowContentItemContainer"
                                                >
                                                  <table
                                                    border="0"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    width="100%"
                                                    class="mcnFollowContentItem"
                                                  >
                                                    <tbody>
                                                      <tr>
                                                        <td
                                                          align="left"
                                                          valign="middle"
                                                          style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;"
                                                        >
                                                          <table
                                                            align="left"
                                                            border="0"
                                                            cellpadding="0"
                                                            cellspacing="0"
                                                            width=""
                                                          >
                                                            <tbody>
                                                              <tr>
                                                                <td
                                                                  align="center"
                                                                  valign="middle"
                                                                  width="24"
                                                                  class="mcnFollowIconContent"
                                                                >
                                                                  <a
                                                                    href="https://www.facebook.com/{enterprise_customization
                                                                      .socialMedia
                                                                      .facebook}"
                                                                    target="_blank"
                                                                    rel="noreferrer"
                                                                  >
                                                                    <img
                                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-48.png"
                                                                      alt="Facebook"
                                                                      style="display:block;"
                                                                      height="24"
                                                                      width="24"
                                                                    />
                                                                  </a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>

                                          <table
                                            align="left"
                                            border="0"
                                            cellpadding="0"
                                            cellspacing="0"
                                            style="display:inline;"
                                          >
                                            <tbody>
                                              <tr>
                                                <td
                                                  valign="top"
                                                  style="padding-right:0; padding-bottom:9px;"
                                                  class="mcnFollowContentItemContainer"
                                                >
                                                  <table
                                                    border="0"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    width="100%"
                                                    class="mcnFollowContentItem"
                                                  >
                                                    <tbody>
                                                      <tr>
                                                        <td
                                                          align="left"
                                                          valign="middle"
                                                          style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;"
                                                        >
                                                          <table
                                                            align="left"
                                                            border="0"
                                                            cellpadding="0"
                                                            cellspacing="0"
                                                            width=""
                                                          >
                                                            <tbody>
                                                              <tr>
                                                                <td
                                                                  align="center"
                                                                  valign="middle"
                                                                  width="24"
                                                                  class="mcnFollowIconContent"
                                                                >
                                                                  <a
                                                                    href="https://{enterprise_customization.website}"
                                                                    target="_blank"
                                                                    rel="noreferrer"
                                                                  >
                                                                    <img
                                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-link-48.png"
                                                                      alt="Website"
                                                                      style="display:block;"
                                                                      height="24"
                                                                      width="24"
                                                                    />
                                                                  </a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mcnDividerBlock"
            style="min-width:100%;"
          >
            <tbody class="mcnDividerBlockOuter">
              <tr>
                <td
                  class="mcnDividerBlockInner"
                  style="min-width:100%; padding:18px;"
                >
                  <table
                    class="mcnDividerContent"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                    style="min-width: 100%;border-top: 2px solid #505050;"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <span />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mcnTextBlock"
            style="min-width:100%;"
          >
            <tbody class="mcnTextBlockOuter">
              <tr>
                <td
                  valign="top"
                  class="mcnTextBlockInner"
                  style="padding-top:9px;"
                >
                  <table
                    align="left"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="max-width:100%; min-width:100%;"
                    width="100%"
                    class="mcnTextContentContainer"
                  >
                    <tbody>
                      <tr>
                        <td
                          valign="top"
                          class="mcnTextContent"
                          style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"
                        >
                          <a href="https://{website}">
                            {website}
                          </a>
                          <br />

                          {enterprise_customization.enterprise_email}

                          <br />
                          <br />

                          <em>
                            Copyright 2021: {enterprise_customization.enterprise_name},
                            All rights reserved.
                          </em>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<style>
  /* I DONT KNOW HOW TO IMPORT IN THE SVELTE FILE */
  /* At the moment it is just for reference - coming from mailchimp export */

  p {
    margin: 10px 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0;
    padding: 0;
  }
  img,
  a img {
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
  }
  body,
  #bodyTable,
  #bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mcnPreviewText {
    display: none !important;
  }
  #outlook a {
    padding: 0;
  }
  img {
    -ms-interpolation-mode: bicubic;
  }
  table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }
  .ReadMsgBody {
    width: 100%;
  }
  .ExternalClass {
    width: 100%;
  }
  p,
  a,
  li,
  td,
  blockquote {
    mso-line-height-rule: exactly;
  }
  a[href^="tel"],
  a[href^="sms"] {
    color: inherit;
    cursor: default;
    text-decoration: none;
  }
  p,
  a,
  li,
  td,
  body,
  table,
  blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass td,
  .ExternalClass div,
  .ExternalClass span,
  .ExternalClass font {
    line-height: 100%;
  }
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
  .templateContainer {
    max-width: 600px !important;
  }
  a.mcnButton {
    display: block;
  }
  .mcnImage,
  .mcnRetinaImage {
    vertical-align: bottom;
  }
  .mcnTextContent {
    word-break: break-word;
  }
  .mcnTextContent img {
    height: auto !important;
  }
  .mcnDividerBlock {
    table-layout: fixed !important;
  }
  /*
	@tab Page
	@section Heading 1
	@style heading 1
	*/
  h1 {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 40px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Page
	@section Heading 2
	@style heading 2
	*/
  h2 {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 34px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section Heading 3
	@style heading 3
	*/
  h3 {
    /*@editable*/
    color: #444444;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 22px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section Heading 4
	@style heading 4
	*/
  h4 {
    /*@editable*/
    color: #949494;
    /*@editable*/
    font-family: Georgia;
    /*@editable*/
    font-size: 20px;
    /*@editable*/
    font-style: italic;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Header
	@section Header Container Style
	*/
  #templateHeader {
    /*@editable*/
    background-color: #f7f7f7;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 45px;
    /*@editable*/
    padding-bottom: 45px;
  }
  /*
	@tab Header
	@section Header Interior Style
	*/
  .headerContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
  }
  /*
	@tab Header
	@section Header Text
	*/
  .headerContainer .mcnTextContent,
  .headerContainer .mcnTextContent p {
    /*@editable*/
    color: #757575;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Header
	@section Header Link
	*/
  .headerContainer .mcnTextContent a,
  .headerContainer .mcnTextContent p a {
    /*@editable*/
    color: #007c89;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Body
	@section Body Container Style
	*/
  #templateBody {
    /*@editable*/
    background-color: #ffffff;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 36px;
    /*@editable*/
    padding-bottom: 45px;
  }
  /*
	@tab Body
	@section Body Interior Style
	*/
  .bodyContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
  }
  /*
	@tab Body
	@section Body Text
	*/
  .bodyContainer .mcnTextContent,
  .bodyContainer .mcnTextContent p {
    /*@editable*/
    color: #757575;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Body
	@section Body Link
	*/
  .bodyContainer .mcnTextContent a,
  .bodyContainer .mcnTextContent p a {
    /*@editable*/
    color: #007c89;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Footer
	@section Footer Style
	*/
  #templateFooter {
    /*@editable*/
    background-color: #333333;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 45px;
    /*@editable*/
    padding-bottom: 63px;
  }
  /*
	@tab Footer
	@section Footer Interior Style
	*/
  .footerContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
  }
  /*
	@tab Footer
	@section Footer Text
	*/
  .footerContainer .mcnTextContent,
  .footerContainer .mcnTextContent p {
    /*@editable*/
    color: #ffffff;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Footer
	@section Footer Link
	*/
  .footerContainer .mcnTextContent a,
  .footerContainer .mcnTextContent p a {
    /*@editable*/
    color: #ffffff;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  @media only screen and (min-width: 768px) {
    .templateContainer {
      width: 600px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
      -webkit-text-size-adjust: none !important;
    }
  }
  @media only screen and (max-width: 480px) {
    body {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnRetinaImage {
      max-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImage {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnCartContainer,
    .mcnCaptionTopContent,
    .mcnRecContentContainer,
    .mcnCaptionBottomContent,
    .mcnTextContentContainer,
    .mcnBoxedTextContentContainer,
    .mcnImageGroupContentContainer,
    .mcnCaptionLeftTextContentContainer,
    .mcnCaptionRightTextContentContainer,
    .mcnCaptionLeftImageContentContainer,
    .mcnCaptionRightImageContentContainer,
    .mcnImageCardLeftTextContentContainer,
    .mcnImageCardRightTextContentContainer,
    .mcnImageCardLeftImageContentContainer,
    .mcnImageCardRightImageContentContainer {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnBoxedTextContentContainer {
      min-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupContent {
      padding: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnCaptionLeftContentOuter .mcnTextContent,
    .mcnCaptionRightContentOuter .mcnTextContent {
      padding-top: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardTopImageContent,
    .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
    .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
      padding-top: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardBottomImageContent {
      padding-bottom: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockInner {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockOuter {
      padding-top: 9px !important;
      padding-bottom: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnTextContent,
    .mcnBoxedTextContentColumn {
      padding-right: 18px !important;
      padding-left: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardLeftImageContent,
    .mcnImageCardRightImageContent {
      padding-right: 18px !important;
      padding-bottom: 0 !important;
      padding-left: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcpreview-image-uploader {
      display: none !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 1
	@tip Make the first-level headings larger in size for better readability on small screens.
	*/
    h1 {
      /*@editable*/
      font-size: 30px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 2
	@tip Make the second-level headings larger in size for better readability on small screens.
	*/
    h2 {
      /*@editable*/
      font-size: 26px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 3
	@tip Make the third-level headings larger in size for better readability on small screens.
	*/
    h3 {
      /*@editable*/
      font-size: 20px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Heading 4
	@tip Make the fourth-level headings larger in size for better readability on small screens.
	*/
    h4 {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Boxed Text
	@tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .mcnBoxedTextContentContainer .mcnTextContent,
    .mcnBoxedTextContentContainer .mcnTextContent p {
      /*@editable*/
      font-size: 14px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Header Text
	@tip Make the header text larger in size for better readability on small screens.
	*/
    .headerContainer .mcnTextContent,
    .headerContainer .mcnTextContent p {
      /*@editable*/
      font-size: 16px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Body Text
	@tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .bodyContainer .mcnTextContent,
    .bodyContainer .mcnTextContent p {
      /*@editable*/
      font-size: 16px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Footer Text
	@tip Make the footer content text larger in size for better readability on small screens.
	*/
    .footerContainer .mcnTextContent,
    .footerContainer .mcnTextContent p {
      /*@editable*/
      font-size: 14px !important;
      /*@editable*/
      line-height: 150% !important;
    }
  }
</style>
